# Find common syntax/word structures
We're going to look for common syntax structures among Linear A tablets. We classify each word/logogram
(including word separators) and come up with a list of tablets with common patterns.

First we load a lookup table of word types for classifying each word. We also have some helper functions

In [11]:
import csv                                                                                      
import json
import os
import re
from collections import Counter

def isNumber(word):
    if word >= u'\U00010100' and word <= u'\U0001013f':
        return True
    return False

place_names = {}
transaction_words = {}
transaction_signs = {}
numbers = {}
commodities = {}
from_suffix = {}
adjectives = {}
to_prefix = {}
fractions = {}
weights = {}
logograms = {}
words_in_linearb = {}
word_types = [(place_names, "060-place-names.txt", "place name", 0, 1),
        (transaction_words, "060-transaction-words.txt", "transaction term", 0, 1),
        (numbers, "050-numbers.csv", "number", 0, 1),
        (fractions, "065-fractions.txt", "fraction", 0, 0),
        (numbers, "065-fractions.txt", "number", 0, 0),
        (weights, "065-weights.txt", "weight", 0, 0),
        (logograms, "065-logograms.txt", "logogram", 0, 0),
        (commodities, "060-commodities.txt", "commodity", 0, 1),
        (from_suffix, "060-from-suffix.txt", "uses from suffix (-TE/-TI)", 0, 1),
        (adjectives, "060-adjectives.txt", "adjective for placename", 0, 1),
        (to_prefix, "060-to-prefix.txt", "uses to prefix (I-/J-)", 0, 1),
        (words_in_linearb, "135-identical-words-in-linearb.txt", "word also in linear b", 0, 1),
        (transaction_signs, "160-transaction-signs.txt", "transaction sign", 0, 1),
        ]
for word_type in word_types:
    dictionary = word_type[0]
    input_file = open("AnalyseWordPatternsData/" + word_type[1], 'r')
    while True:
        line = input_file.readline()
        if not line:
            break
        line_array = line.strip().split('\t')
        dictionary[line_array[word_type[3]]] = line_array[word_type[4]]

json_file = open('AnalyseWordPatternsData/150-metadata-template.js')
data = json.load(json_file)
inscriptions = data["metadata"]

def isHeadWord(word, original_word, no_of_words):
    if no_of_words == 1:
        return False
    if index:
        return False
    if original_word.startswith(u'\U0001076b'):
        return False
    if original_word == u'\U00010101':
        return False
    if word == "—":
        return False
    if word.isnumeric():
        return False
    return True;

def assignNumberToPreviousWord(word, word_tags, index, prev_word_tag, prev_original_word):
    if word not in numbers:
        return False
    if not index:
        return False
    if word == u'\U00010101':
        return False
    if word.startswith(u'\U0001076b'):
        return False
    cleaned_prev_original_word = prev_original_word.replace(u'\U0001076b', "")
    if cleaned_prev_original_word in numbers:
        return False
    if prev_original_word.endswith(u'\U0001076b'):
        return False
    if prev_original_word == "\n":
        return False
    return True

def shouldIncludeWord(word):
    if word in numbers:
        return False
    if u'\U00010101' in word:
        return False
    if word == "—":
        return False
    if word == "":
        return False
    return True

def wordRepeatedInInscription(word_tags, word):
    if not shouldIncludeWord(word):
        return False

    words = list(map(lambda x: x["word"].replace(u'\U0001076b', ""), word_tags))
    if words.count(word) > 1:
        return True
    return False

word_find_spots = {}
def addFindSpot(name, word):
    if not shouldIncludeWord(word):
        return
    find_spot = name[:2]
    if word not in word_find_spots:
        word_find_spots[word] = [find_spot]
        return
    word_find_spots[word].append(find_spot)

for inscription in inscriptions:
    for tags in inscription["tagsForWords"]:
        word = tags["word"]
        word = word.replace(u'\U0001076b', "")
        addFindSpot(inscription["name"], word)

locations = {}
locations["ZA"] ="Zakros"          
locations["PK"] ="Palaikastro"  
locations["PE"] ="Petras"  
locations["SY"] ="Syme" 
locations["PS"] ="Pseira" 
locations["MA" ] ="Malia" 
locations["AR"] ="Arkhalkhori" 
locations["IO"] ="Iouktas" 
locations["KN"] ="Knossos" 
locations["TY"] ="Tylissos"  
locations["PH"] ="Phaistos"  
locations["HT"] ="Haghia Triada"  
locations["AP"] ="Apodoulou"  
locations["KH"] ="Kharnia"

## Create a list of all word structures

First create a list of word structures keyed by tablet name. Each word has a number of possible classifications so the word structure is a list of lists, for example the word structure for HT1 might look like:
```
'HT1': [['word'],
  ['word separator'],
  ['transaction term', 'transaction sign', 'word'],
  ['number'],
  ['word'],
  ['number'],
  ['word'],
  ['number'],
  ['word'],
  ['number'],
  ['word'],
  ['number']]
```

In [12]:
# Create a dictionary data structure containing word structure lists for all tablets.

word_structures = {}
new_inscriptions = []
for old_inscription in inscriptions:
    inscription = old_inscription.copy()
    word_tags = inscription["tagsForWords"]
    
    inscription["transactions"] = {}
    current_pattern = []
    
    for index, word_tag in enumerate(word_tags):
        word = word_tag["transliteratedWord"]
        original_word = word_tag["word"]
        if "tags" in word_tag:
            del word_tag["tags"]

        tags = []
        if word == "\n":
            continue

        if u'\U00010101' in original_word:
            tags.append("word separator")
        if original_word == "—":
            tags.append("dividing line")

        cleaned_word = word.replace(u'\U0001076b', "")
        cleaned_original_word = original_word.replace(u'\U0001076b', "")
        for word_type in word_types:
            dictionary = word_type[0]
            annotation = word_type[2]
            if cleaned_word in dictionary or cleaned_original_word in dictionary:
                if not annotation in tags:
                    tags.append(annotation)

        if (len(cleaned_word) > 1 and not "word separator" in tags
            and word != '—' and word !=  u'\U0001076b'
            and not 'logogram' in tags
            and not 'commodity' in tags
            and not "number" in tags and not "fraction" in tags):
            tags.append("word")

        if original_word == u'\U0001076b':
            tags.append("lacuna")
        else:
            for i, tag in enumerate(tags):
                if original_word.startswith(u'\U0001076b'):
                    tags[i] = "]" + tags[i]
                if original_word.endswith(u'\U0001076b'):
                    tags[i] = tags[i] + "["

        current_pattern += [sorted(tags)]
  
    inscription["words"] = inscription.pop("tagsForWords")
    word_structures[inscription["name"]] = current_pattern

Now that we have an exhaustive list of word structures, we strip out some of the word-tags so that we don't have too many permutations. We create `stripped_word_structures` for this.

In [13]:
import itertools

# To reduce the number of permutations we strip out word descriptions that are too specific.
def containsRedundantWord(l,
    words_to_drop = ["lacuna at", "transaction", "fraction", "weight", "commodity"]
    ):
    for w in words_to_drop:
        if w in l:
            return True
    return False

stripped_word_structures = {k: [[w for w in wl if not containsRedundantWord(w)]
                                for wl in v] 
                            for k,v in word_structures.items()}

def hasLacuna(l):
    return containsRedundantWord(l, ["lacuna"])

Create a list of word-tag permutations for each tablet. This will give us a list of different word-sequences for the tablet. We will use this to look for common sequences among all the tablets.

In [8]:
#small_sws = dict(list(stripped_word_structures.items())[0: 840])
#[list(x) for x in itertools.product(*stripped_word_structures['HT2'])]

# Create permutations for each tablet. It's a list of lists for each tablet.
ws_perms = {k: [list(x) for x in itertools.product(*v)]
             for k,v in stripped_word_structures.items()}
#dict(list(ws_perms.items())[0:2])

# Check for entries with too many permutations.
for k,v in ws_perms.items():
    if len(v) < 10:
        continue
    print(k, len(v))

Get all common sequences among the tablets and store it in `matched_sequences`.

In [9]:
%%time
from difflib import SequenceMatcher
from collections import defaultdict
from IPython.display import display, clear_output

"""To compare each tablet with every other tablet we take a copy of ws_perms and
use that as the one to check each tablet against. We delete each tablet from
the copy as we use it so that we're not comparing tablets more than once."""
ws_perms_copy = ws_perms.copy()
matched_sequences = defaultdict(list)
for k,v in ws_perms.items():
    # Delete from the copy so we don't perform unnecessary comparisons.
    del ws_perms_copy[k]
    # Check each permutation..
    for l in v:
        clear_output(wait=True)
        display(str(len(ws_perms) - len(ws_perms_copy)) + ' done.')
        s = SequenceMatcher(None)
        s.set_seq1(l)
        # .. against each permutation in the rest of the list.
        for k1,v1 in ws_perms_copy.items():
            for l1 in v1:
                s.set_seq2(l1)
                r = s.get_matching_blocks()
                for m in r:
                    # Ignore any sequences shorter than 3.
                    if m.size < 3:
                        continue
                    structure = ','.join(l[m.a:m.a+m.size])
                    matched_sequences[structure] += [(k,m.a,m.size), (k1,m.b,m.size)]
                    matched_sequences[structure] = list(set(matched_sequences[structure]))

'1712 done.'

CPU times: user 33 s, sys: 1.51 s, total: 34.5 s
Wall time: 37.3 s

Now we have enough data to print out matching sequences. We're going to start by looking at sequences at the start of inscriptions.

In [17]:
def getSyntacticalStructures(matched_sequences
                             , from_start_only=False
                             , min_length=2
                             , min_results=2):
    """Get all instances of common syntatical structure, either `from_start_only` or not, with at least"
    `min_results` matches of `min_length`"""
    # Create a list of words in each tablet that we can look up by tablet name.
    la_words = {inscription["name"] : [v["word"] for v in inscription["tagsForWords"]
                                       if v["word"] != '\n'] 
                for inscription in inscriptions}
    en_words = {inscription["name"] : [v["transliteratedWord"] for v in inscription["tagsForWords"]
                                       if v["word"] != '\n'] 
                for inscription in inscriptions}

    structures = {}
    # We're looking for sequences of 3 words or more at the start of the inscription.
    for i in range(50,min_length,-1):
        test_seq = {k:v for k,v in matched_sequences.items() if len(k.split(',')) == i}
        for k,v in test_seq.items():
            en_seqs = {}
            for tablet, start, end in v:
                # We're only looking at structures at the start of the inscription.
                if start and from_start_only:
                    continue
                en_seqs[tablet] = en_words[tablet][start:start+end]

            # Ignore any cases where we don't have `min_results` inscriptions with a matching sequence.
            if len(en_seqs.keys()) < min_results:
                continue

            structures[k] = en_seqs
    return structures

Create tables of all word sequences at the start of inscriptions.

In [18]:
import pandas as pd
styles = [dict(selector="caption", 
    props=[("text-align", "center"),
    ("font-size", "120%"),
    ("color", 'black')])]

syn_seqs = getSyntacticalStructures(matched_sequences, True)
for k, en_seqs in syn_seqs.items():
    df = pd.DataFrame(en_seqs.values(), columns = k.split(','))
    df.set_axis(en_seqs.keys(), axis='index', inplace=True)
    #df.style.set_caption("Davis 2018 Mapping of Linear A and PD Symbols").set_table_styles(styles)
    display(df)

,word,word separator,word,word separator,logogram,number,logogram,number,logogram,number,...,number,logogram,number,word,logogram,number,logogram,number,logogram,number
HT14,PU-VIN,𐄁,TE,𐄁,GRA,30,OLE+MI,3,OLE+DI,3,...,9,OLIV,13,A-PU₂-NA-DU,GRA,45,OLE+MI,5,OLE+DI,4
HT28a,A-SI-JA-KA,𐄁,JA-*21F,𐄁,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂,...,1,OLE+TU,𐝉,SA-RA₂,OLE+DI,1,NI,2,VIN,3

,word,word separator,logogram,word,number,word,number,word,number,word,number,word,number
HT7a,QE-TI,𐄁,VIR+[?],I-RU-JA,3,DU-JA,4,TA-NA-TI,1,DA-RE,1,TE-TU,1
HT95a,DA-DU-MA-TA,𐄁,GRA,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10

,word,word separator,word,number,word,number,word,number,word,number,word,number
HT94b,KI-RO,𐄁,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1
HT1,QE-RA₂-U,𐄁,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA₃-NU,109,A-RA-NA-RE,105

,word,word separator,word,word separator,logogram,number,logogram,number,logogram,number
HT14,PU-VIN,𐄁,TE,𐄁,GRA,30,OLE+MI,3,OLE+DI,3
HT21,PI-TA-KA-SE,𐄁,TE,𐄁,GRA,161,OLE+U,11,OLE+E,3
HT28a,A-SI-JA-KA,𐄁,JA-*21F,𐄁,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂

,word,logogram,number,number,logogram,number,logogram,number,word,logogram
HT129,KI-RE-TA₂,GRA,33,𐝆𐝁,*304,10,NI,22,TU-*21F-RI-NA,GRA
ZA6b,I-KU-JU-TI-*28B,GRA+PA,50,¹⁄₄,VIN+RA,40,VIN+KA,10,*312-TA₂,GRA+PA

,word,word separator,logogram,word,number,word,number,word,number
HT7a,QE-TI,𐄁,VIR+[?],I-RU-JA,3,DU-JA,4,TA-NA-TI,1
HT95a,DA-DU-MA-TA,𐄁,GRA,DA-ME,10,MI-NU-TE,10,SA-RU,20

,word,word separator,word,word separator,logogram,number,word,number,word
ZA8,KI-RA,𐄁,A-TA-RE,𐄁,NI,¹⁄₂,KU-TU-KO-RE,double mina,A-RI-NI-TA
HT17,RA-󽇫-TI,𐄁,TE,𐄁,VIN,37,SA-RO,10,SI-DA-RE

,word,word separator,word,word separator,word,logogram,number,logogram,number
KH5,A-DA-KI-SI-KA,𐄁,A-RA-U-DA,𐄁,WI-SA-SA-NE,CYP+E,2,VINb+WI,2
HT28b,A-SI-JA-KA,𐄁,U-MI-NA-SI,𐄁,SA-RA₂,GRA,20,OLE+DI,5

,word,number,word,number,word,number,word,number
HT99b,SI+SE-NI,6,DA-SI-*118,2,ZU-DU,1,RU-MA-TA,1
HT10b,U-TI,1,DA-RE,2,TA-RI-NA,15,*312-TA,6
PH2,A-SE-TU-*21F,1,RA-O-DI-KI,60,PI-RU-E-JU,60,SE-SA-PA₃,60
ZA14,ME-KI-DI,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8

,word,word separator,word,word separator,logogram,number,word,number
ZA8,KI-RA,𐄁,A-TA-RE,𐄁,NI,¹⁄₂,KU-TU-KO-RE,double mina
HT17,RA-󽇫-TI,𐄁,TE,𐄁,VIN,37,SA-RO,10
HT19,RA-*164-TI,𐄁,TE,𐄁,VIN,30,SA-RO,5
KH88,QA-NU-MA,𐄁,*21F-*118,𐄁,NI,10,PU-DE,8

,word,word separator,word,word separator,logogram,number,logogram,number
HT21,PI-TA-KA-SE,𐄁,TE,𐄁,GRA,161,OLE+U,11
HT92,TE,𐄁,A-DU,𐄁,GRA,680,*304,12
HT14,PU-VIN,𐄁,TE,𐄁,GRA,30,OLE+MI,3
HT28a,A-SI-JA-KA,𐄁,JA-*21F,𐄁,GRA+QE,5,OLE+U,2

,word,word separator,logogram,word separator,logogram,number,logogram,number
HT89,A-SA-RA₂,𐄁,*307,𐄁,*305,23,JU+*317+QE,22
HT91,I-KA,𐄁,*326,𐄁,GRA,.3,*304,≈ ¹⁄₆

,word,word separator,word,word separator,logogram,number,word,word separator
HT93a,PA₃-NI-NA,𐄁,GRA-PA₃,𐄁,RE+SE,12,DI-RI-NA,𐄁
HT40,NU-DU-*331,𐄁,TE,𐄁,GRA,207,KI-DA-TA,𐄁

,word,word separator,word,word separator,word,word separator,word,word separator
CR(?)Zf1,A-MA-WA-SI,𐄁,KA-NI-JA-MI,𐄁,I-JA,𐄁,QA-KI-SE-NU-TI,𐄁
KNZc7,A-KA-NU-ZA-TI,𐄁,DU-RA-RE,𐄁,A-ZU-RA,𐄁,JA-SA-RA-A-NA-NE,𐄁

,word,word separator,word,number,word,number,word
HT1,QE-RA₂-U,𐄁,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE
HT94b,KI-RO,𐄁,TU-MA,1,PA-TA-NE,1,DE-DI
HT85b,KI-KI-RA-JA,𐄁,KI-RE-TA₂,1,QE-KA,1,PA

,word,word separator,word,word separator,logogram,number,word
HT17,RA-󽇫-TI,𐄁,TE,𐄁,VIN,37,SA-RO
ZA8,KI-RA,𐄁,A-TA-RE,𐄁,NI,¹⁄₂,KU-TU-KO-RE
HT93a,PA₃-NI-NA,𐄁,GRA-PA₃,𐄁,RE+SE,12,DI-RI-NA
HT40,NU-DU-*331,𐄁,TE,𐄁,GRA,207,KI-DA-TA
HT19,RA-*164-TI,𐄁,TE,𐄁,VIN,30,SA-RO
KH88,QA-NU-MA,𐄁,*21F-*118,𐄁,NI,10,PU-DE

,word,word separator,logogram,word,number,word,number
HT7a,QE-TI,𐄁,VIR+[?],I-RU-JA,3,DU-JA,4
HT95a,DA-DU-MA-TA,𐄁,GRA,DA-ME,10,MI-NU-TE,10
ZA5a,*21F-*118,𐄁,VIN-SU,KI-NI-MA,7,O-TA-NI-ZA-SE,6

            word logogram        word number        word number logogram
ZA15a  *47-KU-NA   SA-VIN  QE-SI-ZU-E     57  I-TI-NI-SA     10   ME-VIN
HT15    U-*34-SI      GRA   DU-AROM-A    684   GRA+L4+L4    570     *188

,word,word separator,word,word separator,word,logogram,number
HT28b,A-SI-JA-KA,𐄁,U-MI-NA-SI,𐄁,SA-RA₂,GRA,20
KH5,A-DA-KI-SI-KA,𐄁,A-RA-U-DA,𐄁,WI-SA-SA-NE,CYP+E,2
HT116a,U-TA-RO,𐄁,TE,𐄁,KU-PA-JA,GRA,16

,word,word separator,word,word separator,logogram,word separator,logogram
HT43,MA-SI-DU,𐄁,PA-*342-I,𐄁,I,𐄁,GRA+PA
HT96b,A-PA-RA-NE,𐄁,QA-*118-RA-RE,𐄁,*516,𐄁,GRA

,word,word separator,word,word separator,word,word separator,word
KNZc7,A-KA-NU-ZA-TI,𐄁,DU-RA-RE,𐄁,A-ZU-RA,𐄁,JA-SA-RA-A-NA-NE
HT96a,I-TI-TI-KU-NI,𐄁,A-PA-RA-NE,𐄁,A-AROM-TE,𐄁,SI-MI-TA
HT117a,MA-KA-RI-TE,𐄁,KI-RO,𐄁,U-MI-NA-SI,𐄁,U-SU
CR(?)Zf1,A-MA-WA-SI,𐄁,KA-NI-JA-MI,𐄁,I-JA,𐄁,QA-KI-SE-NU-TI

,word,word separator,word,word separator,word,word separator,word[
TLZa1,A-TA-I-*301-WA-JA,𐄁,O-SU-QA-RE,𐄁,JA-SA-SA-RA-ME,𐄁,U-NA-KA-NA
IOZa2,A-TA-I-*301-WA-JA,𐄁,JA-DI-KI-TU,𐄁,JA-SA-SA-RA-ME,𐄁,U-NA-KA-NA-SI

,]word,word separator,word,word separator,word,word separator,word
PKZa8,NU,𐄁,PA₃-E,𐄁,JA-DI-KI-TE-TE-*307-PU₂-RE,𐄁,TU-ME-I
KNZf31,SI-SI-ZA-NE-*310,𐄁,DA-DU-MI-NE,𐄁,QA-MI-*47-NA-RA,𐄁,A-WA-PI

               word number        word number           word number
PH2    A-SE-TU-*21F      1  RA-O-DI-KI     60     PI-RU-E-JU     60
ZA14       ME-KI-DI      1   *21F-*118      1  PU-NI-KA-*363      3
HT99b      SI+SE-NI      6  DA-SI-*118      2          ZU-DU      1
HT10b          U-TI      1       DA-RE      2       TA-RI-NA     15

               word word separator       word number      word number
HT117b   *21F-TU-NE              𐄁   KU-RE-JU      1  DI-KI-SE      1
HT85b   KI-KI-RA-JA              𐄁  KI-RE-TA₂      1     QE-KA      1
HT1        QE-RA₂-U              𐄁      KI-RO    197     ZU-SU     70
HT94b         KI-RO              𐄁      TU-MA      1  PA-TA-NE      1

              word word separator       word word separator logogram number
ZA8          KI-RA              𐄁    A-TA-RE              𐄁       NI    ¹⁄₂
HT93a    PA₃-NI-NA              𐄁    GRA-PA₃              𐄁    RE+SE     12
HT40    NU-DU-*331              𐄁         TE              𐄁      GRA    207
HT17       RA-󽇫-TI              𐄁         TE              𐄁      VIN     37
HT19    RA-*164-TI              𐄁         TE              𐄁      VIN     30
KH88      QA-NU-MA              𐄁  *21F-*118              𐄁       NI     10
HT28a   A-SI-JA-KA              𐄁    JA-*21F              𐄁   GRA+QE      5
HT92            TE              𐄁       A-DU              𐄁      GRA    680
HT14        PU-VIN              𐄁         TE              𐄁      GRA     30
HT21   PI-TA-KA-SE              𐄁         TE              𐄁      GRA    161

,word,word separator,word,word separator,word,word separator
IOZa6,TA-NA-I-*301-U-TI-NU,𐄁,I-NA-TA-I-ZU-DI-SI-KA,𐄁,JA-SA-SA-RA-ME,𐄁
HT34,DA-JU-TE,𐄁,SI-*516,𐄁,SA-RA₂,𐄁
KNZc7,A-KA-NU-ZA-TI,𐄁,DU-RA-RE,𐄁,A-ZU-RA,𐄁
IOZa2,A-TA-I-*301-WA-JA,𐄁,JA-DI-KI-TU,𐄁,JA-SA-SA-RA-ME,𐄁
HT96a,I-TI-TI-KU-NI,𐄁,A-PA-RA-NE,𐄁,A-AROM-TE,𐄁
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,𐄁,NI-JA-NU,𐄁,JU-KU-NA-PA-KU-NU-U-I-ZU,𐄁
HT6a,KA-PA,𐄁,DA-TA-RA,𐄁,TE,𐄁
CR(?)Zf1,A-MA-WA-SI,𐄁,KA-NI-JA-MI,𐄁,I-JA,𐄁
TLZa1,A-TA-I-*301-WA-JA,𐄁,O-SU-QA-RE,𐄁,JA-SA-SA-RA-ME,𐄁
HT117a,MA-KA-RI-TE,𐄁,KI-RO,𐄁,U-MI-NA-SI,𐄁

,word,word separator,word,word separator,logogram,word separator
HT43,MA-SI-DU,𐄁,PA-*342-I,𐄁,I,𐄁
HT9a,SA-RO,𐄁,TE,𐄁,VIN,𐄁
HT96b,A-PA-RA-NE,𐄁,QA-*118-RA-RE,𐄁,*516,𐄁

                   word word separator logogram number logogram number
HT23a             KA-NA              𐄁      CYP    ¹⁄₃     *308  ≈ ¹⁄₆
HT12        QA-TI-DA-TE              𐄁   OLE+DI      5     *304      5
HT123+124a      KI-TA-I              𐄁     OLIV     31     *308      8

           word word separator logogram word separator logogram number
HT91       I-KA              𐄁     *326              𐄁      GRA     .3
HT27a  TI-NI-TA              𐄁     *307              𐄁  VIR+[?]     90

,word,word separator,logogram,word separator,logogram[,]word
HT122b,JE-DI,𐄁,*346,𐄁,VIR+[?],*306-KI-TA₂
ZA11a,DI-DI-KO-RA-ME-TA₂,𐄁,*516,𐄁,GRA+PA,RA-MA-SI

       lacuna ]logogram number[ ]logogram number logogram[
HT131b      𐝫        NI      30      OLIV      2    VIN+SA
KH84        𐝫       CYP     ¹⁄₂      *301      1      *306

,word,word separator,word,number,word
HT1,QE-RA₂-U,𐄁,KI-RO,197,ZU-SU
HT94b,KI-RO,𐄁,TU-MA,1,PA-TA-NE
HT85b,KI-KI-RA-JA,𐄁,KI-RE-TA₂,1,QE-KA
HT117b,*21F-TU-NE,𐄁,KU-RE-JU,1,DI-KI-SE
SYZa2,A-TA-I-*301-WA-JA,𐄁,JA-SU-MA-TU-OLIV,1,U-NA-KA-NA-SI-OLE

              word word separator           word word separator logogram
HT14        PU-VIN              𐄁             TE              𐄁      GRA
HT96b   A-PA-RA-NE              𐄁  QA-*118-RA-RE              𐄁     *516
HT21   PI-TA-KA-SE              𐄁             TE              𐄁      GRA
HT28a   A-SI-JA-KA              𐄁        JA-*21F              𐄁   GRA+QE
HT43      MA-SI-DU              𐄁      PA-*342-I              𐄁        I
HT92            TE              𐄁           A-DU              𐄁      GRA
ZA8          KI-RA              𐄁        A-TA-RE              𐄁       NI
HT93a    PA₃-NI-NA              𐄁        GRA-PA₃              𐄁    RE+SE
HT40    NU-DU-*331              𐄁             TE              𐄁      GRA
HT17       RA-󽇫-TI              𐄁             TE              𐄁      VIN
HT9a         SA-RO              𐄁             TE              𐄁      VIN
HT19    RA-*164-TI              𐄁             TE              𐄁      VIN
KH88      QA-NU-MA              𐄁      *21F-*118              𐄁       NI

               word number        word number        word
HT99b      SI+SE-NI      6  DA-SI-*118      2       ZU-DU
HT10b          U-TI      1       DA-RE      2    TA-RI-NA
PH2    A-SE-TU-*21F      1  RA-O-DI-KI     60  PI-RU-E-JU

,word,word separator,word,word separator,word
TLZa1,A-TA-I-*301-WA-JA,𐄁,O-SU-QA-RE,𐄁,JA-SA-SA-RA-ME
CR(?)Zf1,A-MA-WA-SI,𐄁,KA-NI-JA-MI,𐄁,I-JA
IOZa2,A-TA-I-*301-WA-JA,𐄁,JA-DI-KI-TU,𐄁,JA-SA-SA-RA-ME
HT96a,I-TI-TI-KU-NI,𐄁,A-PA-RA-NE,𐄁,A-AROM-TE
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,𐄁,NI-JA-NU,𐄁,JU-KU-NA-PA-KU-NU-U-I-ZU
KNZc7,A-KA-NU-ZA-TI,𐄁,DU-RA-RE,𐄁,A-ZU-RA
HT28b,A-SI-JA-KA,𐄁,U-MI-NA-SI,𐄁,SA-RA₂
KH5,A-DA-KI-SI-KA,𐄁,A-RA-U-DA,𐄁,WI-SA-SA-NE
HT6a,KA-PA,𐄁,DA-TA-RA,𐄁,TE
HT34,DA-JU-TE,𐄁,SI-*516,𐄁,SA-RA₂
HT117a,MA-KA-RI-TE,𐄁,KI-RO,𐄁,U-MI-NA-SI
HT87,*21F-TU-NE,𐄁,MA-KA-RI-TE,𐄁,PI-TA-KE-SI
HTWc3017,QA-KU-RE,𐄁,DI-*306,𐄁,CYP+D-*304+PA
SYZa4,A-TA-I-*301-WA-JA,𐄁,JA-I-NWA-ZA,𐄁,PA₃-NI-WI
IOZa6,TA-NA-I-*301-U-TI-NU,𐄁,I-NA-TA-I-ZU-DI-SI-KA,𐄁,JA-SA-SA-RA-ME
HT116a,U-TA-RO,𐄁,TE,𐄁,KU-PA-JA

                   word logogram number          word number
HT8a              JE-DI   OLE+KI     10  PA₃-KA-RA-TI      1
HT88               A-DU   VIR+KA     20         RE-ZA      6
HT110a  SI-DU-*34-KU-MI    CYP+E     20         KU-PA      1
HT108       KI-RE-TA-NA  VIR+[?]      1         GRA+H     70

           word word separator logogram word separator            word
HT35   TI-TI-KU              𐄁     *326              𐄁         I-KU-TA
HT104     TA-PA              𐄁   TE+RO[              𐄁  DA-KU-SE-NE-TI

           word word separator     word number word separator
HT16   KA-KU-PA              𐄁  DI-NA-U    ¹⁄₈              𐄁
HT10a  KU-NI-SU              𐄁    SA-MA      4              𐄁

                   word word separator logogram number logogram
HT12        QA-TI-DA-TE              𐄁   OLE+DI      5     *304
HT103             U-TA₂              𐄁       NI     40      PA₃
HT23a             KA-NA              𐄁      CYP    ¹⁄₃     *308
HT123+124a      KI-TA-I              𐄁     OLIV     31     *308

           logogram word separator        word word separator   word
HT26a    *406VAS+KE              𐄁  *312-TE-TE              𐄁  TA-TI
LACHZa1          MI              𐄁     RI-DA-U              𐄁  SE-JE

             word logogram word separator        word word separator
ZA11b     E-TO-RI     *516              𐄁  SA-*301-RI              𐄁
HT13   KA-U-DE-TA      VIN              𐄁          TE              𐄁

                          word logogram number logogram number
HTZd157+156  WI-JA-SU-MA-TI-TI     *904      1     *904      1
HT18                     PA-SE   GRA+QE     20   OLE+KI      2
HT101               ZU-*22F-DI   GRA+QE     40    OLE+U      8

                word word separator   logogram word separator  logogram
HT89        A-SA-RA₂              𐄁       *307              𐄁      *305
HT27a       TI-NI-TA              𐄁       *307              𐄁   VIR+[?]
HT85a           A-DU              𐄁  *307+*387              𐄁   VIR+[?]
HT115a  *47-NU-RA-JA              𐄁          I              𐄁  GRA+BOSm
HT91            I-KA              𐄁       *326              𐄁       GRA

,]word,word separator,word,word separator,word
KNZf31,SI-SI-ZA-NE-*310,𐄁,DA-DU-MI-NE,𐄁,QA-MI-*47-NA-RA
PKZa8,NU,𐄁,PA₃-E,𐄁,JA-DI-KI-TE-TE-*307-PU₂-RE

              word word separator logogram[ logogram number
HT44a    I-QA-*118              𐄁       GRA   OLE+KI      3
HT58   QE-TI-RA-DU              𐄁   VIR+[?]    OLE+U     19

       lacuna     ]word number[              ]word number
HT46a       𐝫     MU-RU       1              KU-RO     43
HT127a      𐝫  DU-NE-MI       1  *304+PA-DA-*47-KU      1

                     ]word word separator     word word separator logogram[
SYZa1    A-TA-I-*301-WA-JA              𐄁  I-DA-MI              𐄁        JA
HT62+73              SA-RA              𐄁       TE              𐄁       VIN

            word logogram number[ logogram number
HT106   MI-NU-TE      CYP       6       SI      5
HT116b     KU-RO      GRA     100     *304     15

       lacuna lacuna  ]word number  word[
ZA27        𐝫      𐝫  DI-KI      2   O-MI
HT111a      𐝫      𐝫  QE-KA      8  QA-SA

       lacuna ]logogram number[ ]logogram number
HT131b      𐝫        NI      30      OLIV      2
KH84        𐝫       CYP     ¹⁄₂      *301      1
KH26        𐝫   VIR+[?]      60        NI      2

     ]logogram number[ ]logogram number[ lacuna
KH25   VIR+[?]     140   VIR+[?]      10      𐝫
PH3b    ]MI+JA     ³⁄₄        SI     ¹⁄₄      𐝫

     lacuna lacuna ]number logogram[ lacuna
KH46      𐝫      𐝫      𐝫𐝋       VIN      𐝫
KH35      𐝫      𐝫       1       CYP      𐝫

       ]logogram word separator           word word separator logogram[
PKZa10        SI              𐄁  I-PI-NA-MI-NA              𐄁        SI
KNZb4         JU              𐄁          JA-SI              𐄁        SI

            ]word word separator   word word separator  word[
PKZa18         TE              𐄁   I-DA              𐄁  JA-JA
ZAZb34  PU₂-RE-JA              𐄁  KO-MU              𐄁  RU-DI

                  word number        word number
THEZb13      QI-VIN+TE    120  KA-A-SI-TE    120
ZA5b     *28B-NU-MA-RE     20    SI-PI-KI      1
HT10b             U-TI      1       DA-RE      2
ZA14          ME-KI-DI      1   *21F-*118      1
HT99b         SI+SE-NI      6  DA-SI-*118      2
PH2       A-SE-TU-*21F      1  RA-O-DI-KI     60
HT7b        *21F-TU-NE      1  DA-RU-*329      2
ZA7a              U-JU      5     A-RA-TU      4

                     word word separator              word number
HT16             KA-KU-PA              𐄁           DI-NA-U    ¹⁄₈
SYZa2   A-TA-I-*301-WA-JA              𐄁  JA-SU-MA-TU-OLIV      1
HT1              QE-RA₂-U              𐄁             KI-RO    197
HT10a            KU-NI-SU              𐄁             SA-MA      4
HT94b               KI-RO              𐄁             TU-MA      1
HT95b                A-DU              𐄁             SA-RU     10
HT85b         KI-KI-RA-JA              𐄁         KI-RE-TA₂      1
HT117b         *21F-TU-NE              𐄁          KU-RE-JU      1

                   word word separator logogram number
HT103             U-TA₂              𐄁       NI     40
HT123+124a      KI-TA-I              𐄁     OLIV     31
ZA15b             KA-DI              𐄁      VIN      3
HT23a             KA-NA              𐄁      CYP    ¹⁄₃
KNZb<27>        DI-NA-U              𐄁      VIN     17
HT12        QA-TI-DA-TE              𐄁   OLE+DI      5

,word,word separator,word,word separator
ARKHZf9,JA-KI-SI-KI-NU,𐄁,MI-DA-MA-RA₂,𐄁
HT14,PU-VIN,𐄁,TE,𐄁
HT117a,MA-KA-RI-TE,𐄁,KI-RO,𐄁
HT43,MA-SI-DU,𐄁,PA-*342-I,𐄁
HT87,*21F-TU-NE,𐄁,MA-KA-RI-TE,𐄁
HT92,TE,𐄁,A-DU,𐄁
HTWc3017,QA-KU-RE,𐄁,DI-*306,𐄁
SYZa4,A-TA-I-*301-WA-JA,𐄁,JA-I-NWA-ZA,𐄁
HT116a,U-TA-RO,𐄁,TE,𐄁
HT9a,SA-RO,𐄁,TE,𐄁
ZA8,KI-RA,𐄁,A-TA-RE,𐄁
HT52a,SA-MA,𐄁,TE,𐄁
IOZa6,TA-NA-I-*301-U-TI-NU,𐄁,I-NA-TA-I-ZU-DI-SI-KA,𐄁
HT17,RA-󽇫-TI,𐄁,TE,𐄁
HT28a,A-SI-JA-KA,𐄁,JA-*21F,𐄁
CR(?)Zf1,A-MA-WA-SI,𐄁,KA-NI-JA-MI,𐄁
TLZa1,A-TA-I-*301-WA-JA,𐄁,O-SU-QA-RE,𐄁
IOZa2,A-TA-I-*301-WA-JA,𐄁,JA-DI-KI-TU,𐄁
HT21,PI-TA-KA-SE,𐄁,TE,𐄁
HT93a,PA₃-NI-NA,𐄁,GRA-PA₃,𐄁
HT40,NU-DU-*331,𐄁,TE,𐄁
HT96a,I-TI-TI-KU-NI,𐄁,A-PA-RA-NE,𐄁
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,𐄁,NI-JA-NU,𐄁
HT140,U-*34-SI,𐄁,*86-SI-NI,𐄁
HT19,RA-*164-TI,𐄁,TE,𐄁
HT28b,A-SI-JA-KA,𐄁,U-MI-NA-SI,𐄁
KH88,QA-NU-MA,𐄁,*21F-*118,𐄁
KH5,A-DA-KI-SI-KA,𐄁,A-RA-U-DA,𐄁
KNZc7,A-KA-NU-ZA-TI,𐄁,DU-RA-RE,𐄁
HT6a,KA-PA,𐄁,DA-TA-RA,𐄁
HT96b,A-PA-RA-NE,𐄁,QA-*118-RA-RE,𐄁
HT34,DA-JU-TE,𐄁,SI-*516,𐄁

                 word number logogram number
MA4a        TA-HIDE+B     15   HIDE+L    120
HT123+124b  *188-*308     11     *312      1

              word word separator logogram         word
HT7a         QE-TI              𐄁  VIR+[?]      I-RU-JA
ZA5a     *21F-*118              𐄁   VIN-SU     KI-NI-MA
MA1b          A-MA              𐄁      *47  QE-DE-MI-NU
HT95a  DA-DU-MA-TA              𐄁      GRA        DA-ME

                   word logogram number          word
HT108       KI-RE-TA-NA  VIR+[?]      1         GRA+H
HT110a  SI-DU-*34-KU-MI    CYP+E     20         KU-PA
HT8a              JE-DI   OLE+KI     10  PA₃-KA-RA-TI
HT88               A-DU   VIR+KA     20         RE-ZA

           logogram word separator        word word separator
ZA1a           *516              𐄁    KI-RE-ZA              𐄁
LACHZa1          MI              𐄁     RI-DA-U              𐄁
HT26a    *406VAS+KE              𐄁  *312-TE-TE              𐄁

                      word word separator   logogram word separator
HT104                TA-PA              𐄁     TE+RO[              𐄁
ZA11a   DI-DI-KO-RA-ME-TA₂              𐄁       *516              𐄁
HT27a             TI-NI-TA              𐄁       *307              𐄁
HT81                  A-SE              𐄁   MI+JA+RU              𐄁
HT85a                 A-DU              𐄁  *307+*387              𐄁
HT89              A-SA-RA₂              𐄁       *307              𐄁
HT122b               JE-DI              𐄁       *346              𐄁
HT115a        *47-NU-RA-JA              𐄁          I              𐄁
HT91                  I-KA              𐄁       *326              𐄁
HT35              TI-TI-KU              𐄁       *326              𐄁

       logogram number logogram number
THEZg5       MA     40       PU      5
HT119      *327     34  VIR+[?]     67

             word logogram word separator        word
ZA11b     E-TO-RI     *516              𐄁  SA-*301-RI
HT13   KA-U-DE-TA      VIN              𐄁          TE

                          word logogram number logogram
HT101               ZU-*22F-DI   GRA+QE     40    OLE+U
HTZd157+156  WI-JA-SU-MA-TI-TI     *904      1     *904
HT18                     PA-SE   GRA+QE     20   OLE+KI

       word word separator    word logogram
HT133  A-DU              𐄁      TE   GRA+DA
HT99a  A-DU              𐄁  SA-RA₂      CYP

                  word  logogram number number
HT129        KI-RE-TA₂       GRA     33     𐝆𐝁
ZA6b   I-KU-JU-TI-*28B    GRA+PA     50    ¹⁄₄
MA4b              A-JA  HIDE+[?]    123    160

      ]logogram word separator logogram number
MA10a        RU              𐄁  *413+SU      2
KH22         ZA              𐄁       SU      7

      logogram word separator logogram word separator
HT118       AU              𐄁     *516              𐄁
HT66        ZU              𐄁  VIR+[?]              𐄁

                     ]word word separator         word word separator
SYZa1    A-TA-I-*301-WA-JA              𐄁      I-DA-MI              𐄁
ZAZb34           PU₂-RE-JA              𐄁        KO-MU              𐄁
PKZa18                  TE              𐄁         I-DA              𐄁
PKZa8                   NU              𐄁        PA₃-E              𐄁
HT62+73              SA-RA              𐄁           TE              𐄁
KNZf31    SI-SI-ZA-NE-*310              𐄁  DA-DU-MI-NE              𐄁

       lacuna lacuna  ]word number
HT111a      𐝫      𐝫  QE-KA      8
HT41a       𐝫      𐝫  QE-TU     10
ZA27        𐝫      𐝫  DI-KI      2

      ]logogram number logogram[ lacuna
HT100    VIR+KA     58   *304+PA      𐝫
KH34      CYP+E      2        NI      𐝫

      ]logogram word separator  logogram number[
HT52b        NE              𐄁       GRA     201
KH36         KA              𐄁  MI+JA+RU       4

       lacuna     ]word number[              ]word
HT46a       𐝫     MU-RU       1              KU-RO
HT127a      𐝫  DU-NE-MI       1  *304+PA-DA-*47-KU
HT135a      𐝫  NE-MI-NA      10              MI-TU

      lacuna lacuna ]number[ lacuna
HT53b      𐝫      𐝫       18      𐝫
ZA30       𐝫      𐝫        7      𐝫
KH67       𐝫      𐝫        1      𐝫

        ]word word separator     word number[
HT55a   KI-RO              𐄁    MA-RE       1
HT122a  RA-RI              𐄁  U-DE-ZA       2

      lacuna lacuna  ]word number[
KN28b      𐝫      𐝫     TE      𐝊𐝫
HT74       𐝫      𐝫  KU-RO      20
HT67       𐝫      𐝫  KU-RO     402

       lacuna ]number   word number[
HT69        𐝫       5     DI       8
HT111b      𐝫      18  SA-DI       4

             word    word logogram number
HT90   I-KU-RI-NA  SA-RA₂      GRA     20
HT102       KA-PA  SA-RA₂      GRA    976

      lacuna ]logogram[ ]logogram number
KH8        𐝫         RE        TA      2
HT98b      𐝫       *188       VIN    ³⁄₄

        lacuna ]logogram number[ lacuna
ZA28         𐝫    GRA+PA       1      𐝫
HT109        𐝫        RE       4      𐝫
ZA31         𐝫        DU       2      𐝫
KH68+71      𐝫  *401+[ ]      𐝉𐝫      𐝫

       lacuna lacuna ]logogram number[
KH82        𐝫      𐝫    OLE+RI      𐝉𐝫
HT127b      𐝫      𐝫        NE      13

       lacuna ]logogram number[ ]logogram
KH63        𐝫        SU      10   *401+RU
KH84        𐝫       CYP     ¹⁄₂      *301
HT131b      𐝫        NI      30      OLIV
KH26        𐝫   VIR+[?]      60        NI

     ]logogram[ number logogram number
MA6a   HIDE+[?]    941   HIDE+B     35
KH12        CYP      2     *308    ¹⁄₂
KH15        CYP    ¹⁄₂       NI    ¹⁄₂

      lacuna ]logogram number ]number
HT147      𐝫        RA  ≈ ¹⁄₆     ¹⁄₂
KH21       𐝫       CYP      𐝍     ¹⁄₅

        lacuna lacuna ]word[ lacuna
KH44         𐝫      𐝫   *335      𐝫
HT154ja      𐝫      𐝫  NU-TE      𐝫
KH52         𐝫      𐝫   TA-U      𐝫

       ]logogram word separator           word word separator
KH14          RA              𐄁        A-MA-JA              𐄁
PLZf1         TA              𐄁    WI-TE-JA-MU              𐄁
KNZb4         JU              𐄁          JA-SI              𐄁
PKZa10        SI              𐄁  I-PI-NA-MI-NA              𐄁

         ]logogram number[ ]logogram number[
KH25       VIR+[?]     140   VIR+[?]      10
PH3b        ]MI+JA     ³⁄₄        SI     ¹⁄₄
THEtab.4       CAP       7       CAP      46

     lacuna ]logogram[ ]logogram number[
KH57      𐝫         TU        ZO       1
KH27      𐝫         NI    GRA+PA       4

     lacuna lacuna logogram number[
KH38      𐝫      𐝫    CYP+D     ¹⁄₂
KH55      𐝫      𐝫   OLE+TA     ¹⁄₃

     lacuna ]logogram number[          ]word[
ZA29      𐝫        MA     100              TE
PH30      𐝫        TI     ¹⁄₄  MA-RE-RI-MI-DE

                                   word word separator                   word
SYZa2                 A-TA-I-*301-WA-JA              𐄁       JA-SU-MA-TU-OLIV
HT96b                        A-PA-RA-NE              𐄁          QA-*118-RA-RE
ARKHZf9                  JA-KI-SI-KI-NU              𐄁           MI-DA-MA-RA₂
HT1                            QE-RA₂-U              𐄁                  KI-RO
HT85b                       KI-KI-RA-JA              𐄁              KI-RE-TA₂
ZA8                               KI-RA              𐄁                A-TA-RE
HT17                            RA-󽇫-TI              𐄁                     TE
HT116a                          U-TA-RO              𐄁                     TE
HT21                        PI-TA-KA-SE              𐄁                     TE
HT28a                        A-SI-JA-KA              𐄁                JA-*21F
HT40                         NU-DU-*331              𐄁                     TE
HT93a                         PA₃-NI-NA              𐄁                GRA-PA₃
KNZc6     *34-TI-RI-A-DI-DA-KI-TI-PA-KU              𐄁               NI-JA-NU
HT19                         RA-*164-TI              𐄁                     TE
KNZc7                     A-KA-NU-ZA-TI              𐄁               DU-RA-RE
HT34                           DA-JU-TE              𐄁                SI-*516
HT16                           KA-KU-PA              𐄁                DI-NA-U
HT14                             PU-VIN              𐄁                     TE
HT87                         *21F-TU-NE              𐄁            MA-KA-RI-TE
PH6                             I-NA-WA              𐄁                   A-RI
HT43                           MA-SI-DU              𐄁              PA-*342-I
PHZb4                             SI-MA              𐄁                I-JA-TE
HT52a                             SA-MA              𐄁                     TE
HTWc3017                       QA-KU-RE              𐄁                DI-*306
HT9a                              SA-RO              𐄁                     TE
HT95b                              A-DU              𐄁                  SA-RU
HT140                          U-*34-SI              𐄁              *86-SI-NI
HT94b                             KI-RO              𐄁                  TU-MA
HT117b                       *21F-TU-NE              𐄁               KU-RE-JU
HT133                              A-DU              𐄁                     TE
HT117a                      MA-KA-RI-TE              𐄁                  KI-RO
SYZa4                 A-TA-I-*301-WA-JA              𐄁            JA-I-NWA-ZA
IOZa6              TA-NA-I-*301-U-TI-NU              𐄁  I-NA-TA-I-ZU-DI-SI-KA
TLZa1                 A-TA-I-*301-WA-JA              𐄁             O-SU-QA-RE
CR(?)Zf1                     A-MA-WA-SI              𐄁            KA-NI-JA-MI
IOZa2                 A-TA-I-*301-WA-JA              𐄁            JA-DI-KI-TU
HTZd155                            A-JU              𐄁    NA-MA-MA-TI-TI-*904
KH88                           QA-NU-MA              𐄁              *21F-*118
IOZa9                    JA-SA-SA-RA-ME              𐄁          U-NA-KA-NA-SI
HT28b                        A-SI-JA-KA              𐄁             U-MI-NA-SI
KH5                       A-DA-KI-SI-KA              𐄁              A-RA-U-DA
HT6a                              KA-PA              𐄁               DA-TA-RA
HT99a                              A-DU              𐄁                 SA-RA₂
HT92                                 TE              𐄁                   A-DU
HT10a                          KU-NI-SU              𐄁                  SA-MA
HT96a                     I-TI-TI-KU-NI              𐄁             A-PA-RA-NE

                   word number        word
HT7b         *21F-TU-NE      1  DA-RU-*329
HT99b          SI+SE-NI      6  DA-SI-*118
PH2        A-SE-TU-*21F      1  RA-O-DI-KI
ZA7a               U-JU      5     A-RA-TU
HT10b              U-TI      1       DA-RE
THEZb13       QI-VIN+TE    120  KA-A-SI-TE
ZA5b      *28B-NU-MA-RE     20    SI-PI-KI
ZA14           ME-KI-DI      1   *21F-*118
HTWa1020  *304+PA-KU-PA    ¹⁄₄    JE-TA-NA

                          word word separator   logogram
HT23a                    KA-NA              𐄁        CYP
HT35                  TI-TI-KU              𐄁       *326
HT12               QA-TI-DA-TE              𐄁     OLE+DI
KNZb<27>               DI-NA-U              𐄁        VIN
ZA5a                 *21F-*118              𐄁     VIN-SU
HT95a              DA-DU-MA-TA              𐄁        GRA
HT89                  A-SA-RA₂              𐄁       *307
HT7a                     QE-TI              𐄁    VIR+[?]
HT122b                   JE-DI              𐄁       *346
HT103                    U-TA₂              𐄁         NI
ZA15b                    KA-DI              𐄁        VIN
HT123+124a             KI-TA-I              𐄁       OLIV
HT27a                 TI-NI-TA              𐄁       *307
ZA11a       DI-DI-KO-RA-ME-TA₂              𐄁       *516
HTWc3014           KU-MI-NA-QE              𐄁        CAP
HT81                      A-SE              𐄁   MI+JA+RU
HT115a            *47-NU-RA-JA              𐄁          I
HT91                      I-KA              𐄁       *326
HT104                    TA-PA              𐄁     TE+RO[
HT2                    A-KA-RU              𐄁      OLE+U
MA1b                      A-MA              𐄁        *47
HT85a                     A-DU              𐄁  *307+*387
HT33                    SA-RA₂              𐄁  *401+*304

           ]word logogram number[
ARKH3b     JA-PI      GRA       6
PH15a   MA-TE-RE     *339      11

      lacuna ]logogram[ ]word[
HT3        𐝫         MA  DI-NA
HT49b      𐝫         KU   I-KI

      lacuna           ]word[     ]word
HT4        𐝫  *306-TI-KA-A-RE  DU-RI-TE
KN32b      𐝫               TE     SA-PU

              word number number
HT6b   WA-DU-NI-MI      3  ≈ ¹⁄₆
PEWy5     OLE-*307      1    ¹⁄₂

       logogram number          word
HT128b   GRA+KU      6  VIR+[?]-*329
ZAZb3       VIN     32   DI-DI-KA-SE

      word also in linear b word separator      word
HT6a                  KA-PA              𐄁  DA-TA-RA
PHZb4                 SI-MA              𐄁   I-JA-TE

                          word  logogram number
HT18                     PA-SE    GRA+QE     20
PH10               *355-E-*354  HIDE+[?]     𐝈𐝈
HT108              KI-RE-TA-NA   VIR+[?]      1
KN1b               JA-DU-RA-TI         E    105
HT110a         SI-DU-*34-KU-MI     CYP+E     20
ZA6b           I-KU-JU-TI-*28B    GRA+PA     50
MA4b                      A-JA  HIDE+[?]    123
HT23b                    NI-RA       CYP    ¹⁄₃
HT101               ZU-*22F-DI    GRA+QE     40
ZA6a                *305-WA-NA      *171     19
HT129                KI-RE-TA₂       GRA     33
HT8a                     JE-DI    OLE+KI     10
HT88                      A-DU    VIR+KA     20
KN1a                  JA-KU-TI         E    240
HTZd157+156  WI-JA-SU-MA-TI-TI      *904      1

           logogram word separator        word
HT63           *305              𐄁          TE
LACHZa1          MI              𐄁     RI-DA-U
HT26a    *406VAS+KE              𐄁  *312-TE-TE
ZA1a           *516              𐄁    KI-RE-ZA
HT128a         *326              𐄁       PA-RA

                 word number logogram
MA4a        TA-HIDE+B     15   HIDE+L
HT123+124b  *188-*308     11     *312

                   word              word number
PYR1     TI-MA-RU-WI-TE          *806-VIN     90
HT36              JE-DI  *307+*387-GRA+QE     64
MAWc<5>      A-SA-DA-KA             GRA+E      4

       logogram number logogram
THEZg5       MA     40       PU
HT119      *327     34  VIR+[?]

      logogram word separator logogram
HT118       AU              𐄁     *516
HT66        ZU              𐄁  VIR+[?]

               word logogram         word
HT15       U-*34-SI      GRA    DU-AROM-A
MA1a   *903-I-DU-WI      *47  QE-DE-MI-NU
ZA15a     *47-KU-NA   SA-VIN   QE-SI-ZU-E
HT94a         KA-PA  VIR+[?]           62

      lacuna ]number    word[
HT45a      𐝫      𐝫𐝉       PA
HT141      𐝫       1     A-RI
HT25a      𐝫       1  DI-NA-U

      lacuna lacuna        word
KH20       𐝫      𐝫  A-SI-KI-RA
HT38       𐝫      𐝫    DA-RO-PA
HT25b      𐝫      𐝫       KU-RO

            word[  ]word word separator
HT113    RA-RI-DE  WI-SA              𐄁
HT84   *21F-JA-DU  NU-TI              𐄁

               ]word word separator       word[
APZa2          NA-SI              𐄁  I-PI-NA-MA
SYZa5          MI-JA              𐄁   JA-WA-PA₃
IOZa5  I-JA-RE-DI-JA              𐄁     I-JA-PA

        ]logogram word separator  logogram
HT52b          NE              𐄁       GRA
KH36           KA              𐄁  MI+JA+RU
MA10a          RU              𐄁   *413+SU
HT42+59        TA              𐄁     SI+SE
KH22           ZA              𐄁        SU

             ]word word separator logogram
MA10b  DU-PI-TE-WA              𐄁   *405+Ω
HT27b        MI-DA              𐄁   VIN+WA

       word separator ]logogram word separator
HT68                𐄁        JU              𐄁
KNZa18              𐄁        JA              𐄁

                     ]word word separator            word
PKZa16               TO-SA              𐄁             PU₂
KNZa10         TA-NU-MU-TI              𐄁  JA-SA-SA-RA-MA
HT55a                KI-RO              𐄁           MA-RE
SYZa1    A-TA-I-*301-WA-JA              𐄁         I-DA-MI
IOZa15          I-PI-NA-MA              𐄁        SI-RU-TE
KNZf31    SI-SI-ZA-NE-*310              𐄁     DA-DU-MI-NE
PKZa18                  TE              𐄁            I-DA
ZAZb34           PU₂-RE-JA              𐄁           KO-MU
HT122a               RA-RI              𐄁         U-DE-ZA
ZAZg35         ME-MI-JA-RU              𐄁     SE-WA-AU-DE
HT62+73              SA-RA              𐄁              TE
PKZa8                   NU              𐄁           PA₃-E

       lacuna ]number   word
HT69        𐝫       5     DI
HT111b      𐝫      18  SA-DI

               word word separator logogram[
KH9    A-SI-SU-PO-A              𐄁  VIR+*307
ARKH6      DA-NA-TU              𐄁        KU
HT58    QE-TI-RA-DU              𐄁   VIR+[?]
HT44a     I-QA-*118              𐄁       GRA

         ]word number logogram[
HT55b       TE      1        QE
KH43   *560-RE      2    WI+ZE[

       lacuna lacuna  ]word
KN28b       𐝫      𐝫     TE
KH96        𐝫      𐝫   𐝫𐝈𐝀𐝀
HT67        𐝫      𐝫  KU-RO
HT111a      𐝫      𐝫  QE-KA
HT74        𐝫      𐝫  KU-RO
ZA27        𐝫      𐝫  DI-KI
HT41a       𐝫      𐝫  QE-TU

      ]word number logogram
KN2   RU-NA      2     *118
PH3a   *556      1       TA

      ]logogram number logogram[
HT100    VIR+KA     58   *304+PA
KH54      CYP+E      1       GRA
KH34      CYP+E      2        NI

      ]logogram word separator     word[
HT44b        JA              𐄁  TE-GRA+F
KH74         SI              𐄁  JA-DA-SU

       lacuna     ]word number[
HT46a       𐝫     MU-RU       1
HT98a       𐝫        DE       1
HT127a      𐝫  DU-NE-MI       1
HT135a      𐝫  NE-MI-NA      10

       lacuna lacuna ]number
HT154k      𐝫      𐝫       2
KH35        𐝫      𐝫       1
HT46b       𐝫      𐝫      16
KH46        𐝫      𐝫      𐝫𐝋

       lacuna word separator  ]word[
HT135b      𐝫              𐄁   TA-NE
HT49a       𐝫              𐄁  RA₂-DU

     lacuna  ]logogram[ lacuna
ZA16      𐝫          SI      𐝫
KH64      𐝫          TA      𐝫
KH42      𐝫  *307+*301[      𐝫
KH65      𐝫          NI      𐝫
ZA32      𐝫          JA      𐝫

        lacuna ]logogram number[
KH68+71      𐝫  *401+[ ]      𐝉𐝫
ZA28         𐝫    GRA+PA       1
ZA29         𐝫        MA     100
KH63         𐝫        SU      10
HT109        𐝫        RE       4
HT154e       𐝫        NI      14
KH84         𐝫       CYP     ¹⁄₂
ZA4b         𐝫       VIN     104
ZA31         𐝫        DU       2
HT131b       𐝫        NI      30
PH30         𐝫        TI     ¹⁄₄
HT82         𐝫   GRA+QIf    ¹⁄₁₆
KH76         𐝫        SI       4
KH26         𐝫   VIR+[?]      60

      lacuna lacuna logogram
HT50b      𐝫      𐝫   OLE+KI
KH38       𐝫      𐝫    CYP+D
KH55       𐝫      𐝫   OLE+TA

     word[ ]logogram[ lacuna
KH23  A-DU        CYP      𐝫
KH39  A-TA     OLE+TA      𐝫

      lacuna ]word[ lacuna
HT80       𐝫  JU-RA      𐝫
HT53a      𐝫  SA-NE      𐝫
ZA19       𐝫  RA-TE      𐝫
ZA13       𐝫  SU-PA      𐝫
KH40       𐝫  SI-NA      𐝫
KH79       𐝫   𐝫𐘂𐘀𐝫      𐝫

       lacuna ]number[ lacuna
ZA33        𐝫       21      𐝫
KH78        𐝫       30      𐝫
HT107       𐝫        3      𐝫
HT136b      𐝫       24      𐝫

        lacuna lacuna       ]word[
HT54a        𐝫      𐝫  KU-MI-NA-QE
KH44         𐝫      𐝫         *335
KH52         𐝫      𐝫         TA-U
HT154ja      𐝫      𐝫        NU-TE

      lacuna ]number logogram[
KH2        𐝫      20        TU
HT54b      𐝫       4        KI

      lacuna ]logogram number
KH50       𐝫        TA      2
KH21       𐝫       CYP      𐝍
PH8b       𐝫      *316      1
PH8a       𐝫   *416+L2      7
HT130      𐝫        SI      3
HT60       𐝫    OLE+RI   ¹⁄₁₆
HT147      𐝫        RA  ≈ ¹⁄₆

       logogram[ word separator  ]word
PK1           SI              𐄁  NE-TI
PYRWc4        TI              𐄁   I-SI

       ]logogram word separator           word
PLZf1         TA              𐄁    WI-TE-JA-MU
PKZa10        SI              𐄁  I-PI-NA-MI-NA
HT115b        RU              𐄁       PA-RA-NE
KH14          RA              𐄁        A-MA-JA
KNZb4         JU              𐄁          JA-SI
HT70          NI              𐄁             TE
IOZa16      AROM              𐄁    JA-SA-SA-RA

        ]logogram word separator logogram[
KH29           RA              𐄁       TA₂
HT79+83         I              𐄁      *305

     lacuna dividing line   ]word[
ZA23      𐝫             —    TE-TE
HT78      𐝫             —  MU-*312

      ]word[ lacuna lacuna
KH97b   SE-I      𐝫      𐝫
KH56    𐝫𐝕𐝉𐝫      𐝫      𐝫

            ]word word separator logogram[
ARKH1a      TA-PI              𐄁        QA
KH53    A-ME-AROM              𐄁        NE

                     word      word logogram
HT102               KA-PA    SA-RA₂      GRA
HT90           I-KU-RI-NA    SA-RA₂      GRA
PE1    U-KA-RE-A-SE-SI-NA  KU-PA-RI  VIR+[?]

      lacuna ]logogram[ ]logogram
KH57       𐝫         TU        ZO
HT98b      𐝫       *188       VIN
KH8        𐝫         RE        TA
KH27       𐝫         NI    GRA+PA

            word logogram number[
HT116b     KU-RO      GRA     100
HT106   MI-NU-TE      CYP       6
TY3b    KI-RI-SI   OLE+MI       6

        lacuna lacuna lacuna
KH69         𐝫      𐝫      𐝫
HT142        𐝫      𐝫      𐝫
KH72         𐝫      𐝫      𐝫
PH29a        𐝫      𐝫      𐝫
HT154jb      𐝫      𐝫      𐝫
KH70         𐝫      𐝫      𐝫
ZA17         𐝫      𐝫      𐝫

         ]logogram number[ ]logogram
PH3b        ]MI+JA     ³⁄₄        SI
KH25       VIR+[?]     140   VIR+[?]
THEtab.4       CAP       7       CAP

       lacuna ]logogram[ ]number
HT146       𐝫         QE      30
HT154n      𐝫         SI       6

       lacuna ]word[ ]number
HT154c      𐝫     NA       2
KH47        𐝫  QA-NE       6

       lacuna ]number number[
HT154g      𐝫       6     ¹⁄₂
KH13        𐝫       2     ¹⁄₂

                     word word separator       word[
IOZa14           SI-RU-TE              𐄁        I-DI
SYZa8   A-TA-I-*301-WA-JA              𐄁       JA-JA
PKZa12  A-TA-I-*301-WA-JA              𐄁  A-DI-KI-TE
IOZa7   A-TA-I-*301-WA-JA              𐄁  JA-TI-*321

     lacuna number number
GO2v      𐝫      1    ¹⁄₈
PE2       𐝫      3    ¹⁄₃

              ]word logogram word separator
PKZa14        TU-ME        I              𐄁
PH1a    DI-RA-DI-NA     *316              𐄁

                  word        word             word
SAMWa1           JA-SA       SA-RA               TE
PRZa1   TA-NA-SU-TE-KE  SE-TO-I-JA  A-SA-SA-*802-ME

      lacuna           ]word[ word separator
PKZa9      𐝫  JA-U-PA-MA-I-DA              𐄁
PH28a      𐝫            A-PA₃              𐄁

             ]word             word word separator
PSZa2      RE-I-KE  TA-NA-I-*301-TI              𐄁
VRYZa1  I-PI-NA-MA         SI-RU-TE              𐄁

Create a list of all sequences.

In [19]:
syn_seqs = getSyntacticalStructures(matched_sequences,False)
for k, en_seqs in syn_seqs.items():
    df = pd.DataFrame(en_seqs.values(), columns = k.split(','))
    df.set_axis(en_seqs.keys(), axis='index', inplace=True)
    #df.style.set_caption("Davis 2018 Mapping of Linear A and PD Symbols").set_table_styles(styles)
    display(df)

,word,word separator,word,word separator,logogram,number,logogram,number,logogram,number,...,number,logogram,number,word,logogram,number,logogram,number,logogram,number
HT14,PU-VIN,𐄁,TE,𐄁,GRA,30,OLE+MI,3,OLE+DI,3,...,9,OLIV,13,A-PU₂-NA-DU,GRA,45,OLE+MI,5,OLE+DI,4
HT28a,A-SI-JA-KA,𐄁,JA-*21F,𐄁,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂,...,1,OLE+TU,𐝉,SA-RA₂,OLE+DI,1,NI,2,VIN,3

,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT117a,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1,TE-JA-RE,1,NA-DA-RE,1
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA₃-NU,1,PA-TA-NE,1,*306-TU,1

,word,word separator,word,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT9b,KA-*305,𐄁,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4,KU-RO,24
HT117a,U-MI-NA-SI,𐄁,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1

,word,word separator,word also in linear b,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT9b,KA-*305,𐄁,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4,KU-RO,24
HT117a,U-MI-NA-SI,𐄁,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1

,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number,logogram,number,word
HT28a,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉,SA-RA₂,OLE+DI,1,NI,2,VIN,3,VIR+KA-VIN
KH11,CYP+E,𐝇𐝉,VIN,≈ ¹⁄₆,*306,4,CYP,¹⁄₃,*348-CYP,𐝇𐝉,A-TO-*349-TO-I,CYP+E,3,NI,1,VIN,3,A-TA-*350

,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number,logogram,number
KH11,CYP+E,𐝇𐝉,VIN,≈ ¹⁄₆,*306,4,CYP,¹⁄₃,*348-CYP,𐝇𐝉,A-TO-*349-TO-I,CYP+E,3,NI,1,VIN,3
HT14,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU₂-NA-DU,GRA,45,OLE+MI,5,OLE+DI,4

,word,word separator,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT88,KI-RO,𐄁,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1,KU-RO,6
HT117a,U-MI-NA-SI,𐄁,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1,U-DI-MI,1
HT9b,KA-*305,𐄁,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4

,word,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA₃-NU,1,PA-TA-NE,1
HT9b,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4,KU-RO,24
HT117a,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1,TE-JA-RE,1

,word separator,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT85a,𐄁,DA-RI-DA,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4
HT88,𐄁,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1,KU-RO,6
HT117a,𐄁,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1,U-DI-MI,1
HT9b,𐄁,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4

,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT117a,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1
HT9b,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4,KU-RO,24
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA₃-NU,1

,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number,logogram,number,logogram,number
HT90,GRA,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA₂,GRA,1,NI,1,OLE+MI,1,*304,1
HT14,OLE+DI,3,*304,9,OLIV,13,A-PU₂-NA-DU,GRA,45,OLE+MI,5,OLE+DI,4,*304,6

,logogram,number,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number,logogram,number
HT101,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA₂,GRA,41,OLE,10,DI+QE,3
HT14,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU₂-NA-DU,GRA,45,OLE+MI,5,OLE+DI,4
HT28a,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉,SA-RA₂,OLE+DI,1,NI,2,VIN,3
KH11,VIN,≈ ¹⁄₆,*306,4,CYP,¹⁄₃,*348-CYP,𐝇𐝉,A-TO-*349-TO-I,CYP+E,3,NI,1,VIN,3

,word separator,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number
HT91,𐄁,OLE+KI,≈ ¹⁄₆,OLE+U,≈ ¹⁄₆,OLE+MI,≈ ¹⁄₆,OLIV,≈ ¹⁄₆,NI,≈ ¹⁄₆,VIN,≈ ¹⁄₆,E,5
HT23a,𐄁,CYP,¹⁄₃,*308,≈ ¹⁄₆,OLE+NE,≈ ¹⁄₆,OLE+TU,≈ ¹⁄₆,OLE+RI,≈ ¹⁄₆,MI+JA+RU,≈ ¹⁄₆,VIN,10

,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word
HT23a,OLE+TU,≈ ¹⁄₆,OLE+RI,≈ ¹⁄₆,MI+JA+RU,≈ ¹⁄₆,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA
HT91,OLE+KI,≈ ¹⁄₆,OLE+U,≈ ¹⁄₆,OLE+MI,≈ ¹⁄₆,OLIV,≈ ¹⁄₆,NI,≈ ¹⁄₆,VIN,≈ ¹⁄₆,E,5,TE-RI
KH11,CYP,¹⁄₁₆,SU,3,CYP+E,𐝇𐝉,VIN,≈ ¹⁄₆,*306,4,CYP,¹⁄₃,*348-CYP,𐝇𐝉,A-TO-*349-TO-I

,word,number,word,number,word,number,word,number,number,word,number,word,number,number
HT6b,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3,¹⁄₄,SA-MA,35,PA₃-NI-NA,17,¹⁄₂
HT10b,U-TI,1,DA-RE,2,TA-RI-NA,15,*312-TA,6,¹⁄₂,KA-SA-RU,6,TA-NA-TI,9,¹⁄₄

,word,word separator,word,number,word,number,word,number,word,number,word,number,word,number
HT9b,KA-*305,𐄁,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2
HT94b,KI-RO,𐄁,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO,5
HT88,KI-RO,𐄁,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1
HT117a,U-MI-NA-SI,𐄁,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1

,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT9b,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4,KU-RO,24
HT117a,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1
HT85a,DA-RI-DA,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4
HT88,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1,KU-RO,6
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA₃-NU,1

,word,number,word,number,word,number,word,number,word,number,word also in linear b,number,word,number
HT85a,DA-RI-DA,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA₃-NU,1

,word,word separator,word,word separator,word,number,word,number,word,number,word,number,word,number
HT87,*21F-TU-NE,𐄁,MA-KA-RI-TE,𐄁,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT117a,KI-RO,𐄁,U-MI-NA-SI,𐄁,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1

,word,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number,logogram,number
HT90,SA-RA₂,GRA,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA₂,GRA,1,NI,1,OLE+MI,1
KH11,A-TO-*349-TO-I,CYP+E,3,NI,1,VIN,3,A-TA-*350,*301,1,*306,1,SI-CYP,𐝇𐝉

,number,number,word,number,word,number,word,number,word,number,number,word,number
HT6b,3,≈ ¹⁄₆,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3,¹⁄₄,SA-MA,35
HT9a,5,³⁄₄,*306-TU,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2,¹⁄₂,TA-I-AROM,2

,word,word separator,logogram,word,number,word,number,word,number,word,number,word,number
HT7a,QE-TI,𐄁,VIR+[?],I-RU-JA,3,DU-JA,4,TA-NA-TI,1,DA-RE,1,TE-TU,1
HT95a,DA-DU-MA-TA,𐄁,GRA,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10

,number,number,word,number,number,word,number,word,number,word,number,word,number
PE2,3,¹⁄₃,RU-PI-*305-MI,1,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃
HT8a,1,¹⁄₂,PA,3,¹⁄₂,TE-*301,2,QA-*310-I,³⁄₄,SI-KI-RA,¹⁄₄,KI-RE-TA-NA,¹⁄₂

,number,word,number,word,number,word,number,word,number,word,number,word,number
HT117a,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1,U-DI-MI,1
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1
HT88,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1,KU-RO,6
HT9b,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4
ZA10a,1,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT85b,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1
HT85a,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4

,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word,number
HT23a,≈ ¹⁄₆,MI+JA+RU,≈ ¹⁄₆,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¹⁄₁₆
HT34,𐝅𐝇,QA2+[?]+PU,≈ ¹⁄₆,QA2+[?]+RE,¹⁄₄,MI+JA+I,245,SA+MU+KU,100,PA₃,70,KI-RO,37

,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number,logogram,number
HT90,GRA,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA₂,GRA,1,NI,1,OLE+MI,1
HT101,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA₂,GRA,41,OLE,10,DI+QE,3
HT28a,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉,SA-RA₂,OLE+DI,1,NI,2,VIN,3

,logogram,number,logogram,number,logogram,number,word,number,word,logogram,number,logogram,number
HT28a,OLE+DI,1,NI,2,VIN,3,VIR+KA-VIN,6,A-RU-DA-RA,GRA,5,*304,2
HT94a,TI+A,7,VIR+*313b,18,TA,4,KU-RO,110,SA-RA₂,CYP,5,NI,3

,word separator,word,number,word,number,word,number,word,number,word,number,word,number
HT94b,𐄁,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO,5
HT85a,𐄁,DA-RI-DA,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3

,number,word,number,word,number,word,number,word,number,word also in linear b,number,word,number
HT122a,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA₃-NU,1
ZA10a,1,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT85b,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1
HT85a,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4

,logogram,number,logogram,number,logogram,number,logogram,number,word,number,word,logogram,number
HT100,TI+A,12,KI,2,*305,5,VIR+*313a,16,KU-RO,97,SA-RA₂,CYP,5
HT94a,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO,110,SA-RA₂,CYP,5

,word separator,]word,number,word,number,word,number,word,number,word,number,word,number
HT122a,𐄁,DI,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1
ZA4a,𐄁,TU-ME-SE,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI,3

,word,word separator,word,number,word,number,word,number,word,number,word,number
HT94b,KI-RO,𐄁,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1
HT87,MA-KA-RI-TE,𐄁,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT117a,SA-TA,𐄁,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1
HT88,KI-RO,𐄁,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1
HT1,QE-RA₂-U,𐄁,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA₃-NU,109,A-RA-NA-RE,105
HT9b,KA-*305,𐄁,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2

,word,number,number,word,number,word,number,word,number,word,number,number
HT13,TE-KI,27,¹⁄₂,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5,KU-RO,130,¹⁄₂
HT6b,WA-DU-NI-MI,3,≈ ¹⁄₆,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3,¹⁄₄

,number,word,number,number,word,number,word,number,word,number,word,number
HT8a,¹⁄₂,PA,3,¹⁄₂,TE-*301,2,QA-*310-I,³⁄₄,SI-KI-RA,¹⁄₄,KI-RE-TA-NA,¹⁄₂
HT13,56,TE-KI,27,¹⁄₂,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5,KU-RO,130
PE2,¹⁄₃,RU-PI-*305-MI,1,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃

,number,word,number,word,number,number,word,number,number,word,number,number
HT9a,4,QE-PU,2,*324-DI-RA,2,¹⁄₂,TA-I-AROM,2,¹⁄₂,A-RU,4,¹⁄₄
ZA8,?,TA-I-NU-MA-PA,¹⁄₂,MA-KA-I-SE,2,𐝃𐝆,DA-I-PI-TA,2,¹⁄₂,KA-I-RO,4,?

,word,number,word,number,word,number,word,number,word,number,word,number
HT95a,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10,QE-RA₂-U,7
HT117a,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1
HT88,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1
HT85a,DA-RI-DA,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT9b,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2
HT94b,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO,5

,word,word separator,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number
HT28a,JA-*21F,𐄁,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉
HT14,TE,𐄁,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13
HT23a,KA-NA,𐄁,CYP,¹⁄₃,*308,≈ ¹⁄₆,OLE+NE,≈ ¹⁄₆,OLE+TU,≈ ¹⁄₆,OLE+RI,≈ ¹⁄₆

,word,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number
KH11,A-TO-*349-TO-I,CYP+E,3,NI,1,VIN,3,A-TA-*350,*301,1,*306,1
HT18,PA-SE,GRA+QE,20,OLE+KI,2,*304,3,SA-RA₂,GRA,10,NI,10
HT90,SA-RA₂,GRA,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA₂,GRA,1,NI,1

,word,logogram,number,logogram,number,logogram,number,logogram,number,word,logogram,number
HT101,ZU-*22F-DI,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA₂,GRA,41
HT28b,SA-RA₂,GRA,20,OLE+DI,5,NI,2,VIN,4,PU-RA₂,NI,6

,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word
HT91,≈ ¹⁄₆,OLE+MI,≈ ¹⁄₆,OLIV,≈ ¹⁄₆,NI,≈ ¹⁄₆,VIN,≈ ¹⁄₆,E,5,TE-RI
KH11,3,CYP+E,𐝇𐝉,VIN,≈ ¹⁄₆,*306,4,CYP,¹⁄₃,*348-CYP,𐝇𐝉,A-TO-*349-TO-I
HT34,𐝅𐝇,QA2+[?]+PU,≈ ¹⁄₆,QA2+[?]+RE,¹⁄₄,MI+JA+I,245,SA+MU+KU,100,PA₃,70,KI-RO

,number,logogram,number,word,number,logogram,number,word,number,word,number,logogram
HT89,23,JU+*317+QE,22,MA-I-MI,24,VIR+*313a,13,TA-RA,5,KU-RO,87,CYP
HT118,6,KI,4,A-RI-SU,4,KI,1,RI-RU-MA,10,KU-RO,30,KI

,logogram,word,logogram,number,logogram,number,logogram,number,logogram,number,word,number
HT127b,KU,72,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14,KU-RO,291
HT94a,VIR+[?],62,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO,110

,]word,number,word,number,word,number,word,number,word,number,word,number
ZA4a,TU-ME-SE,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI,3
HT122a,DI,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1
HT122b,A-RA-JU-U-DE-ZA,2,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65,PO-TO-KU-RO,97

,number,word,number,word,number,word,number,word,number,word,number,lacuna
PE2,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃,TO-*49-RE,1,𐝫
ZA20,4,SI-TE-TU,1,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3,KU-RA,130,𐝫

,word separator,word,number,word,number,word,number,word,number,word,number
HT1,𐄁,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA₃-NU,109,A-RA-NA-RE,105
HT87,𐄁,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT117a,𐄁,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1
HT9b,𐄁,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2
HT85a,𐄁,DA-RI-DA,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5
HT88,𐄁,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1
HT94b,𐄁,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1

,number,word,number,logogram,number,word,number,word,number,word,number
HT119,10,KU-PA₃-NA-TU,7,TI,7,JA-*345,10,*306-TU,2,*327-JU,8
HT6a,15,PI-TA-JA,24,JA+RU,𐝓,MA-*321,10,O-RA₂-DI-NE,2,KA-PA-QE,5

,word,number,number,word,number,word,number,word,number,word,number
HT8a,PA,3,¹⁄₂,TE-*301,2,QA-*310-I,³⁄₄,SI-KI-RA,¹⁄₄,KI-RE-TA-NA,¹⁄₂
HT6b,WA-DU-NI-MI,3,≈ ¹⁄₆,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3
PE2,RU-PI-*305-MI,1,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃

,number,word,number,word,number,number,word,number,word,number,number
HT10b,2,TA-RI-NA,15,*312-TA,6,¹⁄₂,KA-SA-RU,6,TA-NA-TI,9,¹⁄₄
HT8b,5,PA₃-*188,2,QA-*310-I,1,³⁄₈,KA-PA,¹⁄₂,PA-JA-RE,1,¹⁄₈
HT6b,3,DU-DA-MA,66,DA-KI,3,¹⁄₄,SA-MA,35,PA₃-NI-NA,17,¹⁄₂

,word,number,word,number,word,number,number,word,number,word,number
ZA15a,MI-ZA-SE,3,*28B-NU-MA-RE,6,SI-PI-KI,2,¹⁄₂,JA-SA-MU,5,SA-MI-DA-E,4
HT6b,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3,¹⁄₄,SA-MA,35,PA₃-NI-NA,17
HT10b,DA-RE,2,TA-RI-NA,15,*312-TA,6,¹⁄₂,KA-SA-RU,6,TA-NA-TI,9

,number,number,word,number,number,word,number,word,number,word,number
PE2,3,¹⁄₃,RU-PI-*305-MI,1,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂
HT8a,1,¹⁄₂,PA,3,¹⁄₂,TE-*301,2,QA-*310-I,³⁄₄,SI-KI-RA,¹⁄₄

,word,number,word,number,word,number,word,number,number,word,number
HT9a,*306-TU,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2,¹⁄₂,TA-I-AROM,2
HT10b,U-TI,1,DA-RE,2,TA-RI-NA,15,*312-TA,6,¹⁄₂,KA-SA-RU,6

,number,number,word,number,word,number,word,number,word,number,number
HT9a,5,³⁄₄,*306-TU,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2,¹⁄₂
HT13,27,¹⁄₂,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5,KU-RO,130,¹⁄₂

,number,word,number,word,number,word,number,word,number,word,number
HT94b,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO,5
ZA4a,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI,3
HT95a,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10,QE-RA₂-U,7
HT85a,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3
HT98a,1,TA-NA-TI,³⁄₄,DI-RE-DI-NA,¹⁄₂,TE-*301,³⁄₄,RO-KE,¹⁄₂,KA-RI-*310-I,¹⁄₄
HT88,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1
HT9b,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2
PE2,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃,TO-*49-RE,1
ZA10a,1,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1
ZA20,4,SI-TE-TU,1,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3,KU-RA,130
HT85b,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1
HT122b,2,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65,PO-TO-KU-RO,97
HT117a,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1

,word,number,word,number,word,number,word,number,word,number,word
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE
HT9b,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE
HT117a,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1,U-DI-MI
ZA14,ME-KI-DI,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8,KU-PI,1,TU-MI-TI-ZA-SE
HT95a,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10,QE-RA₂-U
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I
HT85a,DA-RI-DA,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE
HT88,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE
HT94b,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO

,word,number,word,number,word,number,word,number,word,number,logogram
HT94b,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO,5,*86
HT11a,KA-RO-NA,2,*322-RI,1,KU-RO,10,A-SU-JA,1,VIR+[?]-I,3,TA₂

,word,number,word,number,number,word,number,word,number,word,number
HT13,TE-TU,56,TE-KI,27,¹⁄₂,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5
ZA15a,*28B-NU-MA-RE,6,SI-PI-KI,2,¹⁄₂,JA-SA-MU,5,SA-MI-DA-E,4,*363-KE-MA-SE,5

,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number
HT101,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA₂,GRA,41,OLE,10
HT14,OLE+DI,3,*304,9,OLIV,13,A-PU₂-NA-DU,GRA,45,OLE+MI,5
HT28a,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉,SA-RA₂,OLE+DI,1,NI,2
HT18,GRA+QE,20,OLE+KI,2,*304,3,SA-RA₂,GRA,10,NI,10

,logogram,number,logogram,number,logogram,number,logogram,number,word,logogram,number
HT28a,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉,SA-RA₂,OLE+DI,1
HT14,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU₂-NA-DU,GRA,45
HT101,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA₂,GRA,41
HT116a,GRA,16,OLE+KI,1,OLE+MI,6,OLIV,3,PI-*34-TE,GRA,5
HT28b,GRA,20,OLE+DI,5,NI,2,VIN,4,PU-RA₂,NI,6
KH11,VIN,≈ ¹⁄₆,*306,4,CYP,¹⁄₃,*348-CYP,𐝇𐝉,A-TO-*349-TO-I,CYP+E,3

,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word
HT34,QA2+[?]+PU,≈ ¹⁄₆,QA2+[?]+RE,¹⁄₄,MI+JA+I,245,SA+MU+KU,100,PA₃,70,KI-RO
HT14,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU₂-NA-DU
HT28a,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉,SA-RA₂

,word separator,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number
HT28a,𐄁,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉
HT91,𐄁,OLE+KI,≈ ¹⁄₆,OLE+U,≈ ¹⁄₆,OLE+MI,≈ ¹⁄₆,OLIV,≈ ¹⁄₆,NI,≈ ¹⁄₆
HT14,𐄁,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13

,word,word separator,logogram,number,logogram,number,logogram,number,number,logogram,number
HT32,SA-RA₂,𐄁,*308,¹⁄₂,OLE+NE,𐝆𐝇,QA2+[?]+PU,1,¹⁄₁₆,QA2+[?]+RE,1
HT21,TE,𐄁,GRA,161,OLE+U,11,OLE+E,3,³⁄₄,*304,7

,logogram,number,logogram,number,number,logogram,number,number,logogram,number,number
HT21,OLE+U,11,OLE+E,3,³⁄₄,*304,7,³⁄₄,OLIV,1,¹⁄₄
HTZd157+156,*904,1,*904,1,¹⁄₂,*904,2,¹⁄₄,*904,3,³⁄₈

,number,logogram,number,logogram,number,word,number,word,number,logogram,number
HT49a,1,*370,1,*312,1,KU-PA₃-NU,1,TU-SU-PU₂,1,KI,1
HT23a,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¹⁄₁₆,SA-SA-ME,¹⁄₁₆,SI+ME,10

,logogram,number,logogram,number,logogram,number,logogram,number,word,number,word
HT100,TI+A,12,KI,2,*305,5,VIR+*313a,16,KU-RO,97,SA-RA₂
HT94a,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO,110,SA-RA₂
HT23a,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¹⁄₁₆,SA-SA-ME

,logogram,number,logogram,number,logogram,number,word,number,word,logogram,number
HT28a,OLE+DI,1,NI,2,VIN,3,VIR+KA-VIN,6,A-RU-DA-RA,GRA,5
HT100,KI,2,*305,5,VIR+*313a,16,KU-RO,97,SA-RA₂,CYP,5

,number,logogram,number,logogram,number,word,number,logogram,number,logogram,number
HT38,1,AU,1,CAP,3,*554-*118,3,TELA+KU,2,TELA+*312,1
HT34,245,SA+MU+KU,100,PA₃,70,KI-RO,37,E+KA,¹⁄₁₆,PU,¹⁄₈

,word,number,word,number,word,number,word,number,word,number,word[
HT85a,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4,KU-RO
HT115a,NA-*21F-NE-MI-NA,1,SE-KU-TU,¹⁄₂,PA-RA-NE,1,A-SE-JA,𐝂𐝂𐝂𐝂,KA-PO-RU,1,RI-SU-MA
HT87,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1,A-RA

,number,word,number,word,number,word,number,word also in linear b,number,word,number
HT122a,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA₃-NU,1
ZA10a,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT85b,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1
PE2,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃,TO-*49-RE,1
HT85a,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4

,number,logogram,number,word,number,word,number,word,number,word,number
HT85b,1,KA,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1
HT119,7,TI,7,JA-*345,10,*306-TU,2,*327-JU,8,KU-RO,160

,word,word separator,word,word separator,word,logogram,number,logogram,number,word,word separator
KH7a,I-JA-PA-ME,𐄁,TA-TA,𐄁,QA-TI-KI,VIR+*313b,4,CYP+D,¹⁄₃,SE-*305,𐄁
KH5,A-DA-KI-SI-KA,𐄁,A-RA-U-DA,𐄁,WI-SA-SA-NE,CYP+E,2,VINb+WI,2,WI-NA-DU,𐄁

,word,word separator,word,word separator,word,word separator,word,word separator,word,word separator,word
KOZa1,TU-RU-SA,𐄁,DU-*314-RE,𐄁,I-DA-A,𐄁,U-NA-KA-NA-SI,𐄁,I-PI-NA-MA,𐄁,SI-RU-TE
KNZf31,DA-DU-MI-NE,𐄁,QA-MI-*47-NA-RA,𐄁,A-WA-PI,𐄁,TE-SU-DE-SE-KE-I,𐄁,A-DA-RA,𐄁,TI-DI-TE-QA-TI

,word separator,word,word separator,word,word separator,word,word separator,word,word separator,word,word separator
PLZf1,𐄁,WI-TE-JA-MU,𐄁,U-QE-TI,𐄁,JA-SA-SA-RA-ME,𐄁,TA-NU-NI-KI-NA,𐄁,NI-NU-NI,𐄁
KNZf31,𐄁,DA-DU-MI-NE,𐄁,QA-MI-*47-NA-RA,𐄁,A-WA-PI,𐄁,TE-SU-DE-SE-KE-I,𐄁,A-DA-RA,𐄁

,word,number,word,number,word,number,word,number,word,number
HT9b,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1
HT1,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA₃-NU,109,A-RA-NA-RE,105
HT94b,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1
ZA14,ME-KI-DI,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8,KU-PI,1
HT95b,DA-ME,10,MI-NU-TE,10,KU-NI-SU,10,DI-DE-RU,10,QE-RA₂-U,10
HT87,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT117a,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1
HT95a,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10
HT11a,KA-RO-NA,2,*322-RI,1,KU-RO,10,A-SU-JA,1,VIR+[?]-I,3
ZA20,SI-TE-TU,1,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3,KU-RA,130
HT88,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1
HT7a,I-RU-JA,3,DU-JA,4,TA-NA-TI,1,DA-RE,1,TE-TU,1
HT115a,NA-*21F-NE-MI-NA,1,SE-KU-TU,¹⁄₂,PA-RA-NE,1,A-SE-JA,𐝂𐝂𐝂𐝂,KA-PO-RU,1
PE2,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃,TO-*49-RE,1
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1
HT98a,TA-NA-TI,³⁄₄,DI-RE-DI-NA,¹⁄₂,TE-*301,³⁄₄,RO-KE,¹⁄₂,KA-RI-*310-I,¹⁄₄
HT85a,DA-RI-DA,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1
ZA4a,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI,3
HT122b,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65,PO-TO-KU-RO,97

,word,word separator,word,number,word,number,word,number,word,number
HT117a,SA-TA,𐄁,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1
HT87,MA-KA-RI-TE,𐄁,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1
HT1,QE-RA₂-U,𐄁,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA₃-NU,109

,logogram,number,word,number,logogram,number,word,number,word,number
HT6a,NI,15,PI-TA-JA,24,JA+RU,𐝓,MA-*321,10,O-RA₂-DI-NE,2
HT118,KI,4,A-RI-SU,4,KI,1,RI-RU-MA,10,KU-RO,30
HT89,JU+*317+QE,22,MA-I-MI,24,VIR+*313a,13,TA-RA,5,KU-RO,87

,number,logogram,number,word,number,word,number,word,number,number
HT6a,24,JA+RU,𐝓,MA-*321,10,O-RA₂-DI-NE,2,KA-PA-QE,5,³⁄₄
HT103,¹⁄₂,*188,13,DA-KU-NA,1,DA-KU-SE-NE,1,KI-RA,5,¹⁄₂

,number,number,word,number,word,number,word,number,word,number
HT9a,5,³⁄₄,*306-TU,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2
HT8a,3,¹⁄₂,TE-*301,2,QA-*310-I,³⁄₄,SI-KI-RA,¹⁄₄,KI-RE-TA-NA,¹⁄₂
PE2,1,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃

,word,number,number,word,number,number,word,number,word,number
HT104,DA-KU-SE-NE-TI,45,¹⁄₂,I-DU-TI,20,¹⁄₂,PA-DA-SU-TI,29,KU-RO,95
HT8a,PA₃-KA-RA-TI,1,¹⁄₂,PA,3,¹⁄₂,TE-*301,2,QA-*310-I,³⁄₄

,number,word,number,number,word,number,word,number,word,number
HT13,56,TE-KI,27,¹⁄₂,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5
PE2,¹⁄₃,RU-PI-*305-MI,1,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂
HT8a,¹⁄₂,PA,3,¹⁄₂,TE-*301,2,QA-*310-I,³⁄₄,SI-KI-RA,¹⁄₄
ZA15a,6,SI-PI-KI,2,¹⁄₂,JA-SA-MU,5,SA-MI-DA-E,4,*363-KE-MA-SE,5

,number,word,number,word,number,number,word,number,word,number
HT8b,5,PA₃-*188,2,QA-*310-I,1,³⁄₈,KA-PA,¹⁄₂,PA-JA-RE,1
ZA15a,3,*28B-NU-MA-RE,6,SI-PI-KI,2,¹⁄₂,JA-SA-MU,5,SA-MI-DA-E,4

,logogram,number,logogram,number,logogram,number,logogram,number,word,number
HT127b,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14,KU-RO,291
HT23a,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¹⁄₁₆
HT34,QA2+[?]+RE,¹⁄₄,MI+JA+I,245,SA+MU+KU,100,PA₃,70,KI-RO,37
HT100,TI+A,12,KI,2,*305,5,VIR+*313a,16,KU-RO,97
HT12,*118,5,CYP+E,3,NI,1,QA2+[?]+PU+RE,¹⁄₁₆,DA-I,50
HT94a,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO,110

,word,word separator,word,word separator,logogram,number,logogram,number,logogram,number
HT14,PU-VIN,𐄁,TE,𐄁,GRA,30,OLE+MI,3,OLE+DI,3
HT21,PI-TA-KA-SE,𐄁,TE,𐄁,GRA,161,OLE+U,11,OLE+E,3
HT28a,A-SI-JA-KA,𐄁,JA-*21F,𐄁,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂

,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number
HT23a,MI+JA+RU,≈ ¹⁄₆,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17
KH11,CYP,¹⁄₁₆,SU,3,CYP+E,𐝇𐝉,VIN,≈ ¹⁄₆,*306,4
HT14,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13
HT28a,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉
HT33,E+KA,𐝃𐝉,MI+JA+KA,¹⁄₅,*305,90,*341+PI,100,PA3+QE,100
HT34,QA2+[?]+PU,≈ ¹⁄₆,QA2+[?]+RE,¹⁄₄,MI+JA+I,245,SA+MU+KU,100,PA₃,70
THEZg5,MA,40,PU,5,*171,7,ZO,9,TA,4
HT91,OLE+KI,≈ ¹⁄₆,OLE+U,≈ ¹⁄₆,OLE+MI,≈ ¹⁄₆,OLIV,≈ ¹⁄₆,NI,≈ ¹⁄₆

,number,logogram,number,logogram,number,word,logogram,number,logogram,number
HT116a,5,OLE+MI,1,*OLIV+TU,2,SI-KI-NE,GRA,12,*304,12
HT90,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA₂,GRA,1,NI,1
HT18,20,OLE+KI,2,*304,3,SA-RA₂,GRA,10,NI,10

,number,logogram,number,number,logogram,number,number,logogram,number,number
HTZd157+156,1,*904,1,¹⁄₂,*904,2,¹⁄₄,*904,3,³⁄₈
HT100,¹⁄₄,NI,2,double mina,VIN,2,¹⁄₂,OLE+U,2,≈ ¹⁄₆
HT21,11,OLE+E,3,³⁄₄,*304,7,³⁄₄,OLIV,1,¹⁄₄

,logogram,number,word,number,word,number,logogram,number,word,number
HT102,GRA+PA,33,DI-RI-NA,10,MA-ZU,3,WI,10,I-KA,5
HT23a,E,17,*21F-RI-TU-QA,¹⁄₁₆,SA-SA-ME,¹⁄₁₆,SI+ME,10,KO-RU,1

,word separator,word,logogram,number,logogram,number,logogram,number,logogram,number
HT35,𐄁,I-KU-TA,CYP,1,MI+JA+RU,¹⁄₃,OLE+RI,¹⁄₃,*308,¹⁄₃
HT28b,𐄁,SA-RA₂,GRA,20,OLE+DI,5,NI,2,VIN,4

,word,logogram,number,logogram,number,logogram,number,logogram,number,word
HT28b,SA-RA₂,GRA,20,OLE+DI,5,NI,2,VIN,4,PU-RA₂
HT101,ZU-*22F-DI,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA₂
HT127b,72,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14,KU-RO
HT94a,62,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO

,word,number,word,number,word,number,word,number,word also in linear b,number
HT117a,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1

,number,logogram,number,logogram,number,logogram,number,word,word separator,logogram
HT91,≈ ¹⁄₆,NI,≈ ¹⁄₆,VIN,≈ ¹⁄₆,E,5,TE-RI,𐄁,OLE+MI
ZA11a,¹⁄₄,JU,𐝈𐝉,VIN,¹⁄₂,QE+GRA+PA,4,KU-PA,𐄁,GRA+PA

,word,number,word,number,place name,number,word,number,word,number
HT95b,DA-ME,10,MI-NU-TE,10,KU-NI-SU,10,DI-DE-RU,10,QE-RA₂-U,10
HT95a,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10,QE-RA₂-U,7

,number,word,number,word,number,word,number,word,number,word
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA
HT122b,2,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65,PO-TO-KU-RO
ZA4a,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI
ZA14,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8,KU-PI,1,TU-MI-TI-ZA-SE
PE2,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃,TO-*49-RE
HT98a,1,TA-NA-TI,³⁄₄,DI-RE-DI-NA,¹⁄₂,TE-*301,³⁄₄,RO-KE,¹⁄₂,KA-RI-*310-I

,number,word,number,word,number,logogram,number,word,number,word
HT102,33,DI-RI-NA,10,MA-ZU,3,WI,10,I-KA,5,KU-RO
HT119,13,KO-JA,10,KU-PA₃-NA-TU,7,TI,7,JA-*345,10,*306-TU

,word,number,word,number,word also in linear b,number,word,number,word,number
HT115a,NA-*21F-NE-MI-NA,1,SE-KU-TU,¹⁄₂,PA-RA-NE,1,A-SE-JA,𐝂𐝂𐝂𐝂,KA-PO-RU,1
HT122a,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA₃-NU,1,PA-TA-NE,1

,word,logogram,number,number,logogram,number,logogram,number,word,logogram
HT129,KI-RE-TA₂,GRA,33,𐝆𐝁,*304,10,NI,22,TU-*21F-RI-NA,GRA
ZA6b,I-KU-JU-TI-*28B,GRA+PA,50,¹⁄₄,VIN+RA,40,VIN+KA,10,*312-TA₂,GRA+PA

,word,word separator,word,word separator,word,word separator,word,word separator,word,word separator
PLZf1,WI-TE-JA-MU,𐄁,U-QE-TI,𐄁,JA-SA-SA-RA-ME,𐄁,TA-NU-NI-KI-NA,𐄁,NI-NU-NI,𐄁
KOZa1,TU-RU-SA,𐄁,DU-*314-RE,𐄁,I-DA-A,𐄁,U-NA-KA-NA-SI,𐄁,I-PI-NA-MA,𐄁

,number,word,number,word,number,word,number,word,number
ZA14,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8,KU-PI,1
HT95b,10,MI-NU-TE,10,KU-NI-SU,10,DI-DE-RU,10,QE-RA₂-U,10
HT8a,¹⁄₂,TE-*301,2,QA-*310-I,³⁄₄,SI-KI-RA,¹⁄₄,KI-RE-TA-NA,¹⁄₂
ZA20,4,SI-TE-TU,1,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3
HT87,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT117a,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1
HT6b,≈ ¹⁄₆,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3
HT95a,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10
HT11a,2,*322-RI,1,KU-RO,10,A-SU-JA,1,VIR+[?]-I,3
HT7a,3,DU-JA,4,TA-NA-TI,1,DA-RE,1,TE-TU,1
HT88,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1
HT9a,³⁄₄,*306-TU,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2
HT115a,1,SE-KU-TU,¹⁄₂,PA-RA-NE,1,A-SE-JA,𐝂𐝂𐝂𐝂,KA-PO-RU,1
PE2,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃
HT85b,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1
HT119,7,JA-*345,10,*306-TU,2,*327-JU,8,KU-RO,160
HT122b,2,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65
ZA4a,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50
HT85a,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5
ZA10a,1,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1
HT98a,1,TA-NA-TI,³⁄₄,DI-RE-DI-NA,¹⁄₂,TE-*301,³⁄₄,RO-KE,¹⁄₂
HT13,¹⁄₂,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5,KU-RO,130
HT9b,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2
HT94b,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1
HT1,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA₃-NU,109,A-RA-NA-RE,105

,number,word,number,word,number,word,number,number,word
HT9a,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2,¹⁄₂,TA-I-AROM
HT6a,𐝓,MA-*321,10,O-RA₂-DI-NE,2,KA-PA-QE,5,³⁄₄,DA-QE-RA
HT6b,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3,¹⁄₄,SA-MA
HT10b,1,DA-RE,2,TA-RI-NA,15,*312-TA,6,¹⁄₂,KA-SA-RU

,number,logogram,number,word,number,word,number,word,number
HT6a,24,JA+RU,𐝓,MA-*321,10,O-RA₂-DI-NE,2,KA-PA-QE,5
HT85b,1,KA,1,DI,1,ME-ZA,1,RE-DI-SE,1
HT119,34,VIR+[?],67,RI-MI-SI,13,KO-JA,10,KU-PA₃-NA-TU,7
HT103,¹⁄₂,*188,13,DA-KU-NA,1,DA-KU-SE-NE,1,KI-RA,5

,word,number,number,word,number,word,number,word,number
HT6b,WA-DU-NI-MI,3,≈ ¹⁄₆,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66
PE2,RU-PI-*305-MI,1,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂

,word,word separator,logogram,word,number,word,number,word,number
HT7a,QE-TI,𐄁,VIR+[?],I-RU-JA,3,DU-JA,4,TA-NA-TI,1
HT95a,DA-DU-MA-TA,𐄁,GRA,DA-ME,10,MI-NU-TE,10,SA-RU,20

,number,number,word,number,number,word,number,word,number
HT8a,1,¹⁄₂,PA,3,¹⁄₂,TE-*301,2,QA-*310-I,³⁄₄
PE2,3,¹⁄₃,RU-PI-*305-MI,1,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄
HT104,45,¹⁄₂,I-DU-TI,20,¹⁄₂,PA-DA-SU-TI,29,KU-RO,95

,number,word,number,number,word,number,number,word,number
HT8a,10,PA₃-KA-RA-TI,1,¹⁄₂,PA,3,¹⁄₂,TE-*301,2
ZA8,¹⁄₂,MA-KA-I-SE,2,𐝃𐝆,DA-I-PI-TA,2,¹⁄₂,KA-I-RO,4

,word,number,word,number,number,word,number,word,number
HT8b,PA₃-*188,2,QA-*310-I,1,³⁄₈,KA-PA,¹⁄₂,PA-JA-RE,1
HT13,TE-TU,56,TE-KI,27,¹⁄₂,KU-ZU-NI,18,DA-SI-*118,19

,word,number,word,number,word,number,number,word,number
HT9a,DI-NA-U,4,QE-PU,2,*324-DI-RA,2,¹⁄₂,TA-I-AROM,2
ZA15a,MI-ZA-SE,3,*28B-NU-MA-RE,6,SI-PI-KI,2,¹⁄₂,JA-SA-MU,5

,word,number,word,number,word,number,word,number,number
HT10b,U-TI,1,DA-RE,2,TA-RI-NA,15,*312-TA,6,¹⁄₂
HT13,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5,KU-RO,130,¹⁄₂

,number,logogram,number,logogram,number,word,logogram,number,word
HT11b,40,KA,30,KA,50,RU-ZU-NA,KA,30,SA-QE-RI
HT28b,5,NI,2,VIN,4,PU-RA₂,NI,6,JA-*21F

,word separator,logogram,number,logogram,number,logogram,number,logogram,number
HT28a,𐄁,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1
HT14,𐄁,GRA,30,OLE+MI,3,OLE+DI,3,*304,9
HT12,𐄁,*118,5,CYP+E,3,NI,1,QA2+[?]+PU+RE,¹⁄₁₆

,logogram,number,logogram,number,logogram,number,logogram,number,word
HT101,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA₂
HT94a,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO
HT116a,GRA,16,OLE+KI,1,OLE+MI,6,OLIV,3,PI-*34-TE
HT28b,GRA,20,OLE+DI,5,NI,2,VIN,4,PU-RA₂
HT127b,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14,KU-RO
KH11,VIN,≈ ¹⁄₆,*306,4,CYP,¹⁄₃,*348-CYP,𐝇𐝉,A-TO-*349-TO-I
HT34,QA2+[?]+RE,¹⁄₄,MI+JA+I,245,SA+MU+KU,100,PA₃,70,KI-RO
HT12,*118,5,CYP+E,3,NI,1,QA2+[?]+PU+RE,¹⁄₁₆,DA-I
HT23a,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA
HT100,TI+A,12,KI,2,*305,5,VIR+*313a,16,KU-RO
HT91,OLIV,≈ ¹⁄₆,NI,≈ ¹⁄₆,VIN,≈ ¹⁄₆,E,5,TE-RI
HT28a,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉,SA-RA₂
HT14,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU₂-NA-DU

,logogram,number,logogram,number,word,word separator,logogram,number,logogram
HT91,VIN,≈ ¹⁄₆,E,5,TE-RI,𐄁,OLE+MI,≈ ¹⁄₆,E
HT12,OLE+DI,5,*304,5,QE-TU-NE,𐄁,QA2+[?]+PU,1,E

,logogram,number,word,word separator,logogram,number,logogram,number,logogram
HT12,*304,5,QE-TU-NE,𐄁,QA2+[?]+PU,1,E,30,*560
HT116a,GRA,16,PU-RA₂,𐄁,GRA,40,OLE+DI,5,SI+SE

,word,logogram,number,logogram,number,logogram,number,logogram,number
HT35,I-KU-TA,CYP,1,MI+JA+RU,¹⁄₃,OLE+RI,¹⁄₃,*308,¹⁄₃
HT127b,72,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14
HT101,ZU-*22F-DI,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2
HT90,SI-RU-MA-RI-TA₂,GRA,1,NI,1,OLE+MI,1,*304,1
HT14,A-PU₂-NA-DU,GRA,45,OLE+MI,5,OLE+DI,4,*304,6
HT28b,SA-RA₂,GRA,20,OLE+DI,5,NI,2,VIN,4
HT94a,62,*86,20,TI+A,7,VIR+*313b,18,TA,4

,word,word separator,word,word separator,logogram,number,word,number,word
HT115b,TI-NU-JA,𐄁,NU-WI,𐄁,GRA,¹⁄₂,DU-PA₃-NA,1,KU-RU-MA
ZA8,KI-RA,𐄁,A-TA-RE,𐄁,NI,¹⁄₂,KU-TU-KO-RE,double mina,A-RI-NI-TA
HT17,RA-󽇫-TI,𐄁,TE,𐄁,VIN,37,SA-RO,10,SI-DA-RE

      logogram number logogram number logogram number    word logogram number
HT18    GRA+QE     20   OLE+KI      2     *304      3  SA-RA₂      GRA     10
HT28b   OLE+DI      5       NI      2      VIN      4  PU-RA₂       NI      6

,logogram,number,logogram,number,logogram,number,word,number,word
HT28a,OLE+DI,1,NI,2,VIN,3,VIR+KA-VIN,6,A-RU-DA-RA
HT23a,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¹⁄₁₆,SA-SA-ME

,number,logogram,number,word,number,word,number,logogram,number
HT49a,1,*312,1,KU-PA₃-NU,1,TU-SU-PU₂,1,KI,1
HT23a,10,E,17,*21F-RI-TU-QA,¹⁄₁₆,SA-SA-ME,¹⁄₁₆,SI+ME,10
HT89,24,VIR+*313a,13,TA-RA,5,KU-RO,87,CYP,2

,number,word,number,word,number,logogram,number,word,number
HT119,13,KO-JA,10,KU-PA₃-NA-TU,7,TI,7,JA-*345,10
HT23a,17,*21F-RI-TU-QA,¹⁄₁₆,SA-SA-ME,¹⁄₁₆,SI+ME,10,KO-RU,1

,word,word separator,word,word separator,word,logogram,number,logogram,number
KH7a,I-JA-PA-ME,𐄁,TA-TA,𐄁,QA-TI-KI,VIR+*313b,4,CYP+D,¹⁄₃
KH5,A-DA-KI-SI-KA,𐄁,A-RA-U-DA,𐄁,WI-SA-SA-NE,CYP+E,2,VINb+WI,2
HT28b,A-SI-JA-KA,𐄁,U-MI-NA-SI,𐄁,SA-RA₂,GRA,20,OLE+DI,5

,logogram,number,logogram,number,number,logogram,number,logogram,number
HT32,OLE+NE,𐝆𐝇,QA2+[?]+PU,1,¹⁄₁₆,QA2+[?]+RE,1,MI+JA+RU,1
TY3a,OLE+KI,51,OLE+KI+U,2,¹⁄₅,OLE+KI+ME,1,OLE+QIf,4

      ]number logogram number  logogram number logogram number logogram number
HT50a     ¹⁄₄   OLE+KI    ¹⁄₄    OLE+MI    ¹⁄₂    OLE+E    ¹⁄₂     *304      1
HT33        3     E+KA     𐝃𐝉  MI+JA+KA    ¹⁄₅     *305     90  *341+PI    100

,number,word,number,logogram,number,word,number,word,number
HT118,4,A-RI-SU,4,KI,1,RI-RU-MA,10,KU-RO,30
HT89,22,MA-I-MI,24,VIR+*313a,13,TA-RA,5,KU-RO,87
HT119,10,KU-PA₃-NA-TU,7,TI,7,JA-*345,10,*306-TU,2

,number,word,number,word,word separator,logogram,number,word,number
HT93a,³⁄₄,SA-RA₂,20,QA-QA-RU,𐄁,I-GRA+PA,5,VIR+[?]-I,6
HT115b,¹⁄₂,DU-PA₃-NA,1,KU-RU-MA,𐄁,I,¹⁄₂,*306-TU-JA,1

,logogram,number,logogram,number,word,logogram,number,logogram,number
HT116a,OLE+MI,1,*OLIV+TU,2,SI-KI-NE,GRA,12,*304,12
KH11,NI,1,VIN,3,A-TA-*350,*301,1,*306,1

,number,word,number,word,number,word,number,word also in linear b,number
HT117a,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1
PE2,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃

      number logogram number logogram number ]logogram number logogram number
HT140      3       KA      1    OLE+U      1        KA      1    OLE+U      2
KH8        2    CYP+D    ¹⁄₂       NI    ¹⁄₂       GRA    ¹⁄₂     *304    ¹⁄₄

,word,word separator,word,word separator,word,word separator,word,word separator,word
CR(?)Zf1,A-MA-WA-SI,𐄁,KA-NI-JA-MI,𐄁,I-JA,𐄁,QA-KI-SE-NU-TI,𐄁,A-TA-DE
KNZf31,DA-DU-MI-NE,𐄁,QA-MI-*47-NA-RA,𐄁,A-WA-PI,𐄁,TE-SU-DE-SE-KE-I,𐄁,A-DA-RA
KOZa1,TU-RU-SA,𐄁,DU-*314-RE,𐄁,I-DA-A,𐄁,U-NA-KA-NA-SI,𐄁,I-PI-NA-MA
PLZf1,WI-TE-JA-MU,𐄁,U-QE-TI,𐄁,JA-SA-SA-RA-ME,𐄁,TA-NU-NI-KI-NA,𐄁,NI-NU-NI

,word,number,word,number,word,number,word,number,lacuna
ZA20,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3,KU-RA,130,𐝫
PH2,A-SE-TU-*21F,1,RA-O-DI-KI,60,PI-RU-E-JU,60,SE-SA-PA₃,60,𐝫
PE2,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃,TO-*49-RE,1,𐝫

,word,number,word,number,word,number,word,number
HT87,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1
HT117a,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1
HT8a,TE-*301,2,QA-*310-I,³⁄₄,SI-KI-RA,¹⁄₄,KI-RE-TA-NA,¹⁄₂
HT95a,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10
HT11a,KA-RO-NA,2,*322-RI,1,KU-RO,10,A-SU-JA,1
ZA20,SI-TE-TU,1,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3
HT88,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1
HT7a,I-RU-JA,3,DU-JA,4,TA-NA-TI,1,DA-RE,1
HT6b,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3
HT99b,SI+SE-NI,6,DA-SI-*118,2,ZU-DU,1,RU-MA-TA,1
HT115a,NA-*21F-NE-MI-NA,1,SE-KU-TU,¹⁄₂,PA-RA-NE,1,A-SE-JA,𐝂𐝂𐝂𐝂
HT10b,U-TI,1,DA-RE,2,TA-RI-NA,15,*312-TA,6
PE2,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1
HT85a,DA-RI-DA,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24
HT98a,TA-NA-TI,³⁄₄,DI-RE-DI-NA,¹⁄₂,TE-*301,³⁄₄,RO-KE,¹⁄₂
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1
PH2,A-SE-TU-*21F,1,RA-O-DI-KI,60,PI-RU-E-JU,60,SE-SA-PA₃,60
HT9a,*306-TU,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2
HT9b,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2
ZA4a,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50
HT119,JA-*345,10,*306-TU,2,*327-JU,8,KU-RO,160
HT122b,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65
HT94b,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1
HT1,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA₃-NU,109
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1
HT13,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5,KU-RO,130
ZA14,ME-KI-DI,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8
HT95b,DA-ME,10,MI-NU-TE,10,KU-NI-SU,10,DI-DE-RU,10

      number        word number         word number        word number number
HT6a       𐝓     MA-*321     10  O-RA₂-DI-NE      2    KA-PA-QE      5    ³⁄₄
HT9a      10     DI-NA-U      4        QE-PU      2  *324-DI-RA      2    ¹⁄₂
HT13      18  DA-SI-*118     19   I-DU-NE-SI      5       KU-RO    130    ¹⁄₂
HT103     13    DA-KU-NA      1  DA-KU-SE-NE      1       KI-RA      5    ¹⁄₂
HT6b       1  MA-RI-RE-I      3     DU-DA-MA     66       DA-KI      3    ¹⁄₄
HT10b      1       DA-RE      2     TA-RI-NA     15     *312-TA      6    ¹⁄₂

,word,word separator,word,word separator,logogram,number,word,number
HT6a,DA-TA-RA,𐄁,TE,𐄁,NI,15,PI-TA-JA,24
ZA8,KI-RA,𐄁,A-TA-RE,𐄁,NI,¹⁄₂,KU-TU-KO-RE,double mina
HT17,RA-󽇫-TI,𐄁,TE,𐄁,VIN,37,SA-RO,10
HT19,RA-*164-TI,𐄁,TE,𐄁,VIN,30,SA-RO,5
KH88,QA-NU-MA,𐄁,*21F-*118,𐄁,NI,10,PU-DE,8
HT115b,TI-NU-JA,𐄁,NU-WI,𐄁,GRA,¹⁄₂,DU-PA₃-NA,1

      number      word number   logogram number      word number         word
HT89      22   MA-I-MI     24  VIR+*313a     13     TA-RA      5        KU-RO
HT102     10     MA-ZU      3         WI     10      I-KA      5        KU-RO
HT118      4   A-RI-SU      4         KI      1  RI-RU-MA     10        KU-RO
HT6a      15  PI-TA-JA     24      JA+RU      𐝓   MA-*321     10  O-RA₂-DI-NE

           word number           word number      word number number      word
ZA15a  MI-ZA-SE      3  *28B-NU-MA-RE      6  SI-PI-KI      2    ¹⁄₂  JA-SA-MU
HT6a    MA-*321     10    O-RA₂-DI-NE      2  KA-PA-QE      5    ³⁄₄  DA-QE-RA

,number,word,number,number,word,number,word,number
HT8a,¹⁄₂,PA,3,¹⁄₂,TE-*301,2,QA-*310-I,³⁄₄
HT8b,2,QA-*310-I,1,³⁄₈,KA-PA,¹⁄₂,PA-JA-RE,1
ZA15a,6,SI-PI-KI,2,¹⁄₂,JA-SA-MU,5,SA-MI-DA-E,4
HT13,56,TE-KI,27,¹⁄₂,KU-ZU-NI,18,DA-SI-*118,19
HT10b,15,*312-TA,6,¹⁄₂,KA-SA-RU,6,TA-NA-TI,9
PE2,¹⁄₃,RU-PI-*305-MI,1,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄
HT104,¹⁄₂,I-DU-TI,20,¹⁄₂,PA-DA-SU-TI,29,KU-RO,95
HT6b,66,DA-KI,3,¹⁄₄,SA-MA,35,PA₃-NI-NA,17

,number,word,number,word,number,number,word,number
HT6b,3,DU-DA-MA,66,DA-KI,3,¹⁄₄,SA-MA,35
HT10b,2,TA-RI-NA,15,*312-TA,6,¹⁄₂,KA-SA-RU,6
HT9a,4,QE-PU,2,*324-DI-RA,2,¹⁄₂,TA-I-AROM,2
HT8b,5,PA₃-*188,2,QA-*310-I,1,³⁄₈,KA-PA,¹⁄₂
ZA8,?,TA-I-NU-MA-PA,¹⁄₂,MA-KA-I-SE,2,𐝃𐝆,DA-I-PI-TA,2
ZA15a,3,*28B-NU-MA-RE,6,SI-PI-KI,2,¹⁄₂,JA-SA-MU,5

     logogram number          word number number      word number number
HT19      VIN     30         SA-RO      5    ¹⁄₂  DU-ME-DI     43    ¹⁄₂
HT8a   OLE+KI     10  PA₃-KA-RA-TI      1    ¹⁄₂        PA      3    ¹⁄₂

,number,word,number,word,number,number,word also in linear b,number
ZA8,?,TA-I-NU-MA-PA,¹⁄₂,MA-KA-I-SE,2,𐝃𐝆,DA-I-PI-TA,2
HT8b,5,PA₃-*188,2,QA-*310-I,1,³⁄₈,KA-PA,¹⁄₂

,word,number,number,word,number,number,word,number
HT9a,*324-DI-RA,2,¹⁄₂,TA-I-AROM,2,¹⁄₂,A-RU,4
ZA8,MA-KA-I-SE,2,𐝃𐝆,DA-I-PI-TA,2,¹⁄₂,KA-I-RO,4
HT104,DA-KU-SE-NE-TI,45,¹⁄₂,I-DU-TI,20,¹⁄₂,PA-DA-SU-TI,29

     number number       word number     word number      word number
PE2       1    ¹⁄₈  A-*325-ZA    ¹⁄₄  A-RI-PA    ¹⁄₄  QA-QA-DA    ¹⁄₂
HT9a      5    ³⁄₄    *306-TU     10  DI-NA-U      4     QE-PU      2

      number        word number logogram number       word number[      word
HT26b      3  KA-U-ZU-NI      4    KI+MU     12     I-*308       2  *188-*86
HT10a    ¹⁄₂   U-*325-ZA      4     *301      6  U-*325-ZA      14   *305-RU

,number,logogram,number,logogram,number,word,logogram,number
HT14,3,*304,9,OLIV,13,A-PU₂-NA-DU,GRA,45
HT28a,¹⁄₂,OLE+MI,1,OLE+TU,𐝉,SA-RA₂,OLE+DI,1
HT11b,40,KA,30,KA,50,RU-ZU-NA,KA,30
HT129,𐝆𐝁,*304,10,NI,22,TU-*21F-RI-NA,GRA,40
HT116a,1,OLE+MI,6,OLIV,3,PI-*34-TE,GRA,5
HT101,8,OLE+MI,8,OLE+KI,2,SA-RA₂,GRA,41
HT18,20,OLE+KI,2,*304,3,SA-RA₂,GRA,10
HT90,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA₂,GRA,1
HT28b,5,NI,2,VIN,4,PU-RA₂,NI,6
KH11,4,CYP,¹⁄₃,*348-CYP,𐝇𐝉,A-TO-*349-TO-I,CYP+E,3

           word     word number logogram number logogram number       word
HT38   DA-RO-PA  *403-VS      1       AU      1      CAP      3  *554-*118
HT11b    RU-RA₂   *86-KA     40       KA     30       KA     50   RU-ZU-NA

,word separator,logogram,number,logogram,number,logogram,word separator,logogram
HT12,𐄁,QA2+[?]+PU,1,E,30,*560,𐄁,*118
HT27b,𐄁,SA,1,RE,14,VIN,𐄁,SI

,logogram,number,logogram,number,logogram,number,logogram,number
HT35,CYP,1,MI+JA+RU,¹⁄₃,OLE+RI,¹⁄₃,*308,¹⁄₃
HT28b,GRA,20,OLE+DI,5,NI,2,VIN,4
HT100,TI+A,12,KI,2,*305,5,VIR+*313a,16
HT28a,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1
HT33,E+KA,𐝃𐝉,MI+JA+KA,¹⁄₅,*305,90,*341+PI,100
KH7b,CYP+D,¹⁄₂,*304+PA,1,SI,14,CYP+K,2
HT94a,*86,20,TI+A,7,VIR+*313b,18,TA,4
HT50a,OLE+KI,¹⁄₄,OLE+MI,¹⁄₂,OLE+E,¹⁄₂,*304,1
THEZg5,MA,40,PU,5,*171,7,ZO,9
HT127b,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14
HT23a,CYP,¹⁄₃,*308,≈ ¹⁄₆,OLE+NE,≈ ¹⁄₆,OLE+TU,≈ ¹⁄₆
HT90,GRA,1,NI,1,OLE+MI,1,*304,1
KH11,CYP,¹⁄₁₆,SU,3,CYP+E,𐝇𐝉,VIN,≈ ¹⁄₆
HT34,QA2+[?]+PU,≈ ¹⁄₆,QA2+[?]+RE,¹⁄₄,MI+JA+I,245,SA+MU+KU,100
HT101,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2
HT116a,GRA,16,OLE+KI,1,OLE+MI,6,OLIV,3
HT91,OLE+KI,≈ ¹⁄₆,OLE+U,≈ ¹⁄₆,OLE+MI,≈ ¹⁄₆,OLIV,≈ ¹⁄₆
HT14,GRA,30,OLE+MI,3,OLE+DI,3,*304,9
HT12,*118,5,CYP+E,3,NI,1,QA2+[?]+PU+RE,¹⁄₁₆

,word,word separator,logogram,number,logogram,number,word,word separator
KH7a,E-NA-SI,𐄁,VIR+*313b,10,CYP+D,¹⁄₂,I-JA-PA-ME,𐄁
HT12,QA-TI-DA-TE,𐄁,OLE+DI,5,*304,5,QE-TU-NE,𐄁

,number,logogram,number,logogram,number,logogram,number,word
HT127b,24,KI+MU,15,*301,11,KI+MU,14,KU-RO
ZA11a,¹⁄₄,JU,𐝈𐝉,VIN,¹⁄₂,QE+GRA+PA,4,KU-PA
HT28a,2,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉,SA-RA₂
HT94a,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO
HT23a,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA
HT100,12,KI,2,*305,5,VIR+*313a,16,KU-RO
HT101,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA₂
HT12,5,CYP+E,3,NI,1,QA2+[?]+PU+RE,¹⁄₁₆,DA-I
HT116a,16,OLE+KI,1,OLE+MI,6,OLIV,3,PI-*34-TE
KH11,≈ ¹⁄₆,*306,4,CYP,¹⁄₃,*348-CYP,𐝇𐝉,A-TO-*349-TO-I
HT14,3,OLE+DI,3,*304,9,OLIV,13,A-PU₂-NA-DU
HT28b,20,OLE+DI,5,NI,2,VIN,4,PU-RA₂

,word,word separator,logogram,number,logogram,number,logogram,number
HT28a,JA-*21F,𐄁,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂
HT21,TE,𐄁,GRA,161,OLE+U,11,OLE+E,3
HT23a,KA-NA,𐄁,CYP,¹⁄₃,*308,≈ ¹⁄₆,OLE+NE,≈ ¹⁄₆
HT32,SA-RA₂,𐄁,*308,¹⁄₂,OLE+NE,𐝆𐝇,QA2+[?]+PU,1
HT14,TE,𐄁,GRA,30,OLE+MI,3,OLE+DI,3

,word,word separator,word,word separator,logogram,number,logogram,number
HT21,PI-TA-KA-SE,𐄁,TE,𐄁,GRA,161,OLE+U,11
HT92,TE,𐄁,A-DU,𐄁,GRA,680,*304,12
HT14,PU-VIN,𐄁,TE,𐄁,GRA,30,OLE+MI,3
HT28a,A-SI-JA-KA,𐄁,JA-*21F,𐄁,GRA+QE,5,OLE+U,2

,word,word separator,logogram,number,word,number,word,number
HT17,TE,𐄁,VIN,37,SA-RO,10,SI-DA-RE,5
HT93a,QA-QA-RU,𐄁,I-GRA+PA,5,VIR+[?]-I,6,DE-JU-KU,1

,number,logogram,number,number,logogram,number,number,logogram
HT100,¹⁄₄,NI,2,double mina,VIN,2,¹⁄₂,OLE+U
HT21,11,OLE+E,3,³⁄₄,*304,7,³⁄₄,OLIV
HTZd157+156,1,*904,1,¹⁄₂,*904,2,¹⁄₄,*904
HT89,87,CYP,2,³⁄₄,NI,2,¹⁄₄,VIN

      number logogram number           word number       word number logogram
HT23a     10        E     17  *21F-RI-TU-QA   ¹⁄₁₆   SA-SA-ME   ¹⁄₁₆    SI+ME
HT118      4       KI      1       RI-RU-MA     10      KU-RO     30       KI
HT49a      1     *312      1      KU-PA₃-NU      1  TU-SU-PU₂      1       KI

      logogram number           word number       word number logogram number
HT49a     *312      1      KU-PA₃-NU      1  TU-SU-PU₂      1       KI      1
HT23a        E     17  *21F-RI-TU-QA   ¹⁄₁₆   SA-SA-ME   ¹⁄₁₆    SI+ME     10
HT102   GRA+PA     33       DI-RI-NA     10      MA-ZU      3       WI     10

,logogram,number,logogram,number,word,number,word,number
HT119,*327,34,VIR+[?],67,RI-MI-SI,13,KO-JA,10
HT49a,*370,1,*312,1,KU-PA₃-NU,1,TU-SU-PU₂,1
HT23a,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¹⁄₁₆,SA-SA-ME,¹⁄₁₆

       number      word number      word number        word number     word[
HT25a       1   U-RE-WI      1   DI-NA-U      1  A-RI-NI-TA      1  TU-QE-NU
HT87        1  DI-KI-SE      1  QE-SU-PU      1    KU-RU-KU      1      A-RA
HT85a      24  KU-ZU-NI      5     TE-KE      3       DA-RE      4     KU-RO
HT115a    ¹⁄₂  PA-RA-NE      1   A-SE-JA   𐝂𐝂𐝂𐝂    KA-PO-RU      1  RI-SU-MA

,]word,number,word,number,word,number,word,number
HT122a,DI,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1
HT122b,A-RA-JU-U-DE-ZA,2,QA-QA-RU,2,DI,2,DA-RE,2
ZA4a,TU-ME-SE,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5
HT25a,RU-NI,1,U-RE-WI,1,DI-NA-U,1,A-RI-NI-TA,1

,word[,]word,number,word,number,word,number,word
HT25a,DI-NA-U,RU-NI,1,U-RE-WI,1,DI-NA-U,1,A-RI-NI-TA
HT123+124b,KA-NA,SI-DU,≈ ¹⁄₆,DU-MA-I-NA,³⁄₈,KU-RO,20,KI-RO

,word,word separator,word,logogram,number,logogram,number,word
HT25b,WI-TE-RO,𐄁,I-TI,VIR+[?],28,VIR+[?],24,KU-RO
KH7a,TA-TA,𐄁,QA-TI-KI,VIR+*313b,4,CYP+D,¹⁄₃,SE-*305
KH5,A-RA-U-DA,𐄁,WI-SA-SA-NE,CYP+E,2,VINb+WI,2,WI-NA-DU

,word separator,word,word separator,word,number,word,number,word
HT26a,𐄁,*312-TE-TE,𐄁,TA-TI,21,MI-KI-SE-NA,15,U-NU-*21F
HT87,𐄁,MA-KA-RI-TE,𐄁,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE
HT117a,𐄁,U-MI-NA-SI,𐄁,U-SU,1,MI-TU,1,KU-RA-MU

      number    logogram number      word number   logogram number     word
HT118     15          KI     10  QA-QA-RU      6         KI      4  A-RI-SU
HT27a      5     VIR+[?]     42     KU-RO    335        CYP      9       𐝕𐝁
HT89      23  JU+*317+QE     22   MA-I-MI     24  VIR+*313a     13    TA-RA

      number logogram number           word logogram number number logogram
HT27a    335      CYP      9             𐝕𐝁       NI     10    ¹⁄₃      VIN
HT129     10       NI     22  TU-*21F-RI-NA      GRA     40    ¹⁄₂   OLE+DI

,word,word separator,logogram,word separator,logogram,number,logogram,number
HT89,A-SA-RA₂,𐄁,*307,𐄁,*305,23,JU+*317+QE,22
HT27b,PA-SE,𐄁,VIN+WA,𐄁,SA,4,RE,70
HT91,I-KA,𐄁,*326,𐄁,GRA,.3,*304,≈ ¹⁄₆

,number,logogram,number,logogram,number,word,number,word
HT49a,1,*370,1,*312,1,KU-PA₃-NU,1,TU-SU-PU₂
HT100,2,*305,5,VIR+*313a,16,KU-RO,97,SA-RA₂
HT28a,1,NI,2,VIN,3,VIR+KA-VIN,6,A-RU-DA-RA
HT94a,7,VIR+*313b,18,TA,4,KU-RO,110,SA-RA₂

,number,word,number,word,logogram,number,logogram,number
HT28a,3,VIR+KA-VIN,6,A-RU-DA-RA,GRA,5,*304,2
HT94a,4,KU-RO,110,SA-RA₂,CYP,5,NI,3
HT123+124a,³⁄₄,KI-RO,.3,SA-RU,OLIV,16,*308,4

      number    logogram number number    logogram number  logogram number
HT32      𐝆𐝇  QA2+[?]+PU      1   ¹⁄₁₆  QA2+[?]+RE      1  MI+JA+RU      1
HT100    ¹⁄₂       OLE+U      2  ≈ ¹⁄₆      OLE+MI      3    OLE+NE    ³⁄₄
TY3a      51    OLE+KI+U      2    ¹⁄₅   OLE+KI+ME      1   OLE+QIf      4

,number,logogram,number,word,word separator,number,word,number
HT32,1,MI+JA+RU,1,SU-RE,𐄁,108,DI,65
HT123+124b,4,*188,1,*188-DU,𐄁,10,TU-PA-DI-DA,13/20

,logogram,number,number,logogram,number,logogram,number,word
ZA6b,GRA+PA,50,¹⁄₄,VIN+RA,40,VIN+KA,10,*312-TA₂
HT129,GRA,33,𐝆𐝁,*304,10,NI,22,TU-*21F-RI-NA
HT32,QA2+[?]+PU,1,¹⁄₁₆,QA2+[?]+RE,1,MI+JA+RU,1,SU-RE

      logogram number    logogram number       word number   logogram number
HT34  SA+MU+KU    100         PA₃     70      KI-RO     37       E+KA   ¹⁄₁₆
HT89      *305     23  JU+*317+QE     22    MA-I-MI     24  VIR+*313a     13
HT38        AU      1         CAP      3  *554-*118      3    TELA+KU      2

      number number    logogram number    logogram number   logogram number
TY3a      15    ¹⁄₄       OLE+U     22       NE-KI      5    OLE+QIf      3
HT34       2     𐝅𐝇  QA2+[?]+PU  ≈ ¹⁄₆  QA2+[?]+RE    ¹⁄₄    MI+JA+I    245
ZA11a      2    ¹⁄₄          JU     𐝈𐝉         VIN    ¹⁄₂  QE+GRA+PA      4

          word number logogram number logogram number       word number
HT38   *403-VS      1       AU      1      CAP      3  *554-*118      3
HT49a     A-RU      1     *370      1     *312      1  KU-PA₃-NU      1

,word,word separator,word,word separator,logogram,number,word,word separator
HT93a,PA₃-NI-NA,𐄁,GRA-PA₃,𐄁,RE+SE,12,DI-RI-NA,𐄁
HT40,NU-DU-*331,𐄁,TE,𐄁,GRA,207,KI-DA-TA,𐄁

      ]logogram[ ]number logogram number logogram number logogram number
HT50a        GRA     ¹⁄₄   OLE+KI    ¹⁄₄   OLE+MI    ¹⁄₂    OLE+E    ¹⁄₂
HT140         KA       4    OLE+U      3       KA      1    OLE+U      1

,word,number,word,number,word also in linear b,number,word,number
PE2,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃,TO-*49-RE,1
HT115a,NA-*21F-NE-MI-NA,1,SE-KU-TU,¹⁄₂,PA-RA-NE,1,A-SE-JA,𐝂𐝂𐝂𐝂
ZA10a,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT85b,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1
HT85a,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4

,word,word separator,word,number,word,number,word,number
HT117a,U-MI-NA-SI,𐄁,U-SU,1,MI-TU,1,KU-RA-MU,1
HT85b,KI-KI-RA-JA,𐄁,KI-RE-TA₂,1,QE-KA,1,PA,1

,word,word separator,word,word separator,word,logogram,number,word
HT96a,A-PA-RA-NE,𐄁,A-AROM-TE,𐄁,SI-MI-TA,GRA,5,RU-SA
HT116a,U-TA-RO,𐄁,TE,𐄁,KU-PA-JA,GRA,16,PU-RA₂

           number   word number    word logogram number number logogram
HT100          16  KU-RO     97  SA-RA₂      CYP      5    ¹⁄₄       NI
HT123+124a    ¹⁄₄  KI-RO    ³⁄₄   KU-RO     OLIV     93    ¹⁄₂     *308

,logogram,number,word,word separator,logogram,number,logogram,number
HT116a,GRA,16,PU-RA₂,𐄁,GRA,40,OLE+DI,5
KH7a,CYP+E,¹⁄₁₆,E-NA-SI,𐄁,VIR+*313b,10,CYP+D,¹⁄₂

,word,word separator,word,word separator,word,word separator,word[,word separator
KNZc7,DU-RA-RE,𐄁,A-ZU-RA,𐄁,JA-SA-RA-A-NA-NE,𐄁,WI-PI,𐄁
IOZa2,A-TA-I-*301-WA-JA,𐄁,JA-DI-KI-TU,𐄁,JA-SA-SA-RA-ME,𐄁,U-NA-KA-NA-SI,𐄁

,word,word separator,word,word separator,word,word separator,word,word separator
CR(?)Zf1,A-MA-WA-SI,𐄁,KA-NI-JA-MI,𐄁,I-JA,𐄁,QA-KI-SE-NU-TI,𐄁
PLZf1,WI-TE-JA-MU,𐄁,U-QE-TI,𐄁,JA-SA-SA-RA-ME,𐄁,TA-NU-NI-KI-NA,𐄁
KNZf31,DA-DU-MI-NE,𐄁,QA-MI-*47-NA-RA,𐄁,A-WA-PI,𐄁,TE-SU-DE-SE-KE-I,𐄁
KOZa1,TU-RU-SA,𐄁,DU-*314-RE,𐄁,I-DA-A,𐄁,U-NA-KA-NA-SI,𐄁
KNZc7,A-KA-NU-ZA-TI,𐄁,DU-RA-RE,𐄁,A-ZU-RA,𐄁,JA-SA-RA-A-NA-NE,𐄁

       number        word number           word number           word number
HT103      13    DA-KU-NA      1    DA-KU-SE-NE      1          KI-RA      5
HT7a        3       DU-JA      4       TA-NA-TI      1          DA-RE      1
HT87        1    JA-RE-MI      1       DI-KI-SE      1       QE-SU-PU      1
HT95a      10    MI-NU-TE     10          SA-RU     20       KU-NI-SU     10
HT117a      1       MI-TU      1       KU-RA-MU      1          MA-RU      1
HT6b    ≈ ¹⁄₆    RA-TI-SE      1     MA-RI-RE-I      3       DU-DA-MA     66
HT11a       2     *322-RI      1          KU-RO     10        A-SU-JA      1
HT99b       6  DA-SI-*118      2          ZU-DU      1       RU-MA-TA      1
HT25a       1     U-RE-WI      1        DI-NA-U      1     A-RI-NI-TA      1
HT115a      1    SE-KU-TU    ¹⁄₂       PA-RA-NE      1        A-SE-JA   𐝂𐝂𐝂𐝂
HT85b       1          DI      1          ME-ZA      1       RE-DI-SE      1
HT88        1       KA-JU      1      KU-PA₃-NU      1       PA-JA-RE      1
HT9a      ³⁄₄     *306-TU     10        DI-NA-U      4          QE-PU      2
PE2       ¹⁄₈   A-*325-ZA    ¹⁄₄        A-RI-PA    ¹⁄₄       QA-QA-DA    ¹⁄₂
HT122a      1       TE-KI      2      QA-*310-I      3    JA-MI-DA-RE      1
HT122b      2    QA-QA-RU      2             DI      2          DA-RE      2
PH2         1  RA-O-DI-KI     60     PI-RU-E-JU     60      SE-SA-PA₃     60
ZA4a       18  QE-SI-ZU-E      4  *28B-NU-MA-RE     13       SI-PI-KI      5
HT10b       1       DA-RE      2       TA-RI-NA     15        *312-TA      6
HT9b        3        A-SI      3        *306-TU      8     *324-DI-RA      2
HT85a      12      PA₃-NI     12      U-*325-ZA      6     DA-SI-*118     24
HT98a       1    TA-NA-TI    ³⁄₄    DI-RE-DI-NA    ¹⁄₂        TE-*301    ³⁄₄
ZA10a       1  A-KU-MI-NA      1     A-TA-NA-TE      1      A-MI-DA-U      1
HT13      ¹⁄₂    KU-ZU-NI     18     DA-SI-*118     19     I-DU-NE-SI      5
HT94b       1    PA-TA-NE      1          DE-DI      1       KE-KI-RU      1
ZA14        1   *21F-*118      1  PU-NI-KA-*363      3       QA-TI-JU      8
HT1       197       ZU-SU     70    DI-DI-ZA-KE     52      KU-PA₃-NU    109
ZA15a     ¹⁄₂    JA-SA-MU      5     SA-MI-DA-E      4  *363-KE-MA-SE      5
HT95b      10    MI-NU-TE     10       KU-NI-SU     10       DI-DE-RU     10
HT6a        𐝓     MA-*321     10    O-RA₂-DI-NE      2       KA-PA-QE      5
HT8a      ¹⁄₂     TE-*301      2      QA-*310-I    ³⁄₄       SI-KI-RA    ¹⁄₄
HT119      67    RI-MI-SI     13          KO-JA     10   KU-PA₃-NA-TU      7
ZA20        4    SI-TE-TU      1          SI-TU      6        TE-AROM     12

,word,word separator,word,number,word,number,word
HT26a,*312-TE-TE,𐄁,TA-TI,21,MI-KI-SE-NA,15,U-NU-*21F
HT88,KI-RO,𐄁,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU
HT1,QE-RA₂-U,𐄁,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE
HT117a,SA-TA,𐄁,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU
HT9b,KA-*305,𐄁,PA-DE,3,A-SI,3,*306-TU
HT94b,KI-RO,𐄁,TU-MA,1,PA-TA-NE,1,DE-DI
HT85b,KI-KI-RA-JA,𐄁,KI-RE-TA₂,1,QE-KA,1,PA

         word word separator logogram number[ ]logogram number logogram
KH14  A-MA-JA              𐄁      CYP       6       CYP    ¹⁄₄     *336
HT2   A-KA-RU              𐄁    OLE+U      20     OLE+A     17    OLE+E

     number           word number        word number number        word
HT6a     10    O-RA₂-DI-NE      2    KA-PA-QE      5    ³⁄₄    DA-QE-RA
ZA8       ?  TA-I-NU-MA-PA    ¹⁄₂  MA-KA-I-SE      2     𐝃𐝆  DA-I-PI-TA
HT8b      5       PA₃-*188      2   QA-*310-I      1    ³⁄₈       KA-PA

      number      word number logogram number     word number
HT23a   ¹⁄₁₆  SA-SA-ME   ¹⁄₁₆    SI+ME     10    KO-RU      1
HT6a      15  PI-TA-JA     24    JA+RU      𐝓  MA-*321     10

      number   logogram number           word number         word number
HT85b      1         KA      1             DI      1        ME-ZA      1
HT118      4         KI      1       RI-RU-MA     10        KU-RO     30
HT6a      24      JA+RU      𐝓        MA-*321     10  O-RA₂-DI-NE      2
HT49a      1       *312      1      KU-PA₃-NU      1    TU-SU-PU₂      1
HT89      24  VIR+*313a     13          TA-RA      5        KU-RO     87
HT23a     10          E     17  *21F-RI-TU-QA   ¹⁄₁₆     SA-SA-ME   ¹⁄₁₆
HT103    ¹⁄₂       *188     13       DA-KU-NA      1  DA-KU-SE-NE      1

      logogram number      word number logogram number     word
HT6a        NI     15  PI-TA-JA     24    JA+RU      𐝓  MA-*321
HT27a  VIR+[?]     42     KU-RO    335      CYP      9       𐝕𐝁

,word,word separator,word,word separator,logogram,number,word
HT17,RA-󽇫-TI,𐄁,TE,𐄁,VIN,37,SA-RO
HT6a,DA-TA-RA,𐄁,TE,𐄁,NI,15,PI-TA-JA
ZA8,KI-RA,𐄁,A-TA-RE,𐄁,NI,¹⁄₂,KU-TU-KO-RE
HT93a,PA₃-NI-NA,𐄁,GRA-PA₃,𐄁,RE+SE,12,DI-RI-NA
HT40,NU-DU-*331,𐄁,TE,𐄁,GRA,207,KI-DA-TA
HT19,RA-*164-TI,𐄁,TE,𐄁,VIN,30,SA-RO
KH88,QA-NU-MA,𐄁,*21F-*118,𐄁,NI,10,PU-DE
HT115b,TI-NU-JA,𐄁,NU-WI,𐄁,GRA,¹⁄₂,DU-PA₃-NA

      logogram number      word number         word number          word
HT6a     JA+RU      𐝓   MA-*321     10  O-RA₂-DI-NE      2      KA-PA-QE
HT103     *188     13  DA-KU-NA      1  DA-KU-SE-NE      1         KI-RA
HT96a      GRA      5     RU-SA      4    *323-*317      1      PI-TA-RA
HT85b       KA      1        DI      1        ME-ZA      1      RE-DI-SE
HT119  VIR+[?]     67  RI-MI-SI     13        KO-JA     10  KU-PA₃-NA-TU

                word number number         word number        word number
HT8b       QA-*310-I      1    ³⁄₈        KA-PA    ¹⁄₂    PA-JA-RE      1
HT6b     WA-DU-NI-MI      3  ≈ ¹⁄₆     RA-TI-SE      1  MA-RI-RE-I      3
HT10b        *312-TA      6    ¹⁄₂     KA-SA-RU      6    TA-NA-TI      9
HT8a              PA      3    ¹⁄₂      TE-*301      2   QA-*310-I    ³⁄₄
HT104        I-DU-TI     20    ¹⁄₂  PA-DA-SU-TI     29       KU-RO     95
HT10a        *305-RU      2    ¹⁄₂     DA-RI-DA      8       ME-ZA      3
HT13           TE-KI     27    ¹⁄₂     KU-ZU-NI     18  DA-SI-*118     19
ZA15a       SI-PI-KI      2    ¹⁄₂     JA-SA-MU      5  SA-MI-DA-E      4
PE2    RU-PI-*305-MI      1    ¹⁄₈    A-*325-ZA    ¹⁄₄     A-RI-PA    ¹⁄₄

                word number        word number number        word number
ZA8    TA-I-NU-MA-PA    ¹⁄₂  MA-KA-I-SE      2     𐝃𐝆  DA-I-PI-TA      2
ZA5b   *28B-NU-MA-RE     20    SI-PI-KI      1    ¹⁄₂  MA-KA-I-TA      3
HT13           TE-TU     56       TE-KI     27    ¹⁄₂    KU-ZU-NI     18
HT6b        DU-DA-MA     66       DA-KI      3    ¹⁄₄       SA-MA     35
ZA15a  *28B-NU-MA-RE      6    SI-PI-KI      2    ¹⁄₂    JA-SA-MU      5
HT10b       TA-RI-NA     15     *312-TA      6    ¹⁄₂    KA-SA-RU      6
HT9a           QE-PU      2  *324-DI-RA      2    ¹⁄₂   TA-I-AROM      2
HT8b        PA₃-*188      2   QA-*310-I      1    ³⁄₈       KA-PA    ¹⁄₂

,word,word separator,logogram,word,number,word,number
HT7a,QE-TI,𐄁,VIR+[?],I-RU-JA,3,DU-JA,4
HT95a,DA-DU-MA-TA,𐄁,GRA,DA-ME,10,MI-NU-TE,10
ZA5a,*21F-*118,𐄁,VIN-SU,KI-NI-MA,7,O-TA-NI-ZA-SE,6

      logogram      word number           word number      word number
ZA15a   ME-VIN  MI-ZA-SE      3  *28B-NU-MA-RE      6  SI-PI-KI      2
HT7a   VIR+[?]   I-RU-JA      3          DU-JA      4  TA-NA-TI      1
HT95a      GRA     DA-ME     10       MI-NU-TE     10     SA-RU     20

      number number           word number number         word number
ZA8        2     𐝃𐝆     DA-I-PI-TA      2    ¹⁄₂      KA-I-RO      4
HT24b      1    ³⁄₄  SI+ME-KI-*118      1    ³⁄₄    *539-*118      1
HT9a       2    ¹⁄₂      TA-I-AROM      2    ¹⁄₂         A-RU      4
HT8a       1    ¹⁄₂             PA      3    ¹⁄₂      TE-*301      2
PE2        3    ¹⁄₃  RU-PI-*305-MI      1    ¹⁄₈    A-*325-ZA    ¹⁄₄
HT104     45    ¹⁄₂        I-DU-TI     20    ¹⁄₂  PA-DA-SU-TI     29

     number        word number number       word number number
HT9a      2  *324-DI-RA      2    ¹⁄₂  TA-I-AROM      2    ¹⁄₂
HT19     30       SA-RO      5    ¹⁄₂   DU-ME-DI     43    ¹⁄₂

      number           word number       word number logogram number
HT23a     17  *21F-RI-TU-QA   ¹⁄₁₆   SA-SA-ME   ¹⁄₁₆    SI+ME     10
HT102     33       DI-RI-NA     10      MA-ZU      3       WI     10
HT49a      1      KU-PA₃-NU      1  TU-SU-PU₂      1       KI      1
HT89      13          TA-RA      5      KU-RO     87      CYP      2
HT11a     10        A-SU-JA      1  VIR+[?]-I      3      TA₂     15

       logogram number  logogram number             word logogram number
HT101    OLE+MI      8    OLE+KI      2           SA-RA₂      GRA     41
HT18     OLE+KI      2      *304      3           SA-RA₂      GRA     10
HT90         NI     10    OLE+DI      3  SI-RU-MA-RI-TA₂      GRA      1
HT129      *304     10        NI     22    TU-*21F-RI-NA      GRA     40
HT14       *304      9      OLIV     13      A-PU₂-NA-DU      GRA     45
HT11b        KA     30        KA     50         RU-ZU-NA       KA     30
HT28b        NI      2       VIN      4           PU-RA₂       NI      6
KH11        CYP    ¹⁄₃  *348-CYP     𐝇𐝉   A-TO-*349-TO-I    CYP+E      3
HT116a   OLE+MI      6      OLIV      3        PI-*34-TE      GRA      5
HT16         WA    ¹⁄₃   *188+KU    ³⁄₈            SA-PO       ZE   ¹⁄₁₆
HT28a    OLE+MI      1    OLE+TU      𐝉           SA-RA₂   OLE+DI      1

         word number logogram number logogram number       word
HT49a    A-RU      1     *370      1     *312      1  KU-PA₃-NU
HT11b  *86-KA     40       KA     30       KA     50   RU-ZU-NA

       number      word word separator  logogram number        word number
HT115b      1  KU-RU-MA              𐄁         I    ¹⁄₂  *306-TU-JA      1
HT93a      20  QA-QA-RU              𐄁  I-GRA+PA      5   VIR+[?]-I      6
HT11b      30  SA-QE-RI              𐄁        KA     30       KU-RO    180

       number logogram number  logogram number             word logogram
HT18       20   OLE+KI      2      *304      3           SA-RA₂      GRA
HT90       20       NI     10    OLE+DI      3  SI-RU-MA-RI-TA₂      GRA
HT101       8   OLE+MI      8    OLE+KI      2           SA-RA₂      GRA
HT14        3     *304      9      OLIV     13      A-PU₂-NA-DU      GRA
HT28b       5       NI      2       VIN      4           PU-RA₂       NI
KH11        4      CYP    ¹⁄₃  *348-CYP     𐝇𐝉   A-TO-*349-TO-I    CYP+E
HT11b      40       KA     30        KA     50         RU-ZU-NA       KA
HT28a     ¹⁄₂   OLE+MI      1    OLE+TU      𐝉           SA-RA₂   OLE+DI
ZA6b      ¹⁄₄   VIN+RA     40    VIN+KA     10         *312-TA₂   GRA+PA
HT116a      1   OLE+MI      6      OLIV      3        PI-*34-TE      GRA

,logogram,number,logogram,number,logogram,number,word
HT90,GRA,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA₂
HT23a,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA
HT100,KI,2,*305,5,VIR+*313a,16,KU-RO
ZA11a,JU,𐝈𐝉,VIN,¹⁄₂,QE+GRA+PA,4,KU-PA
HT18,GRA+QE,20,OLE+KI,2,*304,3,SA-RA₂
HT91,NI,≈ ¹⁄₆,VIN,≈ ¹⁄₆,E,5,TE-RI
HT34,MI+JA+I,245,SA+MU+KU,100,PA₃,70,KI-RO
HT12,CYP+E,3,NI,1,QA2+[?]+PU+RE,¹⁄₁₆,DA-I

            word word separator    logogram number logogram number    logogram
HT32      SA-RA₂              𐄁        *308    ¹⁄₂   OLE+NE     𐝆𐝇  QA2+[?]+PU
HT12    QE-TU-NE              𐄁  QA2+[?]+PU      1        E     30        *560
HT21          TE              𐄁         GRA    161    OLE+U     11       OLE+E
HT23a      KA-NA              𐄁         CYP    ¹⁄₃     *308  ≈ ¹⁄₆      OLE+NE
HT116a    PU-RA₂              𐄁         GRA     40   OLE+DI      5       SI+SE

,number,logogram,number,logogram,number,word,number
HT23a,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¹⁄₁₆
HT127b,15,*301,11,KI+MU,14,KU-RO,291
HT100,2,*305,5,VIR+*313a,16,KU-RO,97
HT28a,1,NI,2,VIN,3,VIR+KA-VIN,6
HT49a,1,*370,1,*312,1,KU-PA₃-NU,1
HT12,3,NI,1,QA2+[?]+PU+RE,¹⁄₁₆,DA-I,50
HT38,1,AU,1,CAP,3,*554-*118,3
HT34,245,SA+MU+KU,100,PA₃,70,KI-RO,37
HT94a,7,VIR+*313b,18,TA,4,KU-RO,110

       number    logogram number    logogram number       logogram number
HT35        1    MI+JA+RU    ¹⁄₃      OLE+RI    ¹⁄₃           *308    ¹⁄₃
HT28b      20      OLE+DI      5          NI      2            VIN      4
HT50a     ¹⁄₄      OLE+MI    ¹⁄₂       OLE+E    ¹⁄₂           *304      1
HT94a      20        TI+A      7   VIR+*313b     18             TA      4
HT34       𐝅𐝇  QA2+[?]+PU  ≈ ¹⁄₆  QA2+[?]+RE    ¹⁄₄        MI+JA+I    245
THEZg5     40          PU      5        *171      7             ZO      9
HT33       𐝃𐝉    MI+JA+KA    ¹⁄₅        *305     90        *341+PI    100
KH11     ¹⁄₁₆          SU      3       CYP+E     𐝇𐝉            VIN  ≈ ¹⁄₆
HT116a     16      OLE+KI      1      OLE+MI      6           OLIV      3
HT90        1          NI      1      OLE+MI      1           *304      1
KH7b      ¹⁄₂     *304+PA      1          SI     14          CYP+K      2
HT127b     24       KI+MU     15        *301     11          KI+MU     14
HT23a     ¹⁄₃        *308  ≈ ¹⁄₆      OLE+NE  ≈ ¹⁄₆         OLE+TU  ≈ ¹⁄₆
HT101      40       OLE+U      8      OLE+MI      8         OLE+KI      2
ZA11a     ¹⁄₄          JU     𐝈𐝉         VIN    ¹⁄₂      QE+GRA+PA      4
TY3a      ¹⁄₄       OLE+U     22       NE-KI      5        OLE+QIf      3
HT14       30      OLE+MI      3      OLE+DI      3           *304      9
HT91    ≈ ¹⁄₆       OLE+U  ≈ ¹⁄₆      OLE+MI  ≈ ¹⁄₆           OLIV  ≈ ¹⁄₆
MA4a       15      HIDE+L    120   HIDE+SA+L     53      HIDE+SA+B     30
HT100      12          KI      2        *305      5      VIR+*313a     16
HT12        5       CYP+E      3          NI      1  QA2+[?]+PU+RE   ¹⁄₁₆
HT28a       5       OLE+U      2      OLE+KI    ¹⁄₂         OLE+MI      1

     number       word number logogram word separator      word number
HT88     20      RE-ZA      6       NI              𐄁  KI-KI-NA      7
HT15    684  GRA+L4+L4    570     *188              𐄁     KI-RO    400

            word logogram        word number        word number logogram
ZA15a  *47-KU-NA   SA-VIN  QE-SI-ZU-E     57  I-TI-NI-SA     10   ME-VIN
HT15    U-*34-SI      GRA   DU-AROM-A    684   GRA+L4+L4    570     *188

           word   logogram number  logogram number   logogram number
HT127b       72  VIR+*313c     24     KI+MU     15       *301     11
HT94a        62        *86     20      TI+A      7  VIR+*313b     18
HT18      PA-SE     GRA+QE     20    OLE+KI      2       *304      3
HT35    I-KU-TA        CYP      1  MI+JA+RU    ¹⁄₃     OLE+RI    ¹⁄₃

     word separator logogram number logogram number    logogram number
HT21              𐄁      GRA    161    OLE+U     11       OLE+E      3
HT91              𐄁   OLE+KI  ≈ ¹⁄₆    OLE+U  ≈ ¹⁄₆      OLE+MI  ≈ ¹⁄₆
HT32              𐄁     *308    ¹⁄₂   OLE+NE     𐝆𐝇  QA2+[?]+PU      1

     logogram number logogram number logogram number number
HT21      GRA    161    OLE+U     11    OLE+E      3    ³⁄₄
TY3a    OLE+U     22    NE-KI      5  OLE+QIf      3    ¹⁄₂

      number      word number   logogram number word also in linear b number
HT89      22   MA-I-MI     24  VIR+*313a     13                 TA-RA      5
HT23a   ¹⁄₁₆  SA-SA-ME   ¹⁄₁₆      SI+ME     10                 KO-RU      1

             word word separator    word logogram number logogram number
HT25b    WI-TE-RO              𐄁    I-TI  VIR+[?]     28  VIR+[?]     24
HT28b  U-MI-NA-SI              𐄁  SA-RA₂      GRA     20   OLE+DI      5

      number    logogram number       word number   logogram number
HT38       1         CAP      3  *554-*118      3    TELA+KU      2
HT34     100         PA₃     70      KI-RO     37       E+KA   ¹⁄₁₆
HT118     15          KI     10   QA-QA-RU      6         KI      4
HT27a      5     VIR+[?]     42      KU-RO    335        CYP      9
HT89      23  JU+*317+QE     22    MA-I-MI     24  VIR+*313a     13

           number    word logogram number number logogram number
HT123+124a     .3  PU-VIN     OLIV     31    ¹⁄₂     *308      8
HT27a           9      𐝕𐝁       NI     10    ¹⁄₃      VIN      7
HT100          97  SA-RA₂      CYP      5    ¹⁄₄       NI      2

      logogram number ]number logogram number    logogram number
MA10b   *412+E      3       4   *402+A      2  TI+*412VAS      2
HT27a  VIR+[?]     90      50      *86     51          RE     20

        logogram number   logogram number        word number        word
HT94a  VIR+*313b     18         TA      4       KU-RO    110      SA-RA₂
HT100       *305      5  VIR+*313a     16       KU-RO     97      SA-RA₂
HT28a         NI      2        VIN      3  VIR+KA-VIN      6  A-RU-DA-RA
HT119       *327     34    VIR+[?]     67    RI-MI-SI     13       KO-JA

           number      word logogram number logogram number number
HT28b           6  WI-DI-NA   OLE+DI      3      VIN      3    ¹⁄₄
HT94a         110    SA-RA₂      CYP      5       NI      3  ≈ ¹⁄₆
HT123+124a    ³⁄₄     DA-TU     OLIV     15     *308      4    ¹⁄₄

,word,word separator,word,word separator,word,logogram,number
HT96a,A-PA-RA-NE,𐄁,A-AROM-TE,𐄁,SI-MI-TA,GRA,5
HT28b,A-SI-JA-KA,𐄁,U-MI-NA-SI,𐄁,SA-RA₂,GRA,20
KH5,A-DA-KI-SI-KA,𐄁,A-RA-U-DA,𐄁,WI-SA-SA-NE,CYP+E,2
KH7a,I-JA-PA-ME,𐄁,TA-TA,𐄁,QA-TI-KI,VIR+*313b,4
HT116a,U-TA-RO,𐄁,TE,𐄁,KU-PA-JA,GRA,16

        logogram number       word logogram number logogram number
HT116a  *OLIV+TU      2   SI-KI-NE      GRA     12     *304     12
KH11         VIN      3  A-TA-*350     *301      1     *306      1
HT28b        VIN      6   WI-DI-NA   OLE+DI      3      VIN      3

,word separator,]word,number,word,number,word,number
HT122a,𐄁,DI,1,TE-KI,2,QA-*310-I,3
HT29,𐄁,KI-TA,2,A-RE-DA-I,2,KA-DU-MA-NE,1
ZA4a,𐄁,TU-ME-SE,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13

,word,word,number,word,number,word,number
HT115a,*301-U-RA,NA-*21F-NE-MI-NA,1,SE-KU-TU,¹⁄₂,PA-RA-NE,1
HT31,KI-DE-MA-*323-NA,*815,400,*815-SU-PA₃-RA,300,*815-PA-TA-QE,3000

      number    logogram number   logogram number   word word separator
HT32    ¹⁄₁₆  QA2+[?]+RE      1   MI+JA+RU      1  SU-RE              𐄁
HT91   ≈ ¹⁄₆         VIN  ≈ ¹⁄₆          E      5  TE-RI              𐄁
ZA11a     𐝈𐝉         VIN    ¹⁄₂  QE+GRA+PA      4  KU-PA              𐄁

            logogram number    logogram number number    logogram number
HTZd157+156     *904      1        *904      1    ¹⁄₂        *904      2
TY3a          OLE+KI     51    OLE+KI+U      2    ¹⁄₅   OLE+KI+ME      1
HT32          OLE+NE     𐝆𐝇  QA2+[?]+PU      1   ¹⁄₁₆  QA2+[?]+RE      1

      ]number logogram number  logogram number logogram number
HT33        3     E+KA     𐝃𐝉  MI+JA+KA    ¹⁄₅     *305     90
HT140       4    OLE+U      3        KA      1    OLE+U      1

       logogram number[ ]logogram number number    logogram number
HT34        GRA     200     E+[ ]      2     𐝅𐝇  QA2+[?]+PU  ≈ ¹⁄₆
HT131a      GRA      58       OLE     12    ¹⁄₂        *304     12

,word,word separator,word,word separator,logogram,word separator,logogram
HT43,MA-SI-DU,𐄁,PA-*342-I,𐄁,I,𐄁,GRA+PA
HT96b,A-PA-RA-NE,𐄁,QA-*118-RA-RE,𐄁,*516,𐄁,GRA

     logogram number logogram[ ]logogram number logogram number
HT58    OLE+U     19    OLE+MI     OLE+E      3     OLIV     41
KH8       CYP    ¹⁄₄   VIR+[?]        NI    ¹⁄₄     *312      1

       number        word number  word[ number logogram number
HT85b       1          PA      1  TE-TU      1       KA      1
HT115b    ¹⁄₂  *306-TU-JA      1    A-I      1  *306+MI      1

     logogram number     word word separator   logogram number logogram
HT91        E      5    TE-RI              𐄁     OLE+MI  ≈ ¹⁄₆        E
KH7a    CYP+E   ¹⁄₁₆  E-NA-SI              𐄁  VIR+*313b     10    CYP+D

            logogram number number      word number number    word
HT123+124a      *308      8    ¹⁄₄     KI-RO      1     .3  PU-VIN
HT93a       DA+RE+SE     43    ¹⁄₂  KI-DI-NI      5     𐝆𐝅    A-SE

,word,word separator,word,word separator,word,word separator,word
KNZc7,A-KA-NU-ZA-TI,𐄁,DU-RA-RE,𐄁,A-ZU-RA,𐄁,JA-SA-RA-A-NA-NE
HT96a,I-TI-TI-KU-NI,𐄁,A-PA-RA-NE,𐄁,A-AROM-TE,𐄁,SI-MI-TA
HT117a,MA-KA-RI-TE,𐄁,KI-RO,𐄁,U-MI-NA-SI,𐄁,U-SU
CR(?)Zf1,A-MA-WA-SI,𐄁,KA-NI-JA-MI,𐄁,I-JA,𐄁,QA-KI-SE-NU-TI
PLZf1,WI-TE-JA-MU,𐄁,U-QE-TI,𐄁,JA-SA-SA-RA-ME,𐄁,TA-NU-NI-KI-NA
KNZf31,DA-DU-MI-NE,𐄁,QA-MI-*47-NA-RA,𐄁,A-WA-PI,𐄁,TE-SU-DE-SE-KE-I
KOZa1,TU-RU-SA,𐄁,DU-*314-RE,𐄁,I-DA-A,𐄁,U-NA-KA-NA-SI

      number number   logogram number logogram number number
TY3a       2    ¹⁄₅  OLE+KI+ME      1  OLE+QIf      4    ¹⁄₂
HT96b     40    ³⁄₄      OLE+U      4       NI      2   ¹⁄₁₆

      logogram number number logogram number logogram number
HT129      GRA     33     𐝆𐝁     *304     10       NI     22
TY3a    OLE+KI     15    ¹⁄₄    OLE+U     22    NE-KI      5
ZA6b    GRA+PA     50    ¹⁄₄   VIN+RA     40   VIN+KA     10
HT100    OLE+U      2  ≈ ¹⁄₆   OLE+MI      3   OLE+NE    ³⁄₄

      number   word number dividing line      word number       word
PK1        1  KA-QA      2             —   A-DU-ZA      1  TA₂-TA-RE
HT108      1  GRA+H     70             —  DI-NA-RO      2   DU-SU-NI

           word number      word number[ word separator     ]word number
HT108  DI-NA-RO      2  DU-SU-NI       5              𐄁    RA₂-TI     10
ZA4a    A-TI-RU      4     JA-PA       1              𐄁  TU-ME-SE     18

,]word,number,word,number,word,number,word
ZA4a,TU-ME-SE,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI
HT122a,DI,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE
HT122b,A-RA-JU-U-DE-ZA,2,QA-QA-RU,2,DI,2,DA-RE
HT123+124b,SI-DU,≈ ¹⁄₆,DU-MA-I-NA,³⁄₈,KU-RO,20,KI-RO

       number     word number ]logogram number       word number
PH3a        1     *563      𐝓      *560      𐝓      PA-RA      𐝓
HT122a      1  *306-TU      1        DU      1  KU-PA₃-NU      1

            logogram number number logogram number number   word
HT123+124a      OLIV     31    ¹⁄₂     *308      8    ³⁄₄  KI-RO
HTZd157+156     *904      2    ¹⁄₄     *904      3    ³⁄₈  TA-JA

           number        word number   word number            word number[
HT123+124b  ≈ ¹⁄₆  DU-MA-I-NA    ³⁄₈  KU-RO     20           KI-RO       5
ZA14            3    QA-TI-JU      8  KU-PI      1  TU-MI-TI-ZA-SE      45

,word,word separator,word,word separator,word,word separator,word[
KNZc7,DU-RA-RE,𐄁,A-ZU-RA,𐄁,JA-SA-RA-A-NA-NE,𐄁,WI-PI
TLZa1,A-TA-I-*301-WA-JA,𐄁,O-SU-QA-RE,𐄁,JA-SA-SA-RA-ME,𐄁,U-NA-KA-NA
IOZa2,A-TA-I-*301-WA-JA,𐄁,JA-DI-KI-TU,𐄁,JA-SA-SA-RA-ME,𐄁,U-NA-KA-NA-SI

     logogram number logogram[ ]logogram number logogram[ lacuna
KH91       TU   ¹⁄₁₆        NI   *401+RU   ¹⁄₁₆   *401+RO      𐝫
KH22       SU      7     CYP+E        SI      4       CYP      𐝫

,]word,word separator,word,word separator,word,word separator,word
PKZa8,NU,𐄁,PA₃-E,𐄁,JA-DI-KI-TE-TE-*307-PU₂-RE,𐄁,TU-ME-I
KNZf31,SI-SI-ZA-NE-*310,𐄁,DA-DU-MI-NE,𐄁,QA-MI-*47-NA-RA,𐄁,A-WA-PI

     number[ dividing line      word logogram number logogram number[
TY3b       6             —  PI-KU-ZU   OLE+KI      4   OLE+MI      11
TY3a       4             —      A-DA    OLE+U     21   OLE+MI       2

                    word number            word number           word number
PE2            A-*325-ZA    ¹⁄₄         A-RI-PA    ¹⁄₄       QA-QA-DA    ¹⁄₂
HT85a           DA-RI-DA     12          PA₃-NI     12      U-*325-ZA      6
HT25a            U-RE-WI      1         DI-NA-U      1     A-RI-NI-TA      1
HT98a           TA-NA-TI    ³⁄₄     DI-RE-DI-NA    ¹⁄₂        TE-*301    ³⁄₄
PH2         A-SE-TU-*21F      1      RA-O-DI-KI     60     PI-RU-E-JU     60
HT9a             *306-TU     10         DI-NA-U      4          QE-PU      2
HT122a             TE-KI      2       QA-*310-I      3    JA-MI-DA-RE      1
HT95a              DA-ME     10        MI-NU-TE     10          SA-RU     20
ZA4a          QE-SI-ZU-E      4   *28B-NU-MA-RE     13       SI-PI-KI      5
HT9b                A-SI      3         *306-TU      8     *324-DI-RA      2
HT122b          QA-QA-RU      2              DI      2          DA-RE      2
HT13            KU-ZU-NI     18      DA-SI-*118     19     I-DU-NE-SI      5
HT94b              TU-MA      1        PA-TA-NE      1          DE-DI      1
HT1                KI-RO    197           ZU-SU     70    DI-DI-ZA-KE     52
ZA10a         A-KU-MI-NA      1      A-TA-NA-TE      1      A-MI-DA-U      1
ZA14            ME-KI-DI      1       *21F-*118      1  PU-NI-KA-*363      3
ZA15a           MI-ZA-SE      3   *28B-NU-MA-RE      6       SI-PI-KI      2
HT31                *815    400  *815-SU-PA₃-RA    300  *815-PA-TA-QE   3000
HT95b              DA-ME     10        MI-NU-TE     10       KU-NI-SU     10
HT87         PI-TA-KE-SI      1        JA-RE-MI      1       DI-KI-SE      1
HT85b          KI-RE-TA₂      1           QE-KA      1             PA      1
HT117a             MI-TU      1        KU-RA-MU      1          MA-RU      1
HT8a             TE-*301      2       QA-*310-I    ³⁄₄       SI-KI-RA    ¹⁄₄
HT6a             MA-*321     10     O-RA₂-DI-NE      2       KA-PA-QE      5
HT11a           KA-RO-NA      2         *322-RI      1          KU-RO     10
ZA20            SI-TE-TU      1           SI-TU      6        TE-AROM     12
HT88          KU-PA₃-PA₃      1           KA-JU      1      KU-PA₃-NU      1
HT119           RI-MI-SI     13           KO-JA     10   KU-PA₃-NA-TU      7
HT103           DA-KU-NA      1     DA-KU-SE-NE      1          KI-RA      5
HT7a             I-RU-JA      3           DU-JA      4       TA-NA-TI      1
HT6b            RA-TI-SE      1      MA-RI-RE-I      3       DU-DA-MA     66
HT99b           SI+SE-NI      6      DA-SI-*118      2          ZU-DU      1
HT115a  NA-*21F-NE-MI-NA      1        SE-KU-TU    ¹⁄₂       PA-RA-NE      1
HT10b               U-TI      1           DA-RE      2       TA-RI-NA     15

           number        word number           word number           word
ZA15a         ¹⁄₂    JA-SA-MU      5     SA-MI-DA-E      4  *363-KE-MA-SE
HT96a           5       RU-SA      4      *323-*317      1       PI-TA-RA
HT8a          ¹⁄₂     TE-*301      2      QA-*310-I    ³⁄₄       SI-KI-RA
HT95b          10    MI-NU-TE     10       KU-NI-SU     10       DI-DE-RU
HT6a            𐝓     MA-*321     10    O-RA₂-DI-NE      2       KA-PA-QE
HT123+124b  ≈ ¹⁄₆  DU-MA-I-NA    ³⁄₈          KU-RO     20          KI-RO
ZA20            4    SI-TE-TU      1          SI-TU      6        TE-AROM
HT119          67    RI-MI-SI     13          KO-JA     10   KU-PA₃-NA-TU
HT103          13    DA-KU-NA      1    DA-KU-SE-NE      1          KI-RA
HT87            1    JA-RE-MI      1       DI-KI-SE      1       QE-SU-PU
HT117a          1       MI-TU      1       KU-RA-MU      1          MA-RU
HT6b        ≈ ¹⁄₆    RA-TI-SE      1     MA-RI-RE-I      3       DU-DA-MA
HT7a            3       DU-JA      4       TA-NA-TI      1          DA-RE
HT11a           2     *322-RI      1          KU-RO     10        A-SU-JA
HT95a          10    MI-NU-TE     10          SA-RU     20       KU-NI-SU
HT25a           1     U-RE-WI      1        DI-NA-U      1     A-RI-NI-TA
HT99b           6  DA-SI-*118      2          ZU-DU      1       RU-MA-TA
HT9a          ³⁄₄     *306-TU     10        DI-NA-U      4          QE-PU
HT88            1       KA-JU      1      KU-PA₃-NU      1       PA-JA-RE
HT115a          1    SE-KU-TU    ¹⁄₂       PA-RA-NE      1        A-SE-JA
PE2           ¹⁄₈   A-*325-ZA    ¹⁄₄        A-RI-PA    ¹⁄₄       QA-QA-DA
HT85b           1          DI      1          ME-ZA      1       RE-DI-SE
HT122b          2    QA-QA-RU      2             DI      2          DA-RE
HT122a          1       TE-KI      2      QA-*310-I      3    JA-MI-DA-RE
PH2             1  RA-O-DI-KI     60     PI-RU-E-JU     60      SE-SA-PA₃
HT10b           1       DA-RE      2       TA-RI-NA     15        *312-TA
ZA4a           18  QE-SI-ZU-E      4  *28B-NU-MA-RE     13       SI-PI-KI
HT13          ¹⁄₂    KU-ZU-NI     18     DA-SI-*118     19     I-DU-NE-SI
HT98a           1    TA-NA-TI    ³⁄₄    DI-RE-DI-NA    ¹⁄₂        TE-*301
HT9b            3        A-SI      3        *306-TU      8     *324-DI-RA
HT85a          12      PA₃-NI     12      U-*325-ZA      6     DA-SI-*118
ZA10a           1  A-KU-MI-NA      1     A-TA-NA-TE      1      A-MI-DA-U
HT94b           1    PA-TA-NE      1          DE-DI      1       KE-KI-RU
HT1           197       ZU-SU     70    DI-DI-ZA-KE     52      KU-PA₃-NU
ZA14            1   *21F-*118      1  PU-NI-KA-*363      3       QA-TI-JU

               word word separator         word number         word number
HT87    MA-KA-RI-TE              𐄁  PI-TA-KE-SI      1     JA-RE-MI      1
HT117b   *21F-TU-NE              𐄁     KU-RE-JU      1     DI-KI-SE      1
HT117a        SA-TA              𐄁  KU-KU-DA-RA      1   KO-SA-I-TI      1
HT85b   KI-KI-RA-JA              𐄁    KI-RE-TA₂      1        QE-KA      1
HT26a    *312-TE-TE              𐄁        TA-TI     21  MI-KI-SE-NA     15
HT1        QE-RA₂-U              𐄁        KI-RO    197        ZU-SU     70
HT88          KI-RO              𐄁   KU-PA₃-PA₃      1        KA-JU      1
HT9b        KA-*305              𐄁        PA-DE      3         A-SI      3
HT94b         KI-RO              𐄁        TU-MA      1     PA-TA-NE      1

     number logogram[         ]word number  word[      ]word
HT39      8        KU      SA-MA-TI     10  KU-RE      KU-RO
HT3       1        RU  SI-TU-RA₂-RE      5     DI  KU-PA₃-NU

          word number number    logogram number number
HT8b  PA-JA-RE      1    ¹⁄₈  *86+'*188'    ¹⁄₂    ¹⁄₂
HT6a  QE-PI-TA     22    ³⁄₄          NI     15    ¹⁄₂

      number           word number        word number number
HT8b       5       PA₃-*188      2   QA-*310-I      1    ³⁄₈
ZA8        ?  TA-I-NU-MA-PA    ¹⁄₂  MA-KA-I-SE      2     𐝃𐝆
HT9a       4          QE-PU      2  *324-DI-RA      2    ¹⁄₂
HT6b       3       DU-DA-MA     66       DA-KI      3    ¹⁄₄
HT6a      10    O-RA₂-DI-NE      2    KA-PA-QE      5    ³⁄₄
ZA15a      3  *28B-NU-MA-RE      6    SI-PI-KI      2    ¹⁄₂
HT13      19     I-DU-NE-SI      5       KU-RO    130    ¹⁄₂
HT10b      2       TA-RI-NA     15     *312-TA      6    ¹⁄₂
HT93a      5      VIR+[?]-I      6    DE-JU-KU      1    ¹⁄₂
HT103      1    DA-KU-SE-NE      1       KI-RA      5    ¹⁄₂

      number          word number   logogram number       word
HT89      22       MA-I-MI     24  VIR+*313a     13      TA-RA
HT119     10  KU-PA₃-NA-TU      7         TI      7    JA-*345
HT26b      3    KA-U-ZU-NI      4      KI+MU     12     I-*308
HT23a   ¹⁄₁₆      SA-SA-ME   ¹⁄₁₆      SI+ME     10      KO-RU
HT27a     42         KU-RO    335        CYP      9         𐝕𐝁
HT118     10      QA-QA-RU      6         KI      4    A-RI-SU
HT10a    ¹⁄₂     U-*325-ZA      4       *301      6  U-*325-ZA
HT102     10         MA-ZU      3         WI     10       I-KA
HT6a      15      PI-TA-JA     24      JA+RU      𐝓    MA-*321

            word word separator logogram number         word       number
KH88   *21F-*118              𐄁       NI     10        PU-DE            8
HT17          TE              𐄁      VIN     37        SA-RO           10
HT19          TE              𐄁      VIN     30        SA-RO            5
HT11b   SA-QE-RI              𐄁       KA     30        KU-RO          180
ZA8      A-TA-RE              𐄁       NI    ¹⁄₂  KU-TU-KO-RE  double mina
HT6a          TE              𐄁       NI     15     PI-TA-JA           24

               word word separator       word word separator logogram number
ZA8           KI-RA              𐄁    A-TA-RE              𐄁       NI    ¹⁄₂
HT93a     PA₃-NI-NA              𐄁    GRA-PA₃              𐄁    RE+SE     12
HT40     NU-DU-*331              𐄁         TE              𐄁      GRA    207
HT17        RA-󽇫-TI              𐄁         TE              𐄁      VIN     37
HT19     RA-*164-TI              𐄁         TE              𐄁      VIN     30
KH88       QA-NU-MA              𐄁  *21F-*118              𐄁       NI     10
HT28a    A-SI-JA-KA              𐄁    JA-*21F              𐄁   GRA+QE      5
HT115b     TI-NU-JA              𐄁      NU-WI              𐄁      GRA    ¹⁄₂
HT92             TE              𐄁       A-DU              𐄁      GRA    680
HT14         PU-VIN              𐄁         TE              𐄁      GRA     30
HT21    PI-TA-KA-SE              𐄁         TE              𐄁      GRA    161
HT6a       DA-TA-RA              𐄁         TE              𐄁       NI     15

      number   logogram number        word number         word
HT103    ¹⁄₂       *188     13    DA-KU-NA      1  DA-KU-SE-NE
HT118      4         KI      1    RI-RU-MA     10        KU-RO
HT6a      24      JA+RU      𐝓     MA-*321     10  O-RA₂-DI-NE
HT102      3         WI     10        I-KA      5        KU-RO
HT28a      2        VIN      3  VIR+KA-VIN      6   A-RU-DA-RA
HT94a     18         TA      4       KU-RO    110       SA-RA₂
HT85b      1         KA      1          DI      1        ME-ZA
HT100      5  VIR+*313a     16       KU-RO     97       SA-RA₂

,word,word separator,word,word separator,word,word separator
IOZa6,TA-NA-I-*301-U-TI-NU,𐄁,I-NA-TA-I-ZU-DI-SI-KA,𐄁,JA-SA-SA-RA-ME,𐄁
KNZf31,DA-DU-MI-NE,𐄁,QA-MI-*47-NA-RA,𐄁,A-WA-PI,𐄁
KOZa1,TU-RU-SA,𐄁,DU-*314-RE,𐄁,I-DA-A,𐄁
HT34,DA-JU-TE,𐄁,SI-*516,𐄁,SA-RA₂,𐄁
KNZc7,A-KA-NU-ZA-TI,𐄁,DU-RA-RE,𐄁,A-ZU-RA,𐄁
IOZa2,A-TA-I-*301-WA-JA,𐄁,JA-DI-KI-TU,𐄁,JA-SA-SA-RA-ME,𐄁
HT96a,I-TI-TI-KU-NI,𐄁,A-PA-RA-NE,𐄁,A-AROM-TE,𐄁
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,𐄁,NI-JA-NU,𐄁,JU-KU-NA-PA-KU-NU-U-I-ZU,𐄁
HT6a,KA-PA,𐄁,DA-TA-RA,𐄁,TE,𐄁
CR(?)Zf1,A-MA-WA-SI,𐄁,KA-NI-JA-MI,𐄁,I-JA,𐄁
TLZa1,A-TA-I-*301-WA-JA,𐄁,O-SU-QA-RE,𐄁,JA-SA-SA-RA-ME,𐄁
HT117a,MA-KA-RI-TE,𐄁,KI-RO,𐄁,U-MI-NA-SI,𐄁
PLZf1,WI-TE-JA-MU,𐄁,U-QE-TI,𐄁,JA-SA-SA-RA-ME,𐄁

        logogram number       word number   logogram number
HT89  JU+*317+QE     22    MA-I-MI     24  VIR+*313a     13
HT6a          NI     15   PI-TA-JA     24      JA+RU      𐝓
HT34         PA₃     70      KI-RO     37       E+KA   ¹⁄₁₆
HT38         CAP      3  *554-*118      3    TELA+KU      2

      number      word word separator      word number       number
HT41a     10  MI-DA-NI              𐄁     PA-JA      2  double mina
HT6a     ³⁄₄  DA-QE-RA              𐄁  QE-PI-TA     22          ³⁄₄

        logogram number           word number         word number
HT23a          E     17  *21F-RI-TU-QA   ¹⁄₁₆     SA-SA-ME   ¹⁄₁₆
HT85b         KA      1             DI      1        ME-ZA      1
HT119    VIR+[?]     67       RI-MI-SI     13        KO-JA     10
HT17         VIN     37          SA-RO     10     SI-DA-RE      5
HT49a       *312      1      KU-PA₃-NU      1    TU-SU-PU₂      1
HT6a       JA+RU      𐝓        MA-*321     10  O-RA₂-DI-NE      2
HT102     GRA+PA     33       DI-RI-NA     10        MA-ZU      3
HT118         KI      1       RI-RU-MA     10        KU-RO     30
HT96a        GRA      5          RU-SA      4    *323-*317      1
HT103       *188     13       DA-KU-NA      1  DA-KU-SE-NE      1
HT93a   I-GRA+PA      5      VIR+[?]-I      6     DE-JU-KU      1
HT89   VIR+*313a     13          TA-RA      5        KU-RO     87

               word number   logogram number      word number
HT89        MA-I-MI     24  VIR+*313a     13     TA-RA      5
HT119  KU-PA₃-NA-TU      7         TI      7   JA-*345     10
HT6a       PI-TA-JA     24      JA+RU      𐝓   MA-*321     10
HT118         MA-DI     15         KI     10  QA-QA-RU      6
HT102         MA-ZU      3         WI     10      I-KA      5
HT23a      SA-SA-ME   ¹⁄₁₆      SI+ME     10     KO-RU      1
HT146       RI-*305     30         MA     30  RI-KA-TA     30

               word number      word number number        word
HT6a    O-RA₂-DI-NE      2  KA-PA-QE      5    ³⁄₄    DA-QE-RA
ZA5b  *28B-NU-MA-RE     20  SI-PI-KI      1    ¹⁄₂  MA-KA-I-TA

      number           word number number         word number
HT8b       2      QA-*310-I      1    ³⁄₈        KA-PA    ¹⁄₂
PE2      ¹⁄₃  RU-PI-*305-MI      1    ¹⁄₈    A-*325-ZA    ¹⁄₄
HT19      30          SA-RO      5    ¹⁄₂     DU-ME-DI     43
ZA5b      20       SI-PI-KI      1    ¹⁄₂   MA-KA-I-TA      3
HT104    ¹⁄₂        I-DU-TI     20    ¹⁄₂  PA-DA-SU-TI     29
ZA15a      6       SI-PI-KI      2    ¹⁄₂     JA-SA-MU      5
HT13      56          TE-KI     27    ¹⁄₂     KU-ZU-NI     18
HT6b      66          DA-KI      3    ¹⁄₄        SA-MA     35
HT8a      10   PA₃-KA-RA-TI      1    ¹⁄₂           PA      3
HT24b    ³⁄₄  SI+ME-KI-*118      1    ³⁄₄    *539-*118      1
HT10b     15        *312-TA      6    ¹⁄₂     KA-SA-RU      6

      number number         word number        word number
HT10a      2    ¹⁄₂     DA-RI-DA      8       ME-ZA      3
HT8a       3    ¹⁄₂      TE-*301      2   QA-*310-I    ³⁄₄
HT104     20    ¹⁄₂  PA-DA-SU-TI     29       KU-RO     95
HT8b       1    ³⁄₈        KA-PA    ¹⁄₂    PA-JA-RE      1
HT13      27    ¹⁄₂     KU-ZU-NI     18  DA-SI-*118     19
HT6b       3  ≈ ¹⁄₆     RA-TI-SE      1  MA-RI-RE-I      3
HT9a       5    ³⁄₄      *306-TU     10     DI-NA-U      4
HT10b      6    ¹⁄₂     KA-SA-RU      6    TA-NA-TI      9
ZA15a      2    ¹⁄₂     JA-SA-MU      5  SA-MI-DA-E      4
PE2        1    ¹⁄₈    A-*325-ZA    ¹⁄₄     A-RI-PA    ¹⁄₄

                   word number number        word number number
ZA8          MA-KA-I-SE      2     𐝃𐝆  DA-I-PI-TA      2    ¹⁄₂
HT19              SA-RO      5    ¹⁄₂    DU-ME-DI     43    ¹⁄₂
HT104    DA-KU-SE-NE-TI     45    ¹⁄₂     I-DU-TI     20    ¹⁄₂
HT36   *307+*387-GRA+QE     64    ¹⁄₂    DU-ZU-WA      7    ¹⁄₂
HT9a         *324-DI-RA      2    ¹⁄₂   TA-I-AROM      2    ¹⁄₂
HT8a       PA₃-KA-RA-TI      1    ¹⁄₂          PA      3    ¹⁄₂

           number number           word number number         word
HT93a          43    ¹⁄₂       KI-DI-NI      5     𐝆𐝅         A-SE
PE2             3    ¹⁄₃  RU-PI-*305-MI      1    ¹⁄₈    A-*325-ZA
HT104          45    ¹⁄₂        I-DU-TI     20    ¹⁄₂  PA-DA-SU-TI
HT24b           1    ³⁄₄  SI+ME-KI-*118      1    ³⁄₄    *539-*118
ZA8             2     𐝃𐝆     DA-I-PI-TA      2    ¹⁄₂      KA-I-RO
HT9a            2    ¹⁄₂      TA-I-AROM      2    ¹⁄₂         A-RU
HT123+124a      8    ¹⁄₄          KI-RO      1     .3       PU-VIN
HT8a            1    ¹⁄₂             PA      3    ¹⁄₂      TE-*301

,word,word separator,word,word separator,logogram,word separator
HT43,MA-SI-DU,𐄁,PA-*342-I,𐄁,I,𐄁
HT9a,SA-RO,𐄁,TE,𐄁,VIN,𐄁
HT96b,A-PA-RA-NE,𐄁,QA-*118-RA-RE,𐄁,*516,𐄁

       word also in linear b number     word number      word number
HT117a                  U-SU      1    MI-TU      1  KU-RA-MU      1
HT9b                   PA-DE      3     A-SI      3   *306-TU      8
HT115a              PA-RA-NE      1  A-SE-JA   𐝂𐝂𐝂𐝂  KA-PO-RU      1

      word separator            word number number       word number
HT10a              𐄁           DA-RE     16    ¹⁄₂  U-*325-ZA      4
HT104              𐄁  DA-KU-SE-NE-TI     45    ¹⁄₂    I-DU-TI     20

      logogram number         word number[         word number
HT10a     *301      6    U-*325-ZA      14      *305-RU      2
TY2    VIR+[?]     82  *309C-DA-JU      17  *309C-RU-KA     30

      number           word number       word number logogram
HT118      1       RI-RU-MA     10      KU-RO     30       KI
HT23a     17  *21F-RI-TU-QA   ¹⁄₁₆   SA-SA-ME   ¹⁄₁₆    SI+ME
HT94b      1          SA-RU      1      KU-RO      5      *86
HT49a      1      KU-PA₃-NU      1  TU-SU-PU₂      1       KI
HT102     33       DI-RI-NA     10      MA-ZU      3       WI
HT89      13          TA-RA      5      KU-RO     87      CYP
HT11a     10        A-SU-JA      1  VIR+[?]-I      3      TA₂

       number       logogram number       logogram number             word
HT11b      40             KA     30             KA     50         RU-ZU-NA
HT49a       1           *370      1           *312      1        KU-PA₃-NU
HT129      𐝆𐝁           *304     10             NI     22    TU-*21F-RI-NA
ZA6b      ¹⁄₄         VIN+RA     40         VIN+KA     10         *312-TA₂
HT23a      10  QA2+[?]+RE+PU     10              E     17    *21F-RI-TU-QA
HT18       20         OLE+KI      2           *304      3           SA-RA₂
HT38        1             AU      1            CAP      3        *554-*118
HT28b       5             NI      2            VIN      4           PU-RA₂
HT14        3           *304      9           OLIV     13      A-PU₂-NA-DU
HT100       2           *305      5      VIR+*313a     16            KU-RO
HT28a       1             NI      2            VIN      3       VIR+KA-VIN
HT91    ≈ ¹⁄₆            VIN  ≈ ¹⁄₆              E      5            TE-RI
HT12        3             NI      1  QA2+[?]+PU+RE   ¹⁄₁₆             DA-I
HT94a       7      VIR+*313b     18             TA      4            KU-RO
HT127b     15           *301     11          KI+MU     14            KU-RO
HT116a      1         OLE+MI      6           OLIV      3        PI-*34-TE
HT101       8         OLE+MI      8         OLE+KI      2           SA-RA₂
HT90       20             NI     10         OLE+DI      3  SI-RU-MA-RI-TA₂
KH11        4            CYP    ¹⁄₃       *348-CYP     𐝇𐝉   A-TO-*349-TO-I
ZA11a      𐝈𐝉            VIN    ¹⁄₂      QE+GRA+PA      4            KU-PA
HT32     ¹⁄₁₆     QA2+[?]+RE      1       MI+JA+RU      1            SU-RE

       number  logogram number             word logogram number
HT16      ¹⁄₃   *188+KU    ³⁄₈            SA-PO       ZE   ¹⁄₁₆
HT28b       2       VIN      4           PU-RA₂       NI      6
HT116a      6      OLIV      3        PI-*34-TE      GRA      5
KH11      ¹⁄₃  *348-CYP     𐝇𐝉   A-TO-*349-TO-I    CYP+E      3
HT28a       1    OLE+TU      𐝉           SA-RA₂   OLE+DI      1
HT18        2      *304      3           SA-RA₂      GRA     10
HT90       10    OLE+DI      3  SI-RU-MA-RI-TA₂      GRA      1
HT101       8    OLE+KI      2           SA-RA₂      GRA     41
HT14        9      OLIV     13      A-PU₂-NA-DU      GRA     45
HT27a     335       CYP      9               𐝕𐝁       NI     10
HT11b      30        KA     50         RU-ZU-NA       KA     30

            word number logogram       number   logogram       number
HT49a       A-RU      1     *370            1       *312            1
MA4a   TA-HIDE+B     15   HIDE+L          120  HIDE+SA+L           53
HT34       KI-RO     37     E+KA         ¹⁄₁₆         PU          ¹⁄₈
HT38     *403-VS      1       AU            1        CAP            3
HT11b     *86-KA     40       KA           30         KA           50
HT94a  *318-*306     11      CYP  double mina         NI  double mina

       logogram number      word word separator    logogram number
HT116a      GRA     16    PU-RA₂              𐄁         GRA     40
HT93a     RE+SE     12  DI-RI-NA              𐄁    DA+RE+SE     43
HT91          E      5     TE-RI              𐄁      OLE+MI  ≈ ¹⁄₆
HT12       *304      5  QE-TU-NE              𐄁  QA2+[?]+PU      1
HT11b        KA     30  SA-QE-RI              𐄁          KA     30
KH7a      CYP+E   ¹⁄₁₆   E-NA-SI              𐄁   VIR+*313b     10

      word separator   logogram number    logogram number        word
HT12               𐄁     OLE+DI      5        *304      5    QE-TU-NE
KH7a               𐄁  VIR+*313b     10       CYP+D    ¹⁄₂  I-JA-PA-ME
HT89               𐄁       *305     23  JU+*317+QE     22     MA-I-MI
HT16               𐄁         WA    ¹⁄₃     *188+KU    ³⁄₈       SA-PO
MA10a              𐄁    *413+SU      2      *412+E      4        *659

             logogram number       logogram number           word number
HT49a            *370      1           *312      1      KU-PA₃-NU      1
HT12               NI      1  QA2+[?]+PU+RE   ¹⁄₁₆           DA-I     50
HT28a              NI      2            VIN      3     VIR+KA-VIN      6
HT127b           *301     11          KI+MU     14          KU-RO    291
HT25b         VIR+[?]     28        VIR+[?]     24          KU-RO     52
HT34         SA+MU+KU    100            PA₃     70          KI-RO     37
HT23a   QA2+[?]+RE+PU     10              E     17  *21F-RI-TU-QA   ¹⁄₁₆
HT94a       VIR+*313b     18             TA      4          KU-RO    110
HT100            *305      5      VIR+*313a     16          KU-RO     97
HT38               AU      1            CAP      3      *554-*118      3
HT89             *305     23     JU+*317+QE     22        MA-I-MI     24
HT119            *327     34        VIR+[?]     67       RI-MI-SI     13

      logogram number logogram word separator logogram number
HT41a     *304     10       RE              𐄁     *304     10
HT12         E     30     *560              𐄁     *118      5

                   word word separator   logogram number logogram number
HT21                 TE              𐄁        GRA    161    OLE+U     11
KH7a            E-NA-SI              𐄁  VIR+*313b     10    CYP+D    ¹⁄₂
HT23a             KA-NA              𐄁        CYP    ¹⁄₃     *308  ≈ ¹⁄₆
HT116a           PU-RA₂              𐄁        GRA     40   OLE+DI      5
HT12        QA-TI-DA-TE              𐄁     OLE+DI      5     *304      5
ZA15b             KU-RO              𐄁        VIN     78   VIN+RA     17
HT32             SA-RA₂              𐄁       *308    ¹⁄₂   OLE+NE     𐝆𐝇
HT14                 TE              𐄁        GRA     30   OLE+MI      3
HT123+124a      KI-TA-I              𐄁       OLIV     31     *308      8
HT28a           JA-*21F              𐄁     GRA+QE      5    OLE+U      2
HT92               A-DU              𐄁        GRA    680     *304     12

          logogram number    logogram number    logogram number
HT50a       OLE+KI    ¹⁄₄      OLE+MI    ¹⁄₂       OLE+E    ¹⁄₂
THEZg5          MA     40          PU      5        *171      7
HT101       GRA+QE     40       OLE+U      8      OLE+MI      8
HT127b   VIR+*313c     24       KI+MU     15        *301     11
HT23a       OLE+RI  ≈ ¹⁄₆    MI+JA+RU  ≈ ¹⁄₆         VIN     10
KH11          *306      4         CYP    ¹⁄₃    *348-CYP     𐝇𐝉
HT116a         GRA     16      OLE+KI      1      OLE+MI      6
HT34    QA2+[?]+PU  ≈ ¹⁄₆  QA2+[?]+RE    ¹⁄₄     MI+JA+I    245
HT90           GRA     20          NI     10      OLE+DI      3
HT140        OLE+U      3          KA      1       OLE+U      1
TY3a         OLE+U     22       NE-KI      5     OLE+QIf      3
HT130       SI-CYP      8          NI      6         VIN      3
ZA11a           JU     𐝈𐝉         VIN    ¹⁄₂   QE+GRA+PA      4
HT28a       GRA+QE      5       OLE+U      2      OLE+KI    ¹⁄₂
HT14           GRA     30      OLE+MI      3      OLE+DI      3
HT91            NI  ≈ ¹⁄₆         VIN  ≈ ¹⁄₆           E      5
MA4a        HIDE+L    120   HIDE+SA+L     53   HIDE+SA+B     30
HT35           CYP      1    MI+JA+RU    ¹⁄₃      OLE+RI    ¹⁄₃
HT12          *118      5       CYP+E      3          NI      1
HT18        GRA+QE     20      OLE+KI      2        *304      3
HT32          *308    ¹⁄₂      OLE+NE     𐝆𐝇  QA2+[?]+PU      1
HT28b          GRA     20      OLE+DI      5          NI      2
HT100         TI+A     12          KI      2        *305      5
HT33          E+KA     𐝃𐝉    MI+JA+KA    ¹⁄₅        *305     90
HT21           GRA    161       OLE+U     11       OLE+E      3
KH7b         CYP+D    ¹⁄₂     *304+PA      1          SI     14
HT94a          *86     20        TI+A      7   VIR+*313b     18

         logogram number   logogram number        word word separator
HT32   QA2+[?]+RE      1   MI+JA+RU      1       SU-RE              𐄁
KH5         CYP+E      2    VINb+WI      2    WI-NA-DU              𐄁
HT12       OLE+DI      5       *304      5    QE-TU-NE              𐄁
KH7a    VIR+*313b     10      CYP+D    ¹⁄₂  I-JA-PA-ME              𐄁
ZA11a         VIN    ¹⁄₂  QE+GRA+PA      4       KU-PA              𐄁
HT91          VIN  ≈ ¹⁄₆          E      5       TE-RI              𐄁

       word separator logogram number logogram number    logogram
HT21                𐄁      GRA    161    OLE+U     11       OLE+E
HT32                𐄁     *308    ¹⁄₂   OLE+NE     𐝆𐝇  QA2+[?]+PU
HT23a               𐄁      CYP    ¹⁄₃     *308  ≈ ¹⁄₆      OLE+NE
HT116a              𐄁      GRA     40   OLE+DI      5       SI+SE
HT91                𐄁   OLE+KI  ≈ ¹⁄₆    OLE+U  ≈ ¹⁄₆      OLE+MI
HT27b               𐄁       SA      1       RE     14         VIN
HT14                𐄁      GRA     30   OLE+MI      3      OLE+DI
HT28a               𐄁   GRA+QE      5    OLE+U      2      OLE+KI

        word separator     word word separator logogram number logogram
HT92                 𐄁     A-DU              𐄁      GRA    680     *304
HT21                 𐄁       TE              𐄁      GRA    161    OLE+U
HT28a                𐄁  JA-*21F              𐄁   GRA+QE      5    OLE+U
HT42+59              𐄁       TE              𐄁   OLE+KI      8    OLE+U
HT14                 𐄁       TE              𐄁      GRA     30   OLE+MI

           number             word logogram number logogram number
HT101           2           SA-RA₂      GRA     41      OLE     10
HT14           13      A-PU₂-NA-DU      GRA     45   OLE+MI      5
HT18            3           SA-RA₂      GRA     10       NI     10
KH11           𐝇𐝉   A-TO-*349-TO-I    CYP+E      3       NI      1
HT28b           6         WI-DI-NA   OLE+DI      3      VIN      3
HT90            3  SI-RU-MA-RI-TA₂      GRA      1       NI      1
HT123+124a     .3            SA-RU     OLIV     16     *308      4
HT94a         110           SA-RA₂      CYP      5       NI      3
HT116a          2         SI-KI-NE      GRA     12     *304     12
HT28a           6       A-RU-DA-RA      GRA      5     *304      2

            word number       word number logogram word separator
HT15   DU-AROM-A    684  GRA+L4+L4    570     *188              𐄁
HT94b      SA-RU      1      KU-RO      5      *86              𐄁

     number word separator logogram number logogram number
HT91  ≈ ¹⁄₆              𐄁   OLE+KI  ≈ ¹⁄₆    OLE+U  ≈ ¹⁄₆
HT16    ¹⁄₈              𐄁       WA    ¹⁄₃  *188+KU    ³⁄₈

     logogram number logogram number      word logogram
HT16       WA    ¹⁄₃  *188+KU    ³⁄₈     SA-PO       ZE
ZA6b   VIN+RA     40   VIN+KA     10  *312-TA₂   GRA+PA

      number logogram number    logogram number number
HT32     ¹⁄₂   OLE+NE     𐝆𐝇  QA2+[?]+PU      1   ¹⁄₁₆
HT21     161    OLE+U     11       OLE+E      3    ³⁄₄
HT96b    ³⁄₄    OLE+U      4          NI      2   ¹⁄₁₆

           logogram number number logogram number number
HT21          OLE+E      3    ³⁄₄     *304      7    ³⁄₄
HT123+124a     OLIV     31    ¹⁄₂     *308      8    ³⁄₄
HT89            CYP      2    ³⁄₄       NI      2    ¹⁄₄

             word logogram number logogram[ number  logogram
HT116a  PI-*34-TE      GRA      5       OLE      5    OLE+MI
HT23b       NI-RA      CYP    ¹⁄₃       OLE    ¹⁄₃  MI+JA+RU

       logogram       number ]number number  logogram number
HT94a        NI  double mina      14    ¹⁄₂        NI    ¹⁄₅
HT24a  MA-RU-ME           10       9    ¹⁄₂  MA-RU-ME      6

                      ]word number        word number         word number
HT25a                 RU-NI      1     U-RE-WI      1      DI-NA-U      1
HT123+124b            SI-DU  ≈ ¹⁄₆  DU-MA-I-NA    ³⁄₈        KU-RO     20
HT29                  KI-TA      2   A-RE-DA-I      2  KA-DU-MA-NE      1
HT122b      A-RA-JU-U-DE-ZA      2    QA-QA-RU      2           DI      2

            ]word number     word[    ]word number word
HT111a      QE-KA      8     QA-SA    QA-RU      8   DI
HT25a   ZU-JU-PU₂      1  DU-RU-WI  I-KI-RA      1   PA

       number      word number        word number     word[
HT85a       5     TE-KE      3       DA-RE      4     KU-RO
HT25a       1   DI-NA-U      1  A-RI-NI-TA      1  TU-QE-NU
HT87        1  QE-SU-PU      1    KU-RU-KU      1      A-RA
HT115a      1   A-SE-JA   𐝂𐝂𐝂𐝂    KA-PO-RU      1  RI-SU-MA
HT85b       1     QE-KA      1          PA      1     TE-TU

      word separator         word   logogram number  logogram number
HT25b              𐄁         I-TI    VIR+[?]     28   VIR+[?]     24
KH7a               𐄁     QA-TI-KI  VIR+*313b      4     CYP+D    ¹⁄₃
KH5                𐄁  WI-SA-SA-NE      CYP+E      2   VINb+WI      2
HT35               𐄁      I-KU-TA        CYP      1  MI+JA+RU    ¹⁄₃

            word   logogram number logogram number      word
HT25b       I-TI    VIR+[?]     28  VIR+[?]     24     KU-RO
HT116a  SI-KI-NE        GRA     12     *304     12  QA-NU-MA
KH7a    QA-TI-KI  VIR+*313b      4    CYP+D    ¹⁄₃   SE-*305

      word separator      word number         word number       word
HT85a              𐄁  DA-RI-DA     12       PA₃-NI     12  U-*325-ZA
HT26a              𐄁     TA-TI     21  MI-KI-SE-NA     15  U-NU-*21F

                  word number         word number            word number[
HT26a            TA-TI     21  MI-KI-SE-NA     15       U-NU-*21F       5
ZA14          QA-TI-JU      8        KU-PI      1  TU-MI-TI-ZA-SE      45
HT123+124b  DU-MA-I-NA    ³⁄₈        KU-RO     20           KI-RO       5

       ]word number        word number logogram number
HT49a  SI-RA      1        A-RU      1     *370      1
HT26b  RO-NI      3  KA-U-ZU-NI      4    KI+MU     12

           word word separator logogram word separator logogram number
HT27b     PA-SE              𐄁   VIN+WA              𐄁       SA      4
HT91       I-KA              𐄁     *326              𐄁      GRA     .3
HT27a  TI-NI-TA              𐄁     *307              𐄁  VIR+[?]     90

                       word logogram number number logogram number
HT27a                    𐝕𐝁       NI     10    ¹⁄₃      VIN      7
HT123+124a           PU-VIN     OLIV     31    ¹⁄₂     *308      8
ZA6b        I-KU-JU-TI-*28B   GRA+PA     50    ¹⁄₄   VIN+RA     40

                          word logogram number logogram number number
HT94a                   SA-RA₂      CYP      5       NI      3  ≈ ¹⁄₆
HTZd157+156  WI-JA-SU-MA-TI-TI     *904      1     *904      1    ¹⁄₂
HT28b                 WI-DI-NA   OLE+DI      3      VIN      3    ¹⁄₄

,word separator,]word,word separator,word,word separator,word
HT31,𐄁,TI-SA,𐄁,PU-KO,𐄁,*410-VS
IOZa2,𐄁,I-PI-NA-MA,𐄁,SI-RU-TE,𐄁,TA-NA-RA-TE-U-TI-NU

             word number           word number              ]word number
HT31  *815-QA-PA₃     10  *415-VS-SU-PU     10  *416-VS-KA-RO-PA₃     10
TY2   *309C-RU-KA     30  *309-RI-WA-JU    160        *309B-RI-JU    250

     number    logogram number number    logogram number
HT32     𐝆𐝇  QA2+[?]+PU      1   ¹⁄₁₆  QA2+[?]+RE      1
HT89     87         CYP      2    ³⁄₄          NI      2
TY3a     51    OLE+KI+U      2    ¹⁄₅   OLE+KI+ME      1

      number      word word separator number       word number
HT96a      1  PI-TA-RA              𐄁      1  *323-*344      1
HT32       1     SU-RE              𐄁    108         DI     65

      number       number    logogram number    logogram number
HT34       2           𐝅𐝇  QA2+[?]+PU  ≈ ¹⁄₆  QA2+[?]+RE    ¹⁄₄
ZA6b      50          ¹⁄₄      VIN+RA     40      VIN+KA     10
TY3a      15          ¹⁄₄       OLE+U     22       NE-KI      5
ZA18a      2  double mina      OLE+KI      ?        OLIV    ¹⁄₄
ZA11a      2          ¹⁄₄          JU     𐝈𐝉         VIN    ¹⁄₂
HT96b     40          ³⁄₄       OLE+U      4          NI      2
HT32       1         ¹⁄₁₆  QA2+[?]+RE      1    MI+JA+RU      1
HT129     33           𐝆𐝁        *304     10          NI     22
HT100      2        ≈ ¹⁄₆      OLE+MI      3      OLE+NE    ³⁄₄

       number[ ]number logogram number  logogram number
HT110b     ¹⁄₂       1       MA      2      *301    ³⁄₄
HT33       𐝉𐝋𐝫       3     E+KA     𐝃𐝉  MI+JA+KA    ¹⁄₅

     number logogram number logogram number logogram[
KH8     ¹⁄₂     *304    ¹⁄₄      CYP    ¹⁄₄   VIR+[?]
HT35    ¹⁄₃   OLE+RI    ¹⁄₃     *308    ¹⁄₃    OLE+TA

        logogram word separator      word word separator logogram number
HT42+59    SI+SE              𐄁        TE              𐄁   OLE+KI      8
ZA1a        *516              𐄁  KI-RE-ZA              𐄁       NI     42

      logogram number logogram number[ ]logogram number
KH14      *336      2      CYP    ¹⁄₁₆        NI    ¹⁄₄
HT44a   OLE+RA      5     OLIV       1        NI      1

      number logogram number logogram number[ lacuna
HT49a      5       TU      4       KI       1      𐝫
KN2        2     *118      3   I+*301       5      𐝫

      number logogram number number[ ]logogram number
HT50a    ¹⁄₂     *304      1     ¹⁄₂      OLIV      3
HT93a     20  VIR+[?]     10     ¹⁄₈        KA      4

            word word separator logogram[ word separator ]word   logogram
HT62+73       TE              𐄁       VIN              𐄁    NA        GRA
KH7a     SE-*305              𐄁        KU              𐄁  KO-E  VIR+*313b

      logogram word separator      word number    word number
HT85a  VIR+[?]              𐄁  DA-RI-DA     12  PA₃-NI     12
HT63      *305              𐄁        TE      1   KA-TI      1

,word,word separator,logogram,word separator,logogram,word separator
HT96b,QA-*118-RA-RE,𐄁,*516,𐄁,GRA,𐄁
HT85a,A-DU,𐄁,*307+*387,𐄁,VIR+[?],𐄁

        logogram word separator logogram word separator      word number
HT118         AU              𐄁     *516              𐄁     MA-DI     15
HT85a  *307+*387              𐄁  VIR+[?]              𐄁  DA-RI-DA     12

       word separator      word number      word word separator        word
HT88                𐄁  KI-KI-NA      7     KI-RO              𐄁  KU-PA₃-PA₃
HT115b              𐄁  PA-RA-NE    ¹⁄₂  TI-NU-JA              𐄁       NU-WI

            logogram number number    word number      word
HT123+124a      *308      8    ³⁄₄   KI-RO     .3     SA-RU
HT93a       I-GRA+PA     26    ³⁄₄  SA-RA₂     20  QA-QA-RU

      number logogram       number  logogram       number ]number
HT94a     11      CYP  double mina        NI  double mina      14
KH12       2     *308          ¹⁄₂  MI+JA+RU          ¹⁄₂     ¹⁄₃

                   word logogram number   word number       word
HT96a          SI-MI-TA      GRA      5  RU-SA      4  *323-*317
HT110a  SI-DU-*34-KU-MI    CYP+E     20  KU-PA      1      KU-RO

,word separator,word,word separator,word,word separator,word
KNZc7,𐄁,DU-RA-RE,𐄁,A-ZU-RA,𐄁,JA-SA-RA-A-NA-NE
HT117a,𐄁,KI-RO,𐄁,U-MI-NA-SI,𐄁,U-SU
PLZf1,𐄁,WI-TE-JA-MU,𐄁,U-QE-TI,𐄁,JA-SA-SA-RA-ME
HT96a,𐄁,A-PA-RA-NE,𐄁,A-AROM-TE,𐄁,SI-MI-TA
CR(?)Zf1,𐄁,KA-NI-JA-MI,𐄁,I-JA,𐄁,QA-KI-SE-NU-TI
PKZa8,𐄁,PA₃-E,𐄁,JA-DI-KI-TE-TE-*307-PU₂-RE,𐄁,TU-ME-I
KOZa1,𐄁,DU-*314-RE,𐄁,I-DA-A,𐄁,U-NA-KA-NA-SI

       ]logogram number       word number         word number
HT109         TA      4      KU-RO    129      A-RA-JU    123
HT122a        DU      1  KU-PA₃-NU      1     DA-RI-DA      1
HT98a         TU      1   TA-NA-TI    ³⁄₄  DI-RE-DI-NA    ¹⁄₂

      logogram number[ logogram number number logogram
HT106      CYP       6       SI      5    ¹⁄₂       SI
HT99a       NI       4      VIN      1  ≈ ¹⁄₆   GRA+QE

      number[ logogram number[ logogram number number
HT99a       4       NI       4      VIN      1  ≈ ¹⁄₆
ZA12a      64       TI      13       RU     28      6

      logogram number[ ]logogram logogram number      word
KH7a     CYP+D       1         I    CYP+E   ¹⁄₁₆   E-NA-SI
HT102   GRA+PA      33   VIR+[?]   GRA+PA     33  DI-RI-NA

      ]logogram number    word word separator logogram number
ZA11b        RA      2   KU-PA              𐄁   GRA+PA      3
HT105   VIR+[?]    234  SA-RA₂              𐄁  VIR+[?]    235

           word logogram number[ logogram number number
PE1    KU-PA-RI  VIR+[?]      50   GRA+PA     26    ¹⁄₂
HT106  MI-NU-TE      CYP       6       SI      5    ¹⁄₂

       logogram number         word       number        word number[
ZA8          NI    ¹⁄₂  KU-TU-KO-RE  double mina  A-RI-NI-TA       1
HT110a    CYP+E     20        KU-PA            1       KU-RO     100

,word,number,word,number,word also in linear b,number
HT115a,NA-*21F-NE-MI-NA,1,SE-KU-TU,¹⁄₂,PA-RA-NE,1
HT117a,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1

       logogram number          word logogram number logogram[
HT128b   GRA+KU      6  VIR+[?]-*329   GRA+KU      1        RU
HT116a     OLIV      3     PI-*34-TE      GRA      5       OLE

            word number       word number dividing line       word
HT117a  NA-DA-RE      1      KU-RO     10             —      SA-TA
PK1      A-DU-ZA      1  TA₂-TA-RE      1             —  TA₂-TI-TE

           word separator   word number logogram number      word
HT118                   𐄁  MA-DI     15       KI     10  QA-QA-RU
HT123+124b              𐄁  PI-SA      4     *188      1   *188-DU

,word,word separator,logogram,word separator,logogram[,]word
HT122b,JE-DI,𐄁,*346,𐄁,VIR+[?],*306-KI-TA₂
ZA11a,DI-DI-KO-RA-ME-TA₂,𐄁,*516,𐄁,GRA+PA,RA-MA-SI

           number           word logogram number number logogram
HT129          22  TU-*21F-RI-NA      GRA     40    ¹⁄₂   OLE+DI
HT123+124a     .3         PU-VIN     OLIV     31    ¹⁄₂     *308

       lacuna ]logogram number[ ]logogram number logogram[
HT131b      𐝫        NI      30      OLIV      2    VIN+SA
KH84        𐝫       CYP     ¹⁄₂      *301      1      *306

,word,word separator,word[,word separator,]word,word separator
KNZa10,NA,𐄁,DA-WA,𐄁,DU-WA-TO,𐄁
IOZa2,JA-SA-SA-RA-ME,𐄁,U-NA-KA-NA-SI,𐄁,I-PI-NA-MA,𐄁

,]word,word separator,word,word separator,word,word separator
PKZa8,NU,𐄁,PA₃-E,𐄁,JA-DI-KI-TE-TE-*307-PU₂-RE,𐄁
IOZa2,I-PI-NA-MA,𐄁,SI-RU-TE,𐄁,TA-NA-RA-TE-U-TI-NU,𐄁

     number logogram number        word word separator     word
KH10    ¹⁄₂      GRA     10  I-PA-SA-JA              𐄁  QA-*118
KH7a     10    CYP+D    ¹⁄₂  I-JA-PA-ME              𐄁    TA-TA
KH5       2  VINb+WI      2    WI-NA-DU              𐄁  *301-NA

       logogram number logogram number[ ]logogram number[
TY3b     OLE+KI      4   OLE+MI      11    OLE+NE       2
KH12  *401+*304    ¹⁄₅  *401+RU      𐝍𐝫   *401+RU      𐝍𐝫

             ]word word separator logogram number logogram number
MA10b  DU-PI-TE-WA              𐄁   *405+Ω      1   *412+E      3
KH20      DU-RE-ZA              𐄁    CYP+E    ¹⁄₂       NI    ¹⁄₄

,word,word,word separator,word,word separator,word
ZAZb3,A-SE,A-TA-I-*301-DE-KA,𐄁,A-RE-PI-RE-NA,𐄁,TI-TI-KU
KOZa1,A-TA-I-*301-WA-JA,TU-RU-SA,𐄁,DU-*314-RE,𐄁,I-DA-A

      ]logogram word separator logogram number logogram number
PH1a         JA              𐄁     *316      1      CYP  ≈ ¹⁄₆
MA10a        RU              𐄁  *413+SU      2   *412+E      4

      word separator      word word separator logogram number       number
ZA18a              𐄁   KU-*321              𐄁   GRA+PA      2  double mina
ZA1a               𐄁  KI-RE-ZA              𐄁       NI     42          ¹⁄₂

          word number           word number       word[ lacuna
ZA7a      U-JU      5        A-RA-TU      4  A-RE-TU-MI      𐝫
ZA5a  KI-NI-MA      7  O-TA-NI-ZA-SE      6  SA-MI-DA-E      𐝫

           number            word number           word number
ZA20            4        SI-TE-TU      1          SI-TU      6
HT98a         ³⁄₄           RO-KE    ¹⁄₂   KA-RI-*310-I    ¹⁄₄
HT119           7         JA-*345     10        *306-TU      2
HT123+124b  ≈ ¹⁄₆      DU-MA-I-NA    ³⁄₈          KU-RO     20
HT8a            2       QA-*310-I    ³⁄₄       SI-KI-RA    ¹⁄₄
HT117a          1        TU-JU-MA      1        U-DI-MI      1
HT95a          10        DI-DE-RU     10       QE-RA₂-U      7
ZA15a         ¹⁄₂        JA-SA-MU      5     SA-MI-DA-E      4
HT102          33        DI-RI-NA     10          MA-ZU      3
HT85b           1           QE-KA      1             PA      1
HT8b            5        PA₃-*188      2      QA-*310-I      1
ZA4a            5           E-*82     50          KA-DI      3
HT115a          1        SE-KU-TU    ¹⁄₂       PA-RA-NE      1
HT88            1        SA-MA-RO      1       DA-TA-RE      1
HT85a          12          PA₃-NI     12      U-*325-ZA      6
HT9b            2           QE-PU      2      TA-I-AROM      2
HT29            2       A-RE-DA-I      2    KA-DU-MA-NE      1
HT122a          1      *324-DI-RA      1          PA-DE      1
HT17           37           SA-RO     10       SI-DA-RE      5
ZA10a           1      A-KU-MI-NA      1     A-TA-NA-TE      1
HT95b          10        MI-NU-TE     10       KU-NI-SU     10
HT109           4           KU-RO    129        A-RA-JU    123
HT49a           1       KU-PA₃-NU      1      TU-SU-PU₂      1
PE2           ¹⁄₄         A-RI-PA    ¹⁄₄       QA-QA-DA    ¹⁄₂
HT10a         ¹⁄₂        DA-RI-DA      8          ME-ZA      3
HT10b         ¹⁄₂        KA-SA-RU      6       TA-NA-TI      9
HT1           197           ZU-SU     70    DI-DI-ZA-KE     52
ZA14            1       *21F-*118      1  PU-NI-KA-*363      3
HT122b          2        QA-QA-RU      2             DI      2
HT31          400  *815-SU-PA₃-RA    300  *815-PA-TA-QE   3000
HT87            1        JA-RE-MI      1       DI-KI-SE      1
HT103          13        DA-KU-NA      1    DA-KU-SE-NE      1
HT23a          17   *21F-RI-TU-QA   ¹⁄₁₆       SA-SA-ME   ¹⁄₁₆
HT7a            3           DU-JA      4       TA-NA-TI      1
HT6b          ¹⁄₄           SA-MA     35      PA₃-NI-NA     17
HT9a          ³⁄₄         *306-TU     10        DI-NA-U      4
HT104         ¹⁄₂     PA-DA-SU-TI     29          KU-RO     95
HT13          ¹⁄₂        KU-ZU-NI     18     DA-SI-*118     19
ZA8             ?   TA-I-NU-MA-PA    ¹⁄₂     MA-KA-I-SE      2
HT94b           1           SA-RU      1          KU-RO      5
HT93a           5       VIR+[?]-I      6       DE-JU-KU      1
HT6a           10     O-RA₂-DI-NE      2       KA-PA-QE      5
HT89           13           TA-RA      5          KU-RO     87
HT96a           5           RU-SA      4      *323-*317      1
HT118           1        RI-RU-MA     10          KU-RO     30
HT25a           1         U-RE-WI      1        DI-NA-U      1
HT11a           2         *322-RI      1          KU-RO     10
HT99b           6      DA-SI-*118      2          ZU-DU      1
PH2             1      RA-O-DI-KI     60     PI-RU-E-JU     60

       word separator         word number         word number
HT9b                𐄁        PA-DE      3         A-SI      3
HT1                 𐄁        KI-RO    197        ZU-SU     70
HT85b               𐄁    KI-RE-TA₂      1        QE-KA      1
HT117b              𐄁     KU-RE-JU      1     DI-KI-SE      1
HT117a              𐄁         U-SU      1        MI-TU      1
HT26a               𐄁        TA-TI     21  MI-KI-SE-NA     15
HT85a               𐄁     DA-RI-DA     12       PA₃-NI     12
HT63                𐄁           TE      1        KA-TI      1
HT94b               𐄁        TU-MA      1     PA-TA-NE      1
HT87                𐄁  PI-TA-KE-SI      1     JA-RE-MI      1

,word,word separator,word,number,word
HT1,QE-RA₂-U,𐄁,KI-RO,197,ZU-SU
HT117a,U-MI-NA-SI,𐄁,U-SU,1,MI-TU
HT94b,KI-RO,𐄁,TU-MA,1,PA-TA-NE
HT87,MA-KA-RI-TE,𐄁,PI-TA-KE-SI,1,JA-RE-MI
HT85b,KI-KI-RA-JA,𐄁,KI-RE-TA₂,1,QE-KA
HT117b,*21F-TU-NE,𐄁,KU-RE-JU,1,DI-KI-SE
SYZa2,A-TA-I-*301-WA-JA,𐄁,JA-SU-MA-TU-OLIV,1,U-NA-KA-NA-SI-OLE
HT88,KI-RO,𐄁,KU-PA₃-PA₃,1,KA-JU
HT26a,*312-TE-TE,𐄁,TA-TI,21,MI-KI-SE-NA
HT9b,KA-*305,𐄁,PA-DE,3,A-SI

     word separator logogram number[ ]logogram number
KH14              𐄁      CYP       6       CYP    ¹⁄₄
HT34              𐄁      GRA     200     E+[ ]      2
HT2               𐄁    OLE+U      20     OLE+A     17

       logogram number[        ]word logogram number[
HT128a   GRA+KU      12        MI-TA   GRA+PA     ¹⁄₂
ARKH3b      GRA       6      PI-*314      GRA       1
HT2       OLE+E       3  KI-RE-TA-NA    OLE+U      54

       logogram number[ ]logogram number number
HT2       OLE+U      54     OLE+A     47      1
HT131a      GRA      58       OLE     12    ¹⁄₂

           word number[ ]number        word number
HT3          DI       2       4       MU-RU      1
HT122a  U-DE-ZA       2       2  DA-SI-*118      2

            ]word number     word[        ]word number
HT111a      QE-KA      8     QA-SA        QA-RU      8
HT25a   ZU-JU-PU₂      1  DU-RU-WI      I-KI-RA      1
HT4      DU-RI-TE      2     PA-RE  TA-PI-SI-DI      1

      ]word number[  ]word number[ lacuna
HT69  MA-DI       4     DI      12      𐝫
HT5   MA-SI      30  WI-DU      10      𐝫

               word word separator           word word separator logogram
HT14         PU-VIN              𐄁             TE              𐄁      GRA
HT96b    A-PA-RA-NE              𐄁  QA-*118-RA-RE              𐄁     *516
HT6a       DA-TA-RA              𐄁             TE              𐄁       NI
HT21    PI-TA-KA-SE              𐄁             TE              𐄁      GRA
HT28a    A-SI-JA-KA              𐄁        JA-*21F              𐄁   GRA+QE
HT43       MA-SI-DU              𐄁      PA-*342-I              𐄁        I
HT92             TE              𐄁           A-DU              𐄁      GRA
ZA8           KI-RA              𐄁        A-TA-RE              𐄁       NI
HT93a     PA₃-NI-NA              𐄁        GRA-PA₃              𐄁    RE+SE
HT40     NU-DU-*331              𐄁             TE              𐄁      GRA
HT17        RA-󽇫-TI              𐄁             TE              𐄁      VIN
HT9a          SA-RO              𐄁             TE              𐄁      VIN
HT19     RA-*164-TI              𐄁             TE              𐄁      VIN
KH88       QA-NU-MA              𐄁      *21F-*118              𐄁       NI
HT115b     TI-NU-JA              𐄁          NU-WI              𐄁      GRA

       number       logogram number           word number
HT94a      18             TA      4          KU-RO    110
HT34      100            PA₃     70          KI-RO     37
HT25b      28        VIR+[?]     24          KU-RO     52
HT89       24      VIR+*313a     13          TA-RA      5
HT127b     11          KI+MU     14          KU-RO    291
HT146      30             MA     30       RI-KA-TA     30
HT6a       24          JA+RU      𐝓        MA-*321     10
HT119      34        VIR+[?]     67       RI-MI-SI     13
HT103     ¹⁄₂           *188     13       DA-KU-NA      1
HT38        1            CAP      3      *554-*118      3
HT12        1  QA2+[?]+PU+RE   ¹⁄₁₆           DA-I     50
HT27a       5        VIR+[?]     42          KU-RO    335
HT49a       1           *312      1      KU-PA₃-NU      1
HT85b       1             KA      1             DI      1
HT100       5      VIR+*313a     16          KU-RO     97
HT28a       2            VIN      3     VIR+KA-VIN      6
HT23a      10              E     17  *21F-RI-TU-QA   ¹⁄₁₆
HT102       3             WI     10           I-KA      5
HT118      15             KI     10       QA-QA-RU      6

            number number    logogram number       number
HT89             2    ³⁄₄          NI      2          ¹⁄₄
HTZd157+156      1    ¹⁄₂        *904      2          ¹⁄₄
HT131a          12    ¹⁄₂        *304     12          ³⁄₄
HT6a            22    ³⁄₄          NI     15          ¹⁄₂
HT8b             1    ¹⁄₈  *86+'*188'    ¹⁄₂          ¹⁄₂
HT100            5    ¹⁄₄          NI      2  double mina
HT123+124a      31    ¹⁄₂        *308      8          ³⁄₄
HT21             3    ³⁄₄        *304      7          ³⁄₄

           number           word number number        word
ZA15a           6       SI-PI-KI      2    ¹⁄₂    JA-SA-MU
HT13           56          TE-KI     27    ¹⁄₂    KU-ZU-NI
HT24b         ³⁄₄  SI+ME-KI-*118      1    ³⁄₄   *539-*118
HT10b          15        *312-TA      6    ¹⁄₂    KA-SA-RU
HT123+124a    ¹⁄₄          KI-RO      1     .3      PU-VIN
HT93a         ¹⁄₂       KI-DI-NI      5     𐝆𐝅        A-SE
HT19           30          SA-RO      5    ¹⁄₂    DU-ME-DI
ZA5b           20       SI-PI-KI      1    ¹⁄₂  MA-KA-I-TA
HT6a            2       KA-PA-QE      5    ³⁄₄    DA-QE-RA
HT8b            2      QA-*310-I      1    ³⁄₈       KA-PA

                        word number            word number           word
HT6a                 MA-*321     10     O-RA₂-DI-NE      2       KA-PA-QE
HT95a                  DA-ME     10        MI-NU-TE     10          SA-RU
HT11a               KA-RO-NA      2         *322-RI      1          KU-RO
ZA15a               MI-ZA-SE      3   *28B-NU-MA-RE      6       SI-PI-KI
HT8a                 TE-*301      2       QA-*310-I    ³⁄₄       SI-KI-RA
HT85b              KI-RE-TA₂      1           QE-KA      1             PA
ZA20                SI-TE-TU      1           SI-TU      6        TE-AROM
HT119               RI-MI-SI     13           KO-JA     10   KU-PA₃-NA-TU
HT103               DA-KU-NA      1     DA-KU-SE-NE      1          KI-RA
HT7a                 I-RU-JA      3           DU-JA      4       TA-NA-TI
HT96a                  RU-SA      4       *323-*317      1       PI-TA-RA
HT123+124b        DU-MA-I-NA    ³⁄₈           KU-RO     20          KI-RO
HT99b               SI+SE-NI      6      DA-SI-*118      2          ZU-DU
HT6b                RA-TI-SE      1      MA-RI-RE-I      3       DU-DA-MA
HT115a      NA-*21F-NE-MI-NA      1        SE-KU-TU    ¹⁄₂       PA-RA-NE
HT10b                   U-TI      1           DA-RE      2       TA-RI-NA
PE2                A-*325-ZA    ¹⁄₄         A-RI-PA    ¹⁄₄       QA-QA-DA
HT25a                U-RE-WI      1         DI-NA-U      1     A-RI-NI-TA
HT122a                 TE-KI      2       QA-*310-I      3    JA-MI-DA-RE
HT98a               TA-NA-TI    ³⁄₄     DI-RE-DI-NA    ¹⁄₂        TE-*301
PH2             A-SE-TU-*21F      1      RA-O-DI-KI     60     PI-RU-E-JU
HT9a                 *306-TU     10         DI-NA-U      4          QE-PU
ZA4a              QE-SI-ZU-E      4   *28B-NU-MA-RE     13       SI-PI-KI
HT122b              QA-QA-RU      2              DI      2          DA-RE
HT26a                  TA-TI     21     MI-KI-SE-NA     15      U-NU-*21F
ZA10a             A-KU-MI-NA      1      A-TA-NA-TE      1      A-MI-DA-U
HT9b                    A-SI      3         *306-TU      8     *324-DI-RA
HT95b                  DA-ME     10        MI-NU-TE     10       KU-NI-SU
HT31                    *815    400  *815-SU-PA₃-RA    300  *815-PA-TA-QE

,word,word separator,word,word separator,word
TLZa1,A-TA-I-*301-WA-JA,𐄁,O-SU-QA-RE,𐄁,JA-SA-SA-RA-ME
CR(?)Zf1,A-MA-WA-SI,𐄁,KA-NI-JA-MI,𐄁,I-JA
IOZa2,A-TA-I-*301-WA-JA,𐄁,JA-DI-KI-TU,𐄁,JA-SA-SA-RA-ME
PLZf1,WI-TE-JA-MU,𐄁,U-QE-TI,𐄁,JA-SA-SA-RA-ME
KOZa1,TU-RU-SA,𐄁,DU-*314-RE,𐄁,I-DA-A
HT96a,I-TI-TI-KU-NI,𐄁,A-PA-RA-NE,𐄁,A-AROM-TE
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,𐄁,NI-JA-NU,𐄁,JU-KU-NA-PA-KU-NU-U-I-ZU
KNZf31,TE-SU-DE-SE-KE-I,𐄁,A-DA-RA,𐄁,TI-DI-TE-QA-TI
KNZc7,A-KA-NU-ZA-TI,𐄁,DU-RA-RE,𐄁,A-ZU-RA
KH5,A-DA-KI-SI-KA,𐄁,A-RA-U-DA,𐄁,WI-SA-SA-NE
HT28b,A-SI-JA-KA,𐄁,U-MI-NA-SI,𐄁,SA-RA₂
PKZa8,PA₃-E,𐄁,JA-DI-KI-TE-TE-*307-PU₂-RE,𐄁,TU-ME-I
HT6a,KA-PA,𐄁,DA-TA-RA,𐄁,TE
HT34,DA-JU-TE,𐄁,SI-*516,𐄁,SA-RA₂
ZAZb3,A-TA-I-*301-DE-KA,𐄁,A-RE-PI-RE-NA,𐄁,TI-TI-KU
HT117a,MA-KA-RI-TE,𐄁,KI-RO,𐄁,U-MI-NA-SI
HT87,*21F-TU-NE,𐄁,MA-KA-RI-TE,𐄁,PI-TA-KE-SI
HTWc3017,QA-KU-RE,𐄁,DI-*306,𐄁,CYP+D-*304+PA
SYZa4,A-TA-I-*301-WA-JA,𐄁,JA-I-NWA-ZA,𐄁,PA₃-NI-WI
IOZa6,TA-NA-I-*301-U-TI-NU,𐄁,I-NA-TA-I-ZU-DI-SI-KA,𐄁,JA-SA-SA-RA-ME
HT116a,U-TA-RO,𐄁,TE,𐄁,KU-PA-JA
KH7a,I-JA-PA-ME,𐄁,TA-TA,𐄁,QA-TI-KI

        word separator       word word separator logogram number
HT28a                𐄁    JA-*21F              𐄁   GRA+QE      5
HT14                 𐄁         TE              𐄁      GRA     30
HT115b               𐄁      NU-WI              𐄁      GRA    ¹⁄₂
HT92                 𐄁       A-DU              𐄁      GRA    680
ZA8                  𐄁    A-TA-RE              𐄁       NI    ¹⁄₂
HT93a                𐄁    GRA-PA₃              𐄁    RE+SE     12
HT17                 𐄁         TE              𐄁      VIN     37
HT40                 𐄁         TE              𐄁      GRA    207
HT19                 𐄁         TE              𐄁      VIN     30
HT21                 𐄁         TE              𐄁      GRA    161
KH88                 𐄁  *21F-*118              𐄁       NI     10
ZA18a                𐄁    KU-*321              𐄁   GRA+PA      2
HT6a                 𐄁         TE              𐄁       NI     15
ZA1a                 𐄁   KI-RE-ZA              𐄁       NI     42
HT42+59              𐄁         TE              𐄁   OLE+KI      8

         logogram number       word number   logogram
HT27a     VIR+[?]     42      KU-RO    335        CYP
HT34          PA₃     70      KI-RO     37       E+KA
HT88       VIR+KA     20      RE-ZA      6         NI
HT118          KI     10   QA-QA-RU      6         KI
HT6a           NI     15   PI-TA-JA     24      JA+RU
HT38          CAP      3  *554-*118      3    TELA+KU
HT89   JU+*317+QE     22    MA-I-MI     24  VIR+*313a

         logogram number           word       number         word
HT89    VIR+*313a     13          TA-RA            5        KU-RO
HT93a    I-GRA+PA      5      VIR+[?]-I            6     DE-JU-KU
HT96a         GRA      5          RU-SA            4    *323-*317
HT85b          KA      1             DI            1        ME-ZA
HT100   VIR+*313a     16          KU-RO           97       SA-RA₂
HT28a         VIN      3     VIR+KA-VIN            6   A-RU-DA-RA
HT17          VIN     37          SA-RO           10     SI-DA-RE
HT49a        *312      1      KU-PA₃-NU            1    TU-SU-PU₂
HT119     VIR+[?]     67       RI-MI-SI           13        KO-JA
HT6a        JA+RU      𐝓        MA-*321           10  O-RA₂-DI-NE
HT115b        GRA    ¹⁄₂      DU-PA₃-NA            1     KU-RU-MA
HT23a           E     17  *21F-RI-TU-QA         ¹⁄₁₆     SA-SA-ME
HT110a      CYP+E     20          KU-PA            1        KU-RO
HT94a          TA      4          KU-RO          110       SA-RA₂
ZA8            NI    ¹⁄₂    KU-TU-KO-RE  double mina   A-RI-NI-TA
HT102      GRA+PA     33       DI-RI-NA           10        MA-ZU
HT118          KI      1       RI-RU-MA           10        KU-RO
HT103        *188     13       DA-KU-NA            1  DA-KU-SE-NE

,word separator,word,word separator,word,word separator
KNZc6,𐄁,NI-JA-NU,𐄁,JU-KU-NA-PA-KU-NU-U-I-ZU,𐄁
HT96a,𐄁,A-PA-RA-NE,𐄁,A-AROM-TE,𐄁
HT117a,𐄁,KI-RO,𐄁,U-MI-NA-SI,𐄁
KOZa1,𐄁,DU-*314-RE,𐄁,I-DA-A,𐄁
TLZa1,𐄁,O-SU-QA-RE,𐄁,JA-SA-SA-RA-ME,𐄁
PKZa8,𐄁,PA₃-E,𐄁,JA-DI-KI-TE-TE-*307-PU₂-RE,𐄁
CR(?)Zf1,𐄁,KA-NI-JA-MI,𐄁,I-JA,𐄁
KNZf31,𐄁,A-DA-RA,𐄁,TI-DI-TE-QA-TI,𐄁
KNZc7,𐄁,DU-RA-RE,𐄁,A-ZU-RA,𐄁
PLZf1,𐄁,WI-TE-JA-MU,𐄁,U-QE-TI,𐄁
IOZa6,𐄁,I-NA-TA-I-ZU-DI-SI-KA,𐄁,JA-SA-SA-RA-ME,𐄁
HT6a,𐄁,DA-TA-RA,𐄁,TE,𐄁
IOZa2,𐄁,SI-RU-TE,𐄁,TA-NA-RA-TE-U-TI-NU,𐄁
HT34,𐄁,SI-*516,𐄁,SA-RA₂,𐄁

                   word number number        word number
HT10b           *312-TA      6    ¹⁄₂    KA-SA-RU      6
HT104    DA-KU-SE-NE-TI     45    ¹⁄₂     I-DU-TI     20
ZA15a          SI-PI-KI      2    ¹⁄₂    JA-SA-MU      5
PE2       RU-PI-*305-MI      1    ¹⁄₈   A-*325-ZA    ¹⁄₄
HT13              TE-KI     27    ¹⁄₂    KU-ZU-NI     18
HT24b     SI+ME-KI-*118      1    ³⁄₄   *539-*118      1
HT10a             DA-RE     16    ¹⁄₂   U-*325-ZA      4
HT19              SA-RO      5    ¹⁄₂    DU-ME-DI     43
ZA8          MA-KA-I-SE      2     𐝃𐝆  DA-I-PI-TA      2
ZA5b           SI-PI-KI      1    ¹⁄₂  MA-KA-I-TA      3
HT36   *307+*387-GRA+QE     64    ¹⁄₂    DU-ZU-WA      7
HT8b          QA-*310-I      1    ³⁄₈       KA-PA    ¹⁄₂
HT6b        WA-DU-NI-MI      3  ≈ ¹⁄₆    RA-TI-SE      1

           number number         word number        word
HT123+124a      8    ³⁄₄        KI-RO     .3       SA-RU
HT10a           2    ¹⁄₂     DA-RI-DA      8       ME-ZA
HT6b            3  ≈ ¹⁄₆     RA-TI-SE      1  MA-RI-RE-I
HT93a          26    ³⁄₄       SA-RA₂     20    QA-QA-RU
HT104          20    ¹⁄₂  PA-DA-SU-TI     29       KU-RO
HT9a            5    ³⁄₄      *306-TU     10     DI-NA-U

      logogram        word number           word number
ZA5a    VIN-SU    KI-NI-MA      7  O-TA-NI-ZA-SE      6
ZA15a   SA-VIN  QE-SI-ZU-E     57     I-TI-NI-SA     10
HT15       GRA   DU-AROM-A    684      GRA+L4+L4    570
HT7a   VIR+[?]     I-RU-JA      3          DU-JA      4
HT95a      GRA       DA-ME     10       MI-NU-TE     10

       word separator  logogram            word number           word
HT7a                𐄁   VIR+[?]         I-RU-JA      3          DU-JA
HT95a               𐄁       GRA           DA-ME     10       MI-NU-TE
HT115a              𐄁  GRA+BOSm  RI-TA-MA-NU-WI      2      *301-U-RA
ZA5a                𐄁    VIN-SU        KI-NI-MA      7  O-TA-NI-ZA-SE

                   word logogram number          word number
HT8a              JE-DI   OLE+KI     10  PA₃-KA-RA-TI      1
HT88               A-DU   VIR+KA     20         RE-ZA      6
HT96a          SI-MI-TA      GRA      5         RU-SA      4
HT110a  SI-DU-*34-KU-MI    CYP+E     20         KU-PA      1
HT108       KI-RE-TA-NA  VIR+[?]      1         GRA+H     70

           number number           word number number
HT9a            2    ¹⁄₂           A-RU      4    ¹⁄₄
HT123+124a      8    ¹⁄₄          KI-RO      1     .3
HT93a          43    ¹⁄₂       KI-DI-NI      5     𐝆𐝅
HT8a            1    ¹⁄₂             PA      3    ¹⁄₂
PE2             3    ¹⁄₃  RU-PI-*305-MI      1    ¹⁄₈
ZA8             2     𐝃𐝆     DA-I-PI-TA      2    ¹⁄₂
HT104          45    ¹⁄₂        I-DU-TI     20    ¹⁄₂
HT24b           1    ³⁄₄  SI+ME-KI-*118      1    ³⁄₄
HT19            5    ¹⁄₂       DU-ME-DI     43    ¹⁄₂
HT36           64    ¹⁄₂       DU-ZU-WA      7    ¹⁄₂

       number word also in linear b number         word number
ZA10a       1            DA-I-PI-TA      1  DU-RE-ZA-SE      2
HT85b       1                 MA-DI      1    QA-*310-I      1
HT89       13                 TA-RA      5        KU-RO     87
PE2       ¹⁄₂                 TO-ME    ¹⁄₃    TO-*49-RE      1
HT115a    ¹⁄₂              PA-RA-NE      1      A-SE-JA   𐝂𐝂𐝂𐝂
HT8b      ³⁄₈                 KA-PA    ¹⁄₂     PA-JA-RE      1
HT85a       5                 TE-KE      3        DA-RE      4
HT122a      1                 PA-DE      1    KU-PA₃-NU      1

                word number        word number number
ZA8    TA-I-NU-MA-PA    ¹⁄₂  MA-KA-I-SE      2     𐝃𐝆
HT8b        PA₃-*188      2   QA-*310-I      1    ³⁄₈
ZA5b   *28B-NU-MA-RE     20    SI-PI-KI      1    ¹⁄₂
HT103    DA-KU-SE-NE      1       KI-RA      5    ¹⁄₂

           word word separator logogram word separator            word
HT35   TI-TI-KU              𐄁     *326              𐄁         I-KU-TA
HT104     TA-PA              𐄁   TE+RO[              𐄁  DA-KU-SE-NE-TI
HT9a         TE              𐄁      VIN              𐄁           PA-DE

        word separator logogram word separator   word word separator
HT42+59              𐄁    SI+SE              𐄁     TE              𐄁
HT9a                 𐄁      VIN              𐄁  PA-DE              𐄁

      number          word number   logogram number
HT89      22       MA-I-MI     24  VIR+*313a     13
HT119     10  KU-PA₃-NA-TU      7         TI      7
HT11a      1     VIR+[?]-I      3        TA₂     15
HT26b      3    KA-U-ZU-NI      4      KI+MU     12
HT49a      1          A-RU      1       *370      1
HT23a   ¹⁄₁₆      SA-SA-ME   ¹⁄₁₆      SI+ME     10
HT27a     42         KU-RO    335        CYP      9
HT38       3     *554-*118      3    TELA+KU      2
HT34      70         KI-RO     37       E+KA   ¹⁄₁₆
HT10a    ¹⁄₂     U-*325-ZA      4       *301      6

       word separator         word word separator         word number
HT10a               𐄁           PA              𐄁        DA-RE     16
HT117a              𐄁   U-MI-NA-SI              𐄁         U-SU      1
HT26a               𐄁   *312-TE-TE              𐄁        TA-TI     21
HT87                𐄁  MA-KA-RI-TE              𐄁  PI-TA-KE-SI      1

           word word separator   word number       number
HT41a  MI-DA-NI              𐄁  PA-JA      2  double mina
HT10a        PA              𐄁  DA-RE     16          ¹⁄₂

                  word number   logogram number       word
HT10a        U-*325-ZA      4       *301      6  U-*325-ZA
HT89           MA-I-MI     24  VIR+*313a     13      TA-RA
HT146          RI-*305     30         MA     30   RI-KA-TA
HT26b       KA-U-ZU-NI      4      KI+MU     12     I-*308
HT123+124b       PI-SA      4       *188      1    *188-DU
HT118         QA-QA-RU      6         KI      4    A-RI-SU
HT27a            KU-RO    335        CYP      9         𐝕𐝁

      number logogram number       word number[
HT140      1    OLE+U      2      KA-PA     ¹⁄₂
HT26b      4    KI+MU     12     I-*308       2
HT10a      4     *301      6  U-*325-ZA      14
MA10a      2   *412+E      4       *659       4

      number            word number[         word number
HT10a      6       U-*325-ZA      14      *305-RU      2
ZA14       1  TU-MI-TI-ZA-SE      45     PA-NU-QE      2
TY2       82     *309C-DA-JU      17  *309C-RU-KA     30

           word word separator     word number word separator
HT16   KA-KU-PA              𐄁  DI-NA-U    ¹⁄₈              𐄁
HT10a  KU-NI-SU              𐄁    SA-MA      4              𐄁

                word number          word number logogram
HT11a        A-SU-JA      1     VIR+[?]-I      3      TA₂
HT49a      KU-PA₃-NU      1     TU-SU-PU₂      1       KI
HT102       DI-RI-NA     10         MA-ZU      3       WI
HT89           TA-RA      5         KU-RO     87      CYP
HT119          KO-JA     10  KU-PA₃-NA-TU      7       TI
HT23a  *21F-RI-TU-QA   ¹⁄₁₆      SA-SA-ME   ¹⁄₁₆    SI+ME
HT15       DU-AROM-A    684     GRA+L4+L4    570     *188
HT118       RI-RU-MA     10         KU-RO     30       KI

             number    logogram number       logogram number
HT100            12          KI      2           *305      5
HT101            40       OLE+U      8         OLE+MI      8
HT127b           24       KI+MU     15           *301     11
HT23a            10  QA2+[?]+RE     10  QA2+[?]+RE+PU     10
HT116a           16      OLE+KI      1         OLE+MI      6
HT94a            20        TI+A      7      VIR+*313b     18
ZA11a           ¹⁄₄          JU     𐝈𐝉            VIN    ¹⁄₂
HT34             𐝅𐝇  QA2+[?]+PU  ≈ ¹⁄₆     QA2+[?]+RE    ¹⁄₄
KH11           ¹⁄₁₆          SU      3          CYP+E     𐝇𐝉
HT90              1          NI      1         OLE+MI      1
TY3a            ¹⁄₄       OLE+U     22          NE-KI      5
HT130             8          NI      6            VIN      3
HT32            ¹⁄₂      OLE+NE     𐝆𐝇     QA2+[?]+PU      1
ZA18a   double mina      OLE+KI      ?           OLIV    ¹⁄₄
KH8             ¹⁄₂        *304    ¹⁄₄            CYP    ¹⁄₄
HT140             3          KA      1          OLE+U      1
HT35              1    MI+JA+RU    ¹⁄₃         OLE+RI    ¹⁄₃
HT96b           ³⁄₄       OLE+U      4             NI      2
HT11b            40          KA     30             KA     50
HT14              3      OLE+DI      3           *304      9
HT49a             1        *370      1           *312      1
HT91          ≈ ¹⁄₆         VIN  ≈ ¹⁄₆              E      5
MA4a             15      HIDE+L    120      HIDE+SA+L     53
HT129            𐝆𐝁        *304     10             NI     22
HT12              5       CYP+E      3             NI      1
ZA6b            ¹⁄₄      VIN+RA     40         VIN+KA     10
HT38              3     TELA+KU      2      TELA+*312      1
HT28a             2      OLE+KI    ¹⁄₂         OLE+MI      1
HT18             20      OLE+KI      2           *304      3
HT28b            20      OLE+DI      5             NI      2
HT21            161       OLE+U     11          OLE+E      3
HT50a           ¹⁄₄      OLE+MI    ¹⁄₂          OLE+E    ¹⁄₂
THEZg5           40          PU      5           *171      7
HT33             𐝃𐝉    MI+JA+KA    ¹⁄₅           *305     90
KH12              2        *308    ¹⁄₂       MI+JA+RU    ¹⁄₂
KH7b            ¹⁄₂     *304+PA      1             SI     14

             logogram number    logogram number             word
HT11b              KA     30          KA     50         RU-ZU-NA
HT38               AU      1         CAP      3        *554-*118
HT119            *327     34     VIR+[?]     67         RI-MI-SI
HT49a            *370      1        *312      1        KU-PA₃-NU
HT23a   QA2+[?]+RE+PU     10           E     17    *21F-RI-TU-QA
ZA6b           VIN+RA     40      VIN+KA     10         *312-TA₂
HT28a          OLE+MI      1      OLE+TU      𐝉           SA-RA₂
MA10a         *413+SU      2      *412+E      4             *659
HT18           OLE+KI      2        *304      3           SA-RA₂
KH5             CYP+E      2     VINb+WI      2         WI-NA-DU
HT14             *304      9        OLIV     13      A-PU₂-NA-DU
HT129            *304     10          NI     22    TU-*21F-RI-NA
HT28b              NI      2         VIN      4           PU-RA₂
HT12           OLE+DI      5        *304      5         QE-TU-NE
HT91              VIN  ≈ ¹⁄₆           E      5            TE-RI
HT100            *305      5   VIR+*313a     16            KU-RO
HT94a       VIR+*313b     18          TA      4            KU-RO
HT16               WA    ¹⁄₃     *188+KU    ³⁄₈            SA-PO
HT127b           *301     11       KI+MU     14            KU-RO
HT25b         VIR+[?]     28     VIR+[?]     24            KU-RO
HT34         SA+MU+KU    100         PA₃     70            KI-RO
HT101          OLE+MI      8      OLE+KI      2           SA-RA₂
KH7a        VIR+*313b     10       CYP+D    ¹⁄₂       I-JA-PA-ME
HT90               NI     10      OLE+DI      3  SI-RU-MA-RI-TA₂
KH11              CYP    ¹⁄₃    *348-CYP     𐝇𐝉   A-TO-*349-TO-I
HT116a         OLE+MI      6        OLIV      3        PI-*34-TE
HT89             *305     23  JU+*317+QE     22          MA-I-MI
ZA11a             VIN    ¹⁄₂   QE+GRA+PA      4            KU-PA
HT32       QA2+[?]+RE      1    MI+JA+RU      1            SU-RE

           word word separator logogram number      word
HT11b  SA-QE-RI              𐄁       KA     30     KU-RO
HT40         TE              𐄁      GRA    207  KI-DA-TA

       number      word word separator    logogram number
HT116a     16    PU-RA₂              𐄁         GRA     40
ZA11b       2     KU-PA              𐄁      GRA+PA      3
HT91        5     TE-RI              𐄁      OLE+MI  ≈ ¹⁄₆
HT11b      30  SA-QE-RI              𐄁          KA     30
KH7a     ¹⁄₁₆   E-NA-SI              𐄁   VIR+*313b     10
HT93a      12  DI-RI-NA              𐄁    DA+RE+SE     43
HT12        5  QE-TU-NE              𐄁  QA2+[?]+PU      1
HT105     234    SA-RA₂              𐄁     VIR+[?]    235
HT115b      1  KU-RU-MA              𐄁           I    ¹⁄₂

        logogram number             word logogram number
HT14        OLIV     13      A-PU₂-NA-DU      GRA     45
HT28a     OLE+TU      𐝉           SA-RA₂   OLE+DI      1
HT129         NI     22    TU-*21F-RI-NA      GRA     40
HT101     OLE+KI      2           SA-RA₂      GRA     41
HT128b    GRA+KU      6     VIR+[?]-*329   GRA+KU      1
HT16     *188+KU    ³⁄₈            SA-PO       ZE   ¹⁄₁₆
HT90      OLE+DI      3  SI-RU-MA-RI-TA₂      GRA      1
HT28b        VIN      4           PU-RA₂       NI      6
HT18        *304      3           SA-RA₂      GRA     10
HT11b         KA     50         RU-ZU-NA       KA     30
KH11    *348-CYP     𐝇𐝉   A-TO-*349-TO-I    CYP+E      3
HT27a        CYP      9               𐝕𐝁       NI     10

                   word word separator   logogram number logogram
HT92               A-DU              𐄁        GRA    680     *304
HT21                 TE              𐄁        GRA    161    OLE+U
HT28a           JA-*21F              𐄁     GRA+QE      5    OLE+U
KH7a            E-NA-SI              𐄁  VIR+*313b     10    CYP+D
HT91              TE-RI              𐄁     OLE+MI  ≈ ¹⁄₆        E
HT42+59              TE              𐄁     OLE+KI      8    OLE+U
HT12        QA-TI-DA-TE              𐄁     OLE+DI      5     *304
HT103             U-TA₂              𐄁         NI     40      PA₃
HT23a             KA-NA              𐄁        CYP    ¹⁄₃     *308
HT116a           PU-RA₂              𐄁        GRA     40   OLE+DI
ZA15b             KU-RO              𐄁        VIN     78   VIN+RA
HT32             SA-RA₂              𐄁       *308    ¹⁄₂   OLE+NE
HT14                 TE              𐄁        GRA     30   OLE+MI
HT123+124a      KI-TA-I              𐄁       OLIV     31     *308

           number   logogram number        word word separator
KH7a           10      CYP+D    ¹⁄₂  I-JA-PA-ME              𐄁
HT32            1   MI+JA+RU      1       SU-RE              𐄁
ZA11a         ¹⁄₂  QE+GRA+PA      4       KU-PA              𐄁
KH10          ¹⁄₂        GRA     10  I-PA-SA-JA              𐄁
HT12            5       *304      5    QE-TU-NE              𐄁
KH5             2    VINb+WI      2    WI-NA-DU              𐄁
HT91        ≈ ¹⁄₆          E      5       TE-RI              𐄁
HT123+124b      4       *188      1     *188-DU              𐄁

          logogram number    logogram number   logogram
HT35           CYP      1    MI+JA+RU    ¹⁄₃     OLE+RI
HT27b           SA      1          RE     14        VIN
HT28b          GRA     20      OLE+DI      5         NI
HT100         TI+A     12          KI      2       *305
HT33          E+KA     𐝃𐝉    MI+JA+KA    ¹⁄₅       *305
HT50a       OLE+KI    ¹⁄₄      OLE+MI    ¹⁄₂      OLE+E
KH7b         CYP+D    ¹⁄₂     *304+PA      1         SI
HT94a          *86     20        TI+A      7  VIR+*313b
HT127b   VIR+*313c     24       KI+MU     15       *301
THEZg5          MA     40          PU      5       *171
KH11           CYP   ¹⁄₁₆          SU      3      CYP+E
HT34    QA2+[?]+PU  ≈ ¹⁄₆  QA2+[?]+RE    ¹⁄₄    MI+JA+I
HT101       GRA+QE     40       OLE+U      8     OLE+MI
HT90           GRA     20          NI     10     OLE+DI
HT140        OLE+U      3          KA      1      OLE+U
HT130       SI-CYP      8          NI      6        VIN
TY3a         OLE+U     22       NE-KI      5    OLE+QIf
ZA11a           JU     𐝈𐝉         VIN    ¹⁄₂  QE+GRA+PA
HT12    QA2+[?]+PU      1           E     30       *560
HT116a         GRA     40      OLE+DI      5      SI+SE
MA4a        HIDE+L    120   HIDE+SA+L     53  HIDE+SA+B
HT18        GRA+QE     20      OLE+KI      2       *304

           word separator   logogram number    logogram number
HT123+124a              𐄁       OLIV     31        *308      8
KH7a                    𐄁  VIR+*313b     10       CYP+D    ¹⁄₂
HT89                    𐄁       *305     23  JU+*317+QE     22
HT12                    𐄁     OLE+DI      5        *304      5
HT116a                  𐄁        GRA     40      OLE+DI      5
HT14                    𐄁        GRA     30      OLE+MI      3
KH20                    𐄁      CYP+E    ¹⁄₂          NI    ¹⁄₄
MA10a                   𐄁    *413+SU      2      *412+E      4
HT27b                   𐄁         SA      1          RE     14
HT92                    𐄁        GRA    680        *304     12
HT21                    𐄁        GRA    161       OLE+U     11
HT32                    𐄁       *308    ¹⁄₂      OLE+NE     𐝆𐝇
HT28a                   𐄁     GRA+QE      5       OLE+U      2
HT91                    𐄁        GRA     .3        *304  ≈ ¹⁄₆
PH1a                    𐄁       *316      1         CYP  ≈ ¹⁄₆
ZA15b                   𐄁        VIN     78      VIN+RA     17
MA10b                   𐄁     *405+Ω      1      *412+E      3
HT23a                   𐄁        CYP    ¹⁄₃        *308  ≈ ¹⁄₆
HT16                    𐄁         WA    ¹⁄₃     *188+KU    ³⁄₈

           logogram word separator        word word separator   word
HT13            VIN              𐄁          TE              𐄁  RE-ZA
HT26a    *406VAS+KE              𐄁  *312-TE-TE              𐄁  TA-TI
LACHZa1          MI              𐄁     RI-DA-U              𐄁  SE-JE

     number[         word number           word number
HT13     ¹⁄₂        TE-TU     56          TE-KI     27
TY2       17  *309C-RU-KA     30  *309-RI-WA-JU    160

             word logogram word separator        word word separator
ZA11b     E-TO-RI     *516              𐄁  SA-*301-RI              𐄁
HT13   KA-U-DE-TA      VIN              𐄁          TE              𐄁

                          word   logogram number  logogram number
KH11                 A-TA-*350       *301      1      *306      1
HT123+124a               DA-TU       OLIV     15      *308      4
KH7a                  QA-TI-KI  VIR+*313b      4     CYP+D    ¹⁄₃
HT25b                     I-TI    VIR+[?]     28   VIR+[?]     24
HT90                    SA-RA₂        GRA     20        NI     10
HTZd157+156  WI-JA-SU-MA-TI-TI       *904      1      *904      1
HT18                     PA-SE     GRA+QE     20    OLE+KI      2
HT116a                SI-KI-NE        GRA     12      *304     12
HT14               A-PU₂-NA-DU        GRA     45    OLE+MI      5
HT28b                   SA-RA₂        GRA     20    OLE+DI      5
HT28a                   SA-RA₂     OLE+DI      1        NI      2
HT35                   I-KU-TA        CYP      1  MI+JA+RU    ¹⁄₃
HT94a                       62        *86     20      TI+A      7
KH5                WI-SA-SA-NE      CYP+E      2   VINb+WI      2
HT127b                      72  VIR+*313c     24     KI+MU     15
HT101               ZU-*22F-DI     GRA+QE     40     OLE+U      8

               logogram number number    logogram number
HT27a                NI     10    ¹⁄₃         VIN      7
ZA1a                 NI     42    ¹⁄₂          ZA      5
TY3a             OLE+KI     15    ¹⁄₄       OLE+U     22
HT21              OLE+E      3    ³⁄₄        *304      7
HTZd157+156        *904      2    ¹⁄₄        *904      3
HT89                CYP      2    ³⁄₄          NI      2
HT100               CYP      5    ¹⁄₄          NI      2
HT123+124a         OLIV     31    ¹⁄₂        *308      8
ZA6b             GRA+PA     50    ¹⁄₄      VIN+RA     40
HT106                SI      5    ¹⁄₂          SI      1
HT101              OLIV      1    ¹⁄₄    *OLIV+TU      1
HT129               GRA     33     𐝆𐝁        *304     10
HT32         QA2+[?]+PU      1   ¹⁄₁₆  QA2+[?]+RE      1

      ]number number  logogram number         word
HT24a       9    ¹⁄₂  MA-RU-ME      6  PA-SA-RI-JA
HT103       6    ¹⁄₂      *188     13     DA-KU-NA

            word number           word number       word[
HT87    QE-SU-PU      1       KU-RU-KU      1        A-RA
HT115a   A-SE-JA   𐝂𐝂𐝂𐝂       KA-PO-RU      1    RI-SU-MA
HT85b      QE-KA      1             PA      1       TE-TU
HT63          TE      1          KA-TI      1      SU-PU₂
ZA7a        U-JU      5        A-RA-TU      4  A-RE-TU-MI
ZA5a    KI-NI-MA      7  O-TA-NI-ZA-SE      6  SA-MI-DA-E
HT85a      TE-KE      3          DA-RE      4       KU-RO
HT25a    DI-NA-U      1     A-RI-NI-TA      1    TU-QE-NU

            word number      word word separator        word
HT115b  PA-RA-NE    ¹⁄₂  TI-NU-JA              𐄁       NU-WI
HT88    KI-KI-NA      7     KI-RO              𐄁  KU-PA₃-PA₃
HT25b      KU-RO     16  WI-TE-RO              𐄁        I-TI

              word word separator         word   logogram number
HT116a          TE              𐄁     KU-PA-JA        GRA     16
HT25b     WI-TE-RO              𐄁         I-TI    VIR+[?]     28
HT28b   U-MI-NA-SI              𐄁       SA-RA₂        GRA     20
KH7a         TA-TA              𐄁     QA-TI-KI  VIR+*313b      4
KH5      A-RA-U-DA              𐄁  WI-SA-SA-NE      CYP+E      2
HT133         A-DU              𐄁           TE     GRA+DA     55
HT96a    A-AROM-TE              𐄁     SI-MI-TA        GRA      5

           number         word       number            word number[
ZA8           ¹⁄₂  KU-TU-KO-RE  double mina      A-RI-NI-TA       1
HT26a          21  MI-KI-SE-NA           15       U-NU-*21F       5
HT110a         20        KU-PA            1           KU-RO     100
HT123+124b    ³⁄₈        KU-RO           20           KI-RO       5
ZA14            8        KU-PI            1  TU-MI-TI-ZA-SE      45

      word separator    logogram word separator logogram number
HT91               𐄁        *326              𐄁      GRA     .3
HT89               𐄁        *307              𐄁     *305     23
HT26b              𐄁  *406VAS+KE              𐄁  VIR+[?]      9
HT27a              𐄁        *307              𐄁  VIR+[?]     90
HT27b              𐄁      VIN+WA              𐄁       SA      7

      logogram number         word number[         word
TY2    VIR+[?]     82  *309C-DA-JU      17  *309C-RU-KA
HT26b    KI+MU     12       I-*308       2     *188-*86

       ]number logogram number    logogram number
MA10b        4   *402+A      2  TI+*412VAS      2
HT110b       1       MA      2        *301    ³⁄₄
HT50a      ¹⁄₄   OLE+KI    ¹⁄₄      OLE+MI    ¹⁄₂
HT140        4    OLE+U      3          KA      1
HT27a       50      *86     51          RE     20
HT33         3     E+KA     𐝃𐝉    MI+JA+KA    ¹⁄₅

                 word word separator   logogram word separator  logogram
HT89         A-SA-RA₂              𐄁       *307              𐄁      *305
HT27a        TI-NI-TA              𐄁       *307              𐄁   VIR+[?]
HT85a            A-DU              𐄁  *307+*387              𐄁   VIR+[?]
HT115a   *47-NU-RA-JA              𐄁          I              𐄁  GRA+BOSm
HT27b           PA-SE              𐄁     VIN+WA              𐄁        SA
HT91             I-KA              𐄁       *326              𐄁       GRA
HT96b   QA-*118-RA-RE              𐄁       *516              𐄁       GRA
HT43        PA-*342-I              𐄁          I              𐄁    GRA+PA

           word[     ]word number logogram number
HT27a    KU-*305  SA-RA-DI      5  VIR+[?]     42
HT93a  PA₃-NI-NA  PA-SE-JA     20  VIR+[?]     10

      logogram word separator logogram number    logogram
HT41a     *305              𐄁     *304     10          RE
HT89      *307              𐄁     *305     23  JU+*317+QE
HT27b      GRA              𐄁       SA      1          RE
HT91      *326              𐄁      GRA     .3        *304

      logogram number logogram number logogram[
HT27b       SA      4       RE     70       VIN
KH8       *304    ¹⁄₄      CYP    ¹⁄₄   VIR+[?]

      ]logogram word separator logogram number logogram[
HT27b       GRA              𐄁       SA      4        RE
KH22         ZA              𐄁       SU      7     CYP+E

         word logogram number     word logogram
HT102  SA-RA₂      GRA    976   PA₃-NI   GRA+PA
HT28b  PU-RA₂       NI      6  JA-*21F      VIN

            logogram number  logogram number number
HT96b          OLE+U      4        NI      2   ¹⁄₁₆
HT28b         OLE+DI      3       VIN      3    ¹⁄₄
HTZd157+156     *904      1      *904      1    ¹⁄₂
HT94a            CYP      5        NI      3  ≈ ¹⁄₆
TY3a          OLE+KI     51  OLE+KI+U      2    ¹⁄₅
HT123+124a      OLIV     31      *308      8    ¹⁄₄

       word separator     ]word number        word number
HT122a              𐄁        DI      1       TE-KI      2
HT29                𐄁     KI-TA      2   A-RE-DA-I      2
PK1                 𐄁     NE-TI      1       KA-QA      2
ZA4a                𐄁  TU-ME-SE     18  QE-SI-ZU-E      4

                    ]word number      word number[ ]number
HT31    *416-VS-KA-RO-PA₃     10  SA-JA-MA      30      10
HT110b                 RO     20      *648       3       1

                    word              word number            word number
HT31    KI-DE-MA-*323-NA              *815    400  *815-SU-PA₃-RA    300
HT115a         *301-U-RA  NA-*21F-NE-MI-NA      1        SE-KU-TU    ¹⁄₂

,]word,word separator,word,word separator,word
KNZf31,SI-SI-ZA-NE-*310,𐄁,DA-DU-MI-NE,𐄁,QA-MI-*47-NA-RA
HT31,TI-SA,𐄁,PU-KO,𐄁,*410-VS
PKZa8,NU,𐄁,PA₃-E,𐄁,JA-DI-KI-TE-TE-*307-PU₂-RE

      word separator       ]word word separator            word word separator
PSZa2              𐄁     𐄌-JA-TI              𐄁  JA-SA-SA-RA-ME              𐄁
IOZa2              𐄁  I-PI-NA-MA              𐄁        SI-RU-TE              𐄁
HT31               𐄁       TI-SA              𐄁           PU-KO              𐄁

      number   word number logogram[ ]logogram
HT55a      1  SI-RU      1        NE        TU
HT32     108     DI     65    OLE+NE        RE

            logogram number number    logogram number[
HT33   QA2+[?]+RE+PU      1    ¹⁄₄  QA2+[?]+RE     𐝉𐝋𐝫
HT89              NI      2    ¹⁄₄         VIN       6
HT129            GRA     40    ¹⁄₂      OLE+DI       1

         logogram number[ ]number logogram number
HT33   QA2+[?]+RE     𐝉𐝋𐝫       3     E+KA     𐝃𐝉
HT101      OLE+KI       2       3     OLIV      1
KH9         CYP+D     ¹⁄₂       2      CYP    ¹⁄₄

     logogram[ logogram number    logogram number
HT35    OLE+TA        E      5  QA2+[?]+PU   ¹⁄₁₆
GO2r        SI       KA    ¹⁄₈          SI      2

           word     word number logogram number
HT93a  DA-RI-DA  *406-VS      2     *343      2
HT38   DA-RO-PA  *403-VS      1       AU      1

          ]word number logogram[     ]word number
HT39   KU-RE-JU      8        KU  SA-MA-TI     10
HT55b        TE      1        QE     RI-JA      1

      word separator logogram number      word word separator
HT41a              𐄁     *304     10  MI-DA-NI              𐄁
HT40               𐄁      GRA    207  KI-DA-TA              𐄁
HT93a              𐄁    RE+SE     12  DI-RI-NA              𐄁

     logogram number      word word separator logogram[
HT40      GRA    207  KI-DA-TA              𐄁       GRA
KH7a    CYP+D    ¹⁄₃   SE-*305              𐄁        KU

           number      word word separator        word number
HT41a          10  MI-DA-NI              𐄁       PA-JA      2
HT123+124b    ³⁄₄  TI-DA-TA              𐄁       PI-SA      4
HT88            7     KI-RO              𐄁  KU-PA₃-PA₃      1

      logogram number        word word separator     word
HT41a     *304     10    MI-DA-NI              𐄁    PA-JA
KH7a     CYP+D    ¹⁄₂  I-JA-PA-ME              𐄁    TA-TA
KH10       GRA     10  I-PA-SA-JA              𐄁  QA-*118
KH5    VINb+WI      2    WI-NA-DU              𐄁  *301-NA

        logogram number logogram number[ ]number
HT101       *304      3   OLE+KI       2       3
HT42+59   OLE+KI      8    OLE+U       2       2

             word logogram number logogram number[
TY3b     PI-KU-ZU   OLE+KI      4   OLE+MI      11
HT42+59     SA-RO   OLE+KI      8    OLE+U       2
TY3a         A-DA    OLE+U     21   OLE+MI       2

        logogram word separator        word word separator logogram
HT42+59    SI+SE              𐄁          TE              𐄁   OLE+KI
ZA11b       *516              𐄁  SA-*301-RI              𐄁   GRA+PA
ZA1a        *516              𐄁    KI-RE-ZA              𐄁       NI

              word word separator logogram[ logogram number
HT44a    I-QA-*118              𐄁       GRA   OLE+KI      3
HT58   QE-TI-RA-DU              𐄁   VIR+[?]    OLE+U     19

       logogram number[ logogram number logogram
HT44a     OLE+U       5   OLE+RA      5     OLIV
HT116b      GRA     100     *304     15      OLE

      number logogram number[ ]logogram number
HT44a      5     OLIV       1        NI      1
KH14       2      CYP    ¹⁄₁₆        NI    ¹⁄₄
HT129    ¹⁄₂   OLE+DI       1    OLE+KI      6

        logogram number logogram number[ ]logogram
KH7a        *334      4    CYP+D       1         I
HT44a     OLE+RA      5     OLIV       1        NI
TY3b      OLE+KI      4   OLE+MI      11    OLE+NE
KH12   *401+*304    ¹⁄₅  *401+RU      𐝍𐝫   *401+RU
KH14        *336      2      CYP    ¹⁄₁₆        NI

       lacuna     ]word number[              ]word number
HT46a       𐝫     MU-RU       1              KU-RO     43
HT127a      𐝫  DU-NE-MI       1  *304+PA-DA-*47-KU      1

      logogram number logogram number[ lacuna
KN2       *118      3   I+*301       5      𐝫
HT91    OLE+MI  ≈ ¹⁄₆        E       3      𐝫
HT49a       TU      4       KI       1      𐝫

      number logogram number logogram number[
HT49a      5       TU      4       KI       1
KH14     ¹⁄₄     *336      2      CYP    ¹⁄₁₆
KN2        2     *118      3   I+*301       5

           logogram number logogram number number[
HT50a         OLE+E    ¹⁄₂     *304      1     ¹⁄₂
HT123+124a     OLIV     16     *308      4   ≈ ¹⁄₆

      number[ ]logogram number  logogram number
KH14        6       CYP    ¹⁄₄      *336      2
HT50a     ¹⁄₂      OLIV      3  *OLIV+TU    ³⁄₈

       ]word number logogram[ lacuna lacuna
HT55b  RI-JA      1         I      𐝫      𐝫
HT51b  ZU-DU      ⅝        SI      𐝫      𐝫

      number[     ]word number logogram[ lacuna
HT81    ≈ ¹⁄₆  RI-SU-MA      𐝋        KI      𐝫
HT51b      12     ZU-DU      ⅝        SI      𐝫

      number[ ]logogram number      word number
HT55a       1      *301      1     SI-RU      1
HT98a       1        TU      1  TA-NA-TI    ³⁄₄

      ]logogram number   word number logogram[
MA2b         TI      1  JA-KU      2        TI
HT55a      *301      1  SI-RU      1        NE

      number logogram number  ]word[ lacuna
HT58       3     OLIV     41    U-KI      𐝫
HT139      1      OLE    ¹⁄₂  KA-RA₂      𐝫

     logogram number logogram[ ]logogram number
KH8       CYP    ¹⁄₄   VIR+[?]        NI    ¹⁄₄
KH91      GRA      1       VIN      *316      1
KH22       SU      7     CYP+E        SI      4
HT58    OLE+U     19    OLE+MI     OLE+E      3

            logogram number number   word number[
HT62+73          GRA     15    ¹⁄₄  KA-KU       4
HTZd157+156     *904      3    ³⁄₈  TA-JA    ¹⁄₁₆

,word separator,word,word separator,logogram[,word separator
IOZa2,𐄁,TA-NA-RA-TE-U-TI-NU,𐄁,I,𐄁
HT62+73,𐄁,TE,𐄁,VIN,𐄁

                     ]word word separator     word word separator logogram[
SYZa1    A-TA-I-*301-WA-JA              𐄁  I-DA-MI              𐄁        JA
HT62+73              SA-RA              𐄁       TE              𐄁       VIN

     logogram word separator      word number   word
HT63     *305              𐄁        TE      1  KA-TI
HT88       NI              𐄁  KI-KI-NA      7  KI-RO

      word separator logogram word separator            word number
HT104              𐄁   TE+RO[              𐄁  DA-KU-SE-NE-TI     45
HT118              𐄁     *516              𐄁           MA-DI     15
HT85a              𐄁  VIR+[?]              𐄁        DA-RI-DA     12

       number         word number       word[ number
HT85b       1           PA      1       TE-TU      1
TY2       290  *309B-KI-PU     50  *309-DA-PU     10
HT115b    ¹⁄₂   *306-TU-JA      1         A-I      1

                 word number logogram number number
HT123+124b  *188-*308     11     *312      1    ³⁄₄
HT89            KU-RO     87      CYP      2    ³⁄₄

           word word separator  logogram number       number
ZA18a   KU-*321              𐄁    GRA+PA      2  double mina
ZA1a   KI-RE-ZA              𐄁        NI     42          ¹⁄₂
HT140     JE-DI              𐄁    OLE+KI      1          ¹⁄₂
HT93a  DI-RI-NA              𐄁  DA+RE+SE     43          ¹⁄₂

        logogram number      word word separator  logogram
HT93a      RE+SE     12  DI-RI-NA              𐄁  DA+RE+SE
ZA11a  QE+GRA+PA      4     KU-PA              𐄁    GRA+PA

      logogram       number  logogram       number ]number
MA10b   *405+Ω            1    *412+E            3       4
HT94a      CYP  double mina        NI  double mina      14
KH12      *308          ¹⁄₂  MI+JA+RU          ¹⁄₂     ¹⁄₃

      logogram number[ logogram number number
HT99a       NI       4      VIN      1  ≈ ¹⁄₆
ZA12a       TI      13       RU     28      6
PE1    VIR+[?]      50   GRA+PA     26    ¹⁄₂
HT106      CYP       6       SI      5    ¹⁄₂

       number[ ]number logogram number number
HT110b       3       1       MA      5    ¹⁄₂
HT101        2       3     OLIV      1    ¹⁄₄

      ]number   logogram number logogram number[
KH12     ¹⁄₁₆  *401+*304    ¹⁄₅  *401+RU      𐝍𐝫
HT101      20       *304      3   OLE+KI       2

      number dividing line ]number logogram number
PH8a       2             —      16  *418+L2      1
HT101      2             —      20     *304      3

      logogram number logogram number   word[
GO2r        KA    ¹⁄₈       SI      2      DA
HT101      OLE     10    DI+QE      3  KU-PA₃

      logogram number      word logogram number[
HT102      GRA    976    PA₃-NI   GRA+PA      33
ZA6b    VIN+KA     10  *312-TA₂   GRA+PA      40

            word logogram number[ logogram number
HT106   MI-NU-TE      CYP       6       SI      5
PE1     KU-PA-RI  VIR+[?]      50   GRA+PA     26
HT116b     KU-RO      GRA     100     *304     15

       number   word number dividing line      word
HT117a      1  KU-RO     10             —     SA-TA
HT108       1  GRA+H     70             —  DI-NA-RO

      ]logogram number[ lacuna ]logogram number
PH3b         SI     ¹⁄₄      𐝫        SI      1
HT109        RE       4      𐝫        TA      4

           number  word[  ]word number        word
HT111a          8  QA-SA  QA-RU      8          DI
HT123+124b  13/20  KA-NA  SI-DU  ≈ ¹⁄₆  DU-MA-I-NA

       lacuna lacuna  ]word number  word[
ZA27        𐝫      𐝫  DI-KI      2   O-MI
HT111a      𐝫      𐝫  QE-KA      8  QA-SA

       number        word word separator     word word separator
HT115b    ¹⁄₂    TI-NU-JA              𐄁    NU-WI              𐄁
KH5         2    WI-NA-DU              𐄁  *301-NA              𐄁
KH7a      ¹⁄₂  I-JA-PA-ME              𐄁    TA-TA              𐄁

       number[ logogram number logogram number
HT116b     100     *304     15      OLE     17
ZA12b       40       TI     13       RU     26

       number ]logogram number       word number
MA2b        4        TI      1      JA-KU      2
PH3a        𐝓      *560      𐝓      PA-RA      𐝓
HT122a      1        DU      1  KU-PA₃-NU      1

            number logogram number number      word
HTZd157+156    ¹⁄₄     *904      3    ³⁄₈     TA-JA
HT123+124a      31     *308      8    ¹⁄₄     KI-RO
HT123+124b      11     *312      1    ³⁄₄  TI-DA-TA

       lacuna        ]word[ ]logogram number number
HT125a      𐝫           RA₂    OLE+KI      1    ¹⁄₅
ARKH1a      𐝫  A-SU-MI-*118        NE      2    ¹⁄₂

               word logogram number[     ]word logogram
HT128a  WA-TU-MA-RE   GRA+KU      12     MI-TA   GRA+PA
KH7b      U-TA-I-SE    CYP+D     ¹⁄₂  PA-NA-TU    CYP+D

       lacuna ]logogram number[ ]logogram number
HT131b      𐝫        NI      30      OLIV      2
HT154a      𐝫        KU       6        TA      6
KH84        𐝫       CYP     ¹⁄₂      *301      1
KH26        𐝫   VIR+[?]      60        NI      2

               word[ ]number       word[ ]logogram number
ZA6a    *34-JU-TE-MI     180        I-SE      OLIV     15
HT135a         MI-KA       1  NA-*21F-NE        MI      2

      number logogram number ]logogram number
HT140      1    OLE+U      1        KA      1
KH8      ¹⁄₂       NI    ¹⁄₂       GRA    ¹⁄₂
KH15     ¹⁄₂       NI    ¹⁄₂        NI    ¹⁄₄

       word separator            word      word word separator  word[
KNZa10              𐄁  JA-SA-SA-RA-MA        NA              𐄁  DA-WA
IOZa12              𐄁           JA-SA  SA-RA-ME              𐄁   I-TI

     word separator ]logogram logogram number logogram
KH11              𐄁        ZA      CYP   ¹⁄₁₆       SU
KH7a              𐄁        KI     *334      4    CYP+D

     ]logogram number logogram number logogram
KH14       CYP    ¹⁄₄     *336      2      CYP
KH8         TA      2    CYP+D    ¹⁄₂       NI

     logogram[ ]number logogram number logogram[
KH9   VIR+*307    ¹⁄₁₆       NI     𐝃𐝁        MI
KH91        ZU   ≈ ¹⁄₆       TU   ¹⁄₁₆        NI

      word separator        word word separator logogram number[
ZA11b              𐄁  SA-*301-RI              𐄁   GRA+PA       1
KH14               𐄁     A-MA-JA              𐄁      CYP       6

               ]word number[ ]number logogram number[
KN28b             TE      𐝊𐝫       3    SU+MI      𐝊𐝫
KH19   *306-VIR+*307      13       2   OLE+TA     ¹⁄₃

     ]logogram number[ ]logogram number[ lacuna
KH25   VIR+[?]     140   VIR+[?]      10      𐝫
PH3b    ]MI+JA     ³⁄₄        SI     ¹⁄₄      𐝫
KH63        SU      10   *401+RU      𐝉𐝫      𐝫

     lacuna lacuna ]number logogram[ lacuna
KH46      𐝫      𐝫      𐝫𐝋       VIN      𐝫
KH35      𐝫      𐝫       1       CYP      𐝫

       ]logogram word separator           word word separator logogram[
PKZa10        SI              𐄁  I-PI-NA-MI-NA              𐄁        SI
KNZb4         JU              𐄁          JA-SI              𐄁        SI

      logogram number logogram number lacuna
ZA18a   OLE+KI      ?     OLIV    ¹⁄₄      𐝫
PH1a      *316      1      CYP  ≈ ¹⁄₆      𐝫

     ]logogram number logogram number dividing line
TY3a        KI      5   OLE+TU      1             —
PH8a   VIR+[?]     11     *304      2             —

            ]word word separator   word word separator  word[
PKZa18         TE              𐄁   I-DA              𐄁  JA-JA
ZAZb34  PU₂-RE-JA              𐄁  KO-MU              𐄁  RU-DI

              word number       word[ number        word
ZA10a     TA-NA-TE      2          PA      1  A-KU-MI-NA
TY2    *309B-KI-PU     50  *309-DA-PU     10    PA-DA-RU

               word number       word[ lacuna lacuna
ZA5a  O-TA-NI-ZA-SE      6  SA-MI-DA-E      𐝫      𐝫
ZA14       PA-NU-QE      2       JA-WI      𐝫      𐝫

                     word number           word number
PK1           RA-NA-TU-SU      1          NI-MI      1
HT119             JA-*345     10        *306-TU      2
HT94b               SA-RU      1          KU-RO      5
HT29            A-RE-DA-I      2    KA-DU-MA-NE      1
HT117a               U-SU      1          MI-TU      1
HT85b           KI-RE-TA₂      1          QE-KA      1
HT122a          KU-PA₃-NU      1       DA-RI-DA      1
HT13             KU-ZU-NI     18     DA-SI-*118     19
HT95a               SA-RU     20       KU-NI-SU     10
ZA15a          QE-SI-ZU-E     57     I-TI-NI-SA     10
HT8a             SI-KI-RA    ¹⁄₄    KI-RE-TA-NA    ¹⁄₂
HT89                TA-RA      5          KU-RO     87
ZA20          RU-MA-TA-SE      3          KU-RA    130
TY2           *309C-RU-KA     30  *309-RI-WA-JU    160
HT88             SA-MA-RO      1       DA-TA-RE      1
THEZb13         QI-VIN+TE    120     KA-A-SI-TE    120
HT104         PA-DA-SU-TI     29          KU-RO     95
ZA5b        *28B-NU-MA-RE     20       SI-PI-KI      1
HT10b            KA-SA-RU      6       TA-NA-TI      9
HT26a               TA-TI     21    MI-KI-SE-NA     15
HT85a            DA-RI-DA     12         PA₃-NI     12
HT117b           KU-RE-JU      1       DI-KI-SE      1
HT9b           *324-DI-RA      2          QE-PU      2
HT31          *815-QA-PA₃     10  *415-VS-SU-PU     10
ZA14             ME-KI-DI      1      *21F-*118      1
HT63                   TE      1          KA-TI      1
HT95b            KU-NI-SU     10       DI-DE-RU     10
HT17                SA-RO     10       SI-DA-RE      5
ZA5a             KI-NI-MA      7  O-TA-NI-ZA-SE      6
HT109               KU-RO    129        A-RA-JU    123
HT87          PI-TA-KE-SI      1       JA-RE-MI      1
HT49a           KU-PA₃-NU      1      TU-SU-PU₂      1
HT115a            A-SE-JA   𐝂𐝂𐝂𐝂       KA-PO-RU      1
HT102            DI-RI-NA     10          MA-ZU      3
HT10a            DA-RI-DA      8          ME-ZA      3
HT6b                SA-MA     35      PA₃-NI-NA     17
HT9a                QE-PU      2     *324-DI-RA      2
HT122b              KU-RO     65    PO-TO-KU-RO     97
PE2                 TO-ME    ¹⁄₃      TO-*49-RE      1
HT98a            TA-NA-TI    ³⁄₄    DI-RE-DI-NA    ¹⁄₂
HT1             KU-PA₃-NU    109     A-RA-NA-RE    105
HT93a           VIR+[?]-I      6       DE-JU-KU      1
HT118            RI-RU-MA     10          KU-RO     30
ZA10a          A-TA-NA-TE      1      A-MI-DA-U      1
HT96a               RU-SA      4      *323-*317      1
HT99b               ZU-DU      1       RU-MA-TA      1
HT11a            KA-RO-NA      2        *322-RI      1
HT23a       *21F-RI-TU-QA   ¹⁄₁₆       SA-SA-ME   ¹⁄₁₆
HT7a              I-RU-JA      3          DU-JA      4
PH2            PI-RU-E-JU     60      SE-SA-PA₃     60
HT25a             U-RE-WI      1        DI-NA-U      1
ZA4a                E-*82     50          KA-DI      3
HT8b                KA-PA    ¹⁄₂       PA-JA-RE      1
ZA8         TA-I-NU-MA-PA    ¹⁄₂     MA-KA-I-SE      2
HT6a              MA-*321     10    O-RA₂-DI-NE      2
HT7b           *21F-TU-NE      1     DA-RU-*329      2
HT103            DA-KU-NA      1    DA-KU-SE-NE      1
HT123+124b     DU-MA-I-NA    ³⁄₈          KU-RO     20
HT15            DU-AROM-A    684      GRA+L4+L4    570
ZA7a                 U-JU      5        A-RA-TU      4

                         word word separator              word number
HT26a              *312-TE-TE              𐄁             TA-TI     21
HT16                 KA-KU-PA              𐄁           DI-NA-U    ¹⁄₈
SYZa2       A-TA-I-*301-WA-JA              𐄁  JA-SU-MA-TU-OLIV      1
HT123+124b           TI-DA-TA              𐄁             PI-SA      4
HT88                    KI-RO              𐄁        KU-PA₃-PA₃      1
HT1                  QE-RA₂-U              𐄁             KI-RO    197
HT10a                KU-NI-SU              𐄁             SA-MA      4
HT9b                  KA-*305              𐄁             PA-DE      3
HT6a                 DA-QE-RA              𐄁          QE-PI-TA     22
HT94b                   KI-RO              𐄁             TU-MA      1
HT87              MA-KA-RI-TE              𐄁       PI-TA-KE-SI      1
HT117a             U-MI-NA-SI              𐄁              U-SU      1
HT95b                    A-DU              𐄁             SA-RU     10
HT41a                MI-DA-NI              𐄁             PA-JA      2
HT85b             KI-KI-RA-JA              𐄁         KI-RE-TA₂      1
HT117b             *21F-TU-NE              𐄁          KU-RE-JU      1

           number            word       number           word
ZA14            3        QA-TI-JU            8          KU-PI
HT6b          ¹⁄₄           SA-MA           35      PA₃-NI-NA
HT95b          10        MI-NU-TE           10       KU-NI-SU
HT9a          ³⁄₄         *306-TU           10        DI-NA-U
HT115a          1         A-SE-JA         𐝂𐝂𐝂𐝂       KA-PO-RU
PE2           ¹⁄₄         A-RI-PA          ¹⁄₄       QA-QA-DA
HT122b          2           KU-RO           65    PO-TO-KU-RO
HT104         ¹⁄₂     PA-DA-SU-TI           29          KU-RO
HT122a          3     JA-MI-DA-RE            1       SI-DA-RE
HT123+124a    ³⁄₄           KI-RO           .3          SA-RU
HT13           18      DA-SI-*118           19     I-DU-NE-SI
HT9b            2           QE-PU            2      TA-I-AROM
HT94a           4           KU-RO          110         SA-RA₂
HT8b          ³⁄₈           KA-PA          ¹⁄₂       PA-JA-RE
ZA8           ¹⁄₂     KU-TU-KO-RE  double mina     A-RI-NI-TA
HT115b        ¹⁄₂       DU-PA₃-NA            1       KU-RU-MA
HT94b           1           DE-DI            1       KE-KI-RU
ZA4a           18      QE-SI-ZU-E            4  *28B-NU-MA-RE
HT98a         ³⁄₄           RO-KE          ¹⁄₂   KA-RI-*310-I
HT1            52       KU-PA₃-NU          109     A-RA-NA-RE
ZA10a           1      A-KU-MI-NA            1     A-TA-NA-TE
HT96a           5           RU-SA            4      *323-*317
HT10b           1           DA-RE            2       TA-RI-NA
HT103          13        DA-KU-NA            1    DA-KU-SE-NE
HT87            1        QE-SU-PU            1       KU-RU-KU
HT23a          17   *21F-RI-TU-QA         ¹⁄₁₆       SA-SA-ME
HT110a         20           KU-PA            1          KU-RO
HT11a          10         A-SU-JA            1      VIR+[?]-I
HT99b           6      DA-SI-*118            2          ZU-DU
ZA20            4        SI-TE-TU            1          SI-TU
HT7a            3           DU-JA            4       TA-NA-TI
PH2             1      RA-O-DI-KI           60     PI-RU-E-JU
HT93a           5       VIR+[?]-I            6       DE-JU-KU
HT26a          21     MI-KI-SE-NA           15      U-NU-*21F
HT117a          1           MA-RU            1      KU-PA₃-NU
HT123+124b  ≈ ¹⁄₆      DU-MA-I-NA          ³⁄₈          KU-RO
HT118           1        RI-RU-MA           10          KU-RO
ZA15a         ¹⁄₂        JA-SA-MU            5     SA-MI-DA-E
HT8a            2       QA-*310-I          ³⁄₄       SI-KI-RA
HT25a           1         U-RE-WI            1        DI-NA-U
HT95a          10        DI-DE-RU           10       QE-RA₂-U
HT88            1           KA-JU            1      KU-PA₃-NU
HT119          13           KO-JA           10   KU-PA₃-NA-TU
HT85a           6      DA-SI-*118           24       KU-ZU-NI
HT29            2       A-RE-DA-I            2    KA-DU-MA-NE
HT109           4           KU-RO          129        A-RA-JU
HT102          10            I-KA            5          KU-RO
HT85b           1           QE-KA            1             PA
HT10a         ¹⁄₂        DA-RI-DA            8          ME-ZA
HT28a           3      VIR+KA-VIN            6     A-RU-DA-RA
HT100          16           KU-RO           97         SA-RA₂
HT31          400  *815-SU-PA₃-RA          300  *815-PA-TA-QE
HT17           37           SA-RO           10       SI-DA-RE

       word separator              word number               word
HT94b               𐄁             TU-MA      1           PA-TA-NE
HT1                 𐄁             KI-RO    197              ZU-SU
HT85a               𐄁          DA-RI-DA     12             PA₃-NI
HT117a              𐄁       KU-KU-DA-RA      1         KO-SA-I-TI
HT85b               𐄁         KI-RE-TA₂      1              QE-KA
HT117b              𐄁          KU-RE-JU      1           DI-KI-SE
HT9b                𐄁             PA-DE      3               A-SI
HT26a               𐄁             TA-TI     21        MI-KI-SE-NA
SYZa2               𐄁  JA-SU-MA-TU-OLIV      1  U-NA-KA-NA-SI-OLE
HT115b              𐄁          PA-RA-NE    ¹⁄₂           TI-NU-JA
HT63                𐄁                TE      1              KA-TI
HT88                𐄁          KI-KI-NA      7              KI-RO

       logogram number[ ]logogram number
HT2       OLE+U      54     OLE+A     47
HT137    OLE+MI       6       OLE      2
KH14        CYP    ¹⁄₁₆        NI    ¹⁄₄
HT129    OLE+DI       1    OLE+KI      6
HT131a      GRA      58       OLE     12
HT44a      OLIV       1        NI      1
HT34        GRA     200     E+[ ]      2

      word separator logogram number[ ]logogram
HT34               𐄁      GRA     200     E+[ ]
HT2                𐄁    OLE+U      20     OLE+A
HT45a              𐄁     *305       2      *318
KH14               𐄁      CYP       6       CYP

      number[ ]logogram number  logogram
HT2        20     OLE+A     17     OLE+E
HT50a     ¹⁄₂      OLIV      3  *OLIV+TU

     ]logogram number  logogram number[
KH14        NI    ¹⁄₄  VIR+*307       2
KH4       *306      4       CYP     ¹⁄₃
HT2      OLE+A     17     OLE+E       3

       logogram number[        ]word logogram
KH7b      CYP+D     ¹⁄₂     PA-NA-TU    CYP+D
HT2       OLE+E       3  KI-RE-TA-NA    OLE+U
ARKH3b      GRA       6      PI-*314      GRA

       number[ ]logogram number number
HT131a      58       OLE     12    ¹⁄₂
KH26        60        NI      2     𐝃𐝋
HT2         54     OLE+A     47      1
HT34       200     E+[ ]      2     𐝅𐝇

     number logogram number[        ]word
TY3a     21   OLE+MI       2   KO-A-DU-WA
HT2      17    OLE+E       3  KI-RE-TA-NA

             word word separator logogram number[
HT2       A-KA-RU              𐄁    OLE+U      20
ZA11a       KU-PA              𐄁   GRA+PA       1
ZA11b  SA-*301-RI              𐄁   GRA+PA       1
KH14      A-MA-JA              𐄁      CYP       6

               ]word number     word[        ]word
HT25a      ZU-JU-PU₂      1  DU-RU-WI      I-KI-RA
HT111a         QE-KA      8     QA-SA        QA-RU
HT39        SA-MA-TI     10     KU-RE        KU-RO
HT3     SI-TU-RA₂-RE      5        DI    KU-PA₃-NU
HT4         DU-RI-TE      2     PA-RE  TA-PI-SI-DI

          ]word number[  ]word number[
HT69      MA-DI       4     DI      12
HT3   KU-PA₃-NU       3  MA-DI       2
HT5       MA-SI      30  WI-DU      10

            word number[ ]number              word
HT3           DI       2       4             MU-RU
HT122a   U-DE-ZA       2       2        DA-SI-*118
HT31    SA-JA-MA      30      10  KI-DE-MA-*323-NA

      logogram[         ]word number  word[
HT39         KU      SA-MA-TI     10  KU-RE
HT3          RU  SI-TU-RA₂-RE      5     DI
HT51a        MA            SE     64  TI-NI

      number logogram[         ]word number
HT55b      1        QE         RI-JA      1
HT3        1        RU  SI-TU-RA₂-RE      5

       ]number   word number[ ]number
HT111b      18  SA-DI       4       3
HT3          2     DI       2       4

           number      word[        ]word number
HT123+124b  13/20      KA-NA        SI-DU  ≈ ¹⁄₆
HT93a           2  PA₃-NI-NA     PA-SE-JA     20
HT4             2      PA-RE  TA-PI-SI-DI      1
HT111a          8      QA-SA        QA-RU      8
HT25a           1   TU-QE-NU    ZU-JU-PU₂      1

     number[  ]word number[ lacuna
HT69       4     DI      12      𐝫
HT5       30  WI-DU      10      𐝫

             logogram number          word       number
HT127b          KI+MU     14         KU-RO          291
HT25b         VIR+[?]     24         KU-RO           52
HT118              KI      1      RI-RU-MA           10
HT88           VIR+KA     20         RE-ZA            6
HT8a           OLE+KI     10  PA₃-KA-RA-TI            1
HT93a        I-GRA+PA      5     VIR+[?]-I            6
HT34              PA₃     70         KI-RO           37
ZA8                NI    ¹⁄₂   KU-TU-KO-RE  double mina
HT115b            GRA    ¹⁄₂     DU-PA₃-NA            1
HT6a            JA+RU      𐝓       MA-*321           10
HT89        VIR+*313a     13         TA-RA            5
HT108         VIR+[?]      1         GRA+H           70
HT96a             GRA      5         RU-SA            4
HT103            *188     13      DA-KU-NA            1
HT11b              KA     30         KU-RO          180
HT119              TI      7       JA-*345           10
HT146              MA     30      RI-KA-TA           30
HT17              VIN     37         SA-RO           10
HT49a            *312      1     KU-PA₃-NU            1
HT38              CAP      3     *554-*118            3
HT110a          CYP+E     20         KU-PA            1
HT27a         VIR+[?]     42         KU-RO          335
HT100       VIR+*313a     16         KU-RO           97
HT28a             VIN      3    VIR+KA-VIN            6
HT85b              KA      1            DI            1
HT23a           SI+ME     10         KO-RU            1
HT12    QA2+[?]+PU+RE   ¹⁄₁₆          DA-I           50
HT102              WI     10          I-KA            5
HT94a              TA      4         KU-RO          110
HT19              VIN     30         SA-RO            5
KH88               NI     10         PU-DE            8

,word separator,word,word separator,word
HT96a,𐄁,A-PA-RA-NE,𐄁,A-AROM-TE
IOZa2,𐄁,JA-DI-KI-TU,𐄁,JA-SA-SA-RA-ME
CR(?)Zf1,𐄁,KA-NI-JA-MI,𐄁,I-JA
PKZa8,𐄁,PA₃-E,𐄁,JA-DI-KI-TE-TE-*307-PU₂-RE
KNZf31,𐄁,DA-DU-MI-NE,𐄁,QA-MI-*47-NA-RA
HT26a,𐄁,*312-TE-TE,𐄁,TA-TI
KH5,𐄁,A-RA-U-DA,𐄁,WI-SA-SA-NE
HT28b,𐄁,U-MI-NA-SI,𐄁,SA-RA₂
KNZc6,𐄁,NI-JA-NU,𐄁,JU-KU-NA-PA-KU-NU-U-I-ZU
ZAZb3,𐄁,A-RE-PI-RE-NA,𐄁,TI-TI-KU
KNZc7,𐄁,DU-RA-RE,𐄁,A-ZU-RA
HT34,𐄁,SI-*516,𐄁,SA-RA₂
HT6a,𐄁,DA-TA-RA,𐄁,TE
HT10a,𐄁,PA,𐄁,DA-RE
HT31,𐄁,PU-KO,𐄁,*410-VS
LACHZa1,𐄁,RI-DA-U,𐄁,SE-JE
HT117a,𐄁,KI-RO,𐄁,U-MI-NA-SI
HTWc3017,𐄁,DI-*306,𐄁,CYP+D-*304+PA
HT116a,𐄁,TE,𐄁,KU-PA-JA
PLZf1,𐄁,WI-TE-JA-MU,𐄁,U-QE-TI
IOZa6,𐄁,I-NA-TA-I-ZU-DI-SI-KA,𐄁,JA-SA-SA-RA-ME
HT87,𐄁,MA-KA-RI-TE,𐄁,PI-TA-KE-SI
SYZa4,𐄁,JA-I-NWA-ZA,𐄁,PA₃-NI-WI
KH7a,𐄁,TA-TA,𐄁,QA-TI-KI
KOZa1,𐄁,I-PI-NA-MA,𐄁,SI-RU-TE
HT13,𐄁,TE,𐄁,RE-ZA
TLZa1,𐄁,O-SU-QA-RE,𐄁,JA-SA-SA-RA-ME

                   word word separator   logogram number
ZA18a           KU-*321              𐄁     GRA+PA      2
HT103             U-TA₂              𐄁         NI     40
HT123+124a      KI-TA-I              𐄁       OLIV     31
ZA15b             KU-RO              𐄁        VIN     78
ZA8             A-TA-RE              𐄁         NI    ¹⁄₂
HT6a                 TE              𐄁         NI     15
ZA11b             KU-PA              𐄁     GRA+PA      3
HT115b            NU-WI              𐄁        GRA    ¹⁄₂
HT17                 TE              𐄁        VIN     37
HT140             JE-DI              𐄁     OLE+KI      1
HT32             SA-RA₂              𐄁       *308    ¹⁄₂
HT11b          SA-QE-RI              𐄁         KA     30
HT14                 TE              𐄁        GRA     30
HT92               A-DU              𐄁        GRA    680
HT21                 TE              𐄁        GRA    161
HT28a           JA-*21F              𐄁     GRA+QE      5
HT40                 TE              𐄁        GRA    207
HT42+59              TE              𐄁     OLE+KI      8
ZA1a           KI-RE-ZA              𐄁         NI     42
HT105            SA-RA₂              𐄁    VIR+[?]    235
HT93a          DI-RI-NA              𐄁   DA+RE+SE     43
HT23a             KA-NA              𐄁        CYP    ¹⁄₃
KNZb<27>        DI-NA-U              𐄁        VIN     17
HT19                 TE              𐄁        VIN     30
HT12        QA-TI-DA-TE              𐄁     OLE+DI      5
HT91              TE-RI              𐄁     OLE+MI  ≈ ¹⁄₆
KH88          *21F-*118              𐄁         NI     10
KH7a            E-NA-SI              𐄁  VIR+*313b     10
HT116a           PU-RA₂              𐄁        GRA     40

           number   logogram number             word
HT18            2       *304      3           SA-RA₂
HT27a           5    VIR+[?]     42            KU-RO
HT28a           1     OLE+TU      𐝉           SA-RA₂
HT14            9       OLIV     13      A-PU₂-NA-DU
HT24a         ¹⁄₂   MA-RU-ME      6      PA-SA-RI-JA
HT49a           1       *312      1        KU-PA₃-NU
HT85b           1         KA      1               DI
HT100           5  VIR+*313a     16            KU-RO
KH5             2    VINb+WI      2         WI-NA-DU
HT91        ≈ ¹⁄₆          E      5            TE-RI
HT23a        ¹⁄₁₆      SI+ME     10            KO-RU
HT116a          6       OLIV      3        PI-*34-TE
HT129          10         NI     22    TU-*21F-RI-NA
HT28b           2        VIN      4           PU-RA₂
HT119          34    VIR+[?]     67         RI-MI-SI
HT118           4         KI      1         RI-RU-MA
HT10a           4       *301      6        U-*325-ZA
HT102           3         WI     10             I-KA
HT94a          18         TA      4            KU-RO
KH7a           10      CYP+D    ¹⁄₂       I-JA-PA-ME
HT12            5       *304      5         QE-TU-NE
HT16          ¹⁄₃    *188+KU    ³⁄₈            SA-PO
HT25b          28    VIR+[?]     24            KU-RO
HT34          100        PA₃     70            KI-RO
KH11          ¹⁄₃   *348-CYP     𐝇𐝉   A-TO-*349-TO-I
HT90           10     OLE+DI      3  SI-RU-MA-RI-TA₂
HT123+124b      4       *188      1          *188-DU
HT32            1   MI+JA+RU      1            SU-RE
HT127b         11      KI+MU     14            KU-RO
HT101           8     OLE+KI      2           SA-RA₂
ZA11a         ¹⁄₂  QE+GRA+PA      4            KU-PA
HT26b           4      KI+MU     12           I-*308
HT89           24  VIR+*313a     13            TA-RA
HT140           1      OLE+U      2            KA-PA
HT146          30         MA     30         RI-KA-TA
HT6a           24      JA+RU      𐝓          MA-*321
MA10a           2     *412+E      4             *659
KH10          ¹⁄₂        GRA     10       I-PA-SA-JA
HT11b          30         KA     50         RU-ZU-NA
HT103         ¹⁄₂       *188     13         DA-KU-NA
ZA6b           40     VIN+KA     10         *312-TA₂
HT38            1        CAP      3        *554-*118

      number        word number   logogram
ZA15a     57  I-TI-NI-SA     10     ME-VIN
HT88      20       RE-ZA      6         NI
HT38       3   *554-*118      3    TELA+KU
HT34      70       KI-RO     37       E+KA
HT10a    ¹⁄₂   U-*325-ZA      4       *301
HT118     10       KU-RO     30         KI
HT89      22     MA-I-MI     24  VIR+*313a
HT6a      15    PI-TA-JA     24      JA+RU
HT94b      1       KU-RO      5        *86
HT26b      3  KA-U-ZU-NI      4      KI+MU
HT15     684   GRA+L4+L4    570       *188
HT49a      1        A-RU      1       *370
HT27a     42       KU-RO    335        CYP

           number           word number number
HT104         ¹⁄₂        I-DU-TI     20    ¹⁄₂
HT13            5          KU-RO    130    ¹⁄₂
HT6a            2       KA-PA-QE      5    ³⁄₄
HT103           1          KI-RA      5    ¹⁄₂
HT36          ¹⁄₂       DU-ZU-WA      7    ¹⁄₂
HT8b          ¹⁄₂       PA-JA-RE      1    ¹⁄₈
HT123+124a    ¹⁄₄          KI-RO      1     .3
HT10b          15        *312-TA      6    ¹⁄₂
HT24b         ³⁄₄  SI+ME-KI-*118      1    ³⁄₄
HT9a          ¹⁄₂           A-RU      4    ¹⁄₄
ZA8           ¹⁄₂        KA-I-RO      4      ?
HT6b           35      PA₃-NI-NA     17    ¹⁄₂
HT19          ¹⁄₂       DU-ME-DI     43    ¹⁄₂

            number       number    logogram number
ZA6b            50          ¹⁄₄      VIN+RA     40
HT27a           10          ¹⁄₃         VIN      7
HT32             1         ¹⁄₁₆  QA2+[?]+RE      1
TY3a            15          ¹⁄₄       OLE+U     22
ZA18a            2  double mina      OLE+KI      ?
HT8b             1          ¹⁄₈  *86+'*188'    ¹⁄₂
ZA11a            2          ¹⁄₄          JU     𐝈𐝉
HT123+124a      31          ¹⁄₂        *308      8
HT96b           40          ³⁄₄       OLE+U      4
ZA1a            42          ¹⁄₂          ZA      5
HT106            5          ¹⁄₂          SI      1
HT101            1          ¹⁄₄    *OLIV+TU      1
HT129           33           𐝆𐝁        *304     10
HTZd157+156      1          ¹⁄₂        *904      2
HT34             2           𐝅𐝇  QA2+[?]+PU  ≈ ¹⁄₆
HT131a          12          ¹⁄₂        *304     12
HT6a            22          ³⁄₄          NI     15

            number    logogram number       number
HT96b            4          NI      2         ¹⁄₁₆
HT32            𐝆𐝇  QA2+[?]+PU      1         ¹⁄₁₆
HT21           ³⁄₄        *304      7          ³⁄₄
HT89           ³⁄₄          NI      2          ¹⁄₄
HT94a            5          NI      3        ≈ ¹⁄₆
HT131a         ¹⁄₂        *304     12          ³⁄₄
HT28b            3         VIN      3          ¹⁄₄
HT6a           ³⁄₄          NI     15          ¹⁄₂
HT100          ¹⁄₄          NI      2  double mina
HTZd157+156      1        *904      1          ¹⁄₂
KH5          ≈ ¹⁄₆          NI      2           𐝆𐝁
HT123+124a      15        *308      4          ¹⁄₄
HT123+124b      11        *312      1          ³⁄₄
TY3a             5     OLE+QIf      3          ¹⁄₂
KH61             2         GRA      1            𐝍
HT8b           ¹⁄₈  *86+'*188'    ¹⁄₂          ¹⁄₂

,word,word separator,word,word separator
ARKHZf9,JA-KI-SI-KI-NU,𐄁,MI-DA-MA-RA₂,𐄁
ZAZb3,A-TA-I-*301-DE-KA,𐄁,A-RE-PI-RE-NA,𐄁
HT14,PU-VIN,𐄁,TE,𐄁
HT117a,MA-KA-RI-TE,𐄁,KI-RO,𐄁
HT43,MA-SI-DU,𐄁,PA-*342-I,𐄁
HT87,*21F-TU-NE,𐄁,MA-KA-RI-TE,𐄁
HT92,TE,𐄁,A-DU,𐄁
HTWc3017,QA-KU-RE,𐄁,DI-*306,𐄁
SYZa4,A-TA-I-*301-WA-JA,𐄁,JA-I-NWA-ZA,𐄁
KOZa1,TU-RU-SA,𐄁,DU-*314-RE,𐄁
HT116a,U-TA-RO,𐄁,TE,𐄁
HT9a,SA-RO,𐄁,TE,𐄁
ZA8,KI-RA,𐄁,A-TA-RE,𐄁
HT52a,SA-MA,𐄁,TE,𐄁
IOZa6,TA-NA-I-*301-U-TI-NU,𐄁,I-NA-TA-I-ZU-DI-SI-KA,𐄁
HT17,RA-󽇫-TI,𐄁,TE,𐄁
KH7a,I-JA-PA-ME,𐄁,TA-TA,𐄁
HT28a,A-SI-JA-KA,𐄁,JA-*21F,𐄁
CR(?)Zf1,A-MA-WA-SI,𐄁,KA-NI-JA-MI,𐄁
TLZa1,A-TA-I-*301-WA-JA,𐄁,O-SU-QA-RE,𐄁
IOZa2,SI-RU-TE,𐄁,TA-NA-RA-TE-U-TI-NU,𐄁
HT21,PI-TA-KA-SE,𐄁,TE,𐄁
PLZf1,TA-NU-NI-KI-NA,𐄁,NI-NU-NI,𐄁
HT93a,PA₃-NI-NA,𐄁,GRA-PA₃,𐄁
HT40,NU-DU-*331,𐄁,TE,𐄁
HT96a,I-TI-TI-KU-NI,𐄁,A-PA-RA-NE,𐄁
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,𐄁,NI-JA-NU,𐄁
KNZf31,DA-DU-MI-NE,𐄁,QA-MI-*47-NA-RA,𐄁
HT140,U-*34-SI,𐄁,*86-SI-NI,𐄁
HT19,RA-*164-TI,𐄁,TE,𐄁
HT28b,A-SI-JA-KA,𐄁,U-MI-NA-SI,𐄁
KH88,QA-NU-MA,𐄁,*21F-*118,𐄁
HT115b,TI-NU-JA,𐄁,NU-WI,𐄁
KH5,WI-NA-DU,𐄁,*301-NA,𐄁
KNZc7,A-KA-NU-ZA-TI,𐄁,DU-RA-RE,𐄁
PKZa8,PA₃-E,𐄁,JA-DI-KI-TE-TE-*307-PU₂-RE,𐄁
HT6a,KA-PA,𐄁,DA-TA-RA,𐄁
HT96b,A-PA-RA-NE,𐄁,QA-*118-RA-RE,𐄁
HT34,DA-JU-TE,𐄁,SI-*516,𐄁

      word separator            word number       number
HT6a               𐄁        QE-PI-TA     22          ³⁄₄
HT41a              𐄁           PA-JA      2  double mina
HT10a              𐄁           DA-RE     16          ¹⁄₂
HT104              𐄁  DA-KU-SE-NE-TI     45          ¹⁄₂

                    word number logogram       number
HT123+124b     *188-*308     11     *312            1
MA4a           TA-HIDE+B     15   HIDE+L          120
HT34               KI-RO     37     E+KA         ¹⁄₁₆
HT89               KU-RO     87      CYP            2
HT49a          TU-SU-PU₂      1       KI            1
HT38           *554-*118      3  TELA+KU            2
HT6a            PI-TA-JA     24    JA+RU            𐝓
HT11b             *86-KA     40       KA           30
HT146            RI-*305     30       MA           30
HT119       KU-PA₃-NA-TU      7       TI            7
HT27a              KU-RO    335      CYP            9
HT118           QA-QA-RU      6       KI            4
HT10a          U-*325-ZA      4     *301            6
HT102              MA-ZU      3       WI           10
HT11a          VIR+[?]-I      3      TA₂           15
HT23a           SA-SA-ME   ¹⁄₁₆    SI+ME           10
HT107                 TE     84     *332            7
HT94a          *318-*306     11      CYP  double mina
HT26b         KA-U-ZU-NI      4    KI+MU           12
HT93a            *406-VS      2     *343            2

        word separator           word word separator logogram
ZA1a                 𐄁       KI-RE-ZA              𐄁       NI
HT42+59              𐄁             TE              𐄁   OLE+KI
HT19                 𐄁             TE              𐄁      VIN
KH88                 𐄁      *21F-*118              𐄁       NI
ZA18a                𐄁        KU-*321              𐄁   GRA+PA
HT115b               𐄁          NU-WI              𐄁      GRA
HT96b                𐄁  QA-*118-RA-RE              𐄁     *516
HT6a                 𐄁             TE              𐄁       NI
HT14                 𐄁             TE              𐄁      GRA
ZA11b                𐄁     SA-*301-RI              𐄁   GRA+PA
HT43                 𐄁      PA-*342-I              𐄁        I
HT92                 𐄁           A-DU              𐄁      GRA
ZA8                  𐄁        A-TA-RE              𐄁       NI
HT21                 𐄁             TE              𐄁      GRA
HT17                 𐄁             TE              𐄁      VIN
KH14                 𐄁        A-MA-JA              𐄁      CYP
HT9a                 𐄁             TE              𐄁      VIN
HT28a                𐄁        JA-*21F              𐄁   GRA+QE
HT40                 𐄁             TE              𐄁      GRA
HT93a                𐄁        GRA-PA₃              𐄁    RE+SE

           number number           word number
HT24b           1    ³⁄₄  SI+ME-KI-*118      1
HT9a            4    ¹⁄₄          KU-RO     31
ZA15a           2    ¹⁄₂       JA-SA-MU      5
ZA5b            1    ¹⁄₂     MA-KA-I-TA      3
HT123+124a      8    ³⁄₄          KI-RO     .3
HT10a          16    ¹⁄₂      U-*325-ZA      4
HT6b            3  ≈ ¹⁄₆       RA-TI-SE      1
HT104          20    ¹⁄₂    PA-DA-SU-TI     29
HT36           64    ¹⁄₂       DU-ZU-WA      7
HT19            5    ¹⁄₂       DU-ME-DI     43

              word word separator logogram         word
HT7a         QE-TI              𐄁  VIR+[?]      I-RU-JA
ZA5a     *21F-*118              𐄁   VIN-SU     KI-NI-MA
MA1b          A-MA              𐄁      *47  QE-DE-MI-NU
HT95a  DA-DU-MA-TA              𐄁      GRA        DA-ME

                   word logogram number          word
HT108       KI-RE-TA-NA  VIR+[?]      1         GRA+H
HT110a  SI-DU-*34-KU-MI    CYP+E     20         KU-PA
HT28b            PU-RA₂       NI      6       JA-*21F
HT102            SA-RA₂      GRA    976        PA₃-NI
HT11b          RU-ZU-NA       KA     30      SA-QE-RI
HT116a         KU-PA-JA      GRA     16        PU-RA₂
HT8a              JE-DI   OLE+KI     10  PA₃-KA-RA-TI
HT96a          SI-MI-TA      GRA      5         RU-SA
HT88               A-DU   VIR+KA     20         RE-ZA

           logogram word separator        word word separator
HT13            VIN              𐄁          TE              𐄁
HT42+59       SI+SE              𐄁          TE              𐄁
ZA1a           *516              𐄁    KI-RE-ZA              𐄁
HT9a            VIN              𐄁       PA-DE              𐄁
LACHZa1          MI              𐄁     RI-DA-U              𐄁
HT26a    *406VAS+KE              𐄁  *312-TE-TE              𐄁
HT51a            NI              𐄁          TE              𐄁
ZA11b          *516              𐄁  SA-*301-RI              𐄁

                      word word separator   logogram word separator
HT104                TA-PA              𐄁     TE+RO[              𐄁
ZA11a   DI-DI-KO-RA-ME-TA₂              𐄁       *516              𐄁
HT96b        QA-*118-RA-RE              𐄁       *516              𐄁
HT27a             TI-NI-TA              𐄁       *307              𐄁
HT81                  A-SE              𐄁   MI+JA+RU              𐄁
HT9a                    TE              𐄁        VIN              𐄁
HT85a                 A-DU              𐄁  *307+*387              𐄁
HT43             PA-*342-I              𐄁          I              𐄁
HT89              A-SA-RA₂              𐄁       *307              𐄁
HT122b               JE-DI              𐄁       *346              𐄁
HT115a        *47-NU-RA-JA              𐄁          I              𐄁
HT91                  I-KA              𐄁       *326              𐄁
HT35              TI-TI-KU              𐄁       *326              𐄁
HT27b                PA-SE              𐄁     VIN+WA              𐄁

        word separator logogram word separator            word
HT118                𐄁     *516              𐄁           MA-DI
HT9a                 𐄁      VIN              𐄁           PA-DE
HT104                𐄁   TE+RO[              𐄁  DA-KU-SE-NE-TI
HT85a                𐄁  VIR+[?]              𐄁        DA-RI-DA
HT42+59              𐄁    SI+SE              𐄁              TE
HT35                 𐄁     *326              𐄁         I-KU-TA

      word separator logogram word separator word also in linear b
HT118              𐄁     *516              𐄁                 MA-DI
HT9a               𐄁      VIN              𐄁                 PA-DE

       word also in linear b number   word number
HT9b                   PA-DE      3   A-SI      3
HT89                   TA-RA      5  KU-RO     87
HT117a                  U-SU      1  MI-TU      1

       word separator word also in linear b number      word
HT115b              𐄁              PA-RA-NE    ¹⁄₂  TI-NU-JA
HT117a              𐄁                  U-SU      1     MI-TU
HT9b                𐄁                 PA-DE      3      A-SI

      word separator     word number word separator
HT16               𐄁  DI-NA-U    ¹⁄₈              𐄁
HT10a              𐄁    SA-MA      4              𐄁

                word number number       word
HT123+124a     KI-RO      1     .3     PU-VIN
HT93a       KI-DI-NI      5     𐝆𐝅       A-SE
HT10a          DA-RE     16    ¹⁄₂  U-*325-ZA

             number    logogram       number    logogram
HT28b            20      OLE+DI            5          NI
KH14            ¹⁄₄        *336            2         CYP
HT28a             5       OLE+U            2      OLE+KI
HT21            161       OLE+U           11       OLE+E
HT94a            11         CYP  double mina          NI
HT34             𐝅𐝇  QA2+[?]+PU        ≈ ¹⁄₆  QA2+[?]+RE
HT50a           ¹⁄₄      OLE+MI          ¹⁄₂       OLE+E
THEZg5           40          PU            5        *171
HT33             𐝃𐝉    MI+JA+KA          ¹⁄₅        *305
KH11              3          NI            1         VIN
HT90             20          NI           10      OLE+DI
KH7b            ¹⁄₂     *304+PA            1          SI
KH12              2        *308          ¹⁄₂    MI+JA+RU
HT100            12          KI            2        *305
HT101            40       OLE+U            8      OLE+MI
HT127b           24       KI+MU           15        *301
HT23a           ¹⁄₃        *308        ≈ ¹⁄₆      OLE+NE
HT116a           40      OLE+DI            5       SI+SE
ZA11a           ¹⁄₄          JU           𐝈𐝉         VIN
TY3a            ¹⁄₄       OLE+U           22       NE-KI
HT130             8          NI            6         VIN
ZA18a   double mina      OLE+KI            ?        OLIV
KH8             ¹⁄₂        *304          ¹⁄₄         CYP
HT140             3          KA            1       OLE+U
HT12              1           E           30        *560
HT35              1    MI+JA+RU          ¹⁄₃      OLE+RI
HT32            ¹⁄₂      OLE+NE           𐝆𐝇  QA2+[?]+PU
HT14             30      OLE+MI            3      OLE+DI
HT91          ≈ ¹⁄₆       OLE+U        ≈ ¹⁄₆      OLE+MI
HT38              1          AU            1         CAP
HT96b           ³⁄₄       OLE+U            4          NI
HT11b            40          KA           30          KA
MA4a             15      HIDE+L          120   HIDE+SA+L
HT129            𐝆𐝁        *304           10          NI
ZA6b            ¹⁄₄      VIN+RA           40      VIN+KA
HT49a             5          TU            4          KI
KN2               2        *118            3      I+*301
HT18             20      OLE+KI            2        *304
HT27b             1          RE           14         VIN

             logogram number        word word separator
HT40              GRA    207    KI-DA-TA              𐄁
KH10              GRA     10  I-PA-SA-JA              𐄁
KH5           VINb+WI      2    WI-NA-DU              𐄁
HT11b              KA     30    SA-QE-RI              𐄁
HT41a            *304     10    MI-DA-NI              𐄁
ZA11a       QE+GRA+PA      4       KU-PA              𐄁
HT116a            GRA     16      PU-RA₂              𐄁
HT93a           RE+SE     12    DI-RI-NA              𐄁
HT91                E      5       TE-RI              𐄁
HT123+124b       *188      1     *188-DU              𐄁
HT32         MI+JA+RU      1       SU-RE              𐄁

               logogram number    logogram number
HT23a               CYP    ¹⁄₃        *308  ≈ ¹⁄₆
HT130            SI-CYP      8          NI      6
HT14             OLE+MI      5      OLE+DI      4
HT116b             *304     15         OLE     17
HT92                GRA    680        *304     12
HT11b                KA     30          KA     50
HT91                GRA     .3        *304  ≈ ¹⁄₆
HT27b                SA      1          RE     14
KH8                *312      1  QA2+[?]+PU      1
HT50a             OLE+E    ¹⁄₂        *304      1
HT28a               GRA      5        *304      2
THEZg5             *171      7          ZO      9
HT38                 AU      1         CAP      3
HT33               E+KA     𐝃𐝉    MI+JA+KA    ¹⁄₅
PH1a               *316      1         CYP  ≈ ¹⁄₆
KH7b              CYP+D    ¹⁄₂     *304+PA      1
HT27a               *86     51          RE     20
MA10b            *402+A      2  TI+*412VAS      2
HT101               OLE     10       DI+QE      3
HT116a              GRA     20        *304      3
HT16                 WA    ¹⁄₃     *188+KU    ³⁄₈
HT34         QA2+[?]+PU  ≈ ¹⁄₆  QA2+[?]+RE    ¹⁄₄
ZA11a                JU     𐝈𐝉         VIN    ¹⁄₂
HT100              TI+A     12          KI      2
KH7a          VIR+*313b      4       CYP+D    ¹⁄₃
HT89               *305     23  JU+*317+QE     22
HT123+124a         OLIV     31        *308      8
GO2r                 KA    ¹⁄₈          SI      2
ZA18a            OLE+KI      ?        OLIV    ¹⁄₄
HT32               *308    ¹⁄₂      OLE+NE     𐝆𐝇
KH20              CYP+E    ¹⁄₂          NI    ¹⁄₄
HT12             OLE+DI      5        *304      5
HT119              *327     34     VIR+[?]     67
HT21                GRA    161       OLE+U     11
HT110b               MA      2        *301    ³⁄₄
HT127b        VIR+*313c     24       KI+MU     15
HT90                GRA      1          NI      1
KH11                CYP   ¹⁄₁₆          SU      3
TY3a          OLE+KI+ME      1     OLE+QIf      4
MA4a             HIDE+L    120   HIDE+SA+L     53
HT18                GRA     10          NI     10
HT96b             OLE+U      4          NI      2
HT49a              *370      1        *312      1
HT28b                NI      2         VIN      4
KH5               CYP+E      2     VINb+WI      2
MA10a           *413+SU      2      *412+E      4
HT35                CYP      1    MI+JA+RU    ¹⁄₃
ZA15b               VIN     78      VIN+RA     17
KH12               *308    ¹⁄₂    MI+JA+RU    ¹⁄₂
HT94a               CYP      5          NI      3
HT140             OLE+U      3          KA      1
ZA12b                TI     13          RU     26
HTZd157+156        *904      1        *904      1
ZA6b             VIN+RA     40      VIN+KA     10
HT129              *304     10          NI     22
HT25b           VIR+[?]     28     VIR+[?]     24

               word logogram word separator              word
ZA11b       E-TO-RI     *516              𐄁        SA-*301-RI
HT13     KA-U-DE-TA      VIN              𐄁                TE
IOZa16  JA-SA-SA-RA       ME              𐄁  U-NA-RU-KA-NA-SI

           word separator logogram number    logogram
ZA15b                   𐄁      VIN     78      VIN+RA
HT42+59                 𐄁   OLE+KI      8       OLE+U
PH1a                    𐄁     *316      1         CYP
HT23a                   𐄁      CYP    ¹⁄₃        *308
HT16                    𐄁       WA    ¹⁄₃     *188+KU
MA10b                   𐄁   *405+Ω      1      *412+E
HT123+124a              𐄁     OLIV     31        *308
HT89                    𐄁     *305     23  JU+*317+QE
HT116a                  𐄁      GRA     40      OLE+DI
HT103                   𐄁       NI     40         PA₃
KH20                    𐄁    CYP+E    ¹⁄₂          NI
HT27b                   𐄁       SA      4          RE
MA10a                   𐄁  *413+SU      2      *412+E
HT14                    𐄁      GRA     30      OLE+MI
HT92                    𐄁      GRA    680        *304
HT41a                   𐄁     *304     10          RE
HT21                    𐄁      GRA    161       OLE+U
HT28a                   𐄁   GRA+QE      5       OLE+U
HT32                    𐄁     *308    ¹⁄₂      OLE+NE

                          word   logogram number  logogram
HT127b                   KU-RO       *307    156        KU
HT94a                       62        *86     20      TI+A
HT116a                SI-KI-NE        GRA     12      *304
HT101               ZU-*22F-DI     GRA+QE     40     OLE+U
KH11            A-TO-*349-TO-I      CYP+E      3        NI
HT123+124a               SA-RU       OLIV     16      *308
TY3a                      A-DA      OLE+U     21    OLE+MI
TY3b                  PI-KU-ZU     OLE+KI      4    OLE+MI
KH7a                  QA-TI-KI  VIR+*313b      4     CYP+D
HT25b                     I-TI    VIR+[?]     28   VIR+[?]
HT90                    SA-RA₂        GRA     20        NI
HTZd157+156  WI-JA-SU-MA-TI-TI       *904      1      *904
HT18                     PA-SE     GRA+QE     20    OLE+KI
HT14               A-PU₂-NA-DU        GRA     45    OLE+MI
HT28b                   SA-RA₂        GRA     20    OLE+DI
HT28a                   SA-RA₂     OLE+DI      1        NI
HT42+59                  SA-RO     OLE+KI      8     OLE+U
HT35                   I-KU-TA        CYP      1  MI+JA+RU
KH5                WI-SA-SA-NE      CYP+E      2   VINb+WI

      logogram word separator            word number
HT63      *305              𐄁              TE      1
HT118     *516              𐄁           MA-DI     15
HT104   TE+RO[              𐄁  DA-KU-SE-NE-TI     45
HT15      *188              𐄁           KI-RO    400
HT85a  VIR+[?]              𐄁        DA-RI-DA     12
HT88        NI              𐄁        KI-KI-NA      7

        logogram            word number        word
ZA15a     SA-VIN      QE-SI-ZU-E     57  I-TI-NI-SA
HT115a  GRA+BOSm  RI-TA-MA-NU-WI      2   *301-U-RA
HT15         GRA       DU-AROM-A    684   GRA+L4+L4

           number logogram word separator      word
HT88            6       NI              𐄁  KI-KI-NA
HT15          570     *188              𐄁     KI-RO
HT123+124a    ¹⁄₂     *308              𐄁     KU-RO

       word separator logogram number         word
HT115b              𐄁      GRA    ¹⁄₂    DU-PA₃-NA
HT17                𐄁      VIN     37        SA-RO
KH88                𐄁       NI     10        PU-DE
HT41a               𐄁     *304     10     MI-DA-NI
ZA8                 𐄁       NI    ¹⁄₂  KU-TU-KO-RE
HT19                𐄁      VIN     30        SA-RO

                  logogram number number    logogram
HT129                  GRA     33     𐝆𐝁        *304
HT21                 OLE+E      3    ³⁄₄        *304
TY3a                OLE+KI     15    ¹⁄₄       OLE+U
HT27a                   NI     10    ¹⁄₃         VIN
HT100                  CYP      5    ¹⁄₄          NI
HTZd157+156           *904      1    ¹⁄₂        *904
HT101                 OLIV      1    ¹⁄₄    *OLIV+TU
HT32            QA2+[?]+PU      1   ¹⁄₁₆  QA2+[?]+RE
HT33         QA2+[?]+RE+PU      1    ¹⁄₄  QA2+[?]+RE
ZA1a                    NI     42    ¹⁄₂          ZA
HT123+124a            OLIV     31    ¹⁄₂        *308
HT99a                  VIN      1  ≈ ¹⁄₆      GRA+QE
HT89                   CYP      2    ³⁄₄          NI
HT106                   SI      5    ¹⁄₂          SI
ZA6b                GRA+PA     50    ¹⁄₄      VIN+RA

      number   logogram number word also in linear b
HT28a      2     OLE+DI      3               I-TA-JA
HT140      1      OLE+U      2                 KA-PA
HT23a   ¹⁄₁₆      SI+ME     10                 KO-RU
HT89      24  VIR+*313a     13                 TA-RA

       logogram number logogram[ number
HT27b        SA      4        RE     40
HT125a      GRA      2       OLE      1
HT116a      GRA      5       OLE      5
HT23b       CYP    ¹⁄₃       OLE    ¹⁄₃

                word logogram number logogram[
HT23b          NI-RA      CYP    ¹⁄₃       OLE
HT128b  VIR+[?]-*329   GRA+KU      1        RU

      lacuna logogram number[ lacuna
KH38       𐝫    CYP+D     ¹⁄₂      𐝫
HT23b      𐝫        E       7      𐝫

      ]number number  logogram number
HT24a       9    ¹⁄₂  MA-RU-ME      6
HT103       6    ¹⁄₂      *188     13

      logogram[ ]number  logogram number
KH9    VIR+*307    ¹⁄₁₆        NI     𐝃𐝁
TY2        *309       6   VIR+[?]     82
KH91         ZU   ≈ ¹⁄₆        TU   ¹⁄₁₆
HT24a  KI-MA-RU       6  MA-RU-ME     10

      ]number  logogram number ]number
PH28b       2      *304      6       6
HT24a       6  MA-RU-ME     10       9

                      ]word number        word number
PH3a                   *557      1        *563      𐝓
HT122a                   DI      1       TE-KI      2
PK1                   NE-TI      1       KA-QA      2
HT29                DI-JA-I      2  SA-*323-MI      1
ZA4a               TU-ME-SE     18  QE-SI-ZU-E      4
HT123+124b            SI-DU  ≈ ¹⁄₆  DU-MA-I-NA    ³⁄₈
HT25a                 RU-NI      1     U-RE-WI      1
HT26b                 RO-NI      3  KA-U-ZU-NI      4
HT49a                 SI-RA      1        A-RU      1
HT122b      A-RA-JU-U-DE-ZA      2    QA-QA-RU      2

           number           word number       word[
HT123+124b     10    TU-PA-DI-DA  13/20       KA-NA
ZA5a            7  O-TA-NI-ZA-SE      6  SA-MI-DA-E
TY2           290    *309B-KI-PU     50  *309-DA-PU
MA10c           2           *659      3     *404-VS
HT25a           1     A-RI-NI-TA      1    TU-QE-NU
ZA7a            5        A-RA-TU      4  A-RE-TU-MI
HT85a           3          DA-RE      4       KU-RO
HT87            1       KU-RU-KU      1        A-RA
HT115a       𐝂𐝂𐝂𐝂       KA-PO-RU      1    RI-SU-MA
HT85b           1             PA      1       TE-TU
HT115b        ¹⁄₂     *306-TU-JA      1         A-I
HT63            1          KA-TI      1      SU-PU₂

           number        word word separator        word
HT25b          16    WI-TE-RO              𐄁        I-TI
HT123+124b    ³⁄₄    TI-DA-TA              𐄁       PI-SA
HT41a          10    MI-DA-NI              𐄁       PA-JA
KH5             2    WI-NA-DU              𐄁     *301-NA
KH7a          ¹⁄₂  I-JA-PA-ME              𐄁       TA-TA
KH10           10  I-PA-SA-JA              𐄁     QA-*118
HT88            7       KI-RO              𐄁  KU-PA₃-PA₃
HT115b        ¹⁄₂    TI-NU-JA              𐄁       NU-WI

             word number      word word separator
HT25b       KU-RO     16  WI-TE-RO              𐄁
HT88     KI-KI-NA      7     KI-RO              𐄁
HT115b  DU-PA₃-NA      1  KU-RU-MA              𐄁
HT93a      SA-RA₂     20  QA-QA-RU              𐄁

      lacuna   word number      word
HT25b      𐝫  KU-RO     16  WI-TE-RO
HT95b      𐝫  DA-ME     10  MI-NU-TE

              word word separator         word   logogram
HT96a    A-AROM-TE              𐄁     SI-MI-TA        GRA
HT133         A-DU              𐄁           TE     GRA+DA
HT99a         A-DU              𐄁       SA-RA₂        CYP
HT116a          TE              𐄁     KU-PA-JA        GRA
HT25b     WI-TE-RO              𐄁         I-TI    VIR+[?]
HT28b   U-MI-NA-SI              𐄁       SA-RA₂        GRA
KH7a         TA-TA              𐄁     QA-TI-KI  VIR+*313b
KH5      A-RA-U-DA              𐄁  WI-SA-SA-NE      CYP+E

                   word       number            word number[
ZA8         KU-TU-KO-RE  double mina      A-RI-NI-TA       1
HT108          DI-NA-RO            2        DU-SU-NI       5
ZA4a            A-TI-RU            4           JA-PA       1
ZA14              KU-PI            1  TU-MI-TI-ZA-SE      45
HT26a       MI-KI-SE-NA           15       U-NU-*21F       5
HT123+124b        KU-RO           20           KI-RO       5

      number              ]word number        word
HT31      10  *416-VS-KA-RO-PA₃     10    SA-JA-MA
HT26b      9              RO-NI      3  KA-U-ZU-NI

         logogram word separator logogram number
HT27a        *307              𐄁  VIR+[?]     90
HT26b  *406VAS+KE              𐄁  VIR+[?]      9
HT41a        *305              𐄁     *304     10

       word separator    logogram word separator  logogram
HT43                𐄁           I              𐄁    GRA+PA
HT96b               𐄁        *516              𐄁       GRA
HT115a              𐄁           I              𐄁  GRA+BOSm
HT26b               𐄁  *406VAS+KE              𐄁   VIR+[?]
HT85a               𐄁   *307+*387              𐄁   VIR+[?]

      number            word number[      word
HT26b     12          I-*308       2  *188-*86
ZA14       1  TU-MI-TI-ZA-SE      45  PA-NU-QE

       ]number   logogram number logogram
HT27a       50        *86     51       RE
HT110b       1         MA      2     *301
KH12      ¹⁄₁₆  *401+*304    ¹⁄₅  *401+RU

           ]word word separator    word[     ]word
HT27a    KI-*310              𐄁  KU-*305  SA-RA-DI
KH79+89    PA-TA              𐄁     A-RA  PA-DA-NI

          ]word number logogram number
KN2       RU-NA      2     *118      3
HT27a  SA-RA-DI      5  VIR+[?]     42
HT93a  PA-SE-JA     20  VIR+[?]     10

            ]word number ]logogram number
MA2b        RE-TI      4        TI      1
HT27a  I-MI-SA-RA     43        QE     21

                       word  logogram number number
HT129             KI-RE-TA₂       GRA     33     𐝆𐝁
HT123+124a           PU-VIN      OLIV     31    ¹⁄₂
HT100                SA-RA₂       CYP      5    ¹⁄₄
ZA6b        I-KU-JU-TI-*28B    GRA+PA     50    ¹⁄₄
HT27a                    𐝕𐝁        NI     10    ¹⁄₃
MA4b                   A-JA  HIDE+[?]    123    160

        ]logogram word separator logogram word separator
HT27b         VIN              𐄁      GRA              𐄁
HT42+59        TA              𐄁    SI+SE              𐄁

      ]logogram word separator logogram number
HT27b       GRA              𐄁       SA      4
PH1a         JA              𐄁     *316      1
HT45a      *318              𐄁     *305      2
MA10a        RU              𐄁  *413+SU      2
KH22         ZA              𐄁       SU      7

        logogram word separator logogram word separator
HT85a  *307+*387              𐄁  VIR+[?]              𐄁
HT118         AU              𐄁     *516              𐄁
HT27b        VIN              𐄁       SI              𐄁
HT96b       *516              𐄁      GRA              𐄁
HT66          ZU              𐄁  VIR+[?]              𐄁

       logogram number logogram[ word separator
HT128b   GRA+KU      1        RU              𐄁
HT27b        RE     70       VIN              𐄁

        logogram number            word logogram
KH11    *348-CYP     𐝇𐝉  A-TO-*349-TO-I    CYP+E
HT102        GRA    976          PA₃-NI   GRA+PA
HT28a     OLE+TU      𐝉          SA-RA₂   OLE+DI
HT129         NI     22   TU-*21F-RI-NA      GRA
HT128b    GRA+KU      6    VIR+[?]-*329   GRA+KU
ZA6b      VIN+KA     10        *312-TA₂   GRA+PA

           number          word logogram number
HT123+124a     .3        PU-VIN     OLIV     31
HT94a         110        SA-RA₂      CYP      5
HT28a           3       I-TA-JA   OLE+DI     10
HT100          97        SA-RA₂      CYP      5
HT116a          3     PI-*34-TE      GRA      5
HT128b          6  VIR+[?]-*329   GRA+KU      1
HT28b           6       JA-*21F      VIN      6

           word number[       ]word number
HT39  TA-I-AROM      10    KU-RE-JU      8
KH92   KU-NI-TE      10       NA-KI      1
HT70         TE      30  QA-*118-SA      2
HT29   PA-JA-RE       2     DI-JA-I      2

           number[            ]word number        word
HT29             2          DI-JA-I      2  SA-*323-MI
HT122b           7  A-RA-JU-U-DE-ZA      2    QA-QA-RU
HT123+124a   ≈ ¹⁄₆            KI-RO    ³⁄₄       DA-TU

                     ]word word separator            word word separator
SYZa1    A-TA-I-*301-WA-JA              𐄁         I-DA-MI              𐄁
ZAZb34           PU₂-RE-JA              𐄁           KO-MU              𐄁
HT31                 TI-SA              𐄁           PU-KO              𐄁
PKZa18                  TE              𐄁            I-DA              𐄁
PKZa8                   NU              𐄁           PA₃-E              𐄁
HT62+73              SA-RA              𐄁              TE              𐄁
PSZa2              𐄌-JA-TI              𐄁  JA-SA-SA-RA-ME              𐄁
IOZa2           I-PI-NA-MA              𐄁        SI-RU-TE              𐄁
KNZf31    SI-SI-ZA-NE-*310              𐄁     DA-DU-MI-NE              𐄁

        number      word number[ ]number
HT31        10  SA-JA-MA      30      10
HT62+73    ¹⁄₄     KA-KU       4      18
HT110b      20      *648       3       1

                    ]word number      word number[
HT31    *416-VS-KA-RO-PA₃     10  SA-JA-MA      30
HT111a              QA-RU      8        DI      14
HT110b                 RO     20      *648       3

       number logogram[ ]logogram number
HT32       65    OLE+NE        RE    104
HT58       19    OLE+MI     OLE+E      3
KH8       ¹⁄₄   VIR+[?]        NI    ¹⁄₄
KH91        1       VIN      *316      1
KH22        7     CYP+E        SI      4
HT125a    ¹⁄₅     OLE+U    OLE+MI      1

       ]logogram number         word number
MA2b          TI      1        JA-KU      2
MA10c     *412+E      2         *659      3
HT32          RE    104           DI     53
HT55a       *301      1        SI-RU      1
HT98a         TU      1     TA-NA-TI    ³⁄₄
HT109         TA      4        KU-RO    129
HT122a        DU      1    KU-PA₃-NU      1
HT98b        VIN    ³⁄₄  DA-RU-NE-TE   ¹⁄₁₆
PH3a        *560      𐝓        PA-RA      𐝓

                word word separator number         word
HT123+124b   *188-DU              𐄁     10  TU-PA-DI-DA
HT96a       PI-TA-RA              𐄁      1    *323-*344
HT32           SU-RE              𐄁    108           DI
HTWa1021     *188-DU              𐄁    ³⁄₄  SI+SE-RA+KA

     number   word number logogram[
HT32    108     DI     65    OLE+NE
MA2b      1  JA-KU      2        TI

     word separator number      word number
ZA20              𐄁      4  SI-TE-TU      1
HT32              𐄁    108        DI     65

        number    logogram number[ ]number
HT42+59      8       OLE+U       2       2
HT33       ¹⁄₄  QA2+[?]+RE     𐝉𐝋𐝫       3

        logogram       logogram number number
HT33   *401+*304  QA2+[?]+RE+PU      1    ¹⁄₄
PEZg5        OLE           *307      1    ¹⁄₂

       number[ ]number logogram number
HT33       𐝉𐝋𐝫       3     E+KA     𐝃𐝉
PH28b      102       2     *304      6
HT101        2       3     OLIV      1
KH9        ¹⁄₂       2      CYP    ¹⁄₄
HT110b       3       1       MA      5

     logogram word separator logogram number[
HT43        I              𐄁   GRA+PA       5
HT34        E              𐄁      GRA     200

        word separator                 word word separator logogram[
IOZa2                𐄁  TA-NA-RA-TE-U-TI-NU              𐄁         I
PKZa10               𐄁        I-PI-NA-MI-NA              𐄁        SI
HT62+73              𐄁                   TE              𐄁       VIN
KNZb4                𐄁                JA-SI              𐄁        SI
IOZa3                𐄁    A-TA-I-*301-WA-JA              𐄁        AU
SYZa1                𐄁              I-DA-MI              𐄁        JA
HT34                 𐄁               SA-RA₂              𐄁  MI+JA+KA
HT51a                𐄁                   TE              𐄁        MA

       logogram[ lacuna ]number logogram
ARKH3b       OLE      𐝫       2      OLE
HT34    MI+JA+KA      𐝫     ¹⁄₃        E

      logogram[ logogram number    logogram
HT35     OLE+TA        E      5  QA2+[?]+PU
HT44a       GRA   OLE+KI      3       OLE+U
GO2r         SI       KA    ¹⁄₈          SI

      word separator      word logogram number
HT35               𐄁   I-KU-TA      CYP      1
HT96a              𐄁  SI-MI-TA      GRA      5
HT133              𐄁        TE   GRA+DA     55

      logogram number logogram[  logogram
KH37  *304+[ ]      2        WI  *304+[ ]
HT35      *308    ¹⁄₃    OLE+TA         E

         word              word number number
HT36    JE-DI  *307+*387-GRA+QE     64    ¹⁄₂
SAMWa1  SA-RA                TE     10   ¹⁄₁₆

        number  word[  ]word logogram
HT39        10  KU-RE  KU-RO   *414+A
HT42+59      2  SU-DU  RE-TU   OLE+KI

      number[     ]word number logogram[
HT81    ≈ ¹⁄₆  RI-SU-MA      𐝋        KI
HT51b      12     ZU-DU      ⅝        SI
HT39       10  KU-RE-JU      8        KU

      word[  ]word logogram number
ZA1b   E-MI     RO      GRA     47
HT39  KU-RE  KU-RO   *414+A    100

       lacuna lacuna  ]word number
HT111a      𐝫      𐝫  QE-KA      8
HT41a       𐝫      𐝫  QE-TU     10
ZA27        𐝫      𐝫  DI-KI      2

          logogram number logogram number[
KH12     *401+*304    ¹⁄₅  *401+RU      𐝍𐝫
KH14          *336      2      CYP    ¹⁄₁₆
HT49a           TU      4       KI       1
TY3b        OLE+KI      4   OLE+MI      11
TY3a         OLE+U     21   OLE+MI       2
KN2           *118      3   I+*301       5
KH7a          *334      4    CYP+D       1
HT42+59     OLE+KI      8    OLE+U       2
HT91        OLE+MI  ≈ ¹⁄₆        E       3
HT44a       OLE+KI      3    OLE+U       5
HT101         *304      3   OLE+KI       2

        logogram number      word[     ]word
HT42+59   OLE+MI      2      SU-DU     RE-TU
HT93a       *343      2  PA₃-NI-NA  PA-SE-JA

       logogram number[ logogram number
ZA12a        TI      13       RU     28
HT116b      GRA     100     *304     15
HT106       CYP       6       SI      5
PE1     VIR+[?]      50   GRA+PA     26
HT99a        NI       4      VIN      1
HT128a   GRA+PA     ¹⁄₂   GRA+KU      6
HT44a     OLE+U       5   OLE+RA      5

      ]logogram number logogram[ lacuna
KH22         SI      4       CYP      𐝫
HT100    VIR+KA     58   *304+PA      𐝫
PH8b       *316      1  *318+[ ]      𐝫
KH34      CYP+E      2        NI      𐝫
KH91    *401+RU   ¹⁄₁₆   *401+RO      𐝫
HT44a        NI      1       VIN      𐝫

       number[ ]logogram number logogram[
KH84       ¹⁄₂      *301      1      *306
HT44a        1        NI      1       VIN
HT131b      30      OLIV      2    VIN+SA

      number[ logogram number logogram
HT44a       5   OLE+RA      5     OLIV
ZA12b      40       TI     13       RU

      ]logogram word separator  logogram number[
HT45a       *86              𐄁      *305       2
HT52b        NE              𐄁       GRA     201
KH36         KA              𐄁  MI+JA+RU       4

              ]word number[              ]word number
HT51b      KU-ME-TA      12              ZU-DU      ⅝
HT46a         MU-RU       1              KU-RO     43
HT122b  *306-KI-TA₂       7    A-RA-JU-U-DE-ZA      2
HT127a     DU-NE-MI       1  *304+PA-DA-*47-KU      1

       lacuna     ]word number[              ]word
HT46a       𐝫     MU-RU       1              KU-RO
HT127a      𐝫  DU-NE-MI       1  *304+PA-DA-*47-KU
HT135a      𐝫  NE-MI-NA      10              MI-TU

      number[    ]word number number
ZA11a     ¹⁄₂  E-KU-RU      2    ¹⁄₄
HT46a       1    KU-RO     43    ¹⁄₂

      number logogram number dividing line
PH8a      11     *304      2             —
HT49a      1       KI      1             —
HT106    ¹⁄₂       SI      1             —
TY3a       5   OLE+TU      1             —

       lacuna  ]word number  word[
ZA27        𐝫  DI-KI      2   O-MI
HT111a      𐝫  QE-KA      8  QA-SA
HT49a       𐝫     RI      1  SU-KI

      number logogram number[ lacuna
KN2        3   I+*301       5      𐝫
HT49a      4       KI       1      𐝫
KH4        4      CYP     ¹⁄₃      𐝫
HT91   ≈ ¹⁄₆        E       3      𐝫

      lacuna number logogram number
HT49a      𐝫      5       TU      4
KH10       𐝫    ¹⁄₂      GRA     10

             ]word number  word[ lacuna
HT49a           RI      1  SU-KI      𐝫
TY2    *309B-RI-JU    250  *309B      𐝫

      word separator                ]word[        ]word word separator
HT49a              𐄁                RA₂-DU     TA-NA-TI              𐄁
APZa2              𐄁  I-KU-PA₃-NA-TU-NA-TE  PI-MI-NA-TE              𐄁

       ]logogram number  logogram number
KH14         CYP    ¹⁄₄      *336      2
KNZb35       OLE    100        NI      2
PK3           QE      3        JA     20
TY3a          KI      5    OLE+TU      1
KH8           TA      2     CYP+D    ¹⁄₂
HT50a       OLIV      3  *OLIV+TU    ³⁄₈
HT140         KA      1     OLE+U      2
HT58       OLE+E      3      OLIV     41
PH8a     VIR+[?]     11      *304      2

          ]word number logogram[ lacuna
HT51b     ZU-DU      ⅝        SI      𐝫
HT55b     RI-JA      1         I      𐝫
HT81   RI-SU-MA      𐝋        KI      𐝫
KH43    *560-RE      2    WI+ZE[      𐝫
HT108    RA₂-TI     10        JU      𐝫

      number logogram[ lacuna lacuna
HT51b      ⅝        SI      𐝫      𐝫
HT55b      1         I      𐝫      𐝫
KH34       2        NI      𐝫      𐝫

      ]number     word[ lacuna lacuna
ZA21b       2     SA-RI      𐝫      𐝫
HT52a       4  DI-KA-KI      𐝫      𐝫

      logogram number[ lacuna lacuna
KH29       CYP     ¹⁄₂      𐝫      𐝫
PH25       VIN       2      𐝫      𐝫
KH4        CYP     ¹⁄₃      𐝫      𐝫
HT52b      GRA     201      𐝫      𐝫
KH38     CYP+D     ¹⁄₂      𐝫      𐝫

       ]logogram[ ]number logogram[ lacuna
HT53a         OLE     100        RA      𐝫
HT154n         SI       6        SI      𐝫

      lacuna lacuna ]number[ lacuna
HT53b      𐝫      𐝫       18      𐝫
ZA30       𐝫      𐝫        7      𐝫
KH67       𐝫      𐝫        1      𐝫

       ]number logogram[ lacuna lacuna
HT54b        4        KI      𐝫      𐝫
HT154n       6        SI      𐝫      𐝫

      lacuna ]number logogram[ lacuna
KH46       𐝫      𐝫𐝋       VIN      𐝫
KH35       𐝫       1       CYP      𐝫
HT54b      𐝫       4        KI      𐝫

      number   logogram[   ]logogram number[
HT55a      1          NE          TU       1
HT60       5  QA2+[?]+RE  QA2+[?]+PU      𐝉𐝫
KH9      ¹⁄₄         VIN         CYP     𐝃𐝉𐝫

        ]logogram number[ lacuna lacuna
HT55a          TU       1      𐝫      𐝫
KH68+71  *401+[ ]      𐝉𐝫      𐝫      𐝫
HT70            I       3      𐝫      𐝫
HT112b        CYP       6      𐝫      𐝫

        ]word word separator     word number[
HT55a   KI-RO              𐄁    MA-RE       1
HT122a  RA-RI              𐄁  U-DE-ZA       2

      logogram[ ]logogram number[ lacuna
KH100       VIN        KE     ¹⁄₄      𐝫
HT55a        NE        TU       1      𐝫

      ]logogram number lacuna lacuna
HT63         ZU      2      𐝫      𐝫
HT57b      *305      8      𐝫      𐝫

     logogram number logogram[ ]logogram
KH8       CYP    ¹⁄₄   VIR+[?]        NI
KH22       SU      7     CYP+E        SI
HT58    OLE+U     19    OLE+MI     OLE+E
KH9       CYP    ¹⁄₄       VIN       CYP

       ]number logogram number number
HT101        3     OLIV      1    ¹⁄₄
HT60      ¹⁄₁₆      VIN   ¹⁄₁₆    ¹⁄₄
HT113       30        O      2    ¹⁄₂
HT110b       1       MA      5    ¹⁄₂

       number number   logogram[   ]logogram
HT60      ¹⁄₄      5  QA2+[?]+RE  QA2+[?]+PU
HT125a      1    ¹⁄₅       OLE+U      OLE+MI

       logogram ]number   logogram number
HT60  MI+JA+[ ]    ¹⁄₁₆        VIN   ¹⁄₁₆
KH7a  VIR+*313b      18      CYP+D      1
KH12       *516    ¹⁄₁₆  *401+*304    ¹⁄₅

      ]word word separator logogram number[
KH9    I-SI              𐄁    CYP+D     ¹⁄₂
HT61  MI-TI              𐄁   GRA+KU       6

             logogram number number      word
HT123+124b       *312      1    ³⁄₄  TI-DA-TA
HT123+124a       *308      8    ¹⁄₄     KI-RO
HTZd157+156      *904      3    ³⁄₈     TA-JA
HT93a        DA+RE+SE     43    ¹⁄₂  KI-DI-NI
HT62+73           GRA     15    ¹⁄₄     KA-KU

        word separator logogram[ word separator     ]word
HT94b                𐄁        RA              𐄁  DE-ME-TE
HT62+73              𐄁       VIN              𐄁        NA
KH7a                 𐄁        KU              𐄁      KO-E

           ]word logogram number number
HT62+73       NA      GRA     15    ¹⁄₄
TY3a     ZA-*321   OLE+KI     15    ¹⁄₄

      number   word[ ]logogram number
HT63       1  SU-PU₂        ZU      2
HT101      3  KU-PA₃     OLE+U      2
PH1b       1      PA        NI      2

           word[ ]logogram number lacuna
HT63      SU-PU₂        ZU      2      𐝫
ZA11a  PI-*310-A      OLIV      2      𐝫

                 word number word also in linear b number
HT115a       SE-KU-TU    ¹⁄₂              PA-RA-NE      1
HT117a    DA-NE-KU-TI      1              KI-DA-RO      1
ZA10a   A-DU-KU-MI-NA      1            DA-I-PI-TA      1
HT85b     WA-DU-NI-MI      1                 MA-DI      1
PE2          QA-QA-DA    ¹⁄₂                 TO-ME    ¹⁄₃
HT63               TE      1                 KA-TI      1
HT122a     *324-DI-RA      1                 PA-DE      1

        ]word[ ]logogram number lacuna
HT79+83  KU-NI        ZU      3      𐝫
HT66     TA-MI        RE      1      𐝫

      word separator   ]word number logogram[
HT66               𐄁      DI      2        TA
HT108              𐄁  RA₂-TI     10        JU

     ]logogram word separator word number[
HT67        NI              𐄁   TE     400
HT70        NI              𐄁   TE      30

      lacuna lacuna  ]word number[
KN28b      𐝫      𐝫     TE      𐝊𐝫
HT74       𐝫      𐝫  KU-RO      20
HT67       𐝫      𐝫  KU-RO     402

      lacuna  ]word number[ ]logogram
HT67       𐝫  KU-RO     402        NI
ZA16       𐝫     PA       6        SU
HT98a      𐝫     DE       1        TU

       lacuna ]number   word number[
HT69        𐝫       5     DI       8
HT111b      𐝫      18  SA-DI       4

      number[ ]logogram number[ lacuna
HT106       8        SI       3      𐝫
PH3b      ³⁄₄        SI     ¹⁄₄      𐝫
HT70      ¹⁄₄         I       3      𐝫
KH25      140   VIR+[?]      10      𐝫
ZA16        6        SU       4      𐝫
KH12       𐝍𐝫   *401+RU      𐝍𐝫      𐝫
KH63       10   *401+RU      𐝉𐝫      𐝫

        ]logogram word separator     word[       ]word
KH74           SI              𐄁  JA-DA-SU  SI-*805-MI
HT79+83        KA              𐄁    DA-PA₃    TU-PA-RI

      word separator logogram[ lacuna lacuna
HT144              𐄁         O      𐝫      𐝫
HT84               𐄁   VIR+[?]      𐝫      𐝫

          ]word word separator logogram[ lacuna
HT84      NU-TI              𐄁   VIR+[?]      𐝫
KH53  A-ME-AROM              𐄁        NE      𐝫

             word          word logogram number
HT90   I-KU-RI-NA        SA-RA₂      GRA     20
HT102       KA-PA        SA-RA₂      GRA    976
KH10      QA-*118  A-KI-PI-E-TE      GRA     90

      number    word[ word separator number
HT93a    ¹⁄₂     O-TI              𐄁      3
HT94b      1  *21F-TU              𐄁      1

       number logogram number      word[
GO2r      ¹⁄₈       SI      2         DA
HT93a       2     *343      2  PA₃-NI-NA
HT101      10    DI+QE      3     KU-PA₃
HT115b      1  *306+MI      1      KU-TA

       logogram word   logogram number
PE1     VIR+[?]   72     GRA+PA     36
HT127b       KU   72  VIR+*313c     24
HT94a   VIR+[?]   62        *86     20

            number  logogram       number ]number
MA10b            1    *412+E            3       4
PK3              3        JA           20      31
HT94a  double mina        NI  double mina      14
KH12           ¹⁄₂  MI+JA+RU          ¹⁄₂     ¹⁄₃

      word separator     ]word number    word[
HT94b              𐄁  DE-ME-TE      1  *21F-TU
PH1b               𐄁        NA      1       PA

       number                word number dividing line
HT96a       1           *323-*344      1             —
PK1         1  O-KA-MI-ZA-SI-I-NA      1             —
HT117a      1               KU-RO     10             —

           word number ]logogram number
PH3a       *563      𐝓      *560      𐝓
HT96a     TE-NI     20        NI      2
HT122a  *306-TU      1        DU      1

      logogram number number lacuna
HT113        O      2    ¹⁄₂      𐝫
HT96b       NI      2   ¹⁄₁₆      𐝫

      lacuna ]logogram[ ]logogram number
KH8        𐝫         RE        TA      2
HT98b      𐝫       *188       VIN    ³⁄₄

          word logogram number[ logogram
HT99a   SA-RA₂      CYP       4       NI
HT116b   KU-RO      GRA     100     *304

      number[ logogram number number
PE1        50   GRA+PA     26    ¹⁄₂
ZA12a      13       RU     28      6
HT99a       4      VIN      1  ≈ ¹⁄₆
HT106       6       SI      5    ¹⁄₂
HT140     ¹⁄₂    OLE+U      6    ¹⁄₂

      logogram number[ logogram number[
HT99a      CYP       4       NI       4
ZA11b   GRA+PA       1   I-OLIV       1

       number         word logogram number[
ZA6b       10     *312-TA₂   GRA+PA      40
HT128a     10  WA-TU-MA-RE   GRA+KU      12
HT102     976       PA₃-NI   GRA+PA      33

             word logogram number[ ]logogram
HT131a  I-QA-*118      GRA      58       OLE
HT102      PA₃-NI   GRA+PA      33   VIR+[?]

                    word number               word              word
HT115a    RI-TA-MA-NU-WI      2          *301-U-RA  NA-*21F-NE-MI-NA
SYZa2   JA-SU-MA-TU-OLIV      1  U-NA-KA-NA-SI-OLE              A-JA
HT102               I-KA      5              KU-RO              1060

      lacuna ]logogram number    word
HT105      𐝫   VIR+[?]    234  SA-RA₂
HT109      𐝫        TA      4   KU-RO
HT130      𐝫        SI      3  SA-RA₂

       number      word word separator logogram
ZA11b       2     KU-PA              𐄁   GRA+PA
HT105     234    SA-RA₂              𐄁  VIR+[?]
HT115b      1  KU-RU-MA              𐄁        I
ZA11a       4     KU-PA              𐄁   GRA+PA

        lacuna ]logogram number[ lacuna
ZA28         𐝫    GRA+PA       1      𐝫
HT109        𐝫        RE       4      𐝫
ZA31         𐝫        DU       2      𐝫
KH68+71      𐝫  *401+[ ]      𐝉𐝫      𐝫

       number     word[ logogram number
HT128a      6        DI   GRA+KU      4
HT115a      1  RI-SU-MA       SU      2

       number       word              word number
HT115a      2  *301-U-RA  NA-*21F-NE-MI-NA      1
TY2        10   PA-DA-RU        *309-JU-KI    100

       number dividing line   word word separator
HT117a     10             —  SA-TA              𐄁
ZA15b       3             —  KU-RO              𐄁

       number[     ]word logogram number
KH7b       ¹⁄₂  PA-NA-TU    CYP+D    ¹⁄₂
HT125a     ¹⁄₂    SA-RA₂      GRA      2

       ]logogram number number logogram[
HT125a    OLE+KI      1    ¹⁄₅     OLE+U
KH91        *316      1  13/20        ZU

       lacuna lacuna ]logogram number[
KH82        𐝫      𐝫    OLE+RI      𐝉𐝫
HT127b      𐝫      𐝫        NE      13

       word separator lacuna logogram number
HT128b              𐄁      𐝫   GRA+KU      6
KH91                𐄁      𐝫      GRA      1
TY3a                𐄁      𐝫   OLE+KI     51

      number logogram number[ ]logogram
TY3b       4   OLE+MI      11    OLE+NE
HT129    ¹⁄₂   OLE+DI       1    OLE+KI
KH12     ¹⁄₅  *401+RU      𐝍𐝫   *401+RU

       lacuna ]logogram number[ ]logogram
KH63        𐝫        SU      10   *401+RU
KH84        𐝫       CYP     ¹⁄₂      *301
HT131b      𐝫        NI      30      OLIV
KH26        𐝫   VIR+[?]      60        NI
HT154a      𐝫        KU       6        TA

      ]logogram[ number logogram number
KH61         CYP      2      GRA      1
MA6a    HIDE+[?]    941   HIDE+B     35
HT139        GRA      1      OLE    ¹⁄₂
KH75         CYP     𐝇𐝉       NI    ¹⁄₃
KH12         CYP      2     *308    ¹⁄₂
KH15         CYP    ¹⁄₂       NI    ¹⁄₂

      logogram number         word number[
TY2    VIR+[?]     82  *309C-DA-JU      17
MA10a   *412+E      4         *659       4
HT140    OLE+U      2        KA-PA     ¹⁄₂

       logogram number ]logogram number
HT140     OLE+U      1        KA      1
ARKH3b      OLE      4       VIN      1
KH8          NI    ¹⁄₂       GRA    ¹⁄₂
KH15         NI    ¹⁄₂        NI    ¹⁄₄

      lacuna lacuna lacuna lacuna
HT142      𐝫      𐝫      𐝫      𐝫
ZA5a       𐝫      𐝫      𐝫      𐝫

      lacuna ]logogram number ]number
HT147      𐝫        RA  ≈ ¹⁄₆     ¹⁄₂
KH21       𐝫       CYP      𐝍     ¹⁄₅

        lacuna lacuna ]word[ lacuna
KH44         𐝫      𐝫   *335      𐝫
HT154ja      𐝫      𐝫  NU-TE      𐝫
KH52         𐝫      𐝫   TA-U      𐝫

                      word word separator logogram[ word separator
KH7a               SE-*305              𐄁        KU              𐄁
IOZa2  TA-NA-RA-TE-U-TI-NU              𐄁         I              𐄁

       word separator              word word separator          word[
KNZc7               𐄁  JA-SA-RA-A-NA-NE              𐄁          WI-PI
ZAZb34              𐄁             KO-MU              𐄁          RU-DI
PKZa18              𐄁              I-DA              𐄁          JA-JA
TLZa1               𐄁    JA-SA-SA-RA-ME              𐄁     U-NA-KA-NA
IOZa2               𐄁    JA-SA-SA-RA-ME              𐄁  U-NA-KA-NA-SI

       word separator     ]word word separator      word[
KNZa10              𐄁  DU-WA-TO              𐄁       I-JA
IOZa11              𐄁   U-TI-NU              𐄁  I-NA-I-DA

             word[ ]logogram number logogram
KH4        A-DU-RE      *306      4      CYP
TY3a  A-KU-TU-*361        KI      5   OLE+TU

     logogram number         word[ ]number
KH7a    CYP+D      1           𐝕𐝉𐝫     𐝫𐝁𐝌
ZA6a     *171     19  *34-JU-TE-MI     180

              word word separator logogram[ ]number
KH20    A-SI-KI-RA              𐄁     CYP+E     ¹⁄₃
KH9   A-SI-SU-PO-A              𐄁  VIR+*307    ¹⁄₁₆

            word word separator     word           word
KH10  I-PA-SA-JA              𐄁  QA-*118   A-KI-PI-E-TE
PH6      I-NA-WA              𐄁     A-RI  I-ZU-RI-NI-TA

     ]number  word[ ]number logogram
KH29       1  KU-PA       2      CYP
KH12     ¹⁄₃   *335     ¹⁄₃     *516

       ]logogram word separator           word word separator
KH14          RA              𐄁        A-MA-JA              𐄁
PLZf1         TA              𐄁    WI-TE-JA-MU              𐄁
KNZb4         JU              𐄁          JA-SI              𐄁
PKZa10        SI              𐄁  I-PI-NA-MI-NA              𐄁

        logogram number[ logogram[ lacuna
KH14    VIR+*307       2       CYP      𐝫
ARKH3b       GRA       1       OLE      𐝫

     logogram number[       ]word logogram[
TY3a   OLE+MI       2  KO-A-DU-WA       OLE
KH16      CYP     𐝇𐝉𐝫   U-TA-I-SI     CYP+D

         ]logogram number[ ]logogram number[
KH25       VIR+[?]     140   VIR+[?]      10
KH63            SU      10   *401+RU      𐝉𐝫
PH3b        ]MI+JA     ³⁄₄        SI     ¹⁄₄
THEtab.4       CAP       7       CAP      46

     number lacuna lacuna lacuna
KH92      1      𐝫      𐝫      𐝫
KH26     𐝃𐝋      𐝫      𐝫      𐝫

     lacuna ]logogram[ ]logogram number[
KH57      𐝫         TU        ZO       1
KH27      𐝫         NI    GRA+PA       4

      ]number logogram number[ lacuna
KH29        2      CYP     ¹⁄₂      𐝫
KN28b       3    SU+MI      𐝊𐝫      𐝫

     lacuna lacuna logogram number[
KH38      𐝫      𐝫    CYP+D     ¹⁄₂
KH55      𐝫      𐝫   OLE+TA     ¹⁄₃

     ]logogram number  ]word number
KH59         I      5  DI-NA      5
KH50        TA      2     JE      2

        word separator     word[       ]word lacuna
KH74                 𐄁  JA-DA-SU  SI-*805-MI      𐝫
KH79+89              𐄁      A-RA    PA-DA-NI      𐝫

      number logogram number lacuna
KH75      𐝇𐝉       NI    ¹⁄₃      𐝫
PH1a       1      CYP  ≈ ¹⁄₆      𐝫
ZA18a      ?     OLIV    ¹⁄₄      𐝫
ZA1a     ¹⁄₂       ZA      5      𐝫

                       ]word[        ]word word separator          word[
APZa2    I-KU-PA₃-NA-TU-NA-TE  PI-MI-NA-TE              𐄁  I-NA-JA-RE-TA
KH79+89                 MI-NA        PA-TA              𐄁           A-RA

     number       word number lacuna
PE2     ¹⁄₃  TO-*49-RE      1      𐝫
PH2      60  SE-SA-PA₃     60      𐝫
KH88     10      PU-DE      8      𐝫
ZA20      3      KU-RA    130      𐝫

                    word word separator  word[ word separator
KNZc7   JA-SA-RA-A-NA-NE              𐄁  WI-PI              𐄁
KNZa10                NA              𐄁  DA-WA              𐄁

     number number word[ logogram
PE1      26    ¹⁄₂  E-KA  VIR+[?]
GO2v      1    ¹⁄₈    DA       RE

              word           word  word               word
PH6           A-RI  I-ZU-RI-NI-TA  A-RI   I-DA-PA₃-I-SA-RI
ZAZb3  DI-DI-KA-SE     A-SA-MU-NE  A-SE  A-TA-I-*301-DE-KA

      logogram number ]number   word
PH28b     *304      6       6   *811
PK3         JA     20      31  DA-RE

     lacuna ]logogram number[          ]word[
ZA29      𐝫        MA     100              TE
PH30      𐝫        TI     ¹⁄₄  MA-RE-RI-MI-DE

     ]logogram number ]logogram number
PK3         TI      2        KU      3
ZA6a      OLIV     15      OLIV     10

           ]word logogram number[    ]word
ARKH3b     JA-PI      GRA       6  PI-*314
ZA11a   RA-MA-SI      VIN     ¹⁄₂  E-KU-RU

                      word word separator              word
IOZa2    A-TA-I-*301-WA-JA              𐄁       JA-DI-KI-TU
HT115b            TI-NU-JA              𐄁             NU-WI
SYZa2    A-TA-I-*301-WA-JA              𐄁  JA-SU-MA-TU-OLIV
KH5                *301-NA              𐄁          KU-PA-ZU
HT9b               KA-*305              𐄁             PA-DE
...                    ...            ...               ...
HT99a                 A-DU              𐄁            SA-RA₂
LACHZa1            RI-DA-U              𐄁             SE-JE
HT92                    TE              𐄁              A-DU
HT31                 PU-KO              𐄁           *410-VS
HT96a        I-TI-TI-KU-NI              𐄁        A-PA-RA-NE

[63 rows x 3 columns]

           number         word number
PK1             1        NI-MI      1
HT118           1     RI-RU-MA     10
HT115b        ¹⁄₂    DU-PA₃-NA      1
HT123+124b     10  TU-PA-DI-DA  13/20
HT8a          ¹⁄₄  KI-RE-TA-NA    ¹⁄₂
...           ...          ...    ...
MA2b            1        JA-KU      2
ZA7a            5      A-RA-TU      4
HT26b           3   KA-U-ZU-NI      4
HT26a          21  MI-KI-SE-NA     15
HT25b          24        KU-RO     52

[86 rows x 3 columns]

           word separator              word number
HT16                    𐄁           DI-NA-U    ¹⁄₈
HT88                    𐄁          KI-KI-NA      7
HT63                    𐄁                TE      1
HT6a                    𐄁          QE-PI-TA     22
HT87                    𐄁       PI-TA-KE-SI      1
HT85b                   𐄁         KI-RE-TA₂      1
HT117a                  𐄁       KU-KU-DA-RA      1
HT10a                   𐄁             DA-RE     16
HT95b                   𐄁             SA-RU     10
HT104                   𐄁    DA-KU-SE-NE-TI     45
HT96a                   𐄁             TE-NI     20
HT115b                  𐄁          PA-RA-NE    ¹⁄₂
HT41a                   𐄁             PA-JA      2
HT85a                   𐄁          DA-RI-DA     12
HT140                   𐄁    *86-SI-*118-KA      3
HT118                   𐄁             MA-DI     15
HT9b                    𐄁             PA-DE      3
HT123+124b              𐄁             PI-SA      4
SYZa2                   𐄁  JA-SU-MA-TU-OLIV      1
HT15                    𐄁             KI-RO    400
HT94b                   𐄁             TU-MA      1
HT1                     𐄁             KI-RO    197
HT117b                  𐄁          KU-RE-JU      1

                   word number        word
HT23a     *21F-RI-TU-QA   ¹⁄₁₆    SA-SA-ME
HT110a            KU-PA      1       KU-RO
HT98a       DI-RE-DI-NA    ¹⁄₂     TE-*301
HT85a        DA-SI-*118     24    KU-ZU-NI
HT25a           U-RE-WI      1     DI-NA-U
...                 ...    ...         ...
HT100             KU-RO     97      SA-RA₂
HT9b               A-SI      3     *306-TU
HT1           KU-PA₃-NU    109  A-RA-NA-RE
HTWa1020  *304+PA-KU-PA    ¹⁄₄    JE-TA-NA
PE2           A-*325-ZA    ¹⁄₄     A-RI-PA

[70 rows x 3 columns]

                     word word separator   logogram
HT23a               KA-NA              𐄁        CYP
HT35             TI-TI-KU              𐄁       *326
HT12          QA-TI-DA-TE              𐄁     OLE+DI
KNZb<27>          DI-NA-U              𐄁        VIN
HT19                   TE              𐄁        VIN
ZA5a            *21F-*118              𐄁     VIN-SU
HT95a         DA-DU-MA-TA              𐄁        GRA
HT89             A-SA-RA₂              𐄁       *307
KH7a              E-NA-SI              𐄁  VIR+*313b
KH88            *21F-*118              𐄁         NI
HT115b              NU-WI              𐄁        GRA
HT7a                QE-TI              𐄁    VIR+[?]
HT122b              JE-DI              𐄁       *346
ZA18a             KU-*321              𐄁     GRA+PA
HT103               U-TA₂              𐄁         NI
HT116a             PU-RA₂              𐄁        GRA
ZA15b               KA-DI              𐄁        VIN
HT96b       QA-*118-RA-RE              𐄁       *516
HT6a                   TE              𐄁         NI
HT123+124a        KI-TA-I              𐄁       OLIV
HT27a            TI-NI-TA              𐄁       *307
ZA8               A-TA-RE              𐄁         NI
ZA11a               KU-PA              𐄁     GRA+PA
HTWc3014      KU-MI-NA-QE              𐄁        CAP
HT81                 A-SE              𐄁   MI+JA+RU
HT93a             GRA-PA₃              𐄁      RE+SE
HT115a       *47-NU-RA-JA              𐄁          I
HT91                 I-KA              𐄁       *326
ZA11b          SA-*301-RI              𐄁     GRA+PA
HT17                   TE              𐄁        VIN
HT11b            SA-QE-RI              𐄁         KA
HT14                   TE              𐄁        GRA
HT32               SA-RA₂              𐄁       *308
HT140               JE-DI              𐄁     OLE+KI
HT104               TA-PA              𐄁     TE+RO[
HT43            PA-*342-I              𐄁          I
KH14              A-MA-JA              𐄁        CYP
HT2               A-KA-RU              𐄁      OLE+U
HT92                 A-DU              𐄁        GRA
HT9a                   TE              𐄁        VIN
HT28a             JA-*21F              𐄁     GRA+QE
HT21                   TE              𐄁        GRA
HT27b               PA-SE              𐄁     VIN+WA
HT42+59                TE              𐄁     OLE+KI
HT40                   TE              𐄁        GRA
ZA1a             KI-RE-ZA              𐄁         NI
MA1b                 A-MA              𐄁        *47
HT105              SA-RA₂              𐄁    VIR+[?]
HT85a                A-DU              𐄁  *307+*387
HT33               SA-RA₂              𐄁  *401+*304

       ]logogram number number
HT125a    OLE+KI      1    ¹⁄₅
KH91        *316      1  13/20
HT34       E+[ ]      2     𐝅𐝇
ARKH1a        NE      2    ¹⁄₂
HT24b       *118      1    ³⁄₄
HT131a       OLE     12    ¹⁄₂
HT2        OLE+A     47      1
KH26          NI      2     𐝃𐝋
PK3           KU      3      3
PH1b          NI      2     𐝄𐝇

        number    logogram number[
HT44a        5        OLIV       1
KH12       ¹⁄₅     *401+RU      𐝍𐝫
HT49a        4          KI       1
KN2          3      I+*301       5
HT33       ¹⁄₄  QA2+[?]+RE     𐝉𐝋𐝫
KH4          4         CYP     ¹⁄₃
HT118       30          KI      15
KH7a         4       CYP+D       1
TY3a        21      OLE+MI       2
KH14       ¹⁄₄    VIR+*307       2
HT2         17       OLE+E       3
TY3b         4      OLE+MI      11
HT89       ¹⁄₄         VIN       6
HT129      ¹⁄₂      OLE+DI       1
HT101        3      OLE+KI       2
HT42+59      8       OLE+U       2
HT91     ≈ ¹⁄₆           E       3

      word separator  logogram number[
HT34               𐄁       GRA     200
HT61               𐄁    GRA+KU       6
KH36               𐄁  MI+JA+RU       4
HT45a              𐄁      *305       2
KH9                𐄁     CYP+D     ¹⁄₂
ZA11a              𐄁    GRA+PA       1
HT52b              𐄁       GRA     201
ZA11b              𐄁    GRA+PA       1
KH14               𐄁       CYP       6
HT2                𐄁     OLE+U      20
HT43               𐄁    GRA+PA       5

       number[ ]logogram number
HT93a      ¹⁄₈        KA      4
HT44a        1        NI      1
HT50a      ¹⁄₂      OLIV      3
HT137        6       OLE      2
HT2         20     OLE+A     17
HT98a        1        TU      1
HT131b      30      OLIV      2
KH14      ¹⁄₁₆        NI    ¹⁄₄
HT55a        1      *301      1
HT154a       6        TA      6
KH26        60        NI      2
KH84       ¹⁄₂      *301      1
HT129        1    OLE+KI      6
HT131a      58       OLE     12
HT34       200     E+[ ]      2

       ]logogram number   logogram
KH8          GRA    ¹⁄₂       *304
HT58       OLE+E      3       OLIV
HT60      OLE+RI   ¹⁄₁₆  MI+JA+[ ]
TY3a          KI      5     OLE+TU
PH8a     VIR+[?]     11       *304
KNZb35       OLE    100         NI
PK3           QE      3         JA
KH14          NI    ¹⁄₄   VIR+*307
HT2        OLE+A     17      OLE+E
HT50a       OLIV      3   *OLIV+TU
KH4         *306      4        CYP
HT140         KA      1      OLE+U

       logogram number[ ]logogram
HT44a      OLIV       1        NI
KH7a      CYP+D       1         I
HT34        GRA     200     E+[ ]
HT2       OLE+U      20     OLE+A
HT45a      *305       2      *318
HT137    OLE+MI       6       OLE
TY3b     OLE+MI      11    OLE+NE
KH14        CYP       6       CYP
KH12    *401+RU      𐝍𐝫   *401+RU
HT102    GRA+PA      33   VIR+[?]
HT129    OLE+DI       1    OLE+KI
HT131a      GRA      58       OLE

       number[        ]word logogram
HT2          3  KI-RE-TA-NA    OLE+U
HT125a     ¹⁄₂       SA-RA₂      GRA
ARKH3b       6      PI-*314      GRA
HT128a      12        MI-TA   GRA+PA

       logogram number[        ]word
HT2       OLE+E       3  KI-RE-TA-NA
ARKH3b      GRA       6      PI-*314
KH7b      CYP+D     ¹⁄₂     PA-NA-TU
TY3a     OLE+MI       2   KO-A-DU-WA
ZA11a       VIN     ¹⁄₂      E-KU-RU
HT128a   GRA+KU      12        MI-TA
KH16        CYP     𐝇𐝉𐝫    U-TA-I-SI

              ]word logogram number[
ARKH3b        JA-PI      GRA       6
HT128a        MI-TA   GRA+PA     ¹⁄₂
ZA11a      RA-MA-SI      VIN     ¹⁄₂
PH15a      MA-TE-RE     *339      11
HT2     KI-RE-TA-NA    OLE+U      54

       ]number         word number
HT3          4        MU-RU      1
HT146       30      RI-*305     30
HT122a       2   DA-SI-*118      2
HT31         5  *815-QA-PA₃     10
HT11a        3     KA-RO-NA      2
HT94a        2    *318-*306     11

           number      word[        ]word
HT3             5         DI    KU-PA₃-NU
HT25a           1   TU-QE-NU    ZU-JU-PU₂
HT111a          8      QA-SA        QA-RU
HT93a           2  PA₃-NI-NA     PA-SE-JA
HT123+124b  13/20      KA-NA        SI-DU
HT39           10      KU-RE        KU-RO
HT27a          21      KI-DA      KI-*310
HT42+59         2      SU-DU        RE-TU
HT4             2      PA-RE  TA-PI-SI-DI

                  word number logogram[
HT3              MU-RU      1        RU
TY2    *309B-*34-PU-PI    500      *309
HT55a            SI-RU      1        NE
HT32                DI     65    OLE+NE
HT140   *86-SI-*118-KA      3        KA
MA2b             JA-KU      2        TI

              ]word number[              ]word
HT122b  *306-KI-TA₂       7    A-RA-JU-U-DE-ZA
HT3       KU-PA₃-NU       3              MA-DI
HT51b      KU-ME-TA      12              ZU-DU
HT127a     DU-NE-MI       1  *304+PA-DA-*47-KU
HT46a         MU-RU       1              KU-RO
HT5           MA-SI      30              WI-DU
HT135a     NE-MI-NA      10              MI-TU
HT69          MA-DI       4                 DI

               ]word number     word[
HT3     SI-TU-RA₂-RE      5        DI
PH1b              NA      1        PA
HT4         DU-RI-TE      2     PA-RE
HT25a      ZU-JU-PU₂      1  DU-RU-WI
ZA27           DI-KI      2      O-MI
HT94b       DE-ME-TE      1   *21F-TU
HT51a             SE     64     TI-NI
HT111a         QE-KA      8     QA-SA
TY2      *309B-RI-JU    250     *309B
HT49a             RI      1     SU-KI
HT39        SA-MA-TI     10     KU-RE

      lacuna ]logogram[ ]word[
HT3        𐝫         MA  DI-NA
HT49b      𐝫         KU   I-KI

        number         word[ ]number
HT85a        4         KU-RO      66
HT3          2     QE-RA₂-JA       2
HT62+73      6            DI       4
KH7a         1           𐝕𐝉𐝫     𐝫𐝁𐝌
ZA6a        19  *34-JU-TE-MI     180

          word[      ]word number[
HT62+73      KO         NU      17
HT79+83  DA-PA₃   TU-PA-RI       1
HT3          DI  KU-PA₃-NU       3

       ]number         word number[
KH103        1       OLE-TA       8
KH13       𐝫𐝃𐝉     *304-CYP     ¹⁄₃
KH9         .3  SI+TA2-*304       1
HT111b      18        SA-DI       4
HT69         5           DI       8
HT3          2           DI       2

     number[  ]word number[
KH82      𐝉𐝫   *315       1
HT69       8  MA-DI       4
HT3        3  MA-DI       2
HT5       30  WI-DU      10

            word number[ ]number
HT111b     SA-DI       4       3
HT62+73    KA-KU       4      18
HT122a   U-DE-ZA       2       2
HT3           DI       2       4
HT110b      *648       3       1

      lacuna           ]word[     ]word
HT4        𐝫  *306-TI-KA-A-RE  DU-RI-TE
KN32b      𐝫               TE     SA-PU

        number[ lacuna lacuna
HT5          10      𐝫      𐝫
KH4         ¹⁄₃      𐝫      𐝫
HT112b        6      𐝫      𐝫
HT55a         1      𐝫      𐝫
KH54          1      𐝫      𐝫
KH68+71      𐝉𐝫      𐝫      𐝫
PH25          2      𐝫      𐝫
HT70          3      𐝫      𐝫
HT52b       201      𐝫      𐝫
KH38        ¹⁄₂      𐝫      𐝫
KH29        ¹⁄₂      𐝫      𐝫

      ]word number[ lacuna
HT5   WI-DU      10      𐝫
HT74  KU-RO      20      𐝫
HT69     DI      12      𐝫

                        word number       number
HT103                  KI-RA      5          ¹⁄₂
HT8b               QA-*310-I      1          ³⁄₈
HT10b                *312-TA      6          ¹⁄₂
HT123+124a             KI-RO      1           .3
HT41a                  PA-JA      2  double mina
HT8a            PA₃-KA-RA-TI      1          ¹⁄₂
SAMWa1                    TE     10         ¹⁄₁₆
HT19                DU-ME-DI     43          ¹⁄₂
ZA5b                SI-PI-KI      1          ¹⁄₂
HT6b               PA₃-NI-NA     17          ¹⁄₂
HT104         DA-KU-SE-NE-TI     45          ¹⁄₂
HT9a                    A-RU      4          ¹⁄₄
PE2            RU-PI-*305-MI      1          ¹⁄₈
HT10a                  DA-RE     16          ¹⁄₂
ZA8                  KA-I-RO      4            ?
HT6a                KA-PA-QE      5          ³⁄₄
HT13                   TE-KI     27          ¹⁄₂
HT36        *307+*387-GRA+QE     64          ¹⁄₂
PEWy5               OLE-*307      1          ¹⁄₂
HT93a               KI-DI-NI      5           𐝆𐝅
ZA15a               SI-PI-KI      2          ¹⁄₂
HT24b          SI+ME-KI-*118      1          ³⁄₄

       number    logogram number
HT23a   ≈ ¹⁄₆      OLE+RI  ≈ ¹⁄₆
HT116a     16      OLE+KI      1
ZA1a      ¹⁄₂          ZA      5
HT8b      ¹⁄₈  *86+'*188'    ¹⁄₂
HT6a      ³⁄₄          NI     15
...       ...         ...    ...
KH12        2        *308    ¹⁄₂
HT102       3          WI     10
HT10a       4        *301      6
HT107      84        *332      7
HT26b       4       KI+MU     12

[86 rows x 3 columns]

         word separator                   word word separator
HT43                  𐄁              PA-*342-I              𐄁
HT92                  𐄁                   A-DU              𐄁
ZA8                   𐄁                A-TA-RE              𐄁
HT51a                 𐄁                     TE              𐄁
HT17                  𐄁                     TE              𐄁
IOZa6                 𐄁  I-NA-TA-I-ZU-DI-SI-KA              𐄁
PLZf1                 𐄁         TA-NU-NI-KI-NA              𐄁
HT21                  𐄁                     TE              𐄁
IOZa2                 𐄁               SI-RU-TE              𐄁
HT62+73               𐄁                     TE              𐄁
PSZa2                 𐄁         JA-SA-SA-RA-ME              𐄁
HT87                  𐄁            MA-KA-RI-TE              𐄁
HT116a                𐄁                     TE              𐄁
KH14                  𐄁                A-MA-JA              𐄁
KH7a                  𐄁                  TA-TA              𐄁
SYZa4                 𐄁            JA-I-NWA-ZA              𐄁
KOZa1                 𐄁          U-NA-KA-NA-SI              𐄁
HT13                  𐄁                     TE              𐄁
HT9a                  𐄁                  PA-DE              𐄁
HT28a                 𐄁                JA-*21F              𐄁
HT52a                 𐄁                     TE              𐄁
TLZa1                 𐄁             O-SU-QA-RE              𐄁
CR(?)Zf1              𐄁         QA-KI-SE-NU-TI              𐄁
HT93a                 𐄁                GRA-PA₃              𐄁
HT40                  𐄁                     TE              𐄁
ZA1a                  𐄁               KI-RE-ZA              𐄁
PKZa10                𐄁          I-PI-NA-MI-NA              𐄁
HT42+59               𐄁                     TE              𐄁
HT96a                 𐄁             A-PA-RA-NE              𐄁
PKZa8                 𐄁                  PA₃-E              𐄁
KNZf31                𐄁       TE-SU-DE-SE-KE-I              𐄁
SYZa1                 𐄁                I-DA-MI              𐄁
HT140                 𐄁              *86-SI-NI              𐄁
HT19                  𐄁                     TE              𐄁
KH88                  𐄁              *21F-*118              𐄁
HT26a                 𐄁             *312-TE-TE              𐄁
KH5                   𐄁              A-RA-U-DA              𐄁
KNZc6                 𐄁               NI-JA-NU              𐄁
HT28b                 𐄁             U-MI-NA-SI              𐄁
ZA18a                 𐄁                KU-*321              𐄁
ZAZb3                 𐄁          A-RE-PI-RE-NA              𐄁
HT115b                𐄁                  NU-WI              𐄁
KNZc7                 𐄁       JA-SA-RA-A-NA-NE              𐄁
HT6a                  𐄁               DA-TA-RA              𐄁
IOZa3                 𐄁      A-TA-I-*301-WA-JA              𐄁
ARKHZf9               𐄁           MI-DA-MA-RA₂              𐄁
HT96b                 𐄁          QA-*118-RA-RE              𐄁
HT34                  𐄁                SI-*516              𐄁
HT31                  𐄁                  PU-KO              𐄁
PKZa18                𐄁                   I-DA              𐄁
ZAZb34                𐄁                  KO-MU              𐄁
HT10a                 𐄁                     PA              𐄁
KNZb4                 𐄁                  JA-SI              𐄁
HT117a                𐄁                  KI-RO              𐄁
LACHZa1               𐄁                RI-DA-U              𐄁
HT14                  𐄁                     TE              𐄁
HTWc3017              𐄁                DI-*306              𐄁
ZA11b                 𐄁             SA-*301-RI              𐄁

           word separator   logogram number
HT91                    𐄁     OLE+MI  ≈ ¹⁄₆
HT115b                  𐄁        GRA    ¹⁄₂
HT27b                   𐄁         SA      4
ZA8                     𐄁         NI    ¹⁄₂
HT17                    𐄁        VIN     37
HT14                    𐄁        GRA     30
HT27a                   𐄁    VIR+[?]     90
KH20                    𐄁      CYP+E    ¹⁄₂
MA10a                   𐄁    *413+SU      2
HT41a                   𐄁       *304     10
HT92                    𐄁        GRA    680
HT12                    𐄁     OLE+DI      5
HT21                    𐄁        GRA    161
HT28a                   𐄁     GRA+QE      5
HT32                    𐄁       *308    ¹⁄₂
HT140                   𐄁     OLE+KI      1
HT40                    𐄁        GRA    207
HT105                   𐄁    VIR+[?]    235
KNZb<27>                𐄁        VIN     17
HT93a                   𐄁   I-GRA+PA      5
HT42+59                 𐄁     OLE+KI      8
PH1a                    𐄁       *316      1
MA10b                   𐄁     *405+Ω      1
ZA1a                    𐄁         NI     42
HT26b                   𐄁    VIR+[?]      9
HT23a                   𐄁        CYP    ¹⁄₃
HT16                    𐄁         WA    ¹⁄₃
HT19                    𐄁        VIN     30
KH88                    𐄁         NI     10
KH22                    𐄁         SU      7
HT123+124a              𐄁       OLIV     31
KH7a                    𐄁  VIR+*313b     10
HT89                    𐄁       *305     23
HT116a                  𐄁        GRA     40
HT45a                   𐄁       *305      2
ZA18a                   𐄁     GRA+PA      2
HT103                   𐄁         NI     40
ZA15b                   𐄁        VIN      3
HT6a                    𐄁         NI     15
HT11b                   𐄁         KA     30
ZA11b                   𐄁     GRA+PA      3

                  logogram number       number
HT106                   SI      5          ¹⁄₂
HT129                  GRA     40          ¹⁄₂
MA4b              HIDE+[?]    123          160
PEZg5                 *307      1          ¹⁄₂
HT28b                  VIN      3          ¹⁄₄
PHWc41                 VIN      1          ¹⁄₂
HT6a                    NI     15          ¹⁄₂
HT131a                *304     12          ³⁄₄
HT93a             I-GRA+PA     26          ³⁄₄
ZA6b                GRA+PA     50          ¹⁄₄
HT21                 OLE+E      3          ³⁄₄
HT60                   VIN   ¹⁄₁₆          ¹⁄₄
ZA12a                   RU     28            6
ZA18a               GRA+PA      2  double mina
KH5                     NI      2           𐝆𐝁
HT100                  CYP      5          ¹⁄₄
HT123+124a            OLIV     93          ¹⁄₂
HT62+73                GRA     15          ¹⁄₄
HT113                    O      2          ¹⁄₂
PE1                 GRA+PA     26          ¹⁄₂
HT123+124b            *312      1          ³⁄₄
KH61                   GRA      1            𐝍
HT8b            *86+'*188'    ¹⁄₂          ¹⁄₂
TY3a                OLE+KI     15          ¹⁄₄
HT27a                   NI     10          ¹⁄₃
HT110b                  MA      5          ¹⁄₂
HTZd157+156           *904      3          ³⁄₈
HT96b                   NI      2         ¹⁄₁₆
HT89                   CYP      2          ³⁄₄
HT33         QA2+[?]+RE+PU      1          ¹⁄₄
HT101                 OLIV      1          ¹⁄₄
HT140                OLE+U      6          ¹⁄₂
HT32            QA2+[?]+PU      1         ¹⁄₁₆
ZA1a                    NI     42          ¹⁄₂
HT99a                  VIN      1        ≈ ¹⁄₆
HT94a                   NI      3        ≈ ¹⁄₆

            number number           word
HT10a           16    ¹⁄₂      U-*325-ZA
HT62+73         15    ¹⁄₄          KA-KU
HT24b            1    ³⁄₄  SI+ME-KI-*118
ZA8              2    ¹⁄₂        KA-I-RO
HT104           45    ¹⁄₂        I-DU-TI
HT9a             5    ³⁄₄        *306-TU
HT123+124b       1    ³⁄₄       TI-DA-TA
HT13            27    ¹⁄₂       KU-ZU-NI
PE2              3    ¹⁄₃  RU-PI-*305-MI
HT6a             5    ³⁄₄       DA-QE-RA
ZA15a            2    ¹⁄₂       JA-SA-MU
HTZd157+156      3    ³⁄₈          TA-JA
HT36            64    ¹⁄₂       DU-ZU-WA
ZA5b             1    ¹⁄₂     MA-KA-I-TA
HT6b             3  ≈ ¹⁄₆       RA-TI-SE
HT19             5    ¹⁄₂       DU-ME-DI
HT8b             1    ³⁄₈          KA-PA
HT10b            6    ¹⁄₂       KA-SA-RU
HT8a             1    ¹⁄₂             PA

      number number    logogram
HT34       2     𐝅𐝇  QA2+[?]+PU
HT6a      22    ³⁄₄          NI
HT8b       1    ¹⁄₈  *86+'*188'
HT96b     40    ³⁄₄       OLE+U
ZA11a      2    ¹⁄₄          JU
HT99a      1  ≈ ¹⁄₆      GRA+QE
HT33       1    ¹⁄₄  QA2+[?]+RE
HT129     40    ¹⁄₂      OLE+DI

              logogram number             word
HT12              *304      5         QE-TU-NE
HT94a               TA      4            KU-RO
HT27a          VIR+[?]     42            KU-RO
HT28b               NI      6          JA-*21F
HT19               VIN     30            SA-RO
KH7a             CYP+D    ¹⁄₃          SE-*305
HT119          VIR+[?]     67         RI-MI-SI
HT28a           OLE+TU      𐝉           SA-RA₂
HT10a             *301      6        U-*325-ZA
KH88                NI     10            PU-DE
HT128b          GRA+KU      6     VIR+[?]-*329
HT115b               I    ¹⁄₂       *306-TU-JA
HT116a            OLIV      3        PI-*34-TE
HT16           *188+KU    ³⁄₈            SA-PO
HT88            VIR+KA     20            RE-ZA
HT127b           KI+MU     14            KU-RO
HT118               KI      1         RI-RU-MA
KH11          *348-CYP     𐝇𐝉   A-TO-*349-TO-I
HT11b               KA     50         RU-ZU-NA
HT8a            OLE+KI     10     PA₃-KA-RA-TI
HT93a            RE+SE     12         DI-RI-NA
ZA11a        QE+GRA+PA      4            KU-PA
HT26b            KI+MU     12           I-*308
HT101           OLE+KI      2           SA-RA₂
HT123+124b        *188      1          *188-DU
HT34               PA₃     70            KI-RO
HT85b               KA      1               DI
HT6a                NI     15         PI-TA-JA
HT90            OLE+DI      3  SI-RU-MA-RI-TA₂
KH10               GRA     10       I-PA-SA-JA
ZA8                 NI    ¹⁄₂      KU-TU-KO-RE
HT32          MI+JA+RU      1            SU-RE
TY2            VIR+[?]     82      *309C-DA-JU
ZAZb3              VIN     32      DI-DI-KA-SE
HT102              GRA    976           PA₃-NI
HT108          VIR+[?]      1            GRA+H
HT103             *188     13         DA-KU-NA
HT96a              GRA      5            RU-SA
HT89        JU+*317+QE     22          MA-I-MI
HT129               NI     22    TU-*21F-RI-NA
HT17               VIN     37            SA-RO
HT49a             *312      1        KU-PA₃-NU
HT146               MA     30         RI-KA-TA
HT100        VIR+*313a     16            KU-RO
HT140            OLE+U      2            KA-PA
ZA6b            VIN+KA     10         *312-TA₂
HT110a           CYP+E     20            KU-PA
HT40               GRA    207         KI-DA-TA
MA10a           *412+E      4             *659
HT18              *304      3           SA-RA₂
HT38               CAP      3        *554-*118
KH5            VINb+WI      2         WI-NA-DU
HT41a             *304     10         MI-DA-NI
HT14              OLIV     13      A-PU₂-NA-DU
HT24a         MA-RU-ME      6      PA-SA-RI-JA
HT23a                E     17    *21F-RI-TU-QA
HT91                 E      5            TE-RI

           number        word word separator
HT40          207    KI-DA-TA              𐄁
KH10           10  I-PA-SA-JA              𐄁
HT12            5    QE-TU-NE              𐄁
HT93a          20    QA-QA-RU              𐄁
HT6a          ³⁄₄    DA-QE-RA              𐄁
HT105         234      SA-RA₂              𐄁
KH7a          ¹⁄₂  I-JA-PA-ME              𐄁
HT25b          16    WI-TE-RO              𐄁
KH5             2    WI-NA-DU              𐄁
HT123+124b    ³⁄₄    TI-DA-TA              𐄁
HT96a           1    PI-TA-RA              𐄁
HT116a         16      PU-RA₂              𐄁
ZA11b           2       KU-PA              𐄁
HT88            7       KI-RO              𐄁

      word also in linear b word separator      word
HT6a                  KA-PA              𐄁  DA-TA-RA
PHZb4                 SI-MA              𐄁   I-JA-TE

       word separator  logogram            word
HT7a                𐄁   VIR+[?]         I-RU-JA
HT95a               𐄁       GRA           DA-ME
MA1b                𐄁       *47     QE-DE-MI-NU
ZA5a                𐄁    VIN-SU        KI-NI-MA
HT115a              𐄁  GRA+BOSm  RI-TA-MA-NU-WI

                          word   logogram number
HT129                KI-RE-TA₂        GRA     33
HT18                     PA-SE     GRA+QE     20
PH10               *355-E-*354   HIDE+[?]     𐝈𐝈
HT102                   SA-RA₂        GRA    976
HT14               A-PU₂-NA-DU        GRA     45
HT108              KI-RE-TA-NA    VIR+[?]      1
HT28b                  JA-*21F        VIN      6
HT42+59                  SA-RO     OLE+KI      8
KN1b               JA-DU-RA-TI          E    105
HT100                   SA-RA₂        CYP      5
HT28a                   SA-RA₂     OLE+DI      1
HT35                   I-KU-TA        CYP      1
HT94a                       62        *86     20
HT96a                 SI-MI-TA        GRA      5
HT127b                   KU-RO       *307    156
KH10              A-KI-PI-E-TE        GRA     90
HT16                     SA-PO         ZE   ¹⁄₁₆
PE1                         72     GRA+PA     36
KH5                WI-SA-SA-NE      CYP+E      2
HT110a         SI-DU-*34-KU-MI      CYP+E     20
HT27a                       𐝕𐝁         NI     10
HT133                       TE     GRA+DA     55
HT128b            VIR+[?]-*329     GRA+KU      1
ZA6b           I-KU-JU-TI-*28B     GRA+PA     50
MA4b                      A-JA   HIDE+[?]    123
HT116a                KU-PA-JA        GRA     16
HT23b                    NI-RA        CYP    ¹⁄₃
HT101               ZU-*22F-DI     GRA+QE     40
HT90                    SA-RA₂        GRA     20
KH11                 A-TA-*350       *301      1
ZA6a                *305-WA-NA       *171     19
TY3a                      A-DA      OLE+U     21
TY3b                  PI-KU-ZU     OLE+KI      4
KH7a                  QA-TI-KI  VIR+*313b      4
HT8a                     JE-DI     OLE+KI     10
HT123+124a              PU-VIN       OLIV     31
HT88                      A-DU     VIR+KA     20
HT25b                     I-TI    VIR+[?]     28
KN1a                  JA-KU-TI          E    240
HT11b                 RU-ZU-NA         KA     30
HTZd157+156  WI-JA-SU-MA-TI-TI       *904      1

               word number dividing line
HT8b    SU-PU₂-*188      1             —
PK1           KA-QA      2             —
HT108         GRA+H     70             —
HT117a        KU-RO     10             —
HT96a     *323-*344      1             —
HT22         GRA+L2    230             —

       number word also in linear b number
HT23a      10                 KO-RU      1
HT63        1                 KA-TI      1
HT8b      ³⁄₈                 KA-PA    ¹⁄₂
HT85a       5                 TE-KE      3
HT122a      1                 PA-DE      1
ZA8        𐝃𐝆            DA-I-PI-TA      2
HT117a      1              KI-DA-RO      1
ZA10a       1            DA-I-PI-TA      1
HT85b       1                 MA-DI      1
HT89       13                 TA-RA      5
PE2       ¹⁄₂                 TO-ME    ¹⁄₃

        word separator    logogram word separator
ZA11a                𐄁        *516              𐄁
HT26b                𐄁  *406VAS+KE              𐄁
HT35                 𐄁        *326              𐄁
HT122b               𐄁        *346              𐄁
HT118                𐄁        *516              𐄁
HT104                𐄁      TE+RO[              𐄁
HT27a                𐄁        *307              𐄁
HT66                 𐄁     VIR+[?]              𐄁
HT9a                 𐄁         VIN              𐄁
HT27b                𐄁      VIN+WA              𐄁
HT115a               𐄁           I              𐄁
HT43                 𐄁           I              𐄁
HT42+59              𐄁       SI+SE              𐄁
HT89                 𐄁        *307              𐄁
HT91                 𐄁        *326              𐄁
HT81                 𐄁    MI+JA+RU              𐄁

               word word separator number
HT9a          PA-DE              𐄁      5
HT32          SU-RE              𐄁    108
HTWa1021    *188-DU              𐄁    ³⁄₄
HT123+124b  *188-DU              𐄁     10

              logogram word separator              word
HT9a               VIN              𐄁             PA-DE
IOZa16              ME              𐄁  U-NA-RU-KA-NA-SI
HT88                NI              𐄁          KI-KI-NA
HT15              *188              𐄁             KI-RO
HT85a          VIR+[?]              𐄁          DA-RI-DA
HT51a               NI              𐄁                TE
HT35              *326              𐄁           I-KU-TA
ZA11b             *516              𐄁        SA-*301-RI
HT63              *305              𐄁                TE
LACHZa1             MI              𐄁           RI-DA-U
HT26a       *406VAS+KE              𐄁        *312-TE-TE
HT118             *516              𐄁             MA-DI
HT13               VIN              𐄁                TE
HT104           TE+RO[              𐄁    DA-KU-SE-NE-TI
HT42+59          SI+SE              𐄁                TE
ZA1a              *516              𐄁          KI-RE-ZA
HT128a            *326              𐄁             PA-RA
HT123+124a        *308              𐄁             KU-RO

      word separator number number
HT9a               𐄁      5    ³⁄₄
HT96b              𐄁     40    ³⁄₄

       logogram word separator     word[
PKZa14        I              𐄁  JA-SA-SA
HT9b        PA₃              𐄁  WA-JA-PI

      dividing line     word word separator
ZA15b             —    KU-RO              𐄁
HT9b              —  KA-*305              𐄁

              word word separator word also in linear b
HT9b       KA-*305              𐄁                 PA-DE
PHZb4        SI-MA              𐄁               I-JA-TE
HT117a  U-MI-NA-SI              𐄁                  U-SU

                  number            word number[
HT29                   1        PA-JA-RE       2
HT31                  10        SA-JA-MA      30
HT108                  2        DU-SU-NI       5
HT111a                 8              DI      14
HTZd157+156          ³⁄₈           TA-JA    ¹⁄₁₆
TY2                   82     *309C-DA-JU      17
ZA8          double mina      A-RI-NI-TA       1
HT140                  2           KA-PA     ¹⁄₂
MA10a                  4            *659       4
ZA14                   1  TU-MI-TI-ZA-SE      45
HT49a                  1        TI-DU-NI       1
HT123+124b            20           KI-RO       5
HT110b                20            *648       3
HT62+73              ¹⁄₄           KA-KU       4
HT110a                 1           KU-RO     100
HT123+124a         ≈ ¹⁄₆           KI-RO       6
HT10a                  6       U-*325-ZA      14
HT26a                 15       U-NU-*21F       5
ZA4a                   4           JA-PA       1
HT26b                 12          I-*308       2

             word number word separator
HT10a       SA-MA      4              𐄁
HT29   SA-*323-MI      1              𐄁
HT16      DI-NA-U    ¹⁄₈              𐄁

                  word number logogram
HT107               TE     84     *332
HT94a        *318-*306     11      CYP
MA4a         TA-HIDE+B     15   HIDE+L
HT123+124b   *188-*308     11     *312
HT15         GRA+L4+L4    570     *188
HT94b            KU-RO      5      *86
HT11b           *86-KA     40       KA
ZA15a       I-TI-NI-SA     10   ME-VIN
HT146          RI-*305     30       MA
HT88             RE-ZA      6       NI

                     word              word number
HT115a          *301-U-RA  NA-*21F-NE-MI-NA      1
PYR1       TI-MA-RU-WI-TE          *806-VIN     90
HT36                JE-DI  *307+*387-GRA+QE     64
TY2              PA-DA-RU        *309-JU-KI    100
HT11b              RU-RA₂            *86-KA     40
HT38             DA-RO-PA           *403-VS      1
MAWc<5>        A-SA-DA-KA             GRA+E      4
SAMWa1              SA-RA                TE     10
HT93a            DA-RI-DA           *406-VS      2
HT31     KI-DE-MA-*323-NA              *815    400

              logogram number logogram
HT116a             GRA     16   OLE+KI
HT127b            *307    156       KU
HT12        QA2+[?]+PU      1        E
ZA15b              VIN     78   VIN+RA
HT123+124a        OLIV     15     *308
...                ...    ...      ...
ZA18a           OLE+KI      ?     OLIV
HT96b            OLE+U      4       NI
HT49a               TU      4       KI
MA10a          *413+SU      2   *412+E
HT21               GRA    161    OLE+U

[63 rows x 3 columns]

           number             word logogram
HT123+124a     .3            SA-RU     OLIV
HT101           2           SA-RA₂      GRA
HT116a          3        PI-*34-TE      GRA
KH11           𐝇𐝉   A-TO-*349-TO-I    CYP+E
HT128a         10      WA-TU-MA-RE   GRA+KU
ZA6b           10         *312-TA₂   GRA+PA
HT11b          50         RU-ZU-NA       KA
HT14           13      A-PU₂-NA-DU      GRA
HT129          22    TU-*21F-RI-NA      GRA
HT18            3           SA-RA₂      GRA
HT27a           9               𐝕𐝁       NI
HT28b           4           PU-RA₂       NI
HT100          97           SA-RA₂      CYP
HT28a           𐝉           SA-RA₂   OLE+DI
HT128b          6     VIR+[?]-*329   GRA+KU
HT16          ³⁄₈            SA-PO       ZE
HT90            3  SI-RU-MA-RI-TA₂      GRA
HT94a         110           SA-RA₂      CYP

           number logogram word separator
HT15          570     *188              𐄁
HT41a          10     *305              𐄁
HT12           30     *560              𐄁
HT88            6       NI              𐄁
HT123+124a    ¹⁄₂     *308              𐄁
HT94b           5      *86              𐄁
HT27b          14      VIN              𐄁

          logogram word separator  logogram
HT34             E              𐄁       GRA
HT12          *560              𐄁      *118
HT85a    *307+*387              𐄁   VIR+[?]
HT89          *307              𐄁      *305
HT27a         *307              𐄁   VIR+[?]
HT27b       VIN+WA              𐄁        SA
HT96b         *516              𐄁       GRA
HT118           AU              𐄁      *516
HT26b   *406VAS+KE              𐄁   VIR+[?]
HT115a           I              𐄁  GRA+BOSm
HT41a         *305              𐄁      *304
HT43             I              𐄁    GRA+PA
HT66            ZU              𐄁   VIR+[?]
HT91          *326              𐄁       GRA

       word separator     word number[
HT122a              𐄁  U-DE-ZA       2
HT67                𐄁       TE     400
HT55a               𐄁    MA-RE       1
HT70                𐄁       TE      30
HT13                𐄁    RE-ZA       5

               word logogram         word
HT15       U-*34-SI      GRA    DU-AROM-A
MA1a   *903-I-DU-WI      *47  QE-DE-MI-NU
ZA15a     *47-KU-NA   SA-VIN   QE-SI-ZU-E
HT94a         KA-PA  VIR+[?]           62

           word number lacuna
HT15      KI-RO    400      𐝫
ZA20      KU-RA    130      𐝫
PH2   SE-SA-PA₃     60      𐝫
PE2   TO-*49-RE      1      𐝫

      lacuna    word number
HT107      𐝫      TE     84
HT22       𐝫  GRA+L2    230
HT95b      𐝫   DA-ME     10
HT25b      𐝫   KU-RO     16

      dividing line logogram number
HT22              —  *330+DA    113
HT130             —   SI-CYP      8
ARKH7             —     *308    ¹⁄₅

        logogram[    logogram number
GO2r           SI          KA    ¹⁄₈
HT44a         GRA      OLE+KI      3
TY3a       OLE+MI       OLE+U      7
HT23b  QA2+[?]+PU  QA2+[?]+RE      1
HT58      VIR+[?]       OLE+U     19
HT35       OLE+TA           E      5

       logogram number[ lacuna
KN2      I+*301       5      𐝫
HT82   *304+[ ]     ¹⁄₄      𐝫
KH29        CYP     ¹⁄₂      𐝫
HT52b       GRA     201      𐝫
KH38      CYP+D     ¹⁄₂      𐝫
PH25        VIN       2      𐝫
HT49a        KI       1      𐝫
HT91          E       3      𐝫
HT23b         E       7      𐝫
KH4         CYP     ¹⁄₃      𐝫
KN28b     SU+MI      𐝊𐝫      𐝫

        logogram number logogram[
HT35        *308    ¹⁄₃    OLE+TA
HT125a       GRA      2       OLE
KH37    *304+[ ]      2        WI
HT27b         RE     70       VIN
KH9           NI     𐝃𐝁        MI
KH91          TU   ¹⁄₁₆        NI
HT128b    GRA+KU      1        RU
HT23b        CYP    ¹⁄₃       OLE
KH8          CYP    ¹⁄₄   VIR+[?]
HT116a       GRA      5       OLE
HT58       OLE+U     19    OLE+MI
KH22          SU      7     CYP+E

      lacuna logogram number[
KH55       𐝫   OLE+TA     ¹⁄₃
HT23b      𐝫        E       7
HT65       𐝫  *330+SA    ¹⁄₁₆
KH38       𐝫    CYP+D     ¹⁄₂

          logogram number lacuna
ZA11b       GRA+PA      3      𐝫
ZA18a         OLIV    ¹⁄₄      𐝫
ZA1b           GRA     47      𐝫
ZA1a            ZA      5      𐝫
HT128b      GRA+KU      6      𐝫
ARKH7         *308    ¹⁄₅      𐝫
HT23b   QA2+[?]+RE      1      𐝫
PH1a           CYP  ≈ ¹⁄₆      𐝫
KH75            NI    ¹⁄₃      𐝫

             number logogram[ number
HT125a            2       OLE      1
TY2             500      *309    290
HT27b             4        RE     40
HT23b           ¹⁄₃       OLE    ¹⁄₃
ZA18a   double mina       GRA      2

       ]number   logogram number
MA10b        4     *402+A      2
TY2          6    VIR+[?]     82
KH91     ≈ ¹⁄₆         TU   ¹⁄₁₆
HT50a      ¹⁄₄     OLE+KI    ¹⁄₄
PH8a        16    *418+L2      1
HT140        4      OLE+U      3
KH12      ¹⁄₁₆  *401+*304    ¹⁄₅
HT27a       50        *86     51
ARKH3b       2        OLE      4
KH9       ¹⁄₁₆         NI     𐝃𐝁
HT33         3       E+KA     𐝃𐝉
HT113       30          O      2
HT110b       1         MA      5
HT101       20       *304      3
HT60      ¹⁄₁₆        VIN   ¹⁄₁₆
KH7a        18      CYP+D      1
HT24a        6   MA-RU-ME     10
PH28b        2       *304      6

                word logogram[ ]number
HT24a   KU-PA₃-RI-JA  KI-MA-RU       6
HT131a            62        KU     353

      logogram[ ]number  logogram
KH91         ZU   ≈ ¹⁄₆        TU
TY2        *309       6   VIR+[?]
KH61         MA     ¹⁄₃    OLE+TA
HT24a  KI-MA-RU       6  MA-RU-ME
KH9    VIR+*307    ¹⁄₁₆        NI

       logogram number ]number
PH28b      *304      6       6
PK3          JA     20      31
KH12   MI+JA+RU    ¹⁄₂     ¹⁄₃
MA10b    *412+E      3       4
HT24a  MA-RU-ME     10       9
HT27a   VIR+[?]     90      50

         word[     ]word number
HT27a  KU-*305  SA-RA-DI      5
HT25a  DI-NA-U     RU-NI      1

      lacuna ]number    word[
HT45a      𐝫      𐝫𐝉       PA
HT141      𐝫       1     A-RI
HT25a      𐝫       1  DI-NA-U

        ]number    word[  ]word
HT62+73       4       KO     NU
HT25a         1  DI-NA-U  RU-NI

                      ]word number        word
HT122a                   DI      1       TE-KI
HT123+124b            SI-DU  ≈ ¹⁄₆  DU-MA-I-NA
HT122b      A-RA-JU-U-DE-ZA      2    QA-QA-RU
HT25a                 RU-NI      1     U-RE-WI
HT111a                QA-RU      8          DI
HT26b                 RO-NI      3  KA-U-ZU-NI
PH3a                   *557      1        *563
PK1                   NE-TI      1       KA-QA
ZA4a               TU-ME-SE     18  QE-SI-ZU-E
HT123+124a            KI-RO    ³⁄₄       DA-TU
HT110b                   RO     20        *648

      lacuna lacuna        word
KH20       𐝫      𐝫  A-SI-KI-RA
HT38       𐝫      𐝫    DA-RO-PA
HT25b      𐝫      𐝫       KU-RO

       word separator         word   logogram
HT116a              𐄁     KU-PA-JA        GRA
HT35                𐄁      I-KU-TA        CYP
HT133               𐄁           TE     GRA+DA
KH5                 𐄁  WI-SA-SA-NE      CYP+E
HT96a               𐄁     SI-MI-TA        GRA
HT25b               𐄁         I-TI    VIR+[?]
HT28b               𐄁       SA-RA₂        GRA
KH7a                𐄁     QA-TI-KI  VIR+*313b
HT99a               𐄁       SA-RA₂        CYP
IOZa16              𐄁  JA-SA-SA-RA         ME

            word number[ lacuna
HT26b   *188-*86       7      𐝫
HT26a  U-NU-*21F       5      𐝫
KH13    *304-CYP     ¹⁄₃      𐝫
HT49a   TI-DU-NI       1      𐝫

      number              ]word number
TY2      160        *309B-RI-JU    250
HT31      10  *416-VS-KA-RO-PA₃     10
MA2c       3         JA-MA-U-TI      6
HT27a     20         I-MI-SA-RA     43
KH50       2                 JE      2
KH59       5              DI-NA      5
HT26b      9              RO-NI      3

        word separator     word[       ]word
KH79+89              𐄁      A-RA    PA-DA-NI
KH74                 𐄁  JA-DA-SU  SI-*805-MI
HT79+83              𐄁    DA-PA₃    TU-PA-RI
HT27a                𐄁   KU-*305    SA-RA-DI

            word[    ]word word separator
HT27a       KI-DA  KI-*310              𐄁
HT113    RA-RI-DE    WI-SA              𐄁
HT84   *21F-JA-DU    NU-TI              𐄁

       number ]logogram number
KH8       ¹⁄₂       GRA    ¹⁄₂
KH15      ¹⁄₂        NI    ¹⁄₄
MA2b        4        TI      1
PK3         2        KU      3
ARKH3b      4       VIN      1
HT96a      20        NI      2
HT122a      1        DU      1
PH3a        𐝓      *560      𐝓
HT27a      43        QE     21
ZA6a       15      OLIV     10
HT140       1        KA      1

                 ]word word separator       word[
IOZa11         U-TI-NU              𐄁   I-NA-I-DA
APZa2            NA-SI              𐄁  I-PI-NA-MA
KH79+89          PA-TA              𐄁        A-RA
SYZa5            MI-JA              𐄁   JA-WA-PA₃
HT27a          KI-*310              𐄁     KU-*305
HT135a           MI-TU              𐄁       MI-KA
IOZa5    I-JA-RE-DI-JA              𐄁     I-JA-PA
KNZa10        DU-WA-TO              𐄁        I-JA

       number ]number logogram
MA10b       3       4   *402+A
HT27a      90      50      *86
HT110b    ¹⁄₂       2       NI
KH21        𐝍     ¹⁄₅       NI

       logogram number ]logogram
KH15         NI    ¹⁄₂        NI
HT140     OLE+U      1        KA
ARKH3b      OLE      4       VIN
HT27b        SA      7       VIN
HT39     *414+A    100    KU+[ ]
KH8          NI    ¹⁄₂       GRA
KH103       CYP     23       VIN

        ]logogram word separator  logogram
HT52b          NE              𐄁       GRA
KH36           KA              𐄁  MI+JA+RU
HT45a         *86              𐄁      *305
PH1a           JA              𐄁      *316
HT27b         VIN              𐄁       GRA
MA10a          RU              𐄁   *413+SU
HT42+59        TA              𐄁     SI+SE
KH22           ZA              𐄁        SU

             ]word word separator logogram
MA10b  DU-PI-TE-WA              𐄁   *405+Ω
HT61         MI-TI              𐄁   GRA+KU
KH9           I-SI              𐄁    CYP+D
HT27b        MI-DA              𐄁   VIN+WA
KH20      DU-RE-ZA              𐄁    CYP+E

       word separator ]logogram word separator
HT68                𐄁        JU              𐄁
KNZa18              𐄁        JA              𐄁
APZa2               𐄁        QA              𐄁
HT27b               𐄁       GRA              𐄁

      word separator lacuna   word
HT95b              𐄁      𐝫  DA-ME
HT27b              𐄁      𐝫  PA-SE

       number logogram[ word separator
HT27b      70       VIN              𐄁
KH50        2        QE              𐄁
HT128b      1        RU              𐄁

           word separator number         word
HT29                    𐄁      1     PA-JA-RE
HTWa1021                𐄁    ³⁄₄  SI+SE-RA+KA
HT123+124b              𐄁     10  TU-PA-DI-DA
HT96a                   𐄁      1    *323-*344
HT32                    𐄁    108           DI
ZA20                    𐄁      4     SI-TE-TU
HT93a                   𐄁      3     DA-RI-DA

           number[              ]word number
HT51b           12              ZU-DU      ⅝
HT127a           1  *304+PA-DA-*47-KU      1
KH92            10              NA-KI      1
HT46a            1              KU-RO     43
HT81         ≈ ¹⁄₆           RI-SU-MA      𐝋
HT122b           7    A-RA-JU-U-DE-ZA      2
HT29             2            DI-JA-I      2
HT39            10           KU-RE-JU      8
HT123+124a   ≈ ¹⁄₆              KI-RO    ³⁄₄
HT70            30         QA-*118-SA      2
ZA11a          ¹⁄₂            E-KU-RU      2

       word separator     ]word number
PK1                 𐄁     NE-TI      1
PH1b                𐄁        NA      1
HT122a              𐄁        DI      1
HT29                𐄁     KI-TA      2
HT66                𐄁        DI      2
HT94b               𐄁  DE-ME-TE      1
HT108               𐄁    RA₂-TI     10
ZA4a                𐄁  TU-ME-SE     18
HT87                𐄁      A-TU      1

           word number[       ]word
HT39  TA-I-AROM      10    KU-RE-JU
KH92   KU-NI-TE      10       NA-KI
HT70         TE      30  QA-*118-SA
HT29   PA-JA-RE       2     DI-JA-I
HT69         DI       8       MA-DI

           word number[ word separator
HT108  DU-SU-NI       5              𐄁
HT29   RU-MA-TA       2              𐄁

                     ]word word separator            word
PKZa16               TO-SA              𐄁             PU₂
KNZa10         TA-NU-MU-TI              𐄁  JA-SA-SA-RA-MA
HT55a                KI-RO              𐄁           MA-RE
SYZa1    A-TA-I-*301-WA-JA              𐄁         I-DA-MI
IOZa15          I-PI-NA-MA              𐄁        SI-RU-TE
PSZa2              𐄌-JA-TI              𐄁  JA-SA-SA-RA-ME
KNZf31    SI-SI-ZA-NE-*310              𐄁     DA-DU-MI-NE
HT31                 TI-SA              𐄁           PU-KO
PKZa18                  TE              𐄁            I-DA
ZAZb34           PU₂-RE-JA              𐄁           KO-MU
HT122a               RA-RI              𐄁         U-DE-ZA
ZAZg35         ME-MI-JA-RU              𐄁     SE-WA-AU-DE
HT62+73              SA-RA              𐄁              TE
PKZa8                   NU              𐄁           PA₃-E
IOZa2           I-PI-NA-MA              𐄁        SI-RU-TE

       lacuna ]number         word
HT69        𐝫       5           DI
HT31        𐝫       5  *815-QA-PA₃
HT111b      𐝫      18        SA-DI

       word separator       ]word word separator
PSZa2               𐄁     𐄌-JA-TI              𐄁
KNZa10              𐄁    DU-WA-TO              𐄁
HT31                𐄁       TI-SA              𐄁
IOZa11              𐄁     U-TI-NU              𐄁
IOZa2               𐄁  I-PI-NA-MA              𐄁

       number[ ]number              word
HT31        30      10  KI-DE-MA-*323-NA
KH9        𐝃𐝉𐝫      .3       SI+TA2-*304
HT122a       2       2        DA-SI-*118

     ]number              word  word
HT31      10  KI-DE-MA-*323-NA  *815
PK3       31             DA-RE    72

       logogram[ ]logogram number
KH22       CYP+E        SI      4
HT125a     OLE+U    OLE+MI      1
HT44b         NI       VIN     75
KH91         VIN      *316      1
HT32      OLE+NE        RE    104
HT58      OLE+MI     OLE+E      3
KH8      VIR+[?]        NI    ¹⁄₄

       number   logogram[   ]logogram
HT125a    ¹⁄₅       OLE+U      OLE+MI
HT55a       1          NE          TU
KH9       ¹⁄₄         VIN         CYP
HT32       65      OLE+NE          RE
KH8       ¹⁄₄     VIR+[?]          NI
KH91        1         VIN        *316
HT58       19      OLE+MI       OLE+E
KH22        7       CYP+E          SI
HT60        5  QA2+[?]+RE  QA2+[?]+PU

     logogram         word word separator
HT32     *307       SA-RA₂              𐄁
MA1a      *47  QE-DE-MI-NU              𐄁

       number[ ]number logogram
HT110b       3       1       MA
HT101        2       3     OLIV
KH9        ¹⁄₂       2      CYP
KH19        13       2   OLE+TA
KN28b       𐝊𐝫       3    SU+MI
HT33       𐝉𐝋𐝫       3     E+KA
PH28b      102       2     *304

           logogram number[ ]number
HT42+59       OLE+U       2       2
HT101        OLE+KI       2       3
KH81        MI+JA+I    1000       3
ZA6b         GRA+PA      40      20
HT33     QA2+[?]+RE     𐝉𐝋𐝫       3
KH9           CYP+D     ¹⁄₂       2

         logogram       logogram number
PEZg5         OLE           *307      1
HT33    *401+*304  QA2+[?]+RE+PU      1
HT116a      SI+SE            GRA     16
KH103          NI            CYP     23

                        word word separator logogram[
HT40                KI-DA-TA              𐄁       GRA
SYZa1                I-DA-MI              𐄁        JA
HT51a                     TE              𐄁        MA
HT34                  SA-RA₂              𐄁  MI+JA+KA
KH9             A-SI-SU-PO-A              𐄁  VIR+*307
ARKH6               DA-NA-TU              𐄁        KU
HT58             QE-TI-RA-DU              𐄁   VIR+[?]
IOZa3      A-TA-I-*301-WA-JA              𐄁        AU
KH20              A-SI-KI-RA              𐄁     CYP+E
HT44a              I-QA-*118              𐄁       GRA
KNZb4                  JA-SI              𐄁        SI
KH7a                 SE-*305              𐄁        KU
IOZa2    TA-NA-RA-TE-U-TI-NU              𐄁         I
PKZa10         I-PI-NA-MI-NA              𐄁        SI
HT62+73                   TE              𐄁       VIN

      word separator logogram[ lacuna
HT34               𐄁  MI+JA+KA      𐝫
HT144              𐄁         O      𐝫
HT84               𐄁   VIR+[?]      𐝫
KH53               𐄁        NE      𐝫

      number number lacuna
KH26       2     𐝃𐝋      𐝫
HT36       7    ¹⁄₂      𐝫
HT113      2    ¹⁄₂      𐝫
HT96b      2   ¹⁄₁₆      𐝫

            ]word logogram number
HT62+73        NA      GRA     15
ZA1b           RO      GRA     47
KH7b     PA-NA-TU    CYP+D    ¹⁄₂
HT39        KU-RO   *414+A    100
TY3a      ZA-*321   OLE+KI     15
HT125a     SA-RA₂      GRA      2

          ]word number logogram[
HT51b     ZU-DU      ⅝        SI
HT108    RA₂-TI     10        JU
HT66         DI      2        TA
HT55b        TE      1        QE
HT39   KU-RE-JU      8        KU
KH50         JE      2        QE
HT81   RI-SU-MA      𐝋        KI
KH43    *560-RE      2    WI+ZE[

       logogram[     ]word number
HT51a         MA        SE     64
HT55b         QE     RI-JA      1
HT39          KU  SA-MA-TI     10
HT110b       GRA        RO     20

      number logogram[     ]word
HT39       8        KU  SA-MA-TI
KH9       𐝃𐝁        MI      I-SI
HT55b      1        QE     RI-JA

       number[ logogram[ lacuna
KH14         2       CYP      𐝫
KH55         3        NI      𐝫
HT39         2    DU+[ ]      𐝫
ARKH3b       1       OLE      𐝫

     ]logogram number[ logogram[
HT39    KU+[ ]       2    DU+[ ]
MA6c    HIDE+B       4  HIDE+[?]

     logogram[ number       word[
KH2        CYP    ¹⁄₄  *306-CYP+E
HT40       GRA    134       KU-RO

       lacuna  ]word number
ZA27        𐝫  DI-KI      2
HT111a      𐝫  QE-KA      8
HT49a       𐝫     RI      1
KH3         𐝫     NU      1
HT41a       𐝫  QE-TU     10

       lacuna lacuna  ]word
KN28b       𐝫      𐝫     TE
KH96        𐝫      𐝫   𐝫𐝈𐝀𐝀
HT67        𐝫      𐝫  KU-RO
HT111a      𐝫      𐝫  QE-KA
HT74        𐝫      𐝫  KU-RO
ZA27        𐝫      𐝫  DI-KI
HT41a       𐝫      𐝫  QE-TU

       ]word number logogram
HT41a  QE-TU     10     *305
KN2    RU-NA      2     *118
PH3a    *556      1       TA

        number   logogram ]number
HT42+59      8      OLE+U       7
HT60      ¹⁄₁₆  MI+JA+[ ]    ¹⁄₁₆

        number[ ]number logogram[
HT42+59       2       2        KU
HT111b        4       3        QE

        logogram number         word[
HT101      DI+QE      3        KU-PA₃
HT115b   *306+MI      1         KU-TA
ZA6a        *171     19  *34-JU-TE-MI
GO2r          SI      2            DA
HT42+59   OLE+MI      2         SU-DU
HT128a    GRA+KU      6            DI
HT93a       *343      2     PA₃-NI-NA
KH7a       CYP+D      1           𐝕𐝉𐝫

        lacuna logogram number
KH91         𐝫      GRA      1
HT42+59      𐝫   OLE+MI      2
HT128b       𐝫   GRA+KU      6

        ]number       word logogram
HT42+59       7      SA-RO   OLE+KI
HT131a      353  I-QA-*118      GRA

         word[  ]word logogram
HT42+59  SU-DU  RE-TU   OLE+KI
ZA1b      E-MI     RO      GRA

        logogram[ ]logogram[ lacuna
HT42+59        KU        OLE      𐝫
ARKH1a         QA         KI      𐝫

      number logogram[ lacuna
KH91    ¹⁄₁₆   *401+RO      𐝫
KH34       2        NI      𐝫
HT55b      1         I      𐝫
HT100     58   *304+PA      𐝫
HT108     10        JU      𐝫
PH8b       1  *318+[ ]      𐝫
KH22       4       CYP      𐝫
KH83      15   *401+RU      𐝫
HT44a      1       VIN      𐝫
HT81       𐝋        KI      𐝫
HT51b      ⅝        SI      𐝫
KH43       2    WI+ZE[      𐝫

       number[ logogram number
HT106        6       SI      5
ZA12b       40       TI     13
HT44a        5   OLE+RA      5
PE1         50   GRA+PA     26
HT140      ¹⁄₂    OLE+U      6
HT128a     ¹⁄₂   GRA+KU      6
HT99a        4      VIN      1

       ]logogram number logogram[
HT100     VIR+KA     58   *304+PA
KH54       CYP+E      1       GRA
KH91     *401+RU   ¹⁄₁₆   *401+RO
PH8b        *316      1  *318+[ ]
HT44a         NI      1       VIN
KH34       CYP+E      2        NI
ZA6a        OLIV     10         I
HT131b      OLIV      2    VIN+SA
KH84        *301      1      *306
KH22          SI      4       CYP

       logogram number[ logogram
HT116b      GRA     100     *304
HT106       CYP       6       SI
ZA12a        TI      13       RU
HT128a   GRA+PA     ¹⁄₂   GRA+KU
PE1     VIR+[?]      50   GRA+PA
HT44a     OLE+U       5   OLE+RA
ZA11b    GRA+PA       1   I-OLIV

        ]logogram word separator     word[
HT79+83        KA              𐄁    DA-PA₃
HT44b          JA              𐄁  TE-GRA+F
KNZa18         JA              𐄁     JA-WA
KH74           SI              𐄁  JA-DA-SU

       word separator     word[ ]number
HT135a              𐄁     MI-KA       1
HT44b               𐄁  TE-GRA+F       5

      ]logogram number ]number
HT44b       VIN     75      18
HT147        RA  ≈ ¹⁄₆     ¹⁄₂
KH21        CYP      𐝍     ¹⁄₅

      ]number logogram[ ]logogram
HT44b       5        NI       VIN
KH47        6        SI        RA

      number[ ]logogram word separator
HT45a       2      *318              𐄁
HT67      402        NI              𐄁

       ]number       word[ ]logogram
ZA6a       180        I-SE      OLIV
HT45a       𐝫𐝉          PA       *86
HT135a       1  NA-*21F-NE        MI

       lacuna     ]word number[
HT46a       𐝫     MU-RU       1
ZA16        𐝫        PA       6
HT98a       𐝫        DE       1
KN28b       𐝫        TE      𐝊𐝫
HT74        𐝫     KU-RO      20
HT67        𐝫     KU-RO     402
HT127a      𐝫  DU-NE-MI       1
HT135a      𐝫  NE-MI-NA      10

             ]word number number
PH9b   *412-VS-VIN      1     𐝆𐝆
HT46a        KU-RO     43    ¹⁄₂
ZA11a      E-KU-RU      2    ¹⁄₄

       lacuna lacuna ]number
HT154k      𐝫      𐝫       2
KH35        𐝫      𐝫       1
HT46b       𐝫      𐝫      16
KH46        𐝫      𐝫      𐝫𐝋

      number dividing line lacuna
HT96a      2             —      𐝫
HT49a      1             —      𐝫

       number       word[ lacuna
ZA7a        4  A-RE-TU-MI      𐝫
KH2       ¹⁄₄  *306-CYP+E      𐝫
TY2       250       *309B      𐝫
ZA18b       2         𐝕𐝉𐝫      𐝫
ZA14        2       JA-WI      𐝫
HT128a      4       MA-RI      𐝫
ZA5a        6  SA-MI-DA-E      𐝫
HT49a       1       SU-KI      𐝫

       lacuna word separator  ]word[
HT135b      𐝫              𐄁   TA-NE
KN22c       𐝫              𐄁      NA
HT49a       𐝫              𐄁  RA₂-DU

         ]word[     ]word word separator
KH79+89   MI-NA     PA-TA              𐄁
HT49a    RA₂-DU  TA-NA-TI              𐄁

       word separator                ]word[        ]word
PKZa12              𐄁                 RA-ME         A-NE
APZa2               𐄁  I-KU-PA₃-NA-TU-NA-TE  PI-MI-NA-TE
HT49a               𐄁                RA₂-DU     TA-NA-TI

      lacuna  ]logogram[ lacuna
ZA16       𐝫          SI      𐝫
KH64       𐝫          TA      𐝫
KH42       𐝫  *307+*301[      𐝫
KH65       𐝫          NI      𐝫
ZA32       𐝫          JA      𐝫
HT49b      𐝫          KA      𐝫

      number number[ ]logogram
HT50a      1     ¹⁄₂      OLIV
HT70       2     ¹⁄₄         I
HT93a     10     ¹⁄₈        KA

           logogram number number[
HT115a           SU      2     ¹⁄₅
HT50a          *304      1     ¹⁄₂
HT110b           NI      1     ¹⁄₂
HT93a       VIR+[?]     10     ¹⁄₈
HT123+124a     *308      4   ≈ ¹⁄₆

        lacuna ]logogram number[
KH68+71      𐝫  *401+[ ]      𐝉𐝫
ZA28         𐝫    GRA+PA       1
ZA29         𐝫        MA     100
KH82         𐝫    OLE+RI      𐝉𐝫
KH63         𐝫        SU      10
HT109        𐝫        RE       4
HT154e       𐝫        NI      14
KH84         𐝫       CYP     ¹⁄₂
ZA4b         𐝫       VIN     104
ZA31         𐝫        DU       2
HT131b       𐝫        NI      30
PH30         𐝫        TI     ¹⁄₄
HT82         𐝫   GRA+QIf    ¹⁄₁₆
HT50b        𐝫    OLE+DI       1
KH76         𐝫        SI       4
KH26         𐝫   VIR+[?]      60
HT154a       𐝫        KU       6
HT127b       𐝫        NE      13

      lacuna lacuna logogram
HT50b      𐝫      𐝫   OLE+KI
KH38       𐝫      𐝫    CYP+D
KH55       𐝫      𐝫   OLE+TA
ZA21b      𐝫      𐝫       ME

       word separator logogram[        ]word
HT51a               𐄁        MA           SE
HT122b              𐄁   VIR+[?]  *306-KI-TA₂
ZA11a               𐄁    GRA+PA     RA-MA-SI

       word[ ]logogram[ lacuna
KH23    A-DU        CYP      𐝫
KH39    A-TA     OLE+TA      𐝫
HT51a  TI-NI         RE      𐝫

       logogram[ lacuna lacuna
HT154n        SI      𐝫      𐝫
HT144          O      𐝫      𐝫
HT54b         KI      𐝫      𐝫
HT51b         SI      𐝫      𐝫
KH34          NI      𐝫      𐝫
ZA24a        GRA      𐝫      𐝫
HT55b          I      𐝫      𐝫
HT84     VIR+[?]      𐝫      𐝫

            word[ lacuna lacuna
HT52a    DI-KA-KI      𐝫      𐝫
GO2v        SE-SI      𐝫      𐝫
KE1         KA-SA      𐝫      𐝫
ZA14        JA-WI      𐝫      𐝫
ZA5a   SA-MI-DA-E      𐝫      𐝫
ZA21b       SA-RI      𐝫      𐝫

      ]number     word[ lacuna
ZA21b       2     SA-RI      𐝫
KH94       17      I-ZA      𐝫
HT52a       4  DI-KA-KI      𐝫

        lacuna ]word[ lacuna
HT53b        𐝫  KU-RE      𐝫
HT80         𐝫  JU-RA      𐝫
HT53a        𐝫  SA-NE      𐝫
ZA19         𐝫  RA-TE      𐝫
KH52         𐝫   TA-U      𐝫
HT154ja      𐝫  NU-TE      𐝫
ZA13         𐝫  SU-PA      𐝫
KH40         𐝫  SI-NA      𐝫
KH44         𐝫   *335      𐝫
KH79         𐝫   𐝫𐘂𐘀𐝫      𐝫

       ]number logogram[ lacuna
HT53a      100        RA      𐝫
KH80       ¹⁄₅       OLE      𐝫
KH46        𐝫𐝋       VIN      𐝫
HT54b        4        KI      𐝫
KH35         1       CYP      𐝫
KH16       ¹⁄₂        TA      𐝫
KH51         4        TU      𐝫
HT154n       6        SI      𐝫

       lacuna ]number[ lacuna
HT53b       𐝫       18      𐝫
ZA33        𐝫       21      𐝫
ZA30        𐝫        7      𐝫
KH78        𐝫       30      𐝫
KH67        𐝫        1      𐝫
HT107       𐝫        3      𐝫
HT136b      𐝫       24      𐝫

      lacuna       ]word[      ]word[
PH7a       𐝫     DI-PA-JA  U-DI-RI-KI
HT130      𐝫          RA₂       KU-RO
HT54a      𐝫  KU-MI-NA-QE   KI-MI-RA₂

        lacuna lacuna       ]word[
HT54a        𐝫      𐝫  KU-MI-NA-QE
KH44         𐝫      𐝫         *335
KH52         𐝫      𐝫         TA-U
HT154ja      𐝫      𐝫        NU-TE

            ]word[     ]word[ lacuna
KH97a      RE-A-JA         NA      𐝫
HT54a  KU-MI-NA-QE  KI-MI-RA₂      𐝫

      lacuna ]number logogram[
KH2        𐝫      20        TU
KH46       𐝫      𐝫𐝋       VIN
KH35       𐝫       1       CYP
HT54b      𐝫       4        KI

       ]logogram number         word
HT98b        VIN    ³⁄₄  DA-RU-NE-TE
HT122a        DU      1    KU-PA₃-NU
ZA11b         RA      2        KU-PA
HT105    VIR+[?]    234       SA-RA₂
MA2b          TI      1        JA-KU
MA10c     *412+E      2         *659
PH3a        *560      𐝓        PA-RA
HT55a       *301      1        SI-RU
HT109         TA      4        KU-RO
HT130         SI      3       SA-RA₂
HT98a         TU      1     TA-NA-TI

        ]logogram number[ lacuna
ZA16           SU       4      𐝫
ZA28       GRA+PA       1      𐝫
ZA31           DU       2      𐝫
KH63      *401+RU      𐝉𐝫      𐝫
HT111b         NI       1      𐝫
KH12      *401+RU      𐝍𐝫      𐝫
HT109          RE       4      𐝫
HT55a          TU       1      𐝫
HT112b        CYP       6      𐝫
HT70            I       3      𐝫
KH100          KE     ¹⁄₄      𐝫
PH3b           SI     ¹⁄₄      𐝫
KH68+71  *401+[ ]      𐝉𐝫      𐝫
KH25      VIR+[?]      10      𐝫
HT106          SI       3      𐝫

         word number[ ]logogram
HT110a  KU-RO     100        NI
HT55a   MA-RE       1      *301

      logogram number[ dividing line
TY3b    OLE+MI       6             —
HT56b   OLE+KI      20             —

        ]logogram number lacuna
HT79+83        ZU      3      𐝫
HT66           RE      1      𐝫
HT137         OLE      2      𐝫
HT57b        *305      8      𐝫
HT63           ZU      2      𐝫
ZA11a        OLIV      2      𐝫
ARKH3b        VIN      1      𐝫

      number lacuna lacuna
HT63       2      𐝫      𐝫
HT57b      8      𐝫      𐝫
KH26      𐝃𐝋      𐝫      𐝫
KH92       1      𐝫      𐝫

      lacuna ]logogram number
KH50       𐝫        TA      2
KH21       𐝫       CYP      𐝍
PH8b       𐝫      *316      1
HT105      𐝫   VIR+[?]    234
PH8a       𐝫   *416+L2      7
HT109      𐝫        TA      4
HT130      𐝫        SI      3
PH3b       𐝫        SI      1
HT60       𐝫    OLE+RI   ¹⁄₁₆
HT147      𐝫        RA  ≈ ¹⁄₆

        logogram[   ]logogram number[
HT60   QA2+[?]+RE  QA2+[?]+PU      𐝉𐝫
KH9           VIN         CYP     𐝃𐝉𐝫
KH100         VIN          KE     ¹⁄₄

           word[ word separator number
HT62+73  *28B-TI              𐄁      6
HT93a       O-TI              𐄁      3
HT94b    *21F-TU              𐄁      1

               word[ ]number number
HT62+73           DI       4    ¹⁄₄
HT103    DA-KU-SE-NE       6    ¹⁄₂

           word[ ]number       word[
HT62+73  PA-I-KI       8    SA-RO-QE
HT135a     MI-KA       1  NA-*21F-NE

        number logogram[ ]logogram[
HT140        3        KA         MA
HT62+73    ¹⁄₄        KA    VIR+[?]

        ]number     word[ ]number
KH29          1     KU-PA       2
KH12        ¹⁄₃      *335     ¹⁄₃
HT62+73       8  SA-RO-QE      28

        logogram[ word separator     ]word
HT62+73       VIN              𐄁        NA
PK1            SI              𐄁     NE-TI
PYRWc4         TI              𐄁      I-SI
HT94b          RA              𐄁  DE-ME-TE
KH7a           KU              𐄁      KO-E

        ]logogram[ ]number  word[
HT62+73    VIR+[?]       4     KO
ZA21b           KI       2  SA-RI

               word[ ]logogram number
HT135a    NA-*21F-NE        MI      2
HT63          SU-PU₂        ZU      2
ZA6a            I-SE      OLIV     15
ZA11a      PI-*310-A      OLIV      2
KH4          A-DU-RE      *306      4
TY3a    A-KU-TU-*361        KI      5
PH1b              PA        NI      2
HT101         KU-PA₃     OLE+U      2

               ]word[ ]logogram number
HT66            TA-MI        RE      1
KNZb35       JA-DI-WI       OLE    100
HT79+83         KU-NI        ZU      3
ZA11b            I-DE        RA      2
HT125a            RA₂    OLE+KI      1
ARKH1a   A-SU-MI-*118        NE      2

       ]logogram word separator           word
HT67          NI              𐄁             TE
PLZf1         TA              𐄁    WI-TE-JA-MU
PKZa10        SI              𐄁  I-PI-NA-MI-NA
HT115b        RU              𐄁       PA-RA-NE
KH14          RA              𐄁        A-MA-JA
KNZb4         JU              𐄁          JA-SI
HT70          NI              𐄁             TE
IOZa16      AROM              𐄁    JA-SA-SA-RA

        ]logogram word separator logogram[
KH29           RA              𐄁       TA₂
KH47           RA              𐄁      *306
HT68           JU              𐄁   VIR+[?]
HT79+83         I              𐄁      *305

         number[ ]logogram number[
KH12          𐝍𐝫   *401+RU      𐝍𐝫
HT106          8        SI       3
HT110a       100        NI      15
KH63          10   *401+RU      𐝉𐝫
THEtab.4       7       CAP      46
PH3b         ³⁄₄        SI     ¹⁄₄
TY3b          11    OLE+NE       2
HT70         ¹⁄₄         I       3
KH25         140   VIR+[?]      10
ZA16           6        SU       4

           word[ word separator lacuna
TY3a        A-DU              𐄁      𐝫
HT72  SI-VIR+[?]              𐄁      𐝫

     lacuna dividing line   ]word[
ZA23      𐝫             —    TE-TE
HT78      𐝫             —  MU-*312

            ]word number[ ]logogram[
HT79+83  TU-PA-RI       1         TU
KH82         *315       1       *336

            ]word[ lacuna lacuna
HT80         JU-RA      𐝫      𐝫
KH97b         SE-I      𐝫      𐝫
KH56          𐝫𐝕𐝉𐝫      𐝫      𐝫
KH90   MA-TA-RI-TA      𐝫      𐝫

      number[  logogram number[
ZA11b       1    I-OLIV       1
ZA12a      64        TI      13
HT137       3    OLE+MI       6
KH81        5   MI+JA+I    1000
HT99a       4        NI       4
HT82     ¹⁄₁₆  *304+[ ]     ¹⁄₄

            ]word word separator logogram[
ARKH1a      TA-PI              𐄁        QA
HT84        NU-TI              𐄁   VIR+[?]
KH53    A-ME-AROM              𐄁        NE

                   word number       word[
TY2         *309B-KI-PU     50  *309-DA-PU
HT85a             DA-RE      4       KU-RO
ZA14           PA-NU-QE      2       JA-WI
HT123+124b  TU-PA-DI-DA  13/20       KA-NA
HT85b                PA      1       TE-TU
ZA10a          TA-NA-TE      2          PA
HT122a       DA-SI-*118      2          PA

      number word[ word separator
HT93a    ¹⁄₂  O-TI              𐄁
HT87       1  A-RA              𐄁

                word[ word separator       ]word
HT87             A-RA              𐄁        A-TU
KNZa10          DA-WA              𐄁    DU-WA-TO
PEZg6            I-NA              𐄁          TE
IOZa2   U-NA-KA-NA-SI              𐄁  I-PI-NA-MA
HT122a             PA              𐄁          DI

                     word          word logogram
HT102               KA-PA        SA-RA₂      GRA
KH10              QA-*118  A-KI-PI-E-TE      GRA
HT90           I-KU-RI-NA        SA-RA₂      GRA
PE1    U-KA-RE-A-SE-SI-NA      KU-PA-RI  VIR+[?]

       number               word              word
HT93a       3           DA-RI-DA           *406-VS
SYZa2       1  U-NA-KA-NA-SI-OLE              A-JA
TY2        10           PA-DA-RU        *309-JU-KI
HT115a      2          *301-U-RA  NA-*21F-NE-MI-NA
ZAZb3      32        DI-DI-KA-SE        A-SA-MU-NE
HT102       5              KU-RO              1060

       number number word[
GO2v        1    ¹⁄₈    DA
ARKH1a      2    ¹⁄₂  A-PA
HT93a       1    ¹⁄₂  O-TI
PE1        26    ¹⁄₂  E-KA

      number ]number       word
HT94a  ≈ ¹⁄₆       2  *318-*306
PH28b      6       6       *811

       logogram word separator logogram[
HT154.     *516              𐄁        TI
ZA11a      *516              𐄁    GRA+PA
HT122b     *346              𐄁   VIR+[?]
HT94b       *86              𐄁        RA

      word separator logogram[ word separator
IOZa2              𐄁         I              𐄁
HT94b              𐄁        RA              𐄁

        lacuna word separator lacuna
HT95b        𐝫              𐄁      𐝫
HTW231c      𐝫              𐄁      𐝫
KH91         𐝫              𐄁      𐝫

             word number  place name
HT95b    MI-NU-TE     10    KU-NI-SU
ZA15a  QE-SI-ZU-E     57  I-TI-NI-SA

      ]logogram number dividing line
PH8a    *416+L2      7             —
HT96a        NI      2             —
HT101     OLE+U      2             —

       word separator word separator   word
HT96a               𐄁              𐄁  TE-NI
IOZa12              𐄁              𐄁  JA-SA

           ]word word separator word separator
HT96a   KU-MA-RO              𐄁              𐄁
PKZa17      I-DA              𐄁              𐄁

      logogram word separator number
PH1a      *316              𐄁      𐝉
HT96b      GRA              𐄁     40

      lacuna ]logogram[ ]logogram
KH57       𐝫         TU        ZO
HT98b      𐝫       *188       VIN
KH8        𐝫         RE        TA
KH27       𐝫         NI    GRA+PA

               word logogram number[
HT131a    I-QA-*118      GRA      58
ZA6b       *312-TA₂   GRA+PA      40
HT116b        KU-RO      GRA     100
HT106      MI-NU-TE      CYP       6
HT102        PA₃-NI   GRA+PA      33
HT128a  WA-TU-MA-RE   GRA+KU      12
TY3b       KI-RI-SI   OLE+MI       6
PE1        KU-PA-RI  VIR+[?]      50
KH7b      U-TA-I-SE    CYP+D     ¹⁄₂
HT99a        SA-RA₂      CYP       4

      dividing line word[ word separator
TY3a              —  A-DU              𐄁
HT106             —    DA              𐄁

      number dividing line      word
HT108     70             —  DI-NA-RO
PK1        2             —   A-DU-ZA
ZA15b      3             —     KU-RO

       ]logogram number[ ]number
HT154e        NI      14       3
KH9          CYP     𐝃𐝉𐝫      .3
HT110a        NI      15      60
KH24          SU      12      𐝫𐝉

       number[ ]logogram[ lacuna
HT111a      14         NI      𐝫
KH82         1       *336      𐝫

        lacuna lacuna lacuna
KH69         𐝫      𐝫      𐝫
KH92         𐝫      𐝫      𐝫
HT112b       𐝫      𐝫      𐝫
HT142        𐝫      𐝫      𐝫
ZA5a         𐝫      𐝫      𐝫
KH72         𐝫      𐝫      𐝫
KH26         𐝫      𐝫      𐝫
PH29a        𐝫      𐝫      𐝫
HT154jb      𐝫      𐝫      𐝫
KH70         𐝫      𐝫      𐝫
ZA17         𐝫      𐝫      𐝫

       number     word[ logogram
PE1       ¹⁄₂      E-KA  VIR+[?]
HT128a      6        DI   GRA+KU
HT115a      1  RI-SU-MA       SU
GO2v      ¹⁄₈        DA       RE

       number number[ lacuna
PH3b        1     ¹⁄₄      𐝫
HT115a      2     ¹⁄₅      𐝫

           word[ logogram number
HT115a  RI-SU-MA       SU      2
HT128a        DI   GRA+KU      4
PKZb?   A-PA₃-DI       RE    ¹⁄₃

        logogram            word number
ZA15a     SA-VIN      QE-SI-ZU-E     57
HT115a  GRA+BOSm  RI-TA-MA-NU-WI      2

       word separator word also in linear b number
HT115b              𐄁              PA-RA-NE    ¹⁄₂
HT118               𐄁                 MA-DI     15

           number number[   ]word
HT125a          1     ¹⁄₂  SA-RA₂
HT123+124a      4   ≈ ¹⁄₆   KI-RO

       ]logogram number number[
HT125a    OLE+MI      1     ¹⁄₂
PH3b          SI      1     ¹⁄₄

       number       number logogram[
ZA18a       2  double mina       GRA
HT125a      1          ¹⁄₅     OLE+U
TY3a        3          ¹⁄₂    OLE+MI
KH91        1        13/20        ZU

       number logogram      word
HT127b    156       KU        72
ZA15a      10   ME-VIN  MI-ZA-SE

       word separator            word            word
KNZa10              𐄁  JA-SA-SA-RA-MA              NA
KH10                𐄁         QA-*118    A-KI-PI-E-TE
HT128a              𐄁           PA-RA  TU-RU-NU-SE-ME
IOZa12              𐄁           JA-SA        SA-RA-ME
PH6                 𐄁            A-RI   I-ZU-RI-NI-TA

       logogram[ number         word
HT128a       GRA     10  WA-TU-MA-RE
TY2         *309    290  *309B-KI-PU

       ]word also in linear b logogram number[
PH15a                MA-TE-RE     *339      11
HT128a                  MI-TA   GRA+PA     ¹⁄₂

         word logogram[ lacuna
HT130  SA-RA₂       CYP      𐝫
ZA24a    I-DA       GRA      𐝫

         ]logogram number[ ]logogram
PH3b        ]MI+JA     ³⁄₄        SI
HT154a          KU       6        TA
HT131b          NI      30      OLIV
KH84           CYP     ¹⁄₂      *301
KH26       VIR+[?]      60        NI
KH25       VIR+[?]     140   VIR+[?]
THEtab.4       CAP       7       CAP

       word separator          word[ word separator
KNZa10              𐄁          DA-WA              𐄁
HT140               𐄁       U-*34-SI              𐄁
IOZa2               𐄁  U-NA-KA-NA-SI              𐄁
APZa2               𐄁     I-PI-NA-MA              𐄁
KNZc7               𐄁          WI-PI              𐄁
KNZa18              𐄁          JA-WA              𐄁
PH28a               𐄁      JA-KI-PA₃              𐄁

      word[ ]word[ lacuna
ZA7b   A-MA   𐝫𐝄𐝉𐝫      𐝫
HT141  A-RI  RU-DI      𐝫

       lacuna ]logogram[ ]number
HT146       𐝫         QE      30
HT154n      𐝫         SI       6

       word separator logogram[ ]number
KH9                 𐄁  VIR+*307    ¹⁄₁₆
KH20                𐄁     CYP+E     ¹⁄₃
KH29                𐄁       TA₂       1
ZA6a                𐄁      OLIV      25
HT154.              𐄁        TI     100

       ]logogram[ ]logogram[ lacuna
KH49           RU         KU      𐝫
HT154a       OLIV        GRA      𐝫

       lacuna ]word[ ]number
HT154c      𐝫     NA       2
KH47        𐝫  QA-NE       6
KH13        𐝫   DA-I       3

       lacuna ]number number[
HT154g      𐝫       6     ¹⁄₂
KH13        𐝫       2     ¹⁄₂

       lacuna ]number lacuna
HT154k      𐝫       2      𐝫
KH10        𐝫       2      𐝫

                     word word separator          word[
IOZa14           SI-RU-TE              𐄁           I-DI
TLZa1      JA-SA-SA-RA-ME              𐄁     U-NA-KA-NA
IOZa2      JA-SA-SA-RA-ME              𐄁  U-NA-KA-NA-SI
SYZa8   A-TA-I-*301-WA-JA              𐄁          JA-JA
KNZc7    JA-SA-RA-A-NA-NE              𐄁          WI-PI
KNZa10                 NA              𐄁          DA-WA
IOZa12           SA-RA-ME              𐄁           I-TI
PKZa12  A-TA-I-*301-WA-JA              𐄁     A-DI-KI-TE
IOZa7   A-TA-I-*301-WA-JA              𐄁     JA-TI-*321
PKZa18               I-DA              𐄁          JA-JA
ZAZb34              KO-MU              𐄁          RU-DI

                 ]word[ word separator ]word[
IOZa11               NA              𐄁  DA-DA
PKZa9   JA-U-PA-MA-I-DA              𐄁     DI

                     word               word word separator
KOZa1   A-TA-I-*301-WA-JA           TU-RU-SA              𐄁
IOZa12              JA-SA           SA-RA-ME              𐄁
ZAZb3                A-SE  A-TA-I-*301-DE-KA              𐄁
KNZa10     JA-SA-SA-RA-MA                 NA              𐄁

     dividing line       word logogram
KH7b             —  U-TA-I-SE    CYP+D
TY3b             —   PI-KU-ZU   OLE+KI

               word[ word separator ]logogram
APZa2  I-NA-JA-RE-TA              𐄁        QA
KH11            A-DU              𐄁        ZA

     ]word[ ]number lacuna
KH13   DA-I       3      𐝫
PH3a     PA       1      𐝫

      ]number logogram number[
KH19        2   OLE+TA     ¹⁄₃
KH29        2      CYP     ¹⁄₂
KH61      ¹⁄₃   OLE+TA      𐝉𐝫
KH16       22      CYP     𐝇𐝉𐝫
KH21      ¹⁄₅       NI       2
KN28b       3    SU+MI      𐝊𐝫

     logogram[ ]number logogram[
ZA6a      OLIV      25      *304
KH16     CYP+D     ¹⁄₂        TA

      logogram number[       word[
GO2v        RE       1       SE-SI
ZA11a   GRA+PA       1   PI-*310-A
KH21        NI       2  *306-QE-DU

     number[ ]number lacuna
KH81    1000       3      𐝫
KH24      12      𐝫𐝉      𐝫

     ]number logogram[ ]number
KH61       1        MA     ¹⁄₃
KH31     ¹⁄₂   *401+RO       1
ZA6a      25      *304      20

     number[ ]word[ lacuna
ZA29     100     TE      𐝫
GO2r     ¹⁄₄     SE      𐝫
KH36       4     NA      𐝫

     number logogram[  logogram
TY3a    ¹⁄₂    OLE+MI     OLE+U
KH37      2        WI  *304+[ ]

     lacuna ]logogram[ ]logogram[
KH49      𐝫         RU         KU
ZA4a      𐝫          E         PI

     ]logogram number[ ]logogram[
KH57        ZO       1        CYP
KH76        SI       4        CYP

     ]logogram[ number[ lacuna
KH86        CYP     ³⁄₄      𐝫
KH57        CYP     ¹⁄₄      𐝫

     number[ ]logogram[ number[
KH57       1        CYP     ¹⁄₄
MA6c      87   HIDE+[?]     233

      ]word number lacuna
KH92  NA-KI      1      𐝫
KH59  DI-NA      5      𐝫

     number[ ]logogram[ number
KH76       4        CYP     𐝃𐝌
KH61      𐝉𐝫        CYP      2

            word[       ]word lacuna
KH79+89      A-RA    PA-DA-NI      𐝫
KH74     JA-DA-SU  SI-*805-MI      𐝫
KN32b          PA       JA-SU      𐝫

     ]logogram[ number lacuna
KH77        CYP      𐝍      𐝫
KH76        CYP     𐝃𐝌      𐝫

       lacuna word separator    word[
KH83        𐝫              𐄁  A-DI-NE
ARKH1a      𐝫              𐄁     A-RA

      lacuna word separator ]logogram[
KH90       𐝫              𐄁         JA
PLZf1      𐝫              𐄁          I

     number logogram[ ]number
KH91  13/20        ZU   ≈ ¹⁄₆
ZA6a     10         I       2

       word separator lacuna word separator
KNZa18              𐄁      𐝫              𐄁
PLZf1               𐄁      𐝫              𐄁
KN22c               𐄁      𐝫              𐄁

     lacuna number number
GO2v      𐝫      1    ¹⁄₈
PE2       𐝫      3    ¹⁄₃

      dividing line           word dividing line
PH11              —  |||||||||||||             —
PEZg6             —    TA-NA-MA-JE             —

              ]word logogram word separator
PKZa14        TU-ME        I              𐄁
PH1a    DI-RA-DI-NA     *316              𐄁

                  word           word             word
SAMWa1           JA-SA          SA-RA               TE
PRZa1   TA-NA-SU-TE-KE     SE-TO-I-JA  A-SA-SA-*802-ME
PH6               A-RI  I-ZU-RI-NI-TA             A-RI
ZAZb3      DI-DI-KA-SE     A-SA-MU-NE             A-SE

                        word number[ number
ZA8               A-RI-NI-TA       1      ?
PH12a  VIR+[?]-*339-HIDE+[?]      10     𐝈𐝈

      lacuna           ]word[ word separator
PKZa9      𐝫  JA-U-PA-MA-I-DA              𐄁
PH28a      𐝫            A-PA₃              𐄁

       word separator     word                word[
PKZa8               𐄁  TU-ME-I  JA-SA-U-NA-KA-NA-SI
PKZa16              𐄁      PU₂                RE-JA

             ]word             word word separator
PSZa2      RE-I-KE  TA-NA-I-*301-TI              𐄁
VRYZa1  I-PI-NA-MA         SI-RU-TE              𐄁

      word[ number[ logogram
ZA12b    PA      40       TI
ZA12a    PA      64       TI

Create a table of sequences in descending order of occurence.

In [82]:
mat_seq_cnt = {k: len(v) for k,v in matched_sequences.items()}

pd.set_option("display.max_rows", None, "display.max_columns", None)
df = pd.DataFrame(mat_seq_cnt.values(), columns = ["Count"])
df.set_axis(mat_seq_cnt.keys(), axis='index', inplace=True)
#df.style.set_caption("Davis 2018 Mapping of Linear A and PD Symbols").set_table_styles(styles)
display(df.sort_values(by=['Count'], ascending=False))

                                                    Count
word,number,word,number                               138
logogram,number,logogram,number                       119
logogram,number,logogram                              115
word,number,word                                      106
word,word separator,word                               78
logogram,number,word                                   73
word,word separator,logogram                           52
word,logogram,number                                   48
logogram,number,number                                 46
word,word separator,word,word separator                43
logogram,number,word,number                            39
word,number,word,number,word,number                    38
logogram,number,logogram,number,logogram,number        35
word,number,word,number,word,number,word,number        33
logogram,number,logogram,number,word                   32
word,word separator,logogram,number                    32
word,number,number                                     32
word,number,word,number,word                           29
word,number,logogram,number                            25
word,word separator,word,word separator,word           25
word,number,word,number,word,number,word,number...     23
logogram,number,logogram,number,logogram               22
word,logogram,number,logogram,number                   21
word,logogram,number,logogram                          21
logogram,number,logogram,number,logogram,number...     19
logogram,number,number,logogram                        19
logogram,number,word,number,word                       18
]number,logogram,number                                18
lacuna,]logogram,number[                               18
word,word separator,word,number                        18
logogram,word separator,word                           18
logogram,number,number,logogram,number                 16
word,word separator,logogram[                          15
]word,word separator,word                              15
]logogram,number[,lacuna                               15
logogram,number,logogram[                              15
word,word separator,word,word separator,logogram       15
word,number,number,word,number                         14
logogram,word separator,logogram                       14
word,word separator,logogram,number,logogram           14
]logogram,number,logogram                              14
word,word separator,logogram,word separator            14
logogram,number,logogram,number,logogram,number...     13
word,word separator,word,word separator,word,wo...     13
word,number,word,number,word,number,word,number...     12
logogram,number,word,number,word,number                12
word,word separator,word,word separator,logogra...     12
logogram,number,word,logogram,number                   12
logogram,number,logogram,number,word,number            12
logogram,number[,]logogram                             12
word,number,word,number,word,number,word,number...     11
]logogram,number,word                                  11
logogram,number,logogram,number,word,logogram,n...     11
word,word separator,word,number,word                   11
logogram,number,word,word separator                    11
word,word separator,word[                              11
word,word separator,logogram,number,logogram,nu...     11
]logogram,number,logogram,number                       11
]word,number,word                                      11
]word,number,word[                                     11
lacuna,lacuna,lacuna                                   11
logogram,number,logogram,number[                       11
logogram,number[,lacuna                                11
word,word,number                                       10
lacuna,]logogram,number                                10
lacuna,]word[,lacuna                                   10
word,logogram,number[                                  10
]logogram,number,logogram[                             10
logogram,number,logogram,number,logogram,number...     10
]word,number,word,number                               10
]logogram,number,number                                10
word,number,logogram                                   10
word,word separator,word,number,word,number            10
]logogram,number,word,number                            9
logogram,number,lacuna                                  9
]word,word separator,word[                              9
word,number,number,word,number,word,number              9
logogram,number[,]logogram,number                       9
word,logogram,number,word                               9
]word,word separator,word,word separator                9
logogram[,lacuna,lacuna                                 8
logogram,number,word[                                   8
word[,]logogram,number                                  8
logogram,word separator,word,word separator             8
]logogram,word separator,logogram                       8
word,number,word,number,logogram                        8
]number,logogram[,lacuna                                8
]logogram,word separator,word                           8
word,number,word,number,number,word,number              8
lacuna,]word,number[                                    8
]word,number[,]word                                     8
word,number,word,number,word[                           8
word,word separator,word,word separator,logogra...      8
]word,number,logogram[                                  8
word,number,logogram,number,word,number                 8
word,word separator,logogram,word separator,log...      8
logogram,number,logogram,number,logogram,number...      8
word,word separator,word,logogram                       8
logogram,number[,logogram                               7
word,word separator,word,logogram,number                7
word,number,logogram,number,word                        7
logogram,number,logogram,number,word,word separ...      7
word,logogram,number,logogram,number,logogram,n...      7
]logogram,number[,]logogram                             7
logogram,number[,logogram,number                        7
logogram[,]logogram,number                              7
logogram,number,]logogram                               7
lacuna,lacuna,]word                                     7
lacuna,]number[,lacuna                                  7
logogram,number,logogram,number,number                  7
word,number,word[                                       7
word,word separator,word,word separator,word,wo...      7
word,word separator,word,number,word,number,wor...      7
logogram,number[,]word                                  7
word,word separator,word,number,word,number,word        7
logogram,number,word,number,logogram                    7
word,number,word also in linear b,number                7
]logogram,number,lacuna                                 7
logogram,number,word,word separator,logogram,nu...      6
]logogram,number,logogram[,lacuna                       6
logogram,number,logogram,number,logogram,number...      6
]number,word,number                                     6
]word,logogram,number                                   6
word,number,logogram[                                   6
logogram,number,logogram,number,logogram,number...      6
word,number,number,word,number,number                   6
word,number,dividing line                               6
]number,logogram,number[                                6
logogram,number,]number                                 6
]word[,]logogram,number                                 6
]number,word,number[                                    6
word,number,word,number[                                6
word,number,logogram,number,logogram,number             6
logogram,number[,]number                                6
]number,logogram,number,logogram,number                 6
logogram,word,number,word,number                        6
word,word separator,logogram,number,word,number         6
word,logogram,number,number                             6
word[,lacuna,lacuna                                     6
word,word separator,word,word separator,logogra...      6
lacuna,]logogram[,lacuna                                6
logogram,word separator,word,number                     6
]logogram[,number,logogram,number                       6
logogram,number,word,logogram                           6
logogram[,logogram,number                               6
logogram,number,logogram,number[,]logogram              5
logogram,number,word,number,word,number,word            5
word,number,word,number,word,number,word,number...      5
word,number[,]number                                    5
logogram[,]number,logogram                              5
lacuna,]word,number                                     5
]word,number,word[,]word                                5
]word,logogram,number[                                  5
lacuna,]logogram,number[,]logogram                      5
word,number,word,number,word also in linear b,n...      5
word[,word separator,]word                              5
]logogram,word separator,logogram,number                5
]word,word separator,logogram                           5
logogram,word separator,logogram,word separator         5
word,word separator,word,word separator,word,lo...      5
word,number[,]word                                      5
word,word separator,logogram,number,logogram,nu...      5
word,word separator,logogram,number,logogram,nu...      5
logogram,number[,lacuna,lacuna                          5
logogram[,word separator,]word                          5
logogram,number,number[                                 5
logogram,number,number,word                             5
word,word separator,word,word separator,word,wo...      5
]word,number,logogram[,lacuna                           5
word,logogram,number,word,number                        5
lacuna,lacuna,]number                                   4
word,word separator,logogram,word                       4
logogram,number,number,logogram,number,logogram...      4
logogram,word separator,logogram[                       4
word,word separator,word,number,word,number,wor...      4
word,word separator,logogram,number,number              4
logogram[,]number,logogram,number                       4
]word,number,word,number,word,number                    4
logogram,number,word,word separator,word                4
logogram,word separator,logogram,number,logogram        4
lacuna,lacuna,logogram                                  4
]logogram,word separator,logogram[                      4
]logogram,word separator,word,word separator            4
logogram,number[,logogram,number,number                 4
logogram[,]word,number                                  4
]word,number,word,number,word,number,word               4
word,word separator,number,word                         4
]word,number,word,number,word,number,word,number        4
]word[,lacuna,lacuna                                    4
word,word separator,number                              4
word,word,logogram                                      4
word,number,word,word separator                         4
word,word,word separator                                4
]number,logogram,number,number                          4
lacuna,]logogram,number[,]logogram,number               4
word,number[,lacuna                                     4
logogram,number,logogram[,]logogram,number              4
word,word separator,logogram,number[                    4
logogram,logogram,number                                4
word,number,word,number,number                          4
logogram,number,logogram[,]logogram                     4
lacuna,logogram,number[                                 4
word,word separator,word,word separator,word,wo...      4
logogram,word,number,word                               4
word,logogram,number,logogram,number,logogram,n...      4
lacuna,]number,logogram[                                4
logogram,number,logogram,number,word,number,word        4
]word,number[,]word,number                              4
logogram,number,logogram,number,logogram,number...      4
word,number,lacuna                                      4
]logogram,number[,]logogram,number[                     4
logogram,number,word,number,logogram,number             4
word,logogram,word                                      4
word,logogram,number,logogram,number,logogram,n...      4
lacuna,]logogram,number[,lacuna                         4
logogram,number,logogram,number,logogram,number...      4
word,word separator,word,word separator,logogra...      4
word,number[,]word,number                               4
]logogram,number[,lacuna,lacuna                         4
]logogram,word separator,word[                          4
word,word,word                                          4
]logogram,number[,]number                               4
logogram,number,]logogram,number                        4
logogram,number,logogram[,number                        4
lacuna,word,number                                      4
lacuna,lacuna,]word[                                    4
lacuna,]logogram[,]logogram                             4
logogram,number,word,number[                            3
]number,word[,lacuna                                    3
lacuna,]word[,]word[                                    3
word,number,word,number,word,number,word,number...      3
]word,word separator,word,word separator,word           3
lacuna,]number,logogram[,lacuna                         3
logogram,number,number,logogram,number,logogram...      3
word,number,word,word                                   3
]word,number,word,number[                               3
word,number,word,number,word,number,word,number...      3
lacuna,lacuna,]number[,lacuna                           3
lacuna,]number,word                                     3
logogram,number,logogram,number,number,logogram...      3
lacuna,]logogram,number,word                            3
]word,number,word,number,word,number,word,numbe...      3
logogram,number,number,logogram,number[                 3
lacuna,word separator,]word[                            3
word,logogram,number,logogram,number[                   3
logogram,word separator,word,word separator,log...      3
word[,logogram,number                                   3
word,logogram,number[,logogram,number                   3
]logogram,number,word,number,word,number                3
]number,word[,]number                                   3
]logogram,number,]number                                3
logogram,number[,]number,logogram,number                3
]logogram,word separator,logogram,number[               3
]number,word[,]logogram                                 3
lacuna,]word,number,word[                               3
logogram,number,logogram,number[,lacuna                 3
lacuna,]word,number[,]word                              3
word,number,]logogram,number                            3
word[,word separator,number                             3
lacuna,lacuna,]word,number[                             3
lacuna,]word,number[,]logogram                          3
lacuna,logogram,number                                  3
lacuna,word separator,lacuna                            3
]word,number,logogram                                   3
lacuna,lacuna,]word,number                              3
word[,]logogram[,lacuna                                 3
logogram,word,logogram,number                           3
logogram[,]logogram,number[                             3
]word,number,number                                     3
logogram,number,logogram,number,]number                 3
logogram,]number,logogram,number                        3
word,word separator,word,word separator,word,lo...      3
logogram[,logogram,number,logogram                      3
]word,word separator,logogram[                          3
logogram,number,logogram,number,word,number,log...      3
]logogram,number,dividing line                          3
lacuna,lacuna,word                                      3
word,logogram,number,logogram,number,number             3
]number,logogram[,]number                               3
word,word separator,word also in linear b               3
word,number,word separator                              3
word,number,number,word                                 3
word[,]word,lacuna                                      3
logogram,word separator,word,word separator,word        3
word,logogram,word separator,word                       3
logogram,number,word,logogram,number,logogram,n...      3
word,word separator,word,word separator,logogra...      3
word,word separator,logogram,number,logogram,nu...      3
logogram,number,logogram,number,logogram,number...      3
lacuna,]number,word[                                    3
]logogram,number[,]logogram,number[,lacuna              3
logogram,number[,word[                                  3
word,word separator,word,word separator,logogra...      3
word,logogram,number,logogram,number,logogram,n...      3
logogram,number,number,logogram,number,number           3
dividing line,logogram,number                           3
logogram,number,logogram,number,logogram,number...      3
logogram,number,logogram,number,logogram,number...      3
logogram,number,word,number,word,number,logogra...      3
word also in linear b,number,word,number,word,n...      3
word also in linear b,number,word,number                3
word,number,word,number,word,number,word,number...      3
word,word separator,word,number,word,number,wor...      3
word,word separator,word,number,word,number,wor...      3
logogram,number[,]word,logogram,number[                 3
]logogram,number,logogram,number[                       3
logogram,number[,]word,logogram                         3
]word,number[,]word,number[                             3
word,number[,]number,word                               3
logogram[,]word,number,word[                            3
word[,]word,number[                                     3
]word,number,word[,]word,number                         3
]word,number[,lacuna                                    3
logogram,number,word,number,logogram,number,wor...      3
word,number,number,word,number,word,number,word...      3
word,number,word,number,word,number,number,word...      3
word,word separator,logogram,word,number,word,n...      3
logogram,word,number,word,number,word,number            3
word,number,word,number,word,number,word,number...      3
word,word separator,logogram,word separator,word        3
word,word separator,word,word separator,logogra...      3
word,number,number,word,number,number,word,number       3
logogram,number,logogram,number,word,number,wor...      3
word,word,logogram,number                               3
word,word separator,logogram,word separator,log...      3
lacuna,]word[,]number                                   3
word,word separator,word,word separator,word,wo...      3
]number,logogram,number,logogram                        3
]word,number,logogram,number                            3
logogram,word separator,logogram,number                 3
word,logogram,number,number,logogram,number             3
word,number,word,number,word,number[                    3
word,word separator,word,logogram,number,logogr...      3
word,logogram,number,logogram,number,word               3
word,number,word,word separator,word                    3
word,word separator,logogram,word separator,log...      3
lacuna,lacuna,]word[,lacuna                             3
logogram,number,logogram,number,logogram,number...      3
word[,]word,word separator                              3
logogram,word,logogram,number,logogram,number,l...      2
word[,]word[,lacuna                                     2
logogram,number,logogram,number,lacuna                  2
lacuna,]logogram,number[,]logogram,number,logog...      2

In [81]:
import re

# Drop sequences that start with a number or a word separator
matched_sequences = {k:v for k,v in matched_sequences.items()
                     if not k.startswith("number") and not k.startswith("word sep")}

# Replace sequences of 'word/logogram,number' with 'word/logogram number sequence'.
regex_matched_sequences = defaultdict(list)
for k,v in matched_sequences.items():
    nk = re.sub('((logogram|word),number(,)?)+', 'word/logogram number sequence,', k)
    regex_matched_sequences[nk[:-1] if nk.endswith(',') else nk] += [k]

# Get and print a count of these.
mat_seq_cnt = {k: sum([len(matched_sequences[seq]) for seq in seqs])
               for k,seqs in regex_matched_sequences.items()}

df = pd.DataFrame(mat_seq_cnt.values(), columns = ["Count"])
df.set_axis(mat_seq_cnt.keys(), axis='index', inplace=True)
display(df.sort_values(by=['Count'], ascending=False))

                                                    Count
word/logogram number sequence                         562
word/logogram number sequence,word                    322
word/logogram number sequence,logogram                164
word,word separator,word/logogram number sequence     108
word,word/logogram number sequence                    101
word/logogram number sequence,number                   95
word,word separator,word                               78
word/logogram number sequence,number,word/logog...     72
word/logogram number sequence,word,word/logogra...     57
word,word separator,logogram                           52
]word/logogram number sequence                         49
word,word separator,word,word separator                43
]number,word/logogram number sequence                  34
word/logogram number sequence,word[                    28
word,word separator,word,word separator,word/lo...     27
]word/logogram number sequence,word                    26
lacuna,]word/logogram number sequence,[                26
word/logogram number sequence,[                        25
word,word separator,word,word separator,word           25
word/logogram number sequence,logogram[                23
word/logogram number sequence,word,word separator      22
word,word/logogram number sequence,logogram            21
]word/logogram number sequence,logogram[               20
word,word separator,word/logogram number sequen...     20
word,word/logogram number sequence,word                20
word,word separator,word/logogram number sequen...     19
word/logogram number sequence,number,logogram          19
word/logogram number sequence,[,]logogram              19
]word/logogram number sequence,logogram                19
]word/logogram number sequence,[,lacuna                18
logogram,word separator,word                           18
word/logogram number sequence,[,lacuna                 18
word/logogram number sequence,lacuna                   18
word/logogram number sequence,number,word/logog...     17
word,word separator,word,word separator,logogram       15
word/logogram number sequence,[,]word/logogram ...     15
logogram,word/logogram number sequence                 15
word,word separator,logogram[                          15
lacuna,]word/logogram number sequence                  15
]word,word separator,word                              15
word,word separator,logogram,word separator            14
]number,word/logogram number sequence,[                14
logogram,word separator,logogram                       14
word,word/logogram number sequence,[                   13
word/logogram number sequence,[,]number                13
word,word separator,word,word separator,word,wo...     13
]word/logogram number sequence,number                  13
word[,]word/logogram number sequence                   12
word/logogram number sequence,number,word              12
word/logogram number sequence,word also in line...     12
word/logogram number sequence,[,]word                  12
logogram,word separator,word/logogram number se...     11
lacuna,lacuna,lacuna                                   11
word,word separator,word,word separator,word/lo...     11
word,word/logogram number sequence,number              11
logogram[,]word/logogram number sequence               11
word,word separator,word[                              11
]word/logogram number sequence,word[                   11
]word/logogram number sequence,logogram[,lacuna        11
lacuna,]word[,lacuna                                   10
word,word separator,word,word/logogram number s...      9
word/logogram number sequence,[,word/logogram n...      9
word/logogram number sequence,]word/logogram nu...      9
word/logogram number sequence,]number                   9
]word,word separator,word[                              9
word/logogram number sequence,word also in line...      9
]word,word separator,word,word separator                9
]word/logogram number sequence,lacuna                   9
lacuna,]word/logogram number sequence,[,]logogram       8
word/logogram number sequence,word,word separat...      8
]logogram,word separator,word                           8
word,word separator,word,word separator,word,wo...      8
logogram[,lacuna,lacuna                                 8
]word/logogram number sequence,[,]word                  8
word,word separator,word,logogram                       8
word,word separator,logogram,word separator,log...      8
logogram,word separator,word,word separator             8
]number,logogram[,lacuna                                8
]logogram,word separator,logogram                       8
word/logogram number sequence,word,logogram             8
logogram[,word/logogram number sequence                 8
lacuna,word/logogram number sequence                    7
word/logogram number sequence,word,word separat...      7
lacuna,lacuna,]word                                     7
word/logogram number sequence,number[                   7
lacuna,]number[,lacuna                                  7
word/logogram number sequence,]logogram                 7
]logogram,word separator,word/logogram number s...      7
word,word/logogram number sequence,word,word/lo...      7
word/logogram number sequence,[,logogram                7
]word/logogram number sequence,[,]word/logogram...      7
word,word separator,logogram,word/logogram numb...      7
word,word separator,word,word separator,word,wo...      7
]word/logogram number sequence,[,]logogram              7
lacuna,]word/logogram number sequence,[,]word/l...      6
word,word separator,word/logogram number sequen...      6
]word[,]word/logogram number sequence                   6
word also in linear b,number,word/logogram numb...      6
word/logogram number sequence,word,word separat...      6
lacuna,]logogram[,lacuna                                6
]word,word/logogram number sequence                     6
word[,lacuna,lacuna                                     6
]word/logogram number sequence,[,]number                6
word,word separator,logogram,word separator,wor...      6
]logogram[,number,word/logogram number sequence         6
]word/logogram number sequence,[                        6
word/logogram number sequence,logogram[,]word/l...      6
word/logogram number sequence,dividing line             6
]word/logogram number sequence,]word/logogram n...      6
word/logogram number sequence,[,]number,word/lo...      5
word/logogram number sequence,[,lacuna,lacuna           5
word/logogram number sequence,number,word/logog...      5
word/logogram number sequence,number,word/logog...      5
word/logogram number sequence,number,word/logog...      5
]word/logogram number sequence,[,]word/logogram...      5
logogram,word separator,logogram,word separator         5
]word/logogram number sequence,word[,]word              5
]word,word separator,logogram                           5
logogram[,word separator,]word                          5
]logogram,word separator,word/logogram number s...      5
lacuna,lacuna,]word/logogram number sequence,[          5
logogram[,]number,logogram                              5
]word,word/logogram number sequence,[                   5
logogram,word,word/logogram number sequence             5
word,word separator,word,word separator,word,wo...      5
]word/logogram number sequence,dividing line            5
word[,word separator,]word                              5
]logogram,word separator,word[                          4
lacuna,]number,logogram[                                4
lacuna,lacuna,]word[                                    4
word,word,word                                          4
word,word,word separator                                4
word,word separator,word,word separator,word,wo...      4
]word/logogram number sequence,[,]word/logogram...      4
lacuna,lacuna,logogram                                  4
lacuna,lacuna,]number                                   4
]logogram,word separator,word,word separator            4
word,word separator,word/logogram number sequen...      4
word,word separator,number,word                         4
word/logogram number sequence,number,word/logog...      4
logogram,word separator,word/logogram number se...      4
logogram,word separator,logogram[                       4
word/logogram number sequence,logogram[,]logogram       4
logogram[,]number,word/logogram number sequence         4
]logogram,word separator,logogram[                      4
]word/logogram number sequence,[,]logogram[             4
lacuna,]word/logogram number sequence,[,lacuna          4
]word[,lacuna,lacuna                                    4
lacuna,word/logogram number sequence,[                  4
lacuna,]logogram[,]logogram                             4
]number,word/logogram number sequence,number            4
word/logogram number sequence,[,word/logogram n...      4
word/logogram number sequence,logogram[,number          4
word,word separator,number                              4
word,logogram,word                                      4
]word,word separator,word/logogram number seque...      4
logogram,word/logogram number sequence,word             4
]word/logogram number sequence,[,lacuna,lacuna          4
word,word separator,logogram,word                       4
word,word,logogram                                      4
lacuna,word separator,lacuna                            3
]word/logogram number sequence,]number                  3
]word,word separator,logogram[                          3
word[,]word,lacuna                                      3
lacuna,]word/logogram number sequence,[,]word           3
lacuna,]word/logogram number sequence,word[             3
lacuna,word separator,]word[                            3
lacuna,]word[,]number                                   3
word,word/logogram number sequence,[,word/logog...      3
word/logogram number sequence,word,word                 3
word/logogram number sequence,[,word[                   3
lacuna,]word[,]word[                                    3
lacuna,lacuna,]number[,lacuna                           3
lacuna,lacuna,]word[,lacuna                             3
word,word separator,word,word separator,word,wo...      3
logogram,]number,word/logogram number sequence          3
word[,word/logogram number sequence                     3
]number,logogram[,]number                               3
word[,]logogram[,lacuna                                 3
logogram[,]word/logogram number sequence,[              3
word[,word separator,number                             3
]number,word[,lacuna                                    3
]number,word[,]number                                   3
lacuna,]number,logogram[,lacuna                         3
lacuna,]word/logogram number sequence,word              3
word,word,word/logogram number sequence                 3
]number,word[,]logogram                                 3
word,word separator,word also in linear b               3
word,word/logogram number sequence,number,word/...      3
word,logogram,word separator,word                       3
word/logogram number sequence,[,]word,logogram          3
word,word separator,word,word separator,logogra...      3
lacuna,]number,word                                     3
word,word separator,logogram,word separator,word        3
dividing line,word/logogram number sequence             3
word/logogram number sequence,[,]number,word            3
]word/logogram number sequence,word[,]word/logo...      3
logogram,word separator,word,word separator,word        3
]number,word/logogram number sequence,logogram          3
word[,]word,word separator                              3
word,word separator,word,word/logogram number s...      3
lacuna,lacuna,word                                      3
logogram[,]word/logogram number sequence,word[          3
word[,]word/logogram number sequence,[                  3
lacuna,]number,word[                                    3
logogram[,word/logogram number sequence,logogram        3
]word,word separator,word,word separator,word           3
word/logogram number sequence,word separator            3
word/logogram number sequence,[,]word,word/logo...      3
logogram,word separator,word,word separator,log...      3
lacuna,lacuna,]word/logogram number sequence            3
word,word/logogram number sequence,[,]word,logo...      2
word,word separator,word[,word separator,]word,...      2
dividing line,word,word separator                       2
lacuna,]number,lacuna                                   2
lacuna,]word[,]word                                     2
word,word separator,logogram[,word separator            2
lacuna,lacuna,]word/logogram number sequence,word[      2
]word/logogram number sequence,[,lacuna,]word/l...      2
word/logogram number sequence,[,word separator,...      2
word,word separator,word also in linear b,numbe...      2
word,word separator,word,word separator,word,wo...      2
]word,word separator,word,word separator,word,w...      2
]number,word/logogram number sequence,[,]number         2
]word[,word separator,]word[                            2
dividing line,word[,word separator                      2
word[,]word/logogram number sequence,logogram           2
lacuna,]number,number[                                  2
word also in linear b,word separator,word               2
lacuna,]word[,]word/logogram number sequence,nu...      2
]logogram[,]logogram[,lacuna                            2
logogram[,number,word                                   2
]word/logogram number sequence,number[                  2
]word also in linear b,word/logogram number seq...      2
]word/logogram number sequence,number,logogram[         2
word,word/logogram number sequence,number,word/...      2
word,logogram[,lacuna                                   2
lacuna,]word/logogram number sequence,[,]word/l...      2
word[,]number,word[,]word/logogram number sequence      2
word/logogram number sequence,word[,]number             2
word,word separator,logogram,word separator,log...      2
word/logogram number sequence,dividing line,word        2
word[,]word[,lacuna                                     2
lacuna,lacuna,lacuna,lacuna                             2
word/logogram number sequence,word,word/logogra...      2
lacuna,]logogram[,]number                               2
lacuna,]word/logogram number sequence,]number           2
logogram,word separator,word[                           2
word,word separator,word,word separator,word,wo...      2
word,word separator,word,word separator,logogra...      2
dividing line,word,logogram                             2
word,word separator,logogram[,]number                   2
word,word separator,word[,word separator                2
]logogram,word separator,word,word separator,lo...      2
word,word separator,word,word separator,word,wo...      2
]word,word separator,word,word separator,word,w...      2
word/logogram number sequence,[,]word/logogram ...      2
word,word separator,word,word separator,word,wo...      2
word,word,word separator,word,word separator,word       2
lacuna,number,number                                    2
dividing line,word,dividing line                        2
]word,logogram,word separator                           2
word,word,word,word                                     2
word/logogram number sequence,[,number                  2
lacuna,]word[,word separator                            2
word/logogram number sequence,]number,word              2
lacuna,]word/logogram number sequence,[,]word[          2
]word,word separator,word,word separator,word[          2
]word,word,word separator                               2
word/logogram number sequence,word[,number,word         2
word/logogram number sequence,word[,lacuna              2
word/logogram number sequence,word[,lacuna,lacuna       2
]word,word/logogram number sequence,[,]word             2
lacuna,word separator,]logogram[                        2
lacuna,word separator,word[                             2
]word[,]word,word separator,word[                       2
]word/logogram number sequence,[,]number,word/l...      2
logogram[,]number,word/logogram number sequence...      2
word,word separator,word,word                           2
word[,word separator,]logogram                          2
]number,word[,]number,logogram                          2
word/logogram number sequence,[,]word/logogram ...      2
word,word/logogram number sequence,[,word/logog...      2
word/logogram number sequence,[,logogram[,lacuna        2
word/logogram number sequence,[,]word,logogram[         2
logogram[,]number,logogram[                             2
]word,word separator,word/logogram number sequence      2
]logogram[,number,lacuna                                2
lacuna,]logogram[,]word[                                2
word/logogram number sequence,logogram[,]word/l...      2
lacuna,]logogram[,]word/logogram number sequence,[      2
]number,word/logogram number sequence,[,lacuna          2
lacuna,lacuna,]number,logogram[,lacuna                  2
lacuna,lacuna,word/logogram number sequence,[           2
lacuna,]logogram[,]logogram[                            2
]logogram[,number[,lacuna                               2
word,word separator,word/logogram number sequen...      2
]word[,]number,lacuna                                   2
word/logogram number sequence,[,word/logogram n...      2
]word/logogram number sequence,word,word separa...      2
word/logogram number sequence,logogram[,word se...      2
]number,word[,lacuna,lacuna                             2
]number,word,word                                       2
]logogram[,]number,logogram[,lacuna                     2
word/logogram number sequence,[,word separator          2
word,word/logogram number sequence,word,logogram        2
word/logogram number sequence,word,word/logogra...      2
]logogram,word separator,word/logogram number s...      2
]word[,]word[,lacuna                                    2
]number,logogram[,lacuna,lacuna                         2
]logogram,word separator,logogram,word separator        2
logogram,word/logogram number sequence,number           2
word/logogram number sequence,]number,word/logo...      2
logogram[,]word/logogram number sequence,[,lacuna       2
word/logogram number sequence,[,dividing line           2
]word/logogram number sequence,lacuna,lacuna            2
]word,word separator,word[,]word                        2
word/logogram number sequence,[,word                    2
lacuna,word/logogram number sequence,word               2
word[,]number,number                                    2
word[,]number,word[                                     2
logogram,word,word separator                            2
]word/logogram number sequence,logogram[,lacuna...      2
word/logogram number sequence,word,word/logogra...      2
word,word separator,word,word separator,word/lo...      2
logogram[,]logogram[,lacuna                             2
word/logogram number sequence,[,word/logogram n...      2
word[,]word,logogram                                    2
logogram,word separator,word,word separator,wor...      2
]number,logogram[,]logogram                             2
]number,word,logogram                                   2
word/logogram number sequence,word[,]word               2
word/logogram number sequence,word,word separat...      2
logogram[,number,word[                                  2
word[,]word,word/logogram number sequence               2
logogram,word separator,word/logogram number se...      2
]word/logogram number sequence,[,logogram[              2
]word/logogram number sequence,logogram[,]word/...      2
lacuna,number,word/logogram number sequence             2
]word[,]word,word separator                             2
]word/logogram number sequence,word[,lacuna             2
word/logogram number sequence,logogram[,logogram        2
]logogram[,]number,word/logogram number sequence        2

In [79]:
string = "jklfds,"
string[:-1]

'jklfds'

In [73]:
import re
l = "term,logogram,number,word,number,word,number,logogram,number,word,number"
re.sub('((logogram|word),number(,)?)+', r'sequence\3',l)

'term,sequence,'

In [229]:
word_structures["HT24a"]

[['word'],
 ['logogram['],
 [']number'],
 ['logogram'],
 ['number'],
 [']number'],
 ['fraction', 'number'],
 ['logogram'],
 ['number'],
 ['adjective for placename', 'word'],
 ['logogram['],
 ['word'],
 ['logogram[']]

In [248]:
{20} & {20, 10}

{20}

In [18]:
# Write out a template file for the selected inscription
name = "HT86a"
output_file = open(name + ".js", "w")
output_file.write(json.dumps([x for x in inscriptions if x["name"] == name], sort_keys=True, indent=4, ensure_ascii=False))
output_file.close()