# Find common syntax/word structures
We're going to look for common syntax structures among Linear A tablets. We classify each word/logogram
(including word separators) and come up with a list of tablets with common patterns.

First we load a lookup table of word types for classifying each word. We also have some helper functions

In [11]:
import csv                                                                                      
import json
import os
import re
from collections import Counter

def isNumber(word):
    if word >= u'\U00010100' and word <= u'\U0001013f':
        return True
    return False

place_names = {}
transaction_words = {}
transaction_signs = {}
numbers = {}
commodities = {}
from_suffix = {}
adjectives = {}
to_prefix = {}
fractions = {}
weights = {}
logograms = {}
words_in_linearb = {}
word_types = [(place_names, "060-place-names.txt", "place name", 0, 1),
        (transaction_words, "060-transaction-words.txt", "transaction term", 0, 1),
        (numbers, "050-numbers.csv", "number", 0, 1),
        (fractions, "065-fractions.txt", "fraction", 0, 0),
        (numbers, "065-fractions.txt", "number", 0, 0),
        (weights, "065-weights.txt", "weight", 0, 0),
        (logograms, "065-logograms.txt", "logogram", 0, 0),
        (commodities, "060-commodities.txt", "commodity", 0, 1),
        (from_suffix, "060-from-suffix.txt", "uses from suffix (-TE/-TI)", 0, 1),
        (adjectives, "060-adjectives.txt", "adjective for placename", 0, 1),
        (to_prefix, "060-to-prefix.txt", "uses to prefix (I-/J-)", 0, 1),
        (words_in_linearb, "135-identical-words-in-linearb.txt", "word also in linear b", 0, 1),
        (transaction_signs, "160-transaction-signs.txt", "transaction sign", 0, 1),
        ]
for word_type in word_types:
    dictionary = word_type[0]
    input_file = open("AnalyseWordPatternsData/" + word_type[1], 'r')
    while True:
        line = input_file.readline()
        if not line:
            break
        line_array = line.strip().split('\t')
        dictionary[line_array[word_type[3]]] = line_array[word_type[4]]

json_file = open('AnalyseWordPatternsData/150-metadata-template.js')
data = json.load(json_file)
inscriptions = data["metadata"]

def isHeadWord(word, original_word, no_of_words):
    if no_of_words == 1:
        return False
    if index:
        return False
    if original_word.startswith(u'\U0001076b'):
        return False
    if original_word == u'\U00010101':
        return False
    if word == "‚Äî":
        return False
    if word.isnumeric():
        return False
    return True;

def assignNumberToPreviousWord(word, word_tags, index, prev_word_tag, prev_original_word):
    if word not in numbers:
        return False
    if not index:
        return False
    if word == u'\U00010101':
        return False
    if word.startswith(u'\U0001076b'):
        return False
    cleaned_prev_original_word = prev_original_word.replace(u'\U0001076b', "")
    if cleaned_prev_original_word in numbers:
        return False
    if prev_original_word.endswith(u'\U0001076b'):
        return False
    if prev_original_word == "\n":
        return False
    return True

def shouldIncludeWord(word):
    if word in numbers:
        return False
    if u'\U00010101' in word:
        return False
    if word == "‚Äî":
        return False
    if word == "":
        return False
    return True

def wordRepeatedInInscription(word_tags, word):
    if not shouldIncludeWord(word):
        return False

    words = list(map(lambda x: x["word"].replace(u'\U0001076b', ""), word_tags))
    if words.count(word) > 1:
        return True
    return False

word_find_spots = {}
def addFindSpot(name, word):
    if not shouldIncludeWord(word):
        return
    find_spot = name[:2]
    if word not in word_find_spots:
        word_find_spots[word] = [find_spot]
        return
    word_find_spots[word].append(find_spot)

for inscription in inscriptions:
    for tags in inscription["tagsForWords"]:
        word = tags["word"]
        word = word.replace(u'\U0001076b', "")
        addFindSpot(inscription["name"], word)

locations = {}
locations["ZA"] ="Zakros"          
locations["PK"] ="Palaikastro"  
locations["PE"] ="Petras"  
locations["SY"] ="Syme" 
locations["PS"] ="Pseira" 
locations["MA" ] ="Malia" 
locations["AR"] ="Arkhalkhori" 
locations["IO"] ="Iouktas" 
locations["KN"] ="Knossos" 
locations["TY"] ="Tylissos"  
locations["PH"] ="Phaistos"  
locations["HT"] ="Haghia Triada"  
locations["AP"] ="Apodoulou"  
locations["KH"] ="Kharnia"

## Create a list of all word structures

First create a list of word structures keyed by tablet name. Each word has a number of possible classifications so the word structure is a list of lists, for example the word structure for HT1 might look like:
```
'HT1': [['word'],
  ['word separator'],
  ['transaction term', 'transaction sign', 'word'],
  ['number'],
  ['word'],
  ['number'],
  ['word'],
  ['number'],
  ['word'],
  ['number'],
  ['word'],
  ['number']]
```

In [12]:
# Create a dictionary data structure containing word structure lists for all tablets.

word_structures = {}
new_inscriptions = []
for old_inscription in inscriptions:
    inscription = old_inscription.copy()
    word_tags = inscription["tagsForWords"]
    
    inscription["transactions"] = {}
    current_pattern = []
    
    for index, word_tag in enumerate(word_tags):
        word = word_tag["transliteratedWord"]
        original_word = word_tag["word"]
        if "tags" in word_tag:
            del word_tag["tags"]

        tags = []
        if word == "\n":
            continue

        if u'\U00010101' in original_word:
            tags.append("word separator")
        if original_word == "‚Äî":
            tags.append("dividing line")

        cleaned_word = word.replace(u'\U0001076b', "")
        cleaned_original_word = original_word.replace(u'\U0001076b', "")
        for word_type in word_types:
            dictionary = word_type[0]
            annotation = word_type[2]
            if cleaned_word in dictionary or cleaned_original_word in dictionary:
                if not annotation in tags:
                    tags.append(annotation)

        if (len(cleaned_word) > 1 and not "word separator" in tags
            and word != '‚Äî' and word !=  u'\U0001076b'
            and not 'logogram' in tags
            and not 'commodity' in tags
            and not "number" in tags and not "fraction" in tags):
            tags.append("word")

        if original_word == u'\U0001076b':
            tags.append("lacuna")
        else:
            for i, tag in enumerate(tags):
                if original_word.startswith(u'\U0001076b'):
                    tags[i] = "]" + tags[i]
                if original_word.endswith(u'\U0001076b'):
                    tags[i] = tags[i] + "["

        current_pattern += [sorted(tags)]
  
    inscription["words"] = inscription.pop("tagsForWords")
    word_structures[inscription["name"]] = current_pattern

Now that we have an exhaustive list of word structures, we strip out some of the word-tags so that we don't have too many permutations. We create `stripped_word_structures` for this.

In [13]:
import itertools

# To reduce the number of permutations we strip out word descriptions that are too specific.
def containsRedundantWord(l,
    words_to_drop = ["lacuna at", "transaction", "fraction", "weight", "commodity"]
    ):
    for w in words_to_drop:
        if w in l:
            return True
    return False

stripped_word_structures = {k: [[w for w in wl if not containsRedundantWord(w)]
                                for wl in v] 
                            for k,v in word_structures.items()}

def hasLacuna(l):
    return containsRedundantWord(l, ["lacuna"])

Create a list of word-tag permutations for each tablet. This will give us a list of different word-sequences for the tablet. We will use this to look for common sequences among all the tablets.

In [8]:
#small_sws = dict(list(stripped_word_structures.items())[0: 840])
#[list(x) for x in itertools.product(*stripped_word_structures['HT2'])]

# Create permutations for each tablet. It's a list of lists for each tablet.
ws_perms = {k: [list(x) for x in itertools.product(*v)]
             for k,v in stripped_word_structures.items()}
#dict(list(ws_perms.items())[0:2])

# Check for entries with too many permutations.
for k,v in ws_perms.items():
    if len(v) < 10:
        continue
    print(k, len(v))

Get all common sequences among the tablets and store it in `matched_sequences`.

In [9]:
%%time
from difflib import SequenceMatcher
from collections import defaultdict
from IPython.display import display, clear_output

"""To compare each tablet with every other tablet we take a copy of ws_perms and
use that as the one to check each tablet against. We delete each tablet from
the copy as we use it so that we're not comparing tablets more than once."""
ws_perms_copy = ws_perms.copy()
matched_sequences = defaultdict(list)
for k,v in ws_perms.items():
    # Delete from the copy so we don't perform unnecessary comparisons.
    del ws_perms_copy[k]
    # Check each permutation..
    for l in v:
        clear_output(wait=True)
        display(str(len(ws_perms) - len(ws_perms_copy)) + ' done.')
        s = SequenceMatcher(None)
        s.set_seq1(l)
        # .. against each permutation in the rest of the list.
        for k1,v1 in ws_perms_copy.items():
            for l1 in v1:
                s.set_seq2(l1)
                r = s.get_matching_blocks()
                for m in r:
                    # Ignore any sequences shorter than 3.
                    if m.size < 3:
                        continue
                    structure = ','.join(l[m.a:m.a+m.size])
                    matched_sequences[structure] += [(k,m.a,m.size), (k1,m.b,m.size)]
                    matched_sequences[structure] = list(set(matched_sequences[structure]))

'1712 done.'

CPU times: user 33 s, sys: 1.51 s, total: 34.5 s
Wall time: 37.3 s

Now we have enough data to print out matching sequences. We're going to start by looking at sequences at the start of inscriptions.

In [17]:
def getSyntacticalStructures(matched_sequences
                             , from_start_only=False
                             , min_length=2
                             , min_results=2):
    """Get all instances of common syntatical structure, either `from_start_only` or not, with at least"
    `min_results` matches of `min_length`"""
    # Create a list of words in each tablet that we can look up by tablet name.
    la_words = {inscription["name"] : [v["word"] for v in inscription["tagsForWords"]
                                       if v["word"] != '\n'] 
                for inscription in inscriptions}
    en_words = {inscription["name"] : [v["transliteratedWord"] for v in inscription["tagsForWords"]
                                       if v["word"] != '\n'] 
                for inscription in inscriptions}

    structures = {}
    # We're looking for sequences of 3 words or more at the start of the inscription.
    for i in range(50,min_length,-1):
        test_seq = {k:v for k,v in matched_sequences.items() if len(k.split(',')) == i}
        for k,v in test_seq.items():
            en_seqs = {}
            for tablet, start, end in v:
                # We're only looking at structures at the start of the inscription.
                if start and from_start_only:
                    continue
                en_seqs[tablet] = en_words[tablet][start:start+end]

            # Ignore any cases where we don't have `min_results` inscriptions with a matching sequence.
            if len(en_seqs.keys()) < min_results:
                continue

            structures[k] = en_seqs
    return structures

Create tables of all word sequences at the start of inscriptions.

In [18]:
import pandas as pd
styles = [dict(selector="caption", 
    props=[("text-align", "center"),
    ("font-size", "120%"),
    ("color", 'black')])]

syn_seqs = getSyntacticalStructures(matched_sequences, True)
for k, en_seqs in syn_seqs.items():
    df = pd.DataFrame(en_seqs.values(), columns = k.split(','))
    df.set_axis(en_seqs.keys(), axis='index', inplace=True)
    #df.style.set_caption("Davis 2018 Mapping of Linear A and PD Symbols").set_table_styles(styles)
    display(df)

,word,word separator,word,word separator,logogram,number,logogram,number,logogram,number,...,number,logogram,number,word,logogram,number,logogram,number,logogram,number
HT14,PU-VIN,êÑÅ,TE,êÑÅ,GRA,30,OLE+MI,3,OLE+DI,3,...,9,OLIV,13,A-PU‚ÇÇ-NA-DU,GRA,45,OLE+MI,5,OLE+DI,4
HT28a,A-SI-JA-KA,êÑÅ,JA-*21F,êÑÅ,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,...,1,OLE+TU,êùâ,SA-RA‚ÇÇ,OLE+DI,1,NI,2,VIN,3

,word,word separator,logogram,word,number,word,number,word,number,word,number,word,number
HT7a,QE-TI,êÑÅ,VIR+[?],I-RU-JA,3,DU-JA,4,TA-NA-TI,1,DA-RE,1,TE-TU,1
HT95a,DA-DU-MA-TA,êÑÅ,GRA,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10

,word,word separator,word,number,word,number,word,number,word,number,word,number
HT94b,KI-RO,êÑÅ,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1
HT1,QE-RA‚ÇÇ-U,êÑÅ,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA‚ÇÉ-NU,109,A-RA-NA-RE,105

,word,word separator,word,word separator,logogram,number,logogram,number,logogram,number
HT14,PU-VIN,êÑÅ,TE,êÑÅ,GRA,30,OLE+MI,3,OLE+DI,3
HT21,PI-TA-KA-SE,êÑÅ,TE,êÑÅ,GRA,161,OLE+U,11,OLE+E,3
HT28a,A-SI-JA-KA,êÑÅ,JA-*21F,êÑÅ,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ

,word,logogram,number,number,logogram,number,logogram,number,word,logogram
HT129,KI-RE-TA‚ÇÇ,GRA,33,êùÜêùÅ,*304,10,NI,22,TU-*21F-RI-NA,GRA
ZA6b,I-KU-JU-TI-*28B,GRA+PA,50,¬π‚ÅÑ‚ÇÑ,VIN+RA,40,VIN+KA,10,*312-TA‚ÇÇ,GRA+PA

,word,word separator,logogram,word,number,word,number,word,number
HT7a,QE-TI,êÑÅ,VIR+[?],I-RU-JA,3,DU-JA,4,TA-NA-TI,1
HT95a,DA-DU-MA-TA,êÑÅ,GRA,DA-ME,10,MI-NU-TE,10,SA-RU,20

,word,word separator,word,word separator,logogram,number,word,number,word
ZA8,KI-RA,êÑÅ,A-TA-RE,êÑÅ,NI,¬π‚ÅÑ‚ÇÇ,KU-TU-KO-RE,double mina,A-RI-NI-TA
HT17,RA-ÛΩá´-TI,êÑÅ,TE,êÑÅ,VIN,37,SA-RO,10,SI-DA-RE

,word,word separator,word,word separator,word,logogram,number,logogram,number
KH5,A-DA-KI-SI-KA,êÑÅ,A-RA-U-DA,êÑÅ,WI-SA-SA-NE,CYP+E,2,VINb+WI,2
HT28b,A-SI-JA-KA,êÑÅ,U-MI-NA-SI,êÑÅ,SA-RA‚ÇÇ,GRA,20,OLE+DI,5

,word,number,word,number,word,number,word,number
HT99b,SI+SE-NI,6,DA-SI-*118,2,ZU-DU,1,RU-MA-TA,1
HT10b,U-TI,1,DA-RE,2,TA-RI-NA,15,*312-TA,6
PH2,A-SE-TU-*21F,1,RA-O-DI-KI,60,PI-RU-E-JU,60,SE-SA-PA‚ÇÉ,60
ZA14,ME-KI-DI,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8

,word,word separator,word,word separator,logogram,number,word,number
ZA8,KI-RA,êÑÅ,A-TA-RE,êÑÅ,NI,¬π‚ÅÑ‚ÇÇ,KU-TU-KO-RE,double mina
HT17,RA-ÛΩá´-TI,êÑÅ,TE,êÑÅ,VIN,37,SA-RO,10
HT19,RA-*164-TI,êÑÅ,TE,êÑÅ,VIN,30,SA-RO,5
KH88,QA-NU-MA,êÑÅ,*21F-*118,êÑÅ,NI,10,PU-DE,8

,word,word separator,word,word separator,logogram,number,logogram,number
HT21,PI-TA-KA-SE,êÑÅ,TE,êÑÅ,GRA,161,OLE+U,11
HT92,TE,êÑÅ,A-DU,êÑÅ,GRA,680,*304,12
HT14,PU-VIN,êÑÅ,TE,êÑÅ,GRA,30,OLE+MI,3
HT28a,A-SI-JA-KA,êÑÅ,JA-*21F,êÑÅ,GRA+QE,5,OLE+U,2

,word,word separator,logogram,word separator,logogram,number,logogram,number
HT89,A-SA-RA‚ÇÇ,êÑÅ,*307,êÑÅ,*305,23,JU+*317+QE,22
HT91,I-KA,êÑÅ,*326,êÑÅ,GRA,.3,*304,‚âà ¬π‚ÅÑ‚ÇÜ

,word,word separator,word,word separator,logogram,number,word,word separator
HT93a,PA‚ÇÉ-NI-NA,êÑÅ,GRA-PA‚ÇÉ,êÑÅ,RE+SE,12,DI-RI-NA,êÑÅ
HT40,NU-DU-*331,êÑÅ,TE,êÑÅ,GRA,207,KI-DA-TA,êÑÅ

,word,word separator,word,word separator,word,word separator,word,word separator
CR(?)Zf1,A-MA-WA-SI,êÑÅ,KA-NI-JA-MI,êÑÅ,I-JA,êÑÅ,QA-KI-SE-NU-TI,êÑÅ
KNZc7,A-KA-NU-ZA-TI,êÑÅ,DU-RA-RE,êÑÅ,A-ZU-RA,êÑÅ,JA-SA-RA-A-NA-NE,êÑÅ

,word,word separator,word,number,word,number,word
HT1,QE-RA‚ÇÇ-U,êÑÅ,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE
HT94b,KI-RO,êÑÅ,TU-MA,1,PA-TA-NE,1,DE-DI
HT85b,KI-KI-RA-JA,êÑÅ,KI-RE-TA‚ÇÇ,1,QE-KA,1,PA

,word,word separator,word,word separator,logogram,number,word
HT17,RA-ÛΩá´-TI,êÑÅ,TE,êÑÅ,VIN,37,SA-RO
ZA8,KI-RA,êÑÅ,A-TA-RE,êÑÅ,NI,¬π‚ÅÑ‚ÇÇ,KU-TU-KO-RE
HT93a,PA‚ÇÉ-NI-NA,êÑÅ,GRA-PA‚ÇÉ,êÑÅ,RE+SE,12,DI-RI-NA
HT40,NU-DU-*331,êÑÅ,TE,êÑÅ,GRA,207,KI-DA-TA
HT19,RA-*164-TI,êÑÅ,TE,êÑÅ,VIN,30,SA-RO
KH88,QA-NU-MA,êÑÅ,*21F-*118,êÑÅ,NI,10,PU-DE

,word,word separator,logogram,word,number,word,number
HT7a,QE-TI,êÑÅ,VIR+[?],I-RU-JA,3,DU-JA,4
HT95a,DA-DU-MA-TA,êÑÅ,GRA,DA-ME,10,MI-NU-TE,10
ZA5a,*21F-*118,êÑÅ,VIN-SU,KI-NI-MA,7,O-TA-NI-ZA-SE,6

            word logogram        word number        word number logogram
ZA15a  *47-KU-NA   SA-VIN  QE-SI-ZU-E     57  I-TI-NI-SA     10   ME-VIN
HT15    U-*34-SI      GRA   DU-AROM-A    684   GRA+L4+L4    570     *188

,word,word separator,word,word separator,word,logogram,number
HT28b,A-SI-JA-KA,êÑÅ,U-MI-NA-SI,êÑÅ,SA-RA‚ÇÇ,GRA,20
KH5,A-DA-KI-SI-KA,êÑÅ,A-RA-U-DA,êÑÅ,WI-SA-SA-NE,CYP+E,2
HT116a,U-TA-RO,êÑÅ,TE,êÑÅ,KU-PA-JA,GRA,16

,word,word separator,word,word separator,logogram,word separator,logogram
HT43,MA-SI-DU,êÑÅ,PA-*342-I,êÑÅ,I,êÑÅ,GRA+PA
HT96b,A-PA-RA-NE,êÑÅ,QA-*118-RA-RE,êÑÅ,*516,êÑÅ,GRA

,word,word separator,word,word separator,word,word separator,word
KNZc7,A-KA-NU-ZA-TI,êÑÅ,DU-RA-RE,êÑÅ,A-ZU-RA,êÑÅ,JA-SA-RA-A-NA-NE
HT96a,I-TI-TI-KU-NI,êÑÅ,A-PA-RA-NE,êÑÅ,A-AROM-TE,êÑÅ,SI-MI-TA
HT117a,MA-KA-RI-TE,êÑÅ,KI-RO,êÑÅ,U-MI-NA-SI,êÑÅ,U-SU
CR(?)Zf1,A-MA-WA-SI,êÑÅ,KA-NI-JA-MI,êÑÅ,I-JA,êÑÅ,QA-KI-SE-NU-TI

,word,word separator,word,word separator,word,word separator,word[
TLZa1,A-TA-I-*301-WA-JA,êÑÅ,O-SU-QA-RE,êÑÅ,JA-SA-SA-RA-ME,êÑÅ,U-NA-KA-NA
IOZa2,A-TA-I-*301-WA-JA,êÑÅ,JA-DI-KI-TU,êÑÅ,JA-SA-SA-RA-ME,êÑÅ,U-NA-KA-NA-SI

,]word,word separator,word,word separator,word,word separator,word
PKZa8,NU,êÑÅ,PA‚ÇÉ-E,êÑÅ,JA-DI-KI-TE-TE-*307-PU‚ÇÇ-RE,êÑÅ,TU-ME-I
KNZf31,SI-SI-ZA-NE-*310,êÑÅ,DA-DU-MI-NE,êÑÅ,QA-MI-*47-NA-RA,êÑÅ,A-WA-PI

               word number        word number           word number
PH2    A-SE-TU-*21F      1  RA-O-DI-KI     60     PI-RU-E-JU     60
ZA14       ME-KI-DI      1   *21F-*118      1  PU-NI-KA-*363      3
HT99b      SI+SE-NI      6  DA-SI-*118      2          ZU-DU      1
HT10b          U-TI      1       DA-RE      2       TA-RI-NA     15

               word word separator       word number      word number
HT117b   *21F-TU-NE              êÑÅ   KU-RE-JU      1  DI-KI-SE      1
HT85b   KI-KI-RA-JA              êÑÅ  KI-RE-TA‚ÇÇ      1     QE-KA      1
HT1        QE-RA‚ÇÇ-U              êÑÅ      KI-RO    197     ZU-SU     70
HT94b         KI-RO              êÑÅ      TU-MA      1  PA-TA-NE      1

              word word separator       word word separator logogram number
ZA8          KI-RA              êÑÅ    A-TA-RE              êÑÅ       NI    ¬π‚ÅÑ‚ÇÇ
HT93a    PA‚ÇÉ-NI-NA              êÑÅ    GRA-PA‚ÇÉ              êÑÅ    RE+SE     12
HT40    NU-DU-*331              êÑÅ         TE              êÑÅ      GRA    207
HT17       RA-ÛΩá´-TI              êÑÅ         TE              êÑÅ      VIN     37
HT19    RA-*164-TI              êÑÅ         TE              êÑÅ      VIN     30
KH88      QA-NU-MA              êÑÅ  *21F-*118              êÑÅ       NI     10
HT28a   A-SI-JA-KA              êÑÅ    JA-*21F              êÑÅ   GRA+QE      5
HT92            TE              êÑÅ       A-DU              êÑÅ      GRA    680
HT14        PU-VIN              êÑÅ         TE              êÑÅ      GRA     30
HT21   PI-TA-KA-SE              êÑÅ         TE              êÑÅ      GRA    161

,word,word separator,word,word separator,word,word separator
IOZa6,TA-NA-I-*301-U-TI-NU,êÑÅ,I-NA-TA-I-ZU-DI-SI-KA,êÑÅ,JA-SA-SA-RA-ME,êÑÅ
HT34,DA-JU-TE,êÑÅ,SI-*516,êÑÅ,SA-RA‚ÇÇ,êÑÅ
KNZc7,A-KA-NU-ZA-TI,êÑÅ,DU-RA-RE,êÑÅ,A-ZU-RA,êÑÅ
IOZa2,A-TA-I-*301-WA-JA,êÑÅ,JA-DI-KI-TU,êÑÅ,JA-SA-SA-RA-ME,êÑÅ
HT96a,I-TI-TI-KU-NI,êÑÅ,A-PA-RA-NE,êÑÅ,A-AROM-TE,êÑÅ
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,êÑÅ,NI-JA-NU,êÑÅ,JU-KU-NA-PA-KU-NU-U-I-ZU,êÑÅ
HT6a,KA-PA,êÑÅ,DA-TA-RA,êÑÅ,TE,êÑÅ
CR(?)Zf1,A-MA-WA-SI,êÑÅ,KA-NI-JA-MI,êÑÅ,I-JA,êÑÅ
TLZa1,A-TA-I-*301-WA-JA,êÑÅ,O-SU-QA-RE,êÑÅ,JA-SA-SA-RA-ME,êÑÅ
HT117a,MA-KA-RI-TE,êÑÅ,KI-RO,êÑÅ,U-MI-NA-SI,êÑÅ

,word,word separator,word,word separator,logogram,word separator
HT43,MA-SI-DU,êÑÅ,PA-*342-I,êÑÅ,I,êÑÅ
HT9a,SA-RO,êÑÅ,TE,êÑÅ,VIN,êÑÅ
HT96b,A-PA-RA-NE,êÑÅ,QA-*118-RA-RE,êÑÅ,*516,êÑÅ

                   word word separator logogram number logogram number
HT23a             KA-NA              êÑÅ      CYP    ¬π‚ÅÑ‚ÇÉ     *308  ‚âà ¬π‚ÅÑ‚ÇÜ
HT12        QA-TI-DA-TE              êÑÅ   OLE+DI      5     *304      5
HT123+124a      KI-TA-I              êÑÅ     OLIV     31     *308      8

           word word separator logogram word separator logogram number
HT91       I-KA              êÑÅ     *326              êÑÅ      GRA     .3
HT27a  TI-NI-TA              êÑÅ     *307              êÑÅ  VIR+[?]     90

,word,word separator,logogram,word separator,logogram[,]word
HT122b,JE-DI,êÑÅ,*346,êÑÅ,VIR+[?],*306-KI-TA‚ÇÇ
ZA11a,DI-DI-KO-RA-ME-TA‚ÇÇ,êÑÅ,*516,êÑÅ,GRA+PA,RA-MA-SI

       lacuna ]logogram number[ ]logogram number logogram[
HT131b      êù´        NI      30      OLIV      2    VIN+SA
KH84        êù´       CYP     ¬π‚ÅÑ‚ÇÇ      *301      1      *306

,word,word separator,word,number,word
HT1,QE-RA‚ÇÇ-U,êÑÅ,KI-RO,197,ZU-SU
HT94b,KI-RO,êÑÅ,TU-MA,1,PA-TA-NE
HT85b,KI-KI-RA-JA,êÑÅ,KI-RE-TA‚ÇÇ,1,QE-KA
HT117b,*21F-TU-NE,êÑÅ,KU-RE-JU,1,DI-KI-SE
SYZa2,A-TA-I-*301-WA-JA,êÑÅ,JA-SU-MA-TU-OLIV,1,U-NA-KA-NA-SI-OLE

              word word separator           word word separator logogram
HT14        PU-VIN              êÑÅ             TE              êÑÅ      GRA
HT96b   A-PA-RA-NE              êÑÅ  QA-*118-RA-RE              êÑÅ     *516
HT21   PI-TA-KA-SE              êÑÅ             TE              êÑÅ      GRA
HT28a   A-SI-JA-KA              êÑÅ        JA-*21F              êÑÅ   GRA+QE
HT43      MA-SI-DU              êÑÅ      PA-*342-I              êÑÅ        I
HT92            TE              êÑÅ           A-DU              êÑÅ      GRA
ZA8          KI-RA              êÑÅ        A-TA-RE              êÑÅ       NI
HT93a    PA‚ÇÉ-NI-NA              êÑÅ        GRA-PA‚ÇÉ              êÑÅ    RE+SE
HT40    NU-DU-*331              êÑÅ             TE              êÑÅ      GRA
HT17       RA-ÛΩá´-TI              êÑÅ             TE              êÑÅ      VIN
HT9a         SA-RO              êÑÅ             TE              êÑÅ      VIN
HT19    RA-*164-TI              êÑÅ             TE              êÑÅ      VIN
KH88      QA-NU-MA              êÑÅ      *21F-*118              êÑÅ       NI

               word number        word number        word
HT99b      SI+SE-NI      6  DA-SI-*118      2       ZU-DU
HT10b          U-TI      1       DA-RE      2    TA-RI-NA
PH2    A-SE-TU-*21F      1  RA-O-DI-KI     60  PI-RU-E-JU

,word,word separator,word,word separator,word
TLZa1,A-TA-I-*301-WA-JA,êÑÅ,O-SU-QA-RE,êÑÅ,JA-SA-SA-RA-ME
CR(?)Zf1,A-MA-WA-SI,êÑÅ,KA-NI-JA-MI,êÑÅ,I-JA
IOZa2,A-TA-I-*301-WA-JA,êÑÅ,JA-DI-KI-TU,êÑÅ,JA-SA-SA-RA-ME
HT96a,I-TI-TI-KU-NI,êÑÅ,A-PA-RA-NE,êÑÅ,A-AROM-TE
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,êÑÅ,NI-JA-NU,êÑÅ,JU-KU-NA-PA-KU-NU-U-I-ZU
KNZc7,A-KA-NU-ZA-TI,êÑÅ,DU-RA-RE,êÑÅ,A-ZU-RA
HT28b,A-SI-JA-KA,êÑÅ,U-MI-NA-SI,êÑÅ,SA-RA‚ÇÇ
KH5,A-DA-KI-SI-KA,êÑÅ,A-RA-U-DA,êÑÅ,WI-SA-SA-NE
HT6a,KA-PA,êÑÅ,DA-TA-RA,êÑÅ,TE
HT34,DA-JU-TE,êÑÅ,SI-*516,êÑÅ,SA-RA‚ÇÇ
HT117a,MA-KA-RI-TE,êÑÅ,KI-RO,êÑÅ,U-MI-NA-SI
HT87,*21F-TU-NE,êÑÅ,MA-KA-RI-TE,êÑÅ,PI-TA-KE-SI
HTWc3017,QA-KU-RE,êÑÅ,DI-*306,êÑÅ,CYP+D-*304+PA
SYZa4,A-TA-I-*301-WA-JA,êÑÅ,JA-I-NWA-ZA,êÑÅ,PA‚ÇÉ-NI-WI
IOZa6,TA-NA-I-*301-U-TI-NU,êÑÅ,I-NA-TA-I-ZU-DI-SI-KA,êÑÅ,JA-SA-SA-RA-ME
HT116a,U-TA-RO,êÑÅ,TE,êÑÅ,KU-PA-JA

                   word logogram number          word number
HT8a              JE-DI   OLE+KI     10  PA‚ÇÉ-KA-RA-TI      1
HT88               A-DU   VIR+KA     20         RE-ZA      6
HT110a  SI-DU-*34-KU-MI    CYP+E     20         KU-PA      1
HT108       KI-RE-TA-NA  VIR+[?]      1         GRA+H     70

           word word separator logogram word separator            word
HT35   TI-TI-KU              êÑÅ     *326              êÑÅ         I-KU-TA
HT104     TA-PA              êÑÅ   TE+RO[              êÑÅ  DA-KU-SE-NE-TI

           word word separator     word number word separator
HT16   KA-KU-PA              êÑÅ  DI-NA-U    ¬π‚ÅÑ‚Çà              êÑÅ
HT10a  KU-NI-SU              êÑÅ    SA-MA      4              êÑÅ

                   word word separator logogram number logogram
HT12        QA-TI-DA-TE              êÑÅ   OLE+DI      5     *304
HT103             U-TA‚ÇÇ              êÑÅ       NI     40      PA‚ÇÉ
HT23a             KA-NA              êÑÅ      CYP    ¬π‚ÅÑ‚ÇÉ     *308
HT123+124a      KI-TA-I              êÑÅ     OLIV     31     *308

           logogram word separator        word word separator   word
HT26a    *406VAS+KE              êÑÅ  *312-TE-TE              êÑÅ  TA-TI
LACHZa1          MI              êÑÅ     RI-DA-U              êÑÅ  SE-JE

             word logogram word separator        word word separator
ZA11b     E-TO-RI     *516              êÑÅ  SA-*301-RI              êÑÅ
HT13   KA-U-DE-TA      VIN              êÑÅ          TE              êÑÅ

                          word logogram number logogram number
HTZd157+156  WI-JA-SU-MA-TI-TI     *904      1     *904      1
HT18                     PA-SE   GRA+QE     20   OLE+KI      2
HT101               ZU-*22F-DI   GRA+QE     40    OLE+U      8

                word word separator   logogram word separator  logogram
HT89        A-SA-RA‚ÇÇ              êÑÅ       *307              êÑÅ      *305
HT27a       TI-NI-TA              êÑÅ       *307              êÑÅ   VIR+[?]
HT85a           A-DU              êÑÅ  *307+*387              êÑÅ   VIR+[?]
HT115a  *47-NU-RA-JA              êÑÅ          I              êÑÅ  GRA+BOSm
HT91            I-KA              êÑÅ       *326              êÑÅ       GRA

,]word,word separator,word,word separator,word
KNZf31,SI-SI-ZA-NE-*310,êÑÅ,DA-DU-MI-NE,êÑÅ,QA-MI-*47-NA-RA
PKZa8,NU,êÑÅ,PA‚ÇÉ-E,êÑÅ,JA-DI-KI-TE-TE-*307-PU‚ÇÇ-RE

              word word separator logogram[ logogram number
HT44a    I-QA-*118              êÑÅ       GRA   OLE+KI      3
HT58   QE-TI-RA-DU              êÑÅ   VIR+[?]    OLE+U     19

       lacuna     ]word number[              ]word number
HT46a       êù´     MU-RU       1              KU-RO     43
HT127a      êù´  DU-NE-MI       1  *304+PA-DA-*47-KU      1

                     ]word word separator     word word separator logogram[
SYZa1    A-TA-I-*301-WA-JA              êÑÅ  I-DA-MI              êÑÅ        JA
HT62+73              SA-RA              êÑÅ       TE              êÑÅ       VIN

            word logogram number[ logogram number
HT106   MI-NU-TE      CYP       6       SI      5
HT116b     KU-RO      GRA     100     *304     15

       lacuna lacuna  ]word number  word[
ZA27        êù´      êù´  DI-KI      2   O-MI
HT111a      êù´      êù´  QE-KA      8  QA-SA

       lacuna ]logogram number[ ]logogram number
HT131b      êù´        NI      30      OLIV      2
KH84        êù´       CYP     ¬π‚ÅÑ‚ÇÇ      *301      1
KH26        êù´   VIR+[?]      60        NI      2

     ]logogram number[ ]logogram number[ lacuna
KH25   VIR+[?]     140   VIR+[?]      10      êù´
PH3b    ]MI+JA     ¬≥‚ÅÑ‚ÇÑ        SI     ¬π‚ÅÑ‚ÇÑ      êù´

     lacuna lacuna ]number logogram[ lacuna
KH46      êù´      êù´      êù´êùã       VIN      êù´
KH35      êù´      êù´       1       CYP      êù´

       ]logogram word separator           word word separator logogram[
PKZa10        SI              êÑÅ  I-PI-NA-MI-NA              êÑÅ        SI
KNZb4         JU              êÑÅ          JA-SI              êÑÅ        SI

            ]word word separator   word word separator  word[
PKZa18         TE              êÑÅ   I-DA              êÑÅ  JA-JA
ZAZb34  PU‚ÇÇ-RE-JA              êÑÅ  KO-MU              êÑÅ  RU-DI

                  word number        word number
THEZb13      QI-VIN+TE    120  KA-A-SI-TE    120
ZA5b     *28B-NU-MA-RE     20    SI-PI-KI      1
HT10b             U-TI      1       DA-RE      2
ZA14          ME-KI-DI      1   *21F-*118      1
HT99b         SI+SE-NI      6  DA-SI-*118      2
PH2       A-SE-TU-*21F      1  RA-O-DI-KI     60
HT7b        *21F-TU-NE      1  DA-RU-*329      2
ZA7a              U-JU      5     A-RA-TU      4

                     word word separator              word number
HT16             KA-KU-PA              êÑÅ           DI-NA-U    ¬π‚ÅÑ‚Çà
SYZa2   A-TA-I-*301-WA-JA              êÑÅ  JA-SU-MA-TU-OLIV      1
HT1              QE-RA‚ÇÇ-U              êÑÅ             KI-RO    197
HT10a            KU-NI-SU              êÑÅ             SA-MA      4
HT94b               KI-RO              êÑÅ             TU-MA      1
HT95b                A-DU              êÑÅ             SA-RU     10
HT85b         KI-KI-RA-JA              êÑÅ         KI-RE-TA‚ÇÇ      1
HT117b         *21F-TU-NE              êÑÅ          KU-RE-JU      1

                   word word separator logogram number
HT103             U-TA‚ÇÇ              êÑÅ       NI     40
HT123+124a      KI-TA-I              êÑÅ     OLIV     31
ZA15b             KA-DI              êÑÅ      VIN      3
HT23a             KA-NA              êÑÅ      CYP    ¬π‚ÅÑ‚ÇÉ
KNZb<27>        DI-NA-U              êÑÅ      VIN     17
HT12        QA-TI-DA-TE              êÑÅ   OLE+DI      5

,word,word separator,word,word separator
ARKHZf9,JA-KI-SI-KI-NU,êÑÅ,MI-DA-MA-RA‚ÇÇ,êÑÅ
HT14,PU-VIN,êÑÅ,TE,êÑÅ
HT117a,MA-KA-RI-TE,êÑÅ,KI-RO,êÑÅ
HT43,MA-SI-DU,êÑÅ,PA-*342-I,êÑÅ
HT87,*21F-TU-NE,êÑÅ,MA-KA-RI-TE,êÑÅ
HT92,TE,êÑÅ,A-DU,êÑÅ
HTWc3017,QA-KU-RE,êÑÅ,DI-*306,êÑÅ
SYZa4,A-TA-I-*301-WA-JA,êÑÅ,JA-I-NWA-ZA,êÑÅ
HT116a,U-TA-RO,êÑÅ,TE,êÑÅ
HT9a,SA-RO,êÑÅ,TE,êÑÅ
ZA8,KI-RA,êÑÅ,A-TA-RE,êÑÅ
HT52a,SA-MA,êÑÅ,TE,êÑÅ
IOZa6,TA-NA-I-*301-U-TI-NU,êÑÅ,I-NA-TA-I-ZU-DI-SI-KA,êÑÅ
HT17,RA-ÛΩá´-TI,êÑÅ,TE,êÑÅ
HT28a,A-SI-JA-KA,êÑÅ,JA-*21F,êÑÅ
CR(?)Zf1,A-MA-WA-SI,êÑÅ,KA-NI-JA-MI,êÑÅ
TLZa1,A-TA-I-*301-WA-JA,êÑÅ,O-SU-QA-RE,êÑÅ
IOZa2,A-TA-I-*301-WA-JA,êÑÅ,JA-DI-KI-TU,êÑÅ
HT21,PI-TA-KA-SE,êÑÅ,TE,êÑÅ
HT93a,PA‚ÇÉ-NI-NA,êÑÅ,GRA-PA‚ÇÉ,êÑÅ
HT40,NU-DU-*331,êÑÅ,TE,êÑÅ
HT96a,I-TI-TI-KU-NI,êÑÅ,A-PA-RA-NE,êÑÅ
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,êÑÅ,NI-JA-NU,êÑÅ
HT140,U-*34-SI,êÑÅ,*86-SI-NI,êÑÅ
HT19,RA-*164-TI,êÑÅ,TE,êÑÅ
HT28b,A-SI-JA-KA,êÑÅ,U-MI-NA-SI,êÑÅ
KH88,QA-NU-MA,êÑÅ,*21F-*118,êÑÅ
KH5,A-DA-KI-SI-KA,êÑÅ,A-RA-U-DA,êÑÅ
KNZc7,A-KA-NU-ZA-TI,êÑÅ,DU-RA-RE,êÑÅ
HT6a,KA-PA,êÑÅ,DA-TA-RA,êÑÅ
HT96b,A-PA-RA-NE,êÑÅ,QA-*118-RA-RE,êÑÅ
HT34,DA-JU-TE,êÑÅ,SI-*516,êÑÅ

                 word number logogram number
MA4a        TA-HIDE+B     15   HIDE+L    120
HT123+124b  *188-*308     11     *312      1

              word word separator logogram         word
HT7a         QE-TI              êÑÅ  VIR+[?]      I-RU-JA
ZA5a     *21F-*118              êÑÅ   VIN-SU     KI-NI-MA
MA1b          A-MA              êÑÅ      *47  QE-DE-MI-NU
HT95a  DA-DU-MA-TA              êÑÅ      GRA        DA-ME

                   word logogram number          word
HT108       KI-RE-TA-NA  VIR+[?]      1         GRA+H
HT110a  SI-DU-*34-KU-MI    CYP+E     20         KU-PA
HT8a              JE-DI   OLE+KI     10  PA‚ÇÉ-KA-RA-TI
HT88               A-DU   VIR+KA     20         RE-ZA

           logogram word separator        word word separator
ZA1a           *516              êÑÅ    KI-RE-ZA              êÑÅ
LACHZa1          MI              êÑÅ     RI-DA-U              êÑÅ
HT26a    *406VAS+KE              êÑÅ  *312-TE-TE              êÑÅ

                      word word separator   logogram word separator
HT104                TA-PA              êÑÅ     TE+RO[              êÑÅ
ZA11a   DI-DI-KO-RA-ME-TA‚ÇÇ              êÑÅ       *516              êÑÅ
HT27a             TI-NI-TA              êÑÅ       *307              êÑÅ
HT81                  A-SE              êÑÅ   MI+JA+RU              êÑÅ
HT85a                 A-DU              êÑÅ  *307+*387              êÑÅ
HT89              A-SA-RA‚ÇÇ              êÑÅ       *307              êÑÅ
HT122b               JE-DI              êÑÅ       *346              êÑÅ
HT115a        *47-NU-RA-JA              êÑÅ          I              êÑÅ
HT91                  I-KA              êÑÅ       *326              êÑÅ
HT35              TI-TI-KU              êÑÅ       *326              êÑÅ

       logogram number logogram number
THEZg5       MA     40       PU      5
HT119      *327     34  VIR+[?]     67

             word logogram word separator        word
ZA11b     E-TO-RI     *516              êÑÅ  SA-*301-RI
HT13   KA-U-DE-TA      VIN              êÑÅ          TE

                          word logogram number logogram
HT101               ZU-*22F-DI   GRA+QE     40    OLE+U
HTZd157+156  WI-JA-SU-MA-TI-TI     *904      1     *904
HT18                     PA-SE   GRA+QE     20   OLE+KI

       word word separator    word logogram
HT133  A-DU              êÑÅ      TE   GRA+DA
HT99a  A-DU              êÑÅ  SA-RA‚ÇÇ      CYP

                  word  logogram number number
HT129        KI-RE-TA‚ÇÇ       GRA     33     êùÜêùÅ
ZA6b   I-KU-JU-TI-*28B    GRA+PA     50    ¬π‚ÅÑ‚ÇÑ
MA4b              A-JA  HIDE+[?]    123    160

      ]logogram word separator logogram number
MA10a        RU              êÑÅ  *413+SU      2
KH22         ZA              êÑÅ       SU      7

      logogram word separator logogram word separator
HT118       AU              êÑÅ     *516              êÑÅ
HT66        ZU              êÑÅ  VIR+[?]              êÑÅ

                     ]word word separator         word word separator
SYZa1    A-TA-I-*301-WA-JA              êÑÅ      I-DA-MI              êÑÅ
ZAZb34           PU‚ÇÇ-RE-JA              êÑÅ        KO-MU              êÑÅ
PKZa18                  TE              êÑÅ         I-DA              êÑÅ
PKZa8                   NU              êÑÅ        PA‚ÇÉ-E              êÑÅ
HT62+73              SA-RA              êÑÅ           TE              êÑÅ
KNZf31    SI-SI-ZA-NE-*310              êÑÅ  DA-DU-MI-NE              êÑÅ

       lacuna lacuna  ]word number
HT111a      êù´      êù´  QE-KA      8
HT41a       êù´      êù´  QE-TU     10
ZA27        êù´      êù´  DI-KI      2

      ]logogram number logogram[ lacuna
HT100    VIR+KA     58   *304+PA      êù´
KH34      CYP+E      2        NI      êù´

      ]logogram word separator  logogram number[
HT52b        NE              êÑÅ       GRA     201
KH36         KA              êÑÅ  MI+JA+RU       4

       lacuna     ]word number[              ]word
HT46a       êù´     MU-RU       1              KU-RO
HT127a      êù´  DU-NE-MI       1  *304+PA-DA-*47-KU
HT135a      êù´  NE-MI-NA      10              MI-TU

      lacuna lacuna ]number[ lacuna
HT53b      êù´      êù´       18      êù´
ZA30       êù´      êù´        7      êù´
KH67       êù´      êù´        1      êù´

        ]word word separator     word number[
HT55a   KI-RO              êÑÅ    MA-RE       1
HT122a  RA-RI              êÑÅ  U-DE-ZA       2

      lacuna lacuna  ]word number[
KN28b      êù´      êù´     TE      êùäêù´
HT74       êù´      êù´  KU-RO      20
HT67       êù´      êù´  KU-RO     402

       lacuna ]number   word number[
HT69        êù´       5     DI       8
HT111b      êù´      18  SA-DI       4

             word    word logogram number
HT90   I-KU-RI-NA  SA-RA‚ÇÇ      GRA     20
HT102       KA-PA  SA-RA‚ÇÇ      GRA    976

      lacuna ]logogram[ ]logogram number
KH8        êù´         RE        TA      2
HT98b      êù´       *188       VIN    ¬≥‚ÅÑ‚ÇÑ

        lacuna ]logogram number[ lacuna
ZA28         êù´    GRA+PA       1      êù´
HT109        êù´        RE       4      êù´
ZA31         êù´        DU       2      êù´
KH68+71      êù´  *401+[ ]      êùâêù´      êù´

       lacuna lacuna ]logogram number[
KH82        êù´      êù´    OLE+RI      êùâêù´
HT127b      êù´      êù´        NE      13

       lacuna ]logogram number[ ]logogram
KH63        êù´        SU      10   *401+RU
KH84        êù´       CYP     ¬π‚ÅÑ‚ÇÇ      *301
HT131b      êù´        NI      30      OLIV
KH26        êù´   VIR+[?]      60        NI

     ]logogram[ number logogram number
MA6a   HIDE+[?]    941   HIDE+B     35
KH12        CYP      2     *308    ¬π‚ÅÑ‚ÇÇ
KH15        CYP    ¬π‚ÅÑ‚ÇÇ       NI    ¬π‚ÅÑ‚ÇÇ

      lacuna ]logogram number ]number
HT147      êù´        RA  ‚âà ¬π‚ÅÑ‚ÇÜ     ¬π‚ÅÑ‚ÇÇ
KH21       êù´       CYP      êùç     ¬π‚ÅÑ‚ÇÖ

        lacuna lacuna ]word[ lacuna
KH44         êù´      êù´   *335      êù´
HT154ja      êù´      êù´  NU-TE      êù´
KH52         êù´      êù´   TA-U      êù´

       ]logogram word separator           word word separator
KH14          RA              êÑÅ        A-MA-JA              êÑÅ
PLZf1         TA              êÑÅ    WI-TE-JA-MU              êÑÅ
KNZb4         JU              êÑÅ          JA-SI              êÑÅ
PKZa10        SI              êÑÅ  I-PI-NA-MI-NA              êÑÅ

         ]logogram number[ ]logogram number[
KH25       VIR+[?]     140   VIR+[?]      10
PH3b        ]MI+JA     ¬≥‚ÅÑ‚ÇÑ        SI     ¬π‚ÅÑ‚ÇÑ
THEtab.4       CAP       7       CAP      46

     lacuna ]logogram[ ]logogram number[
KH57      êù´         TU        ZO       1
KH27      êù´         NI    GRA+PA       4

     lacuna lacuna logogram number[
KH38      êù´      êù´    CYP+D     ¬π‚ÅÑ‚ÇÇ
KH55      êù´      êù´   OLE+TA     ¬π‚ÅÑ‚ÇÉ

     lacuna ]logogram number[          ]word[
ZA29      êù´        MA     100              TE
PH30      êù´        TI     ¬π‚ÅÑ‚ÇÑ  MA-RE-RI-MI-DE

                                   word word separator                   word
SYZa2                 A-TA-I-*301-WA-JA              êÑÅ       JA-SU-MA-TU-OLIV
HT96b                        A-PA-RA-NE              êÑÅ          QA-*118-RA-RE
ARKHZf9                  JA-KI-SI-KI-NU              êÑÅ           MI-DA-MA-RA‚ÇÇ
HT1                            QE-RA‚ÇÇ-U              êÑÅ                  KI-RO
HT85b                       KI-KI-RA-JA              êÑÅ              KI-RE-TA‚ÇÇ
ZA8                               KI-RA              êÑÅ                A-TA-RE
HT17                            RA-ÛΩá´-TI              êÑÅ                     TE
HT116a                          U-TA-RO              êÑÅ                     TE
HT21                        PI-TA-KA-SE              êÑÅ                     TE
HT28a                        A-SI-JA-KA              êÑÅ                JA-*21F
HT40                         NU-DU-*331              êÑÅ                     TE
HT93a                         PA‚ÇÉ-NI-NA              êÑÅ                GRA-PA‚ÇÉ
KNZc6     *34-TI-RI-A-DI-DA-KI-TI-PA-KU              êÑÅ               NI-JA-NU
HT19                         RA-*164-TI              êÑÅ                     TE
KNZc7                     A-KA-NU-ZA-TI              êÑÅ               DU-RA-RE
HT34                           DA-JU-TE              êÑÅ                SI-*516
HT16                           KA-KU-PA              êÑÅ                DI-NA-U
HT14                             PU-VIN              êÑÅ                     TE
HT87                         *21F-TU-NE              êÑÅ            MA-KA-RI-TE
PH6                             I-NA-WA              êÑÅ                   A-RI
HT43                           MA-SI-DU              êÑÅ              PA-*342-I
PHZb4                             SI-MA              êÑÅ                I-JA-TE
HT52a                             SA-MA              êÑÅ                     TE
HTWc3017                       QA-KU-RE              êÑÅ                DI-*306
HT9a                              SA-RO              êÑÅ                     TE
HT95b                              A-DU              êÑÅ                  SA-RU
HT140                          U-*34-SI              êÑÅ              *86-SI-NI
HT94b                             KI-RO              êÑÅ                  TU-MA
HT117b                       *21F-TU-NE              êÑÅ               KU-RE-JU
HT133                              A-DU              êÑÅ                     TE
HT117a                      MA-KA-RI-TE              êÑÅ                  KI-RO
SYZa4                 A-TA-I-*301-WA-JA              êÑÅ            JA-I-NWA-ZA
IOZa6              TA-NA-I-*301-U-TI-NU              êÑÅ  I-NA-TA-I-ZU-DI-SI-KA
TLZa1                 A-TA-I-*301-WA-JA              êÑÅ             O-SU-QA-RE
CR(?)Zf1                     A-MA-WA-SI              êÑÅ            KA-NI-JA-MI
IOZa2                 A-TA-I-*301-WA-JA              êÑÅ            JA-DI-KI-TU
HTZd155                            A-JU              êÑÅ    NA-MA-MA-TI-TI-*904
KH88                           QA-NU-MA              êÑÅ              *21F-*118
IOZa9                    JA-SA-SA-RA-ME              êÑÅ          U-NA-KA-NA-SI
HT28b                        A-SI-JA-KA              êÑÅ             U-MI-NA-SI
KH5                       A-DA-KI-SI-KA              êÑÅ              A-RA-U-DA
HT6a                              KA-PA              êÑÅ               DA-TA-RA
HT99a                              A-DU              êÑÅ                 SA-RA‚ÇÇ
HT92                                 TE              êÑÅ                   A-DU
HT10a                          KU-NI-SU              êÑÅ                  SA-MA
HT96a                     I-TI-TI-KU-NI              êÑÅ             A-PA-RA-NE

                   word number        word
HT7b         *21F-TU-NE      1  DA-RU-*329
HT99b          SI+SE-NI      6  DA-SI-*118
PH2        A-SE-TU-*21F      1  RA-O-DI-KI
ZA7a               U-JU      5     A-RA-TU
HT10b              U-TI      1       DA-RE
THEZb13       QI-VIN+TE    120  KA-A-SI-TE
ZA5b      *28B-NU-MA-RE     20    SI-PI-KI
ZA14           ME-KI-DI      1   *21F-*118
HTWa1020  *304+PA-KU-PA    ¬π‚ÅÑ‚ÇÑ    JE-TA-NA

                          word word separator   logogram
HT23a                    KA-NA              êÑÅ        CYP
HT35                  TI-TI-KU              êÑÅ       *326
HT12               QA-TI-DA-TE              êÑÅ     OLE+DI
KNZb<27>               DI-NA-U              êÑÅ        VIN
ZA5a                 *21F-*118              êÑÅ     VIN-SU
HT95a              DA-DU-MA-TA              êÑÅ        GRA
HT89                  A-SA-RA‚ÇÇ              êÑÅ       *307
HT7a                     QE-TI              êÑÅ    VIR+[?]
HT122b                   JE-DI              êÑÅ       *346
HT103                    U-TA‚ÇÇ              êÑÅ         NI
ZA15b                    KA-DI              êÑÅ        VIN
HT123+124a             KI-TA-I              êÑÅ       OLIV
HT27a                 TI-NI-TA              êÑÅ       *307
ZA11a       DI-DI-KO-RA-ME-TA‚ÇÇ              êÑÅ       *516
HTWc3014           KU-MI-NA-QE              êÑÅ        CAP
HT81                      A-SE              êÑÅ   MI+JA+RU
HT115a            *47-NU-RA-JA              êÑÅ          I
HT91                      I-KA              êÑÅ       *326
HT104                    TA-PA              êÑÅ     TE+RO[
HT2                    A-KA-RU              êÑÅ      OLE+U
MA1b                      A-MA              êÑÅ        *47
HT85a                     A-DU              êÑÅ  *307+*387
HT33                    SA-RA‚ÇÇ              êÑÅ  *401+*304

           ]word logogram number[
ARKH3b     JA-PI      GRA       6
PH15a   MA-TE-RE     *339      11

      lacuna ]logogram[ ]word[
HT3        êù´         MA  DI-NA
HT49b      êù´         KU   I-KI

      lacuna           ]word[     ]word
HT4        êù´  *306-TI-KA-A-RE  DU-RI-TE
KN32b      êù´               TE     SA-PU

              word number number
HT6b   WA-DU-NI-MI      3  ‚âà ¬π‚ÅÑ‚ÇÜ
PEWy5     OLE-*307      1    ¬π‚ÅÑ‚ÇÇ

       logogram number          word
HT128b   GRA+KU      6  VIR+[?]-*329
ZAZb3       VIN     32   DI-DI-KA-SE

      word also in linear b word separator      word
HT6a                  KA-PA              êÑÅ  DA-TA-RA
PHZb4                 SI-MA              êÑÅ   I-JA-TE

                          word  logogram number
HT18                     PA-SE    GRA+QE     20
PH10               *355-E-*354  HIDE+[?]     êùàêùà
HT108              KI-RE-TA-NA   VIR+[?]      1
KN1b               JA-DU-RA-TI         E    105
HT110a         SI-DU-*34-KU-MI     CYP+E     20
ZA6b           I-KU-JU-TI-*28B    GRA+PA     50
MA4b                      A-JA  HIDE+[?]    123
HT23b                    NI-RA       CYP    ¬π‚ÅÑ‚ÇÉ
HT101               ZU-*22F-DI    GRA+QE     40
ZA6a                *305-WA-NA      *171     19
HT129                KI-RE-TA‚ÇÇ       GRA     33
HT8a                     JE-DI    OLE+KI     10
HT88                      A-DU    VIR+KA     20
KN1a                  JA-KU-TI         E    240
HTZd157+156  WI-JA-SU-MA-TI-TI      *904      1

           logogram word separator        word
HT63           *305              êÑÅ          TE
LACHZa1          MI              êÑÅ     RI-DA-U
HT26a    *406VAS+KE              êÑÅ  *312-TE-TE
ZA1a           *516              êÑÅ    KI-RE-ZA
HT128a         *326              êÑÅ       PA-RA

                 word number logogram
MA4a        TA-HIDE+B     15   HIDE+L
HT123+124b  *188-*308     11     *312

                   word              word number
PYR1     TI-MA-RU-WI-TE          *806-VIN     90
HT36              JE-DI  *307+*387-GRA+QE     64
MAWc<5>      A-SA-DA-KA             GRA+E      4

       logogram number logogram
THEZg5       MA     40       PU
HT119      *327     34  VIR+[?]

      logogram word separator logogram
HT118       AU              êÑÅ     *516
HT66        ZU              êÑÅ  VIR+[?]

               word logogram         word
HT15       U-*34-SI      GRA    DU-AROM-A
MA1a   *903-I-DU-WI      *47  QE-DE-MI-NU
ZA15a     *47-KU-NA   SA-VIN   QE-SI-ZU-E
HT94a         KA-PA  VIR+[?]           62

      lacuna ]number    word[
HT45a      êù´      êù´êùâ       PA
HT141      êù´       1     A-RI
HT25a      êù´       1  DI-NA-U

      lacuna lacuna        word
KH20       êù´      êù´  A-SI-KI-RA
HT38       êù´      êù´    DA-RO-PA
HT25b      êù´      êù´       KU-RO

            word[  ]word word separator
HT113    RA-RI-DE  WI-SA              êÑÅ
HT84   *21F-JA-DU  NU-TI              êÑÅ

               ]word word separator       word[
APZa2          NA-SI              êÑÅ  I-PI-NA-MA
SYZa5          MI-JA              êÑÅ   JA-WA-PA‚ÇÉ
IOZa5  I-JA-RE-DI-JA              êÑÅ     I-JA-PA

        ]logogram word separator  logogram
HT52b          NE              êÑÅ       GRA
KH36           KA              êÑÅ  MI+JA+RU
MA10a          RU              êÑÅ   *413+SU
HT42+59        TA              êÑÅ     SI+SE
KH22           ZA              êÑÅ        SU

             ]word word separator logogram
MA10b  DU-PI-TE-WA              êÑÅ   *405+Œ©
HT27b        MI-DA              êÑÅ   VIN+WA

       word separator ]logogram word separator
HT68                êÑÅ        JU              êÑÅ
KNZa18              êÑÅ        JA              êÑÅ

                     ]word word separator            word
PKZa16               TO-SA              êÑÅ             PU‚ÇÇ
KNZa10         TA-NU-MU-TI              êÑÅ  JA-SA-SA-RA-MA
HT55a                KI-RO              êÑÅ           MA-RE
SYZa1    A-TA-I-*301-WA-JA              êÑÅ         I-DA-MI
IOZa15          I-PI-NA-MA              êÑÅ        SI-RU-TE
KNZf31    SI-SI-ZA-NE-*310              êÑÅ     DA-DU-MI-NE
PKZa18                  TE              êÑÅ            I-DA
ZAZb34           PU‚ÇÇ-RE-JA              êÑÅ           KO-MU
HT122a               RA-RI              êÑÅ         U-DE-ZA
ZAZg35         ME-MI-JA-RU              êÑÅ     SE-WA-AU-DE
HT62+73              SA-RA              êÑÅ              TE
PKZa8                   NU              êÑÅ           PA‚ÇÉ-E

       lacuna ]number   word
HT69        êù´       5     DI
HT111b      êù´      18  SA-DI

               word word separator logogram[
KH9    A-SI-SU-PO-A              êÑÅ  VIR+*307
ARKH6      DA-NA-TU              êÑÅ        KU
HT58    QE-TI-RA-DU              êÑÅ   VIR+[?]
HT44a     I-QA-*118              êÑÅ       GRA

         ]word number logogram[
HT55b       TE      1        QE
KH43   *560-RE      2    WI+ZE[

       lacuna lacuna  ]word
KN28b       êù´      êù´     TE
KH96        êù´      êù´   êù´êùàêùÄêùÄ
HT67        êù´      êù´  KU-RO
HT111a      êù´      êù´  QE-KA
HT74        êù´      êù´  KU-RO
ZA27        êù´      êù´  DI-KI
HT41a       êù´      êù´  QE-TU

      ]word number logogram
KN2   RU-NA      2     *118
PH3a   *556      1       TA

      ]logogram number logogram[
HT100    VIR+KA     58   *304+PA
KH54      CYP+E      1       GRA
KH34      CYP+E      2        NI

      ]logogram word separator     word[
HT44b        JA              êÑÅ  TE-GRA+F
KH74         SI              êÑÅ  JA-DA-SU

       lacuna     ]word number[
HT46a       êù´     MU-RU       1
HT98a       êù´        DE       1
HT127a      êù´  DU-NE-MI       1
HT135a      êù´  NE-MI-NA      10

       lacuna lacuna ]number
HT154k      êù´      êù´       2
KH35        êù´      êù´       1
HT46b       êù´      êù´      16
KH46        êù´      êù´      êù´êùã

       lacuna word separator  ]word[
HT135b      êù´              êÑÅ   TA-NE
HT49a       êù´              êÑÅ  RA‚ÇÇ-DU

     lacuna  ]logogram[ lacuna
ZA16      êù´          SI      êù´
KH64      êù´          TA      êù´
KH42      êù´  *307+*301[      êù´
KH65      êù´          NI      êù´
ZA32      êù´          JA      êù´

        lacuna ]logogram number[
KH68+71      êù´  *401+[ ]      êùâêù´
ZA28         êù´    GRA+PA       1
ZA29         êù´        MA     100
KH63         êù´        SU      10
HT109        êù´        RE       4
HT154e       êù´        NI      14
KH84         êù´       CYP     ¬π‚ÅÑ‚ÇÇ
ZA4b         êù´       VIN     104
ZA31         êù´        DU       2
HT131b       êù´        NI      30
PH30         êù´        TI     ¬π‚ÅÑ‚ÇÑ
HT82         êù´   GRA+QIf    ¬π‚ÅÑ‚ÇÅ‚ÇÜ
KH76         êù´        SI       4
KH26         êù´   VIR+[?]      60

      lacuna lacuna logogram
HT50b      êù´      êù´   OLE+KI
KH38       êù´      êù´    CYP+D
KH55       êù´      êù´   OLE+TA

     word[ ]logogram[ lacuna
KH23  A-DU        CYP      êù´
KH39  A-TA     OLE+TA      êù´

      lacuna ]word[ lacuna
HT80       êù´  JU-RA      êù´
HT53a      êù´  SA-NE      êù´
ZA19       êù´  RA-TE      êù´
ZA13       êù´  SU-PA      êù´
KH40       êù´  SI-NA      êù´
KH79       êù´   êù´êòÇêòÄêù´      êù´

       lacuna ]number[ lacuna
ZA33        êù´       21      êù´
KH78        êù´       30      êù´
HT107       êù´        3      êù´
HT136b      êù´       24      êù´

        lacuna lacuna       ]word[
HT54a        êù´      êù´  KU-MI-NA-QE
KH44         êù´      êù´         *335
KH52         êù´      êù´         TA-U
HT154ja      êù´      êù´        NU-TE

      lacuna ]number logogram[
KH2        êù´      20        TU
HT54b      êù´       4        KI

      lacuna ]logogram number
KH50       êù´        TA      2
KH21       êù´       CYP      êùç
PH8b       êù´      *316      1
PH8a       êù´   *416+L2      7
HT130      êù´        SI      3
HT60       êù´    OLE+RI   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT147      êù´        RA  ‚âà ¬π‚ÅÑ‚ÇÜ

       logogram[ word separator  ]word
PK1           SI              êÑÅ  NE-TI
PYRWc4        TI              êÑÅ   I-SI

       ]logogram word separator           word
PLZf1         TA              êÑÅ    WI-TE-JA-MU
PKZa10        SI              êÑÅ  I-PI-NA-MI-NA
HT115b        RU              êÑÅ       PA-RA-NE
KH14          RA              êÑÅ        A-MA-JA
KNZb4         JU              êÑÅ          JA-SI
HT70          NI              êÑÅ             TE
IOZa16      AROM              êÑÅ    JA-SA-SA-RA

        ]logogram word separator logogram[
KH29           RA              êÑÅ       TA‚ÇÇ
HT79+83         I              êÑÅ      *305

     lacuna dividing line   ]word[
ZA23      êù´             ‚Äî    TE-TE
HT78      êù´             ‚Äî  MU-*312

      ]word[ lacuna lacuna
KH97b   SE-I      êù´      êù´
KH56    êù´êùïêùâêù´      êù´      êù´

            ]word word separator logogram[
ARKH1a      TA-PI              êÑÅ        QA
KH53    A-ME-AROM              êÑÅ        NE

                     word      word logogram
HT102               KA-PA    SA-RA‚ÇÇ      GRA
HT90           I-KU-RI-NA    SA-RA‚ÇÇ      GRA
PE1    U-KA-RE-A-SE-SI-NA  KU-PA-RI  VIR+[?]

      lacuna ]logogram[ ]logogram
KH57       êù´         TU        ZO
HT98b      êù´       *188       VIN
KH8        êù´         RE        TA
KH27       êù´         NI    GRA+PA

            word logogram number[
HT116b     KU-RO      GRA     100
HT106   MI-NU-TE      CYP       6
TY3b    KI-RI-SI   OLE+MI       6

        lacuna lacuna lacuna
KH69         êù´      êù´      êù´
HT142        êù´      êù´      êù´
KH72         êù´      êù´      êù´
PH29a        êù´      êù´      êù´
HT154jb      êù´      êù´      êù´
KH70         êù´      êù´      êù´
ZA17         êù´      êù´      êù´

         ]logogram number[ ]logogram
PH3b        ]MI+JA     ¬≥‚ÅÑ‚ÇÑ        SI
KH25       VIR+[?]     140   VIR+[?]
THEtab.4       CAP       7       CAP

       lacuna ]logogram[ ]number
HT146       êù´         QE      30
HT154n      êù´         SI       6

       lacuna ]word[ ]number
HT154c      êù´     NA       2
KH47        êù´  QA-NE       6

       lacuna ]number number[
HT154g      êù´       6     ¬π‚ÅÑ‚ÇÇ
KH13        êù´       2     ¬π‚ÅÑ‚ÇÇ

                     word word separator       word[
IOZa14           SI-RU-TE              êÑÅ        I-DI
SYZa8   A-TA-I-*301-WA-JA              êÑÅ       JA-JA
PKZa12  A-TA-I-*301-WA-JA              êÑÅ  A-DI-KI-TE
IOZa7   A-TA-I-*301-WA-JA              êÑÅ  JA-TI-*321

     lacuna number number
GO2v      êù´      1    ¬π‚ÅÑ‚Çà
PE2       êù´      3    ¬π‚ÅÑ‚ÇÉ

              ]word logogram word separator
PKZa14        TU-ME        I              êÑÅ
PH1a    DI-RA-DI-NA     *316              êÑÅ

                  word        word             word
SAMWa1           JA-SA       SA-RA               TE
PRZa1   TA-NA-SU-TE-KE  SE-TO-I-JA  A-SA-SA-*802-ME

      lacuna           ]word[ word separator
PKZa9      êù´  JA-U-PA-MA-I-DA              êÑÅ
PH28a      êù´            A-PA‚ÇÉ              êÑÅ

             ]word             word word separator
PSZa2      RE-I-KE  TA-NA-I-*301-TI              êÑÅ
VRYZa1  I-PI-NA-MA         SI-RU-TE              êÑÅ

Create a list of all sequences.

In [19]:
syn_seqs = getSyntacticalStructures(matched_sequences,False)
for k, en_seqs in syn_seqs.items():
    df = pd.DataFrame(en_seqs.values(), columns = k.split(','))
    df.set_axis(en_seqs.keys(), axis='index', inplace=True)
    #df.style.set_caption("Davis 2018 Mapping of Linear A and PD Symbols").set_table_styles(styles)
    display(df)

,word,word separator,word,word separator,logogram,number,logogram,number,logogram,number,...,number,logogram,number,word,logogram,number,logogram,number,logogram,number
HT14,PU-VIN,êÑÅ,TE,êÑÅ,GRA,30,OLE+MI,3,OLE+DI,3,...,9,OLIV,13,A-PU‚ÇÇ-NA-DU,GRA,45,OLE+MI,5,OLE+DI,4
HT28a,A-SI-JA-KA,êÑÅ,JA-*21F,êÑÅ,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,...,1,OLE+TU,êùâ,SA-RA‚ÇÇ,OLE+DI,1,NI,2,VIN,3

,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT117a,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1,TE-JA-RE,1,NA-DA-RE,1
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA‚ÇÉ-NU,1,PA-TA-NE,1,*306-TU,1

,word,word separator,word,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT9b,KA-*305,êÑÅ,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4,KU-RO,24
HT117a,U-MI-NA-SI,êÑÅ,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1

,word,word separator,word also in linear b,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT9b,KA-*305,êÑÅ,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4,KU-RO,24
HT117a,U-MI-NA-SI,êÑÅ,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1

,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number,logogram,number,word
HT28a,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ,SA-RA‚ÇÇ,OLE+DI,1,NI,2,VIN,3,VIR+KA-VIN
KH11,CYP+E,êùáêùâ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,*306,4,CYP,¬π‚ÅÑ‚ÇÉ,*348-CYP,êùáêùâ,A-TO-*349-TO-I,CYP+E,3,NI,1,VIN,3,A-TA-*350

,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number,logogram,number
KH11,CYP+E,êùáêùâ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,*306,4,CYP,¬π‚ÅÑ‚ÇÉ,*348-CYP,êùáêùâ,A-TO-*349-TO-I,CYP+E,3,NI,1,VIN,3
HT14,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU‚ÇÇ-NA-DU,GRA,45,OLE+MI,5,OLE+DI,4

,word,word separator,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT88,KI-RO,êÑÅ,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1,KU-RO,6
HT117a,U-MI-NA-SI,êÑÅ,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1,U-DI-MI,1
HT9b,KA-*305,êÑÅ,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4

,word,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA‚ÇÉ-NU,1,PA-TA-NE,1
HT9b,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4,KU-RO,24
HT117a,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1,TE-JA-RE,1

,word separator,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT85a,êÑÅ,DA-RI-DA,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4
HT88,êÑÅ,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1,KU-RO,6
HT117a,êÑÅ,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1,U-DI-MI,1
HT9b,êÑÅ,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4

,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT117a,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1
HT9b,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4,KU-RO,24
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA‚ÇÉ-NU,1

,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number,logogram,number,logogram,number
HT90,GRA,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA‚ÇÇ,GRA,1,NI,1,OLE+MI,1,*304,1
HT14,OLE+DI,3,*304,9,OLIV,13,A-PU‚ÇÇ-NA-DU,GRA,45,OLE+MI,5,OLE+DI,4,*304,6

,logogram,number,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number,logogram,number
HT101,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA‚ÇÇ,GRA,41,OLE,10,DI+QE,3
HT14,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU‚ÇÇ-NA-DU,GRA,45,OLE+MI,5,OLE+DI,4
HT28a,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ,SA-RA‚ÇÇ,OLE+DI,1,NI,2,VIN,3
KH11,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,*306,4,CYP,¬π‚ÅÑ‚ÇÉ,*348-CYP,êùáêùâ,A-TO-*349-TO-I,CYP+E,3,NI,1,VIN,3

,word separator,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number
HT91,êÑÅ,OLE+KI,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+U,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+MI,‚âà ¬π‚ÅÑ‚ÇÜ,OLIV,‚âà ¬π‚ÅÑ‚ÇÜ,NI,‚âà ¬π‚ÅÑ‚ÇÜ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,E,5
HT23a,êÑÅ,CYP,¬π‚ÅÑ‚ÇÉ,*308,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+NE,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+TU,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+RI,‚âà ¬π‚ÅÑ‚ÇÜ,MI+JA+RU,‚âà ¬π‚ÅÑ‚ÇÜ,VIN,10

,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word
HT23a,OLE+TU,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+RI,‚âà ¬π‚ÅÑ‚ÇÜ,MI+JA+RU,‚âà ¬π‚ÅÑ‚ÇÜ,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA
HT91,OLE+KI,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+U,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+MI,‚âà ¬π‚ÅÑ‚ÇÜ,OLIV,‚âà ¬π‚ÅÑ‚ÇÜ,NI,‚âà ¬π‚ÅÑ‚ÇÜ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,E,5,TE-RI
KH11,CYP,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SU,3,CYP+E,êùáêùâ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,*306,4,CYP,¬π‚ÅÑ‚ÇÉ,*348-CYP,êùáêùâ,A-TO-*349-TO-I

,word,number,word,number,word,number,word,number,number,word,number,word,number,number
HT6b,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3,¬π‚ÅÑ‚ÇÑ,SA-MA,35,PA‚ÇÉ-NI-NA,17,¬π‚ÅÑ‚ÇÇ
HT10b,U-TI,1,DA-RE,2,TA-RI-NA,15,*312-TA,6,¬π‚ÅÑ‚ÇÇ,KA-SA-RU,6,TA-NA-TI,9,¬π‚ÅÑ‚ÇÑ

,word,word separator,word,number,word,number,word,number,word,number,word,number,word,number
HT9b,KA-*305,êÑÅ,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2
HT94b,KI-RO,êÑÅ,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO,5
HT88,KI-RO,êÑÅ,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1
HT117a,U-MI-NA-SI,êÑÅ,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1

,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT9b,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4,KU-RO,24
HT117a,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1
HT85a,DA-RI-DA,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4
HT88,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1,KU-RO,6
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA‚ÇÉ-NU,1

,word,number,word,number,word,number,word,number,word,number,word also in linear b,number,word,number
HT85a,DA-RI-DA,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA‚ÇÉ-NU,1

,word,word separator,word,word separator,word,number,word,number,word,number,word,number,word,number
HT87,*21F-TU-NE,êÑÅ,MA-KA-RI-TE,êÑÅ,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT117a,KI-RO,êÑÅ,U-MI-NA-SI,êÑÅ,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1

,word,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number,logogram,number
HT90,SA-RA‚ÇÇ,GRA,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA‚ÇÇ,GRA,1,NI,1,OLE+MI,1
KH11,A-TO-*349-TO-I,CYP+E,3,NI,1,VIN,3,A-TA-*350,*301,1,*306,1,SI-CYP,êùáêùâ

,number,number,word,number,word,number,word,number,word,number,number,word,number
HT6b,3,‚âà ¬π‚ÅÑ‚ÇÜ,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3,¬π‚ÅÑ‚ÇÑ,SA-MA,35
HT9a,5,¬≥‚ÅÑ‚ÇÑ,*306-TU,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2,¬π‚ÅÑ‚ÇÇ,TA-I-AROM,2

,word,word separator,logogram,word,number,word,number,word,number,word,number,word,number
HT7a,QE-TI,êÑÅ,VIR+[?],I-RU-JA,3,DU-JA,4,TA-NA-TI,1,DA-RE,1,TE-TU,1
HT95a,DA-DU-MA-TA,êÑÅ,GRA,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10

,number,number,word,number,number,word,number,word,number,word,number,word,number
PE2,3,¬π‚ÅÑ‚ÇÉ,RU-PI-*305-MI,1,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ
HT8a,1,¬π‚ÅÑ‚ÇÇ,PA,3,¬π‚ÅÑ‚ÇÇ,TE-*301,2,QA-*310-I,¬≥‚ÅÑ‚ÇÑ,SI-KI-RA,¬π‚ÅÑ‚ÇÑ,KI-RE-TA-NA,¬π‚ÅÑ‚ÇÇ

,number,word,number,word,number,word,number,word,number,word,number,word,number
HT117a,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1,U-DI-MI,1
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1
HT88,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1,KU-RO,6
HT9b,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4
ZA10a,1,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT85b,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1
HT85a,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4

,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word,number
HT23a,‚âà ¬π‚ÅÑ‚ÇÜ,MI+JA+RU,‚âà ¬π‚ÅÑ‚ÇÜ,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT34,êùÖêùá,QA2+[?]+PU,‚âà ¬π‚ÅÑ‚ÇÜ,QA2+[?]+RE,¬π‚ÅÑ‚ÇÑ,MI+JA+I,245,SA+MU+KU,100,PA‚ÇÉ,70,KI-RO,37

,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number,logogram,number
HT90,GRA,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA‚ÇÇ,GRA,1,NI,1,OLE+MI,1
HT101,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA‚ÇÇ,GRA,41,OLE,10,DI+QE,3
HT28a,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ,SA-RA‚ÇÇ,OLE+DI,1,NI,2,VIN,3

,logogram,number,logogram,number,logogram,number,word,number,word,logogram,number,logogram,number
HT28a,OLE+DI,1,NI,2,VIN,3,VIR+KA-VIN,6,A-RU-DA-RA,GRA,5,*304,2
HT94a,TI+A,7,VIR+*313b,18,TA,4,KU-RO,110,SA-RA‚ÇÇ,CYP,5,NI,3

,word separator,word,number,word,number,word,number,word,number,word,number,word,number
HT94b,êÑÅ,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO,5
HT85a,êÑÅ,DA-RI-DA,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3

,number,word,number,word,number,word,number,word,number,word also in linear b,number,word,number
HT122a,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA‚ÇÉ-NU,1
ZA10a,1,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT85b,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1
HT85a,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4

,logogram,number,logogram,number,logogram,number,logogram,number,word,number,word,logogram,number
HT100,TI+A,12,KI,2,*305,5,VIR+*313a,16,KU-RO,97,SA-RA‚ÇÇ,CYP,5
HT94a,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO,110,SA-RA‚ÇÇ,CYP,5

,word separator,]word,number,word,number,word,number,word,number,word,number,word,number
HT122a,êÑÅ,DI,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1
ZA4a,êÑÅ,TU-ME-SE,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI,3

,word,word separator,word,number,word,number,word,number,word,number,word,number
HT94b,KI-RO,êÑÅ,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1
HT87,MA-KA-RI-TE,êÑÅ,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT117a,SA-TA,êÑÅ,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1
HT88,KI-RO,êÑÅ,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1
HT1,QE-RA‚ÇÇ-U,êÑÅ,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA‚ÇÉ-NU,109,A-RA-NA-RE,105
HT9b,KA-*305,êÑÅ,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2

,word,number,number,word,number,word,number,word,number,word,number,number
HT13,TE-KI,27,¬π‚ÅÑ‚ÇÇ,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5,KU-RO,130,¬π‚ÅÑ‚ÇÇ
HT6b,WA-DU-NI-MI,3,‚âà ¬π‚ÅÑ‚ÇÜ,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3,¬π‚ÅÑ‚ÇÑ

,number,word,number,number,word,number,word,number,word,number,word,number
HT8a,¬π‚ÅÑ‚ÇÇ,PA,3,¬π‚ÅÑ‚ÇÇ,TE-*301,2,QA-*310-I,¬≥‚ÅÑ‚ÇÑ,SI-KI-RA,¬π‚ÅÑ‚ÇÑ,KI-RE-TA-NA,¬π‚ÅÑ‚ÇÇ
HT13,56,TE-KI,27,¬π‚ÅÑ‚ÇÇ,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5,KU-RO,130
PE2,¬π‚ÅÑ‚ÇÉ,RU-PI-*305-MI,1,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ

,number,word,number,word,number,number,word,number,number,word,number,number
HT9a,4,QE-PU,2,*324-DI-RA,2,¬π‚ÅÑ‚ÇÇ,TA-I-AROM,2,¬π‚ÅÑ‚ÇÇ,A-RU,4,¬π‚ÅÑ‚ÇÑ
ZA8,?,TA-I-NU-MA-PA,¬π‚ÅÑ‚ÇÇ,MA-KA-I-SE,2,êùÉêùÜ,DA-I-PI-TA,2,¬π‚ÅÑ‚ÇÇ,KA-I-RO,4,?

,word,number,word,number,word,number,word,number,word,number,word,number
HT95a,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10,QE-RA‚ÇÇ-U,7
HT117a,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1
HT88,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1
HT85a,DA-RI-DA,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT9b,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2
HT94b,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO,5

,word,word separator,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number
HT28a,JA-*21F,êÑÅ,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ
HT14,TE,êÑÅ,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13
HT23a,KA-NA,êÑÅ,CYP,¬π‚ÅÑ‚ÇÉ,*308,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+NE,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+TU,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+RI,‚âà ¬π‚ÅÑ‚ÇÜ

,word,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number
KH11,A-TO-*349-TO-I,CYP+E,3,NI,1,VIN,3,A-TA-*350,*301,1,*306,1
HT18,PA-SE,GRA+QE,20,OLE+KI,2,*304,3,SA-RA‚ÇÇ,GRA,10,NI,10
HT90,SA-RA‚ÇÇ,GRA,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA‚ÇÇ,GRA,1,NI,1

,word,logogram,number,logogram,number,logogram,number,logogram,number,word,logogram,number
HT101,ZU-*22F-DI,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA‚ÇÇ,GRA,41
HT28b,SA-RA‚ÇÇ,GRA,20,OLE+DI,5,NI,2,VIN,4,PU-RA‚ÇÇ,NI,6

,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word
HT91,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+MI,‚âà ¬π‚ÅÑ‚ÇÜ,OLIV,‚âà ¬π‚ÅÑ‚ÇÜ,NI,‚âà ¬π‚ÅÑ‚ÇÜ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,E,5,TE-RI
KH11,3,CYP+E,êùáêùâ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,*306,4,CYP,¬π‚ÅÑ‚ÇÉ,*348-CYP,êùáêùâ,A-TO-*349-TO-I
HT34,êùÖêùá,QA2+[?]+PU,‚âà ¬π‚ÅÑ‚ÇÜ,QA2+[?]+RE,¬π‚ÅÑ‚ÇÑ,MI+JA+I,245,SA+MU+KU,100,PA‚ÇÉ,70,KI-RO

,number,logogram,number,word,number,logogram,number,word,number,word,number,logogram
HT89,23,JU+*317+QE,22,MA-I-MI,24,VIR+*313a,13,TA-RA,5,KU-RO,87,CYP
HT118,6,KI,4,A-RI-SU,4,KI,1,RI-RU-MA,10,KU-RO,30,KI

,logogram,word,logogram,number,logogram,number,logogram,number,logogram,number,word,number
HT127b,KU,72,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14,KU-RO,291
HT94a,VIR+[?],62,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO,110

,]word,number,word,number,word,number,word,number,word,number,word,number
ZA4a,TU-ME-SE,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI,3
HT122a,DI,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1
HT122b,A-RA-JU-U-DE-ZA,2,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65,PO-TO-KU-RO,97

,number,word,number,word,number,word,number,word,number,word,number,lacuna
PE2,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ,TO-*49-RE,1,êù´
ZA20,4,SI-TE-TU,1,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3,KU-RA,130,êù´

,word separator,word,number,word,number,word,number,word,number,word,number
HT1,êÑÅ,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA‚ÇÉ-NU,109,A-RA-NA-RE,105
HT87,êÑÅ,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT117a,êÑÅ,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1
HT9b,êÑÅ,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2
HT85a,êÑÅ,DA-RI-DA,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5
HT88,êÑÅ,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1
HT94b,êÑÅ,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1

,number,word,number,logogram,number,word,number,word,number,word,number
HT119,10,KU-PA‚ÇÉ-NA-TU,7,TI,7,JA-*345,10,*306-TU,2,*327-JU,8
HT6a,15,PI-TA-JA,24,JA+RU,êùì,MA-*321,10,O-RA‚ÇÇ-DI-NE,2,KA-PA-QE,5

,word,number,number,word,number,word,number,word,number,word,number
HT8a,PA,3,¬π‚ÅÑ‚ÇÇ,TE-*301,2,QA-*310-I,¬≥‚ÅÑ‚ÇÑ,SI-KI-RA,¬π‚ÅÑ‚ÇÑ,KI-RE-TA-NA,¬π‚ÅÑ‚ÇÇ
HT6b,WA-DU-NI-MI,3,‚âà ¬π‚ÅÑ‚ÇÜ,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3
PE2,RU-PI-*305-MI,1,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ

,number,word,number,word,number,number,word,number,word,number,number
HT10b,2,TA-RI-NA,15,*312-TA,6,¬π‚ÅÑ‚ÇÇ,KA-SA-RU,6,TA-NA-TI,9,¬π‚ÅÑ‚ÇÑ
HT8b,5,PA‚ÇÉ-*188,2,QA-*310-I,1,¬≥‚ÅÑ‚Çà,KA-PA,¬π‚ÅÑ‚ÇÇ,PA-JA-RE,1,¬π‚ÅÑ‚Çà
HT6b,3,DU-DA-MA,66,DA-KI,3,¬π‚ÅÑ‚ÇÑ,SA-MA,35,PA‚ÇÉ-NI-NA,17,¬π‚ÅÑ‚ÇÇ

,word,number,word,number,word,number,number,word,number,word,number
ZA15a,MI-ZA-SE,3,*28B-NU-MA-RE,6,SI-PI-KI,2,¬π‚ÅÑ‚ÇÇ,JA-SA-MU,5,SA-MI-DA-E,4
HT6b,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3,¬π‚ÅÑ‚ÇÑ,SA-MA,35,PA‚ÇÉ-NI-NA,17
HT10b,DA-RE,2,TA-RI-NA,15,*312-TA,6,¬π‚ÅÑ‚ÇÇ,KA-SA-RU,6,TA-NA-TI,9

,number,number,word,number,number,word,number,word,number,word,number
PE2,3,¬π‚ÅÑ‚ÇÉ,RU-PI-*305-MI,1,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ
HT8a,1,¬π‚ÅÑ‚ÇÇ,PA,3,¬π‚ÅÑ‚ÇÇ,TE-*301,2,QA-*310-I,¬≥‚ÅÑ‚ÇÑ,SI-KI-RA,¬π‚ÅÑ‚ÇÑ

,word,number,word,number,word,number,word,number,number,word,number
HT9a,*306-TU,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2,¬π‚ÅÑ‚ÇÇ,TA-I-AROM,2
HT10b,U-TI,1,DA-RE,2,TA-RI-NA,15,*312-TA,6,¬π‚ÅÑ‚ÇÇ,KA-SA-RU,6

,number,number,word,number,word,number,word,number,word,number,number
HT9a,5,¬≥‚ÅÑ‚ÇÑ,*306-TU,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2,¬π‚ÅÑ‚ÇÇ
HT13,27,¬π‚ÅÑ‚ÇÇ,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5,KU-RO,130,¬π‚ÅÑ‚ÇÇ

,number,word,number,word,number,word,number,word,number,word,number
HT94b,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO,5
ZA4a,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI,3
HT95a,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10,QE-RA‚ÇÇ-U,7
HT85a,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3
HT98a,1,TA-NA-TI,¬≥‚ÅÑ‚ÇÑ,DI-RE-DI-NA,¬π‚ÅÑ‚ÇÇ,TE-*301,¬≥‚ÅÑ‚ÇÑ,RO-KE,¬π‚ÅÑ‚ÇÇ,KA-RI-*310-I,¬π‚ÅÑ‚ÇÑ
HT88,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1
HT9b,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2
PE2,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ,TO-*49-RE,1
ZA10a,1,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1
ZA20,4,SI-TE-TU,1,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3,KU-RA,130
HT85b,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1
HT122b,2,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65,PO-TO-KU-RO,97
HT117a,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1

,word,number,word,number,word,number,word,number,word,number,word
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE
HT9b,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE
HT117a,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1,U-DI-MI
ZA14,ME-KI-DI,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8,KU-PI,1,TU-MI-TI-ZA-SE
HT95a,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10,QE-RA‚ÇÇ-U
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I
HT85a,DA-RI-DA,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE
HT88,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE
HT94b,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO

,word,number,word,number,word,number,word,number,word,number,logogram
HT94b,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO,5,*86
HT11a,KA-RO-NA,2,*322-RI,1,KU-RO,10,A-SU-JA,1,VIR+[?]-I,3,TA‚ÇÇ

,word,number,word,number,number,word,number,word,number,word,number
HT13,TE-TU,56,TE-KI,27,¬π‚ÅÑ‚ÇÇ,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5
ZA15a,*28B-NU-MA-RE,6,SI-PI-KI,2,¬π‚ÅÑ‚ÇÇ,JA-SA-MU,5,SA-MI-DA-E,4,*363-KE-MA-SE,5

,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number
HT101,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA‚ÇÇ,GRA,41,OLE,10
HT14,OLE+DI,3,*304,9,OLIV,13,A-PU‚ÇÇ-NA-DU,GRA,45,OLE+MI,5
HT28a,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ,SA-RA‚ÇÇ,OLE+DI,1,NI,2
HT18,GRA+QE,20,OLE+KI,2,*304,3,SA-RA‚ÇÇ,GRA,10,NI,10

,logogram,number,logogram,number,logogram,number,logogram,number,word,logogram,number
HT28a,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ,SA-RA‚ÇÇ,OLE+DI,1
HT14,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU‚ÇÇ-NA-DU,GRA,45
HT101,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA‚ÇÇ,GRA,41
HT116a,GRA,16,OLE+KI,1,OLE+MI,6,OLIV,3,PI-*34-TE,GRA,5
HT28b,GRA,20,OLE+DI,5,NI,2,VIN,4,PU-RA‚ÇÇ,NI,6
KH11,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,*306,4,CYP,¬π‚ÅÑ‚ÇÉ,*348-CYP,êùáêùâ,A-TO-*349-TO-I,CYP+E,3

,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word
HT34,QA2+[?]+PU,‚âà ¬π‚ÅÑ‚ÇÜ,QA2+[?]+RE,¬π‚ÅÑ‚ÇÑ,MI+JA+I,245,SA+MU+KU,100,PA‚ÇÉ,70,KI-RO
HT14,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU‚ÇÇ-NA-DU
HT28a,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ,SA-RA‚ÇÇ

,word separator,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number
HT28a,êÑÅ,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ
HT91,êÑÅ,OLE+KI,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+U,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+MI,‚âà ¬π‚ÅÑ‚ÇÜ,OLIV,‚âà ¬π‚ÅÑ‚ÇÜ,NI,‚âà ¬π‚ÅÑ‚ÇÜ
HT14,êÑÅ,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13

,word,word separator,logogram,number,logogram,number,logogram,number,number,logogram,number
HT32,SA-RA‚ÇÇ,êÑÅ,*308,¬π‚ÅÑ‚ÇÇ,OLE+NE,êùÜêùá,QA2+[?]+PU,1,¬π‚ÅÑ‚ÇÅ‚ÇÜ,QA2+[?]+RE,1
HT21,TE,êÑÅ,GRA,161,OLE+U,11,OLE+E,3,¬≥‚ÅÑ‚ÇÑ,*304,7

,logogram,number,logogram,number,number,logogram,number,number,logogram,number,number
HT21,OLE+U,11,OLE+E,3,¬≥‚ÅÑ‚ÇÑ,*304,7,¬≥‚ÅÑ‚ÇÑ,OLIV,1,¬π‚ÅÑ‚ÇÑ
HTZd157+156,*904,1,*904,1,¬π‚ÅÑ‚ÇÇ,*904,2,¬π‚ÅÑ‚ÇÑ,*904,3,¬≥‚ÅÑ‚Çà

,number,logogram,number,logogram,number,word,number,word,number,logogram,number
HT49a,1,*370,1,*312,1,KU-PA‚ÇÉ-NU,1,TU-SU-PU‚ÇÇ,1,KI,1
HT23a,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SA-SA-ME,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SI+ME,10

,logogram,number,logogram,number,logogram,number,logogram,number,word,number,word
HT100,TI+A,12,KI,2,*305,5,VIR+*313a,16,KU-RO,97,SA-RA‚ÇÇ
HT94a,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO,110,SA-RA‚ÇÇ
HT23a,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SA-SA-ME

,logogram,number,logogram,number,logogram,number,word,number,word,logogram,number
HT28a,OLE+DI,1,NI,2,VIN,3,VIR+KA-VIN,6,A-RU-DA-RA,GRA,5
HT100,KI,2,*305,5,VIR+*313a,16,KU-RO,97,SA-RA‚ÇÇ,CYP,5

,number,logogram,number,logogram,number,word,number,logogram,number,logogram,number
HT38,1,AU,1,CAP,3,*554-*118,3,TELA+KU,2,TELA+*312,1
HT34,245,SA+MU+KU,100,PA‚ÇÉ,70,KI-RO,37,E+KA,¬π‚ÅÑ‚ÇÅ‚ÇÜ,PU,¬π‚ÅÑ‚Çà

,word,number,word,number,word,number,word,number,word,number,word[
HT85a,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4,KU-RO
HT115a,NA-*21F-NE-MI-NA,1,SE-KU-TU,¬π‚ÅÑ‚ÇÇ,PA-RA-NE,1,A-SE-JA,êùÇêùÇêùÇêùÇ,KA-PO-RU,1,RI-SU-MA
HT87,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1,A-RA

,number,word,number,word,number,word,number,word also in linear b,number,word,number
HT122a,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA‚ÇÉ-NU,1
ZA10a,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT85b,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1
PE2,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ,TO-*49-RE,1
HT85a,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4

,number,logogram,number,word,number,word,number,word,number,word,number
HT85b,1,KA,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1
HT119,7,TI,7,JA-*345,10,*306-TU,2,*327-JU,8,KU-RO,160

,word,word separator,word,word separator,word,logogram,number,logogram,number,word,word separator
KH7a,I-JA-PA-ME,êÑÅ,TA-TA,êÑÅ,QA-TI-KI,VIR+*313b,4,CYP+D,¬π‚ÅÑ‚ÇÉ,SE-*305,êÑÅ
KH5,A-DA-KI-SI-KA,êÑÅ,A-RA-U-DA,êÑÅ,WI-SA-SA-NE,CYP+E,2,VINb+WI,2,WI-NA-DU,êÑÅ

,word,word separator,word,word separator,word,word separator,word,word separator,word,word separator,word
KOZa1,TU-RU-SA,êÑÅ,DU-*314-RE,êÑÅ,I-DA-A,êÑÅ,U-NA-KA-NA-SI,êÑÅ,I-PI-NA-MA,êÑÅ,SI-RU-TE
KNZf31,DA-DU-MI-NE,êÑÅ,QA-MI-*47-NA-RA,êÑÅ,A-WA-PI,êÑÅ,TE-SU-DE-SE-KE-I,êÑÅ,A-DA-RA,êÑÅ,TI-DI-TE-QA-TI

,word separator,word,word separator,word,word separator,word,word separator,word,word separator,word,word separator
PLZf1,êÑÅ,WI-TE-JA-MU,êÑÅ,U-QE-TI,êÑÅ,JA-SA-SA-RA-ME,êÑÅ,TA-NU-NI-KI-NA,êÑÅ,NI-NU-NI,êÑÅ
KNZf31,êÑÅ,DA-DU-MI-NE,êÑÅ,QA-MI-*47-NA-RA,êÑÅ,A-WA-PI,êÑÅ,TE-SU-DE-SE-KE-I,êÑÅ,A-DA-RA,êÑÅ

,word,number,word,number,word,number,word,number,word,number
HT9b,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1
HT1,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA‚ÇÉ-NU,109,A-RA-NA-RE,105
HT94b,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1
ZA14,ME-KI-DI,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8,KU-PI,1
HT95b,DA-ME,10,MI-NU-TE,10,KU-NI-SU,10,DI-DE-RU,10,QE-RA‚ÇÇ-U,10
HT87,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT117a,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1
HT95a,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10
HT11a,KA-RO-NA,2,*322-RI,1,KU-RO,10,A-SU-JA,1,VIR+[?]-I,3
ZA20,SI-TE-TU,1,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3,KU-RA,130
HT88,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1
HT7a,I-RU-JA,3,DU-JA,4,TA-NA-TI,1,DA-RE,1,TE-TU,1
HT115a,NA-*21F-NE-MI-NA,1,SE-KU-TU,¬π‚ÅÑ‚ÇÇ,PA-RA-NE,1,A-SE-JA,êùÇêùÇêùÇêùÇ,KA-PO-RU,1
PE2,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ,TO-*49-RE,1
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1
HT98a,TA-NA-TI,¬≥‚ÅÑ‚ÇÑ,DI-RE-DI-NA,¬π‚ÅÑ‚ÇÇ,TE-*301,¬≥‚ÅÑ‚ÇÑ,RO-KE,¬π‚ÅÑ‚ÇÇ,KA-RI-*310-I,¬π‚ÅÑ‚ÇÑ
HT85a,DA-RI-DA,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1
ZA4a,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI,3
HT122b,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65,PO-TO-KU-RO,97

,word,word separator,word,number,word,number,word,number,word,number
HT117a,SA-TA,êÑÅ,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1
HT87,MA-KA-RI-TE,êÑÅ,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1
HT1,QE-RA‚ÇÇ-U,êÑÅ,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA‚ÇÉ-NU,109

,logogram,number,word,number,logogram,number,word,number,word,number
HT6a,NI,15,PI-TA-JA,24,JA+RU,êùì,MA-*321,10,O-RA‚ÇÇ-DI-NE,2
HT118,KI,4,A-RI-SU,4,KI,1,RI-RU-MA,10,KU-RO,30
HT89,JU+*317+QE,22,MA-I-MI,24,VIR+*313a,13,TA-RA,5,KU-RO,87

,number,logogram,number,word,number,word,number,word,number,number
HT6a,24,JA+RU,êùì,MA-*321,10,O-RA‚ÇÇ-DI-NE,2,KA-PA-QE,5,¬≥‚ÅÑ‚ÇÑ
HT103,¬π‚ÅÑ‚ÇÇ,*188,13,DA-KU-NA,1,DA-KU-SE-NE,1,KI-RA,5,¬π‚ÅÑ‚ÇÇ

,number,number,word,number,word,number,word,number,word,number
HT9a,5,¬≥‚ÅÑ‚ÇÑ,*306-TU,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2
HT8a,3,¬π‚ÅÑ‚ÇÇ,TE-*301,2,QA-*310-I,¬≥‚ÅÑ‚ÇÑ,SI-KI-RA,¬π‚ÅÑ‚ÇÑ,KI-RE-TA-NA,¬π‚ÅÑ‚ÇÇ
PE2,1,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ

,word,number,number,word,number,number,word,number,word,number
HT104,DA-KU-SE-NE-TI,45,¬π‚ÅÑ‚ÇÇ,I-DU-TI,20,¬π‚ÅÑ‚ÇÇ,PA-DA-SU-TI,29,KU-RO,95
HT8a,PA‚ÇÉ-KA-RA-TI,1,¬π‚ÅÑ‚ÇÇ,PA,3,¬π‚ÅÑ‚ÇÇ,TE-*301,2,QA-*310-I,¬≥‚ÅÑ‚ÇÑ

,number,word,number,number,word,number,word,number,word,number
HT13,56,TE-KI,27,¬π‚ÅÑ‚ÇÇ,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5
PE2,¬π‚ÅÑ‚ÇÉ,RU-PI-*305-MI,1,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ
HT8a,¬π‚ÅÑ‚ÇÇ,PA,3,¬π‚ÅÑ‚ÇÇ,TE-*301,2,QA-*310-I,¬≥‚ÅÑ‚ÇÑ,SI-KI-RA,¬π‚ÅÑ‚ÇÑ
ZA15a,6,SI-PI-KI,2,¬π‚ÅÑ‚ÇÇ,JA-SA-MU,5,SA-MI-DA-E,4,*363-KE-MA-SE,5

,number,word,number,word,number,number,word,number,word,number
HT8b,5,PA‚ÇÉ-*188,2,QA-*310-I,1,¬≥‚ÅÑ‚Çà,KA-PA,¬π‚ÅÑ‚ÇÇ,PA-JA-RE,1
ZA15a,3,*28B-NU-MA-RE,6,SI-PI-KI,2,¬π‚ÅÑ‚ÇÇ,JA-SA-MU,5,SA-MI-DA-E,4

,logogram,number,logogram,number,logogram,number,logogram,number,word,number
HT127b,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14,KU-RO,291
HT23a,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT34,QA2+[?]+RE,¬π‚ÅÑ‚ÇÑ,MI+JA+I,245,SA+MU+KU,100,PA‚ÇÉ,70,KI-RO,37
HT100,TI+A,12,KI,2,*305,5,VIR+*313a,16,KU-RO,97
HT12,*118,5,CYP+E,3,NI,1,QA2+[?]+PU+RE,¬π‚ÅÑ‚ÇÅ‚ÇÜ,DA-I,50
HT94a,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO,110

,word,word separator,word,word separator,logogram,number,logogram,number,logogram,number
HT14,PU-VIN,êÑÅ,TE,êÑÅ,GRA,30,OLE+MI,3,OLE+DI,3
HT21,PI-TA-KA-SE,êÑÅ,TE,êÑÅ,GRA,161,OLE+U,11,OLE+E,3
HT28a,A-SI-JA-KA,êÑÅ,JA-*21F,êÑÅ,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ

,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number
HT23a,MI+JA+RU,‚âà ¬π‚ÅÑ‚ÇÜ,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17
KH11,CYP,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SU,3,CYP+E,êùáêùâ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,*306,4
HT14,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13
HT28a,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ
HT33,E+KA,êùÉêùâ,MI+JA+KA,¬π‚ÅÑ‚ÇÖ,*305,90,*341+PI,100,PA3+QE,100
HT34,QA2+[?]+PU,‚âà ¬π‚ÅÑ‚ÇÜ,QA2+[?]+RE,¬π‚ÅÑ‚ÇÑ,MI+JA+I,245,SA+MU+KU,100,PA‚ÇÉ,70
THEZg5,MA,40,PU,5,*171,7,ZO,9,TA,4
HT91,OLE+KI,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+U,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+MI,‚âà ¬π‚ÅÑ‚ÇÜ,OLIV,‚âà ¬π‚ÅÑ‚ÇÜ,NI,‚âà ¬π‚ÅÑ‚ÇÜ

,number,logogram,number,logogram,number,word,logogram,number,logogram,number
HT116a,5,OLE+MI,1,*OLIV+TU,2,SI-KI-NE,GRA,12,*304,12
HT90,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA‚ÇÇ,GRA,1,NI,1
HT18,20,OLE+KI,2,*304,3,SA-RA‚ÇÇ,GRA,10,NI,10

,number,logogram,number,number,logogram,number,number,logogram,number,number
HTZd157+156,1,*904,1,¬π‚ÅÑ‚ÇÇ,*904,2,¬π‚ÅÑ‚ÇÑ,*904,3,¬≥‚ÅÑ‚Çà
HT100,¬π‚ÅÑ‚ÇÑ,NI,2,double mina,VIN,2,¬π‚ÅÑ‚ÇÇ,OLE+U,2,‚âà ¬π‚ÅÑ‚ÇÜ
HT21,11,OLE+E,3,¬≥‚ÅÑ‚ÇÑ,*304,7,¬≥‚ÅÑ‚ÇÑ,OLIV,1,¬π‚ÅÑ‚ÇÑ

,logogram,number,word,number,word,number,logogram,number,word,number
HT102,GRA+PA,33,DI-RI-NA,10,MA-ZU,3,WI,10,I-KA,5
HT23a,E,17,*21F-RI-TU-QA,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SA-SA-ME,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SI+ME,10,KO-RU,1

,word separator,word,logogram,number,logogram,number,logogram,number,logogram,number
HT35,êÑÅ,I-KU-TA,CYP,1,MI+JA+RU,¬π‚ÅÑ‚ÇÉ,OLE+RI,¬π‚ÅÑ‚ÇÉ,*308,¬π‚ÅÑ‚ÇÉ
HT28b,êÑÅ,SA-RA‚ÇÇ,GRA,20,OLE+DI,5,NI,2,VIN,4

,word,logogram,number,logogram,number,logogram,number,logogram,number,word
HT28b,SA-RA‚ÇÇ,GRA,20,OLE+DI,5,NI,2,VIN,4,PU-RA‚ÇÇ
HT101,ZU-*22F-DI,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA‚ÇÇ
HT127b,72,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14,KU-RO
HT94a,62,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO

,word,number,word,number,word,number,word,number,word also in linear b,number
HT117a,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1

,number,logogram,number,logogram,number,logogram,number,word,word separator,logogram
HT91,‚âà ¬π‚ÅÑ‚ÇÜ,NI,‚âà ¬π‚ÅÑ‚ÇÜ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,E,5,TE-RI,êÑÅ,OLE+MI
ZA11a,¬π‚ÅÑ‚ÇÑ,JU,êùàêùâ,VIN,¬π‚ÅÑ‚ÇÇ,QE+GRA+PA,4,KU-PA,êÑÅ,GRA+PA

,word,number,word,number,place name,number,word,number,word,number
HT95b,DA-ME,10,MI-NU-TE,10,KU-NI-SU,10,DI-DE-RU,10,QE-RA‚ÇÇ-U,10
HT95a,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10,QE-RA‚ÇÇ-U,7

,number,word,number,word,number,word,number,word,number,word
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA
HT122b,2,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65,PO-TO-KU-RO
ZA4a,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI
ZA14,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8,KU-PI,1,TU-MI-TI-ZA-SE
PE2,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ,TO-*49-RE
HT98a,1,TA-NA-TI,¬≥‚ÅÑ‚ÇÑ,DI-RE-DI-NA,¬π‚ÅÑ‚ÇÇ,TE-*301,¬≥‚ÅÑ‚ÇÑ,RO-KE,¬π‚ÅÑ‚ÇÇ,KA-RI-*310-I

,number,word,number,word,number,logogram,number,word,number,word
HT102,33,DI-RI-NA,10,MA-ZU,3,WI,10,I-KA,5,KU-RO
HT119,13,KO-JA,10,KU-PA‚ÇÉ-NA-TU,7,TI,7,JA-*345,10,*306-TU

,word,number,word,number,word also in linear b,number,word,number,word,number
HT115a,NA-*21F-NE-MI-NA,1,SE-KU-TU,¬π‚ÅÑ‚ÇÇ,PA-RA-NE,1,A-SE-JA,êùÇêùÇêùÇêùÇ,KA-PO-RU,1
HT122a,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA‚ÇÉ-NU,1,PA-TA-NE,1

,word,logogram,number,number,logogram,number,logogram,number,word,logogram
HT129,KI-RE-TA‚ÇÇ,GRA,33,êùÜêùÅ,*304,10,NI,22,TU-*21F-RI-NA,GRA
ZA6b,I-KU-JU-TI-*28B,GRA+PA,50,¬π‚ÅÑ‚ÇÑ,VIN+RA,40,VIN+KA,10,*312-TA‚ÇÇ,GRA+PA

,word,word separator,word,word separator,word,word separator,word,word separator,word,word separator
PLZf1,WI-TE-JA-MU,êÑÅ,U-QE-TI,êÑÅ,JA-SA-SA-RA-ME,êÑÅ,TA-NU-NI-KI-NA,êÑÅ,NI-NU-NI,êÑÅ
KOZa1,TU-RU-SA,êÑÅ,DU-*314-RE,êÑÅ,I-DA-A,êÑÅ,U-NA-KA-NA-SI,êÑÅ,I-PI-NA-MA,êÑÅ

,number,word,number,word,number,word,number,word,number
ZA14,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8,KU-PI,1
HT95b,10,MI-NU-TE,10,KU-NI-SU,10,DI-DE-RU,10,QE-RA‚ÇÇ-U,10
HT8a,¬π‚ÅÑ‚ÇÇ,TE-*301,2,QA-*310-I,¬≥‚ÅÑ‚ÇÑ,SI-KI-RA,¬π‚ÅÑ‚ÇÑ,KI-RE-TA-NA,¬π‚ÅÑ‚ÇÇ
ZA20,4,SI-TE-TU,1,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3
HT87,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT117a,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1
HT6b,‚âà ¬π‚ÅÑ‚ÇÜ,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3
HT95a,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10
HT11a,2,*322-RI,1,KU-RO,10,A-SU-JA,1,VIR+[?]-I,3
HT7a,3,DU-JA,4,TA-NA-TI,1,DA-RE,1,TE-TU,1
HT88,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1
HT9a,¬≥‚ÅÑ‚ÇÑ,*306-TU,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2
HT115a,1,SE-KU-TU,¬π‚ÅÑ‚ÇÇ,PA-RA-NE,1,A-SE-JA,êùÇêùÇêùÇêùÇ,KA-PO-RU,1
PE2,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ
HT85b,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1
HT119,7,JA-*345,10,*306-TU,2,*327-JU,8,KU-RO,160
HT122b,2,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65
ZA4a,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50
HT85a,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5
ZA10a,1,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1
HT98a,1,TA-NA-TI,¬≥‚ÅÑ‚ÇÑ,DI-RE-DI-NA,¬π‚ÅÑ‚ÇÇ,TE-*301,¬≥‚ÅÑ‚ÇÑ,RO-KE,¬π‚ÅÑ‚ÇÇ
HT13,¬π‚ÅÑ‚ÇÇ,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5,KU-RO,130
HT9b,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2
HT94b,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1
HT1,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA‚ÇÉ-NU,109,A-RA-NA-RE,105

,number,word,number,word,number,word,number,number,word
HT9a,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2,¬π‚ÅÑ‚ÇÇ,TA-I-AROM
HT6a,êùì,MA-*321,10,O-RA‚ÇÇ-DI-NE,2,KA-PA-QE,5,¬≥‚ÅÑ‚ÇÑ,DA-QE-RA
HT6b,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3,¬π‚ÅÑ‚ÇÑ,SA-MA
HT10b,1,DA-RE,2,TA-RI-NA,15,*312-TA,6,¬π‚ÅÑ‚ÇÇ,KA-SA-RU

,number,logogram,number,word,number,word,number,word,number
HT6a,24,JA+RU,êùì,MA-*321,10,O-RA‚ÇÇ-DI-NE,2,KA-PA-QE,5
HT85b,1,KA,1,DI,1,ME-ZA,1,RE-DI-SE,1
HT119,34,VIR+[?],67,RI-MI-SI,13,KO-JA,10,KU-PA‚ÇÉ-NA-TU,7
HT103,¬π‚ÅÑ‚ÇÇ,*188,13,DA-KU-NA,1,DA-KU-SE-NE,1,KI-RA,5

,word,number,number,word,number,word,number,word,number
HT6b,WA-DU-NI-MI,3,‚âà ¬π‚ÅÑ‚ÇÜ,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66
PE2,RU-PI-*305-MI,1,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ

,word,word separator,logogram,word,number,word,number,word,number
HT7a,QE-TI,êÑÅ,VIR+[?],I-RU-JA,3,DU-JA,4,TA-NA-TI,1
HT95a,DA-DU-MA-TA,êÑÅ,GRA,DA-ME,10,MI-NU-TE,10,SA-RU,20

,number,number,word,number,number,word,number,word,number
HT8a,1,¬π‚ÅÑ‚ÇÇ,PA,3,¬π‚ÅÑ‚ÇÇ,TE-*301,2,QA-*310-I,¬≥‚ÅÑ‚ÇÑ
PE2,3,¬π‚ÅÑ‚ÇÉ,RU-PI-*305-MI,1,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ
HT104,45,¬π‚ÅÑ‚ÇÇ,I-DU-TI,20,¬π‚ÅÑ‚ÇÇ,PA-DA-SU-TI,29,KU-RO,95

,number,word,number,number,word,number,number,word,number
HT8a,10,PA‚ÇÉ-KA-RA-TI,1,¬π‚ÅÑ‚ÇÇ,PA,3,¬π‚ÅÑ‚ÇÇ,TE-*301,2
ZA8,¬π‚ÅÑ‚ÇÇ,MA-KA-I-SE,2,êùÉêùÜ,DA-I-PI-TA,2,¬π‚ÅÑ‚ÇÇ,KA-I-RO,4

,word,number,word,number,number,word,number,word,number
HT8b,PA‚ÇÉ-*188,2,QA-*310-I,1,¬≥‚ÅÑ‚Çà,KA-PA,¬π‚ÅÑ‚ÇÇ,PA-JA-RE,1
HT13,TE-TU,56,TE-KI,27,¬π‚ÅÑ‚ÇÇ,KU-ZU-NI,18,DA-SI-*118,19

,word,number,word,number,word,number,number,word,number
HT9a,DI-NA-U,4,QE-PU,2,*324-DI-RA,2,¬π‚ÅÑ‚ÇÇ,TA-I-AROM,2
ZA15a,MI-ZA-SE,3,*28B-NU-MA-RE,6,SI-PI-KI,2,¬π‚ÅÑ‚ÇÇ,JA-SA-MU,5

,word,number,word,number,word,number,word,number,number
HT10b,U-TI,1,DA-RE,2,TA-RI-NA,15,*312-TA,6,¬π‚ÅÑ‚ÇÇ
HT13,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5,KU-RO,130,¬π‚ÅÑ‚ÇÇ

,number,logogram,number,logogram,number,word,logogram,number,word
HT11b,40,KA,30,KA,50,RU-ZU-NA,KA,30,SA-QE-RI
HT28b,5,NI,2,VIN,4,PU-RA‚ÇÇ,NI,6,JA-*21F

,word separator,logogram,number,logogram,number,logogram,number,logogram,number
HT28a,êÑÅ,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1
HT14,êÑÅ,GRA,30,OLE+MI,3,OLE+DI,3,*304,9
HT12,êÑÅ,*118,5,CYP+E,3,NI,1,QA2+[?]+PU+RE,¬π‚ÅÑ‚ÇÅ‚ÇÜ

,logogram,number,logogram,number,logogram,number,logogram,number,word
HT101,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA‚ÇÇ
HT94a,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO
HT116a,GRA,16,OLE+KI,1,OLE+MI,6,OLIV,3,PI-*34-TE
HT28b,GRA,20,OLE+DI,5,NI,2,VIN,4,PU-RA‚ÇÇ
HT127b,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14,KU-RO
KH11,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,*306,4,CYP,¬π‚ÅÑ‚ÇÉ,*348-CYP,êùáêùâ,A-TO-*349-TO-I
HT34,QA2+[?]+RE,¬π‚ÅÑ‚ÇÑ,MI+JA+I,245,SA+MU+KU,100,PA‚ÇÉ,70,KI-RO
HT12,*118,5,CYP+E,3,NI,1,QA2+[?]+PU+RE,¬π‚ÅÑ‚ÇÅ‚ÇÜ,DA-I
HT23a,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA
HT100,TI+A,12,KI,2,*305,5,VIR+*313a,16,KU-RO
HT91,OLIV,‚âà ¬π‚ÅÑ‚ÇÜ,NI,‚âà ¬π‚ÅÑ‚ÇÜ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,E,5,TE-RI
HT28a,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ,SA-RA‚ÇÇ
HT14,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU‚ÇÇ-NA-DU

,logogram,number,logogram,number,word,word separator,logogram,number,logogram
HT91,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,E,5,TE-RI,êÑÅ,OLE+MI,‚âà ¬π‚ÅÑ‚ÇÜ,E
HT12,OLE+DI,5,*304,5,QE-TU-NE,êÑÅ,QA2+[?]+PU,1,E

,logogram,number,word,word separator,logogram,number,logogram,number,logogram
HT12,*304,5,QE-TU-NE,êÑÅ,QA2+[?]+PU,1,E,30,*560
HT116a,GRA,16,PU-RA‚ÇÇ,êÑÅ,GRA,40,OLE+DI,5,SI+SE

,word,logogram,number,logogram,number,logogram,number,logogram,number
HT35,I-KU-TA,CYP,1,MI+JA+RU,¬π‚ÅÑ‚ÇÉ,OLE+RI,¬π‚ÅÑ‚ÇÉ,*308,¬π‚ÅÑ‚ÇÉ
HT127b,72,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14
HT101,ZU-*22F-DI,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2
HT90,SI-RU-MA-RI-TA‚ÇÇ,GRA,1,NI,1,OLE+MI,1,*304,1
HT14,A-PU‚ÇÇ-NA-DU,GRA,45,OLE+MI,5,OLE+DI,4,*304,6
HT28b,SA-RA‚ÇÇ,GRA,20,OLE+DI,5,NI,2,VIN,4
HT94a,62,*86,20,TI+A,7,VIR+*313b,18,TA,4

,word,word separator,word,word separator,logogram,number,word,number,word
HT115b,TI-NU-JA,êÑÅ,NU-WI,êÑÅ,GRA,¬π‚ÅÑ‚ÇÇ,DU-PA‚ÇÉ-NA,1,KU-RU-MA
ZA8,KI-RA,êÑÅ,A-TA-RE,êÑÅ,NI,¬π‚ÅÑ‚ÇÇ,KU-TU-KO-RE,double mina,A-RI-NI-TA
HT17,RA-ÛΩá´-TI,êÑÅ,TE,êÑÅ,VIN,37,SA-RO,10,SI-DA-RE

      logogram number logogram number logogram number    word logogram number
HT18    GRA+QE     20   OLE+KI      2     *304      3  SA-RA‚ÇÇ      GRA     10
HT28b   OLE+DI      5       NI      2      VIN      4  PU-RA‚ÇÇ       NI      6

,logogram,number,logogram,number,logogram,number,word,number,word
HT28a,OLE+DI,1,NI,2,VIN,3,VIR+KA-VIN,6,A-RU-DA-RA
HT23a,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SA-SA-ME

,number,logogram,number,word,number,word,number,logogram,number
HT49a,1,*312,1,KU-PA‚ÇÉ-NU,1,TU-SU-PU‚ÇÇ,1,KI,1
HT23a,10,E,17,*21F-RI-TU-QA,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SA-SA-ME,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SI+ME,10
HT89,24,VIR+*313a,13,TA-RA,5,KU-RO,87,CYP,2

,number,word,number,word,number,logogram,number,word,number
HT119,13,KO-JA,10,KU-PA‚ÇÉ-NA-TU,7,TI,7,JA-*345,10
HT23a,17,*21F-RI-TU-QA,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SA-SA-ME,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SI+ME,10,KO-RU,1

,word,word separator,word,word separator,word,logogram,number,logogram,number
KH7a,I-JA-PA-ME,êÑÅ,TA-TA,êÑÅ,QA-TI-KI,VIR+*313b,4,CYP+D,¬π‚ÅÑ‚ÇÉ
KH5,A-DA-KI-SI-KA,êÑÅ,A-RA-U-DA,êÑÅ,WI-SA-SA-NE,CYP+E,2,VINb+WI,2
HT28b,A-SI-JA-KA,êÑÅ,U-MI-NA-SI,êÑÅ,SA-RA‚ÇÇ,GRA,20,OLE+DI,5

,logogram,number,logogram,number,number,logogram,number,logogram,number
HT32,OLE+NE,êùÜêùá,QA2+[?]+PU,1,¬π‚ÅÑ‚ÇÅ‚ÇÜ,QA2+[?]+RE,1,MI+JA+RU,1
TY3a,OLE+KI,51,OLE+KI+U,2,¬π‚ÅÑ‚ÇÖ,OLE+KI+ME,1,OLE+QIf,4

      ]number logogram number  logogram number logogram number logogram number
HT50a     ¬π‚ÅÑ‚ÇÑ   OLE+KI    ¬π‚ÅÑ‚ÇÑ    OLE+MI    ¬π‚ÅÑ‚ÇÇ    OLE+E    ¬π‚ÅÑ‚ÇÇ     *304      1
HT33        3     E+KA     êùÉêùâ  MI+JA+KA    ¬π‚ÅÑ‚ÇÖ     *305     90  *341+PI    100

,number,word,number,logogram,number,word,number,word,number
HT118,4,A-RI-SU,4,KI,1,RI-RU-MA,10,KU-RO,30
HT89,22,MA-I-MI,24,VIR+*313a,13,TA-RA,5,KU-RO,87
HT119,10,KU-PA‚ÇÉ-NA-TU,7,TI,7,JA-*345,10,*306-TU,2

,number,word,number,word,word separator,logogram,number,word,number
HT93a,¬≥‚ÅÑ‚ÇÑ,SA-RA‚ÇÇ,20,QA-QA-RU,êÑÅ,I-GRA+PA,5,VIR+[?]-I,6
HT115b,¬π‚ÅÑ‚ÇÇ,DU-PA‚ÇÉ-NA,1,KU-RU-MA,êÑÅ,I,¬π‚ÅÑ‚ÇÇ,*306-TU-JA,1

,logogram,number,logogram,number,word,logogram,number,logogram,number
HT116a,OLE+MI,1,*OLIV+TU,2,SI-KI-NE,GRA,12,*304,12
KH11,NI,1,VIN,3,A-TA-*350,*301,1,*306,1

,number,word,number,word,number,word,number,word also in linear b,number
HT117a,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1
PE2,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ

      number logogram number logogram number ]logogram number logogram number
HT140      3       KA      1    OLE+U      1        KA      1    OLE+U      2
KH8        2    CYP+D    ¬π‚ÅÑ‚ÇÇ       NI    ¬π‚ÅÑ‚ÇÇ       GRA    ¬π‚ÅÑ‚ÇÇ     *304    ¬π‚ÅÑ‚ÇÑ

,word,word separator,word,word separator,word,word separator,word,word separator,word
CR(?)Zf1,A-MA-WA-SI,êÑÅ,KA-NI-JA-MI,êÑÅ,I-JA,êÑÅ,QA-KI-SE-NU-TI,êÑÅ,A-TA-DE
KNZf31,DA-DU-MI-NE,êÑÅ,QA-MI-*47-NA-RA,êÑÅ,A-WA-PI,êÑÅ,TE-SU-DE-SE-KE-I,êÑÅ,A-DA-RA
KOZa1,TU-RU-SA,êÑÅ,DU-*314-RE,êÑÅ,I-DA-A,êÑÅ,U-NA-KA-NA-SI,êÑÅ,I-PI-NA-MA
PLZf1,WI-TE-JA-MU,êÑÅ,U-QE-TI,êÑÅ,JA-SA-SA-RA-ME,êÑÅ,TA-NU-NI-KI-NA,êÑÅ,NI-NU-NI

,word,number,word,number,word,number,word,number,lacuna
ZA20,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3,KU-RA,130,êù´
PH2,A-SE-TU-*21F,1,RA-O-DI-KI,60,PI-RU-E-JU,60,SE-SA-PA‚ÇÉ,60,êù´
PE2,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ,TO-*49-RE,1,êù´

,word,number,word,number,word,number,word,number
HT87,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1
HT117a,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1
HT8a,TE-*301,2,QA-*310-I,¬≥‚ÅÑ‚ÇÑ,SI-KI-RA,¬π‚ÅÑ‚ÇÑ,KI-RE-TA-NA,¬π‚ÅÑ‚ÇÇ
HT95a,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10
HT11a,KA-RO-NA,2,*322-RI,1,KU-RO,10,A-SU-JA,1
ZA20,SI-TE-TU,1,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3
HT88,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1
HT7a,I-RU-JA,3,DU-JA,4,TA-NA-TI,1,DA-RE,1
HT6b,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3
HT99b,SI+SE-NI,6,DA-SI-*118,2,ZU-DU,1,RU-MA-TA,1
HT115a,NA-*21F-NE-MI-NA,1,SE-KU-TU,¬π‚ÅÑ‚ÇÇ,PA-RA-NE,1,A-SE-JA,êùÇêùÇêùÇêùÇ
HT10b,U-TI,1,DA-RE,2,TA-RI-NA,15,*312-TA,6
PE2,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1
HT85a,DA-RI-DA,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24
HT98a,TA-NA-TI,¬≥‚ÅÑ‚ÇÑ,DI-RE-DI-NA,¬π‚ÅÑ‚ÇÇ,TE-*301,¬≥‚ÅÑ‚ÇÑ,RO-KE,¬π‚ÅÑ‚ÇÇ
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1
PH2,A-SE-TU-*21F,1,RA-O-DI-KI,60,PI-RU-E-JU,60,SE-SA-PA‚ÇÉ,60
HT9a,*306-TU,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2
HT9b,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2
ZA4a,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50
HT119,JA-*345,10,*306-TU,2,*327-JU,8,KU-RO,160
HT122b,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65
HT94b,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1
HT1,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA‚ÇÉ-NU,109
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1
HT13,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5,KU-RO,130
ZA14,ME-KI-DI,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8
HT95b,DA-ME,10,MI-NU-TE,10,KU-NI-SU,10,DI-DE-RU,10

      number        word number         word number        word number number
HT6a       êùì     MA-*321     10  O-RA‚ÇÇ-DI-NE      2    KA-PA-QE      5    ¬≥‚ÅÑ‚ÇÑ
HT9a      10     DI-NA-U      4        QE-PU      2  *324-DI-RA      2    ¬π‚ÅÑ‚ÇÇ
HT13      18  DA-SI-*118     19   I-DU-NE-SI      5       KU-RO    130    ¬π‚ÅÑ‚ÇÇ
HT103     13    DA-KU-NA      1  DA-KU-SE-NE      1       KI-RA      5    ¬π‚ÅÑ‚ÇÇ
HT6b       1  MA-RI-RE-I      3     DU-DA-MA     66       DA-KI      3    ¬π‚ÅÑ‚ÇÑ
HT10b      1       DA-RE      2     TA-RI-NA     15     *312-TA      6    ¬π‚ÅÑ‚ÇÇ

,word,word separator,word,word separator,logogram,number,word,number
HT6a,DA-TA-RA,êÑÅ,TE,êÑÅ,NI,15,PI-TA-JA,24
ZA8,KI-RA,êÑÅ,A-TA-RE,êÑÅ,NI,¬π‚ÅÑ‚ÇÇ,KU-TU-KO-RE,double mina
HT17,RA-ÛΩá´-TI,êÑÅ,TE,êÑÅ,VIN,37,SA-RO,10
HT19,RA-*164-TI,êÑÅ,TE,êÑÅ,VIN,30,SA-RO,5
KH88,QA-NU-MA,êÑÅ,*21F-*118,êÑÅ,NI,10,PU-DE,8
HT115b,TI-NU-JA,êÑÅ,NU-WI,êÑÅ,GRA,¬π‚ÅÑ‚ÇÇ,DU-PA‚ÇÉ-NA,1

      number      word number   logogram number      word number         word
HT89      22   MA-I-MI     24  VIR+*313a     13     TA-RA      5        KU-RO
HT102     10     MA-ZU      3         WI     10      I-KA      5        KU-RO
HT118      4   A-RI-SU      4         KI      1  RI-RU-MA     10        KU-RO
HT6a      15  PI-TA-JA     24      JA+RU      êùì   MA-*321     10  O-RA‚ÇÇ-DI-NE

           word number           word number      word number number      word
ZA15a  MI-ZA-SE      3  *28B-NU-MA-RE      6  SI-PI-KI      2    ¬π‚ÅÑ‚ÇÇ  JA-SA-MU
HT6a    MA-*321     10    O-RA‚ÇÇ-DI-NE      2  KA-PA-QE      5    ¬≥‚ÅÑ‚ÇÑ  DA-QE-RA

,number,word,number,number,word,number,word,number
HT8a,¬π‚ÅÑ‚ÇÇ,PA,3,¬π‚ÅÑ‚ÇÇ,TE-*301,2,QA-*310-I,¬≥‚ÅÑ‚ÇÑ
HT8b,2,QA-*310-I,1,¬≥‚ÅÑ‚Çà,KA-PA,¬π‚ÅÑ‚ÇÇ,PA-JA-RE,1
ZA15a,6,SI-PI-KI,2,¬π‚ÅÑ‚ÇÇ,JA-SA-MU,5,SA-MI-DA-E,4
HT13,56,TE-KI,27,¬π‚ÅÑ‚ÇÇ,KU-ZU-NI,18,DA-SI-*118,19
HT10b,15,*312-TA,6,¬π‚ÅÑ‚ÇÇ,KA-SA-RU,6,TA-NA-TI,9
PE2,¬π‚ÅÑ‚ÇÉ,RU-PI-*305-MI,1,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ
HT104,¬π‚ÅÑ‚ÇÇ,I-DU-TI,20,¬π‚ÅÑ‚ÇÇ,PA-DA-SU-TI,29,KU-RO,95
HT6b,66,DA-KI,3,¬π‚ÅÑ‚ÇÑ,SA-MA,35,PA‚ÇÉ-NI-NA,17

,number,word,number,word,number,number,word,number
HT6b,3,DU-DA-MA,66,DA-KI,3,¬π‚ÅÑ‚ÇÑ,SA-MA,35
HT10b,2,TA-RI-NA,15,*312-TA,6,¬π‚ÅÑ‚ÇÇ,KA-SA-RU,6
HT9a,4,QE-PU,2,*324-DI-RA,2,¬π‚ÅÑ‚ÇÇ,TA-I-AROM,2
HT8b,5,PA‚ÇÉ-*188,2,QA-*310-I,1,¬≥‚ÅÑ‚Çà,KA-PA,¬π‚ÅÑ‚ÇÇ
ZA8,?,TA-I-NU-MA-PA,¬π‚ÅÑ‚ÇÇ,MA-KA-I-SE,2,êùÉêùÜ,DA-I-PI-TA,2
ZA15a,3,*28B-NU-MA-RE,6,SI-PI-KI,2,¬π‚ÅÑ‚ÇÇ,JA-SA-MU,5

     logogram number          word number number      word number number
HT19      VIN     30         SA-RO      5    ¬π‚ÅÑ‚ÇÇ  DU-ME-DI     43    ¬π‚ÅÑ‚ÇÇ
HT8a   OLE+KI     10  PA‚ÇÉ-KA-RA-TI      1    ¬π‚ÅÑ‚ÇÇ        PA      3    ¬π‚ÅÑ‚ÇÇ

,number,word,number,word,number,number,word also in linear b,number
ZA8,?,TA-I-NU-MA-PA,¬π‚ÅÑ‚ÇÇ,MA-KA-I-SE,2,êùÉêùÜ,DA-I-PI-TA,2
HT8b,5,PA‚ÇÉ-*188,2,QA-*310-I,1,¬≥‚ÅÑ‚Çà,KA-PA,¬π‚ÅÑ‚ÇÇ

,word,number,number,word,number,number,word,number
HT9a,*324-DI-RA,2,¬π‚ÅÑ‚ÇÇ,TA-I-AROM,2,¬π‚ÅÑ‚ÇÇ,A-RU,4
ZA8,MA-KA-I-SE,2,êùÉêùÜ,DA-I-PI-TA,2,¬π‚ÅÑ‚ÇÇ,KA-I-RO,4
HT104,DA-KU-SE-NE-TI,45,¬π‚ÅÑ‚ÇÇ,I-DU-TI,20,¬π‚ÅÑ‚ÇÇ,PA-DA-SU-TI,29

     number number       word number     word number      word number
PE2       1    ¬π‚ÅÑ‚Çà  A-*325-ZA    ¬π‚ÅÑ‚ÇÑ  A-RI-PA    ¬π‚ÅÑ‚ÇÑ  QA-QA-DA    ¬π‚ÅÑ‚ÇÇ
HT9a      5    ¬≥‚ÅÑ‚ÇÑ    *306-TU     10  DI-NA-U      4     QE-PU      2

      number        word number logogram number       word number[      word
HT26b      3  KA-U-ZU-NI      4    KI+MU     12     I-*308       2  *188-*86
HT10a    ¬π‚ÅÑ‚ÇÇ   U-*325-ZA      4     *301      6  U-*325-ZA      14   *305-RU

,number,logogram,number,logogram,number,word,logogram,number
HT14,3,*304,9,OLIV,13,A-PU‚ÇÇ-NA-DU,GRA,45
HT28a,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ,SA-RA‚ÇÇ,OLE+DI,1
HT11b,40,KA,30,KA,50,RU-ZU-NA,KA,30
HT129,êùÜêùÅ,*304,10,NI,22,TU-*21F-RI-NA,GRA,40
HT116a,1,OLE+MI,6,OLIV,3,PI-*34-TE,GRA,5
HT101,8,OLE+MI,8,OLE+KI,2,SA-RA‚ÇÇ,GRA,41
HT18,20,OLE+KI,2,*304,3,SA-RA‚ÇÇ,GRA,10
HT90,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA‚ÇÇ,GRA,1
HT28b,5,NI,2,VIN,4,PU-RA‚ÇÇ,NI,6
KH11,4,CYP,¬π‚ÅÑ‚ÇÉ,*348-CYP,êùáêùâ,A-TO-*349-TO-I,CYP+E,3

           word     word number logogram number logogram number       word
HT38   DA-RO-PA  *403-VS      1       AU      1      CAP      3  *554-*118
HT11b    RU-RA‚ÇÇ   *86-KA     40       KA     30       KA     50   RU-ZU-NA

,word separator,logogram,number,logogram,number,logogram,word separator,logogram
HT12,êÑÅ,QA2+[?]+PU,1,E,30,*560,êÑÅ,*118
HT27b,êÑÅ,SA,1,RE,14,VIN,êÑÅ,SI

,logogram,number,logogram,number,logogram,number,logogram,number
HT35,CYP,1,MI+JA+RU,¬π‚ÅÑ‚ÇÉ,OLE+RI,¬π‚ÅÑ‚ÇÉ,*308,¬π‚ÅÑ‚ÇÉ
HT28b,GRA,20,OLE+DI,5,NI,2,VIN,4
HT100,TI+A,12,KI,2,*305,5,VIR+*313a,16
HT28a,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1
HT33,E+KA,êùÉêùâ,MI+JA+KA,¬π‚ÅÑ‚ÇÖ,*305,90,*341+PI,100
KH7b,CYP+D,¬π‚ÅÑ‚ÇÇ,*304+PA,1,SI,14,CYP+K,2
HT94a,*86,20,TI+A,7,VIR+*313b,18,TA,4
HT50a,OLE+KI,¬π‚ÅÑ‚ÇÑ,OLE+MI,¬π‚ÅÑ‚ÇÇ,OLE+E,¬π‚ÅÑ‚ÇÇ,*304,1
THEZg5,MA,40,PU,5,*171,7,ZO,9
HT127b,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14
HT23a,CYP,¬π‚ÅÑ‚ÇÉ,*308,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+NE,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+TU,‚âà ¬π‚ÅÑ‚ÇÜ
HT90,GRA,1,NI,1,OLE+MI,1,*304,1
KH11,CYP,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SU,3,CYP+E,êùáêùâ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ
HT34,QA2+[?]+PU,‚âà ¬π‚ÅÑ‚ÇÜ,QA2+[?]+RE,¬π‚ÅÑ‚ÇÑ,MI+JA+I,245,SA+MU+KU,100
HT101,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2
HT116a,GRA,16,OLE+KI,1,OLE+MI,6,OLIV,3
HT91,OLE+KI,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+U,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+MI,‚âà ¬π‚ÅÑ‚ÇÜ,OLIV,‚âà ¬π‚ÅÑ‚ÇÜ
HT14,GRA,30,OLE+MI,3,OLE+DI,3,*304,9
HT12,*118,5,CYP+E,3,NI,1,QA2+[?]+PU+RE,¬π‚ÅÑ‚ÇÅ‚ÇÜ

,word,word separator,logogram,number,logogram,number,word,word separator
KH7a,E-NA-SI,êÑÅ,VIR+*313b,10,CYP+D,¬π‚ÅÑ‚ÇÇ,I-JA-PA-ME,êÑÅ
HT12,QA-TI-DA-TE,êÑÅ,OLE+DI,5,*304,5,QE-TU-NE,êÑÅ

,number,logogram,number,logogram,number,logogram,number,word
HT127b,24,KI+MU,15,*301,11,KI+MU,14,KU-RO
ZA11a,¬π‚ÅÑ‚ÇÑ,JU,êùàêùâ,VIN,¬π‚ÅÑ‚ÇÇ,QE+GRA+PA,4,KU-PA
HT28a,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ,SA-RA‚ÇÇ
HT94a,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO
HT23a,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA
HT100,12,KI,2,*305,5,VIR+*313a,16,KU-RO
HT101,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA‚ÇÇ
HT12,5,CYP+E,3,NI,1,QA2+[?]+PU+RE,¬π‚ÅÑ‚ÇÅ‚ÇÜ,DA-I
HT116a,16,OLE+KI,1,OLE+MI,6,OLIV,3,PI-*34-TE
KH11,‚âà ¬π‚ÅÑ‚ÇÜ,*306,4,CYP,¬π‚ÅÑ‚ÇÉ,*348-CYP,êùáêùâ,A-TO-*349-TO-I
HT14,3,OLE+DI,3,*304,9,OLIV,13,A-PU‚ÇÇ-NA-DU
HT28b,20,OLE+DI,5,NI,2,VIN,4,PU-RA‚ÇÇ

,word,word separator,logogram,number,logogram,number,logogram,number
HT28a,JA-*21F,êÑÅ,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ
HT21,TE,êÑÅ,GRA,161,OLE+U,11,OLE+E,3
HT23a,KA-NA,êÑÅ,CYP,¬π‚ÅÑ‚ÇÉ,*308,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+NE,‚âà ¬π‚ÅÑ‚ÇÜ
HT32,SA-RA‚ÇÇ,êÑÅ,*308,¬π‚ÅÑ‚ÇÇ,OLE+NE,êùÜêùá,QA2+[?]+PU,1
HT14,TE,êÑÅ,GRA,30,OLE+MI,3,OLE+DI,3

,word,word separator,word,word separator,logogram,number,logogram,number
HT21,PI-TA-KA-SE,êÑÅ,TE,êÑÅ,GRA,161,OLE+U,11
HT92,TE,êÑÅ,A-DU,êÑÅ,GRA,680,*304,12
HT14,PU-VIN,êÑÅ,TE,êÑÅ,GRA,30,OLE+MI,3
HT28a,A-SI-JA-KA,êÑÅ,JA-*21F,êÑÅ,GRA+QE,5,OLE+U,2

,word,word separator,logogram,number,word,number,word,number
HT17,TE,êÑÅ,VIN,37,SA-RO,10,SI-DA-RE,5
HT93a,QA-QA-RU,êÑÅ,I-GRA+PA,5,VIR+[?]-I,6,DE-JU-KU,1

,number,logogram,number,number,logogram,number,number,logogram
HT100,¬π‚ÅÑ‚ÇÑ,NI,2,double mina,VIN,2,¬π‚ÅÑ‚ÇÇ,OLE+U
HT21,11,OLE+E,3,¬≥‚ÅÑ‚ÇÑ,*304,7,¬≥‚ÅÑ‚ÇÑ,OLIV
HTZd157+156,1,*904,1,¬π‚ÅÑ‚ÇÇ,*904,2,¬π‚ÅÑ‚ÇÑ,*904
HT89,87,CYP,2,¬≥‚ÅÑ‚ÇÑ,NI,2,¬π‚ÅÑ‚ÇÑ,VIN

      number logogram number           word number       word number logogram
HT23a     10        E     17  *21F-RI-TU-QA   ¬π‚ÅÑ‚ÇÅ‚ÇÜ   SA-SA-ME   ¬π‚ÅÑ‚ÇÅ‚ÇÜ    SI+ME
HT118      4       KI      1       RI-RU-MA     10      KU-RO     30       KI
HT49a      1     *312      1      KU-PA‚ÇÉ-NU      1  TU-SU-PU‚ÇÇ      1       KI

      logogram number           word number       word number logogram number
HT49a     *312      1      KU-PA‚ÇÉ-NU      1  TU-SU-PU‚ÇÇ      1       KI      1
HT23a        E     17  *21F-RI-TU-QA   ¬π‚ÅÑ‚ÇÅ‚ÇÜ   SA-SA-ME   ¬π‚ÅÑ‚ÇÅ‚ÇÜ    SI+ME     10
HT102   GRA+PA     33       DI-RI-NA     10      MA-ZU      3       WI     10

,logogram,number,logogram,number,word,number,word,number
HT119,*327,34,VIR+[?],67,RI-MI-SI,13,KO-JA,10
HT49a,*370,1,*312,1,KU-PA‚ÇÉ-NU,1,TU-SU-PU‚ÇÇ,1
HT23a,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SA-SA-ME,¬π‚ÅÑ‚ÇÅ‚ÇÜ

       number      word number      word number        word number     word[
HT25a       1   U-RE-WI      1   DI-NA-U      1  A-RI-NI-TA      1  TU-QE-NU
HT87        1  DI-KI-SE      1  QE-SU-PU      1    KU-RU-KU      1      A-RA
HT85a      24  KU-ZU-NI      5     TE-KE      3       DA-RE      4     KU-RO
HT115a    ¬π‚ÅÑ‚ÇÇ  PA-RA-NE      1   A-SE-JA   êùÇêùÇêùÇêùÇ    KA-PO-RU      1  RI-SU-MA

,]word,number,word,number,word,number,word,number
HT122a,DI,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1
HT122b,A-RA-JU-U-DE-ZA,2,QA-QA-RU,2,DI,2,DA-RE,2
ZA4a,TU-ME-SE,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5
HT25a,RU-NI,1,U-RE-WI,1,DI-NA-U,1,A-RI-NI-TA,1

,word[,]word,number,word,number,word,number,word
HT25a,DI-NA-U,RU-NI,1,U-RE-WI,1,DI-NA-U,1,A-RI-NI-TA
HT123+124b,KA-NA,SI-DU,‚âà ¬π‚ÅÑ‚ÇÜ,DU-MA-I-NA,¬≥‚ÅÑ‚Çà,KU-RO,20,KI-RO

,word,word separator,word,logogram,number,logogram,number,word
HT25b,WI-TE-RO,êÑÅ,I-TI,VIR+[?],28,VIR+[?],24,KU-RO
KH7a,TA-TA,êÑÅ,QA-TI-KI,VIR+*313b,4,CYP+D,¬π‚ÅÑ‚ÇÉ,SE-*305
KH5,A-RA-U-DA,êÑÅ,WI-SA-SA-NE,CYP+E,2,VINb+WI,2,WI-NA-DU

,word separator,word,word separator,word,number,word,number,word
HT26a,êÑÅ,*312-TE-TE,êÑÅ,TA-TI,21,MI-KI-SE-NA,15,U-NU-*21F
HT87,êÑÅ,MA-KA-RI-TE,êÑÅ,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE
HT117a,êÑÅ,U-MI-NA-SI,êÑÅ,U-SU,1,MI-TU,1,KU-RA-MU

      number    logogram number      word number   logogram number     word
HT118     15          KI     10  QA-QA-RU      6         KI      4  A-RI-SU
HT27a      5     VIR+[?]     42     KU-RO    335        CYP      9       êùïêùÅ
HT89      23  JU+*317+QE     22   MA-I-MI     24  VIR+*313a     13    TA-RA

      number logogram number           word logogram number number logogram
HT27a    335      CYP      9             êùïêùÅ       NI     10    ¬π‚ÅÑ‚ÇÉ      VIN
HT129     10       NI     22  TU-*21F-RI-NA      GRA     40    ¬π‚ÅÑ‚ÇÇ   OLE+DI

,word,word separator,logogram,word separator,logogram,number,logogram,number
HT89,A-SA-RA‚ÇÇ,êÑÅ,*307,êÑÅ,*305,23,JU+*317+QE,22
HT27b,PA-SE,êÑÅ,VIN+WA,êÑÅ,SA,4,RE,70
HT91,I-KA,êÑÅ,*326,êÑÅ,GRA,.3,*304,‚âà ¬π‚ÅÑ‚ÇÜ

,number,logogram,number,logogram,number,word,number,word
HT49a,1,*370,1,*312,1,KU-PA‚ÇÉ-NU,1,TU-SU-PU‚ÇÇ
HT100,2,*305,5,VIR+*313a,16,KU-RO,97,SA-RA‚ÇÇ
HT28a,1,NI,2,VIN,3,VIR+KA-VIN,6,A-RU-DA-RA
HT94a,7,VIR+*313b,18,TA,4,KU-RO,110,SA-RA‚ÇÇ

,number,word,number,word,logogram,number,logogram,number
HT28a,3,VIR+KA-VIN,6,A-RU-DA-RA,GRA,5,*304,2
HT94a,4,KU-RO,110,SA-RA‚ÇÇ,CYP,5,NI,3
HT123+124a,¬≥‚ÅÑ‚ÇÑ,KI-RO,.3,SA-RU,OLIV,16,*308,4

      number    logogram number number    logogram number  logogram number
HT32      êùÜêùá  QA2+[?]+PU      1   ¬π‚ÅÑ‚ÇÅ‚ÇÜ  QA2+[?]+RE      1  MI+JA+RU      1
HT100    ¬π‚ÅÑ‚ÇÇ       OLE+U      2  ‚âà ¬π‚ÅÑ‚ÇÜ      OLE+MI      3    OLE+NE    ¬≥‚ÅÑ‚ÇÑ
TY3a      51    OLE+KI+U      2    ¬π‚ÅÑ‚ÇÖ   OLE+KI+ME      1   OLE+QIf      4

,number,logogram,number,word,word separator,number,word,number
HT32,1,MI+JA+RU,1,SU-RE,êÑÅ,108,DI,65
HT123+124b,4,*188,1,*188-DU,êÑÅ,10,TU-PA-DI-DA,13/20

,logogram,number,number,logogram,number,logogram,number,word
ZA6b,GRA+PA,50,¬π‚ÅÑ‚ÇÑ,VIN+RA,40,VIN+KA,10,*312-TA‚ÇÇ
HT129,GRA,33,êùÜêùÅ,*304,10,NI,22,TU-*21F-RI-NA
HT32,QA2+[?]+PU,1,¬π‚ÅÑ‚ÇÅ‚ÇÜ,QA2+[?]+RE,1,MI+JA+RU,1,SU-RE

      logogram number    logogram number       word number   logogram number
HT34  SA+MU+KU    100         PA‚ÇÉ     70      KI-RO     37       E+KA   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT89      *305     23  JU+*317+QE     22    MA-I-MI     24  VIR+*313a     13
HT38        AU      1         CAP      3  *554-*118      3    TELA+KU      2

      number number    logogram number    logogram number   logogram number
TY3a      15    ¬π‚ÅÑ‚ÇÑ       OLE+U     22       NE-KI      5    OLE+QIf      3
HT34       2     êùÖêùá  QA2+[?]+PU  ‚âà ¬π‚ÅÑ‚ÇÜ  QA2+[?]+RE    ¬π‚ÅÑ‚ÇÑ    MI+JA+I    245
ZA11a      2    ¬π‚ÅÑ‚ÇÑ          JU     êùàêùâ         VIN    ¬π‚ÅÑ‚ÇÇ  QE+GRA+PA      4

          word number logogram number logogram number       word number
HT38   *403-VS      1       AU      1      CAP      3  *554-*118      3
HT49a     A-RU      1     *370      1     *312      1  KU-PA‚ÇÉ-NU      1

,word,word separator,word,word separator,logogram,number,word,word separator
HT93a,PA‚ÇÉ-NI-NA,êÑÅ,GRA-PA‚ÇÉ,êÑÅ,RE+SE,12,DI-RI-NA,êÑÅ
HT40,NU-DU-*331,êÑÅ,TE,êÑÅ,GRA,207,KI-DA-TA,êÑÅ

      ]logogram[ ]number logogram number logogram number logogram number
HT50a        GRA     ¬π‚ÅÑ‚ÇÑ   OLE+KI    ¬π‚ÅÑ‚ÇÑ   OLE+MI    ¬π‚ÅÑ‚ÇÇ    OLE+E    ¬π‚ÅÑ‚ÇÇ
HT140         KA       4    OLE+U      3       KA      1    OLE+U      1

,word,number,word,number,word also in linear b,number,word,number
PE2,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ,TO-*49-RE,1
HT115a,NA-*21F-NE-MI-NA,1,SE-KU-TU,¬π‚ÅÑ‚ÇÇ,PA-RA-NE,1,A-SE-JA,êùÇêùÇêùÇêùÇ
ZA10a,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT85b,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1
HT85a,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4

,word,word separator,word,number,word,number,word,number
HT117a,U-MI-NA-SI,êÑÅ,U-SU,1,MI-TU,1,KU-RA-MU,1
HT85b,KI-KI-RA-JA,êÑÅ,KI-RE-TA‚ÇÇ,1,QE-KA,1,PA,1

,word,word separator,word,word separator,word,logogram,number,word
HT96a,A-PA-RA-NE,êÑÅ,A-AROM-TE,êÑÅ,SI-MI-TA,GRA,5,RU-SA
HT116a,U-TA-RO,êÑÅ,TE,êÑÅ,KU-PA-JA,GRA,16,PU-RA‚ÇÇ

           number   word number    word logogram number number logogram
HT100          16  KU-RO     97  SA-RA‚ÇÇ      CYP      5    ¬π‚ÅÑ‚ÇÑ       NI
HT123+124a    ¬π‚ÅÑ‚ÇÑ  KI-RO    ¬≥‚ÅÑ‚ÇÑ   KU-RO     OLIV     93    ¬π‚ÅÑ‚ÇÇ     *308

,logogram,number,word,word separator,logogram,number,logogram,number
HT116a,GRA,16,PU-RA‚ÇÇ,êÑÅ,GRA,40,OLE+DI,5
KH7a,CYP+E,¬π‚ÅÑ‚ÇÅ‚ÇÜ,E-NA-SI,êÑÅ,VIR+*313b,10,CYP+D,¬π‚ÅÑ‚ÇÇ

,word,word separator,word,word separator,word,word separator,word[,word separator
KNZc7,DU-RA-RE,êÑÅ,A-ZU-RA,êÑÅ,JA-SA-RA-A-NA-NE,êÑÅ,WI-PI,êÑÅ
IOZa2,A-TA-I-*301-WA-JA,êÑÅ,JA-DI-KI-TU,êÑÅ,JA-SA-SA-RA-ME,êÑÅ,U-NA-KA-NA-SI,êÑÅ

,word,word separator,word,word separator,word,word separator,word,word separator
CR(?)Zf1,A-MA-WA-SI,êÑÅ,KA-NI-JA-MI,êÑÅ,I-JA,êÑÅ,QA-KI-SE-NU-TI,êÑÅ
PLZf1,WI-TE-JA-MU,êÑÅ,U-QE-TI,êÑÅ,JA-SA-SA-RA-ME,êÑÅ,TA-NU-NI-KI-NA,êÑÅ
KNZf31,DA-DU-MI-NE,êÑÅ,QA-MI-*47-NA-RA,êÑÅ,A-WA-PI,êÑÅ,TE-SU-DE-SE-KE-I,êÑÅ
KOZa1,TU-RU-SA,êÑÅ,DU-*314-RE,êÑÅ,I-DA-A,êÑÅ,U-NA-KA-NA-SI,êÑÅ
KNZc7,A-KA-NU-ZA-TI,êÑÅ,DU-RA-RE,êÑÅ,A-ZU-RA,êÑÅ,JA-SA-RA-A-NA-NE,êÑÅ

       number        word number           word number           word number
HT103      13    DA-KU-NA      1    DA-KU-SE-NE      1          KI-RA      5
HT7a        3       DU-JA      4       TA-NA-TI      1          DA-RE      1
HT87        1    JA-RE-MI      1       DI-KI-SE      1       QE-SU-PU      1
HT95a      10    MI-NU-TE     10          SA-RU     20       KU-NI-SU     10
HT117a      1       MI-TU      1       KU-RA-MU      1          MA-RU      1
HT6b    ‚âà ¬π‚ÅÑ‚ÇÜ    RA-TI-SE      1     MA-RI-RE-I      3       DU-DA-MA     66
HT11a       2     *322-RI      1          KU-RO     10        A-SU-JA      1
HT99b       6  DA-SI-*118      2          ZU-DU      1       RU-MA-TA      1
HT25a       1     U-RE-WI      1        DI-NA-U      1     A-RI-NI-TA      1
HT115a      1    SE-KU-TU    ¬π‚ÅÑ‚ÇÇ       PA-RA-NE      1        A-SE-JA   êùÇêùÇêùÇêùÇ
HT85b       1          DI      1          ME-ZA      1       RE-DI-SE      1
HT88        1       KA-JU      1      KU-PA‚ÇÉ-NU      1       PA-JA-RE      1
HT9a      ¬≥‚ÅÑ‚ÇÑ     *306-TU     10        DI-NA-U      4          QE-PU      2
PE2       ¬π‚ÅÑ‚Çà   A-*325-ZA    ¬π‚ÅÑ‚ÇÑ        A-RI-PA    ¬π‚ÅÑ‚ÇÑ       QA-QA-DA    ¬π‚ÅÑ‚ÇÇ
HT122a      1       TE-KI      2      QA-*310-I      3    JA-MI-DA-RE      1
HT122b      2    QA-QA-RU      2             DI      2          DA-RE      2
PH2         1  RA-O-DI-KI     60     PI-RU-E-JU     60      SE-SA-PA‚ÇÉ     60
ZA4a       18  QE-SI-ZU-E      4  *28B-NU-MA-RE     13       SI-PI-KI      5
HT10b       1       DA-RE      2       TA-RI-NA     15        *312-TA      6
HT9b        3        A-SI      3        *306-TU      8     *324-DI-RA      2
HT85a      12      PA‚ÇÉ-NI     12      U-*325-ZA      6     DA-SI-*118     24
HT98a       1    TA-NA-TI    ¬≥‚ÅÑ‚ÇÑ    DI-RE-DI-NA    ¬π‚ÅÑ‚ÇÇ        TE-*301    ¬≥‚ÅÑ‚ÇÑ
ZA10a       1  A-KU-MI-NA      1     A-TA-NA-TE      1      A-MI-DA-U      1
HT13      ¬π‚ÅÑ‚ÇÇ    KU-ZU-NI     18     DA-SI-*118     19     I-DU-NE-SI      5
HT94b       1    PA-TA-NE      1          DE-DI      1       KE-KI-RU      1
ZA14        1   *21F-*118      1  PU-NI-KA-*363      3       QA-TI-JU      8
HT1       197       ZU-SU     70    DI-DI-ZA-KE     52      KU-PA‚ÇÉ-NU    109
ZA15a     ¬π‚ÅÑ‚ÇÇ    JA-SA-MU      5     SA-MI-DA-E      4  *363-KE-MA-SE      5
HT95b      10    MI-NU-TE     10       KU-NI-SU     10       DI-DE-RU     10
HT6a        êùì     MA-*321     10    O-RA‚ÇÇ-DI-NE      2       KA-PA-QE      5
HT8a      ¬π‚ÅÑ‚ÇÇ     TE-*301      2      QA-*310-I    ¬≥‚ÅÑ‚ÇÑ       SI-KI-RA    ¬π‚ÅÑ‚ÇÑ
HT119      67    RI-MI-SI     13          KO-JA     10   KU-PA‚ÇÉ-NA-TU      7
ZA20        4    SI-TE-TU      1          SI-TU      6        TE-AROM     12

,word,word separator,word,number,word,number,word
HT26a,*312-TE-TE,êÑÅ,TA-TI,21,MI-KI-SE-NA,15,U-NU-*21F
HT88,KI-RO,êÑÅ,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU
HT1,QE-RA‚ÇÇ-U,êÑÅ,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE
HT117a,SA-TA,êÑÅ,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU
HT9b,KA-*305,êÑÅ,PA-DE,3,A-SI,3,*306-TU
HT94b,KI-RO,êÑÅ,TU-MA,1,PA-TA-NE,1,DE-DI
HT85b,KI-KI-RA-JA,êÑÅ,KI-RE-TA‚ÇÇ,1,QE-KA,1,PA

         word word separator logogram number[ ]logogram number logogram
KH14  A-MA-JA              êÑÅ      CYP       6       CYP    ¬π‚ÅÑ‚ÇÑ     *336
HT2   A-KA-RU              êÑÅ    OLE+U      20     OLE+A     17    OLE+E

     number           word number        word number number        word
HT6a     10    O-RA‚ÇÇ-DI-NE      2    KA-PA-QE      5    ¬≥‚ÅÑ‚ÇÑ    DA-QE-RA
ZA8       ?  TA-I-NU-MA-PA    ¬π‚ÅÑ‚ÇÇ  MA-KA-I-SE      2     êùÉêùÜ  DA-I-PI-TA
HT8b      5       PA‚ÇÉ-*188      2   QA-*310-I      1    ¬≥‚ÅÑ‚Çà       KA-PA

      number      word number logogram number     word number
HT23a   ¬π‚ÅÑ‚ÇÅ‚ÇÜ  SA-SA-ME   ¬π‚ÅÑ‚ÇÅ‚ÇÜ    SI+ME     10    KO-RU      1
HT6a      15  PI-TA-JA     24    JA+RU      êùì  MA-*321     10

      number   logogram number           word number         word number
HT85b      1         KA      1             DI      1        ME-ZA      1
HT118      4         KI      1       RI-RU-MA     10        KU-RO     30
HT6a      24      JA+RU      êùì        MA-*321     10  O-RA‚ÇÇ-DI-NE      2
HT49a      1       *312      1      KU-PA‚ÇÉ-NU      1    TU-SU-PU‚ÇÇ      1
HT89      24  VIR+*313a     13          TA-RA      5        KU-RO     87
HT23a     10          E     17  *21F-RI-TU-QA   ¬π‚ÅÑ‚ÇÅ‚ÇÜ     SA-SA-ME   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT103    ¬π‚ÅÑ‚ÇÇ       *188     13       DA-KU-NA      1  DA-KU-SE-NE      1

      logogram number      word number logogram number     word
HT6a        NI     15  PI-TA-JA     24    JA+RU      êùì  MA-*321
HT27a  VIR+[?]     42     KU-RO    335      CYP      9       êùïêùÅ

,word,word separator,word,word separator,logogram,number,word
HT17,RA-ÛΩá´-TI,êÑÅ,TE,êÑÅ,VIN,37,SA-RO
HT6a,DA-TA-RA,êÑÅ,TE,êÑÅ,NI,15,PI-TA-JA
ZA8,KI-RA,êÑÅ,A-TA-RE,êÑÅ,NI,¬π‚ÅÑ‚ÇÇ,KU-TU-KO-RE
HT93a,PA‚ÇÉ-NI-NA,êÑÅ,GRA-PA‚ÇÉ,êÑÅ,RE+SE,12,DI-RI-NA
HT40,NU-DU-*331,êÑÅ,TE,êÑÅ,GRA,207,KI-DA-TA
HT19,RA-*164-TI,êÑÅ,TE,êÑÅ,VIN,30,SA-RO
KH88,QA-NU-MA,êÑÅ,*21F-*118,êÑÅ,NI,10,PU-DE
HT115b,TI-NU-JA,êÑÅ,NU-WI,êÑÅ,GRA,¬π‚ÅÑ‚ÇÇ,DU-PA‚ÇÉ-NA

      logogram number      word number         word number          word
HT6a     JA+RU      êùì   MA-*321     10  O-RA‚ÇÇ-DI-NE      2      KA-PA-QE
HT103     *188     13  DA-KU-NA      1  DA-KU-SE-NE      1         KI-RA
HT96a      GRA      5     RU-SA      4    *323-*317      1      PI-TA-RA
HT85b       KA      1        DI      1        ME-ZA      1      RE-DI-SE
HT119  VIR+[?]     67  RI-MI-SI     13        KO-JA     10  KU-PA‚ÇÉ-NA-TU

                word number number         word number        word number
HT8b       QA-*310-I      1    ¬≥‚ÅÑ‚Çà        KA-PA    ¬π‚ÅÑ‚ÇÇ    PA-JA-RE      1
HT6b     WA-DU-NI-MI      3  ‚âà ¬π‚ÅÑ‚ÇÜ     RA-TI-SE      1  MA-RI-RE-I      3
HT10b        *312-TA      6    ¬π‚ÅÑ‚ÇÇ     KA-SA-RU      6    TA-NA-TI      9
HT8a              PA      3    ¬π‚ÅÑ‚ÇÇ      TE-*301      2   QA-*310-I    ¬≥‚ÅÑ‚ÇÑ
HT104        I-DU-TI     20    ¬π‚ÅÑ‚ÇÇ  PA-DA-SU-TI     29       KU-RO     95
HT10a        *305-RU      2    ¬π‚ÅÑ‚ÇÇ     DA-RI-DA      8       ME-ZA      3
HT13           TE-KI     27    ¬π‚ÅÑ‚ÇÇ     KU-ZU-NI     18  DA-SI-*118     19
ZA15a       SI-PI-KI      2    ¬π‚ÅÑ‚ÇÇ     JA-SA-MU      5  SA-MI-DA-E      4
PE2    RU-PI-*305-MI      1    ¬π‚ÅÑ‚Çà    A-*325-ZA    ¬π‚ÅÑ‚ÇÑ     A-RI-PA    ¬π‚ÅÑ‚ÇÑ

                word number        word number number        word number
ZA8    TA-I-NU-MA-PA    ¬π‚ÅÑ‚ÇÇ  MA-KA-I-SE      2     êùÉêùÜ  DA-I-PI-TA      2
ZA5b   *28B-NU-MA-RE     20    SI-PI-KI      1    ¬π‚ÅÑ‚ÇÇ  MA-KA-I-TA      3
HT13           TE-TU     56       TE-KI     27    ¬π‚ÅÑ‚ÇÇ    KU-ZU-NI     18
HT6b        DU-DA-MA     66       DA-KI      3    ¬π‚ÅÑ‚ÇÑ       SA-MA     35
ZA15a  *28B-NU-MA-RE      6    SI-PI-KI      2    ¬π‚ÅÑ‚ÇÇ    JA-SA-MU      5
HT10b       TA-RI-NA     15     *312-TA      6    ¬π‚ÅÑ‚ÇÇ    KA-SA-RU      6
HT9a           QE-PU      2  *324-DI-RA      2    ¬π‚ÅÑ‚ÇÇ   TA-I-AROM      2
HT8b        PA‚ÇÉ-*188      2   QA-*310-I      1    ¬≥‚ÅÑ‚Çà       KA-PA    ¬π‚ÅÑ‚ÇÇ

,word,word separator,logogram,word,number,word,number
HT7a,QE-TI,êÑÅ,VIR+[?],I-RU-JA,3,DU-JA,4
HT95a,DA-DU-MA-TA,êÑÅ,GRA,DA-ME,10,MI-NU-TE,10
ZA5a,*21F-*118,êÑÅ,VIN-SU,KI-NI-MA,7,O-TA-NI-ZA-SE,6

      logogram      word number           word number      word number
ZA15a   ME-VIN  MI-ZA-SE      3  *28B-NU-MA-RE      6  SI-PI-KI      2
HT7a   VIR+[?]   I-RU-JA      3          DU-JA      4  TA-NA-TI      1
HT95a      GRA     DA-ME     10       MI-NU-TE     10     SA-RU     20

      number number           word number number         word number
ZA8        2     êùÉêùÜ     DA-I-PI-TA      2    ¬π‚ÅÑ‚ÇÇ      KA-I-RO      4
HT24b      1    ¬≥‚ÅÑ‚ÇÑ  SI+ME-KI-*118      1    ¬≥‚ÅÑ‚ÇÑ    *539-*118      1
HT9a       2    ¬π‚ÅÑ‚ÇÇ      TA-I-AROM      2    ¬π‚ÅÑ‚ÇÇ         A-RU      4
HT8a       1    ¬π‚ÅÑ‚ÇÇ             PA      3    ¬π‚ÅÑ‚ÇÇ      TE-*301      2
PE2        3    ¬π‚ÅÑ‚ÇÉ  RU-PI-*305-MI      1    ¬π‚ÅÑ‚Çà    A-*325-ZA    ¬π‚ÅÑ‚ÇÑ
HT104     45    ¬π‚ÅÑ‚ÇÇ        I-DU-TI     20    ¬π‚ÅÑ‚ÇÇ  PA-DA-SU-TI     29

     number        word number number       word number number
HT9a      2  *324-DI-RA      2    ¬π‚ÅÑ‚ÇÇ  TA-I-AROM      2    ¬π‚ÅÑ‚ÇÇ
HT19     30       SA-RO      5    ¬π‚ÅÑ‚ÇÇ   DU-ME-DI     43    ¬π‚ÅÑ‚ÇÇ

      number           word number       word number logogram number
HT23a     17  *21F-RI-TU-QA   ¬π‚ÅÑ‚ÇÅ‚ÇÜ   SA-SA-ME   ¬π‚ÅÑ‚ÇÅ‚ÇÜ    SI+ME     10
HT102     33       DI-RI-NA     10      MA-ZU      3       WI     10
HT49a      1      KU-PA‚ÇÉ-NU      1  TU-SU-PU‚ÇÇ      1       KI      1
HT89      13          TA-RA      5      KU-RO     87      CYP      2
HT11a     10        A-SU-JA      1  VIR+[?]-I      3      TA‚ÇÇ     15

       logogram number  logogram number             word logogram number
HT101    OLE+MI      8    OLE+KI      2           SA-RA‚ÇÇ      GRA     41
HT18     OLE+KI      2      *304      3           SA-RA‚ÇÇ      GRA     10
HT90         NI     10    OLE+DI      3  SI-RU-MA-RI-TA‚ÇÇ      GRA      1
HT129      *304     10        NI     22    TU-*21F-RI-NA      GRA     40
HT14       *304      9      OLIV     13      A-PU‚ÇÇ-NA-DU      GRA     45
HT11b        KA     30        KA     50         RU-ZU-NA       KA     30
HT28b        NI      2       VIN      4           PU-RA‚ÇÇ       NI      6
KH11        CYP    ¬π‚ÅÑ‚ÇÉ  *348-CYP     êùáêùâ   A-TO-*349-TO-I    CYP+E      3
HT116a   OLE+MI      6      OLIV      3        PI-*34-TE      GRA      5
HT16         WA    ¬π‚ÅÑ‚ÇÉ   *188+KU    ¬≥‚ÅÑ‚Çà            SA-PO       ZE   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT28a    OLE+MI      1    OLE+TU      êùâ           SA-RA‚ÇÇ   OLE+DI      1

         word number logogram number logogram number       word
HT49a    A-RU      1     *370      1     *312      1  KU-PA‚ÇÉ-NU
HT11b  *86-KA     40       KA     30       KA     50   RU-ZU-NA

       number      word word separator  logogram number        word number
HT115b      1  KU-RU-MA              êÑÅ         I    ¬π‚ÅÑ‚ÇÇ  *306-TU-JA      1
HT93a      20  QA-QA-RU              êÑÅ  I-GRA+PA      5   VIR+[?]-I      6
HT11b      30  SA-QE-RI              êÑÅ        KA     30       KU-RO    180

       number logogram number  logogram number             word logogram
HT18       20   OLE+KI      2      *304      3           SA-RA‚ÇÇ      GRA
HT90       20       NI     10    OLE+DI      3  SI-RU-MA-RI-TA‚ÇÇ      GRA
HT101       8   OLE+MI      8    OLE+KI      2           SA-RA‚ÇÇ      GRA
HT14        3     *304      9      OLIV     13      A-PU‚ÇÇ-NA-DU      GRA
HT28b       5       NI      2       VIN      4           PU-RA‚ÇÇ       NI
KH11        4      CYP    ¬π‚ÅÑ‚ÇÉ  *348-CYP     êùáêùâ   A-TO-*349-TO-I    CYP+E
HT11b      40       KA     30        KA     50         RU-ZU-NA       KA
HT28a     ¬π‚ÅÑ‚ÇÇ   OLE+MI      1    OLE+TU      êùâ           SA-RA‚ÇÇ   OLE+DI
ZA6b      ¬π‚ÅÑ‚ÇÑ   VIN+RA     40    VIN+KA     10         *312-TA‚ÇÇ   GRA+PA
HT116a      1   OLE+MI      6      OLIV      3        PI-*34-TE      GRA

,logogram,number,logogram,number,logogram,number,word
HT90,GRA,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA‚ÇÇ
HT23a,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA
HT100,KI,2,*305,5,VIR+*313a,16,KU-RO
ZA11a,JU,êùàêùâ,VIN,¬π‚ÅÑ‚ÇÇ,QE+GRA+PA,4,KU-PA
HT18,GRA+QE,20,OLE+KI,2,*304,3,SA-RA‚ÇÇ
HT91,NI,‚âà ¬π‚ÅÑ‚ÇÜ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,E,5,TE-RI
HT34,MI+JA+I,245,SA+MU+KU,100,PA‚ÇÉ,70,KI-RO
HT12,CYP+E,3,NI,1,QA2+[?]+PU+RE,¬π‚ÅÑ‚ÇÅ‚ÇÜ,DA-I

            word word separator    logogram number logogram number    logogram
HT32      SA-RA‚ÇÇ              êÑÅ        *308    ¬π‚ÅÑ‚ÇÇ   OLE+NE     êùÜêùá  QA2+[?]+PU
HT12    QE-TU-NE              êÑÅ  QA2+[?]+PU      1        E     30        *560
HT21          TE              êÑÅ         GRA    161    OLE+U     11       OLE+E
HT23a      KA-NA              êÑÅ         CYP    ¬π‚ÅÑ‚ÇÉ     *308  ‚âà ¬π‚ÅÑ‚ÇÜ      OLE+NE
HT116a    PU-RA‚ÇÇ              êÑÅ         GRA     40   OLE+DI      5       SI+SE

,number,logogram,number,logogram,number,word,number
HT23a,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT127b,15,*301,11,KI+MU,14,KU-RO,291
HT100,2,*305,5,VIR+*313a,16,KU-RO,97
HT28a,1,NI,2,VIN,3,VIR+KA-VIN,6
HT49a,1,*370,1,*312,1,KU-PA‚ÇÉ-NU,1
HT12,3,NI,1,QA2+[?]+PU+RE,¬π‚ÅÑ‚ÇÅ‚ÇÜ,DA-I,50
HT38,1,AU,1,CAP,3,*554-*118,3
HT34,245,SA+MU+KU,100,PA‚ÇÉ,70,KI-RO,37
HT94a,7,VIR+*313b,18,TA,4,KU-RO,110

       number    logogram number    logogram number       logogram number
HT35        1    MI+JA+RU    ¬π‚ÅÑ‚ÇÉ      OLE+RI    ¬π‚ÅÑ‚ÇÉ           *308    ¬π‚ÅÑ‚ÇÉ
HT28b      20      OLE+DI      5          NI      2            VIN      4
HT50a     ¬π‚ÅÑ‚ÇÑ      OLE+MI    ¬π‚ÅÑ‚ÇÇ       OLE+E    ¬π‚ÅÑ‚ÇÇ           *304      1
HT94a      20        TI+A      7   VIR+*313b     18             TA      4
HT34       êùÖêùá  QA2+[?]+PU  ‚âà ¬π‚ÅÑ‚ÇÜ  QA2+[?]+RE    ¬π‚ÅÑ‚ÇÑ        MI+JA+I    245
THEZg5     40          PU      5        *171      7             ZO      9
HT33       êùÉêùâ    MI+JA+KA    ¬π‚ÅÑ‚ÇÖ        *305     90        *341+PI    100
KH11     ¬π‚ÅÑ‚ÇÅ‚ÇÜ          SU      3       CYP+E     êùáêùâ            VIN  ‚âà ¬π‚ÅÑ‚ÇÜ
HT116a     16      OLE+KI      1      OLE+MI      6           OLIV      3
HT90        1          NI      1      OLE+MI      1           *304      1
KH7b      ¬π‚ÅÑ‚ÇÇ     *304+PA      1          SI     14          CYP+K      2
HT127b     24       KI+MU     15        *301     11          KI+MU     14
HT23a     ¬π‚ÅÑ‚ÇÉ        *308  ‚âà ¬π‚ÅÑ‚ÇÜ      OLE+NE  ‚âà ¬π‚ÅÑ‚ÇÜ         OLE+TU  ‚âà ¬π‚ÅÑ‚ÇÜ
HT101      40       OLE+U      8      OLE+MI      8         OLE+KI      2
ZA11a     ¬π‚ÅÑ‚ÇÑ          JU     êùàêùâ         VIN    ¬π‚ÅÑ‚ÇÇ      QE+GRA+PA      4
TY3a      ¬π‚ÅÑ‚ÇÑ       OLE+U     22       NE-KI      5        OLE+QIf      3
HT14       30      OLE+MI      3      OLE+DI      3           *304      9
HT91    ‚âà ¬π‚ÅÑ‚ÇÜ       OLE+U  ‚âà ¬π‚ÅÑ‚ÇÜ      OLE+MI  ‚âà ¬π‚ÅÑ‚ÇÜ           OLIV  ‚âà ¬π‚ÅÑ‚ÇÜ
MA4a       15      HIDE+L    120   HIDE+SA+L     53      HIDE+SA+B     30
HT100      12          KI      2        *305      5      VIR+*313a     16
HT12        5       CYP+E      3          NI      1  QA2+[?]+PU+RE   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT28a       5       OLE+U      2      OLE+KI    ¬π‚ÅÑ‚ÇÇ         OLE+MI      1

     number       word number logogram word separator      word number
HT88     20      RE-ZA      6       NI              êÑÅ  KI-KI-NA      7
HT15    684  GRA+L4+L4    570     *188              êÑÅ     KI-RO    400

            word logogram        word number        word number logogram
ZA15a  *47-KU-NA   SA-VIN  QE-SI-ZU-E     57  I-TI-NI-SA     10   ME-VIN
HT15    U-*34-SI      GRA   DU-AROM-A    684   GRA+L4+L4    570     *188

           word   logogram number  logogram number   logogram number
HT127b       72  VIR+*313c     24     KI+MU     15       *301     11
HT94a        62        *86     20      TI+A      7  VIR+*313b     18
HT18      PA-SE     GRA+QE     20    OLE+KI      2       *304      3
HT35    I-KU-TA        CYP      1  MI+JA+RU    ¬π‚ÅÑ‚ÇÉ     OLE+RI    ¬π‚ÅÑ‚ÇÉ

     word separator logogram number logogram number    logogram number
HT21              êÑÅ      GRA    161    OLE+U     11       OLE+E      3
HT91              êÑÅ   OLE+KI  ‚âà ¬π‚ÅÑ‚ÇÜ    OLE+U  ‚âà ¬π‚ÅÑ‚ÇÜ      OLE+MI  ‚âà ¬π‚ÅÑ‚ÇÜ
HT32              êÑÅ     *308    ¬π‚ÅÑ‚ÇÇ   OLE+NE     êùÜêùá  QA2+[?]+PU      1

     logogram number logogram number logogram number number
HT21      GRA    161    OLE+U     11    OLE+E      3    ¬≥‚ÅÑ‚ÇÑ
TY3a    OLE+U     22    NE-KI      5  OLE+QIf      3    ¬π‚ÅÑ‚ÇÇ

      number      word number   logogram number word also in linear b number
HT89      22   MA-I-MI     24  VIR+*313a     13                 TA-RA      5
HT23a   ¬π‚ÅÑ‚ÇÅ‚ÇÜ  SA-SA-ME   ¬π‚ÅÑ‚ÇÅ‚ÇÜ      SI+ME     10                 KO-RU      1

             word word separator    word logogram number logogram number
HT25b    WI-TE-RO              êÑÅ    I-TI  VIR+[?]     28  VIR+[?]     24
HT28b  U-MI-NA-SI              êÑÅ  SA-RA‚ÇÇ      GRA     20   OLE+DI      5

      number    logogram number       word number   logogram number
HT38       1         CAP      3  *554-*118      3    TELA+KU      2
HT34     100         PA‚ÇÉ     70      KI-RO     37       E+KA   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT118     15          KI     10   QA-QA-RU      6         KI      4
HT27a      5     VIR+[?]     42      KU-RO    335        CYP      9
HT89      23  JU+*317+QE     22    MA-I-MI     24  VIR+*313a     13

           number    word logogram number number logogram number
HT123+124a     .3  PU-VIN     OLIV     31    ¬π‚ÅÑ‚ÇÇ     *308      8
HT27a           9      êùïêùÅ       NI     10    ¬π‚ÅÑ‚ÇÉ      VIN      7
HT100          97  SA-RA‚ÇÇ      CYP      5    ¬π‚ÅÑ‚ÇÑ       NI      2

      logogram number ]number logogram number    logogram number
MA10b   *412+E      3       4   *402+A      2  TI+*412VAS      2
HT27a  VIR+[?]     90      50      *86     51          RE     20

        logogram number   logogram number        word number        word
HT94a  VIR+*313b     18         TA      4       KU-RO    110      SA-RA‚ÇÇ
HT100       *305      5  VIR+*313a     16       KU-RO     97      SA-RA‚ÇÇ
HT28a         NI      2        VIN      3  VIR+KA-VIN      6  A-RU-DA-RA
HT119       *327     34    VIR+[?]     67    RI-MI-SI     13       KO-JA

           number      word logogram number logogram number number
HT28b           6  WI-DI-NA   OLE+DI      3      VIN      3    ¬π‚ÅÑ‚ÇÑ
HT94a         110    SA-RA‚ÇÇ      CYP      5       NI      3  ‚âà ¬π‚ÅÑ‚ÇÜ
HT123+124a    ¬≥‚ÅÑ‚ÇÑ     DA-TU     OLIV     15     *308      4    ¬π‚ÅÑ‚ÇÑ

,word,word separator,word,word separator,word,logogram,number
HT96a,A-PA-RA-NE,êÑÅ,A-AROM-TE,êÑÅ,SI-MI-TA,GRA,5
HT28b,A-SI-JA-KA,êÑÅ,U-MI-NA-SI,êÑÅ,SA-RA‚ÇÇ,GRA,20
KH5,A-DA-KI-SI-KA,êÑÅ,A-RA-U-DA,êÑÅ,WI-SA-SA-NE,CYP+E,2
KH7a,I-JA-PA-ME,êÑÅ,TA-TA,êÑÅ,QA-TI-KI,VIR+*313b,4
HT116a,U-TA-RO,êÑÅ,TE,êÑÅ,KU-PA-JA,GRA,16

        logogram number       word logogram number logogram number
HT116a  *OLIV+TU      2   SI-KI-NE      GRA     12     *304     12
KH11         VIN      3  A-TA-*350     *301      1     *306      1
HT28b        VIN      6   WI-DI-NA   OLE+DI      3      VIN      3

,word separator,]word,number,word,number,word,number
HT122a,êÑÅ,DI,1,TE-KI,2,QA-*310-I,3
HT29,êÑÅ,KI-TA,2,A-RE-DA-I,2,KA-DU-MA-NE,1
ZA4a,êÑÅ,TU-ME-SE,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13

,word,word,number,word,number,word,number
HT115a,*301-U-RA,NA-*21F-NE-MI-NA,1,SE-KU-TU,¬π‚ÅÑ‚ÇÇ,PA-RA-NE,1
HT31,KI-DE-MA-*323-NA,*815,400,*815-SU-PA‚ÇÉ-RA,300,*815-PA-TA-QE,3000

      number    logogram number   logogram number   word word separator
HT32    ¬π‚ÅÑ‚ÇÅ‚ÇÜ  QA2+[?]+RE      1   MI+JA+RU      1  SU-RE              êÑÅ
HT91   ‚âà ¬π‚ÅÑ‚ÇÜ         VIN  ‚âà ¬π‚ÅÑ‚ÇÜ          E      5  TE-RI              êÑÅ
ZA11a     êùàêùâ         VIN    ¬π‚ÅÑ‚ÇÇ  QE+GRA+PA      4  KU-PA              êÑÅ

            logogram number    logogram number number    logogram number
HTZd157+156     *904      1        *904      1    ¬π‚ÅÑ‚ÇÇ        *904      2
TY3a          OLE+KI     51    OLE+KI+U      2    ¬π‚ÅÑ‚ÇÖ   OLE+KI+ME      1
HT32          OLE+NE     êùÜêùá  QA2+[?]+PU      1   ¬π‚ÅÑ‚ÇÅ‚ÇÜ  QA2+[?]+RE      1

      ]number logogram number  logogram number logogram number
HT33        3     E+KA     êùÉêùâ  MI+JA+KA    ¬π‚ÅÑ‚ÇÖ     *305     90
HT140       4    OLE+U      3        KA      1    OLE+U      1

       logogram number[ ]logogram number number    logogram number
HT34        GRA     200     E+[ ]      2     êùÖêùá  QA2+[?]+PU  ‚âà ¬π‚ÅÑ‚ÇÜ
HT131a      GRA      58       OLE     12    ¬π‚ÅÑ‚ÇÇ        *304     12

,word,word separator,word,word separator,logogram,word separator,logogram
HT43,MA-SI-DU,êÑÅ,PA-*342-I,êÑÅ,I,êÑÅ,GRA+PA
HT96b,A-PA-RA-NE,êÑÅ,QA-*118-RA-RE,êÑÅ,*516,êÑÅ,GRA

     logogram number logogram[ ]logogram number logogram number
HT58    OLE+U     19    OLE+MI     OLE+E      3     OLIV     41
KH8       CYP    ¬π‚ÅÑ‚ÇÑ   VIR+[?]        NI    ¬π‚ÅÑ‚ÇÑ     *312      1

       number        word number  word[ number logogram number
HT85b       1          PA      1  TE-TU      1       KA      1
HT115b    ¬π‚ÅÑ‚ÇÇ  *306-TU-JA      1    A-I      1  *306+MI      1

     logogram number     word word separator   logogram number logogram
HT91        E      5    TE-RI              êÑÅ     OLE+MI  ‚âà ¬π‚ÅÑ‚ÇÜ        E
KH7a    CYP+E   ¬π‚ÅÑ‚ÇÅ‚ÇÜ  E-NA-SI              êÑÅ  VIR+*313b     10    CYP+D

            logogram number number      word number number    word
HT123+124a      *308      8    ¬π‚ÅÑ‚ÇÑ     KI-RO      1     .3  PU-VIN
HT93a       DA+RE+SE     43    ¬π‚ÅÑ‚ÇÇ  KI-DI-NI      5     êùÜêùÖ    A-SE

,word,word separator,word,word separator,word,word separator,word
KNZc7,A-KA-NU-ZA-TI,êÑÅ,DU-RA-RE,êÑÅ,A-ZU-RA,êÑÅ,JA-SA-RA-A-NA-NE
HT96a,I-TI-TI-KU-NI,êÑÅ,A-PA-RA-NE,êÑÅ,A-AROM-TE,êÑÅ,SI-MI-TA
HT117a,MA-KA-RI-TE,êÑÅ,KI-RO,êÑÅ,U-MI-NA-SI,êÑÅ,U-SU
CR(?)Zf1,A-MA-WA-SI,êÑÅ,KA-NI-JA-MI,êÑÅ,I-JA,êÑÅ,QA-KI-SE-NU-TI
PLZf1,WI-TE-JA-MU,êÑÅ,U-QE-TI,êÑÅ,JA-SA-SA-RA-ME,êÑÅ,TA-NU-NI-KI-NA
KNZf31,DA-DU-MI-NE,êÑÅ,QA-MI-*47-NA-RA,êÑÅ,A-WA-PI,êÑÅ,TE-SU-DE-SE-KE-I
KOZa1,TU-RU-SA,êÑÅ,DU-*314-RE,êÑÅ,I-DA-A,êÑÅ,U-NA-KA-NA-SI

      number number   logogram number logogram number number
TY3a       2    ¬π‚ÅÑ‚ÇÖ  OLE+KI+ME      1  OLE+QIf      4    ¬π‚ÅÑ‚ÇÇ
HT96b     40    ¬≥‚ÅÑ‚ÇÑ      OLE+U      4       NI      2   ¬π‚ÅÑ‚ÇÅ‚ÇÜ

      logogram number number logogram number logogram number
HT129      GRA     33     êùÜêùÅ     *304     10       NI     22
TY3a    OLE+KI     15    ¬π‚ÅÑ‚ÇÑ    OLE+U     22    NE-KI      5
ZA6b    GRA+PA     50    ¬π‚ÅÑ‚ÇÑ   VIN+RA     40   VIN+KA     10
HT100    OLE+U      2  ‚âà ¬π‚ÅÑ‚ÇÜ   OLE+MI      3   OLE+NE    ¬≥‚ÅÑ‚ÇÑ

      number   word number dividing line      word number       word
PK1        1  KA-QA      2             ‚Äî   A-DU-ZA      1  TA‚ÇÇ-TA-RE
HT108      1  GRA+H     70             ‚Äî  DI-NA-RO      2   DU-SU-NI

           word number      word number[ word separator     ]word number
HT108  DI-NA-RO      2  DU-SU-NI       5              êÑÅ    RA‚ÇÇ-TI     10
ZA4a    A-TI-RU      4     JA-PA       1              êÑÅ  TU-ME-SE     18

,]word,number,word,number,word,number,word
ZA4a,TU-ME-SE,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI
HT122a,DI,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE
HT122b,A-RA-JU-U-DE-ZA,2,QA-QA-RU,2,DI,2,DA-RE
HT123+124b,SI-DU,‚âà ¬π‚ÅÑ‚ÇÜ,DU-MA-I-NA,¬≥‚ÅÑ‚Çà,KU-RO,20,KI-RO

       number     word number ]logogram number       word number
PH3a        1     *563      êùì      *560      êùì      PA-RA      êùì
HT122a      1  *306-TU      1        DU      1  KU-PA‚ÇÉ-NU      1

            logogram number number logogram number number   word
HT123+124a      OLIV     31    ¬π‚ÅÑ‚ÇÇ     *308      8    ¬≥‚ÅÑ‚ÇÑ  KI-RO
HTZd157+156     *904      2    ¬π‚ÅÑ‚ÇÑ     *904      3    ¬≥‚ÅÑ‚Çà  TA-JA

           number        word number   word number            word number[
HT123+124b  ‚âà ¬π‚ÅÑ‚ÇÜ  DU-MA-I-NA    ¬≥‚ÅÑ‚Çà  KU-RO     20           KI-RO       5
ZA14            3    QA-TI-JU      8  KU-PI      1  TU-MI-TI-ZA-SE      45

,word,word separator,word,word separator,word,word separator,word[
KNZc7,DU-RA-RE,êÑÅ,A-ZU-RA,êÑÅ,JA-SA-RA-A-NA-NE,êÑÅ,WI-PI
TLZa1,A-TA-I-*301-WA-JA,êÑÅ,O-SU-QA-RE,êÑÅ,JA-SA-SA-RA-ME,êÑÅ,U-NA-KA-NA
IOZa2,A-TA-I-*301-WA-JA,êÑÅ,JA-DI-KI-TU,êÑÅ,JA-SA-SA-RA-ME,êÑÅ,U-NA-KA-NA-SI

     logogram number logogram[ ]logogram number logogram[ lacuna
KH91       TU   ¬π‚ÅÑ‚ÇÅ‚ÇÜ        NI   *401+RU   ¬π‚ÅÑ‚ÇÅ‚ÇÜ   *401+RO      êù´
KH22       SU      7     CYP+E        SI      4       CYP      êù´

,]word,word separator,word,word separator,word,word separator,word
PKZa8,NU,êÑÅ,PA‚ÇÉ-E,êÑÅ,JA-DI-KI-TE-TE-*307-PU‚ÇÇ-RE,êÑÅ,TU-ME-I
KNZf31,SI-SI-ZA-NE-*310,êÑÅ,DA-DU-MI-NE,êÑÅ,QA-MI-*47-NA-RA,êÑÅ,A-WA-PI

     number[ dividing line      word logogram number logogram number[
TY3b       6             ‚Äî  PI-KU-ZU   OLE+KI      4   OLE+MI      11
TY3a       4             ‚Äî      A-DA    OLE+U     21   OLE+MI       2

                    word number            word number           word number
PE2            A-*325-ZA    ¬π‚ÅÑ‚ÇÑ         A-RI-PA    ¬π‚ÅÑ‚ÇÑ       QA-QA-DA    ¬π‚ÅÑ‚ÇÇ
HT85a           DA-RI-DA     12          PA‚ÇÉ-NI     12      U-*325-ZA      6
HT25a            U-RE-WI      1         DI-NA-U      1     A-RI-NI-TA      1
HT98a           TA-NA-TI    ¬≥‚ÅÑ‚ÇÑ     DI-RE-DI-NA    ¬π‚ÅÑ‚ÇÇ        TE-*301    ¬≥‚ÅÑ‚ÇÑ
PH2         A-SE-TU-*21F      1      RA-O-DI-KI     60     PI-RU-E-JU     60
HT9a             *306-TU     10         DI-NA-U      4          QE-PU      2
HT122a             TE-KI      2       QA-*310-I      3    JA-MI-DA-RE      1
HT95a              DA-ME     10        MI-NU-TE     10          SA-RU     20
ZA4a          QE-SI-ZU-E      4   *28B-NU-MA-RE     13       SI-PI-KI      5
HT9b                A-SI      3         *306-TU      8     *324-DI-RA      2
HT122b          QA-QA-RU      2              DI      2          DA-RE      2
HT13            KU-ZU-NI     18      DA-SI-*118     19     I-DU-NE-SI      5
HT94b              TU-MA      1        PA-TA-NE      1          DE-DI      1
HT1                KI-RO    197           ZU-SU     70    DI-DI-ZA-KE     52
ZA10a         A-KU-MI-NA      1      A-TA-NA-TE      1      A-MI-DA-U      1
ZA14            ME-KI-DI      1       *21F-*118      1  PU-NI-KA-*363      3
ZA15a           MI-ZA-SE      3   *28B-NU-MA-RE      6       SI-PI-KI      2
HT31                *815    400  *815-SU-PA‚ÇÉ-RA    300  *815-PA-TA-QE   3000
HT95b              DA-ME     10        MI-NU-TE     10       KU-NI-SU     10
HT87         PI-TA-KE-SI      1        JA-RE-MI      1       DI-KI-SE      1
HT85b          KI-RE-TA‚ÇÇ      1           QE-KA      1             PA      1
HT117a             MI-TU      1        KU-RA-MU      1          MA-RU      1
HT8a             TE-*301      2       QA-*310-I    ¬≥‚ÅÑ‚ÇÑ       SI-KI-RA    ¬π‚ÅÑ‚ÇÑ
HT6a             MA-*321     10     O-RA‚ÇÇ-DI-NE      2       KA-PA-QE      5
HT11a           KA-RO-NA      2         *322-RI      1          KU-RO     10
ZA20            SI-TE-TU      1           SI-TU      6        TE-AROM     12
HT88          KU-PA‚ÇÉ-PA‚ÇÉ      1           KA-JU      1      KU-PA‚ÇÉ-NU      1
HT119           RI-MI-SI     13           KO-JA     10   KU-PA‚ÇÉ-NA-TU      7
HT103           DA-KU-NA      1     DA-KU-SE-NE      1          KI-RA      5
HT7a             I-RU-JA      3           DU-JA      4       TA-NA-TI      1
HT6b            RA-TI-SE      1      MA-RI-RE-I      3       DU-DA-MA     66
HT99b           SI+SE-NI      6      DA-SI-*118      2          ZU-DU      1
HT115a  NA-*21F-NE-MI-NA      1        SE-KU-TU    ¬π‚ÅÑ‚ÇÇ       PA-RA-NE      1
HT10b               U-TI      1           DA-RE      2       TA-RI-NA     15

           number        word number           word number           word
ZA15a         ¬π‚ÅÑ‚ÇÇ    JA-SA-MU      5     SA-MI-DA-E      4  *363-KE-MA-SE
HT96a           5       RU-SA      4      *323-*317      1       PI-TA-RA
HT8a          ¬π‚ÅÑ‚ÇÇ     TE-*301      2      QA-*310-I    ¬≥‚ÅÑ‚ÇÑ       SI-KI-RA
HT95b          10    MI-NU-TE     10       KU-NI-SU     10       DI-DE-RU
HT6a            êùì     MA-*321     10    O-RA‚ÇÇ-DI-NE      2       KA-PA-QE
HT123+124b  ‚âà ¬π‚ÅÑ‚ÇÜ  DU-MA-I-NA    ¬≥‚ÅÑ‚Çà          KU-RO     20          KI-RO
ZA20            4    SI-TE-TU      1          SI-TU      6        TE-AROM
HT119          67    RI-MI-SI     13          KO-JA     10   KU-PA‚ÇÉ-NA-TU
HT103          13    DA-KU-NA      1    DA-KU-SE-NE      1          KI-RA
HT87            1    JA-RE-MI      1       DI-KI-SE      1       QE-SU-PU
HT117a          1       MI-TU      1       KU-RA-MU      1          MA-RU
HT6b        ‚âà ¬π‚ÅÑ‚ÇÜ    RA-TI-SE      1     MA-RI-RE-I      3       DU-DA-MA
HT7a            3       DU-JA      4       TA-NA-TI      1          DA-RE
HT11a           2     *322-RI      1          KU-RO     10        A-SU-JA
HT95a          10    MI-NU-TE     10          SA-RU     20       KU-NI-SU
HT25a           1     U-RE-WI      1        DI-NA-U      1     A-RI-NI-TA
HT99b           6  DA-SI-*118      2          ZU-DU      1       RU-MA-TA
HT9a          ¬≥‚ÅÑ‚ÇÑ     *306-TU     10        DI-NA-U      4          QE-PU
HT88            1       KA-JU      1      KU-PA‚ÇÉ-NU      1       PA-JA-RE
HT115a          1    SE-KU-TU    ¬π‚ÅÑ‚ÇÇ       PA-RA-NE      1        A-SE-JA
PE2           ¬π‚ÅÑ‚Çà   A-*325-ZA    ¬π‚ÅÑ‚ÇÑ        A-RI-PA    ¬π‚ÅÑ‚ÇÑ       QA-QA-DA
HT85b           1          DI      1          ME-ZA      1       RE-DI-SE
HT122b          2    QA-QA-RU      2             DI      2          DA-RE
HT122a          1       TE-KI      2      QA-*310-I      3    JA-MI-DA-RE
PH2             1  RA-O-DI-KI     60     PI-RU-E-JU     60      SE-SA-PA‚ÇÉ
HT10b           1       DA-RE      2       TA-RI-NA     15        *312-TA
ZA4a           18  QE-SI-ZU-E      4  *28B-NU-MA-RE     13       SI-PI-KI
HT13          ¬π‚ÅÑ‚ÇÇ    KU-ZU-NI     18     DA-SI-*118     19     I-DU-NE-SI
HT98a           1    TA-NA-TI    ¬≥‚ÅÑ‚ÇÑ    DI-RE-DI-NA    ¬π‚ÅÑ‚ÇÇ        TE-*301
HT9b            3        A-SI      3        *306-TU      8     *324-DI-RA
HT85a          12      PA‚ÇÉ-NI     12      U-*325-ZA      6     DA-SI-*118
ZA10a           1  A-KU-MI-NA      1     A-TA-NA-TE      1      A-MI-DA-U
HT94b           1    PA-TA-NE      1          DE-DI      1       KE-KI-RU
HT1           197       ZU-SU     70    DI-DI-ZA-KE     52      KU-PA‚ÇÉ-NU
ZA14            1   *21F-*118      1  PU-NI-KA-*363      3       QA-TI-JU

               word word separator         word number         word number
HT87    MA-KA-RI-TE              êÑÅ  PI-TA-KE-SI      1     JA-RE-MI      1
HT117b   *21F-TU-NE              êÑÅ     KU-RE-JU      1     DI-KI-SE      1
HT117a        SA-TA              êÑÅ  KU-KU-DA-RA      1   KO-SA-I-TI      1
HT85b   KI-KI-RA-JA              êÑÅ    KI-RE-TA‚ÇÇ      1        QE-KA      1
HT26a    *312-TE-TE              êÑÅ        TA-TI     21  MI-KI-SE-NA     15
HT1        QE-RA‚ÇÇ-U              êÑÅ        KI-RO    197        ZU-SU     70
HT88          KI-RO              êÑÅ   KU-PA‚ÇÉ-PA‚ÇÉ      1        KA-JU      1
HT9b        KA-*305              êÑÅ        PA-DE      3         A-SI      3
HT94b         KI-RO              êÑÅ        TU-MA      1     PA-TA-NE      1

     number logogram[         ]word number  word[      ]word
HT39      8        KU      SA-MA-TI     10  KU-RE      KU-RO
HT3       1        RU  SI-TU-RA‚ÇÇ-RE      5     DI  KU-PA‚ÇÉ-NU

          word number number    logogram number number
HT8b  PA-JA-RE      1    ¬π‚ÅÑ‚Çà  *86+'*188'    ¬π‚ÅÑ‚ÇÇ    ¬π‚ÅÑ‚ÇÇ
HT6a  QE-PI-TA     22    ¬≥‚ÅÑ‚ÇÑ          NI     15    ¬π‚ÅÑ‚ÇÇ

      number           word number        word number number
HT8b       5       PA‚ÇÉ-*188      2   QA-*310-I      1    ¬≥‚ÅÑ‚Çà
ZA8        ?  TA-I-NU-MA-PA    ¬π‚ÅÑ‚ÇÇ  MA-KA-I-SE      2     êùÉêùÜ
HT9a       4          QE-PU      2  *324-DI-RA      2    ¬π‚ÅÑ‚ÇÇ
HT6b       3       DU-DA-MA     66       DA-KI      3    ¬π‚ÅÑ‚ÇÑ
HT6a      10    O-RA‚ÇÇ-DI-NE      2    KA-PA-QE      5    ¬≥‚ÅÑ‚ÇÑ
ZA15a      3  *28B-NU-MA-RE      6    SI-PI-KI      2    ¬π‚ÅÑ‚ÇÇ
HT13      19     I-DU-NE-SI      5       KU-RO    130    ¬π‚ÅÑ‚ÇÇ
HT10b      2       TA-RI-NA     15     *312-TA      6    ¬π‚ÅÑ‚ÇÇ
HT93a      5      VIR+[?]-I      6    DE-JU-KU      1    ¬π‚ÅÑ‚ÇÇ
HT103      1    DA-KU-SE-NE      1       KI-RA      5    ¬π‚ÅÑ‚ÇÇ

      number          word number   logogram number       word
HT89      22       MA-I-MI     24  VIR+*313a     13      TA-RA
HT119     10  KU-PA‚ÇÉ-NA-TU      7         TI      7    JA-*345
HT26b      3    KA-U-ZU-NI      4      KI+MU     12     I-*308
HT23a   ¬π‚ÅÑ‚ÇÅ‚ÇÜ      SA-SA-ME   ¬π‚ÅÑ‚ÇÅ‚ÇÜ      SI+ME     10      KO-RU
HT27a     42         KU-RO    335        CYP      9         êùïêùÅ
HT118     10      QA-QA-RU      6         KI      4    A-RI-SU
HT10a    ¬π‚ÅÑ‚ÇÇ     U-*325-ZA      4       *301      6  U-*325-ZA
HT102     10         MA-ZU      3         WI     10       I-KA
HT6a      15      PI-TA-JA     24      JA+RU      êùì    MA-*321

            word word separator logogram number         word       number
KH88   *21F-*118              êÑÅ       NI     10        PU-DE            8
HT17          TE              êÑÅ      VIN     37        SA-RO           10
HT19          TE              êÑÅ      VIN     30        SA-RO            5
HT11b   SA-QE-RI              êÑÅ       KA     30        KU-RO          180
ZA8      A-TA-RE              êÑÅ       NI    ¬π‚ÅÑ‚ÇÇ  KU-TU-KO-RE  double mina
HT6a          TE              êÑÅ       NI     15     PI-TA-JA           24

               word word separator       word word separator logogram number
ZA8           KI-RA              êÑÅ    A-TA-RE              êÑÅ       NI    ¬π‚ÅÑ‚ÇÇ
HT93a     PA‚ÇÉ-NI-NA              êÑÅ    GRA-PA‚ÇÉ              êÑÅ    RE+SE     12
HT40     NU-DU-*331              êÑÅ         TE              êÑÅ      GRA    207
HT17        RA-ÛΩá´-TI              êÑÅ         TE              êÑÅ      VIN     37
HT19     RA-*164-TI              êÑÅ         TE              êÑÅ      VIN     30
KH88       QA-NU-MA              êÑÅ  *21F-*118              êÑÅ       NI     10
HT28a    A-SI-JA-KA              êÑÅ    JA-*21F              êÑÅ   GRA+QE      5
HT115b     TI-NU-JA              êÑÅ      NU-WI              êÑÅ      GRA    ¬π‚ÅÑ‚ÇÇ
HT92             TE              êÑÅ       A-DU              êÑÅ      GRA    680
HT14         PU-VIN              êÑÅ         TE              êÑÅ      GRA     30
HT21    PI-TA-KA-SE              êÑÅ         TE              êÑÅ      GRA    161
HT6a       DA-TA-RA              êÑÅ         TE              êÑÅ       NI     15

      number   logogram number        word number         word
HT103    ¬π‚ÅÑ‚ÇÇ       *188     13    DA-KU-NA      1  DA-KU-SE-NE
HT118      4         KI      1    RI-RU-MA     10        KU-RO
HT6a      24      JA+RU      êùì     MA-*321     10  O-RA‚ÇÇ-DI-NE
HT102      3         WI     10        I-KA      5        KU-RO
HT28a      2        VIN      3  VIR+KA-VIN      6   A-RU-DA-RA
HT94a     18         TA      4       KU-RO    110       SA-RA‚ÇÇ
HT85b      1         KA      1          DI      1        ME-ZA
HT100      5  VIR+*313a     16       KU-RO     97       SA-RA‚ÇÇ

,word,word separator,word,word separator,word,word separator
IOZa6,TA-NA-I-*301-U-TI-NU,êÑÅ,I-NA-TA-I-ZU-DI-SI-KA,êÑÅ,JA-SA-SA-RA-ME,êÑÅ
KNZf31,DA-DU-MI-NE,êÑÅ,QA-MI-*47-NA-RA,êÑÅ,A-WA-PI,êÑÅ
KOZa1,TU-RU-SA,êÑÅ,DU-*314-RE,êÑÅ,I-DA-A,êÑÅ
HT34,DA-JU-TE,êÑÅ,SI-*516,êÑÅ,SA-RA‚ÇÇ,êÑÅ
KNZc7,A-KA-NU-ZA-TI,êÑÅ,DU-RA-RE,êÑÅ,A-ZU-RA,êÑÅ
IOZa2,A-TA-I-*301-WA-JA,êÑÅ,JA-DI-KI-TU,êÑÅ,JA-SA-SA-RA-ME,êÑÅ
HT96a,I-TI-TI-KU-NI,êÑÅ,A-PA-RA-NE,êÑÅ,A-AROM-TE,êÑÅ
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,êÑÅ,NI-JA-NU,êÑÅ,JU-KU-NA-PA-KU-NU-U-I-ZU,êÑÅ
HT6a,KA-PA,êÑÅ,DA-TA-RA,êÑÅ,TE,êÑÅ
CR(?)Zf1,A-MA-WA-SI,êÑÅ,KA-NI-JA-MI,êÑÅ,I-JA,êÑÅ
TLZa1,A-TA-I-*301-WA-JA,êÑÅ,O-SU-QA-RE,êÑÅ,JA-SA-SA-RA-ME,êÑÅ
HT117a,MA-KA-RI-TE,êÑÅ,KI-RO,êÑÅ,U-MI-NA-SI,êÑÅ
PLZf1,WI-TE-JA-MU,êÑÅ,U-QE-TI,êÑÅ,JA-SA-SA-RA-ME,êÑÅ

        logogram number       word number   logogram number
HT89  JU+*317+QE     22    MA-I-MI     24  VIR+*313a     13
HT6a          NI     15   PI-TA-JA     24      JA+RU      êùì
HT34         PA‚ÇÉ     70      KI-RO     37       E+KA   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT38         CAP      3  *554-*118      3    TELA+KU      2

      number      word word separator      word number       number
HT41a     10  MI-DA-NI              êÑÅ     PA-JA      2  double mina
HT6a     ¬≥‚ÅÑ‚ÇÑ  DA-QE-RA              êÑÅ  QE-PI-TA     22          ¬≥‚ÅÑ‚ÇÑ

        logogram number           word number         word number
HT23a          E     17  *21F-RI-TU-QA   ¬π‚ÅÑ‚ÇÅ‚ÇÜ     SA-SA-ME   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT85b         KA      1             DI      1        ME-ZA      1
HT119    VIR+[?]     67       RI-MI-SI     13        KO-JA     10
HT17         VIN     37          SA-RO     10     SI-DA-RE      5
HT49a       *312      1      KU-PA‚ÇÉ-NU      1    TU-SU-PU‚ÇÇ      1
HT6a       JA+RU      êùì        MA-*321     10  O-RA‚ÇÇ-DI-NE      2
HT102     GRA+PA     33       DI-RI-NA     10        MA-ZU      3
HT118         KI      1       RI-RU-MA     10        KU-RO     30
HT96a        GRA      5          RU-SA      4    *323-*317      1
HT103       *188     13       DA-KU-NA      1  DA-KU-SE-NE      1
HT93a   I-GRA+PA      5      VIR+[?]-I      6     DE-JU-KU      1
HT89   VIR+*313a     13          TA-RA      5        KU-RO     87

               word number   logogram number      word number
HT89        MA-I-MI     24  VIR+*313a     13     TA-RA      5
HT119  KU-PA‚ÇÉ-NA-TU      7         TI      7   JA-*345     10
HT6a       PI-TA-JA     24      JA+RU      êùì   MA-*321     10
HT118         MA-DI     15         KI     10  QA-QA-RU      6
HT102         MA-ZU      3         WI     10      I-KA      5
HT23a      SA-SA-ME   ¬π‚ÅÑ‚ÇÅ‚ÇÜ      SI+ME     10     KO-RU      1
HT146       RI-*305     30         MA     30  RI-KA-TA     30

               word number      word number number        word
HT6a    O-RA‚ÇÇ-DI-NE      2  KA-PA-QE      5    ¬≥‚ÅÑ‚ÇÑ    DA-QE-RA
ZA5b  *28B-NU-MA-RE     20  SI-PI-KI      1    ¬π‚ÅÑ‚ÇÇ  MA-KA-I-TA

      number           word number number         word number
HT8b       2      QA-*310-I      1    ¬≥‚ÅÑ‚Çà        KA-PA    ¬π‚ÅÑ‚ÇÇ
PE2      ¬π‚ÅÑ‚ÇÉ  RU-PI-*305-MI      1    ¬π‚ÅÑ‚Çà    A-*325-ZA    ¬π‚ÅÑ‚ÇÑ
HT19      30          SA-RO      5    ¬π‚ÅÑ‚ÇÇ     DU-ME-DI     43
ZA5b      20       SI-PI-KI      1    ¬π‚ÅÑ‚ÇÇ   MA-KA-I-TA      3
HT104    ¬π‚ÅÑ‚ÇÇ        I-DU-TI     20    ¬π‚ÅÑ‚ÇÇ  PA-DA-SU-TI     29
ZA15a      6       SI-PI-KI      2    ¬π‚ÅÑ‚ÇÇ     JA-SA-MU      5
HT13      56          TE-KI     27    ¬π‚ÅÑ‚ÇÇ     KU-ZU-NI     18
HT6b      66          DA-KI      3    ¬π‚ÅÑ‚ÇÑ        SA-MA     35
HT8a      10   PA‚ÇÉ-KA-RA-TI      1    ¬π‚ÅÑ‚ÇÇ           PA      3
HT24b    ¬≥‚ÅÑ‚ÇÑ  SI+ME-KI-*118      1    ¬≥‚ÅÑ‚ÇÑ    *539-*118      1
HT10b     15        *312-TA      6    ¬π‚ÅÑ‚ÇÇ     KA-SA-RU      6

      number number         word number        word number
HT10a      2    ¬π‚ÅÑ‚ÇÇ     DA-RI-DA      8       ME-ZA      3
HT8a       3    ¬π‚ÅÑ‚ÇÇ      TE-*301      2   QA-*310-I    ¬≥‚ÅÑ‚ÇÑ
HT104     20    ¬π‚ÅÑ‚ÇÇ  PA-DA-SU-TI     29       KU-RO     95
HT8b       1    ¬≥‚ÅÑ‚Çà        KA-PA    ¬π‚ÅÑ‚ÇÇ    PA-JA-RE      1
HT13      27    ¬π‚ÅÑ‚ÇÇ     KU-ZU-NI     18  DA-SI-*118     19
HT6b       3  ‚âà ¬π‚ÅÑ‚ÇÜ     RA-TI-SE      1  MA-RI-RE-I      3
HT9a       5    ¬≥‚ÅÑ‚ÇÑ      *306-TU     10     DI-NA-U      4
HT10b      6    ¬π‚ÅÑ‚ÇÇ     KA-SA-RU      6    TA-NA-TI      9
ZA15a      2    ¬π‚ÅÑ‚ÇÇ     JA-SA-MU      5  SA-MI-DA-E      4
PE2        1    ¬π‚ÅÑ‚Çà    A-*325-ZA    ¬π‚ÅÑ‚ÇÑ     A-RI-PA    ¬π‚ÅÑ‚ÇÑ

                   word number number        word number number
ZA8          MA-KA-I-SE      2     êùÉêùÜ  DA-I-PI-TA      2    ¬π‚ÅÑ‚ÇÇ
HT19              SA-RO      5    ¬π‚ÅÑ‚ÇÇ    DU-ME-DI     43    ¬π‚ÅÑ‚ÇÇ
HT104    DA-KU-SE-NE-TI     45    ¬π‚ÅÑ‚ÇÇ     I-DU-TI     20    ¬π‚ÅÑ‚ÇÇ
HT36   *307+*387-GRA+QE     64    ¬π‚ÅÑ‚ÇÇ    DU-ZU-WA      7    ¬π‚ÅÑ‚ÇÇ
HT9a         *324-DI-RA      2    ¬π‚ÅÑ‚ÇÇ   TA-I-AROM      2    ¬π‚ÅÑ‚ÇÇ
HT8a       PA‚ÇÉ-KA-RA-TI      1    ¬π‚ÅÑ‚ÇÇ          PA      3    ¬π‚ÅÑ‚ÇÇ

           number number           word number number         word
HT93a          43    ¬π‚ÅÑ‚ÇÇ       KI-DI-NI      5     êùÜêùÖ         A-SE
PE2             3    ¬π‚ÅÑ‚ÇÉ  RU-PI-*305-MI      1    ¬π‚ÅÑ‚Çà    A-*325-ZA
HT104          45    ¬π‚ÅÑ‚ÇÇ        I-DU-TI     20    ¬π‚ÅÑ‚ÇÇ  PA-DA-SU-TI
HT24b           1    ¬≥‚ÅÑ‚ÇÑ  SI+ME-KI-*118      1    ¬≥‚ÅÑ‚ÇÑ    *539-*118
ZA8             2     êùÉêùÜ     DA-I-PI-TA      2    ¬π‚ÅÑ‚ÇÇ      KA-I-RO
HT9a            2    ¬π‚ÅÑ‚ÇÇ      TA-I-AROM      2    ¬π‚ÅÑ‚ÇÇ         A-RU
HT123+124a      8    ¬π‚ÅÑ‚ÇÑ          KI-RO      1     .3       PU-VIN
HT8a            1    ¬π‚ÅÑ‚ÇÇ             PA      3    ¬π‚ÅÑ‚ÇÇ      TE-*301

,word,word separator,word,word separator,logogram,word separator
HT43,MA-SI-DU,êÑÅ,PA-*342-I,êÑÅ,I,êÑÅ
HT9a,SA-RO,êÑÅ,TE,êÑÅ,VIN,êÑÅ
HT96b,A-PA-RA-NE,êÑÅ,QA-*118-RA-RE,êÑÅ,*516,êÑÅ

       word also in linear b number     word number      word number
HT117a                  U-SU      1    MI-TU      1  KU-RA-MU      1
HT9b                   PA-DE      3     A-SI      3   *306-TU      8
HT115a              PA-RA-NE      1  A-SE-JA   êùÇêùÇêùÇêùÇ  KA-PO-RU      1

      word separator            word number number       word number
HT10a              êÑÅ           DA-RE     16    ¬π‚ÅÑ‚ÇÇ  U-*325-ZA      4
HT104              êÑÅ  DA-KU-SE-NE-TI     45    ¬π‚ÅÑ‚ÇÇ    I-DU-TI     20

      logogram number         word number[         word number
HT10a     *301      6    U-*325-ZA      14      *305-RU      2
TY2    VIR+[?]     82  *309C-DA-JU      17  *309C-RU-KA     30

      number           word number       word number logogram
HT118      1       RI-RU-MA     10      KU-RO     30       KI
HT23a     17  *21F-RI-TU-QA   ¬π‚ÅÑ‚ÇÅ‚ÇÜ   SA-SA-ME   ¬π‚ÅÑ‚ÇÅ‚ÇÜ    SI+ME
HT94b      1          SA-RU      1      KU-RO      5      *86
HT49a      1      KU-PA‚ÇÉ-NU      1  TU-SU-PU‚ÇÇ      1       KI
HT102     33       DI-RI-NA     10      MA-ZU      3       WI
HT89      13          TA-RA      5      KU-RO     87      CYP
HT11a     10        A-SU-JA      1  VIR+[?]-I      3      TA‚ÇÇ

       number       logogram number       logogram number             word
HT11b      40             KA     30             KA     50         RU-ZU-NA
HT49a       1           *370      1           *312      1        KU-PA‚ÇÉ-NU
HT129      êùÜêùÅ           *304     10             NI     22    TU-*21F-RI-NA
ZA6b      ¬π‚ÅÑ‚ÇÑ         VIN+RA     40         VIN+KA     10         *312-TA‚ÇÇ
HT23a      10  QA2+[?]+RE+PU     10              E     17    *21F-RI-TU-QA
HT18       20         OLE+KI      2           *304      3           SA-RA‚ÇÇ
HT38        1             AU      1            CAP      3        *554-*118
HT28b       5             NI      2            VIN      4           PU-RA‚ÇÇ
HT14        3           *304      9           OLIV     13      A-PU‚ÇÇ-NA-DU
HT100       2           *305      5      VIR+*313a     16            KU-RO
HT28a       1             NI      2            VIN      3       VIR+KA-VIN
HT91    ‚âà ¬π‚ÅÑ‚ÇÜ            VIN  ‚âà ¬π‚ÅÑ‚ÇÜ              E      5            TE-RI
HT12        3             NI      1  QA2+[?]+PU+RE   ¬π‚ÅÑ‚ÇÅ‚ÇÜ             DA-I
HT94a       7      VIR+*313b     18             TA      4            KU-RO
HT127b     15           *301     11          KI+MU     14            KU-RO
HT116a      1         OLE+MI      6           OLIV      3        PI-*34-TE
HT101       8         OLE+MI      8         OLE+KI      2           SA-RA‚ÇÇ
HT90       20             NI     10         OLE+DI      3  SI-RU-MA-RI-TA‚ÇÇ
KH11        4            CYP    ¬π‚ÅÑ‚ÇÉ       *348-CYP     êùáêùâ   A-TO-*349-TO-I
ZA11a      êùàêùâ            VIN    ¬π‚ÅÑ‚ÇÇ      QE+GRA+PA      4            KU-PA
HT32     ¬π‚ÅÑ‚ÇÅ‚ÇÜ     QA2+[?]+RE      1       MI+JA+RU      1            SU-RE

       number  logogram number             word logogram number
HT16      ¬π‚ÅÑ‚ÇÉ   *188+KU    ¬≥‚ÅÑ‚Çà            SA-PO       ZE   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT28b       2       VIN      4           PU-RA‚ÇÇ       NI      6
HT116a      6      OLIV      3        PI-*34-TE      GRA      5
KH11      ¬π‚ÅÑ‚ÇÉ  *348-CYP     êùáêùâ   A-TO-*349-TO-I    CYP+E      3
HT28a       1    OLE+TU      êùâ           SA-RA‚ÇÇ   OLE+DI      1
HT18        2      *304      3           SA-RA‚ÇÇ      GRA     10
HT90       10    OLE+DI      3  SI-RU-MA-RI-TA‚ÇÇ      GRA      1
HT101       8    OLE+KI      2           SA-RA‚ÇÇ      GRA     41
HT14        9      OLIV     13      A-PU‚ÇÇ-NA-DU      GRA     45
HT27a     335       CYP      9               êùïêùÅ       NI     10
HT11b      30        KA     50         RU-ZU-NA       KA     30

            word number logogram       number   logogram       number
HT49a       A-RU      1     *370            1       *312            1
MA4a   TA-HIDE+B     15   HIDE+L          120  HIDE+SA+L           53
HT34       KI-RO     37     E+KA         ¬π‚ÅÑ‚ÇÅ‚ÇÜ         PU          ¬π‚ÅÑ‚Çà
HT38     *403-VS      1       AU            1        CAP            3
HT11b     *86-KA     40       KA           30         KA           50
HT94a  *318-*306     11      CYP  double mina         NI  double mina

       logogram number      word word separator    logogram number
HT116a      GRA     16    PU-RA‚ÇÇ              êÑÅ         GRA     40
HT93a     RE+SE     12  DI-RI-NA              êÑÅ    DA+RE+SE     43
HT91          E      5     TE-RI              êÑÅ      OLE+MI  ‚âà ¬π‚ÅÑ‚ÇÜ
HT12       *304      5  QE-TU-NE              êÑÅ  QA2+[?]+PU      1
HT11b        KA     30  SA-QE-RI              êÑÅ          KA     30
KH7a      CYP+E   ¬π‚ÅÑ‚ÇÅ‚ÇÜ   E-NA-SI              êÑÅ   VIR+*313b     10

      word separator   logogram number    logogram number        word
HT12               êÑÅ     OLE+DI      5        *304      5    QE-TU-NE
KH7a               êÑÅ  VIR+*313b     10       CYP+D    ¬π‚ÅÑ‚ÇÇ  I-JA-PA-ME
HT89               êÑÅ       *305     23  JU+*317+QE     22     MA-I-MI
HT16               êÑÅ         WA    ¬π‚ÅÑ‚ÇÉ     *188+KU    ¬≥‚ÅÑ‚Çà       SA-PO
MA10a              êÑÅ    *413+SU      2      *412+E      4        *659

             logogram number       logogram number           word number
HT49a            *370      1           *312      1      KU-PA‚ÇÉ-NU      1
HT12               NI      1  QA2+[?]+PU+RE   ¬π‚ÅÑ‚ÇÅ‚ÇÜ           DA-I     50
HT28a              NI      2            VIN      3     VIR+KA-VIN      6
HT127b           *301     11          KI+MU     14          KU-RO    291
HT25b         VIR+[?]     28        VIR+[?]     24          KU-RO     52
HT34         SA+MU+KU    100            PA‚ÇÉ     70          KI-RO     37
HT23a   QA2+[?]+RE+PU     10              E     17  *21F-RI-TU-QA   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT94a       VIR+*313b     18             TA      4          KU-RO    110
HT100            *305      5      VIR+*313a     16          KU-RO     97
HT38               AU      1            CAP      3      *554-*118      3
HT89             *305     23     JU+*317+QE     22        MA-I-MI     24
HT119            *327     34        VIR+[?]     67       RI-MI-SI     13

      logogram number logogram word separator logogram number
HT41a     *304     10       RE              êÑÅ     *304     10
HT12         E     30     *560              êÑÅ     *118      5

                   word word separator   logogram number logogram number
HT21                 TE              êÑÅ        GRA    161    OLE+U     11
KH7a            E-NA-SI              êÑÅ  VIR+*313b     10    CYP+D    ¬π‚ÅÑ‚ÇÇ
HT23a             KA-NA              êÑÅ        CYP    ¬π‚ÅÑ‚ÇÉ     *308  ‚âà ¬π‚ÅÑ‚ÇÜ
HT116a           PU-RA‚ÇÇ              êÑÅ        GRA     40   OLE+DI      5
HT12        QA-TI-DA-TE              êÑÅ     OLE+DI      5     *304      5
ZA15b             KU-RO              êÑÅ        VIN     78   VIN+RA     17
HT32             SA-RA‚ÇÇ              êÑÅ       *308    ¬π‚ÅÑ‚ÇÇ   OLE+NE     êùÜêùá
HT14                 TE              êÑÅ        GRA     30   OLE+MI      3
HT123+124a      KI-TA-I              êÑÅ       OLIV     31     *308      8
HT28a           JA-*21F              êÑÅ     GRA+QE      5    OLE+U      2
HT92               A-DU              êÑÅ        GRA    680     *304     12

          logogram number    logogram number    logogram number
HT50a       OLE+KI    ¬π‚ÅÑ‚ÇÑ      OLE+MI    ¬π‚ÅÑ‚ÇÇ       OLE+E    ¬π‚ÅÑ‚ÇÇ
THEZg5          MA     40          PU      5        *171      7
HT101       GRA+QE     40       OLE+U      8      OLE+MI      8
HT127b   VIR+*313c     24       KI+MU     15        *301     11
HT23a       OLE+RI  ‚âà ¬π‚ÅÑ‚ÇÜ    MI+JA+RU  ‚âà ¬π‚ÅÑ‚ÇÜ         VIN     10
KH11          *306      4         CYP    ¬π‚ÅÑ‚ÇÉ    *348-CYP     êùáêùâ
HT116a         GRA     16      OLE+KI      1      OLE+MI      6
HT34    QA2+[?]+PU  ‚âà ¬π‚ÅÑ‚ÇÜ  QA2+[?]+RE    ¬π‚ÅÑ‚ÇÑ     MI+JA+I    245
HT90           GRA     20          NI     10      OLE+DI      3
HT140        OLE+U      3          KA      1       OLE+U      1
TY3a         OLE+U     22       NE-KI      5     OLE+QIf      3
HT130       SI-CYP      8          NI      6         VIN      3
ZA11a           JU     êùàêùâ         VIN    ¬π‚ÅÑ‚ÇÇ   QE+GRA+PA      4
HT28a       GRA+QE      5       OLE+U      2      OLE+KI    ¬π‚ÅÑ‚ÇÇ
HT14           GRA     30      OLE+MI      3      OLE+DI      3
HT91            NI  ‚âà ¬π‚ÅÑ‚ÇÜ         VIN  ‚âà ¬π‚ÅÑ‚ÇÜ           E      5
MA4a        HIDE+L    120   HIDE+SA+L     53   HIDE+SA+B     30
HT35           CYP      1    MI+JA+RU    ¬π‚ÅÑ‚ÇÉ      OLE+RI    ¬π‚ÅÑ‚ÇÉ
HT12          *118      5       CYP+E      3          NI      1
HT18        GRA+QE     20      OLE+KI      2        *304      3
HT32          *308    ¬π‚ÅÑ‚ÇÇ      OLE+NE     êùÜêùá  QA2+[?]+PU      1
HT28b          GRA     20      OLE+DI      5          NI      2
HT100         TI+A     12          KI      2        *305      5
HT33          E+KA     êùÉêùâ    MI+JA+KA    ¬π‚ÅÑ‚ÇÖ        *305     90
HT21           GRA    161       OLE+U     11       OLE+E      3
KH7b         CYP+D    ¬π‚ÅÑ‚ÇÇ     *304+PA      1          SI     14
HT94a          *86     20        TI+A      7   VIR+*313b     18

         logogram number   logogram number        word word separator
HT32   QA2+[?]+RE      1   MI+JA+RU      1       SU-RE              êÑÅ
KH5         CYP+E      2    VINb+WI      2    WI-NA-DU              êÑÅ
HT12       OLE+DI      5       *304      5    QE-TU-NE              êÑÅ
KH7a    VIR+*313b     10      CYP+D    ¬π‚ÅÑ‚ÇÇ  I-JA-PA-ME              êÑÅ
ZA11a         VIN    ¬π‚ÅÑ‚ÇÇ  QE+GRA+PA      4       KU-PA              êÑÅ
HT91          VIN  ‚âà ¬π‚ÅÑ‚ÇÜ          E      5       TE-RI              êÑÅ

       word separator logogram number logogram number    logogram
HT21                êÑÅ      GRA    161    OLE+U     11       OLE+E
HT32                êÑÅ     *308    ¬π‚ÅÑ‚ÇÇ   OLE+NE     êùÜêùá  QA2+[?]+PU
HT23a               êÑÅ      CYP    ¬π‚ÅÑ‚ÇÉ     *308  ‚âà ¬π‚ÅÑ‚ÇÜ      OLE+NE
HT116a              êÑÅ      GRA     40   OLE+DI      5       SI+SE
HT91                êÑÅ   OLE+KI  ‚âà ¬π‚ÅÑ‚ÇÜ    OLE+U  ‚âà ¬π‚ÅÑ‚ÇÜ      OLE+MI
HT27b               êÑÅ       SA      1       RE     14         VIN
HT14                êÑÅ      GRA     30   OLE+MI      3      OLE+DI
HT28a               êÑÅ   GRA+QE      5    OLE+U      2      OLE+KI

        word separator     word word separator logogram number logogram
HT92                 êÑÅ     A-DU              êÑÅ      GRA    680     *304
HT21                 êÑÅ       TE              êÑÅ      GRA    161    OLE+U
HT28a                êÑÅ  JA-*21F              êÑÅ   GRA+QE      5    OLE+U
HT42+59              êÑÅ       TE              êÑÅ   OLE+KI      8    OLE+U
HT14                 êÑÅ       TE              êÑÅ      GRA     30   OLE+MI

           number             word logogram number logogram number
HT101           2           SA-RA‚ÇÇ      GRA     41      OLE     10
HT14           13      A-PU‚ÇÇ-NA-DU      GRA     45   OLE+MI      5
HT18            3           SA-RA‚ÇÇ      GRA     10       NI     10
KH11           êùáêùâ   A-TO-*349-TO-I    CYP+E      3       NI      1
HT28b           6         WI-DI-NA   OLE+DI      3      VIN      3
HT90            3  SI-RU-MA-RI-TA‚ÇÇ      GRA      1       NI      1
HT123+124a     .3            SA-RU     OLIV     16     *308      4
HT94a         110           SA-RA‚ÇÇ      CYP      5       NI      3
HT116a          2         SI-KI-NE      GRA     12     *304     12
HT28a           6       A-RU-DA-RA      GRA      5     *304      2

            word number       word number logogram word separator
HT15   DU-AROM-A    684  GRA+L4+L4    570     *188              êÑÅ
HT94b      SA-RU      1      KU-RO      5      *86              êÑÅ

     number word separator logogram number logogram number
HT91  ‚âà ¬π‚ÅÑ‚ÇÜ              êÑÅ   OLE+KI  ‚âà ¬π‚ÅÑ‚ÇÜ    OLE+U  ‚âà ¬π‚ÅÑ‚ÇÜ
HT16    ¬π‚ÅÑ‚Çà              êÑÅ       WA    ¬π‚ÅÑ‚ÇÉ  *188+KU    ¬≥‚ÅÑ‚Çà

     logogram number logogram number      word logogram
HT16       WA    ¬π‚ÅÑ‚ÇÉ  *188+KU    ¬≥‚ÅÑ‚Çà     SA-PO       ZE
ZA6b   VIN+RA     40   VIN+KA     10  *312-TA‚ÇÇ   GRA+PA

      number logogram number    logogram number number
HT32     ¬π‚ÅÑ‚ÇÇ   OLE+NE     êùÜêùá  QA2+[?]+PU      1   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT21     161    OLE+U     11       OLE+E      3    ¬≥‚ÅÑ‚ÇÑ
HT96b    ¬≥‚ÅÑ‚ÇÑ    OLE+U      4          NI      2   ¬π‚ÅÑ‚ÇÅ‚ÇÜ

           logogram number number logogram number number
HT21          OLE+E      3    ¬≥‚ÅÑ‚ÇÑ     *304      7    ¬≥‚ÅÑ‚ÇÑ
HT123+124a     OLIV     31    ¬π‚ÅÑ‚ÇÇ     *308      8    ¬≥‚ÅÑ‚ÇÑ
HT89            CYP      2    ¬≥‚ÅÑ‚ÇÑ       NI      2    ¬π‚ÅÑ‚ÇÑ

             word logogram number logogram[ number  logogram
HT116a  PI-*34-TE      GRA      5       OLE      5    OLE+MI
HT23b       NI-RA      CYP    ¬π‚ÅÑ‚ÇÉ       OLE    ¬π‚ÅÑ‚ÇÉ  MI+JA+RU

       logogram       number ]number number  logogram number
HT94a        NI  double mina      14    ¬π‚ÅÑ‚ÇÇ        NI    ¬π‚ÅÑ‚ÇÖ
HT24a  MA-RU-ME           10       9    ¬π‚ÅÑ‚ÇÇ  MA-RU-ME      6

                      ]word number        word number         word number
HT25a                 RU-NI      1     U-RE-WI      1      DI-NA-U      1
HT123+124b            SI-DU  ‚âà ¬π‚ÅÑ‚ÇÜ  DU-MA-I-NA    ¬≥‚ÅÑ‚Çà        KU-RO     20
HT29                  KI-TA      2   A-RE-DA-I      2  KA-DU-MA-NE      1
HT122b      A-RA-JU-U-DE-ZA      2    QA-QA-RU      2           DI      2

            ]word number     word[    ]word number word
HT111a      QE-KA      8     QA-SA    QA-RU      8   DI
HT25a   ZU-JU-PU‚ÇÇ      1  DU-RU-WI  I-KI-RA      1   PA

       number      word number        word number     word[
HT85a       5     TE-KE      3       DA-RE      4     KU-RO
HT25a       1   DI-NA-U      1  A-RI-NI-TA      1  TU-QE-NU
HT87        1  QE-SU-PU      1    KU-RU-KU      1      A-RA
HT115a      1   A-SE-JA   êùÇêùÇêùÇêùÇ    KA-PO-RU      1  RI-SU-MA
HT85b       1     QE-KA      1          PA      1     TE-TU

      word separator         word   logogram number  logogram number
HT25b              êÑÅ         I-TI    VIR+[?]     28   VIR+[?]     24
KH7a               êÑÅ     QA-TI-KI  VIR+*313b      4     CYP+D    ¬π‚ÅÑ‚ÇÉ
KH5                êÑÅ  WI-SA-SA-NE      CYP+E      2   VINb+WI      2
HT35               êÑÅ      I-KU-TA        CYP      1  MI+JA+RU    ¬π‚ÅÑ‚ÇÉ

            word   logogram number logogram number      word
HT25b       I-TI    VIR+[?]     28  VIR+[?]     24     KU-RO
HT116a  SI-KI-NE        GRA     12     *304     12  QA-NU-MA
KH7a    QA-TI-KI  VIR+*313b      4    CYP+D    ¬π‚ÅÑ‚ÇÉ   SE-*305

      word separator      word number         word number       word
HT85a              êÑÅ  DA-RI-DA     12       PA‚ÇÉ-NI     12  U-*325-ZA
HT26a              êÑÅ     TA-TI     21  MI-KI-SE-NA     15  U-NU-*21F

                  word number         word number            word number[
HT26a            TA-TI     21  MI-KI-SE-NA     15       U-NU-*21F       5
ZA14          QA-TI-JU      8        KU-PI      1  TU-MI-TI-ZA-SE      45
HT123+124b  DU-MA-I-NA    ¬≥‚ÅÑ‚Çà        KU-RO     20           KI-RO       5

       ]word number        word number logogram number
HT49a  SI-RA      1        A-RU      1     *370      1
HT26b  RO-NI      3  KA-U-ZU-NI      4    KI+MU     12

           word word separator logogram word separator logogram number
HT27b     PA-SE              êÑÅ   VIN+WA              êÑÅ       SA      4
HT91       I-KA              êÑÅ     *326              êÑÅ      GRA     .3
HT27a  TI-NI-TA              êÑÅ     *307              êÑÅ  VIR+[?]     90

                       word logogram number number logogram number
HT27a                    êùïêùÅ       NI     10    ¬π‚ÅÑ‚ÇÉ      VIN      7
HT123+124a           PU-VIN     OLIV     31    ¬π‚ÅÑ‚ÇÇ     *308      8
ZA6b        I-KU-JU-TI-*28B   GRA+PA     50    ¬π‚ÅÑ‚ÇÑ   VIN+RA     40

                          word logogram number logogram number number
HT94a                   SA-RA‚ÇÇ      CYP      5       NI      3  ‚âà ¬π‚ÅÑ‚ÇÜ
HTZd157+156  WI-JA-SU-MA-TI-TI     *904      1     *904      1    ¬π‚ÅÑ‚ÇÇ
HT28b                 WI-DI-NA   OLE+DI      3      VIN      3    ¬π‚ÅÑ‚ÇÑ

,word separator,]word,word separator,word,word separator,word
HT31,êÑÅ,TI-SA,êÑÅ,PU-KO,êÑÅ,*410-VS
IOZa2,êÑÅ,I-PI-NA-MA,êÑÅ,SI-RU-TE,êÑÅ,TA-NA-RA-TE-U-TI-NU

             word number           word number              ]word number
HT31  *815-QA-PA‚ÇÉ     10  *415-VS-SU-PU     10  *416-VS-KA-RO-PA‚ÇÉ     10
TY2   *309C-RU-KA     30  *309-RI-WA-JU    160        *309B-RI-JU    250

     number    logogram number number    logogram number
HT32     êùÜêùá  QA2+[?]+PU      1   ¬π‚ÅÑ‚ÇÅ‚ÇÜ  QA2+[?]+RE      1
HT89     87         CYP      2    ¬≥‚ÅÑ‚ÇÑ          NI      2
TY3a     51    OLE+KI+U      2    ¬π‚ÅÑ‚ÇÖ   OLE+KI+ME      1

      number      word word separator number       word number
HT96a      1  PI-TA-RA              êÑÅ      1  *323-*344      1
HT32       1     SU-RE              êÑÅ    108         DI     65

      number       number    logogram number    logogram number
HT34       2           êùÖêùá  QA2+[?]+PU  ‚âà ¬π‚ÅÑ‚ÇÜ  QA2+[?]+RE    ¬π‚ÅÑ‚ÇÑ
ZA6b      50          ¬π‚ÅÑ‚ÇÑ      VIN+RA     40      VIN+KA     10
TY3a      15          ¬π‚ÅÑ‚ÇÑ       OLE+U     22       NE-KI      5
ZA18a      2  double mina      OLE+KI      ?        OLIV    ¬π‚ÅÑ‚ÇÑ
ZA11a      2          ¬π‚ÅÑ‚ÇÑ          JU     êùàêùâ         VIN    ¬π‚ÅÑ‚ÇÇ
HT96b     40          ¬≥‚ÅÑ‚ÇÑ       OLE+U      4          NI      2
HT32       1         ¬π‚ÅÑ‚ÇÅ‚ÇÜ  QA2+[?]+RE      1    MI+JA+RU      1
HT129     33           êùÜêùÅ        *304     10          NI     22
HT100      2        ‚âà ¬π‚ÅÑ‚ÇÜ      OLE+MI      3      OLE+NE    ¬≥‚ÅÑ‚ÇÑ

       number[ ]number logogram number  logogram number
HT110b     ¬π‚ÅÑ‚ÇÇ       1       MA      2      *301    ¬≥‚ÅÑ‚ÇÑ
HT33       êùâêùãêù´       3     E+KA     êùÉêùâ  MI+JA+KA    ¬π‚ÅÑ‚ÇÖ

     number logogram number logogram number logogram[
KH8     ¬π‚ÅÑ‚ÇÇ     *304    ¬π‚ÅÑ‚ÇÑ      CYP    ¬π‚ÅÑ‚ÇÑ   VIR+[?]
HT35    ¬π‚ÅÑ‚ÇÉ   OLE+RI    ¬π‚ÅÑ‚ÇÉ     *308    ¬π‚ÅÑ‚ÇÉ    OLE+TA

        logogram word separator      word word separator logogram number
HT42+59    SI+SE              êÑÅ        TE              êÑÅ   OLE+KI      8
ZA1a        *516              êÑÅ  KI-RE-ZA              êÑÅ       NI     42

      logogram number logogram number[ ]logogram number
KH14      *336      2      CYP    ¬π‚ÅÑ‚ÇÅ‚ÇÜ        NI    ¬π‚ÅÑ‚ÇÑ
HT44a   OLE+RA      5     OLIV       1        NI      1

      number logogram number logogram number[ lacuna
HT49a      5       TU      4       KI       1      êù´
KN2        2     *118      3   I+*301       5      êù´

      number logogram number number[ ]logogram number
HT50a    ¬π‚ÅÑ‚ÇÇ     *304      1     ¬π‚ÅÑ‚ÇÇ      OLIV      3
HT93a     20  VIR+[?]     10     ¬π‚ÅÑ‚Çà        KA      4

            word word separator logogram[ word separator ]word   logogram
HT62+73       TE              êÑÅ       VIN              êÑÅ    NA        GRA
KH7a     SE-*305              êÑÅ        KU              êÑÅ  KO-E  VIR+*313b

      logogram word separator      word number    word number
HT85a  VIR+[?]              êÑÅ  DA-RI-DA     12  PA‚ÇÉ-NI     12
HT63      *305              êÑÅ        TE      1   KA-TI      1

,word,word separator,logogram,word separator,logogram,word separator
HT96b,QA-*118-RA-RE,êÑÅ,*516,êÑÅ,GRA,êÑÅ
HT85a,A-DU,êÑÅ,*307+*387,êÑÅ,VIR+[?],êÑÅ

        logogram word separator logogram word separator      word number
HT118         AU              êÑÅ     *516              êÑÅ     MA-DI     15
HT85a  *307+*387              êÑÅ  VIR+[?]              êÑÅ  DA-RI-DA     12

       word separator      word number      word word separator        word
HT88                êÑÅ  KI-KI-NA      7     KI-RO              êÑÅ  KU-PA‚ÇÉ-PA‚ÇÉ
HT115b              êÑÅ  PA-RA-NE    ¬π‚ÅÑ‚ÇÇ  TI-NU-JA              êÑÅ       NU-WI

            logogram number number    word number      word
HT123+124a      *308      8    ¬≥‚ÅÑ‚ÇÑ   KI-RO     .3     SA-RU
HT93a       I-GRA+PA     26    ¬≥‚ÅÑ‚ÇÑ  SA-RA‚ÇÇ     20  QA-QA-RU

      number logogram       number  logogram       number ]number
HT94a     11      CYP  double mina        NI  double mina      14
KH12       2     *308          ¬π‚ÅÑ‚ÇÇ  MI+JA+RU          ¬π‚ÅÑ‚ÇÇ     ¬π‚ÅÑ‚ÇÉ

                   word logogram number   word number       word
HT96a          SI-MI-TA      GRA      5  RU-SA      4  *323-*317
HT110a  SI-DU-*34-KU-MI    CYP+E     20  KU-PA      1      KU-RO

,word separator,word,word separator,word,word separator,word
KNZc7,êÑÅ,DU-RA-RE,êÑÅ,A-ZU-RA,êÑÅ,JA-SA-RA-A-NA-NE
HT117a,êÑÅ,KI-RO,êÑÅ,U-MI-NA-SI,êÑÅ,U-SU
PLZf1,êÑÅ,WI-TE-JA-MU,êÑÅ,U-QE-TI,êÑÅ,JA-SA-SA-RA-ME
HT96a,êÑÅ,A-PA-RA-NE,êÑÅ,A-AROM-TE,êÑÅ,SI-MI-TA
CR(?)Zf1,êÑÅ,KA-NI-JA-MI,êÑÅ,I-JA,êÑÅ,QA-KI-SE-NU-TI
PKZa8,êÑÅ,PA‚ÇÉ-E,êÑÅ,JA-DI-KI-TE-TE-*307-PU‚ÇÇ-RE,êÑÅ,TU-ME-I
KOZa1,êÑÅ,DU-*314-RE,êÑÅ,I-DA-A,êÑÅ,U-NA-KA-NA-SI

       ]logogram number       word number         word number
HT109         TA      4      KU-RO    129      A-RA-JU    123
HT122a        DU      1  KU-PA‚ÇÉ-NU      1     DA-RI-DA      1
HT98a         TU      1   TA-NA-TI    ¬≥‚ÅÑ‚ÇÑ  DI-RE-DI-NA    ¬π‚ÅÑ‚ÇÇ

      logogram number[ logogram number number logogram
HT106      CYP       6       SI      5    ¬π‚ÅÑ‚ÇÇ       SI
HT99a       NI       4      VIN      1  ‚âà ¬π‚ÅÑ‚ÇÜ   GRA+QE

      number[ logogram number[ logogram number number
HT99a       4       NI       4      VIN      1  ‚âà ¬π‚ÅÑ‚ÇÜ
ZA12a      64       TI      13       RU     28      6

      logogram number[ ]logogram logogram number      word
KH7a     CYP+D       1         I    CYP+E   ¬π‚ÅÑ‚ÇÅ‚ÇÜ   E-NA-SI
HT102   GRA+PA      33   VIR+[?]   GRA+PA     33  DI-RI-NA

      ]logogram number    word word separator logogram number
ZA11b        RA      2   KU-PA              êÑÅ   GRA+PA      3
HT105   VIR+[?]    234  SA-RA‚ÇÇ              êÑÅ  VIR+[?]    235

           word logogram number[ logogram number number
PE1    KU-PA-RI  VIR+[?]      50   GRA+PA     26    ¬π‚ÅÑ‚ÇÇ
HT106  MI-NU-TE      CYP       6       SI      5    ¬π‚ÅÑ‚ÇÇ

       logogram number         word       number        word number[
ZA8          NI    ¬π‚ÅÑ‚ÇÇ  KU-TU-KO-RE  double mina  A-RI-NI-TA       1
HT110a    CYP+E     20        KU-PA            1       KU-RO     100

,word,number,word,number,word also in linear b,number
HT115a,NA-*21F-NE-MI-NA,1,SE-KU-TU,¬π‚ÅÑ‚ÇÇ,PA-RA-NE,1
HT117a,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1

       logogram number          word logogram number logogram[
HT128b   GRA+KU      6  VIR+[?]-*329   GRA+KU      1        RU
HT116a     OLIV      3     PI-*34-TE      GRA      5       OLE

            word number       word number dividing line       word
HT117a  NA-DA-RE      1      KU-RO     10             ‚Äî      SA-TA
PK1      A-DU-ZA      1  TA‚ÇÇ-TA-RE      1             ‚Äî  TA‚ÇÇ-TI-TE

           word separator   word number logogram number      word
HT118                   êÑÅ  MA-DI     15       KI     10  QA-QA-RU
HT123+124b              êÑÅ  PI-SA      4     *188      1   *188-DU

,word,word separator,logogram,word separator,logogram[,]word
HT122b,JE-DI,êÑÅ,*346,êÑÅ,VIR+[?],*306-KI-TA‚ÇÇ
ZA11a,DI-DI-KO-RA-ME-TA‚ÇÇ,êÑÅ,*516,êÑÅ,GRA+PA,RA-MA-SI

           number           word logogram number number logogram
HT129          22  TU-*21F-RI-NA      GRA     40    ¬π‚ÅÑ‚ÇÇ   OLE+DI
HT123+124a     .3         PU-VIN     OLIV     31    ¬π‚ÅÑ‚ÇÇ     *308

       lacuna ]logogram number[ ]logogram number logogram[
HT131b      êù´        NI      30      OLIV      2    VIN+SA
KH84        êù´       CYP     ¬π‚ÅÑ‚ÇÇ      *301      1      *306

,word,word separator,word[,word separator,]word,word separator
KNZa10,NA,êÑÅ,DA-WA,êÑÅ,DU-WA-TO,êÑÅ
IOZa2,JA-SA-SA-RA-ME,êÑÅ,U-NA-KA-NA-SI,êÑÅ,I-PI-NA-MA,êÑÅ

,]word,word separator,word,word separator,word,word separator
PKZa8,NU,êÑÅ,PA‚ÇÉ-E,êÑÅ,JA-DI-KI-TE-TE-*307-PU‚ÇÇ-RE,êÑÅ
IOZa2,I-PI-NA-MA,êÑÅ,SI-RU-TE,êÑÅ,TA-NA-RA-TE-U-TI-NU,êÑÅ

     number logogram number        word word separator     word
KH10    ¬π‚ÅÑ‚ÇÇ      GRA     10  I-PA-SA-JA              êÑÅ  QA-*118
KH7a     10    CYP+D    ¬π‚ÅÑ‚ÇÇ  I-JA-PA-ME              êÑÅ    TA-TA
KH5       2  VINb+WI      2    WI-NA-DU              êÑÅ  *301-NA

       logogram number logogram number[ ]logogram number[
TY3b     OLE+KI      4   OLE+MI      11    OLE+NE       2
KH12  *401+*304    ¬π‚ÅÑ‚ÇÖ  *401+RU      êùçêù´   *401+RU      êùçêù´

             ]word word separator logogram number logogram number
MA10b  DU-PI-TE-WA              êÑÅ   *405+Œ©      1   *412+E      3
KH20      DU-RE-ZA              êÑÅ    CYP+E    ¬π‚ÅÑ‚ÇÇ       NI    ¬π‚ÅÑ‚ÇÑ

,word,word,word separator,word,word separator,word
ZAZb3,A-SE,A-TA-I-*301-DE-KA,êÑÅ,A-RE-PI-RE-NA,êÑÅ,TI-TI-KU
KOZa1,A-TA-I-*301-WA-JA,TU-RU-SA,êÑÅ,DU-*314-RE,êÑÅ,I-DA-A

      ]logogram word separator logogram number logogram number
PH1a         JA              êÑÅ     *316      1      CYP  ‚âà ¬π‚ÅÑ‚ÇÜ
MA10a        RU              êÑÅ  *413+SU      2   *412+E      4

      word separator      word word separator logogram number       number
ZA18a              êÑÅ   KU-*321              êÑÅ   GRA+PA      2  double mina
ZA1a               êÑÅ  KI-RE-ZA              êÑÅ       NI     42          ¬π‚ÅÑ‚ÇÇ

          word number           word number       word[ lacuna
ZA7a      U-JU      5        A-RA-TU      4  A-RE-TU-MI      êù´
ZA5a  KI-NI-MA      7  O-TA-NI-ZA-SE      6  SA-MI-DA-E      êù´

           number            word number           word number
ZA20            4        SI-TE-TU      1          SI-TU      6
HT98a         ¬≥‚ÅÑ‚ÇÑ           RO-KE    ¬π‚ÅÑ‚ÇÇ   KA-RI-*310-I    ¬π‚ÅÑ‚ÇÑ
HT119           7         JA-*345     10        *306-TU      2
HT123+124b  ‚âà ¬π‚ÅÑ‚ÇÜ      DU-MA-I-NA    ¬≥‚ÅÑ‚Çà          KU-RO     20
HT8a            2       QA-*310-I    ¬≥‚ÅÑ‚ÇÑ       SI-KI-RA    ¬π‚ÅÑ‚ÇÑ
HT117a          1        TU-JU-MA      1        U-DI-MI      1
HT95a          10        DI-DE-RU     10       QE-RA‚ÇÇ-U      7
ZA15a         ¬π‚ÅÑ‚ÇÇ        JA-SA-MU      5     SA-MI-DA-E      4
HT102          33        DI-RI-NA     10          MA-ZU      3
HT85b           1           QE-KA      1             PA      1
HT8b            5        PA‚ÇÉ-*188      2      QA-*310-I      1
ZA4a            5           E-*82     50          KA-DI      3
HT115a          1        SE-KU-TU    ¬π‚ÅÑ‚ÇÇ       PA-RA-NE      1
HT88            1        SA-MA-RO      1       DA-TA-RE      1
HT85a          12          PA‚ÇÉ-NI     12      U-*325-ZA      6
HT9b            2           QE-PU      2      TA-I-AROM      2
HT29            2       A-RE-DA-I      2    KA-DU-MA-NE      1
HT122a          1      *324-DI-RA      1          PA-DE      1
HT17           37           SA-RO     10       SI-DA-RE      5
ZA10a           1      A-KU-MI-NA      1     A-TA-NA-TE      1
HT95b          10        MI-NU-TE     10       KU-NI-SU     10
HT109           4           KU-RO    129        A-RA-JU    123
HT49a           1       KU-PA‚ÇÉ-NU      1      TU-SU-PU‚ÇÇ      1
PE2           ¬π‚ÅÑ‚ÇÑ         A-RI-PA    ¬π‚ÅÑ‚ÇÑ       QA-QA-DA    ¬π‚ÅÑ‚ÇÇ
HT10a         ¬π‚ÅÑ‚ÇÇ        DA-RI-DA      8          ME-ZA      3
HT10b         ¬π‚ÅÑ‚ÇÇ        KA-SA-RU      6       TA-NA-TI      9
HT1           197           ZU-SU     70    DI-DI-ZA-KE     52
ZA14            1       *21F-*118      1  PU-NI-KA-*363      3
HT122b          2        QA-QA-RU      2             DI      2
HT31          400  *815-SU-PA‚ÇÉ-RA    300  *815-PA-TA-QE   3000
HT87            1        JA-RE-MI      1       DI-KI-SE      1
HT103          13        DA-KU-NA      1    DA-KU-SE-NE      1
HT23a          17   *21F-RI-TU-QA   ¬π‚ÅÑ‚ÇÅ‚ÇÜ       SA-SA-ME   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT7a            3           DU-JA      4       TA-NA-TI      1
HT6b          ¬π‚ÅÑ‚ÇÑ           SA-MA     35      PA‚ÇÉ-NI-NA     17
HT9a          ¬≥‚ÅÑ‚ÇÑ         *306-TU     10        DI-NA-U      4
HT104         ¬π‚ÅÑ‚ÇÇ     PA-DA-SU-TI     29          KU-RO     95
HT13          ¬π‚ÅÑ‚ÇÇ        KU-ZU-NI     18     DA-SI-*118     19
ZA8             ?   TA-I-NU-MA-PA    ¬π‚ÅÑ‚ÇÇ     MA-KA-I-SE      2
HT94b           1           SA-RU      1          KU-RO      5
HT93a           5       VIR+[?]-I      6       DE-JU-KU      1
HT6a           10     O-RA‚ÇÇ-DI-NE      2       KA-PA-QE      5
HT89           13           TA-RA      5          KU-RO     87
HT96a           5           RU-SA      4      *323-*317      1
HT118           1        RI-RU-MA     10          KU-RO     30
HT25a           1         U-RE-WI      1        DI-NA-U      1
HT11a           2         *322-RI      1          KU-RO     10
HT99b           6      DA-SI-*118      2          ZU-DU      1
PH2             1      RA-O-DI-KI     60     PI-RU-E-JU     60

       word separator         word number         word number
HT9b                êÑÅ        PA-DE      3         A-SI      3
HT1                 êÑÅ        KI-RO    197        ZU-SU     70
HT85b               êÑÅ    KI-RE-TA‚ÇÇ      1        QE-KA      1
HT117b              êÑÅ     KU-RE-JU      1     DI-KI-SE      1
HT117a              êÑÅ         U-SU      1        MI-TU      1
HT26a               êÑÅ        TA-TI     21  MI-KI-SE-NA     15
HT85a               êÑÅ     DA-RI-DA     12       PA‚ÇÉ-NI     12
HT63                êÑÅ           TE      1        KA-TI      1
HT94b               êÑÅ        TU-MA      1     PA-TA-NE      1
HT87                êÑÅ  PI-TA-KE-SI      1     JA-RE-MI      1

,word,word separator,word,number,word
HT1,QE-RA‚ÇÇ-U,êÑÅ,KI-RO,197,ZU-SU
HT117a,U-MI-NA-SI,êÑÅ,U-SU,1,MI-TU
HT94b,KI-RO,êÑÅ,TU-MA,1,PA-TA-NE
HT87,MA-KA-RI-TE,êÑÅ,PI-TA-KE-SI,1,JA-RE-MI
HT85b,KI-KI-RA-JA,êÑÅ,KI-RE-TA‚ÇÇ,1,QE-KA
HT117b,*21F-TU-NE,êÑÅ,KU-RE-JU,1,DI-KI-SE
SYZa2,A-TA-I-*301-WA-JA,êÑÅ,JA-SU-MA-TU-OLIV,1,U-NA-KA-NA-SI-OLE
HT88,KI-RO,êÑÅ,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU
HT26a,*312-TE-TE,êÑÅ,TA-TI,21,MI-KI-SE-NA
HT9b,KA-*305,êÑÅ,PA-DE,3,A-SI

     word separator logogram number[ ]logogram number
KH14              êÑÅ      CYP       6       CYP    ¬π‚ÅÑ‚ÇÑ
HT34              êÑÅ      GRA     200     E+[ ]      2
HT2               êÑÅ    OLE+U      20     OLE+A     17

       logogram number[        ]word logogram number[
HT128a   GRA+KU      12        MI-TA   GRA+PA     ¬π‚ÅÑ‚ÇÇ
ARKH3b      GRA       6      PI-*314      GRA       1
HT2       OLE+E       3  KI-RE-TA-NA    OLE+U      54

       logogram number[ ]logogram number number
HT2       OLE+U      54     OLE+A     47      1
HT131a      GRA      58       OLE     12    ¬π‚ÅÑ‚ÇÇ

           word number[ ]number        word number
HT3          DI       2       4       MU-RU      1
HT122a  U-DE-ZA       2       2  DA-SI-*118      2

            ]word number     word[        ]word number
HT111a      QE-KA      8     QA-SA        QA-RU      8
HT25a   ZU-JU-PU‚ÇÇ      1  DU-RU-WI      I-KI-RA      1
HT4      DU-RI-TE      2     PA-RE  TA-PI-SI-DI      1

      ]word number[  ]word number[ lacuna
HT69  MA-DI       4     DI      12      êù´
HT5   MA-SI      30  WI-DU      10      êù´

               word word separator           word word separator logogram
HT14         PU-VIN              êÑÅ             TE              êÑÅ      GRA
HT96b    A-PA-RA-NE              êÑÅ  QA-*118-RA-RE              êÑÅ     *516
HT6a       DA-TA-RA              êÑÅ             TE              êÑÅ       NI
HT21    PI-TA-KA-SE              êÑÅ             TE              êÑÅ      GRA
HT28a    A-SI-JA-KA              êÑÅ        JA-*21F              êÑÅ   GRA+QE
HT43       MA-SI-DU              êÑÅ      PA-*342-I              êÑÅ        I
HT92             TE              êÑÅ           A-DU              êÑÅ      GRA
ZA8           KI-RA              êÑÅ        A-TA-RE              êÑÅ       NI
HT93a     PA‚ÇÉ-NI-NA              êÑÅ        GRA-PA‚ÇÉ              êÑÅ    RE+SE
HT40     NU-DU-*331              êÑÅ             TE              êÑÅ      GRA
HT17        RA-ÛΩá´-TI              êÑÅ             TE              êÑÅ      VIN
HT9a          SA-RO              êÑÅ             TE              êÑÅ      VIN
HT19     RA-*164-TI              êÑÅ             TE              êÑÅ      VIN
KH88       QA-NU-MA              êÑÅ      *21F-*118              êÑÅ       NI
HT115b     TI-NU-JA              êÑÅ          NU-WI              êÑÅ      GRA

       number       logogram number           word number
HT94a      18             TA      4          KU-RO    110
HT34      100            PA‚ÇÉ     70          KI-RO     37
HT25b      28        VIR+[?]     24          KU-RO     52
HT89       24      VIR+*313a     13          TA-RA      5
HT127b     11          KI+MU     14          KU-RO    291
HT146      30             MA     30       RI-KA-TA     30
HT6a       24          JA+RU      êùì        MA-*321     10
HT119      34        VIR+[?]     67       RI-MI-SI     13
HT103     ¬π‚ÅÑ‚ÇÇ           *188     13       DA-KU-NA      1
HT38        1            CAP      3      *554-*118      3
HT12        1  QA2+[?]+PU+RE   ¬π‚ÅÑ‚ÇÅ‚ÇÜ           DA-I     50
HT27a       5        VIR+[?]     42          KU-RO    335
HT49a       1           *312      1      KU-PA‚ÇÉ-NU      1
HT85b       1             KA      1             DI      1
HT100       5      VIR+*313a     16          KU-RO     97
HT28a       2            VIN      3     VIR+KA-VIN      6
HT23a      10              E     17  *21F-RI-TU-QA   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT102       3             WI     10           I-KA      5
HT118      15             KI     10       QA-QA-RU      6

            number number    logogram number       number
HT89             2    ¬≥‚ÅÑ‚ÇÑ          NI      2          ¬π‚ÅÑ‚ÇÑ
HTZd157+156      1    ¬π‚ÅÑ‚ÇÇ        *904      2          ¬π‚ÅÑ‚ÇÑ
HT131a          12    ¬π‚ÅÑ‚ÇÇ        *304     12          ¬≥‚ÅÑ‚ÇÑ
HT6a            22    ¬≥‚ÅÑ‚ÇÑ          NI     15          ¬π‚ÅÑ‚ÇÇ
HT8b             1    ¬π‚ÅÑ‚Çà  *86+'*188'    ¬π‚ÅÑ‚ÇÇ          ¬π‚ÅÑ‚ÇÇ
HT100            5    ¬π‚ÅÑ‚ÇÑ          NI      2  double mina
HT123+124a      31    ¬π‚ÅÑ‚ÇÇ        *308      8          ¬≥‚ÅÑ‚ÇÑ
HT21             3    ¬≥‚ÅÑ‚ÇÑ        *304      7          ¬≥‚ÅÑ‚ÇÑ

           number           word number number        word
ZA15a           6       SI-PI-KI      2    ¬π‚ÅÑ‚ÇÇ    JA-SA-MU
HT13           56          TE-KI     27    ¬π‚ÅÑ‚ÇÇ    KU-ZU-NI
HT24b         ¬≥‚ÅÑ‚ÇÑ  SI+ME-KI-*118      1    ¬≥‚ÅÑ‚ÇÑ   *539-*118
HT10b          15        *312-TA      6    ¬π‚ÅÑ‚ÇÇ    KA-SA-RU
HT123+124a    ¬π‚ÅÑ‚ÇÑ          KI-RO      1     .3      PU-VIN
HT93a         ¬π‚ÅÑ‚ÇÇ       KI-DI-NI      5     êùÜêùÖ        A-SE
HT19           30          SA-RO      5    ¬π‚ÅÑ‚ÇÇ    DU-ME-DI
ZA5b           20       SI-PI-KI      1    ¬π‚ÅÑ‚ÇÇ  MA-KA-I-TA
HT6a            2       KA-PA-QE      5    ¬≥‚ÅÑ‚ÇÑ    DA-QE-RA
HT8b            2      QA-*310-I      1    ¬≥‚ÅÑ‚Çà       KA-PA

                        word number            word number           word
HT6a                 MA-*321     10     O-RA‚ÇÇ-DI-NE      2       KA-PA-QE
HT95a                  DA-ME     10        MI-NU-TE     10          SA-RU
HT11a               KA-RO-NA      2         *322-RI      1          KU-RO
ZA15a               MI-ZA-SE      3   *28B-NU-MA-RE      6       SI-PI-KI
HT8a                 TE-*301      2       QA-*310-I    ¬≥‚ÅÑ‚ÇÑ       SI-KI-RA
HT85b              KI-RE-TA‚ÇÇ      1           QE-KA      1             PA
ZA20                SI-TE-TU      1           SI-TU      6        TE-AROM
HT119               RI-MI-SI     13           KO-JA     10   KU-PA‚ÇÉ-NA-TU
HT103               DA-KU-NA      1     DA-KU-SE-NE      1          KI-RA
HT7a                 I-RU-JA      3           DU-JA      4       TA-NA-TI
HT96a                  RU-SA      4       *323-*317      1       PI-TA-RA
HT123+124b        DU-MA-I-NA    ¬≥‚ÅÑ‚Çà           KU-RO     20          KI-RO
HT99b               SI+SE-NI      6      DA-SI-*118      2          ZU-DU
HT6b                RA-TI-SE      1      MA-RI-RE-I      3       DU-DA-MA
HT115a      NA-*21F-NE-MI-NA      1        SE-KU-TU    ¬π‚ÅÑ‚ÇÇ       PA-RA-NE
HT10b                   U-TI      1           DA-RE      2       TA-RI-NA
PE2                A-*325-ZA    ¬π‚ÅÑ‚ÇÑ         A-RI-PA    ¬π‚ÅÑ‚ÇÑ       QA-QA-DA
HT25a                U-RE-WI      1         DI-NA-U      1     A-RI-NI-TA
HT122a                 TE-KI      2       QA-*310-I      3    JA-MI-DA-RE
HT98a               TA-NA-TI    ¬≥‚ÅÑ‚ÇÑ     DI-RE-DI-NA    ¬π‚ÅÑ‚ÇÇ        TE-*301
PH2             A-SE-TU-*21F      1      RA-O-DI-KI     60     PI-RU-E-JU
HT9a                 *306-TU     10         DI-NA-U      4          QE-PU
ZA4a              QE-SI-ZU-E      4   *28B-NU-MA-RE     13       SI-PI-KI
HT122b              QA-QA-RU      2              DI      2          DA-RE
HT26a                  TA-TI     21     MI-KI-SE-NA     15      U-NU-*21F
ZA10a             A-KU-MI-NA      1      A-TA-NA-TE      1      A-MI-DA-U
HT9b                    A-SI      3         *306-TU      8     *324-DI-RA
HT95b                  DA-ME     10        MI-NU-TE     10       KU-NI-SU
HT31                    *815    400  *815-SU-PA‚ÇÉ-RA    300  *815-PA-TA-QE

,word,word separator,word,word separator,word
TLZa1,A-TA-I-*301-WA-JA,êÑÅ,O-SU-QA-RE,êÑÅ,JA-SA-SA-RA-ME
CR(?)Zf1,A-MA-WA-SI,êÑÅ,KA-NI-JA-MI,êÑÅ,I-JA
IOZa2,A-TA-I-*301-WA-JA,êÑÅ,JA-DI-KI-TU,êÑÅ,JA-SA-SA-RA-ME
PLZf1,WI-TE-JA-MU,êÑÅ,U-QE-TI,êÑÅ,JA-SA-SA-RA-ME
KOZa1,TU-RU-SA,êÑÅ,DU-*314-RE,êÑÅ,I-DA-A
HT96a,I-TI-TI-KU-NI,êÑÅ,A-PA-RA-NE,êÑÅ,A-AROM-TE
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,êÑÅ,NI-JA-NU,êÑÅ,JU-KU-NA-PA-KU-NU-U-I-ZU
KNZf31,TE-SU-DE-SE-KE-I,êÑÅ,A-DA-RA,êÑÅ,TI-DI-TE-QA-TI
KNZc7,A-KA-NU-ZA-TI,êÑÅ,DU-RA-RE,êÑÅ,A-ZU-RA
KH5,A-DA-KI-SI-KA,êÑÅ,A-RA-U-DA,êÑÅ,WI-SA-SA-NE
HT28b,A-SI-JA-KA,êÑÅ,U-MI-NA-SI,êÑÅ,SA-RA‚ÇÇ
PKZa8,PA‚ÇÉ-E,êÑÅ,JA-DI-KI-TE-TE-*307-PU‚ÇÇ-RE,êÑÅ,TU-ME-I
HT6a,KA-PA,êÑÅ,DA-TA-RA,êÑÅ,TE
HT34,DA-JU-TE,êÑÅ,SI-*516,êÑÅ,SA-RA‚ÇÇ
ZAZb3,A-TA-I-*301-DE-KA,êÑÅ,A-RE-PI-RE-NA,êÑÅ,TI-TI-KU
HT117a,MA-KA-RI-TE,êÑÅ,KI-RO,êÑÅ,U-MI-NA-SI
HT87,*21F-TU-NE,êÑÅ,MA-KA-RI-TE,êÑÅ,PI-TA-KE-SI
HTWc3017,QA-KU-RE,êÑÅ,DI-*306,êÑÅ,CYP+D-*304+PA
SYZa4,A-TA-I-*301-WA-JA,êÑÅ,JA-I-NWA-ZA,êÑÅ,PA‚ÇÉ-NI-WI
IOZa6,TA-NA-I-*301-U-TI-NU,êÑÅ,I-NA-TA-I-ZU-DI-SI-KA,êÑÅ,JA-SA-SA-RA-ME
HT116a,U-TA-RO,êÑÅ,TE,êÑÅ,KU-PA-JA
KH7a,I-JA-PA-ME,êÑÅ,TA-TA,êÑÅ,QA-TI-KI

        word separator       word word separator logogram number
HT28a                êÑÅ    JA-*21F              êÑÅ   GRA+QE      5
HT14                 êÑÅ         TE              êÑÅ      GRA     30
HT115b               êÑÅ      NU-WI              êÑÅ      GRA    ¬π‚ÅÑ‚ÇÇ
HT92                 êÑÅ       A-DU              êÑÅ      GRA    680
ZA8                  êÑÅ    A-TA-RE              êÑÅ       NI    ¬π‚ÅÑ‚ÇÇ
HT93a                êÑÅ    GRA-PA‚ÇÉ              êÑÅ    RE+SE     12
HT17                 êÑÅ         TE              êÑÅ      VIN     37
HT40                 êÑÅ         TE              êÑÅ      GRA    207
HT19                 êÑÅ         TE              êÑÅ      VIN     30
HT21                 êÑÅ         TE              êÑÅ      GRA    161
KH88                 êÑÅ  *21F-*118              êÑÅ       NI     10
ZA18a                êÑÅ    KU-*321              êÑÅ   GRA+PA      2
HT6a                 êÑÅ         TE              êÑÅ       NI     15
ZA1a                 êÑÅ   KI-RE-ZA              êÑÅ       NI     42
HT42+59              êÑÅ         TE              êÑÅ   OLE+KI      8

         logogram number       word number   logogram
HT27a     VIR+[?]     42      KU-RO    335        CYP
HT34          PA‚ÇÉ     70      KI-RO     37       E+KA
HT88       VIR+KA     20      RE-ZA      6         NI
HT118          KI     10   QA-QA-RU      6         KI
HT6a           NI     15   PI-TA-JA     24      JA+RU
HT38          CAP      3  *554-*118      3    TELA+KU
HT89   JU+*317+QE     22    MA-I-MI     24  VIR+*313a

         logogram number           word       number         word
HT89    VIR+*313a     13          TA-RA            5        KU-RO
HT93a    I-GRA+PA      5      VIR+[?]-I            6     DE-JU-KU
HT96a         GRA      5          RU-SA            4    *323-*317
HT85b          KA      1             DI            1        ME-ZA
HT100   VIR+*313a     16          KU-RO           97       SA-RA‚ÇÇ
HT28a         VIN      3     VIR+KA-VIN            6   A-RU-DA-RA
HT17          VIN     37          SA-RO           10     SI-DA-RE
HT49a        *312      1      KU-PA‚ÇÉ-NU            1    TU-SU-PU‚ÇÇ
HT119     VIR+[?]     67       RI-MI-SI           13        KO-JA
HT6a        JA+RU      êùì        MA-*321           10  O-RA‚ÇÇ-DI-NE
HT115b        GRA    ¬π‚ÅÑ‚ÇÇ      DU-PA‚ÇÉ-NA            1     KU-RU-MA
HT23a           E     17  *21F-RI-TU-QA         ¬π‚ÅÑ‚ÇÅ‚ÇÜ     SA-SA-ME
HT110a      CYP+E     20          KU-PA            1        KU-RO
HT94a          TA      4          KU-RO          110       SA-RA‚ÇÇ
ZA8            NI    ¬π‚ÅÑ‚ÇÇ    KU-TU-KO-RE  double mina   A-RI-NI-TA
HT102      GRA+PA     33       DI-RI-NA           10        MA-ZU
HT118          KI      1       RI-RU-MA           10        KU-RO
HT103        *188     13       DA-KU-NA            1  DA-KU-SE-NE

,word separator,word,word separator,word,word separator
KNZc6,êÑÅ,NI-JA-NU,êÑÅ,JU-KU-NA-PA-KU-NU-U-I-ZU,êÑÅ
HT96a,êÑÅ,A-PA-RA-NE,êÑÅ,A-AROM-TE,êÑÅ
HT117a,êÑÅ,KI-RO,êÑÅ,U-MI-NA-SI,êÑÅ
KOZa1,êÑÅ,DU-*314-RE,êÑÅ,I-DA-A,êÑÅ
TLZa1,êÑÅ,O-SU-QA-RE,êÑÅ,JA-SA-SA-RA-ME,êÑÅ
PKZa8,êÑÅ,PA‚ÇÉ-E,êÑÅ,JA-DI-KI-TE-TE-*307-PU‚ÇÇ-RE,êÑÅ
CR(?)Zf1,êÑÅ,KA-NI-JA-MI,êÑÅ,I-JA,êÑÅ
KNZf31,êÑÅ,A-DA-RA,êÑÅ,TI-DI-TE-QA-TI,êÑÅ
KNZc7,êÑÅ,DU-RA-RE,êÑÅ,A-ZU-RA,êÑÅ
PLZf1,êÑÅ,WI-TE-JA-MU,êÑÅ,U-QE-TI,êÑÅ
IOZa6,êÑÅ,I-NA-TA-I-ZU-DI-SI-KA,êÑÅ,JA-SA-SA-RA-ME,êÑÅ
HT6a,êÑÅ,DA-TA-RA,êÑÅ,TE,êÑÅ
IOZa2,êÑÅ,SI-RU-TE,êÑÅ,TA-NA-RA-TE-U-TI-NU,êÑÅ
HT34,êÑÅ,SI-*516,êÑÅ,SA-RA‚ÇÇ,êÑÅ

                   word number number        word number
HT10b           *312-TA      6    ¬π‚ÅÑ‚ÇÇ    KA-SA-RU      6
HT104    DA-KU-SE-NE-TI     45    ¬π‚ÅÑ‚ÇÇ     I-DU-TI     20
ZA15a          SI-PI-KI      2    ¬π‚ÅÑ‚ÇÇ    JA-SA-MU      5
PE2       RU-PI-*305-MI      1    ¬π‚ÅÑ‚Çà   A-*325-ZA    ¬π‚ÅÑ‚ÇÑ
HT13              TE-KI     27    ¬π‚ÅÑ‚ÇÇ    KU-ZU-NI     18
HT24b     SI+ME-KI-*118      1    ¬≥‚ÅÑ‚ÇÑ   *539-*118      1
HT10a             DA-RE     16    ¬π‚ÅÑ‚ÇÇ   U-*325-ZA      4
HT19              SA-RO      5    ¬π‚ÅÑ‚ÇÇ    DU-ME-DI     43
ZA8          MA-KA-I-SE      2     êùÉêùÜ  DA-I-PI-TA      2
ZA5b           SI-PI-KI      1    ¬π‚ÅÑ‚ÇÇ  MA-KA-I-TA      3
HT36   *307+*387-GRA+QE     64    ¬π‚ÅÑ‚ÇÇ    DU-ZU-WA      7
HT8b          QA-*310-I      1    ¬≥‚ÅÑ‚Çà       KA-PA    ¬π‚ÅÑ‚ÇÇ
HT6b        WA-DU-NI-MI      3  ‚âà ¬π‚ÅÑ‚ÇÜ    RA-TI-SE      1

           number number         word number        word
HT123+124a      8    ¬≥‚ÅÑ‚ÇÑ        KI-RO     .3       SA-RU
HT10a           2    ¬π‚ÅÑ‚ÇÇ     DA-RI-DA      8       ME-ZA
HT6b            3  ‚âà ¬π‚ÅÑ‚ÇÜ     RA-TI-SE      1  MA-RI-RE-I
HT93a          26    ¬≥‚ÅÑ‚ÇÑ       SA-RA‚ÇÇ     20    QA-QA-RU
HT104          20    ¬π‚ÅÑ‚ÇÇ  PA-DA-SU-TI     29       KU-RO
HT9a            5    ¬≥‚ÅÑ‚ÇÑ      *306-TU     10     DI-NA-U

      logogram        word number           word number
ZA5a    VIN-SU    KI-NI-MA      7  O-TA-NI-ZA-SE      6
ZA15a   SA-VIN  QE-SI-ZU-E     57     I-TI-NI-SA     10
HT15       GRA   DU-AROM-A    684      GRA+L4+L4    570
HT7a   VIR+[?]     I-RU-JA      3          DU-JA      4
HT95a      GRA       DA-ME     10       MI-NU-TE     10

       word separator  logogram            word number           word
HT7a                êÑÅ   VIR+[?]         I-RU-JA      3          DU-JA
HT95a               êÑÅ       GRA           DA-ME     10       MI-NU-TE
HT115a              êÑÅ  GRA+BOSm  RI-TA-MA-NU-WI      2      *301-U-RA
ZA5a                êÑÅ    VIN-SU        KI-NI-MA      7  O-TA-NI-ZA-SE

                   word logogram number          word number
HT8a              JE-DI   OLE+KI     10  PA‚ÇÉ-KA-RA-TI      1
HT88               A-DU   VIR+KA     20         RE-ZA      6
HT96a          SI-MI-TA      GRA      5         RU-SA      4
HT110a  SI-DU-*34-KU-MI    CYP+E     20         KU-PA      1
HT108       KI-RE-TA-NA  VIR+[?]      1         GRA+H     70

           number number           word number number
HT9a            2    ¬π‚ÅÑ‚ÇÇ           A-RU      4    ¬π‚ÅÑ‚ÇÑ
HT123+124a      8    ¬π‚ÅÑ‚ÇÑ          KI-RO      1     .3
HT93a          43    ¬π‚ÅÑ‚ÇÇ       KI-DI-NI      5     êùÜêùÖ
HT8a            1    ¬π‚ÅÑ‚ÇÇ             PA      3    ¬π‚ÅÑ‚ÇÇ
PE2             3    ¬π‚ÅÑ‚ÇÉ  RU-PI-*305-MI      1    ¬π‚ÅÑ‚Çà
ZA8             2     êùÉêùÜ     DA-I-PI-TA      2    ¬π‚ÅÑ‚ÇÇ
HT104          45    ¬π‚ÅÑ‚ÇÇ        I-DU-TI     20    ¬π‚ÅÑ‚ÇÇ
HT24b           1    ¬≥‚ÅÑ‚ÇÑ  SI+ME-KI-*118      1    ¬≥‚ÅÑ‚ÇÑ
HT19            5    ¬π‚ÅÑ‚ÇÇ       DU-ME-DI     43    ¬π‚ÅÑ‚ÇÇ
HT36           64    ¬π‚ÅÑ‚ÇÇ       DU-ZU-WA      7    ¬π‚ÅÑ‚ÇÇ

       number word also in linear b number         word number
ZA10a       1            DA-I-PI-TA      1  DU-RE-ZA-SE      2
HT85b       1                 MA-DI      1    QA-*310-I      1
HT89       13                 TA-RA      5        KU-RO     87
PE2       ¬π‚ÅÑ‚ÇÇ                 TO-ME    ¬π‚ÅÑ‚ÇÉ    TO-*49-RE      1
HT115a    ¬π‚ÅÑ‚ÇÇ              PA-RA-NE      1      A-SE-JA   êùÇêùÇêùÇêùÇ
HT8b      ¬≥‚ÅÑ‚Çà                 KA-PA    ¬π‚ÅÑ‚ÇÇ     PA-JA-RE      1
HT85a       5                 TE-KE      3        DA-RE      4
HT122a      1                 PA-DE      1    KU-PA‚ÇÉ-NU      1

                word number        word number number
ZA8    TA-I-NU-MA-PA    ¬π‚ÅÑ‚ÇÇ  MA-KA-I-SE      2     êùÉêùÜ
HT8b        PA‚ÇÉ-*188      2   QA-*310-I      1    ¬≥‚ÅÑ‚Çà
ZA5b   *28B-NU-MA-RE     20    SI-PI-KI      1    ¬π‚ÅÑ‚ÇÇ
HT103    DA-KU-SE-NE      1       KI-RA      5    ¬π‚ÅÑ‚ÇÇ

           word word separator logogram word separator            word
HT35   TI-TI-KU              êÑÅ     *326              êÑÅ         I-KU-TA
HT104     TA-PA              êÑÅ   TE+RO[              êÑÅ  DA-KU-SE-NE-TI
HT9a         TE              êÑÅ      VIN              êÑÅ           PA-DE

        word separator logogram word separator   word word separator
HT42+59              êÑÅ    SI+SE              êÑÅ     TE              êÑÅ
HT9a                 êÑÅ      VIN              êÑÅ  PA-DE              êÑÅ

      number          word number   logogram number
HT89      22       MA-I-MI     24  VIR+*313a     13
HT119     10  KU-PA‚ÇÉ-NA-TU      7         TI      7
HT11a      1     VIR+[?]-I      3        TA‚ÇÇ     15
HT26b      3    KA-U-ZU-NI      4      KI+MU     12
HT49a      1          A-RU      1       *370      1
HT23a   ¬π‚ÅÑ‚ÇÅ‚ÇÜ      SA-SA-ME   ¬π‚ÅÑ‚ÇÅ‚ÇÜ      SI+ME     10
HT27a     42         KU-RO    335        CYP      9
HT38       3     *554-*118      3    TELA+KU      2
HT34      70         KI-RO     37       E+KA   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT10a    ¬π‚ÅÑ‚ÇÇ     U-*325-ZA      4       *301      6

       word separator         word word separator         word number
HT10a               êÑÅ           PA              êÑÅ        DA-RE     16
HT117a              êÑÅ   U-MI-NA-SI              êÑÅ         U-SU      1
HT26a               êÑÅ   *312-TE-TE              êÑÅ        TA-TI     21
HT87                êÑÅ  MA-KA-RI-TE              êÑÅ  PI-TA-KE-SI      1

           word word separator   word number       number
HT41a  MI-DA-NI              êÑÅ  PA-JA      2  double mina
HT10a        PA              êÑÅ  DA-RE     16          ¬π‚ÅÑ‚ÇÇ

                  word number   logogram number       word
HT10a        U-*325-ZA      4       *301      6  U-*325-ZA
HT89           MA-I-MI     24  VIR+*313a     13      TA-RA
HT146          RI-*305     30         MA     30   RI-KA-TA
HT26b       KA-U-ZU-NI      4      KI+MU     12     I-*308
HT123+124b       PI-SA      4       *188      1    *188-DU
HT118         QA-QA-RU      6         KI      4    A-RI-SU
HT27a            KU-RO    335        CYP      9         êùïêùÅ

      number logogram number       word number[
HT140      1    OLE+U      2      KA-PA     ¬π‚ÅÑ‚ÇÇ
HT26b      4    KI+MU     12     I-*308       2
HT10a      4     *301      6  U-*325-ZA      14
MA10a      2   *412+E      4       *659       4

      number            word number[         word number
HT10a      6       U-*325-ZA      14      *305-RU      2
ZA14       1  TU-MI-TI-ZA-SE      45     PA-NU-QE      2
TY2       82     *309C-DA-JU      17  *309C-RU-KA     30

           word word separator     word number word separator
HT16   KA-KU-PA              êÑÅ  DI-NA-U    ¬π‚ÅÑ‚Çà              êÑÅ
HT10a  KU-NI-SU              êÑÅ    SA-MA      4              êÑÅ

                word number          word number logogram
HT11a        A-SU-JA      1     VIR+[?]-I      3      TA‚ÇÇ
HT49a      KU-PA‚ÇÉ-NU      1     TU-SU-PU‚ÇÇ      1       KI
HT102       DI-RI-NA     10         MA-ZU      3       WI
HT89           TA-RA      5         KU-RO     87      CYP
HT119          KO-JA     10  KU-PA‚ÇÉ-NA-TU      7       TI
HT23a  *21F-RI-TU-QA   ¬π‚ÅÑ‚ÇÅ‚ÇÜ      SA-SA-ME   ¬π‚ÅÑ‚ÇÅ‚ÇÜ    SI+ME
HT15       DU-AROM-A    684     GRA+L4+L4    570     *188
HT118       RI-RU-MA     10         KU-RO     30       KI

             number    logogram number       logogram number
HT100            12          KI      2           *305      5
HT101            40       OLE+U      8         OLE+MI      8
HT127b           24       KI+MU     15           *301     11
HT23a            10  QA2+[?]+RE     10  QA2+[?]+RE+PU     10
HT116a           16      OLE+KI      1         OLE+MI      6
HT94a            20        TI+A      7      VIR+*313b     18
ZA11a           ¬π‚ÅÑ‚ÇÑ          JU     êùàêùâ            VIN    ¬π‚ÅÑ‚ÇÇ
HT34             êùÖêùá  QA2+[?]+PU  ‚âà ¬π‚ÅÑ‚ÇÜ     QA2+[?]+RE    ¬π‚ÅÑ‚ÇÑ
KH11           ¬π‚ÅÑ‚ÇÅ‚ÇÜ          SU      3          CYP+E     êùáêùâ
HT90              1          NI      1         OLE+MI      1
TY3a            ¬π‚ÅÑ‚ÇÑ       OLE+U     22          NE-KI      5
HT130             8          NI      6            VIN      3
HT32            ¬π‚ÅÑ‚ÇÇ      OLE+NE     êùÜêùá     QA2+[?]+PU      1
ZA18a   double mina      OLE+KI      ?           OLIV    ¬π‚ÅÑ‚ÇÑ
KH8             ¬π‚ÅÑ‚ÇÇ        *304    ¬π‚ÅÑ‚ÇÑ            CYP    ¬π‚ÅÑ‚ÇÑ
HT140             3          KA      1          OLE+U      1
HT35              1    MI+JA+RU    ¬π‚ÅÑ‚ÇÉ         OLE+RI    ¬π‚ÅÑ‚ÇÉ
HT96b           ¬≥‚ÅÑ‚ÇÑ       OLE+U      4             NI      2
HT11b            40          KA     30             KA     50
HT14              3      OLE+DI      3           *304      9
HT49a             1        *370      1           *312      1
HT91          ‚âà ¬π‚ÅÑ‚ÇÜ         VIN  ‚âà ¬π‚ÅÑ‚ÇÜ              E      5
MA4a             15      HIDE+L    120      HIDE+SA+L     53
HT129            êùÜêùÅ        *304     10             NI     22
HT12              5       CYP+E      3             NI      1
ZA6b            ¬π‚ÅÑ‚ÇÑ      VIN+RA     40         VIN+KA     10
HT38              3     TELA+KU      2      TELA+*312      1
HT28a             2      OLE+KI    ¬π‚ÅÑ‚ÇÇ         OLE+MI      1
HT18             20      OLE+KI      2           *304      3
HT28b            20      OLE+DI      5             NI      2
HT21            161       OLE+U     11          OLE+E      3
HT50a           ¬π‚ÅÑ‚ÇÑ      OLE+MI    ¬π‚ÅÑ‚ÇÇ          OLE+E    ¬π‚ÅÑ‚ÇÇ
THEZg5           40          PU      5           *171      7
HT33             êùÉêùâ    MI+JA+KA    ¬π‚ÅÑ‚ÇÖ           *305     90
KH12              2        *308    ¬π‚ÅÑ‚ÇÇ       MI+JA+RU    ¬π‚ÅÑ‚ÇÇ
KH7b            ¬π‚ÅÑ‚ÇÇ     *304+PA      1             SI     14

             logogram number    logogram number             word
HT11b              KA     30          KA     50         RU-ZU-NA
HT38               AU      1         CAP      3        *554-*118
HT119            *327     34     VIR+[?]     67         RI-MI-SI
HT49a            *370      1        *312      1        KU-PA‚ÇÉ-NU
HT23a   QA2+[?]+RE+PU     10           E     17    *21F-RI-TU-QA
ZA6b           VIN+RA     40      VIN+KA     10         *312-TA‚ÇÇ
HT28a          OLE+MI      1      OLE+TU      êùâ           SA-RA‚ÇÇ
MA10a         *413+SU      2      *412+E      4             *659
HT18           OLE+KI      2        *304      3           SA-RA‚ÇÇ
KH5             CYP+E      2     VINb+WI      2         WI-NA-DU
HT14             *304      9        OLIV     13      A-PU‚ÇÇ-NA-DU
HT129            *304     10          NI     22    TU-*21F-RI-NA
HT28b              NI      2         VIN      4           PU-RA‚ÇÇ
HT12           OLE+DI      5        *304      5         QE-TU-NE
HT91              VIN  ‚âà ¬π‚ÅÑ‚ÇÜ           E      5            TE-RI
HT100            *305      5   VIR+*313a     16            KU-RO
HT94a       VIR+*313b     18          TA      4            KU-RO
HT16               WA    ¬π‚ÅÑ‚ÇÉ     *188+KU    ¬≥‚ÅÑ‚Çà            SA-PO
HT127b           *301     11       KI+MU     14            KU-RO
HT25b         VIR+[?]     28     VIR+[?]     24            KU-RO
HT34         SA+MU+KU    100         PA‚ÇÉ     70            KI-RO
HT101          OLE+MI      8      OLE+KI      2           SA-RA‚ÇÇ
KH7a        VIR+*313b     10       CYP+D    ¬π‚ÅÑ‚ÇÇ       I-JA-PA-ME
HT90               NI     10      OLE+DI      3  SI-RU-MA-RI-TA‚ÇÇ
KH11              CYP    ¬π‚ÅÑ‚ÇÉ    *348-CYP     êùáêùâ   A-TO-*349-TO-I
HT116a         OLE+MI      6        OLIV      3        PI-*34-TE
HT89             *305     23  JU+*317+QE     22          MA-I-MI
ZA11a             VIN    ¬π‚ÅÑ‚ÇÇ   QE+GRA+PA      4            KU-PA
HT32       QA2+[?]+RE      1    MI+JA+RU      1            SU-RE

           word word separator logogram number      word
HT11b  SA-QE-RI              êÑÅ       KA     30     KU-RO
HT40         TE              êÑÅ      GRA    207  KI-DA-TA

       number      word word separator    logogram number
HT116a     16    PU-RA‚ÇÇ              êÑÅ         GRA     40
ZA11b       2     KU-PA              êÑÅ      GRA+PA      3
HT91        5     TE-RI              êÑÅ      OLE+MI  ‚âà ¬π‚ÅÑ‚ÇÜ
HT11b      30  SA-QE-RI              êÑÅ          KA     30
KH7a     ¬π‚ÅÑ‚ÇÅ‚ÇÜ   E-NA-SI              êÑÅ   VIR+*313b     10
HT93a      12  DI-RI-NA              êÑÅ    DA+RE+SE     43
HT12        5  QE-TU-NE              êÑÅ  QA2+[?]+PU      1
HT105     234    SA-RA‚ÇÇ              êÑÅ     VIR+[?]    235
HT115b      1  KU-RU-MA              êÑÅ           I    ¬π‚ÅÑ‚ÇÇ

        logogram number             word logogram number
HT14        OLIV     13      A-PU‚ÇÇ-NA-DU      GRA     45
HT28a     OLE+TU      êùâ           SA-RA‚ÇÇ   OLE+DI      1
HT129         NI     22    TU-*21F-RI-NA      GRA     40
HT101     OLE+KI      2           SA-RA‚ÇÇ      GRA     41
HT128b    GRA+KU      6     VIR+[?]-*329   GRA+KU      1
HT16     *188+KU    ¬≥‚ÅÑ‚Çà            SA-PO       ZE   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT90      OLE+DI      3  SI-RU-MA-RI-TA‚ÇÇ      GRA      1
HT28b        VIN      4           PU-RA‚ÇÇ       NI      6
HT18        *304      3           SA-RA‚ÇÇ      GRA     10
HT11b         KA     50         RU-ZU-NA       KA     30
KH11    *348-CYP     êùáêùâ   A-TO-*349-TO-I    CYP+E      3
HT27a        CYP      9               êùïêùÅ       NI     10

                   word word separator   logogram number logogram
HT92               A-DU              êÑÅ        GRA    680     *304
HT21                 TE              êÑÅ        GRA    161    OLE+U
HT28a           JA-*21F              êÑÅ     GRA+QE      5    OLE+U
KH7a            E-NA-SI              êÑÅ  VIR+*313b     10    CYP+D
HT91              TE-RI              êÑÅ     OLE+MI  ‚âà ¬π‚ÅÑ‚ÇÜ        E
HT42+59              TE              êÑÅ     OLE+KI      8    OLE+U
HT12        QA-TI-DA-TE              êÑÅ     OLE+DI      5     *304
HT103             U-TA‚ÇÇ              êÑÅ         NI     40      PA‚ÇÉ
HT23a             KA-NA              êÑÅ        CYP    ¬π‚ÅÑ‚ÇÉ     *308
HT116a           PU-RA‚ÇÇ              êÑÅ        GRA     40   OLE+DI
ZA15b             KU-RO              êÑÅ        VIN     78   VIN+RA
HT32             SA-RA‚ÇÇ              êÑÅ       *308    ¬π‚ÅÑ‚ÇÇ   OLE+NE
HT14                 TE              êÑÅ        GRA     30   OLE+MI
HT123+124a      KI-TA-I              êÑÅ       OLIV     31     *308

           number   logogram number        word word separator
KH7a           10      CYP+D    ¬π‚ÅÑ‚ÇÇ  I-JA-PA-ME              êÑÅ
HT32            1   MI+JA+RU      1       SU-RE              êÑÅ
ZA11a         ¬π‚ÅÑ‚ÇÇ  QE+GRA+PA      4       KU-PA              êÑÅ
KH10          ¬π‚ÅÑ‚ÇÇ        GRA     10  I-PA-SA-JA              êÑÅ
HT12            5       *304      5    QE-TU-NE              êÑÅ
KH5             2    VINb+WI      2    WI-NA-DU              êÑÅ
HT91        ‚âà ¬π‚ÅÑ‚ÇÜ          E      5       TE-RI              êÑÅ
HT123+124b      4       *188      1     *188-DU              êÑÅ

          logogram number    logogram number   logogram
HT35           CYP      1    MI+JA+RU    ¬π‚ÅÑ‚ÇÉ     OLE+RI
HT27b           SA      1          RE     14        VIN
HT28b          GRA     20      OLE+DI      5         NI
HT100         TI+A     12          KI      2       *305
HT33          E+KA     êùÉêùâ    MI+JA+KA    ¬π‚ÅÑ‚ÇÖ       *305
HT50a       OLE+KI    ¬π‚ÅÑ‚ÇÑ      OLE+MI    ¬π‚ÅÑ‚ÇÇ      OLE+E
KH7b         CYP+D    ¬π‚ÅÑ‚ÇÇ     *304+PA      1         SI
HT94a          *86     20        TI+A      7  VIR+*313b
HT127b   VIR+*313c     24       KI+MU     15       *301
THEZg5          MA     40          PU      5       *171
KH11           CYP   ¬π‚ÅÑ‚ÇÅ‚ÇÜ          SU      3      CYP+E
HT34    QA2+[?]+PU  ‚âà ¬π‚ÅÑ‚ÇÜ  QA2+[?]+RE    ¬π‚ÅÑ‚ÇÑ    MI+JA+I
HT101       GRA+QE     40       OLE+U      8     OLE+MI
HT90           GRA     20          NI     10     OLE+DI
HT140        OLE+U      3          KA      1      OLE+U
HT130       SI-CYP      8          NI      6        VIN
TY3a         OLE+U     22       NE-KI      5    OLE+QIf
ZA11a           JU     êùàêùâ         VIN    ¬π‚ÅÑ‚ÇÇ  QE+GRA+PA
HT12    QA2+[?]+PU      1           E     30       *560
HT116a         GRA     40      OLE+DI      5      SI+SE
MA4a        HIDE+L    120   HIDE+SA+L     53  HIDE+SA+B
HT18        GRA+QE     20      OLE+KI      2       *304

           word separator   logogram number    logogram number
HT123+124a              êÑÅ       OLIV     31        *308      8
KH7a                    êÑÅ  VIR+*313b     10       CYP+D    ¬π‚ÅÑ‚ÇÇ
HT89                    êÑÅ       *305     23  JU+*317+QE     22
HT12                    êÑÅ     OLE+DI      5        *304      5
HT116a                  êÑÅ        GRA     40      OLE+DI      5
HT14                    êÑÅ        GRA     30      OLE+MI      3
KH20                    êÑÅ      CYP+E    ¬π‚ÅÑ‚ÇÇ          NI    ¬π‚ÅÑ‚ÇÑ
MA10a                   êÑÅ    *413+SU      2      *412+E      4
HT27b                   êÑÅ         SA      1          RE     14
HT92                    êÑÅ        GRA    680        *304     12
HT21                    êÑÅ        GRA    161       OLE+U     11
HT32                    êÑÅ       *308    ¬π‚ÅÑ‚ÇÇ      OLE+NE     êùÜêùá
HT28a                   êÑÅ     GRA+QE      5       OLE+U      2
HT91                    êÑÅ        GRA     .3        *304  ‚âà ¬π‚ÅÑ‚ÇÜ
PH1a                    êÑÅ       *316      1         CYP  ‚âà ¬π‚ÅÑ‚ÇÜ
ZA15b                   êÑÅ        VIN     78      VIN+RA     17
MA10b                   êÑÅ     *405+Œ©      1      *412+E      3
HT23a                   êÑÅ        CYP    ¬π‚ÅÑ‚ÇÉ        *308  ‚âà ¬π‚ÅÑ‚ÇÜ
HT16                    êÑÅ         WA    ¬π‚ÅÑ‚ÇÉ     *188+KU    ¬≥‚ÅÑ‚Çà

           logogram word separator        word word separator   word
HT13            VIN              êÑÅ          TE              êÑÅ  RE-ZA
HT26a    *406VAS+KE              êÑÅ  *312-TE-TE              êÑÅ  TA-TI
LACHZa1          MI              êÑÅ     RI-DA-U              êÑÅ  SE-JE

     number[         word number           word number
HT13     ¬π‚ÅÑ‚ÇÇ        TE-TU     56          TE-KI     27
TY2       17  *309C-RU-KA     30  *309-RI-WA-JU    160

             word logogram word separator        word word separator
ZA11b     E-TO-RI     *516              êÑÅ  SA-*301-RI              êÑÅ
HT13   KA-U-DE-TA      VIN              êÑÅ          TE              êÑÅ

                          word   logogram number  logogram number
KH11                 A-TA-*350       *301      1      *306      1
HT123+124a               DA-TU       OLIV     15      *308      4
KH7a                  QA-TI-KI  VIR+*313b      4     CYP+D    ¬π‚ÅÑ‚ÇÉ
HT25b                     I-TI    VIR+[?]     28   VIR+[?]     24
HT90                    SA-RA‚ÇÇ        GRA     20        NI     10
HTZd157+156  WI-JA-SU-MA-TI-TI       *904      1      *904      1
HT18                     PA-SE     GRA+QE     20    OLE+KI      2
HT116a                SI-KI-NE        GRA     12      *304     12
HT14               A-PU‚ÇÇ-NA-DU        GRA     45    OLE+MI      5
HT28b                   SA-RA‚ÇÇ        GRA     20    OLE+DI      5
HT28a                   SA-RA‚ÇÇ     OLE+DI      1        NI      2
HT35                   I-KU-TA        CYP      1  MI+JA+RU    ¬π‚ÅÑ‚ÇÉ
HT94a                       62        *86     20      TI+A      7
KH5                WI-SA-SA-NE      CYP+E      2   VINb+WI      2
HT127b                      72  VIR+*313c     24     KI+MU     15
HT101               ZU-*22F-DI     GRA+QE     40     OLE+U      8

               logogram number number    logogram number
HT27a                NI     10    ¬π‚ÅÑ‚ÇÉ         VIN      7
ZA1a                 NI     42    ¬π‚ÅÑ‚ÇÇ          ZA      5
TY3a             OLE+KI     15    ¬π‚ÅÑ‚ÇÑ       OLE+U     22
HT21              OLE+E      3    ¬≥‚ÅÑ‚ÇÑ        *304      7
HTZd157+156        *904      2    ¬π‚ÅÑ‚ÇÑ        *904      3
HT89                CYP      2    ¬≥‚ÅÑ‚ÇÑ          NI      2
HT100               CYP      5    ¬π‚ÅÑ‚ÇÑ          NI      2
HT123+124a         OLIV     31    ¬π‚ÅÑ‚ÇÇ        *308      8
ZA6b             GRA+PA     50    ¬π‚ÅÑ‚ÇÑ      VIN+RA     40
HT106                SI      5    ¬π‚ÅÑ‚ÇÇ          SI      1
HT101              OLIV      1    ¬π‚ÅÑ‚ÇÑ    *OLIV+TU      1
HT129               GRA     33     êùÜêùÅ        *304     10
HT32         QA2+[?]+PU      1   ¬π‚ÅÑ‚ÇÅ‚ÇÜ  QA2+[?]+RE      1

      ]number number  logogram number         word
HT24a       9    ¬π‚ÅÑ‚ÇÇ  MA-RU-ME      6  PA-SA-RI-JA
HT103       6    ¬π‚ÅÑ‚ÇÇ      *188     13     DA-KU-NA

            word number           word number       word[
HT87    QE-SU-PU      1       KU-RU-KU      1        A-RA
HT115a   A-SE-JA   êùÇêùÇêùÇêùÇ       KA-PO-RU      1    RI-SU-MA
HT85b      QE-KA      1             PA      1       TE-TU
HT63          TE      1          KA-TI      1      SU-PU‚ÇÇ
ZA7a        U-JU      5        A-RA-TU      4  A-RE-TU-MI
ZA5a    KI-NI-MA      7  O-TA-NI-ZA-SE      6  SA-MI-DA-E
HT85a      TE-KE      3          DA-RE      4       KU-RO
HT25a    DI-NA-U      1     A-RI-NI-TA      1    TU-QE-NU

            word number      word word separator        word
HT115b  PA-RA-NE    ¬π‚ÅÑ‚ÇÇ  TI-NU-JA              êÑÅ       NU-WI
HT88    KI-KI-NA      7     KI-RO              êÑÅ  KU-PA‚ÇÉ-PA‚ÇÉ
HT25b      KU-RO     16  WI-TE-RO              êÑÅ        I-TI

              word word separator         word   logogram number
HT116a          TE              êÑÅ     KU-PA-JA        GRA     16
HT25b     WI-TE-RO              êÑÅ         I-TI    VIR+[?]     28
HT28b   U-MI-NA-SI              êÑÅ       SA-RA‚ÇÇ        GRA     20
KH7a         TA-TA              êÑÅ     QA-TI-KI  VIR+*313b      4
KH5      A-RA-U-DA              êÑÅ  WI-SA-SA-NE      CYP+E      2
HT133         A-DU              êÑÅ           TE     GRA+DA     55
HT96a    A-AROM-TE              êÑÅ     SI-MI-TA        GRA      5

           number         word       number            word number[
ZA8           ¬π‚ÅÑ‚ÇÇ  KU-TU-KO-RE  double mina      A-RI-NI-TA       1
HT26a          21  MI-KI-SE-NA           15       U-NU-*21F       5
HT110a         20        KU-PA            1           KU-RO     100
HT123+124b    ¬≥‚ÅÑ‚Çà        KU-RO           20           KI-RO       5
ZA14            8        KU-PI            1  TU-MI-TI-ZA-SE      45

      word separator    logogram word separator logogram number
HT91               êÑÅ        *326              êÑÅ      GRA     .3
HT89               êÑÅ        *307              êÑÅ     *305     23
HT26b              êÑÅ  *406VAS+KE              êÑÅ  VIR+[?]      9
HT27a              êÑÅ        *307              êÑÅ  VIR+[?]     90
HT27b              êÑÅ      VIN+WA              êÑÅ       SA      7

      logogram number         word number[         word
TY2    VIR+[?]     82  *309C-DA-JU      17  *309C-RU-KA
HT26b    KI+MU     12       I-*308       2     *188-*86

       ]number logogram number    logogram number
MA10b        4   *402+A      2  TI+*412VAS      2
HT110b       1       MA      2        *301    ¬≥‚ÅÑ‚ÇÑ
HT50a      ¬π‚ÅÑ‚ÇÑ   OLE+KI    ¬π‚ÅÑ‚ÇÑ      OLE+MI    ¬π‚ÅÑ‚ÇÇ
HT140        4    OLE+U      3          KA      1
HT27a       50      *86     51          RE     20
HT33         3     E+KA     êùÉêùâ    MI+JA+KA    ¬π‚ÅÑ‚ÇÖ

                 word word separator   logogram word separator  logogram
HT89         A-SA-RA‚ÇÇ              êÑÅ       *307              êÑÅ      *305
HT27a        TI-NI-TA              êÑÅ       *307              êÑÅ   VIR+[?]
HT85a            A-DU              êÑÅ  *307+*387              êÑÅ   VIR+[?]
HT115a   *47-NU-RA-JA              êÑÅ          I              êÑÅ  GRA+BOSm
HT27b           PA-SE              êÑÅ     VIN+WA              êÑÅ        SA
HT91             I-KA              êÑÅ       *326              êÑÅ       GRA
HT96b   QA-*118-RA-RE              êÑÅ       *516              êÑÅ       GRA
HT43        PA-*342-I              êÑÅ          I              êÑÅ    GRA+PA

           word[     ]word number logogram number
HT27a    KU-*305  SA-RA-DI      5  VIR+[?]     42
HT93a  PA‚ÇÉ-NI-NA  PA-SE-JA     20  VIR+[?]     10

      logogram word separator logogram number    logogram
HT41a     *305              êÑÅ     *304     10          RE
HT89      *307              êÑÅ     *305     23  JU+*317+QE
HT27b      GRA              êÑÅ       SA      1          RE
HT91      *326              êÑÅ      GRA     .3        *304

      logogram number logogram number logogram[
HT27b       SA      4       RE     70       VIN
KH8       *304    ¬π‚ÅÑ‚ÇÑ      CYP    ¬π‚ÅÑ‚ÇÑ   VIR+[?]

      ]logogram word separator logogram number logogram[
HT27b       GRA              êÑÅ       SA      4        RE
KH22         ZA              êÑÅ       SU      7     CYP+E

         word logogram number     word logogram
HT102  SA-RA‚ÇÇ      GRA    976   PA‚ÇÉ-NI   GRA+PA
HT28b  PU-RA‚ÇÇ       NI      6  JA-*21F      VIN

            logogram number  logogram number number
HT96b          OLE+U      4        NI      2   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT28b         OLE+DI      3       VIN      3    ¬π‚ÅÑ‚ÇÑ
HTZd157+156     *904      1      *904      1    ¬π‚ÅÑ‚ÇÇ
HT94a            CYP      5        NI      3  ‚âà ¬π‚ÅÑ‚ÇÜ
TY3a          OLE+KI     51  OLE+KI+U      2    ¬π‚ÅÑ‚ÇÖ
HT123+124a      OLIV     31      *308      8    ¬π‚ÅÑ‚ÇÑ

       word separator     ]word number        word number
HT122a              êÑÅ        DI      1       TE-KI      2
HT29                êÑÅ     KI-TA      2   A-RE-DA-I      2
PK1                 êÑÅ     NE-TI      1       KA-QA      2
ZA4a                êÑÅ  TU-ME-SE     18  QE-SI-ZU-E      4

                    ]word number      word number[ ]number
HT31    *416-VS-KA-RO-PA‚ÇÉ     10  SA-JA-MA      30      10
HT110b                 RO     20      *648       3       1

                    word              word number            word number
HT31    KI-DE-MA-*323-NA              *815    400  *815-SU-PA‚ÇÉ-RA    300
HT115a         *301-U-RA  NA-*21F-NE-MI-NA      1        SE-KU-TU    ¬π‚ÅÑ‚ÇÇ

,]word,word separator,word,word separator,word
KNZf31,SI-SI-ZA-NE-*310,êÑÅ,DA-DU-MI-NE,êÑÅ,QA-MI-*47-NA-RA
HT31,TI-SA,êÑÅ,PU-KO,êÑÅ,*410-VS
PKZa8,NU,êÑÅ,PA‚ÇÉ-E,êÑÅ,JA-DI-KI-TE-TE-*307-PU‚ÇÇ-RE

      word separator       ]word word separator            word word separator
PSZa2              êÑÅ     êÑå-JA-TI              êÑÅ  JA-SA-SA-RA-ME              êÑÅ
IOZa2              êÑÅ  I-PI-NA-MA              êÑÅ        SI-RU-TE              êÑÅ
HT31               êÑÅ       TI-SA              êÑÅ           PU-KO              êÑÅ

      number   word number logogram[ ]logogram
HT55a      1  SI-RU      1        NE        TU
HT32     108     DI     65    OLE+NE        RE

            logogram number number    logogram number[
HT33   QA2+[?]+RE+PU      1    ¬π‚ÅÑ‚ÇÑ  QA2+[?]+RE     êùâêùãêù´
HT89              NI      2    ¬π‚ÅÑ‚ÇÑ         VIN       6
HT129            GRA     40    ¬π‚ÅÑ‚ÇÇ      OLE+DI       1

         logogram number[ ]number logogram number
HT33   QA2+[?]+RE     êùâêùãêù´       3     E+KA     êùÉêùâ
HT101      OLE+KI       2       3     OLIV      1
KH9         CYP+D     ¬π‚ÅÑ‚ÇÇ       2      CYP    ¬π‚ÅÑ‚ÇÑ

     logogram[ logogram number    logogram number
HT35    OLE+TA        E      5  QA2+[?]+PU   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
GO2r        SI       KA    ¬π‚ÅÑ‚Çà          SI      2

           word     word number logogram number
HT93a  DA-RI-DA  *406-VS      2     *343      2
HT38   DA-RO-PA  *403-VS      1       AU      1

          ]word number logogram[     ]word number
HT39   KU-RE-JU      8        KU  SA-MA-TI     10
HT55b        TE      1        QE     RI-JA      1

      word separator logogram number      word word separator
HT41a              êÑÅ     *304     10  MI-DA-NI              êÑÅ
HT40               êÑÅ      GRA    207  KI-DA-TA              êÑÅ
HT93a              êÑÅ    RE+SE     12  DI-RI-NA              êÑÅ

     logogram number      word word separator logogram[
HT40      GRA    207  KI-DA-TA              êÑÅ       GRA
KH7a    CYP+D    ¬π‚ÅÑ‚ÇÉ   SE-*305              êÑÅ        KU

           number      word word separator        word number
HT41a          10  MI-DA-NI              êÑÅ       PA-JA      2
HT123+124b    ¬≥‚ÅÑ‚ÇÑ  TI-DA-TA              êÑÅ       PI-SA      4
HT88            7     KI-RO              êÑÅ  KU-PA‚ÇÉ-PA‚ÇÉ      1

      logogram number        word word separator     word
HT41a     *304     10    MI-DA-NI              êÑÅ    PA-JA
KH7a     CYP+D    ¬π‚ÅÑ‚ÇÇ  I-JA-PA-ME              êÑÅ    TA-TA
KH10       GRA     10  I-PA-SA-JA              êÑÅ  QA-*118
KH5    VINb+WI      2    WI-NA-DU              êÑÅ  *301-NA

        logogram number logogram number[ ]number
HT101       *304      3   OLE+KI       2       3
HT42+59   OLE+KI      8    OLE+U       2       2

             word logogram number logogram number[
TY3b     PI-KU-ZU   OLE+KI      4   OLE+MI      11
HT42+59     SA-RO   OLE+KI      8    OLE+U       2
TY3a         A-DA    OLE+U     21   OLE+MI       2

        logogram word separator        word word separator logogram
HT42+59    SI+SE              êÑÅ          TE              êÑÅ   OLE+KI
ZA11b       *516              êÑÅ  SA-*301-RI              êÑÅ   GRA+PA
ZA1a        *516              êÑÅ    KI-RE-ZA              êÑÅ       NI

              word word separator logogram[ logogram number
HT44a    I-QA-*118              êÑÅ       GRA   OLE+KI      3
HT58   QE-TI-RA-DU              êÑÅ   VIR+[?]    OLE+U     19

       logogram number[ logogram number logogram
HT44a     OLE+U       5   OLE+RA      5     OLIV
HT116b      GRA     100     *304     15      OLE

      number logogram number[ ]logogram number
HT44a      5     OLIV       1        NI      1
KH14       2      CYP    ¬π‚ÅÑ‚ÇÅ‚ÇÜ        NI    ¬π‚ÅÑ‚ÇÑ
HT129    ¬π‚ÅÑ‚ÇÇ   OLE+DI       1    OLE+KI      6

        logogram number logogram number[ ]logogram
KH7a        *334      4    CYP+D       1         I
HT44a     OLE+RA      5     OLIV       1        NI
TY3b      OLE+KI      4   OLE+MI      11    OLE+NE
KH12   *401+*304    ¬π‚ÅÑ‚ÇÖ  *401+RU      êùçêù´   *401+RU
KH14        *336      2      CYP    ¬π‚ÅÑ‚ÇÅ‚ÇÜ        NI

       lacuna     ]word number[              ]word number
HT46a       êù´     MU-RU       1              KU-RO     43
HT127a      êù´  DU-NE-MI       1  *304+PA-DA-*47-KU      1

      logogram number logogram number[ lacuna
KN2       *118      3   I+*301       5      êù´
HT91    OLE+MI  ‚âà ¬π‚ÅÑ‚ÇÜ        E       3      êù´
HT49a       TU      4       KI       1      êù´

      number logogram number logogram number[
HT49a      5       TU      4       KI       1
KH14     ¬π‚ÅÑ‚ÇÑ     *336      2      CYP    ¬π‚ÅÑ‚ÇÅ‚ÇÜ
KN2        2     *118      3   I+*301       5

           logogram number logogram number number[
HT50a         OLE+E    ¬π‚ÅÑ‚ÇÇ     *304      1     ¬π‚ÅÑ‚ÇÇ
HT123+124a     OLIV     16     *308      4   ‚âà ¬π‚ÅÑ‚ÇÜ

      number[ ]logogram number  logogram number
KH14        6       CYP    ¬π‚ÅÑ‚ÇÑ      *336      2
HT50a     ¬π‚ÅÑ‚ÇÇ      OLIV      3  *OLIV+TU    ¬≥‚ÅÑ‚Çà

       ]word number logogram[ lacuna lacuna
HT55b  RI-JA      1         I      êù´      êù´
HT51b  ZU-DU      ‚Öù        SI      êù´      êù´

      number[     ]word number logogram[ lacuna
HT81    ‚âà ¬π‚ÅÑ‚ÇÜ  RI-SU-MA      êùã        KI      êù´
HT51b      12     ZU-DU      ‚Öù        SI      êù´

      number[ ]logogram number      word number
HT55a       1      *301      1     SI-RU      1
HT98a       1        TU      1  TA-NA-TI    ¬≥‚ÅÑ‚ÇÑ

      ]logogram number   word number logogram[
MA2b         TI      1  JA-KU      2        TI
HT55a      *301      1  SI-RU      1        NE

      number logogram number  ]word[ lacuna
HT58       3     OLIV     41    U-KI      êù´
HT139      1      OLE    ¬π‚ÅÑ‚ÇÇ  KA-RA‚ÇÇ      êù´

     logogram number logogram[ ]logogram number
KH8       CYP    ¬π‚ÅÑ‚ÇÑ   VIR+[?]        NI    ¬π‚ÅÑ‚ÇÑ
KH91      GRA      1       VIN      *316      1
KH22       SU      7     CYP+E        SI      4
HT58    OLE+U     19    OLE+MI     OLE+E      3

            logogram number number   word number[
HT62+73          GRA     15    ¬π‚ÅÑ‚ÇÑ  KA-KU       4
HTZd157+156     *904      3    ¬≥‚ÅÑ‚Çà  TA-JA    ¬π‚ÅÑ‚ÇÅ‚ÇÜ

,word separator,word,word separator,logogram[,word separator
IOZa2,êÑÅ,TA-NA-RA-TE-U-TI-NU,êÑÅ,I,êÑÅ
HT62+73,êÑÅ,TE,êÑÅ,VIN,êÑÅ

                     ]word word separator     word word separator logogram[
SYZa1    A-TA-I-*301-WA-JA              êÑÅ  I-DA-MI              êÑÅ        JA
HT62+73              SA-RA              êÑÅ       TE              êÑÅ       VIN

     logogram word separator      word number   word
HT63     *305              êÑÅ        TE      1  KA-TI
HT88       NI              êÑÅ  KI-KI-NA      7  KI-RO

      word separator logogram word separator            word number
HT104              êÑÅ   TE+RO[              êÑÅ  DA-KU-SE-NE-TI     45
HT118              êÑÅ     *516              êÑÅ           MA-DI     15
HT85a              êÑÅ  VIR+[?]              êÑÅ        DA-RI-DA     12

       number         word number       word[ number
HT85b       1           PA      1       TE-TU      1
TY2       290  *309B-KI-PU     50  *309-DA-PU     10
HT115b    ¬π‚ÅÑ‚ÇÇ   *306-TU-JA      1         A-I      1

                 word number logogram number number
HT123+124b  *188-*308     11     *312      1    ¬≥‚ÅÑ‚ÇÑ
HT89            KU-RO     87      CYP      2    ¬≥‚ÅÑ‚ÇÑ

           word word separator  logogram number       number
ZA18a   KU-*321              êÑÅ    GRA+PA      2  double mina
ZA1a   KI-RE-ZA              êÑÅ        NI     42          ¬π‚ÅÑ‚ÇÇ
HT140     JE-DI              êÑÅ    OLE+KI      1          ¬π‚ÅÑ‚ÇÇ
HT93a  DI-RI-NA              êÑÅ  DA+RE+SE     43          ¬π‚ÅÑ‚ÇÇ

        logogram number      word word separator  logogram
HT93a      RE+SE     12  DI-RI-NA              êÑÅ  DA+RE+SE
ZA11a  QE+GRA+PA      4     KU-PA              êÑÅ    GRA+PA

      logogram       number  logogram       number ]number
MA10b   *405+Œ©            1    *412+E            3       4
HT94a      CYP  double mina        NI  double mina      14
KH12      *308          ¬π‚ÅÑ‚ÇÇ  MI+JA+RU          ¬π‚ÅÑ‚ÇÇ     ¬π‚ÅÑ‚ÇÉ

      logogram number[ logogram number number
HT99a       NI       4      VIN      1  ‚âà ¬π‚ÅÑ‚ÇÜ
ZA12a       TI      13       RU     28      6
PE1    VIR+[?]      50   GRA+PA     26    ¬π‚ÅÑ‚ÇÇ
HT106      CYP       6       SI      5    ¬π‚ÅÑ‚ÇÇ

       number[ ]number logogram number number
HT110b       3       1       MA      5    ¬π‚ÅÑ‚ÇÇ
HT101        2       3     OLIV      1    ¬π‚ÅÑ‚ÇÑ

      ]number   logogram number logogram number[
KH12     ¬π‚ÅÑ‚ÇÅ‚ÇÜ  *401+*304    ¬π‚ÅÑ‚ÇÖ  *401+RU      êùçêù´
HT101      20       *304      3   OLE+KI       2

      number dividing line ]number logogram number
PH8a       2             ‚Äî      16  *418+L2      1
HT101      2             ‚Äî      20     *304      3

      logogram number logogram number   word[
GO2r        KA    ¬π‚ÅÑ‚Çà       SI      2      DA
HT101      OLE     10    DI+QE      3  KU-PA‚ÇÉ

      logogram number      word logogram number[
HT102      GRA    976    PA‚ÇÉ-NI   GRA+PA      33
ZA6b    VIN+KA     10  *312-TA‚ÇÇ   GRA+PA      40

            word logogram number[ logogram number
HT106   MI-NU-TE      CYP       6       SI      5
PE1     KU-PA-RI  VIR+[?]      50   GRA+PA     26
HT116b     KU-RO      GRA     100     *304     15

       number   word number dividing line      word
HT117a      1  KU-RO     10             ‚Äî     SA-TA
HT108       1  GRA+H     70             ‚Äî  DI-NA-RO

      ]logogram number[ lacuna ]logogram number
PH3b         SI     ¬π‚ÅÑ‚ÇÑ      êù´        SI      1
HT109        RE       4      êù´        TA      4

           number  word[  ]word number        word
HT111a          8  QA-SA  QA-RU      8          DI
HT123+124b  13/20  KA-NA  SI-DU  ‚âà ¬π‚ÅÑ‚ÇÜ  DU-MA-I-NA

       lacuna lacuna  ]word number  word[
ZA27        êù´      êù´  DI-KI      2   O-MI
HT111a      êù´      êù´  QE-KA      8  QA-SA

       number        word word separator     word word separator
HT115b    ¬π‚ÅÑ‚ÇÇ    TI-NU-JA              êÑÅ    NU-WI              êÑÅ
KH5         2    WI-NA-DU              êÑÅ  *301-NA              êÑÅ
KH7a      ¬π‚ÅÑ‚ÇÇ  I-JA-PA-ME              êÑÅ    TA-TA              êÑÅ

       number[ logogram number logogram number
HT116b     100     *304     15      OLE     17
ZA12b       40       TI     13       RU     26

       number ]logogram number       word number
MA2b        4        TI      1      JA-KU      2
PH3a        êùì      *560      êùì      PA-RA      êùì
HT122a      1        DU      1  KU-PA‚ÇÉ-NU      1

            number logogram number number      word
HTZd157+156    ¬π‚ÅÑ‚ÇÑ     *904      3    ¬≥‚ÅÑ‚Çà     TA-JA
HT123+124a      31     *308      8    ¬π‚ÅÑ‚ÇÑ     KI-RO
HT123+124b      11     *312      1    ¬≥‚ÅÑ‚ÇÑ  TI-DA-TA

       lacuna        ]word[ ]logogram number number
HT125a      êù´           RA‚ÇÇ    OLE+KI      1    ¬π‚ÅÑ‚ÇÖ
ARKH1a      êù´  A-SU-MI-*118        NE      2    ¬π‚ÅÑ‚ÇÇ

               word logogram number[     ]word logogram
HT128a  WA-TU-MA-RE   GRA+KU      12     MI-TA   GRA+PA
KH7b      U-TA-I-SE    CYP+D     ¬π‚ÅÑ‚ÇÇ  PA-NA-TU    CYP+D

       lacuna ]logogram number[ ]logogram number
HT131b      êù´        NI      30      OLIV      2
HT154a      êù´        KU       6        TA      6
KH84        êù´       CYP     ¬π‚ÅÑ‚ÇÇ      *301      1
KH26        êù´   VIR+[?]      60        NI      2

               word[ ]number       word[ ]logogram number
ZA6a    *34-JU-TE-MI     180        I-SE      OLIV     15
HT135a         MI-KA       1  NA-*21F-NE        MI      2

      number logogram number ]logogram number
HT140      1    OLE+U      1        KA      1
KH8      ¬π‚ÅÑ‚ÇÇ       NI    ¬π‚ÅÑ‚ÇÇ       GRA    ¬π‚ÅÑ‚ÇÇ
KH15     ¬π‚ÅÑ‚ÇÇ       NI    ¬π‚ÅÑ‚ÇÇ        NI    ¬π‚ÅÑ‚ÇÑ

       word separator            word      word word separator  word[
KNZa10              êÑÅ  JA-SA-SA-RA-MA        NA              êÑÅ  DA-WA
IOZa12              êÑÅ           JA-SA  SA-RA-ME              êÑÅ   I-TI

     word separator ]logogram logogram number logogram
KH11              êÑÅ        ZA      CYP   ¬π‚ÅÑ‚ÇÅ‚ÇÜ       SU
KH7a              êÑÅ        KI     *334      4    CYP+D

     ]logogram number logogram number logogram
KH14       CYP    ¬π‚ÅÑ‚ÇÑ     *336      2      CYP
KH8         TA      2    CYP+D    ¬π‚ÅÑ‚ÇÇ       NI

     logogram[ ]number logogram number logogram[
KH9   VIR+*307    ¬π‚ÅÑ‚ÇÅ‚ÇÜ       NI     êùÉêùÅ        MI
KH91        ZU   ‚âà ¬π‚ÅÑ‚ÇÜ       TU   ¬π‚ÅÑ‚ÇÅ‚ÇÜ        NI

      word separator        word word separator logogram number[
ZA11b              êÑÅ  SA-*301-RI              êÑÅ   GRA+PA       1
KH14               êÑÅ     A-MA-JA              êÑÅ      CYP       6

               ]word number[ ]number logogram number[
KN28b             TE      êùäêù´       3    SU+MI      êùäêù´
KH19   *306-VIR+*307      13       2   OLE+TA     ¬π‚ÅÑ‚ÇÉ

     ]logogram number[ ]logogram number[ lacuna
KH25   VIR+[?]     140   VIR+[?]      10      êù´
PH3b    ]MI+JA     ¬≥‚ÅÑ‚ÇÑ        SI     ¬π‚ÅÑ‚ÇÑ      êù´
KH63        SU      10   *401+RU      êùâêù´      êù´

     lacuna lacuna ]number logogram[ lacuna
KH46      êù´      êù´      êù´êùã       VIN      êù´
KH35      êù´      êù´       1       CYP      êù´

       ]logogram word separator           word word separator logogram[
PKZa10        SI              êÑÅ  I-PI-NA-MI-NA              êÑÅ        SI
KNZb4         JU              êÑÅ          JA-SI              êÑÅ        SI

      logogram number logogram number lacuna
ZA18a   OLE+KI      ?     OLIV    ¬π‚ÅÑ‚ÇÑ      êù´
PH1a      *316      1      CYP  ‚âà ¬π‚ÅÑ‚ÇÜ      êù´

     ]logogram number logogram number dividing line
TY3a        KI      5   OLE+TU      1             ‚Äî
PH8a   VIR+[?]     11     *304      2             ‚Äî

            ]word word separator   word word separator  word[
PKZa18         TE              êÑÅ   I-DA              êÑÅ  JA-JA
ZAZb34  PU‚ÇÇ-RE-JA              êÑÅ  KO-MU              êÑÅ  RU-DI

              word number       word[ number        word
ZA10a     TA-NA-TE      2          PA      1  A-KU-MI-NA
TY2    *309B-KI-PU     50  *309-DA-PU     10    PA-DA-RU

               word number       word[ lacuna lacuna
ZA5a  O-TA-NI-ZA-SE      6  SA-MI-DA-E      êù´      êù´
ZA14       PA-NU-QE      2       JA-WI      êù´      êù´

                     word number           word number
PK1           RA-NA-TU-SU      1          NI-MI      1
HT119             JA-*345     10        *306-TU      2
HT94b               SA-RU      1          KU-RO      5
HT29            A-RE-DA-I      2    KA-DU-MA-NE      1
HT117a               U-SU      1          MI-TU      1
HT85b           KI-RE-TA‚ÇÇ      1          QE-KA      1
HT122a          KU-PA‚ÇÉ-NU      1       DA-RI-DA      1
HT13             KU-ZU-NI     18     DA-SI-*118     19
HT95a               SA-RU     20       KU-NI-SU     10
ZA15a          QE-SI-ZU-E     57     I-TI-NI-SA     10
HT8a             SI-KI-RA    ¬π‚ÅÑ‚ÇÑ    KI-RE-TA-NA    ¬π‚ÅÑ‚ÇÇ
HT89                TA-RA      5          KU-RO     87
ZA20          RU-MA-TA-SE      3          KU-RA    130
TY2           *309C-RU-KA     30  *309-RI-WA-JU    160
HT88             SA-MA-RO      1       DA-TA-RE      1
THEZb13         QI-VIN+TE    120     KA-A-SI-TE    120
HT104         PA-DA-SU-TI     29          KU-RO     95
ZA5b        *28B-NU-MA-RE     20       SI-PI-KI      1
HT10b            KA-SA-RU      6       TA-NA-TI      9
HT26a               TA-TI     21    MI-KI-SE-NA     15
HT85a            DA-RI-DA     12         PA‚ÇÉ-NI     12
HT117b           KU-RE-JU      1       DI-KI-SE      1
HT9b           *324-DI-RA      2          QE-PU      2
HT31          *815-QA-PA‚ÇÉ     10  *415-VS-SU-PU     10
ZA14             ME-KI-DI      1      *21F-*118      1
HT63                   TE      1          KA-TI      1
HT95b            KU-NI-SU     10       DI-DE-RU     10
HT17                SA-RO     10       SI-DA-RE      5
ZA5a             KI-NI-MA      7  O-TA-NI-ZA-SE      6
HT109               KU-RO    129        A-RA-JU    123
HT87          PI-TA-KE-SI      1       JA-RE-MI      1
HT49a           KU-PA‚ÇÉ-NU      1      TU-SU-PU‚ÇÇ      1
HT115a            A-SE-JA   êùÇêùÇêùÇêùÇ       KA-PO-RU      1
HT102            DI-RI-NA     10          MA-ZU      3
HT10a            DA-RI-DA      8          ME-ZA      3
HT6b                SA-MA     35      PA‚ÇÉ-NI-NA     17
HT9a                QE-PU      2     *324-DI-RA      2
HT122b              KU-RO     65    PO-TO-KU-RO     97
PE2                 TO-ME    ¬π‚ÅÑ‚ÇÉ      TO-*49-RE      1
HT98a            TA-NA-TI    ¬≥‚ÅÑ‚ÇÑ    DI-RE-DI-NA    ¬π‚ÅÑ‚ÇÇ
HT1             KU-PA‚ÇÉ-NU    109     A-RA-NA-RE    105
HT93a           VIR+[?]-I      6       DE-JU-KU      1
HT118            RI-RU-MA     10          KU-RO     30
ZA10a          A-TA-NA-TE      1      A-MI-DA-U      1
HT96a               RU-SA      4      *323-*317      1
HT99b               ZU-DU      1       RU-MA-TA      1
HT11a            KA-RO-NA      2        *322-RI      1
HT23a       *21F-RI-TU-QA   ¬π‚ÅÑ‚ÇÅ‚ÇÜ       SA-SA-ME   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT7a              I-RU-JA      3          DU-JA      4
PH2            PI-RU-E-JU     60      SE-SA-PA‚ÇÉ     60
HT25a             U-RE-WI      1        DI-NA-U      1
ZA4a                E-*82     50          KA-DI      3
HT8b                KA-PA    ¬π‚ÅÑ‚ÇÇ       PA-JA-RE      1
ZA8         TA-I-NU-MA-PA    ¬π‚ÅÑ‚ÇÇ     MA-KA-I-SE      2
HT6a              MA-*321     10    O-RA‚ÇÇ-DI-NE      2
HT7b           *21F-TU-NE      1     DA-RU-*329      2
HT103            DA-KU-NA      1    DA-KU-SE-NE      1
HT123+124b     DU-MA-I-NA    ¬≥‚ÅÑ‚Çà          KU-RO     20
HT15            DU-AROM-A    684      GRA+L4+L4    570
ZA7a                 U-JU      5        A-RA-TU      4

                         word word separator              word number
HT26a              *312-TE-TE              êÑÅ             TA-TI     21
HT16                 KA-KU-PA              êÑÅ           DI-NA-U    ¬π‚ÅÑ‚Çà
SYZa2       A-TA-I-*301-WA-JA              êÑÅ  JA-SU-MA-TU-OLIV      1
HT123+124b           TI-DA-TA              êÑÅ             PI-SA      4
HT88                    KI-RO              êÑÅ        KU-PA‚ÇÉ-PA‚ÇÉ      1
HT1                  QE-RA‚ÇÇ-U              êÑÅ             KI-RO    197
HT10a                KU-NI-SU              êÑÅ             SA-MA      4
HT9b                  KA-*305              êÑÅ             PA-DE      3
HT6a                 DA-QE-RA              êÑÅ          QE-PI-TA     22
HT94b                   KI-RO              êÑÅ             TU-MA      1
HT87              MA-KA-RI-TE              êÑÅ       PI-TA-KE-SI      1
HT117a             U-MI-NA-SI              êÑÅ              U-SU      1
HT95b                    A-DU              êÑÅ             SA-RU     10
HT41a                MI-DA-NI              êÑÅ             PA-JA      2
HT85b             KI-KI-RA-JA              êÑÅ         KI-RE-TA‚ÇÇ      1
HT117b             *21F-TU-NE              êÑÅ          KU-RE-JU      1

           number            word       number           word
ZA14            3        QA-TI-JU            8          KU-PI
HT6b          ¬π‚ÅÑ‚ÇÑ           SA-MA           35      PA‚ÇÉ-NI-NA
HT95b          10        MI-NU-TE           10       KU-NI-SU
HT9a          ¬≥‚ÅÑ‚ÇÑ         *306-TU           10        DI-NA-U
HT115a          1         A-SE-JA         êùÇêùÇêùÇêùÇ       KA-PO-RU
PE2           ¬π‚ÅÑ‚ÇÑ         A-RI-PA          ¬π‚ÅÑ‚ÇÑ       QA-QA-DA
HT122b          2           KU-RO           65    PO-TO-KU-RO
HT104         ¬π‚ÅÑ‚ÇÇ     PA-DA-SU-TI           29          KU-RO
HT122a          3     JA-MI-DA-RE            1       SI-DA-RE
HT123+124a    ¬≥‚ÅÑ‚ÇÑ           KI-RO           .3          SA-RU
HT13           18      DA-SI-*118           19     I-DU-NE-SI
HT9b            2           QE-PU            2      TA-I-AROM
HT94a           4           KU-RO          110         SA-RA‚ÇÇ
HT8b          ¬≥‚ÅÑ‚Çà           KA-PA          ¬π‚ÅÑ‚ÇÇ       PA-JA-RE
ZA8           ¬π‚ÅÑ‚ÇÇ     KU-TU-KO-RE  double mina     A-RI-NI-TA
HT115b        ¬π‚ÅÑ‚ÇÇ       DU-PA‚ÇÉ-NA            1       KU-RU-MA
HT94b           1           DE-DI            1       KE-KI-RU
ZA4a           18      QE-SI-ZU-E            4  *28B-NU-MA-RE
HT98a         ¬≥‚ÅÑ‚ÇÑ           RO-KE          ¬π‚ÅÑ‚ÇÇ   KA-RI-*310-I
HT1            52       KU-PA‚ÇÉ-NU          109     A-RA-NA-RE
ZA10a           1      A-KU-MI-NA            1     A-TA-NA-TE
HT96a           5           RU-SA            4      *323-*317
HT10b           1           DA-RE            2       TA-RI-NA
HT103          13        DA-KU-NA            1    DA-KU-SE-NE
HT87            1        QE-SU-PU            1       KU-RU-KU
HT23a          17   *21F-RI-TU-QA         ¬π‚ÅÑ‚ÇÅ‚ÇÜ       SA-SA-ME
HT110a         20           KU-PA            1          KU-RO
HT11a          10         A-SU-JA            1      VIR+[?]-I
HT99b           6      DA-SI-*118            2          ZU-DU
ZA20            4        SI-TE-TU            1          SI-TU
HT7a            3           DU-JA            4       TA-NA-TI
PH2             1      RA-O-DI-KI           60     PI-RU-E-JU
HT93a           5       VIR+[?]-I            6       DE-JU-KU
HT26a          21     MI-KI-SE-NA           15      U-NU-*21F
HT117a          1           MA-RU            1      KU-PA‚ÇÉ-NU
HT123+124b  ‚âà ¬π‚ÅÑ‚ÇÜ      DU-MA-I-NA          ¬≥‚ÅÑ‚Çà          KU-RO
HT118           1        RI-RU-MA           10          KU-RO
ZA15a         ¬π‚ÅÑ‚ÇÇ        JA-SA-MU            5     SA-MI-DA-E
HT8a            2       QA-*310-I          ¬≥‚ÅÑ‚ÇÑ       SI-KI-RA
HT25a           1         U-RE-WI            1        DI-NA-U
HT95a          10        DI-DE-RU           10       QE-RA‚ÇÇ-U
HT88            1           KA-JU            1      KU-PA‚ÇÉ-NU
HT119          13           KO-JA           10   KU-PA‚ÇÉ-NA-TU
HT85a           6      DA-SI-*118           24       KU-ZU-NI
HT29            2       A-RE-DA-I            2    KA-DU-MA-NE
HT109           4           KU-RO          129        A-RA-JU
HT102          10            I-KA            5          KU-RO
HT85b           1           QE-KA            1             PA
HT10a         ¬π‚ÅÑ‚ÇÇ        DA-RI-DA            8          ME-ZA
HT28a           3      VIR+KA-VIN            6     A-RU-DA-RA
HT100          16           KU-RO           97         SA-RA‚ÇÇ
HT31          400  *815-SU-PA‚ÇÉ-RA          300  *815-PA-TA-QE
HT17           37           SA-RO           10       SI-DA-RE

       word separator              word number               word
HT94b               êÑÅ             TU-MA      1           PA-TA-NE
HT1                 êÑÅ             KI-RO    197              ZU-SU
HT85a               êÑÅ          DA-RI-DA     12             PA‚ÇÉ-NI
HT117a              êÑÅ       KU-KU-DA-RA      1         KO-SA-I-TI
HT85b               êÑÅ         KI-RE-TA‚ÇÇ      1              QE-KA
HT117b              êÑÅ          KU-RE-JU      1           DI-KI-SE
HT9b                êÑÅ             PA-DE      3               A-SI
HT26a               êÑÅ             TA-TI     21        MI-KI-SE-NA
SYZa2               êÑÅ  JA-SU-MA-TU-OLIV      1  U-NA-KA-NA-SI-OLE
HT115b              êÑÅ          PA-RA-NE    ¬π‚ÅÑ‚ÇÇ           TI-NU-JA
HT63                êÑÅ                TE      1              KA-TI
HT88                êÑÅ          KI-KI-NA      7              KI-RO

       logogram number[ ]logogram number
HT2       OLE+U      54     OLE+A     47
HT137    OLE+MI       6       OLE      2
KH14        CYP    ¬π‚ÅÑ‚ÇÅ‚ÇÜ        NI    ¬π‚ÅÑ‚ÇÑ
HT129    OLE+DI       1    OLE+KI      6
HT131a      GRA      58       OLE     12
HT44a      OLIV       1        NI      1
HT34        GRA     200     E+[ ]      2

      word separator logogram number[ ]logogram
HT34               êÑÅ      GRA     200     E+[ ]
HT2                êÑÅ    OLE+U      20     OLE+A
HT45a              êÑÅ     *305       2      *318
KH14               êÑÅ      CYP       6       CYP

      number[ ]logogram number  logogram
HT2        20     OLE+A     17     OLE+E
HT50a     ¬π‚ÅÑ‚ÇÇ      OLIV      3  *OLIV+TU

     ]logogram number  logogram number[
KH14        NI    ¬π‚ÅÑ‚ÇÑ  VIR+*307       2
KH4       *306      4       CYP     ¬π‚ÅÑ‚ÇÉ
HT2      OLE+A     17     OLE+E       3

       logogram number[        ]word logogram
KH7b      CYP+D     ¬π‚ÅÑ‚ÇÇ     PA-NA-TU    CYP+D
HT2       OLE+E       3  KI-RE-TA-NA    OLE+U
ARKH3b      GRA       6      PI-*314      GRA

       number[ ]logogram number number
HT131a      58       OLE     12    ¬π‚ÅÑ‚ÇÇ
KH26        60        NI      2     êùÉêùã
HT2         54     OLE+A     47      1
HT34       200     E+[ ]      2     êùÖêùá

     number logogram number[        ]word
TY3a     21   OLE+MI       2   KO-A-DU-WA
HT2      17    OLE+E       3  KI-RE-TA-NA

             word word separator logogram number[
HT2       A-KA-RU              êÑÅ    OLE+U      20
ZA11a       KU-PA              êÑÅ   GRA+PA       1
ZA11b  SA-*301-RI              êÑÅ   GRA+PA       1
KH14      A-MA-JA              êÑÅ      CYP       6

               ]word number     word[        ]word
HT25a      ZU-JU-PU‚ÇÇ      1  DU-RU-WI      I-KI-RA
HT111a         QE-KA      8     QA-SA        QA-RU
HT39        SA-MA-TI     10     KU-RE        KU-RO
HT3     SI-TU-RA‚ÇÇ-RE      5        DI    KU-PA‚ÇÉ-NU
HT4         DU-RI-TE      2     PA-RE  TA-PI-SI-DI

          ]word number[  ]word number[
HT69      MA-DI       4     DI      12
HT3   KU-PA‚ÇÉ-NU       3  MA-DI       2
HT5       MA-SI      30  WI-DU      10

            word number[ ]number              word
HT3           DI       2       4             MU-RU
HT122a   U-DE-ZA       2       2        DA-SI-*118
HT31    SA-JA-MA      30      10  KI-DE-MA-*323-NA

      logogram[         ]word number  word[
HT39         KU      SA-MA-TI     10  KU-RE
HT3          RU  SI-TU-RA‚ÇÇ-RE      5     DI
HT51a        MA            SE     64  TI-NI

      number logogram[         ]word number
HT55b      1        QE         RI-JA      1
HT3        1        RU  SI-TU-RA‚ÇÇ-RE      5

       ]number   word number[ ]number
HT111b      18  SA-DI       4       3
HT3          2     DI       2       4

           number      word[        ]word number
HT123+124b  13/20      KA-NA        SI-DU  ‚âà ¬π‚ÅÑ‚ÇÜ
HT93a           2  PA‚ÇÉ-NI-NA     PA-SE-JA     20
HT4             2      PA-RE  TA-PI-SI-DI      1
HT111a          8      QA-SA        QA-RU      8
HT25a           1   TU-QE-NU    ZU-JU-PU‚ÇÇ      1

     number[  ]word number[ lacuna
HT69       4     DI      12      êù´
HT5       30  WI-DU      10      êù´

             logogram number          word       number
HT127b          KI+MU     14         KU-RO          291
HT25b         VIR+[?]     24         KU-RO           52
HT118              KI      1      RI-RU-MA           10
HT88           VIR+KA     20         RE-ZA            6
HT8a           OLE+KI     10  PA‚ÇÉ-KA-RA-TI            1
HT93a        I-GRA+PA      5     VIR+[?]-I            6
HT34              PA‚ÇÉ     70         KI-RO           37
ZA8                NI    ¬π‚ÅÑ‚ÇÇ   KU-TU-KO-RE  double mina
HT115b            GRA    ¬π‚ÅÑ‚ÇÇ     DU-PA‚ÇÉ-NA            1
HT6a            JA+RU      êùì       MA-*321           10
HT89        VIR+*313a     13         TA-RA            5
HT108         VIR+[?]      1         GRA+H           70
HT96a             GRA      5         RU-SA            4
HT103            *188     13      DA-KU-NA            1
HT11b              KA     30         KU-RO          180
HT119              TI      7       JA-*345           10
HT146              MA     30      RI-KA-TA           30
HT17              VIN     37         SA-RO           10
HT49a            *312      1     KU-PA‚ÇÉ-NU            1
HT38              CAP      3     *554-*118            3
HT110a          CYP+E     20         KU-PA            1
HT27a         VIR+[?]     42         KU-RO          335
HT100       VIR+*313a     16         KU-RO           97
HT28a             VIN      3    VIR+KA-VIN            6
HT85b              KA      1            DI            1
HT23a           SI+ME     10         KO-RU            1
HT12    QA2+[?]+PU+RE   ¬π‚ÅÑ‚ÇÅ‚ÇÜ          DA-I           50
HT102              WI     10          I-KA            5
HT94a              TA      4         KU-RO          110
HT19              VIN     30         SA-RO            5
KH88               NI     10         PU-DE            8

,word separator,word,word separator,word
HT96a,êÑÅ,A-PA-RA-NE,êÑÅ,A-AROM-TE
IOZa2,êÑÅ,JA-DI-KI-TU,êÑÅ,JA-SA-SA-RA-ME
CR(?)Zf1,êÑÅ,KA-NI-JA-MI,êÑÅ,I-JA
PKZa8,êÑÅ,PA‚ÇÉ-E,êÑÅ,JA-DI-KI-TE-TE-*307-PU‚ÇÇ-RE
KNZf31,êÑÅ,DA-DU-MI-NE,êÑÅ,QA-MI-*47-NA-RA
HT26a,êÑÅ,*312-TE-TE,êÑÅ,TA-TI
KH5,êÑÅ,A-RA-U-DA,êÑÅ,WI-SA-SA-NE
HT28b,êÑÅ,U-MI-NA-SI,êÑÅ,SA-RA‚ÇÇ
KNZc6,êÑÅ,NI-JA-NU,êÑÅ,JU-KU-NA-PA-KU-NU-U-I-ZU
ZAZb3,êÑÅ,A-RE-PI-RE-NA,êÑÅ,TI-TI-KU
KNZc7,êÑÅ,DU-RA-RE,êÑÅ,A-ZU-RA
HT34,êÑÅ,SI-*516,êÑÅ,SA-RA‚ÇÇ
HT6a,êÑÅ,DA-TA-RA,êÑÅ,TE
HT10a,êÑÅ,PA,êÑÅ,DA-RE
HT31,êÑÅ,PU-KO,êÑÅ,*410-VS
LACHZa1,êÑÅ,RI-DA-U,êÑÅ,SE-JE
HT117a,êÑÅ,KI-RO,êÑÅ,U-MI-NA-SI
HTWc3017,êÑÅ,DI-*306,êÑÅ,CYP+D-*304+PA
HT116a,êÑÅ,TE,êÑÅ,KU-PA-JA
PLZf1,êÑÅ,WI-TE-JA-MU,êÑÅ,U-QE-TI
IOZa6,êÑÅ,I-NA-TA-I-ZU-DI-SI-KA,êÑÅ,JA-SA-SA-RA-ME
HT87,êÑÅ,MA-KA-RI-TE,êÑÅ,PI-TA-KE-SI
SYZa4,êÑÅ,JA-I-NWA-ZA,êÑÅ,PA‚ÇÉ-NI-WI
KH7a,êÑÅ,TA-TA,êÑÅ,QA-TI-KI
KOZa1,êÑÅ,I-PI-NA-MA,êÑÅ,SI-RU-TE
HT13,êÑÅ,TE,êÑÅ,RE-ZA
TLZa1,êÑÅ,O-SU-QA-RE,êÑÅ,JA-SA-SA-RA-ME

                   word word separator   logogram number
ZA18a           KU-*321              êÑÅ     GRA+PA      2
HT103             U-TA‚ÇÇ              êÑÅ         NI     40
HT123+124a      KI-TA-I              êÑÅ       OLIV     31
ZA15b             KU-RO              êÑÅ        VIN     78
ZA8             A-TA-RE              êÑÅ         NI    ¬π‚ÅÑ‚ÇÇ
HT6a                 TE              êÑÅ         NI     15
ZA11b             KU-PA              êÑÅ     GRA+PA      3
HT115b            NU-WI              êÑÅ        GRA    ¬π‚ÅÑ‚ÇÇ
HT17                 TE              êÑÅ        VIN     37
HT140             JE-DI              êÑÅ     OLE+KI      1
HT32             SA-RA‚ÇÇ              êÑÅ       *308    ¬π‚ÅÑ‚ÇÇ
HT11b          SA-QE-RI              êÑÅ         KA     30
HT14                 TE              êÑÅ        GRA     30
HT92               A-DU              êÑÅ        GRA    680
HT21                 TE              êÑÅ        GRA    161
HT28a           JA-*21F              êÑÅ     GRA+QE      5
HT40                 TE              êÑÅ        GRA    207
HT42+59              TE              êÑÅ     OLE+KI      8
ZA1a           KI-RE-ZA              êÑÅ         NI     42
HT105            SA-RA‚ÇÇ              êÑÅ    VIR+[?]    235
HT93a          DI-RI-NA              êÑÅ   DA+RE+SE     43
HT23a             KA-NA              êÑÅ        CYP    ¬π‚ÅÑ‚ÇÉ
KNZb<27>        DI-NA-U              êÑÅ        VIN     17
HT19                 TE              êÑÅ        VIN     30
HT12        QA-TI-DA-TE              êÑÅ     OLE+DI      5
HT91              TE-RI              êÑÅ     OLE+MI  ‚âà ¬π‚ÅÑ‚ÇÜ
KH88          *21F-*118              êÑÅ         NI     10
KH7a            E-NA-SI              êÑÅ  VIR+*313b     10
HT116a           PU-RA‚ÇÇ              êÑÅ        GRA     40

           number   logogram number             word
HT18            2       *304      3           SA-RA‚ÇÇ
HT27a           5    VIR+[?]     42            KU-RO
HT28a           1     OLE+TU      êùâ           SA-RA‚ÇÇ
HT14            9       OLIV     13      A-PU‚ÇÇ-NA-DU
HT24a         ¬π‚ÅÑ‚ÇÇ   MA-RU-ME      6      PA-SA-RI-JA
HT49a           1       *312      1        KU-PA‚ÇÉ-NU
HT85b           1         KA      1               DI
HT100           5  VIR+*313a     16            KU-RO
KH5             2    VINb+WI      2         WI-NA-DU
HT91        ‚âà ¬π‚ÅÑ‚ÇÜ          E      5            TE-RI
HT23a        ¬π‚ÅÑ‚ÇÅ‚ÇÜ      SI+ME     10            KO-RU
HT116a          6       OLIV      3        PI-*34-TE
HT129          10         NI     22    TU-*21F-RI-NA
HT28b           2        VIN      4           PU-RA‚ÇÇ
HT119          34    VIR+[?]     67         RI-MI-SI
HT118           4         KI      1         RI-RU-MA
HT10a           4       *301      6        U-*325-ZA
HT102           3         WI     10             I-KA
HT94a          18         TA      4            KU-RO
KH7a           10      CYP+D    ¬π‚ÅÑ‚ÇÇ       I-JA-PA-ME
HT12            5       *304      5         QE-TU-NE
HT16          ¬π‚ÅÑ‚ÇÉ    *188+KU    ¬≥‚ÅÑ‚Çà            SA-PO
HT25b          28    VIR+[?]     24            KU-RO
HT34          100        PA‚ÇÉ     70            KI-RO
KH11          ¬π‚ÅÑ‚ÇÉ   *348-CYP     êùáêùâ   A-TO-*349-TO-I
HT90           10     OLE+DI      3  SI-RU-MA-RI-TA‚ÇÇ
HT123+124b      4       *188      1          *188-DU
HT32            1   MI+JA+RU      1            SU-RE
HT127b         11      KI+MU     14            KU-RO
HT101           8     OLE+KI      2           SA-RA‚ÇÇ
ZA11a         ¬π‚ÅÑ‚ÇÇ  QE+GRA+PA      4            KU-PA
HT26b           4      KI+MU     12           I-*308
HT89           24  VIR+*313a     13            TA-RA
HT140           1      OLE+U      2            KA-PA
HT146          30         MA     30         RI-KA-TA
HT6a           24      JA+RU      êùì          MA-*321
MA10a           2     *412+E      4             *659
KH10          ¬π‚ÅÑ‚ÇÇ        GRA     10       I-PA-SA-JA
HT11b          30         KA     50         RU-ZU-NA
HT103         ¬π‚ÅÑ‚ÇÇ       *188     13         DA-KU-NA
ZA6b           40     VIN+KA     10         *312-TA‚ÇÇ
HT38            1        CAP      3        *554-*118

      number        word number   logogram
ZA15a     57  I-TI-NI-SA     10     ME-VIN
HT88      20       RE-ZA      6         NI
HT38       3   *554-*118      3    TELA+KU
HT34      70       KI-RO     37       E+KA
HT10a    ¬π‚ÅÑ‚ÇÇ   U-*325-ZA      4       *301
HT118     10       KU-RO     30         KI
HT89      22     MA-I-MI     24  VIR+*313a
HT6a      15    PI-TA-JA     24      JA+RU
HT94b      1       KU-RO      5        *86
HT26b      3  KA-U-ZU-NI      4      KI+MU
HT15     684   GRA+L4+L4    570       *188
HT49a      1        A-RU      1       *370
HT27a     42       KU-RO    335        CYP

           number           word number number
HT104         ¬π‚ÅÑ‚ÇÇ        I-DU-TI     20    ¬π‚ÅÑ‚ÇÇ
HT13            5          KU-RO    130    ¬π‚ÅÑ‚ÇÇ
HT6a            2       KA-PA-QE      5    ¬≥‚ÅÑ‚ÇÑ
HT103           1          KI-RA      5    ¬π‚ÅÑ‚ÇÇ
HT36          ¬π‚ÅÑ‚ÇÇ       DU-ZU-WA      7    ¬π‚ÅÑ‚ÇÇ
HT8b          ¬π‚ÅÑ‚ÇÇ       PA-JA-RE      1    ¬π‚ÅÑ‚Çà
HT123+124a    ¬π‚ÅÑ‚ÇÑ          KI-RO      1     .3
HT10b          15        *312-TA      6    ¬π‚ÅÑ‚ÇÇ
HT24b         ¬≥‚ÅÑ‚ÇÑ  SI+ME-KI-*118      1    ¬≥‚ÅÑ‚ÇÑ
HT9a          ¬π‚ÅÑ‚ÇÇ           A-RU      4    ¬π‚ÅÑ‚ÇÑ
ZA8           ¬π‚ÅÑ‚ÇÇ        KA-I-RO      4      ?
HT6b           35      PA‚ÇÉ-NI-NA     17    ¬π‚ÅÑ‚ÇÇ
HT19          ¬π‚ÅÑ‚ÇÇ       DU-ME-DI     43    ¬π‚ÅÑ‚ÇÇ

            number       number    logogram number
ZA6b            50          ¬π‚ÅÑ‚ÇÑ      VIN+RA     40
HT27a           10          ¬π‚ÅÑ‚ÇÉ         VIN      7
HT32             1         ¬π‚ÅÑ‚ÇÅ‚ÇÜ  QA2+[?]+RE      1
TY3a            15          ¬π‚ÅÑ‚ÇÑ       OLE+U     22
ZA18a            2  double mina      OLE+KI      ?
HT8b             1          ¬π‚ÅÑ‚Çà  *86+'*188'    ¬π‚ÅÑ‚ÇÇ
ZA11a            2          ¬π‚ÅÑ‚ÇÑ          JU     êùàêùâ
HT123+124a      31          ¬π‚ÅÑ‚ÇÇ        *308      8
HT96b           40          ¬≥‚ÅÑ‚ÇÑ       OLE+U      4
ZA1a            42          ¬π‚ÅÑ‚ÇÇ          ZA      5
HT106            5          ¬π‚ÅÑ‚ÇÇ          SI      1
HT101            1          ¬π‚ÅÑ‚ÇÑ    *OLIV+TU      1
HT129           33           êùÜêùÅ        *304     10
HTZd157+156      1          ¬π‚ÅÑ‚ÇÇ        *904      2
HT34             2           êùÖêùá  QA2+[?]+PU  ‚âà ¬π‚ÅÑ‚ÇÜ
HT131a          12          ¬π‚ÅÑ‚ÇÇ        *304     12
HT6a            22          ¬≥‚ÅÑ‚ÇÑ          NI     15

            number    logogram number       number
HT96b            4          NI      2         ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT32            êùÜêùá  QA2+[?]+PU      1         ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT21           ¬≥‚ÅÑ‚ÇÑ        *304      7          ¬≥‚ÅÑ‚ÇÑ
HT89           ¬≥‚ÅÑ‚ÇÑ          NI      2          ¬π‚ÅÑ‚ÇÑ
HT94a            5          NI      3        ‚âà ¬π‚ÅÑ‚ÇÜ
HT131a         ¬π‚ÅÑ‚ÇÇ        *304     12          ¬≥‚ÅÑ‚ÇÑ
HT28b            3         VIN      3          ¬π‚ÅÑ‚ÇÑ
HT6a           ¬≥‚ÅÑ‚ÇÑ          NI     15          ¬π‚ÅÑ‚ÇÇ
HT100          ¬π‚ÅÑ‚ÇÑ          NI      2  double mina
HTZd157+156      1        *904      1          ¬π‚ÅÑ‚ÇÇ
KH5          ‚âà ¬π‚ÅÑ‚ÇÜ          NI      2           êùÜêùÅ
HT123+124a      15        *308      4          ¬π‚ÅÑ‚ÇÑ
HT123+124b      11        *312      1          ¬≥‚ÅÑ‚ÇÑ
TY3a             5     OLE+QIf      3          ¬π‚ÅÑ‚ÇÇ
KH61             2         GRA      1            êùç
HT8b           ¬π‚ÅÑ‚Çà  *86+'*188'    ¬π‚ÅÑ‚ÇÇ          ¬π‚ÅÑ‚ÇÇ

,word,word separator,word,word separator
ARKHZf9,JA-KI-SI-KI-NU,êÑÅ,MI-DA-MA-RA‚ÇÇ,êÑÅ
ZAZb3,A-TA-I-*301-DE-KA,êÑÅ,A-RE-PI-RE-NA,êÑÅ
HT14,PU-VIN,êÑÅ,TE,êÑÅ
HT117a,MA-KA-RI-TE,êÑÅ,KI-RO,êÑÅ
HT43,MA-SI-DU,êÑÅ,PA-*342-I,êÑÅ
HT87,*21F-TU-NE,êÑÅ,MA-KA-RI-TE,êÑÅ
HT92,TE,êÑÅ,A-DU,êÑÅ
HTWc3017,QA-KU-RE,êÑÅ,DI-*306,êÑÅ
SYZa4,A-TA-I-*301-WA-JA,êÑÅ,JA-I-NWA-ZA,êÑÅ
KOZa1,TU-RU-SA,êÑÅ,DU-*314-RE,êÑÅ
HT116a,U-TA-RO,êÑÅ,TE,êÑÅ
HT9a,SA-RO,êÑÅ,TE,êÑÅ
ZA8,KI-RA,êÑÅ,A-TA-RE,êÑÅ
HT52a,SA-MA,êÑÅ,TE,êÑÅ
IOZa6,TA-NA-I-*301-U-TI-NU,êÑÅ,I-NA-TA-I-ZU-DI-SI-KA,êÑÅ
HT17,RA-ÛΩá´-TI,êÑÅ,TE,êÑÅ
KH7a,I-JA-PA-ME,êÑÅ,TA-TA,êÑÅ
HT28a,A-SI-JA-KA,êÑÅ,JA-*21F,êÑÅ
CR(?)Zf1,A-MA-WA-SI,êÑÅ,KA-NI-JA-MI,êÑÅ
TLZa1,A-TA-I-*301-WA-JA,êÑÅ,O-SU-QA-RE,êÑÅ
IOZa2,SI-RU-TE,êÑÅ,TA-NA-RA-TE-U-TI-NU,êÑÅ
HT21,PI-TA-KA-SE,êÑÅ,TE,êÑÅ
PLZf1,TA-NU-NI-KI-NA,êÑÅ,NI-NU-NI,êÑÅ
HT93a,PA‚ÇÉ-NI-NA,êÑÅ,GRA-PA‚ÇÉ,êÑÅ
HT40,NU-DU-*331,êÑÅ,TE,êÑÅ
HT96a,I-TI-TI-KU-NI,êÑÅ,A-PA-RA-NE,êÑÅ
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,êÑÅ,NI-JA-NU,êÑÅ
KNZf31,DA-DU-MI-NE,êÑÅ,QA-MI-*47-NA-RA,êÑÅ
HT140,U-*34-SI,êÑÅ,*86-SI-NI,êÑÅ
HT19,RA-*164-TI,êÑÅ,TE,êÑÅ
HT28b,A-SI-JA-KA,êÑÅ,U-MI-NA-SI,êÑÅ
KH88,QA-NU-MA,êÑÅ,*21F-*118,êÑÅ
HT115b,TI-NU-JA,êÑÅ,NU-WI,êÑÅ
KH5,WI-NA-DU,êÑÅ,*301-NA,êÑÅ
KNZc7,A-KA-NU-ZA-TI,êÑÅ,DU-RA-RE,êÑÅ
PKZa8,PA‚ÇÉ-E,êÑÅ,JA-DI-KI-TE-TE-*307-PU‚ÇÇ-RE,êÑÅ
HT6a,KA-PA,êÑÅ,DA-TA-RA,êÑÅ
HT96b,A-PA-RA-NE,êÑÅ,QA-*118-RA-RE,êÑÅ
HT34,DA-JU-TE,êÑÅ,SI-*516,êÑÅ

      word separator            word number       number
HT6a               êÑÅ        QE-PI-TA     22          ¬≥‚ÅÑ‚ÇÑ
HT41a              êÑÅ           PA-JA      2  double mina
HT10a              êÑÅ           DA-RE     16          ¬π‚ÅÑ‚ÇÇ
HT104              êÑÅ  DA-KU-SE-NE-TI     45          ¬π‚ÅÑ‚ÇÇ

                    word number logogram       number
HT123+124b     *188-*308     11     *312            1
MA4a           TA-HIDE+B     15   HIDE+L          120
HT34               KI-RO     37     E+KA         ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT89               KU-RO     87      CYP            2
HT49a          TU-SU-PU‚ÇÇ      1       KI            1
HT38           *554-*118      3  TELA+KU            2
HT6a            PI-TA-JA     24    JA+RU            êùì
HT11b             *86-KA     40       KA           30
HT146            RI-*305     30       MA           30
HT119       KU-PA‚ÇÉ-NA-TU      7       TI            7
HT27a              KU-RO    335      CYP            9
HT118           QA-QA-RU      6       KI            4
HT10a          U-*325-ZA      4     *301            6
HT102              MA-ZU      3       WI           10
HT11a          VIR+[?]-I      3      TA‚ÇÇ           15
HT23a           SA-SA-ME   ¬π‚ÅÑ‚ÇÅ‚ÇÜ    SI+ME           10
HT107                 TE     84     *332            7
HT94a          *318-*306     11      CYP  double mina
HT26b         KA-U-ZU-NI      4    KI+MU           12
HT93a            *406-VS      2     *343            2

        word separator           word word separator logogram
ZA1a                 êÑÅ       KI-RE-ZA              êÑÅ       NI
HT42+59              êÑÅ             TE              êÑÅ   OLE+KI
HT19                 êÑÅ             TE              êÑÅ      VIN
KH88                 êÑÅ      *21F-*118              êÑÅ       NI
ZA18a                êÑÅ        KU-*321              êÑÅ   GRA+PA
HT115b               êÑÅ          NU-WI              êÑÅ      GRA
HT96b                êÑÅ  QA-*118-RA-RE              êÑÅ     *516
HT6a                 êÑÅ             TE              êÑÅ       NI
HT14                 êÑÅ             TE              êÑÅ      GRA
ZA11b                êÑÅ     SA-*301-RI              êÑÅ   GRA+PA
HT43                 êÑÅ      PA-*342-I              êÑÅ        I
HT92                 êÑÅ           A-DU              êÑÅ      GRA
ZA8                  êÑÅ        A-TA-RE              êÑÅ       NI
HT21                 êÑÅ             TE              êÑÅ      GRA
HT17                 êÑÅ             TE              êÑÅ      VIN
KH14                 êÑÅ        A-MA-JA              êÑÅ      CYP
HT9a                 êÑÅ             TE              êÑÅ      VIN
HT28a                êÑÅ        JA-*21F              êÑÅ   GRA+QE
HT40                 êÑÅ             TE              êÑÅ      GRA
HT93a                êÑÅ        GRA-PA‚ÇÉ              êÑÅ    RE+SE

           number number           word number
HT24b           1    ¬≥‚ÅÑ‚ÇÑ  SI+ME-KI-*118      1
HT9a            4    ¬π‚ÅÑ‚ÇÑ          KU-RO     31
ZA15a           2    ¬π‚ÅÑ‚ÇÇ       JA-SA-MU      5
ZA5b            1    ¬π‚ÅÑ‚ÇÇ     MA-KA-I-TA      3
HT123+124a      8    ¬≥‚ÅÑ‚ÇÑ          KI-RO     .3
HT10a          16    ¬π‚ÅÑ‚ÇÇ      U-*325-ZA      4
HT6b            3  ‚âà ¬π‚ÅÑ‚ÇÜ       RA-TI-SE      1
HT104          20    ¬π‚ÅÑ‚ÇÇ    PA-DA-SU-TI     29
HT36           64    ¬π‚ÅÑ‚ÇÇ       DU-ZU-WA      7
HT19            5    ¬π‚ÅÑ‚ÇÇ       DU-ME-DI     43

              word word separator logogram         word
HT7a         QE-TI              êÑÅ  VIR+[?]      I-RU-JA
ZA5a     *21F-*118              êÑÅ   VIN-SU     KI-NI-MA
MA1b          A-MA              êÑÅ      *47  QE-DE-MI-NU
HT95a  DA-DU-MA-TA              êÑÅ      GRA        DA-ME

                   word logogram number          word
HT108       KI-RE-TA-NA  VIR+[?]      1         GRA+H
HT110a  SI-DU-*34-KU-MI    CYP+E     20         KU-PA
HT28b            PU-RA‚ÇÇ       NI      6       JA-*21F
HT102            SA-RA‚ÇÇ      GRA    976        PA‚ÇÉ-NI
HT11b          RU-ZU-NA       KA     30      SA-QE-RI
HT116a         KU-PA-JA      GRA     16        PU-RA‚ÇÇ
HT8a              JE-DI   OLE+KI     10  PA‚ÇÉ-KA-RA-TI
HT96a          SI-MI-TA      GRA      5         RU-SA
HT88               A-DU   VIR+KA     20         RE-ZA

           logogram word separator        word word separator
HT13            VIN              êÑÅ          TE              êÑÅ
HT42+59       SI+SE              êÑÅ          TE              êÑÅ
ZA1a           *516              êÑÅ    KI-RE-ZA              êÑÅ
HT9a            VIN              êÑÅ       PA-DE              êÑÅ
LACHZa1          MI              êÑÅ     RI-DA-U              êÑÅ
HT26a    *406VAS+KE              êÑÅ  *312-TE-TE              êÑÅ
HT51a            NI              êÑÅ          TE              êÑÅ
ZA11b          *516              êÑÅ  SA-*301-RI              êÑÅ

                      word word separator   logogram word separator
HT104                TA-PA              êÑÅ     TE+RO[              êÑÅ
ZA11a   DI-DI-KO-RA-ME-TA‚ÇÇ              êÑÅ       *516              êÑÅ
HT96b        QA-*118-RA-RE              êÑÅ       *516              êÑÅ
HT27a             TI-NI-TA              êÑÅ       *307              êÑÅ
HT81                  A-SE              êÑÅ   MI+JA+RU              êÑÅ
HT9a                    TE              êÑÅ        VIN              êÑÅ
HT85a                 A-DU              êÑÅ  *307+*387              êÑÅ
HT43             PA-*342-I              êÑÅ          I              êÑÅ
HT89              A-SA-RA‚ÇÇ              êÑÅ       *307              êÑÅ
HT122b               JE-DI              êÑÅ       *346              êÑÅ
HT115a        *47-NU-RA-JA              êÑÅ          I              êÑÅ
HT91                  I-KA              êÑÅ       *326              êÑÅ
HT35              TI-TI-KU              êÑÅ       *326              êÑÅ
HT27b                PA-SE              êÑÅ     VIN+WA              êÑÅ

        word separator logogram word separator            word
HT118                êÑÅ     *516              êÑÅ           MA-DI
HT9a                 êÑÅ      VIN              êÑÅ           PA-DE
HT104                êÑÅ   TE+RO[              êÑÅ  DA-KU-SE-NE-TI
HT85a                êÑÅ  VIR+[?]              êÑÅ        DA-RI-DA
HT42+59              êÑÅ    SI+SE              êÑÅ              TE
HT35                 êÑÅ     *326              êÑÅ         I-KU-TA

      word separator logogram word separator word also in linear b
HT118              êÑÅ     *516              êÑÅ                 MA-DI
HT9a               êÑÅ      VIN              êÑÅ                 PA-DE

       word also in linear b number   word number
HT9b                   PA-DE      3   A-SI      3
HT89                   TA-RA      5  KU-RO     87
HT117a                  U-SU      1  MI-TU      1

       word separator word also in linear b number      word
HT115b              êÑÅ              PA-RA-NE    ¬π‚ÅÑ‚ÇÇ  TI-NU-JA
HT117a              êÑÅ                  U-SU      1     MI-TU
HT9b                êÑÅ                 PA-DE      3      A-SI

      word separator     word number word separator
HT16               êÑÅ  DI-NA-U    ¬π‚ÅÑ‚Çà              êÑÅ
HT10a              êÑÅ    SA-MA      4              êÑÅ

                word number number       word
HT123+124a     KI-RO      1     .3     PU-VIN
HT93a       KI-DI-NI      5     êùÜêùÖ       A-SE
HT10a          DA-RE     16    ¬π‚ÅÑ‚ÇÇ  U-*325-ZA

             number    logogram       number    logogram
HT28b            20      OLE+DI            5          NI
KH14            ¬π‚ÅÑ‚ÇÑ        *336            2         CYP
HT28a             5       OLE+U            2      OLE+KI
HT21            161       OLE+U           11       OLE+E
HT94a            11         CYP  double mina          NI
HT34             êùÖêùá  QA2+[?]+PU        ‚âà ¬π‚ÅÑ‚ÇÜ  QA2+[?]+RE
HT50a           ¬π‚ÅÑ‚ÇÑ      OLE+MI          ¬π‚ÅÑ‚ÇÇ       OLE+E
THEZg5           40          PU            5        *171
HT33             êùÉêùâ    MI+JA+KA          ¬π‚ÅÑ‚ÇÖ        *305
KH11              3          NI            1         VIN
HT90             20          NI           10      OLE+DI
KH7b            ¬π‚ÅÑ‚ÇÇ     *304+PA            1          SI
KH12              2        *308          ¬π‚ÅÑ‚ÇÇ    MI+JA+RU
HT100            12          KI            2        *305
HT101            40       OLE+U            8      OLE+MI
HT127b           24       KI+MU           15        *301
HT23a           ¬π‚ÅÑ‚ÇÉ        *308        ‚âà ¬π‚ÅÑ‚ÇÜ      OLE+NE
HT116a           40      OLE+DI            5       SI+SE
ZA11a           ¬π‚ÅÑ‚ÇÑ          JU           êùàêùâ         VIN
TY3a            ¬π‚ÅÑ‚ÇÑ       OLE+U           22       NE-KI
HT130             8          NI            6         VIN
ZA18a   double mina      OLE+KI            ?        OLIV
KH8             ¬π‚ÅÑ‚ÇÇ        *304          ¬π‚ÅÑ‚ÇÑ         CYP
HT140             3          KA            1       OLE+U
HT12              1           E           30        *560
HT35              1    MI+JA+RU          ¬π‚ÅÑ‚ÇÉ      OLE+RI
HT32            ¬π‚ÅÑ‚ÇÇ      OLE+NE           êùÜêùá  QA2+[?]+PU
HT14             30      OLE+MI            3      OLE+DI
HT91          ‚âà ¬π‚ÅÑ‚ÇÜ       OLE+U        ‚âà ¬π‚ÅÑ‚ÇÜ      OLE+MI
HT38              1          AU            1         CAP
HT96b           ¬≥‚ÅÑ‚ÇÑ       OLE+U            4          NI
HT11b            40          KA           30          KA
MA4a             15      HIDE+L          120   HIDE+SA+L
HT129            êùÜêùÅ        *304           10          NI
ZA6b            ¬π‚ÅÑ‚ÇÑ      VIN+RA           40      VIN+KA
HT49a             5          TU            4          KI
KN2               2        *118            3      I+*301
HT18             20      OLE+KI            2        *304
HT27b             1          RE           14         VIN

             logogram number        word word separator
HT40              GRA    207    KI-DA-TA              êÑÅ
KH10              GRA     10  I-PA-SA-JA              êÑÅ
KH5           VINb+WI      2    WI-NA-DU              êÑÅ
HT11b              KA     30    SA-QE-RI              êÑÅ
HT41a            *304     10    MI-DA-NI              êÑÅ
ZA11a       QE+GRA+PA      4       KU-PA              êÑÅ
HT116a            GRA     16      PU-RA‚ÇÇ              êÑÅ
HT93a           RE+SE     12    DI-RI-NA              êÑÅ
HT91                E      5       TE-RI              êÑÅ
HT123+124b       *188      1     *188-DU              êÑÅ
HT32         MI+JA+RU      1       SU-RE              êÑÅ

               logogram number    logogram number
HT23a               CYP    ¬π‚ÅÑ‚ÇÉ        *308  ‚âà ¬π‚ÅÑ‚ÇÜ
HT130            SI-CYP      8          NI      6
HT14             OLE+MI      5      OLE+DI      4
HT116b             *304     15         OLE     17
HT92                GRA    680        *304     12
HT11b                KA     30          KA     50
HT91                GRA     .3        *304  ‚âà ¬π‚ÅÑ‚ÇÜ
HT27b                SA      1          RE     14
KH8                *312      1  QA2+[?]+PU      1
HT50a             OLE+E    ¬π‚ÅÑ‚ÇÇ        *304      1
HT28a               GRA      5        *304      2
THEZg5             *171      7          ZO      9
HT38                 AU      1         CAP      3
HT33               E+KA     êùÉêùâ    MI+JA+KA    ¬π‚ÅÑ‚ÇÖ
PH1a               *316      1         CYP  ‚âà ¬π‚ÅÑ‚ÇÜ
KH7b              CYP+D    ¬π‚ÅÑ‚ÇÇ     *304+PA      1
HT27a               *86     51          RE     20
MA10b            *402+A      2  TI+*412VAS      2
HT101               OLE     10       DI+QE      3
HT116a              GRA     20        *304      3
HT16                 WA    ¬π‚ÅÑ‚ÇÉ     *188+KU    ¬≥‚ÅÑ‚Çà
HT34         QA2+[?]+PU  ‚âà ¬π‚ÅÑ‚ÇÜ  QA2+[?]+RE    ¬π‚ÅÑ‚ÇÑ
ZA11a                JU     êùàêùâ         VIN    ¬π‚ÅÑ‚ÇÇ
HT100              TI+A     12          KI      2
KH7a          VIR+*313b      4       CYP+D    ¬π‚ÅÑ‚ÇÉ
HT89               *305     23  JU+*317+QE     22
HT123+124a         OLIV     31        *308      8
GO2r                 KA    ¬π‚ÅÑ‚Çà          SI      2
ZA18a            OLE+KI      ?        OLIV    ¬π‚ÅÑ‚ÇÑ
HT32               *308    ¬π‚ÅÑ‚ÇÇ      OLE+NE     êùÜêùá
KH20              CYP+E    ¬π‚ÅÑ‚ÇÇ          NI    ¬π‚ÅÑ‚ÇÑ
HT12             OLE+DI      5        *304      5
HT119              *327     34     VIR+[?]     67
HT21                GRA    161       OLE+U     11
HT110b               MA      2        *301    ¬≥‚ÅÑ‚ÇÑ
HT127b        VIR+*313c     24       KI+MU     15
HT90                GRA      1          NI      1
KH11                CYP   ¬π‚ÅÑ‚ÇÅ‚ÇÜ          SU      3
TY3a          OLE+KI+ME      1     OLE+QIf      4
MA4a             HIDE+L    120   HIDE+SA+L     53
HT18                GRA     10          NI     10
HT96b             OLE+U      4          NI      2
HT49a              *370      1        *312      1
HT28b                NI      2         VIN      4
KH5               CYP+E      2     VINb+WI      2
MA10a           *413+SU      2      *412+E      4
HT35                CYP      1    MI+JA+RU    ¬π‚ÅÑ‚ÇÉ
ZA15b               VIN     78      VIN+RA     17
KH12               *308    ¬π‚ÅÑ‚ÇÇ    MI+JA+RU    ¬π‚ÅÑ‚ÇÇ
HT94a               CYP      5          NI      3
HT140             OLE+U      3          KA      1
ZA12b                TI     13          RU     26
HTZd157+156        *904      1        *904      1
ZA6b             VIN+RA     40      VIN+KA     10
HT129              *304     10          NI     22
HT25b           VIR+[?]     28     VIR+[?]     24

               word logogram word separator              word
ZA11b       E-TO-RI     *516              êÑÅ        SA-*301-RI
HT13     KA-U-DE-TA      VIN              êÑÅ                TE
IOZa16  JA-SA-SA-RA       ME              êÑÅ  U-NA-RU-KA-NA-SI

           word separator logogram number    logogram
ZA15b                   êÑÅ      VIN     78      VIN+RA
HT42+59                 êÑÅ   OLE+KI      8       OLE+U
PH1a                    êÑÅ     *316      1         CYP
HT23a                   êÑÅ      CYP    ¬π‚ÅÑ‚ÇÉ        *308
HT16                    êÑÅ       WA    ¬π‚ÅÑ‚ÇÉ     *188+KU
MA10b                   êÑÅ   *405+Œ©      1      *412+E
HT123+124a              êÑÅ     OLIV     31        *308
HT89                    êÑÅ     *305     23  JU+*317+QE
HT116a                  êÑÅ      GRA     40      OLE+DI
HT103                   êÑÅ       NI     40         PA‚ÇÉ
KH20                    êÑÅ    CYP+E    ¬π‚ÅÑ‚ÇÇ          NI
HT27b                   êÑÅ       SA      4          RE
MA10a                   êÑÅ  *413+SU      2      *412+E
HT14                    êÑÅ      GRA     30      OLE+MI
HT92                    êÑÅ      GRA    680        *304
HT41a                   êÑÅ     *304     10          RE
HT21                    êÑÅ      GRA    161       OLE+U
HT28a                   êÑÅ   GRA+QE      5       OLE+U
HT32                    êÑÅ     *308    ¬π‚ÅÑ‚ÇÇ      OLE+NE

                          word   logogram number  logogram
HT127b                   KU-RO       *307    156        KU
HT94a                       62        *86     20      TI+A
HT116a                SI-KI-NE        GRA     12      *304
HT101               ZU-*22F-DI     GRA+QE     40     OLE+U
KH11            A-TO-*349-TO-I      CYP+E      3        NI
HT123+124a               SA-RU       OLIV     16      *308
TY3a                      A-DA      OLE+U     21    OLE+MI
TY3b                  PI-KU-ZU     OLE+KI      4    OLE+MI
KH7a                  QA-TI-KI  VIR+*313b      4     CYP+D
HT25b                     I-TI    VIR+[?]     28   VIR+[?]
HT90                    SA-RA‚ÇÇ        GRA     20        NI
HTZd157+156  WI-JA-SU-MA-TI-TI       *904      1      *904
HT18                     PA-SE     GRA+QE     20    OLE+KI
HT14               A-PU‚ÇÇ-NA-DU        GRA     45    OLE+MI
HT28b                   SA-RA‚ÇÇ        GRA     20    OLE+DI
HT28a                   SA-RA‚ÇÇ     OLE+DI      1        NI
HT42+59                  SA-RO     OLE+KI      8     OLE+U
HT35                   I-KU-TA        CYP      1  MI+JA+RU
KH5                WI-SA-SA-NE      CYP+E      2   VINb+WI

      logogram word separator            word number
HT63      *305              êÑÅ              TE      1
HT118     *516              êÑÅ           MA-DI     15
HT104   TE+RO[              êÑÅ  DA-KU-SE-NE-TI     45
HT15      *188              êÑÅ           KI-RO    400
HT85a  VIR+[?]              êÑÅ        DA-RI-DA     12
HT88        NI              êÑÅ        KI-KI-NA      7

        logogram            word number        word
ZA15a     SA-VIN      QE-SI-ZU-E     57  I-TI-NI-SA
HT115a  GRA+BOSm  RI-TA-MA-NU-WI      2   *301-U-RA
HT15         GRA       DU-AROM-A    684   GRA+L4+L4

           number logogram word separator      word
HT88            6       NI              êÑÅ  KI-KI-NA
HT15          570     *188              êÑÅ     KI-RO
HT123+124a    ¬π‚ÅÑ‚ÇÇ     *308              êÑÅ     KU-RO

       word separator logogram number         word
HT115b              êÑÅ      GRA    ¬π‚ÅÑ‚ÇÇ    DU-PA‚ÇÉ-NA
HT17                êÑÅ      VIN     37        SA-RO
KH88                êÑÅ       NI     10        PU-DE
HT41a               êÑÅ     *304     10     MI-DA-NI
ZA8                 êÑÅ       NI    ¬π‚ÅÑ‚ÇÇ  KU-TU-KO-RE
HT19                êÑÅ      VIN     30        SA-RO

                  logogram number number    logogram
HT129                  GRA     33     êùÜêùÅ        *304
HT21                 OLE+E      3    ¬≥‚ÅÑ‚ÇÑ        *304
TY3a                OLE+KI     15    ¬π‚ÅÑ‚ÇÑ       OLE+U
HT27a                   NI     10    ¬π‚ÅÑ‚ÇÉ         VIN
HT100                  CYP      5    ¬π‚ÅÑ‚ÇÑ          NI
HTZd157+156           *904      1    ¬π‚ÅÑ‚ÇÇ        *904
HT101                 OLIV      1    ¬π‚ÅÑ‚ÇÑ    *OLIV+TU
HT32            QA2+[?]+PU      1   ¬π‚ÅÑ‚ÇÅ‚ÇÜ  QA2+[?]+RE
HT33         QA2+[?]+RE+PU      1    ¬π‚ÅÑ‚ÇÑ  QA2+[?]+RE
ZA1a                    NI     42    ¬π‚ÅÑ‚ÇÇ          ZA
HT123+124a            OLIV     31    ¬π‚ÅÑ‚ÇÇ        *308
HT99a                  VIN      1  ‚âà ¬π‚ÅÑ‚ÇÜ      GRA+QE
HT89                   CYP      2    ¬≥‚ÅÑ‚ÇÑ          NI
HT106                   SI      5    ¬π‚ÅÑ‚ÇÇ          SI
ZA6b                GRA+PA     50    ¬π‚ÅÑ‚ÇÑ      VIN+RA

      number   logogram number word also in linear b
HT28a      2     OLE+DI      3               I-TA-JA
HT140      1      OLE+U      2                 KA-PA
HT23a   ¬π‚ÅÑ‚ÇÅ‚ÇÜ      SI+ME     10                 KO-RU
HT89      24  VIR+*313a     13                 TA-RA

       logogram number logogram[ number
HT27b        SA      4        RE     40
HT125a      GRA      2       OLE      1
HT116a      GRA      5       OLE      5
HT23b       CYP    ¬π‚ÅÑ‚ÇÉ       OLE    ¬π‚ÅÑ‚ÇÉ

                word logogram number logogram[
HT23b          NI-RA      CYP    ¬π‚ÅÑ‚ÇÉ       OLE
HT128b  VIR+[?]-*329   GRA+KU      1        RU

      lacuna logogram number[ lacuna
KH38       êù´    CYP+D     ¬π‚ÅÑ‚ÇÇ      êù´
HT23b      êù´        E       7      êù´

      ]number number  logogram number
HT24a       9    ¬π‚ÅÑ‚ÇÇ  MA-RU-ME      6
HT103       6    ¬π‚ÅÑ‚ÇÇ      *188     13

      logogram[ ]number  logogram number
KH9    VIR+*307    ¬π‚ÅÑ‚ÇÅ‚ÇÜ        NI     êùÉêùÅ
TY2        *309       6   VIR+[?]     82
KH91         ZU   ‚âà ¬π‚ÅÑ‚ÇÜ        TU   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT24a  KI-MA-RU       6  MA-RU-ME     10

      ]number  logogram number ]number
PH28b       2      *304      6       6
HT24a       6  MA-RU-ME     10       9

                      ]word number        word number
PH3a                   *557      1        *563      êùì
HT122a                   DI      1       TE-KI      2
PK1                   NE-TI      1       KA-QA      2
HT29                DI-JA-I      2  SA-*323-MI      1
ZA4a               TU-ME-SE     18  QE-SI-ZU-E      4
HT123+124b            SI-DU  ‚âà ¬π‚ÅÑ‚ÇÜ  DU-MA-I-NA    ¬≥‚ÅÑ‚Çà
HT25a                 RU-NI      1     U-RE-WI      1
HT26b                 RO-NI      3  KA-U-ZU-NI      4
HT49a                 SI-RA      1        A-RU      1
HT122b      A-RA-JU-U-DE-ZA      2    QA-QA-RU      2

           number           word number       word[
HT123+124b     10    TU-PA-DI-DA  13/20       KA-NA
ZA5a            7  O-TA-NI-ZA-SE      6  SA-MI-DA-E
TY2           290    *309B-KI-PU     50  *309-DA-PU
MA10c           2           *659      3     *404-VS
HT25a           1     A-RI-NI-TA      1    TU-QE-NU
ZA7a            5        A-RA-TU      4  A-RE-TU-MI
HT85a           3          DA-RE      4       KU-RO
HT87            1       KU-RU-KU      1        A-RA
HT115a       êùÇêùÇêùÇêùÇ       KA-PO-RU      1    RI-SU-MA
HT85b           1             PA      1       TE-TU
HT115b        ¬π‚ÅÑ‚ÇÇ     *306-TU-JA      1         A-I
HT63            1          KA-TI      1      SU-PU‚ÇÇ

           number        word word separator        word
HT25b          16    WI-TE-RO              êÑÅ        I-TI
HT123+124b    ¬≥‚ÅÑ‚ÇÑ    TI-DA-TA              êÑÅ       PI-SA
HT41a          10    MI-DA-NI              êÑÅ       PA-JA
KH5             2    WI-NA-DU              êÑÅ     *301-NA
KH7a          ¬π‚ÅÑ‚ÇÇ  I-JA-PA-ME              êÑÅ       TA-TA
KH10           10  I-PA-SA-JA              êÑÅ     QA-*118
HT88            7       KI-RO              êÑÅ  KU-PA‚ÇÉ-PA‚ÇÉ
HT115b        ¬π‚ÅÑ‚ÇÇ    TI-NU-JA              êÑÅ       NU-WI

             word number      word word separator
HT25b       KU-RO     16  WI-TE-RO              êÑÅ
HT88     KI-KI-NA      7     KI-RO              êÑÅ
HT115b  DU-PA‚ÇÉ-NA      1  KU-RU-MA              êÑÅ
HT93a      SA-RA‚ÇÇ     20  QA-QA-RU              êÑÅ

      lacuna   word number      word
HT25b      êù´  KU-RO     16  WI-TE-RO
HT95b      êù´  DA-ME     10  MI-NU-TE

              word word separator         word   logogram
HT96a    A-AROM-TE              êÑÅ     SI-MI-TA        GRA
HT133         A-DU              êÑÅ           TE     GRA+DA
HT99a         A-DU              êÑÅ       SA-RA‚ÇÇ        CYP
HT116a          TE              êÑÅ     KU-PA-JA        GRA
HT25b     WI-TE-RO              êÑÅ         I-TI    VIR+[?]
HT28b   U-MI-NA-SI              êÑÅ       SA-RA‚ÇÇ        GRA
KH7a         TA-TA              êÑÅ     QA-TI-KI  VIR+*313b
KH5      A-RA-U-DA              êÑÅ  WI-SA-SA-NE      CYP+E

                   word       number            word number[
ZA8         KU-TU-KO-RE  double mina      A-RI-NI-TA       1
HT108          DI-NA-RO            2        DU-SU-NI       5
ZA4a            A-TI-RU            4           JA-PA       1
ZA14              KU-PI            1  TU-MI-TI-ZA-SE      45
HT26a       MI-KI-SE-NA           15       U-NU-*21F       5
HT123+124b        KU-RO           20           KI-RO       5

      number              ]word number        word
HT31      10  *416-VS-KA-RO-PA‚ÇÉ     10    SA-JA-MA
HT26b      9              RO-NI      3  KA-U-ZU-NI

         logogram word separator logogram number
HT27a        *307              êÑÅ  VIR+[?]     90
HT26b  *406VAS+KE              êÑÅ  VIR+[?]      9
HT41a        *305              êÑÅ     *304     10

       word separator    logogram word separator  logogram
HT43                êÑÅ           I              êÑÅ    GRA+PA
HT96b               êÑÅ        *516              êÑÅ       GRA
HT115a              êÑÅ           I              êÑÅ  GRA+BOSm
HT26b               êÑÅ  *406VAS+KE              êÑÅ   VIR+[?]
HT85a               êÑÅ   *307+*387              êÑÅ   VIR+[?]

      number            word number[      word
HT26b     12          I-*308       2  *188-*86
ZA14       1  TU-MI-TI-ZA-SE      45  PA-NU-QE

       ]number   logogram number logogram
HT27a       50        *86     51       RE
HT110b       1         MA      2     *301
KH12      ¬π‚ÅÑ‚ÇÅ‚ÇÜ  *401+*304    ¬π‚ÅÑ‚ÇÖ  *401+RU

           ]word word separator    word[     ]word
HT27a    KI-*310              êÑÅ  KU-*305  SA-RA-DI
KH79+89    PA-TA              êÑÅ     A-RA  PA-DA-NI

          ]word number logogram number
KN2       RU-NA      2     *118      3
HT27a  SA-RA-DI      5  VIR+[?]     42
HT93a  PA-SE-JA     20  VIR+[?]     10

            ]word number ]logogram number
MA2b        RE-TI      4        TI      1
HT27a  I-MI-SA-RA     43        QE     21

                       word  logogram number number
HT129             KI-RE-TA‚ÇÇ       GRA     33     êùÜêùÅ
HT123+124a           PU-VIN      OLIV     31    ¬π‚ÅÑ‚ÇÇ
HT100                SA-RA‚ÇÇ       CYP      5    ¬π‚ÅÑ‚ÇÑ
ZA6b        I-KU-JU-TI-*28B    GRA+PA     50    ¬π‚ÅÑ‚ÇÑ
HT27a                    êùïêùÅ        NI     10    ¬π‚ÅÑ‚ÇÉ
MA4b                   A-JA  HIDE+[?]    123    160

        ]logogram word separator logogram word separator
HT27b         VIN              êÑÅ      GRA              êÑÅ
HT42+59        TA              êÑÅ    SI+SE              êÑÅ

      ]logogram word separator logogram number
HT27b       GRA              êÑÅ       SA      4
PH1a         JA              êÑÅ     *316      1
HT45a      *318              êÑÅ     *305      2
MA10a        RU              êÑÅ  *413+SU      2
KH22         ZA              êÑÅ       SU      7

        logogram word separator logogram word separator
HT85a  *307+*387              êÑÅ  VIR+[?]              êÑÅ
HT118         AU              êÑÅ     *516              êÑÅ
HT27b        VIN              êÑÅ       SI              êÑÅ
HT96b       *516              êÑÅ      GRA              êÑÅ
HT66          ZU              êÑÅ  VIR+[?]              êÑÅ

       logogram number logogram[ word separator
HT128b   GRA+KU      1        RU              êÑÅ
HT27b        RE     70       VIN              êÑÅ

        logogram number            word logogram
KH11    *348-CYP     êùáêùâ  A-TO-*349-TO-I    CYP+E
HT102        GRA    976          PA‚ÇÉ-NI   GRA+PA
HT28a     OLE+TU      êùâ          SA-RA‚ÇÇ   OLE+DI
HT129         NI     22   TU-*21F-RI-NA      GRA
HT128b    GRA+KU      6    VIR+[?]-*329   GRA+KU
ZA6b      VIN+KA     10        *312-TA‚ÇÇ   GRA+PA

           number          word logogram number
HT123+124a     .3        PU-VIN     OLIV     31
HT94a         110        SA-RA‚ÇÇ      CYP      5
HT28a           3       I-TA-JA   OLE+DI     10
HT100          97        SA-RA‚ÇÇ      CYP      5
HT116a          3     PI-*34-TE      GRA      5
HT128b          6  VIR+[?]-*329   GRA+KU      1
HT28b           6       JA-*21F      VIN      6

           word number[       ]word number
HT39  TA-I-AROM      10    KU-RE-JU      8
KH92   KU-NI-TE      10       NA-KI      1
HT70         TE      30  QA-*118-SA      2
HT29   PA-JA-RE       2     DI-JA-I      2

           number[            ]word number        word
HT29             2          DI-JA-I      2  SA-*323-MI
HT122b           7  A-RA-JU-U-DE-ZA      2    QA-QA-RU
HT123+124a   ‚âà ¬π‚ÅÑ‚ÇÜ            KI-RO    ¬≥‚ÅÑ‚ÇÑ       DA-TU

                     ]word word separator            word word separator
SYZa1    A-TA-I-*301-WA-JA              êÑÅ         I-DA-MI              êÑÅ
ZAZb34           PU‚ÇÇ-RE-JA              êÑÅ           KO-MU              êÑÅ
HT31                 TI-SA              êÑÅ           PU-KO              êÑÅ
PKZa18                  TE              êÑÅ            I-DA              êÑÅ
PKZa8                   NU              êÑÅ           PA‚ÇÉ-E              êÑÅ
HT62+73              SA-RA              êÑÅ              TE              êÑÅ
PSZa2              êÑå-JA-TI              êÑÅ  JA-SA-SA-RA-ME              êÑÅ
IOZa2           I-PI-NA-MA              êÑÅ        SI-RU-TE              êÑÅ
KNZf31    SI-SI-ZA-NE-*310              êÑÅ     DA-DU-MI-NE              êÑÅ

        number      word number[ ]number
HT31        10  SA-JA-MA      30      10
HT62+73    ¬π‚ÅÑ‚ÇÑ     KA-KU       4      18
HT110b      20      *648       3       1

                    ]word number      word number[
HT31    *416-VS-KA-RO-PA‚ÇÉ     10  SA-JA-MA      30
HT111a              QA-RU      8        DI      14
HT110b                 RO     20      *648       3

       number logogram[ ]logogram number
HT32       65    OLE+NE        RE    104
HT58       19    OLE+MI     OLE+E      3
KH8       ¬π‚ÅÑ‚ÇÑ   VIR+[?]        NI    ¬π‚ÅÑ‚ÇÑ
KH91        1       VIN      *316      1
KH22        7     CYP+E        SI      4
HT125a    ¬π‚ÅÑ‚ÇÖ     OLE+U    OLE+MI      1

       ]logogram number         word number
MA2b          TI      1        JA-KU      2
MA10c     *412+E      2         *659      3
HT32          RE    104           DI     53
HT55a       *301      1        SI-RU      1
HT98a         TU      1     TA-NA-TI    ¬≥‚ÅÑ‚ÇÑ
HT109         TA      4        KU-RO    129
HT122a        DU      1    KU-PA‚ÇÉ-NU      1
HT98b        VIN    ¬≥‚ÅÑ‚ÇÑ  DA-RU-NE-TE   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
PH3a        *560      êùì        PA-RA      êùì

                word word separator number         word
HT123+124b   *188-DU              êÑÅ     10  TU-PA-DI-DA
HT96a       PI-TA-RA              êÑÅ      1    *323-*344
HT32           SU-RE              êÑÅ    108           DI
HTWa1021     *188-DU              êÑÅ    ¬≥‚ÅÑ‚ÇÑ  SI+SE-RA+KA

     number   word number logogram[
HT32    108     DI     65    OLE+NE
MA2b      1  JA-KU      2        TI

     word separator number      word number
ZA20              êÑÅ      4  SI-TE-TU      1
HT32              êÑÅ    108        DI     65

        number    logogram number[ ]number
HT42+59      8       OLE+U       2       2
HT33       ¬π‚ÅÑ‚ÇÑ  QA2+[?]+RE     êùâêùãêù´       3

        logogram       logogram number number
HT33   *401+*304  QA2+[?]+RE+PU      1    ¬π‚ÅÑ‚ÇÑ
PEZg5        OLE           *307      1    ¬π‚ÅÑ‚ÇÇ

       number[ ]number logogram number
HT33       êùâêùãêù´       3     E+KA     êùÉêùâ
PH28b      102       2     *304      6
HT101        2       3     OLIV      1
KH9        ¬π‚ÅÑ‚ÇÇ       2      CYP    ¬π‚ÅÑ‚ÇÑ
HT110b       3       1       MA      5

     logogram word separator logogram number[
HT43        I              êÑÅ   GRA+PA       5
HT34        E              êÑÅ      GRA     200

        word separator                 word word separator logogram[
IOZa2                êÑÅ  TA-NA-RA-TE-U-TI-NU              êÑÅ         I
PKZa10               êÑÅ        I-PI-NA-MI-NA              êÑÅ        SI
HT62+73              êÑÅ                   TE              êÑÅ       VIN
KNZb4                êÑÅ                JA-SI              êÑÅ        SI
IOZa3                êÑÅ    A-TA-I-*301-WA-JA              êÑÅ        AU
SYZa1                êÑÅ              I-DA-MI              êÑÅ        JA
HT34                 êÑÅ               SA-RA‚ÇÇ              êÑÅ  MI+JA+KA
HT51a                êÑÅ                   TE              êÑÅ        MA

       logogram[ lacuna ]number logogram
ARKH3b       OLE      êù´       2      OLE
HT34    MI+JA+KA      êù´     ¬π‚ÅÑ‚ÇÉ        E

      logogram[ logogram number    logogram
HT35     OLE+TA        E      5  QA2+[?]+PU
HT44a       GRA   OLE+KI      3       OLE+U
GO2r         SI       KA    ¬π‚ÅÑ‚Çà          SI

      word separator      word logogram number
HT35               êÑÅ   I-KU-TA      CYP      1
HT96a              êÑÅ  SI-MI-TA      GRA      5
HT133              êÑÅ        TE   GRA+DA     55

      logogram number logogram[  logogram
KH37  *304+[ ]      2        WI  *304+[ ]
HT35      *308    ¬π‚ÅÑ‚ÇÉ    OLE+TA         E

         word              word number number
HT36    JE-DI  *307+*387-GRA+QE     64    ¬π‚ÅÑ‚ÇÇ
SAMWa1  SA-RA                TE     10   ¬π‚ÅÑ‚ÇÅ‚ÇÜ

        number  word[  ]word logogram
HT39        10  KU-RE  KU-RO   *414+A
HT42+59      2  SU-DU  RE-TU   OLE+KI

      number[     ]word number logogram[
HT81    ‚âà ¬π‚ÅÑ‚ÇÜ  RI-SU-MA      êùã        KI
HT51b      12     ZU-DU      ‚Öù        SI
HT39       10  KU-RE-JU      8        KU

      word[  ]word logogram number
ZA1b   E-MI     RO      GRA     47
HT39  KU-RE  KU-RO   *414+A    100

       lacuna lacuna  ]word number
HT111a      êù´      êù´  QE-KA      8
HT41a       êù´      êù´  QE-TU     10
ZA27        êù´      êù´  DI-KI      2

          logogram number logogram number[
KH12     *401+*304    ¬π‚ÅÑ‚ÇÖ  *401+RU      êùçêù´
KH14          *336      2      CYP    ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT49a           TU      4       KI       1
TY3b        OLE+KI      4   OLE+MI      11
TY3a         OLE+U     21   OLE+MI       2
KN2           *118      3   I+*301       5
KH7a          *334      4    CYP+D       1
HT42+59     OLE+KI      8    OLE+U       2
HT91        OLE+MI  ‚âà ¬π‚ÅÑ‚ÇÜ        E       3
HT44a       OLE+KI      3    OLE+U       5
HT101         *304      3   OLE+KI       2

        logogram number      word[     ]word
HT42+59   OLE+MI      2      SU-DU     RE-TU
HT93a       *343      2  PA‚ÇÉ-NI-NA  PA-SE-JA

       logogram number[ logogram number
ZA12a        TI      13       RU     28
HT116b      GRA     100     *304     15
HT106       CYP       6       SI      5
PE1     VIR+[?]      50   GRA+PA     26
HT99a        NI       4      VIN      1
HT128a   GRA+PA     ¬π‚ÅÑ‚ÇÇ   GRA+KU      6
HT44a     OLE+U       5   OLE+RA      5

      ]logogram number logogram[ lacuna
KH22         SI      4       CYP      êù´
HT100    VIR+KA     58   *304+PA      êù´
PH8b       *316      1  *318+[ ]      êù´
KH34      CYP+E      2        NI      êù´
KH91    *401+RU   ¬π‚ÅÑ‚ÇÅ‚ÇÜ   *401+RO      êù´
HT44a        NI      1       VIN      êù´

       number[ ]logogram number logogram[
KH84       ¬π‚ÅÑ‚ÇÇ      *301      1      *306
HT44a        1        NI      1       VIN
HT131b      30      OLIV      2    VIN+SA

      number[ logogram number logogram
HT44a       5   OLE+RA      5     OLIV
ZA12b      40       TI     13       RU

      ]logogram word separator  logogram number[
HT45a       *86              êÑÅ      *305       2
HT52b        NE              êÑÅ       GRA     201
KH36         KA              êÑÅ  MI+JA+RU       4

              ]word number[              ]word number
HT51b      KU-ME-TA      12              ZU-DU      ‚Öù
HT46a         MU-RU       1              KU-RO     43
HT122b  *306-KI-TA‚ÇÇ       7    A-RA-JU-U-DE-ZA      2
HT127a     DU-NE-MI       1  *304+PA-DA-*47-KU      1

       lacuna     ]word number[              ]word
HT46a       êù´     MU-RU       1              KU-RO
HT127a      êù´  DU-NE-MI       1  *304+PA-DA-*47-KU
HT135a      êù´  NE-MI-NA      10              MI-TU

      number[    ]word number number
ZA11a     ¬π‚ÅÑ‚ÇÇ  E-KU-RU      2    ¬π‚ÅÑ‚ÇÑ
HT46a       1    KU-RO     43    ¬π‚ÅÑ‚ÇÇ

      number logogram number dividing line
PH8a      11     *304      2             ‚Äî
HT49a      1       KI      1             ‚Äî
HT106    ¬π‚ÅÑ‚ÇÇ       SI      1             ‚Äî
TY3a       5   OLE+TU      1             ‚Äî

       lacuna  ]word number  word[
ZA27        êù´  DI-KI      2   O-MI
HT111a      êù´  QE-KA      8  QA-SA
HT49a       êù´     RI      1  SU-KI

      number logogram number[ lacuna
KN2        3   I+*301       5      êù´
HT49a      4       KI       1      êù´
KH4        4      CYP     ¬π‚ÅÑ‚ÇÉ      êù´
HT91   ‚âà ¬π‚ÅÑ‚ÇÜ        E       3      êù´

      lacuna number logogram number
HT49a      êù´      5       TU      4
KH10       êù´    ¬π‚ÅÑ‚ÇÇ      GRA     10

             ]word number  word[ lacuna
HT49a           RI      1  SU-KI      êù´
TY2    *309B-RI-JU    250  *309B      êù´

      word separator                ]word[        ]word word separator
HT49a              êÑÅ                RA‚ÇÇ-DU     TA-NA-TI              êÑÅ
APZa2              êÑÅ  I-KU-PA‚ÇÉ-NA-TU-NA-TE  PI-MI-NA-TE              êÑÅ

       ]logogram number  logogram number
KH14         CYP    ¬π‚ÅÑ‚ÇÑ      *336      2
KNZb35       OLE    100        NI      2
PK3           QE      3        JA     20
TY3a          KI      5    OLE+TU      1
KH8           TA      2     CYP+D    ¬π‚ÅÑ‚ÇÇ
HT50a       OLIV      3  *OLIV+TU    ¬≥‚ÅÑ‚Çà
HT140         KA      1     OLE+U      2
HT58       OLE+E      3      OLIV     41
PH8a     VIR+[?]     11      *304      2

          ]word number logogram[ lacuna
HT51b     ZU-DU      ‚Öù        SI      êù´
HT55b     RI-JA      1         I      êù´
HT81   RI-SU-MA      êùã        KI      êù´
KH43    *560-RE      2    WI+ZE[      êù´
HT108    RA‚ÇÇ-TI     10        JU      êù´

      number logogram[ lacuna lacuna
HT51b      ‚Öù        SI      êù´      êù´
HT55b      1         I      êù´      êù´
KH34       2        NI      êù´      êù´

      ]number     word[ lacuna lacuna
ZA21b       2     SA-RI      êù´      êù´
HT52a       4  DI-KA-KI      êù´      êù´

      logogram number[ lacuna lacuna
KH29       CYP     ¬π‚ÅÑ‚ÇÇ      êù´      êù´
PH25       VIN       2      êù´      êù´
KH4        CYP     ¬π‚ÅÑ‚ÇÉ      êù´      êù´
HT52b      GRA     201      êù´      êù´
KH38     CYP+D     ¬π‚ÅÑ‚ÇÇ      êù´      êù´

       ]logogram[ ]number logogram[ lacuna
HT53a         OLE     100        RA      êù´
HT154n         SI       6        SI      êù´

      lacuna lacuna ]number[ lacuna
HT53b      êù´      êù´       18      êù´
ZA30       êù´      êù´        7      êù´
KH67       êù´      êù´        1      êù´

       ]number logogram[ lacuna lacuna
HT54b        4        KI      êù´      êù´
HT154n       6        SI      êù´      êù´

      lacuna ]number logogram[ lacuna
KH46       êù´      êù´êùã       VIN      êù´
KH35       êù´       1       CYP      êù´
HT54b      êù´       4        KI      êù´

      number   logogram[   ]logogram number[
HT55a      1          NE          TU       1
HT60       5  QA2+[?]+RE  QA2+[?]+PU      êùâêù´
KH9      ¬π‚ÅÑ‚ÇÑ         VIN         CYP     êùÉêùâêù´

        ]logogram number[ lacuna lacuna
HT55a          TU       1      êù´      êù´
KH68+71  *401+[ ]      êùâêù´      êù´      êù´
HT70            I       3      êù´      êù´
HT112b        CYP       6      êù´      êù´

        ]word word separator     word number[
HT55a   KI-RO              êÑÅ    MA-RE       1
HT122a  RA-RI              êÑÅ  U-DE-ZA       2

      logogram[ ]logogram number[ lacuna
KH100       VIN        KE     ¬π‚ÅÑ‚ÇÑ      êù´
HT55a        NE        TU       1      êù´

      ]logogram number lacuna lacuna
HT63         ZU      2      êù´      êù´
HT57b      *305      8      êù´      êù´

     logogram number logogram[ ]logogram
KH8       CYP    ¬π‚ÅÑ‚ÇÑ   VIR+[?]        NI
KH22       SU      7     CYP+E        SI
HT58    OLE+U     19    OLE+MI     OLE+E
KH9       CYP    ¬π‚ÅÑ‚ÇÑ       VIN       CYP

       ]number logogram number number
HT101        3     OLIV      1    ¬π‚ÅÑ‚ÇÑ
HT60      ¬π‚ÅÑ‚ÇÅ‚ÇÜ      VIN   ¬π‚ÅÑ‚ÇÅ‚ÇÜ    ¬π‚ÅÑ‚ÇÑ
HT113       30        O      2    ¬π‚ÅÑ‚ÇÇ
HT110b       1       MA      5    ¬π‚ÅÑ‚ÇÇ

       number number   logogram[   ]logogram
HT60      ¬π‚ÅÑ‚ÇÑ      5  QA2+[?]+RE  QA2+[?]+PU
HT125a      1    ¬π‚ÅÑ‚ÇÖ       OLE+U      OLE+MI

       logogram ]number   logogram number
HT60  MI+JA+[ ]    ¬π‚ÅÑ‚ÇÅ‚ÇÜ        VIN   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
KH7a  VIR+*313b      18      CYP+D      1
KH12       *516    ¬π‚ÅÑ‚ÇÅ‚ÇÜ  *401+*304    ¬π‚ÅÑ‚ÇÖ

      ]word word separator logogram number[
KH9    I-SI              êÑÅ    CYP+D     ¬π‚ÅÑ‚ÇÇ
HT61  MI-TI              êÑÅ   GRA+KU       6

             logogram number number      word
HT123+124b       *312      1    ¬≥‚ÅÑ‚ÇÑ  TI-DA-TA
HT123+124a       *308      8    ¬π‚ÅÑ‚ÇÑ     KI-RO
HTZd157+156      *904      3    ¬≥‚ÅÑ‚Çà     TA-JA
HT93a        DA+RE+SE     43    ¬π‚ÅÑ‚ÇÇ  KI-DI-NI
HT62+73           GRA     15    ¬π‚ÅÑ‚ÇÑ     KA-KU

        word separator logogram[ word separator     ]word
HT94b                êÑÅ        RA              êÑÅ  DE-ME-TE
HT62+73              êÑÅ       VIN              êÑÅ        NA
KH7a                 êÑÅ        KU              êÑÅ      KO-E

           ]word logogram number number
HT62+73       NA      GRA     15    ¬π‚ÅÑ‚ÇÑ
TY3a     ZA-*321   OLE+KI     15    ¬π‚ÅÑ‚ÇÑ

      number   word[ ]logogram number
HT63       1  SU-PU‚ÇÇ        ZU      2
HT101      3  KU-PA‚ÇÉ     OLE+U      2
PH1b       1      PA        NI      2

           word[ ]logogram number lacuna
HT63      SU-PU‚ÇÇ        ZU      2      êù´
ZA11a  PI-*310-A      OLIV      2      êù´

                 word number word also in linear b number
HT115a       SE-KU-TU    ¬π‚ÅÑ‚ÇÇ              PA-RA-NE      1
HT117a    DA-NE-KU-TI      1              KI-DA-RO      1
ZA10a   A-DU-KU-MI-NA      1            DA-I-PI-TA      1
HT85b     WA-DU-NI-MI      1                 MA-DI      1
PE2          QA-QA-DA    ¬π‚ÅÑ‚ÇÇ                 TO-ME    ¬π‚ÅÑ‚ÇÉ
HT63               TE      1                 KA-TI      1
HT122a     *324-DI-RA      1                 PA-DE      1

        ]word[ ]logogram number lacuna
HT79+83  KU-NI        ZU      3      êù´
HT66     TA-MI        RE      1      êù´

      word separator   ]word number logogram[
HT66               êÑÅ      DI      2        TA
HT108              êÑÅ  RA‚ÇÇ-TI     10        JU

     ]logogram word separator word number[
HT67        NI              êÑÅ   TE     400
HT70        NI              êÑÅ   TE      30

      lacuna lacuna  ]word number[
KN28b      êù´      êù´     TE      êùäêù´
HT74       êù´      êù´  KU-RO      20
HT67       êù´      êù´  KU-RO     402

      lacuna  ]word number[ ]logogram
HT67       êù´  KU-RO     402        NI
ZA16       êù´     PA       6        SU
HT98a      êù´     DE       1        TU

       lacuna ]number   word number[
HT69        êù´       5     DI       8
HT111b      êù´      18  SA-DI       4

      number[ ]logogram number[ lacuna
HT106       8        SI       3      êù´
PH3b      ¬≥‚ÅÑ‚ÇÑ        SI     ¬π‚ÅÑ‚ÇÑ      êù´
HT70      ¬π‚ÅÑ‚ÇÑ         I       3      êù´
KH25      140   VIR+[?]      10      êù´
ZA16        6        SU       4      êù´
KH12       êùçêù´   *401+RU      êùçêù´      êù´
KH63       10   *401+RU      êùâêù´      êù´

        ]logogram word separator     word[       ]word
KH74           SI              êÑÅ  JA-DA-SU  SI-*805-MI
HT79+83        KA              êÑÅ    DA-PA‚ÇÉ    TU-PA-RI

      word separator logogram[ lacuna lacuna
HT144              êÑÅ         O      êù´      êù´
HT84               êÑÅ   VIR+[?]      êù´      êù´

          ]word word separator logogram[ lacuna
HT84      NU-TI              êÑÅ   VIR+[?]      êù´
KH53  A-ME-AROM              êÑÅ        NE      êù´

             word          word logogram number
HT90   I-KU-RI-NA        SA-RA‚ÇÇ      GRA     20
HT102       KA-PA        SA-RA‚ÇÇ      GRA    976
KH10      QA-*118  A-KI-PI-E-TE      GRA     90

      number    word[ word separator number
HT93a    ¬π‚ÅÑ‚ÇÇ     O-TI              êÑÅ      3
HT94b      1  *21F-TU              êÑÅ      1

       number logogram number      word[
GO2r      ¬π‚ÅÑ‚Çà       SI      2         DA
HT93a       2     *343      2  PA‚ÇÉ-NI-NA
HT101      10    DI+QE      3     KU-PA‚ÇÉ
HT115b      1  *306+MI      1      KU-TA

       logogram word   logogram number
PE1     VIR+[?]   72     GRA+PA     36
HT127b       KU   72  VIR+*313c     24
HT94a   VIR+[?]   62        *86     20

            number  logogram       number ]number
MA10b            1    *412+E            3       4
PK3              3        JA           20      31
HT94a  double mina        NI  double mina      14
KH12           ¬π‚ÅÑ‚ÇÇ  MI+JA+RU          ¬π‚ÅÑ‚ÇÇ     ¬π‚ÅÑ‚ÇÉ

      word separator     ]word number    word[
HT94b              êÑÅ  DE-ME-TE      1  *21F-TU
PH1b               êÑÅ        NA      1       PA

       number                word number dividing line
HT96a       1           *323-*344      1             ‚Äî
PK1         1  O-KA-MI-ZA-SI-I-NA      1             ‚Äî
HT117a      1               KU-RO     10             ‚Äî

           word number ]logogram number
PH3a       *563      êùì      *560      êùì
HT96a     TE-NI     20        NI      2
HT122a  *306-TU      1        DU      1

      logogram number number lacuna
HT113        O      2    ¬π‚ÅÑ‚ÇÇ      êù´
HT96b       NI      2   ¬π‚ÅÑ‚ÇÅ‚ÇÜ      êù´

      lacuna ]logogram[ ]logogram number
KH8        êù´         RE        TA      2
HT98b      êù´       *188       VIN    ¬≥‚ÅÑ‚ÇÑ

          word logogram number[ logogram
HT99a   SA-RA‚ÇÇ      CYP       4       NI
HT116b   KU-RO      GRA     100     *304

      number[ logogram number number
PE1        50   GRA+PA     26    ¬π‚ÅÑ‚ÇÇ
ZA12a      13       RU     28      6
HT99a       4      VIN      1  ‚âà ¬π‚ÅÑ‚ÇÜ
HT106       6       SI      5    ¬π‚ÅÑ‚ÇÇ
HT140     ¬π‚ÅÑ‚ÇÇ    OLE+U      6    ¬π‚ÅÑ‚ÇÇ

      logogram number[ logogram number[
HT99a      CYP       4       NI       4
ZA11b   GRA+PA       1   I-OLIV       1

       number         word logogram number[
ZA6b       10     *312-TA‚ÇÇ   GRA+PA      40
HT128a     10  WA-TU-MA-RE   GRA+KU      12
HT102     976       PA‚ÇÉ-NI   GRA+PA      33

             word logogram number[ ]logogram
HT131a  I-QA-*118      GRA      58       OLE
HT102      PA‚ÇÉ-NI   GRA+PA      33   VIR+[?]

                    word number               word              word
HT115a    RI-TA-MA-NU-WI      2          *301-U-RA  NA-*21F-NE-MI-NA
SYZa2   JA-SU-MA-TU-OLIV      1  U-NA-KA-NA-SI-OLE              A-JA
HT102               I-KA      5              KU-RO              1060

      lacuna ]logogram number    word
HT105      êù´   VIR+[?]    234  SA-RA‚ÇÇ
HT109      êù´        TA      4   KU-RO
HT130      êù´        SI      3  SA-RA‚ÇÇ

       number      word word separator logogram
ZA11b       2     KU-PA              êÑÅ   GRA+PA
HT105     234    SA-RA‚ÇÇ              êÑÅ  VIR+[?]
HT115b      1  KU-RU-MA              êÑÅ        I
ZA11a       4     KU-PA              êÑÅ   GRA+PA

        lacuna ]logogram number[ lacuna
ZA28         êù´    GRA+PA       1      êù´
HT109        êù´        RE       4      êù´
ZA31         êù´        DU       2      êù´
KH68+71      êù´  *401+[ ]      êùâêù´      êù´

       number     word[ logogram number
HT128a      6        DI   GRA+KU      4
HT115a      1  RI-SU-MA       SU      2

       number       word              word number
HT115a      2  *301-U-RA  NA-*21F-NE-MI-NA      1
TY2        10   PA-DA-RU        *309-JU-KI    100

       number dividing line   word word separator
HT117a     10             ‚Äî  SA-TA              êÑÅ
ZA15b       3             ‚Äî  KU-RO              êÑÅ

       number[     ]word logogram number
KH7b       ¬π‚ÅÑ‚ÇÇ  PA-NA-TU    CYP+D    ¬π‚ÅÑ‚ÇÇ
HT125a     ¬π‚ÅÑ‚ÇÇ    SA-RA‚ÇÇ      GRA      2

       ]logogram number number logogram[
HT125a    OLE+KI      1    ¬π‚ÅÑ‚ÇÖ     OLE+U
KH91        *316      1  13/20        ZU

       lacuna lacuna ]logogram number[
KH82        êù´      êù´    OLE+RI      êùâêù´
HT127b      êù´      êù´        NE      13

       word separator lacuna logogram number
HT128b              êÑÅ      êù´   GRA+KU      6
KH91                êÑÅ      êù´      GRA      1
TY3a                êÑÅ      êù´   OLE+KI     51

      number logogram number[ ]logogram
TY3b       4   OLE+MI      11    OLE+NE
HT129    ¬π‚ÅÑ‚ÇÇ   OLE+DI       1    OLE+KI
KH12     ¬π‚ÅÑ‚ÇÖ  *401+RU      êùçêù´   *401+RU

       lacuna ]logogram number[ ]logogram
KH63        êù´        SU      10   *401+RU
KH84        êù´       CYP     ¬π‚ÅÑ‚ÇÇ      *301
HT131b      êù´        NI      30      OLIV
KH26        êù´   VIR+[?]      60        NI
HT154a      êù´        KU       6        TA

      ]logogram[ number logogram number
KH61         CYP      2      GRA      1
MA6a    HIDE+[?]    941   HIDE+B     35
HT139        GRA      1      OLE    ¬π‚ÅÑ‚ÇÇ
KH75         CYP     êùáêùâ       NI    ¬π‚ÅÑ‚ÇÉ
KH12         CYP      2     *308    ¬π‚ÅÑ‚ÇÇ
KH15         CYP    ¬π‚ÅÑ‚ÇÇ       NI    ¬π‚ÅÑ‚ÇÇ

      logogram number         word number[
TY2    VIR+[?]     82  *309C-DA-JU      17
MA10a   *412+E      4         *659       4
HT140    OLE+U      2        KA-PA     ¬π‚ÅÑ‚ÇÇ

       logogram number ]logogram number
HT140     OLE+U      1        KA      1
ARKH3b      OLE      4       VIN      1
KH8          NI    ¬π‚ÅÑ‚ÇÇ       GRA    ¬π‚ÅÑ‚ÇÇ
KH15         NI    ¬π‚ÅÑ‚ÇÇ        NI    ¬π‚ÅÑ‚ÇÑ

      lacuna lacuna lacuna lacuna
HT142      êù´      êù´      êù´      êù´
ZA5a       êù´      êù´      êù´      êù´

      lacuna ]logogram number ]number
HT147      êù´        RA  ‚âà ¬π‚ÅÑ‚ÇÜ     ¬π‚ÅÑ‚ÇÇ
KH21       êù´       CYP      êùç     ¬π‚ÅÑ‚ÇÖ

        lacuna lacuna ]word[ lacuna
KH44         êù´      êù´   *335      êù´
HT154ja      êù´      êù´  NU-TE      êù´
KH52         êù´      êù´   TA-U      êù´

                      word word separator logogram[ word separator
KH7a               SE-*305              êÑÅ        KU              êÑÅ
IOZa2  TA-NA-RA-TE-U-TI-NU              êÑÅ         I              êÑÅ

       word separator              word word separator          word[
KNZc7               êÑÅ  JA-SA-RA-A-NA-NE              êÑÅ          WI-PI
ZAZb34              êÑÅ             KO-MU              êÑÅ          RU-DI
PKZa18              êÑÅ              I-DA              êÑÅ          JA-JA
TLZa1               êÑÅ    JA-SA-SA-RA-ME              êÑÅ     U-NA-KA-NA
IOZa2               êÑÅ    JA-SA-SA-RA-ME              êÑÅ  U-NA-KA-NA-SI

       word separator     ]word word separator      word[
KNZa10              êÑÅ  DU-WA-TO              êÑÅ       I-JA
IOZa11              êÑÅ   U-TI-NU              êÑÅ  I-NA-I-DA

             word[ ]logogram number logogram
KH4        A-DU-RE      *306      4      CYP
TY3a  A-KU-TU-*361        KI      5   OLE+TU

     logogram number         word[ ]number
KH7a    CYP+D      1           êùïêùâêù´     êù´êùÅêùå
ZA6a     *171     19  *34-JU-TE-MI     180

              word word separator logogram[ ]number
KH20    A-SI-KI-RA              êÑÅ     CYP+E     ¬π‚ÅÑ‚ÇÉ
KH9   A-SI-SU-PO-A              êÑÅ  VIR+*307    ¬π‚ÅÑ‚ÇÅ‚ÇÜ

            word word separator     word           word
KH10  I-PA-SA-JA              êÑÅ  QA-*118   A-KI-PI-E-TE
PH6      I-NA-WA              êÑÅ     A-RI  I-ZU-RI-NI-TA

     ]number  word[ ]number logogram
KH29       1  KU-PA       2      CYP
KH12     ¬π‚ÅÑ‚ÇÉ   *335     ¬π‚ÅÑ‚ÇÉ     *516

       ]logogram word separator           word word separator
KH14          RA              êÑÅ        A-MA-JA              êÑÅ
PLZf1         TA              êÑÅ    WI-TE-JA-MU              êÑÅ
KNZb4         JU              êÑÅ          JA-SI              êÑÅ
PKZa10        SI              êÑÅ  I-PI-NA-MI-NA              êÑÅ

        logogram number[ logogram[ lacuna
KH14    VIR+*307       2       CYP      êù´
ARKH3b       GRA       1       OLE      êù´

     logogram number[       ]word logogram[
TY3a   OLE+MI       2  KO-A-DU-WA       OLE
KH16      CYP     êùáêùâêù´   U-TA-I-SI     CYP+D

         ]logogram number[ ]logogram number[
KH25       VIR+[?]     140   VIR+[?]      10
KH63            SU      10   *401+RU      êùâêù´
PH3b        ]MI+JA     ¬≥‚ÅÑ‚ÇÑ        SI     ¬π‚ÅÑ‚ÇÑ
THEtab.4       CAP       7       CAP      46

     number lacuna lacuna lacuna
KH92      1      êù´      êù´      êù´
KH26     êùÉêùã      êù´      êù´      êù´

     lacuna ]logogram[ ]logogram number[
KH57      êù´         TU        ZO       1
KH27      êù´         NI    GRA+PA       4

      ]number logogram number[ lacuna
KH29        2      CYP     ¬π‚ÅÑ‚ÇÇ      êù´
KN28b       3    SU+MI      êùäêù´      êù´

     lacuna lacuna logogram number[
KH38      êù´      êù´    CYP+D     ¬π‚ÅÑ‚ÇÇ
KH55      êù´      êù´   OLE+TA     ¬π‚ÅÑ‚ÇÉ

     ]logogram number  ]word number
KH59         I      5  DI-NA      5
KH50        TA      2     JE      2

        word separator     word[       ]word lacuna
KH74                 êÑÅ  JA-DA-SU  SI-*805-MI      êù´
KH79+89              êÑÅ      A-RA    PA-DA-NI      êù´

      number logogram number lacuna
KH75      êùáêùâ       NI    ¬π‚ÅÑ‚ÇÉ      êù´
PH1a       1      CYP  ‚âà ¬π‚ÅÑ‚ÇÜ      êù´
ZA18a      ?     OLIV    ¬π‚ÅÑ‚ÇÑ      êù´
ZA1a     ¬π‚ÅÑ‚ÇÇ       ZA      5      êù´

                       ]word[        ]word word separator          word[
APZa2    I-KU-PA‚ÇÉ-NA-TU-NA-TE  PI-MI-NA-TE              êÑÅ  I-NA-JA-RE-TA
KH79+89                 MI-NA        PA-TA              êÑÅ           A-RA

     number       word number lacuna
PE2     ¬π‚ÅÑ‚ÇÉ  TO-*49-RE      1      êù´
PH2      60  SE-SA-PA‚ÇÉ     60      êù´
KH88     10      PU-DE      8      êù´
ZA20      3      KU-RA    130      êù´

                    word word separator  word[ word separator
KNZc7   JA-SA-RA-A-NA-NE              êÑÅ  WI-PI              êÑÅ
KNZa10                NA              êÑÅ  DA-WA              êÑÅ

     number number word[ logogram
PE1      26    ¬π‚ÅÑ‚ÇÇ  E-KA  VIR+[?]
GO2v      1    ¬π‚ÅÑ‚Çà    DA       RE

              word           word  word               word
PH6           A-RI  I-ZU-RI-NI-TA  A-RI   I-DA-PA‚ÇÉ-I-SA-RI
ZAZb3  DI-DI-KA-SE     A-SA-MU-NE  A-SE  A-TA-I-*301-DE-KA

      logogram number ]number   word
PH28b     *304      6       6   *811
PK3         JA     20      31  DA-RE

     lacuna ]logogram number[          ]word[
ZA29      êù´        MA     100              TE
PH30      êù´        TI     ¬π‚ÅÑ‚ÇÑ  MA-RE-RI-MI-DE

     ]logogram number ]logogram number
PK3         TI      2        KU      3
ZA6a      OLIV     15      OLIV     10

           ]word logogram number[    ]word
ARKH3b     JA-PI      GRA       6  PI-*314
ZA11a   RA-MA-SI      VIN     ¬π‚ÅÑ‚ÇÇ  E-KU-RU

                      word word separator              word
IOZa2    A-TA-I-*301-WA-JA              êÑÅ       JA-DI-KI-TU
HT115b            TI-NU-JA              êÑÅ             NU-WI
SYZa2    A-TA-I-*301-WA-JA              êÑÅ  JA-SU-MA-TU-OLIV
KH5                *301-NA              êÑÅ          KU-PA-ZU
HT9b               KA-*305              êÑÅ             PA-DE
...                    ...            ...               ...
HT99a                 A-DU              êÑÅ            SA-RA‚ÇÇ
LACHZa1            RI-DA-U              êÑÅ             SE-JE
HT92                    TE              êÑÅ              A-DU
HT31                 PU-KO              êÑÅ           *410-VS
HT96a        I-TI-TI-KU-NI              êÑÅ        A-PA-RA-NE

[63 rows x 3 columns]

           number         word number
PK1             1        NI-MI      1
HT118           1     RI-RU-MA     10
HT115b        ¬π‚ÅÑ‚ÇÇ    DU-PA‚ÇÉ-NA      1
HT123+124b     10  TU-PA-DI-DA  13/20
HT8a          ¬π‚ÅÑ‚ÇÑ  KI-RE-TA-NA    ¬π‚ÅÑ‚ÇÇ
...           ...          ...    ...
MA2b            1        JA-KU      2
ZA7a            5      A-RA-TU      4
HT26b           3   KA-U-ZU-NI      4
HT26a          21  MI-KI-SE-NA     15
HT25b          24        KU-RO     52

[86 rows x 3 columns]

           word separator              word number
HT16                    êÑÅ           DI-NA-U    ¬π‚ÅÑ‚Çà
HT88                    êÑÅ          KI-KI-NA      7
HT63                    êÑÅ                TE      1
HT6a                    êÑÅ          QE-PI-TA     22
HT87                    êÑÅ       PI-TA-KE-SI      1
HT85b                   êÑÅ         KI-RE-TA‚ÇÇ      1
HT117a                  êÑÅ       KU-KU-DA-RA      1
HT10a                   êÑÅ             DA-RE     16
HT95b                   êÑÅ             SA-RU     10
HT104                   êÑÅ    DA-KU-SE-NE-TI     45
HT96a                   êÑÅ             TE-NI     20
HT115b                  êÑÅ          PA-RA-NE    ¬π‚ÅÑ‚ÇÇ
HT41a                   êÑÅ             PA-JA      2
HT85a                   êÑÅ          DA-RI-DA     12
HT140                   êÑÅ    *86-SI-*118-KA      3
HT118                   êÑÅ             MA-DI     15
HT9b                    êÑÅ             PA-DE      3
HT123+124b              êÑÅ             PI-SA      4
SYZa2                   êÑÅ  JA-SU-MA-TU-OLIV      1
HT15                    êÑÅ             KI-RO    400
HT94b                   êÑÅ             TU-MA      1
HT1                     êÑÅ             KI-RO    197
HT117b                  êÑÅ          KU-RE-JU      1

                   word number        word
HT23a     *21F-RI-TU-QA   ¬π‚ÅÑ‚ÇÅ‚ÇÜ    SA-SA-ME
HT110a            KU-PA      1       KU-RO
HT98a       DI-RE-DI-NA    ¬π‚ÅÑ‚ÇÇ     TE-*301
HT85a        DA-SI-*118     24    KU-ZU-NI
HT25a           U-RE-WI      1     DI-NA-U
...                 ...    ...         ...
HT100             KU-RO     97      SA-RA‚ÇÇ
HT9b               A-SI      3     *306-TU
HT1           KU-PA‚ÇÉ-NU    109  A-RA-NA-RE
HTWa1020  *304+PA-KU-PA    ¬π‚ÅÑ‚ÇÑ    JE-TA-NA
PE2           A-*325-ZA    ¬π‚ÅÑ‚ÇÑ     A-RI-PA

[70 rows x 3 columns]

                     word word separator   logogram
HT23a               KA-NA              êÑÅ        CYP
HT35             TI-TI-KU              êÑÅ       *326
HT12          QA-TI-DA-TE              êÑÅ     OLE+DI
KNZb<27>          DI-NA-U              êÑÅ        VIN
HT19                   TE              êÑÅ        VIN
ZA5a            *21F-*118              êÑÅ     VIN-SU
HT95a         DA-DU-MA-TA              êÑÅ        GRA
HT89             A-SA-RA‚ÇÇ              êÑÅ       *307
KH7a              E-NA-SI              êÑÅ  VIR+*313b
KH88            *21F-*118              êÑÅ         NI
HT115b              NU-WI              êÑÅ        GRA
HT7a                QE-TI              êÑÅ    VIR+[?]
HT122b              JE-DI              êÑÅ       *346
ZA18a             KU-*321              êÑÅ     GRA+PA
HT103               U-TA‚ÇÇ              êÑÅ         NI
HT116a             PU-RA‚ÇÇ              êÑÅ        GRA
ZA15b               KA-DI              êÑÅ        VIN
HT96b       QA-*118-RA-RE              êÑÅ       *516
HT6a                   TE              êÑÅ         NI
HT123+124a        KI-TA-I              êÑÅ       OLIV
HT27a            TI-NI-TA              êÑÅ       *307
ZA8               A-TA-RE              êÑÅ         NI
ZA11a               KU-PA              êÑÅ     GRA+PA
HTWc3014      KU-MI-NA-QE              êÑÅ        CAP
HT81                 A-SE              êÑÅ   MI+JA+RU
HT93a             GRA-PA‚ÇÉ              êÑÅ      RE+SE
HT115a       *47-NU-RA-JA              êÑÅ          I
HT91                 I-KA              êÑÅ       *326
ZA11b          SA-*301-RI              êÑÅ     GRA+PA
HT17                   TE              êÑÅ        VIN
HT11b            SA-QE-RI              êÑÅ         KA
HT14                   TE              êÑÅ        GRA
HT32               SA-RA‚ÇÇ              êÑÅ       *308
HT140               JE-DI              êÑÅ     OLE+KI
HT104               TA-PA              êÑÅ     TE+RO[
HT43            PA-*342-I              êÑÅ          I
KH14              A-MA-JA              êÑÅ        CYP
HT2               A-KA-RU              êÑÅ      OLE+U
HT92                 A-DU              êÑÅ        GRA
HT9a                   TE              êÑÅ        VIN
HT28a             JA-*21F              êÑÅ     GRA+QE
HT21                   TE              êÑÅ        GRA
HT27b               PA-SE              êÑÅ     VIN+WA
HT42+59                TE              êÑÅ     OLE+KI
HT40                   TE              êÑÅ        GRA
ZA1a             KI-RE-ZA              êÑÅ         NI
MA1b                 A-MA              êÑÅ        *47
HT105              SA-RA‚ÇÇ              êÑÅ    VIR+[?]
HT85a                A-DU              êÑÅ  *307+*387
HT33               SA-RA‚ÇÇ              êÑÅ  *401+*304

       ]logogram number number
HT125a    OLE+KI      1    ¬π‚ÅÑ‚ÇÖ
KH91        *316      1  13/20
HT34       E+[ ]      2     êùÖêùá
ARKH1a        NE      2    ¬π‚ÅÑ‚ÇÇ
HT24b       *118      1    ¬≥‚ÅÑ‚ÇÑ
HT131a       OLE     12    ¬π‚ÅÑ‚ÇÇ
HT2        OLE+A     47      1
KH26          NI      2     êùÉêùã
PK3           KU      3      3
PH1b          NI      2     êùÑêùá

        number    logogram number[
HT44a        5        OLIV       1
KH12       ¬π‚ÅÑ‚ÇÖ     *401+RU      êùçêù´
HT49a        4          KI       1
KN2          3      I+*301       5
HT33       ¬π‚ÅÑ‚ÇÑ  QA2+[?]+RE     êùâêùãêù´
KH4          4         CYP     ¬π‚ÅÑ‚ÇÉ
HT118       30          KI      15
KH7a         4       CYP+D       1
TY3a        21      OLE+MI       2
KH14       ¬π‚ÅÑ‚ÇÑ    VIR+*307       2
HT2         17       OLE+E       3
TY3b         4      OLE+MI      11
HT89       ¬π‚ÅÑ‚ÇÑ         VIN       6
HT129      ¬π‚ÅÑ‚ÇÇ      OLE+DI       1
HT101        3      OLE+KI       2
HT42+59      8       OLE+U       2
HT91     ‚âà ¬π‚ÅÑ‚ÇÜ           E       3

      word separator  logogram number[
HT34               êÑÅ       GRA     200
HT61               êÑÅ    GRA+KU       6
KH36               êÑÅ  MI+JA+RU       4
HT45a              êÑÅ      *305       2
KH9                êÑÅ     CYP+D     ¬π‚ÅÑ‚ÇÇ
ZA11a              êÑÅ    GRA+PA       1
HT52b              êÑÅ       GRA     201
ZA11b              êÑÅ    GRA+PA       1
KH14               êÑÅ       CYP       6
HT2                êÑÅ     OLE+U      20
HT43               êÑÅ    GRA+PA       5

       number[ ]logogram number
HT93a      ¬π‚ÅÑ‚Çà        KA      4
HT44a        1        NI      1
HT50a      ¬π‚ÅÑ‚ÇÇ      OLIV      3
HT137        6       OLE      2
HT2         20     OLE+A     17
HT98a        1        TU      1
HT131b      30      OLIV      2
KH14      ¬π‚ÅÑ‚ÇÅ‚ÇÜ        NI    ¬π‚ÅÑ‚ÇÑ
HT55a        1      *301      1
HT154a       6        TA      6
KH26        60        NI      2
KH84       ¬π‚ÅÑ‚ÇÇ      *301      1
HT129        1    OLE+KI      6
HT131a      58       OLE     12
HT34       200     E+[ ]      2

       ]logogram number   logogram
KH8          GRA    ¬π‚ÅÑ‚ÇÇ       *304
HT58       OLE+E      3       OLIV
HT60      OLE+RI   ¬π‚ÅÑ‚ÇÅ‚ÇÜ  MI+JA+[ ]
TY3a          KI      5     OLE+TU
PH8a     VIR+[?]     11       *304
KNZb35       OLE    100         NI
PK3           QE      3         JA
KH14          NI    ¬π‚ÅÑ‚ÇÑ   VIR+*307
HT2        OLE+A     17      OLE+E
HT50a       OLIV      3   *OLIV+TU
KH4         *306      4        CYP
HT140         KA      1      OLE+U

       logogram number[ ]logogram
HT44a      OLIV       1        NI
KH7a      CYP+D       1         I
HT34        GRA     200     E+[ ]
HT2       OLE+U      20     OLE+A
HT45a      *305       2      *318
HT137    OLE+MI       6       OLE
TY3b     OLE+MI      11    OLE+NE
KH14        CYP       6       CYP
KH12    *401+RU      êùçêù´   *401+RU
HT102    GRA+PA      33   VIR+[?]
HT129    OLE+DI       1    OLE+KI
HT131a      GRA      58       OLE

       number[        ]word logogram
HT2          3  KI-RE-TA-NA    OLE+U
HT125a     ¬π‚ÅÑ‚ÇÇ       SA-RA‚ÇÇ      GRA
ARKH3b       6      PI-*314      GRA
HT128a      12        MI-TA   GRA+PA

       logogram number[        ]word
HT2       OLE+E       3  KI-RE-TA-NA
ARKH3b      GRA       6      PI-*314
KH7b      CYP+D     ¬π‚ÅÑ‚ÇÇ     PA-NA-TU
TY3a     OLE+MI       2   KO-A-DU-WA
ZA11a       VIN     ¬π‚ÅÑ‚ÇÇ      E-KU-RU
HT128a   GRA+KU      12        MI-TA
KH16        CYP     êùáêùâêù´    U-TA-I-SI

              ]word logogram number[
ARKH3b        JA-PI      GRA       6
HT128a        MI-TA   GRA+PA     ¬π‚ÅÑ‚ÇÇ
ZA11a      RA-MA-SI      VIN     ¬π‚ÅÑ‚ÇÇ
PH15a      MA-TE-RE     *339      11
HT2     KI-RE-TA-NA    OLE+U      54

       ]number         word number
HT3          4        MU-RU      1
HT146       30      RI-*305     30
HT122a       2   DA-SI-*118      2
HT31         5  *815-QA-PA‚ÇÉ     10
HT11a        3     KA-RO-NA      2
HT94a        2    *318-*306     11

           number      word[        ]word
HT3             5         DI    KU-PA‚ÇÉ-NU
HT25a           1   TU-QE-NU    ZU-JU-PU‚ÇÇ
HT111a          8      QA-SA        QA-RU
HT93a           2  PA‚ÇÉ-NI-NA     PA-SE-JA
HT123+124b  13/20      KA-NA        SI-DU
HT39           10      KU-RE        KU-RO
HT27a          21      KI-DA      KI-*310
HT42+59         2      SU-DU        RE-TU
HT4             2      PA-RE  TA-PI-SI-DI

                  word number logogram[
HT3              MU-RU      1        RU
TY2    *309B-*34-PU-PI    500      *309
HT55a            SI-RU      1        NE
HT32                DI     65    OLE+NE
HT140   *86-SI-*118-KA      3        KA
MA2b             JA-KU      2        TI

              ]word number[              ]word
HT122b  *306-KI-TA‚ÇÇ       7    A-RA-JU-U-DE-ZA
HT3       KU-PA‚ÇÉ-NU       3              MA-DI
HT51b      KU-ME-TA      12              ZU-DU
HT127a     DU-NE-MI       1  *304+PA-DA-*47-KU
HT46a         MU-RU       1              KU-RO
HT5           MA-SI      30              WI-DU
HT135a     NE-MI-NA      10              MI-TU
HT69          MA-DI       4                 DI

               ]word number     word[
HT3     SI-TU-RA‚ÇÇ-RE      5        DI
PH1b              NA      1        PA
HT4         DU-RI-TE      2     PA-RE
HT25a      ZU-JU-PU‚ÇÇ      1  DU-RU-WI
ZA27           DI-KI      2      O-MI
HT94b       DE-ME-TE      1   *21F-TU
HT51a             SE     64     TI-NI
HT111a         QE-KA      8     QA-SA
TY2      *309B-RI-JU    250     *309B
HT49a             RI      1     SU-KI
HT39        SA-MA-TI     10     KU-RE

      lacuna ]logogram[ ]word[
HT3        êù´         MA  DI-NA
HT49b      êù´         KU   I-KI

        number         word[ ]number
HT85a        4         KU-RO      66
HT3          2     QE-RA‚ÇÇ-JA       2
HT62+73      6            DI       4
KH7a         1           êùïêùâêù´     êù´êùÅêùå
ZA6a        19  *34-JU-TE-MI     180

          word[      ]word number[
HT62+73      KO         NU      17
HT79+83  DA-PA‚ÇÉ   TU-PA-RI       1
HT3          DI  KU-PA‚ÇÉ-NU       3

       ]number         word number[
KH103        1       OLE-TA       8
KH13       êù´êùÉêùâ     *304-CYP     ¬π‚ÅÑ‚ÇÉ
KH9         .3  SI+TA2-*304       1
HT111b      18        SA-DI       4
HT69         5           DI       8
HT3          2           DI       2

     number[  ]word number[
KH82      êùâêù´   *315       1
HT69       8  MA-DI       4
HT3        3  MA-DI       2
HT5       30  WI-DU      10

            word number[ ]number
HT111b     SA-DI       4       3
HT62+73    KA-KU       4      18
HT122a   U-DE-ZA       2       2
HT3           DI       2       4
HT110b      *648       3       1

      lacuna           ]word[     ]word
HT4        êù´  *306-TI-KA-A-RE  DU-RI-TE
KN32b      êù´               TE     SA-PU

        number[ lacuna lacuna
HT5          10      êù´      êù´
KH4         ¬π‚ÅÑ‚ÇÉ      êù´      êù´
HT112b        6      êù´      êù´
HT55a         1      êù´      êù´
KH54          1      êù´      êù´
KH68+71      êùâêù´      êù´      êù´
PH25          2      êù´      êù´
HT70          3      êù´      êù´
HT52b       201      êù´      êù´
KH38        ¬π‚ÅÑ‚ÇÇ      êù´      êù´
KH29        ¬π‚ÅÑ‚ÇÇ      êù´      êù´

      ]word number[ lacuna
HT5   WI-DU      10      êù´
HT74  KU-RO      20      êù´
HT69     DI      12      êù´

                        word number       number
HT103                  KI-RA      5          ¬π‚ÅÑ‚ÇÇ
HT8b               QA-*310-I      1          ¬≥‚ÅÑ‚Çà
HT10b                *312-TA      6          ¬π‚ÅÑ‚ÇÇ
HT123+124a             KI-RO      1           .3
HT41a                  PA-JA      2  double mina
HT8a            PA‚ÇÉ-KA-RA-TI      1          ¬π‚ÅÑ‚ÇÇ
SAMWa1                    TE     10         ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT19                DU-ME-DI     43          ¬π‚ÅÑ‚ÇÇ
ZA5b                SI-PI-KI      1          ¬π‚ÅÑ‚ÇÇ
HT6b               PA‚ÇÉ-NI-NA     17          ¬π‚ÅÑ‚ÇÇ
HT104         DA-KU-SE-NE-TI     45          ¬π‚ÅÑ‚ÇÇ
HT9a                    A-RU      4          ¬π‚ÅÑ‚ÇÑ
PE2            RU-PI-*305-MI      1          ¬π‚ÅÑ‚Çà
HT10a                  DA-RE     16          ¬π‚ÅÑ‚ÇÇ
ZA8                  KA-I-RO      4            ?
HT6a                KA-PA-QE      5          ¬≥‚ÅÑ‚ÇÑ
HT13                   TE-KI     27          ¬π‚ÅÑ‚ÇÇ
HT36        *307+*387-GRA+QE     64          ¬π‚ÅÑ‚ÇÇ
PEWy5               OLE-*307      1          ¬π‚ÅÑ‚ÇÇ
HT93a               KI-DI-NI      5           êùÜêùÖ
ZA15a               SI-PI-KI      2          ¬π‚ÅÑ‚ÇÇ
HT24b          SI+ME-KI-*118      1          ¬≥‚ÅÑ‚ÇÑ

       number    logogram number
HT23a   ‚âà ¬π‚ÅÑ‚ÇÜ      OLE+RI  ‚âà ¬π‚ÅÑ‚ÇÜ
HT116a     16      OLE+KI      1
ZA1a      ¬π‚ÅÑ‚ÇÇ          ZA      5
HT8b      ¬π‚ÅÑ‚Çà  *86+'*188'    ¬π‚ÅÑ‚ÇÇ
HT6a      ¬≥‚ÅÑ‚ÇÑ          NI     15
...       ...         ...    ...
KH12        2        *308    ¬π‚ÅÑ‚ÇÇ
HT102       3          WI     10
HT10a       4        *301      6
HT107      84        *332      7
HT26b       4       KI+MU     12

[86 rows x 3 columns]

         word separator                   word word separator
HT43                  êÑÅ              PA-*342-I              êÑÅ
HT92                  êÑÅ                   A-DU              êÑÅ
ZA8                   êÑÅ                A-TA-RE              êÑÅ
HT51a                 êÑÅ                     TE              êÑÅ
HT17                  êÑÅ                     TE              êÑÅ
IOZa6                 êÑÅ  I-NA-TA-I-ZU-DI-SI-KA              êÑÅ
PLZf1                 êÑÅ         TA-NU-NI-KI-NA              êÑÅ
HT21                  êÑÅ                     TE              êÑÅ
IOZa2                 êÑÅ               SI-RU-TE              êÑÅ
HT62+73               êÑÅ                     TE              êÑÅ
PSZa2                 êÑÅ         JA-SA-SA-RA-ME              êÑÅ
HT87                  êÑÅ            MA-KA-RI-TE              êÑÅ
HT116a                êÑÅ                     TE              êÑÅ
KH14                  êÑÅ                A-MA-JA              êÑÅ
KH7a                  êÑÅ                  TA-TA              êÑÅ
SYZa4                 êÑÅ            JA-I-NWA-ZA              êÑÅ
KOZa1                 êÑÅ          U-NA-KA-NA-SI              êÑÅ
HT13                  êÑÅ                     TE              êÑÅ
HT9a                  êÑÅ                  PA-DE              êÑÅ
HT28a                 êÑÅ                JA-*21F              êÑÅ
HT52a                 êÑÅ                     TE              êÑÅ
TLZa1                 êÑÅ             O-SU-QA-RE              êÑÅ
CR(?)Zf1              êÑÅ         QA-KI-SE-NU-TI              êÑÅ
HT93a                 êÑÅ                GRA-PA‚ÇÉ              êÑÅ
HT40                  êÑÅ                     TE              êÑÅ
ZA1a                  êÑÅ               KI-RE-ZA              êÑÅ
PKZa10                êÑÅ          I-PI-NA-MI-NA              êÑÅ
HT42+59               êÑÅ                     TE              êÑÅ
HT96a                 êÑÅ             A-PA-RA-NE              êÑÅ
PKZa8                 êÑÅ                  PA‚ÇÉ-E              êÑÅ
KNZf31                êÑÅ       TE-SU-DE-SE-KE-I              êÑÅ
SYZa1                 êÑÅ                I-DA-MI              êÑÅ
HT140                 êÑÅ              *86-SI-NI              êÑÅ
HT19                  êÑÅ                     TE              êÑÅ
KH88                  êÑÅ              *21F-*118              êÑÅ
HT26a                 êÑÅ             *312-TE-TE              êÑÅ
KH5                   êÑÅ              A-RA-U-DA              êÑÅ
KNZc6                 êÑÅ               NI-JA-NU              êÑÅ
HT28b                 êÑÅ             U-MI-NA-SI              êÑÅ
ZA18a                 êÑÅ                KU-*321              êÑÅ
ZAZb3                 êÑÅ          A-RE-PI-RE-NA              êÑÅ
HT115b                êÑÅ                  NU-WI              êÑÅ
KNZc7                 êÑÅ       JA-SA-RA-A-NA-NE              êÑÅ
HT6a                  êÑÅ               DA-TA-RA              êÑÅ
IOZa3                 êÑÅ      A-TA-I-*301-WA-JA              êÑÅ
ARKHZf9               êÑÅ           MI-DA-MA-RA‚ÇÇ              êÑÅ
HT96b                 êÑÅ          QA-*118-RA-RE              êÑÅ
HT34                  êÑÅ                SI-*516              êÑÅ
HT31                  êÑÅ                  PU-KO              êÑÅ
PKZa18                êÑÅ                   I-DA              êÑÅ
ZAZb34                êÑÅ                  KO-MU              êÑÅ
HT10a                 êÑÅ                     PA              êÑÅ
KNZb4                 êÑÅ                  JA-SI              êÑÅ
HT117a                êÑÅ                  KI-RO              êÑÅ
LACHZa1               êÑÅ                RI-DA-U              êÑÅ
HT14                  êÑÅ                     TE              êÑÅ
HTWc3017              êÑÅ                DI-*306              êÑÅ
ZA11b                 êÑÅ             SA-*301-RI              êÑÅ

           word separator   logogram number
HT91                    êÑÅ     OLE+MI  ‚âà ¬π‚ÅÑ‚ÇÜ
HT115b                  êÑÅ        GRA    ¬π‚ÅÑ‚ÇÇ
HT27b                   êÑÅ         SA      4
ZA8                     êÑÅ         NI    ¬π‚ÅÑ‚ÇÇ
HT17                    êÑÅ        VIN     37
HT14                    êÑÅ        GRA     30
HT27a                   êÑÅ    VIR+[?]     90
KH20                    êÑÅ      CYP+E    ¬π‚ÅÑ‚ÇÇ
MA10a                   êÑÅ    *413+SU      2
HT41a                   êÑÅ       *304     10
HT92                    êÑÅ        GRA    680
HT12                    êÑÅ     OLE+DI      5
HT21                    êÑÅ        GRA    161
HT28a                   êÑÅ     GRA+QE      5
HT32                    êÑÅ       *308    ¬π‚ÅÑ‚ÇÇ
HT140                   êÑÅ     OLE+KI      1
HT40                    êÑÅ        GRA    207
HT105                   êÑÅ    VIR+[?]    235
KNZb<27>                êÑÅ        VIN     17
HT93a                   êÑÅ   I-GRA+PA      5
HT42+59                 êÑÅ     OLE+KI      8
PH1a                    êÑÅ       *316      1
MA10b                   êÑÅ     *405+Œ©      1
ZA1a                    êÑÅ         NI     42
HT26b                   êÑÅ    VIR+[?]      9
HT23a                   êÑÅ        CYP    ¬π‚ÅÑ‚ÇÉ
HT16                    êÑÅ         WA    ¬π‚ÅÑ‚ÇÉ
HT19                    êÑÅ        VIN     30
KH88                    êÑÅ         NI     10
KH22                    êÑÅ         SU      7
HT123+124a              êÑÅ       OLIV     31
KH7a                    êÑÅ  VIR+*313b     10
HT89                    êÑÅ       *305     23
HT116a                  êÑÅ        GRA     40
HT45a                   êÑÅ       *305      2
ZA18a                   êÑÅ     GRA+PA      2
HT103                   êÑÅ         NI     40
ZA15b                   êÑÅ        VIN      3
HT6a                    êÑÅ         NI     15
HT11b                   êÑÅ         KA     30
ZA11b                   êÑÅ     GRA+PA      3

                  logogram number       number
HT106                   SI      5          ¬π‚ÅÑ‚ÇÇ
HT129                  GRA     40          ¬π‚ÅÑ‚ÇÇ
MA4b              HIDE+[?]    123          160
PEZg5                 *307      1          ¬π‚ÅÑ‚ÇÇ
HT28b                  VIN      3          ¬π‚ÅÑ‚ÇÑ
PHWc41                 VIN      1          ¬π‚ÅÑ‚ÇÇ
HT6a                    NI     15          ¬π‚ÅÑ‚ÇÇ
HT131a                *304     12          ¬≥‚ÅÑ‚ÇÑ
HT93a             I-GRA+PA     26          ¬≥‚ÅÑ‚ÇÑ
ZA6b                GRA+PA     50          ¬π‚ÅÑ‚ÇÑ
HT21                 OLE+E      3          ¬≥‚ÅÑ‚ÇÑ
HT60                   VIN   ¬π‚ÅÑ‚ÇÅ‚ÇÜ          ¬π‚ÅÑ‚ÇÑ
ZA12a                   RU     28            6
ZA18a               GRA+PA      2  double mina
KH5                     NI      2           êùÜêùÅ
HT100                  CYP      5          ¬π‚ÅÑ‚ÇÑ
HT123+124a            OLIV     93          ¬π‚ÅÑ‚ÇÇ
HT62+73                GRA     15          ¬π‚ÅÑ‚ÇÑ
HT113                    O      2          ¬π‚ÅÑ‚ÇÇ
PE1                 GRA+PA     26          ¬π‚ÅÑ‚ÇÇ
HT123+124b            *312      1          ¬≥‚ÅÑ‚ÇÑ
KH61                   GRA      1            êùç
HT8b            *86+'*188'    ¬π‚ÅÑ‚ÇÇ          ¬π‚ÅÑ‚ÇÇ
TY3a                OLE+KI     15          ¬π‚ÅÑ‚ÇÑ
HT27a                   NI     10          ¬π‚ÅÑ‚ÇÉ
HT110b                  MA      5          ¬π‚ÅÑ‚ÇÇ
HTZd157+156           *904      3          ¬≥‚ÅÑ‚Çà
HT96b                   NI      2         ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT89                   CYP      2          ¬≥‚ÅÑ‚ÇÑ
HT33         QA2+[?]+RE+PU      1          ¬π‚ÅÑ‚ÇÑ
HT101                 OLIV      1          ¬π‚ÅÑ‚ÇÑ
HT140                OLE+U      6          ¬π‚ÅÑ‚ÇÇ
HT32            QA2+[?]+PU      1         ¬π‚ÅÑ‚ÇÅ‚ÇÜ
ZA1a                    NI     42          ¬π‚ÅÑ‚ÇÇ
HT99a                  VIN      1        ‚âà ¬π‚ÅÑ‚ÇÜ
HT94a                   NI      3        ‚âà ¬π‚ÅÑ‚ÇÜ

            number number           word
HT10a           16    ¬π‚ÅÑ‚ÇÇ      U-*325-ZA
HT62+73         15    ¬π‚ÅÑ‚ÇÑ          KA-KU
HT24b            1    ¬≥‚ÅÑ‚ÇÑ  SI+ME-KI-*118
ZA8              2    ¬π‚ÅÑ‚ÇÇ        KA-I-RO
HT104           45    ¬π‚ÅÑ‚ÇÇ        I-DU-TI
HT9a             5    ¬≥‚ÅÑ‚ÇÑ        *306-TU
HT123+124b       1    ¬≥‚ÅÑ‚ÇÑ       TI-DA-TA
HT13            27    ¬π‚ÅÑ‚ÇÇ       KU-ZU-NI
PE2              3    ¬π‚ÅÑ‚ÇÉ  RU-PI-*305-MI
HT6a             5    ¬≥‚ÅÑ‚ÇÑ       DA-QE-RA
ZA15a            2    ¬π‚ÅÑ‚ÇÇ       JA-SA-MU
HTZd157+156      3    ¬≥‚ÅÑ‚Çà          TA-JA
HT36            64    ¬π‚ÅÑ‚ÇÇ       DU-ZU-WA
ZA5b             1    ¬π‚ÅÑ‚ÇÇ     MA-KA-I-TA
HT6b             3  ‚âà ¬π‚ÅÑ‚ÇÜ       RA-TI-SE
HT19             5    ¬π‚ÅÑ‚ÇÇ       DU-ME-DI
HT8b             1    ¬≥‚ÅÑ‚Çà          KA-PA
HT10b            6    ¬π‚ÅÑ‚ÇÇ       KA-SA-RU
HT8a             1    ¬π‚ÅÑ‚ÇÇ             PA

      number number    logogram
HT34       2     êùÖêùá  QA2+[?]+PU
HT6a      22    ¬≥‚ÅÑ‚ÇÑ          NI
HT8b       1    ¬π‚ÅÑ‚Çà  *86+'*188'
HT96b     40    ¬≥‚ÅÑ‚ÇÑ       OLE+U
ZA11a      2    ¬π‚ÅÑ‚ÇÑ          JU
HT99a      1  ‚âà ¬π‚ÅÑ‚ÇÜ      GRA+QE
HT33       1    ¬π‚ÅÑ‚ÇÑ  QA2+[?]+RE
HT129     40    ¬π‚ÅÑ‚ÇÇ      OLE+DI

              logogram number             word
HT12              *304      5         QE-TU-NE
HT94a               TA      4            KU-RO
HT27a          VIR+[?]     42            KU-RO
HT28b               NI      6          JA-*21F
HT19               VIN     30            SA-RO
KH7a             CYP+D    ¬π‚ÅÑ‚ÇÉ          SE-*305
HT119          VIR+[?]     67         RI-MI-SI
HT28a           OLE+TU      êùâ           SA-RA‚ÇÇ
HT10a             *301      6        U-*325-ZA
KH88                NI     10            PU-DE
HT128b          GRA+KU      6     VIR+[?]-*329
HT115b               I    ¬π‚ÅÑ‚ÇÇ       *306-TU-JA
HT116a            OLIV      3        PI-*34-TE
HT16           *188+KU    ¬≥‚ÅÑ‚Çà            SA-PO
HT88            VIR+KA     20            RE-ZA
HT127b           KI+MU     14            KU-RO
HT118               KI      1         RI-RU-MA
KH11          *348-CYP     êùáêùâ   A-TO-*349-TO-I
HT11b               KA     50         RU-ZU-NA
HT8a            OLE+KI     10     PA‚ÇÉ-KA-RA-TI
HT93a            RE+SE     12         DI-RI-NA
ZA11a        QE+GRA+PA      4            KU-PA
HT26b            KI+MU     12           I-*308
HT101           OLE+KI      2           SA-RA‚ÇÇ
HT123+124b        *188      1          *188-DU
HT34               PA‚ÇÉ     70            KI-RO
HT85b               KA      1               DI
HT6a                NI     15         PI-TA-JA
HT90            OLE+DI      3  SI-RU-MA-RI-TA‚ÇÇ
KH10               GRA     10       I-PA-SA-JA
ZA8                 NI    ¬π‚ÅÑ‚ÇÇ      KU-TU-KO-RE
HT32          MI+JA+RU      1            SU-RE
TY2            VIR+[?]     82      *309C-DA-JU
ZAZb3              VIN     32      DI-DI-KA-SE
HT102              GRA    976           PA‚ÇÉ-NI
HT108          VIR+[?]      1            GRA+H
HT103             *188     13         DA-KU-NA
HT96a              GRA      5            RU-SA
HT89        JU+*317+QE     22          MA-I-MI
HT129               NI     22    TU-*21F-RI-NA
HT17               VIN     37            SA-RO
HT49a             *312      1        KU-PA‚ÇÉ-NU
HT146               MA     30         RI-KA-TA
HT100        VIR+*313a     16            KU-RO
HT140            OLE+U      2            KA-PA
ZA6b            VIN+KA     10         *312-TA‚ÇÇ
HT110a           CYP+E     20            KU-PA
HT40               GRA    207         KI-DA-TA
MA10a           *412+E      4             *659
HT18              *304      3           SA-RA‚ÇÇ
HT38               CAP      3        *554-*118
KH5            VINb+WI      2         WI-NA-DU
HT41a             *304     10         MI-DA-NI
HT14              OLIV     13      A-PU‚ÇÇ-NA-DU
HT24a         MA-RU-ME      6      PA-SA-RI-JA
HT23a                E     17    *21F-RI-TU-QA
HT91                 E      5            TE-RI

           number        word word separator
HT40          207    KI-DA-TA              êÑÅ
KH10           10  I-PA-SA-JA              êÑÅ
HT12            5    QE-TU-NE              êÑÅ
HT93a          20    QA-QA-RU              êÑÅ
HT6a          ¬≥‚ÅÑ‚ÇÑ    DA-QE-RA              êÑÅ
HT105         234      SA-RA‚ÇÇ              êÑÅ
KH7a          ¬π‚ÅÑ‚ÇÇ  I-JA-PA-ME              êÑÅ
HT25b          16    WI-TE-RO              êÑÅ
KH5             2    WI-NA-DU              êÑÅ
HT123+124b    ¬≥‚ÅÑ‚ÇÑ    TI-DA-TA              êÑÅ
HT96a           1    PI-TA-RA              êÑÅ
HT116a         16      PU-RA‚ÇÇ              êÑÅ
ZA11b           2       KU-PA              êÑÅ
HT88            7       KI-RO              êÑÅ

      word also in linear b word separator      word
HT6a                  KA-PA              êÑÅ  DA-TA-RA
PHZb4                 SI-MA              êÑÅ   I-JA-TE

       word separator  logogram            word
HT7a                êÑÅ   VIR+[?]         I-RU-JA
HT95a               êÑÅ       GRA           DA-ME
MA1b                êÑÅ       *47     QE-DE-MI-NU
ZA5a                êÑÅ    VIN-SU        KI-NI-MA
HT115a              êÑÅ  GRA+BOSm  RI-TA-MA-NU-WI

                          word   logogram number
HT129                KI-RE-TA‚ÇÇ        GRA     33
HT18                     PA-SE     GRA+QE     20
PH10               *355-E-*354   HIDE+[?]     êùàêùà
HT102                   SA-RA‚ÇÇ        GRA    976
HT14               A-PU‚ÇÇ-NA-DU        GRA     45
HT108              KI-RE-TA-NA    VIR+[?]      1
HT28b                  JA-*21F        VIN      6
HT42+59                  SA-RO     OLE+KI      8
KN1b               JA-DU-RA-TI          E    105
HT100                   SA-RA‚ÇÇ        CYP      5
HT28a                   SA-RA‚ÇÇ     OLE+DI      1
HT35                   I-KU-TA        CYP      1
HT94a                       62        *86     20
HT96a                 SI-MI-TA        GRA      5
HT127b                   KU-RO       *307    156
KH10              A-KI-PI-E-TE        GRA     90
HT16                     SA-PO         ZE   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
PE1                         72     GRA+PA     36
KH5                WI-SA-SA-NE      CYP+E      2
HT110a         SI-DU-*34-KU-MI      CYP+E     20
HT27a                       êùïêùÅ         NI     10
HT133                       TE     GRA+DA     55
HT128b            VIR+[?]-*329     GRA+KU      1
ZA6b           I-KU-JU-TI-*28B     GRA+PA     50
MA4b                      A-JA   HIDE+[?]    123
HT116a                KU-PA-JA        GRA     16
HT23b                    NI-RA        CYP    ¬π‚ÅÑ‚ÇÉ
HT101               ZU-*22F-DI     GRA+QE     40
HT90                    SA-RA‚ÇÇ        GRA     20
KH11                 A-TA-*350       *301      1
ZA6a                *305-WA-NA       *171     19
TY3a                      A-DA      OLE+U     21
TY3b                  PI-KU-ZU     OLE+KI      4
KH7a                  QA-TI-KI  VIR+*313b      4
HT8a                     JE-DI     OLE+KI     10
HT123+124a              PU-VIN       OLIV     31
HT88                      A-DU     VIR+KA     20
HT25b                     I-TI    VIR+[?]     28
KN1a                  JA-KU-TI          E    240
HT11b                 RU-ZU-NA         KA     30
HTZd157+156  WI-JA-SU-MA-TI-TI       *904      1

               word number dividing line
HT8b    SU-PU‚ÇÇ-*188      1             ‚Äî
PK1           KA-QA      2             ‚Äî
HT108         GRA+H     70             ‚Äî
HT117a        KU-RO     10             ‚Äî
HT96a     *323-*344      1             ‚Äî
HT22         GRA+L2    230             ‚Äî

       number word also in linear b number
HT23a      10                 KO-RU      1
HT63        1                 KA-TI      1
HT8b      ¬≥‚ÅÑ‚Çà                 KA-PA    ¬π‚ÅÑ‚ÇÇ
HT85a       5                 TE-KE      3
HT122a      1                 PA-DE      1
ZA8        êùÉêùÜ            DA-I-PI-TA      2
HT117a      1              KI-DA-RO      1
ZA10a       1            DA-I-PI-TA      1
HT85b       1                 MA-DI      1
HT89       13                 TA-RA      5
PE2       ¬π‚ÅÑ‚ÇÇ                 TO-ME    ¬π‚ÅÑ‚ÇÉ

        word separator    logogram word separator
ZA11a                êÑÅ        *516              êÑÅ
HT26b                êÑÅ  *406VAS+KE              êÑÅ
HT35                 êÑÅ        *326              êÑÅ
HT122b               êÑÅ        *346              êÑÅ
HT118                êÑÅ        *516              êÑÅ
HT104                êÑÅ      TE+RO[              êÑÅ
HT27a                êÑÅ        *307              êÑÅ
HT66                 êÑÅ     VIR+[?]              êÑÅ
HT9a                 êÑÅ         VIN              êÑÅ
HT27b                êÑÅ      VIN+WA              êÑÅ
HT115a               êÑÅ           I              êÑÅ
HT43                 êÑÅ           I              êÑÅ
HT42+59              êÑÅ       SI+SE              êÑÅ
HT89                 êÑÅ        *307              êÑÅ
HT91                 êÑÅ        *326              êÑÅ
HT81                 êÑÅ    MI+JA+RU              êÑÅ

               word word separator number
HT9a          PA-DE              êÑÅ      5
HT32          SU-RE              êÑÅ    108
HTWa1021    *188-DU              êÑÅ    ¬≥‚ÅÑ‚ÇÑ
HT123+124b  *188-DU              êÑÅ     10

              logogram word separator              word
HT9a               VIN              êÑÅ             PA-DE
IOZa16              ME              êÑÅ  U-NA-RU-KA-NA-SI
HT88                NI              êÑÅ          KI-KI-NA
HT15              *188              êÑÅ             KI-RO
HT85a          VIR+[?]              êÑÅ          DA-RI-DA
HT51a               NI              êÑÅ                TE
HT35              *326              êÑÅ           I-KU-TA
ZA11b             *516              êÑÅ        SA-*301-RI
HT63              *305              êÑÅ                TE
LACHZa1             MI              êÑÅ           RI-DA-U
HT26a       *406VAS+KE              êÑÅ        *312-TE-TE
HT118             *516              êÑÅ             MA-DI
HT13               VIN              êÑÅ                TE
HT104           TE+RO[              êÑÅ    DA-KU-SE-NE-TI
HT42+59          SI+SE              êÑÅ                TE
ZA1a              *516              êÑÅ          KI-RE-ZA
HT128a            *326              êÑÅ             PA-RA
HT123+124a        *308              êÑÅ             KU-RO

      word separator number number
HT9a               êÑÅ      5    ¬≥‚ÅÑ‚ÇÑ
HT96b              êÑÅ     40    ¬≥‚ÅÑ‚ÇÑ

       logogram word separator     word[
PKZa14        I              êÑÅ  JA-SA-SA
HT9b        PA‚ÇÉ              êÑÅ  WA-JA-PI

      dividing line     word word separator
ZA15b             ‚Äî    KU-RO              êÑÅ
HT9b              ‚Äî  KA-*305              êÑÅ

              word word separator word also in linear b
HT9b       KA-*305              êÑÅ                 PA-DE
PHZb4        SI-MA              êÑÅ               I-JA-TE
HT117a  U-MI-NA-SI              êÑÅ                  U-SU

                  number            word number[
HT29                   1        PA-JA-RE       2
HT31                  10        SA-JA-MA      30
HT108                  2        DU-SU-NI       5
HT111a                 8              DI      14
HTZd157+156          ¬≥‚ÅÑ‚Çà           TA-JA    ¬π‚ÅÑ‚ÇÅ‚ÇÜ
TY2                   82     *309C-DA-JU      17
ZA8          double mina      A-RI-NI-TA       1
HT140                  2           KA-PA     ¬π‚ÅÑ‚ÇÇ
MA10a                  4            *659       4
ZA14                   1  TU-MI-TI-ZA-SE      45
HT49a                  1        TI-DU-NI       1
HT123+124b            20           KI-RO       5
HT110b                20            *648       3
HT62+73              ¬π‚ÅÑ‚ÇÑ           KA-KU       4
HT110a                 1           KU-RO     100
HT123+124a         ‚âà ¬π‚ÅÑ‚ÇÜ           KI-RO       6
HT10a                  6       U-*325-ZA      14
HT26a                 15       U-NU-*21F       5
ZA4a                   4           JA-PA       1
HT26b                 12          I-*308       2

             word number word separator
HT10a       SA-MA      4              êÑÅ
HT29   SA-*323-MI      1              êÑÅ
HT16      DI-NA-U    ¬π‚ÅÑ‚Çà              êÑÅ

                  word number logogram
HT107               TE     84     *332
HT94a        *318-*306     11      CYP
MA4a         TA-HIDE+B     15   HIDE+L
HT123+124b   *188-*308     11     *312
HT15         GRA+L4+L4    570     *188
HT94b            KU-RO      5      *86
HT11b           *86-KA     40       KA
ZA15a       I-TI-NI-SA     10   ME-VIN
HT146          RI-*305     30       MA
HT88             RE-ZA      6       NI

                     word              word number
HT115a          *301-U-RA  NA-*21F-NE-MI-NA      1
PYR1       TI-MA-RU-WI-TE          *806-VIN     90
HT36                JE-DI  *307+*387-GRA+QE     64
TY2              PA-DA-RU        *309-JU-KI    100
HT11b              RU-RA‚ÇÇ            *86-KA     40
HT38             DA-RO-PA           *403-VS      1
MAWc<5>        A-SA-DA-KA             GRA+E      4
SAMWa1              SA-RA                TE     10
HT93a            DA-RI-DA           *406-VS      2
HT31     KI-DE-MA-*323-NA              *815    400

              logogram number logogram
HT116a             GRA     16   OLE+KI
HT127b            *307    156       KU
HT12        QA2+[?]+PU      1        E
ZA15b              VIN     78   VIN+RA
HT123+124a        OLIV     15     *308
...                ...    ...      ...
ZA18a           OLE+KI      ?     OLIV
HT96b            OLE+U      4       NI
HT49a               TU      4       KI
MA10a          *413+SU      2   *412+E
HT21               GRA    161    OLE+U

[63 rows x 3 columns]

           number             word logogram
HT123+124a     .3            SA-RU     OLIV
HT101           2           SA-RA‚ÇÇ      GRA
HT116a          3        PI-*34-TE      GRA
KH11           êùáêùâ   A-TO-*349-TO-I    CYP+E
HT128a         10      WA-TU-MA-RE   GRA+KU
ZA6b           10         *312-TA‚ÇÇ   GRA+PA
HT11b          50         RU-ZU-NA       KA
HT14           13      A-PU‚ÇÇ-NA-DU      GRA
HT129          22    TU-*21F-RI-NA      GRA
HT18            3           SA-RA‚ÇÇ      GRA
HT27a           9               êùïêùÅ       NI
HT28b           4           PU-RA‚ÇÇ       NI
HT100          97           SA-RA‚ÇÇ      CYP
HT28a           êùâ           SA-RA‚ÇÇ   OLE+DI
HT128b          6     VIR+[?]-*329   GRA+KU
HT16          ¬≥‚ÅÑ‚Çà            SA-PO       ZE
HT90            3  SI-RU-MA-RI-TA‚ÇÇ      GRA
HT94a         110           SA-RA‚ÇÇ      CYP

           number logogram word separator
HT15          570     *188              êÑÅ
HT41a          10     *305              êÑÅ
HT12           30     *560              êÑÅ
HT88            6       NI              êÑÅ
HT123+124a    ¬π‚ÅÑ‚ÇÇ     *308              êÑÅ
HT94b           5      *86              êÑÅ
HT27b          14      VIN              êÑÅ

          logogram word separator  logogram
HT34             E              êÑÅ       GRA
HT12          *560              êÑÅ      *118
HT85a    *307+*387              êÑÅ   VIR+[?]
HT89          *307              êÑÅ      *305
HT27a         *307              êÑÅ   VIR+[?]
HT27b       VIN+WA              êÑÅ        SA
HT96b         *516              êÑÅ       GRA
HT118           AU              êÑÅ      *516
HT26b   *406VAS+KE              êÑÅ   VIR+[?]
HT115a           I              êÑÅ  GRA+BOSm
HT41a         *305              êÑÅ      *304
HT43             I              êÑÅ    GRA+PA
HT66            ZU              êÑÅ   VIR+[?]
HT91          *326              êÑÅ       GRA

       word separator     word number[
HT122a              êÑÅ  U-DE-ZA       2
HT67                êÑÅ       TE     400
HT55a               êÑÅ    MA-RE       1
HT70                êÑÅ       TE      30
HT13                êÑÅ    RE-ZA       5

               word logogram         word
HT15       U-*34-SI      GRA    DU-AROM-A
MA1a   *903-I-DU-WI      *47  QE-DE-MI-NU
ZA15a     *47-KU-NA   SA-VIN   QE-SI-ZU-E
HT94a         KA-PA  VIR+[?]           62

           word number lacuna
HT15      KI-RO    400      êù´
ZA20      KU-RA    130      êù´
PH2   SE-SA-PA‚ÇÉ     60      êù´
PE2   TO-*49-RE      1      êù´

      lacuna    word number
HT107      êù´      TE     84
HT22       êù´  GRA+L2    230
HT95b      êù´   DA-ME     10
HT25b      êù´   KU-RO     16

      dividing line logogram number
HT22              ‚Äî  *330+DA    113
HT130             ‚Äî   SI-CYP      8
ARKH7             ‚Äî     *308    ¬π‚ÅÑ‚ÇÖ

        logogram[    logogram number
GO2r           SI          KA    ¬π‚ÅÑ‚Çà
HT44a         GRA      OLE+KI      3
TY3a       OLE+MI       OLE+U      7
HT23b  QA2+[?]+PU  QA2+[?]+RE      1
HT58      VIR+[?]       OLE+U     19
HT35       OLE+TA           E      5

       logogram number[ lacuna
KN2      I+*301       5      êù´
HT82   *304+[ ]     ¬π‚ÅÑ‚ÇÑ      êù´
KH29        CYP     ¬π‚ÅÑ‚ÇÇ      êù´
HT52b       GRA     201      êù´
KH38      CYP+D     ¬π‚ÅÑ‚ÇÇ      êù´
PH25        VIN       2      êù´
HT49a        KI       1      êù´
HT91          E       3      êù´
HT23b         E       7      êù´
KH4         CYP     ¬π‚ÅÑ‚ÇÉ      êù´
KN28b     SU+MI      êùäêù´      êù´

        logogram number logogram[
HT35        *308    ¬π‚ÅÑ‚ÇÉ    OLE+TA
HT125a       GRA      2       OLE
KH37    *304+[ ]      2        WI
HT27b         RE     70       VIN
KH9           NI     êùÉêùÅ        MI
KH91          TU   ¬π‚ÅÑ‚ÇÅ‚ÇÜ        NI
HT128b    GRA+KU      1        RU
HT23b        CYP    ¬π‚ÅÑ‚ÇÉ       OLE
KH8          CYP    ¬π‚ÅÑ‚ÇÑ   VIR+[?]
HT116a       GRA      5       OLE
HT58       OLE+U     19    OLE+MI
KH22          SU      7     CYP+E

      lacuna logogram number[
KH55       êù´   OLE+TA     ¬π‚ÅÑ‚ÇÉ
HT23b      êù´        E       7
HT65       êù´  *330+SA    ¬π‚ÅÑ‚ÇÅ‚ÇÜ
KH38       êù´    CYP+D     ¬π‚ÅÑ‚ÇÇ

          logogram number lacuna
ZA11b       GRA+PA      3      êù´
ZA18a         OLIV    ¬π‚ÅÑ‚ÇÑ      êù´
ZA1b           GRA     47      êù´
ZA1a            ZA      5      êù´
HT128b      GRA+KU      6      êù´
ARKH7         *308    ¬π‚ÅÑ‚ÇÖ      êù´
HT23b   QA2+[?]+RE      1      êù´
PH1a           CYP  ‚âà ¬π‚ÅÑ‚ÇÜ      êù´
KH75            NI    ¬π‚ÅÑ‚ÇÉ      êù´

             number logogram[ number
HT125a            2       OLE      1
TY2             500      *309    290
HT27b             4        RE     40
HT23b           ¬π‚ÅÑ‚ÇÉ       OLE    ¬π‚ÅÑ‚ÇÉ
ZA18a   double mina       GRA      2

       ]number   logogram number
MA10b        4     *402+A      2
TY2          6    VIR+[?]     82
KH91     ‚âà ¬π‚ÅÑ‚ÇÜ         TU   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT50a      ¬π‚ÅÑ‚ÇÑ     OLE+KI    ¬π‚ÅÑ‚ÇÑ
PH8a        16    *418+L2      1
HT140        4      OLE+U      3
KH12      ¬π‚ÅÑ‚ÇÅ‚ÇÜ  *401+*304    ¬π‚ÅÑ‚ÇÖ
HT27a       50        *86     51
ARKH3b       2        OLE      4
KH9       ¬π‚ÅÑ‚ÇÅ‚ÇÜ         NI     êùÉêùÅ
HT33         3       E+KA     êùÉêùâ
HT113       30          O      2
HT110b       1         MA      5
HT101       20       *304      3
HT60      ¬π‚ÅÑ‚ÇÅ‚ÇÜ        VIN   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
KH7a        18      CYP+D      1
HT24a        6   MA-RU-ME     10
PH28b        2       *304      6

                word logogram[ ]number
HT24a   KU-PA‚ÇÉ-RI-JA  KI-MA-RU       6
HT131a            62        KU     353

      logogram[ ]number  logogram
KH91         ZU   ‚âà ¬π‚ÅÑ‚ÇÜ        TU
TY2        *309       6   VIR+[?]
KH61         MA     ¬π‚ÅÑ‚ÇÉ    OLE+TA
HT24a  KI-MA-RU       6  MA-RU-ME
KH9    VIR+*307    ¬π‚ÅÑ‚ÇÅ‚ÇÜ        NI

       logogram number ]number
PH28b      *304      6       6
PK3          JA     20      31
KH12   MI+JA+RU    ¬π‚ÅÑ‚ÇÇ     ¬π‚ÅÑ‚ÇÉ
MA10b    *412+E      3       4
HT24a  MA-RU-ME     10       9
HT27a   VIR+[?]     90      50

         word[     ]word number
HT27a  KU-*305  SA-RA-DI      5
HT25a  DI-NA-U     RU-NI      1

      lacuna ]number    word[
HT45a      êù´      êù´êùâ       PA
HT141      êù´       1     A-RI
HT25a      êù´       1  DI-NA-U

        ]number    word[  ]word
HT62+73       4       KO     NU
HT25a         1  DI-NA-U  RU-NI

                      ]word number        word
HT122a                   DI      1       TE-KI
HT123+124b            SI-DU  ‚âà ¬π‚ÅÑ‚ÇÜ  DU-MA-I-NA
HT122b      A-RA-JU-U-DE-ZA      2    QA-QA-RU
HT25a                 RU-NI      1     U-RE-WI
HT111a                QA-RU      8          DI
HT26b                 RO-NI      3  KA-U-ZU-NI
PH3a                   *557      1        *563
PK1                   NE-TI      1       KA-QA
ZA4a               TU-ME-SE     18  QE-SI-ZU-E
HT123+124a            KI-RO    ¬≥‚ÅÑ‚ÇÑ       DA-TU
HT110b                   RO     20        *648

      lacuna lacuna        word
KH20       êù´      êù´  A-SI-KI-RA
HT38       êù´      êù´    DA-RO-PA
HT25b      êù´      êù´       KU-RO

       word separator         word   logogram
HT116a              êÑÅ     KU-PA-JA        GRA
HT35                êÑÅ      I-KU-TA        CYP
HT133               êÑÅ           TE     GRA+DA
KH5                 êÑÅ  WI-SA-SA-NE      CYP+E
HT96a               êÑÅ     SI-MI-TA        GRA
HT25b               êÑÅ         I-TI    VIR+[?]
HT28b               êÑÅ       SA-RA‚ÇÇ        GRA
KH7a                êÑÅ     QA-TI-KI  VIR+*313b
HT99a               êÑÅ       SA-RA‚ÇÇ        CYP
IOZa16              êÑÅ  JA-SA-SA-RA         ME

            word number[ lacuna
HT26b   *188-*86       7      êù´
HT26a  U-NU-*21F       5      êù´
KH13    *304-CYP     ¬π‚ÅÑ‚ÇÉ      êù´
HT49a   TI-DU-NI       1      êù´

      number              ]word number
TY2      160        *309B-RI-JU    250
HT31      10  *416-VS-KA-RO-PA‚ÇÉ     10
MA2c       3         JA-MA-U-TI      6
HT27a     20         I-MI-SA-RA     43
KH50       2                 JE      2
KH59       5              DI-NA      5
HT26b      9              RO-NI      3

        word separator     word[       ]word
KH79+89              êÑÅ      A-RA    PA-DA-NI
KH74                 êÑÅ  JA-DA-SU  SI-*805-MI
HT79+83              êÑÅ    DA-PA‚ÇÉ    TU-PA-RI
HT27a                êÑÅ   KU-*305    SA-RA-DI

            word[    ]word word separator
HT27a       KI-DA  KI-*310              êÑÅ
HT113    RA-RI-DE    WI-SA              êÑÅ
HT84   *21F-JA-DU    NU-TI              êÑÅ

       number ]logogram number
KH8       ¬π‚ÅÑ‚ÇÇ       GRA    ¬π‚ÅÑ‚ÇÇ
KH15      ¬π‚ÅÑ‚ÇÇ        NI    ¬π‚ÅÑ‚ÇÑ
MA2b        4        TI      1
PK3         2        KU      3
ARKH3b      4       VIN      1
HT96a      20        NI      2
HT122a      1        DU      1
PH3a        êùì      *560      êùì
HT27a      43        QE     21
ZA6a       15      OLIV     10
HT140       1        KA      1

                 ]word word separator       word[
IOZa11         U-TI-NU              êÑÅ   I-NA-I-DA
APZa2            NA-SI              êÑÅ  I-PI-NA-MA
KH79+89          PA-TA              êÑÅ        A-RA
SYZa5            MI-JA              êÑÅ   JA-WA-PA‚ÇÉ
HT27a          KI-*310              êÑÅ     KU-*305
HT135a           MI-TU              êÑÅ       MI-KA
IOZa5    I-JA-RE-DI-JA              êÑÅ     I-JA-PA
KNZa10        DU-WA-TO              êÑÅ        I-JA

       number ]number logogram
MA10b       3       4   *402+A
HT27a      90      50      *86
HT110b    ¬π‚ÅÑ‚ÇÇ       2       NI
KH21        êùç     ¬π‚ÅÑ‚ÇÖ       NI

       logogram number ]logogram
KH15         NI    ¬π‚ÅÑ‚ÇÇ        NI
HT140     OLE+U      1        KA
ARKH3b      OLE      4       VIN
HT27b        SA      7       VIN
HT39     *414+A    100    KU+[ ]
KH8          NI    ¬π‚ÅÑ‚ÇÇ       GRA
KH103       CYP     23       VIN

        ]logogram word separator  logogram
HT52b          NE              êÑÅ       GRA
KH36           KA              êÑÅ  MI+JA+RU
HT45a         *86              êÑÅ      *305
PH1a           JA              êÑÅ      *316
HT27b         VIN              êÑÅ       GRA
MA10a          RU              êÑÅ   *413+SU
HT42+59        TA              êÑÅ     SI+SE
KH22           ZA              êÑÅ        SU

             ]word word separator logogram
MA10b  DU-PI-TE-WA              êÑÅ   *405+Œ©
HT61         MI-TI              êÑÅ   GRA+KU
KH9           I-SI              êÑÅ    CYP+D
HT27b        MI-DA              êÑÅ   VIN+WA
KH20      DU-RE-ZA              êÑÅ    CYP+E

       word separator ]logogram word separator
HT68                êÑÅ        JU              êÑÅ
KNZa18              êÑÅ        JA              êÑÅ
APZa2               êÑÅ        QA              êÑÅ
HT27b               êÑÅ       GRA              êÑÅ

      word separator lacuna   word
HT95b              êÑÅ      êù´  DA-ME
HT27b              êÑÅ      êù´  PA-SE

       number logogram[ word separator
HT27b      70       VIN              êÑÅ
KH50        2        QE              êÑÅ
HT128b      1        RU              êÑÅ

           word separator number         word
HT29                    êÑÅ      1     PA-JA-RE
HTWa1021                êÑÅ    ¬≥‚ÅÑ‚ÇÑ  SI+SE-RA+KA
HT123+124b              êÑÅ     10  TU-PA-DI-DA
HT96a                   êÑÅ      1    *323-*344
HT32                    êÑÅ    108           DI
ZA20                    êÑÅ      4     SI-TE-TU
HT93a                   êÑÅ      3     DA-RI-DA

           number[              ]word number
HT51b           12              ZU-DU      ‚Öù
HT127a           1  *304+PA-DA-*47-KU      1
KH92            10              NA-KI      1
HT46a            1              KU-RO     43
HT81         ‚âà ¬π‚ÅÑ‚ÇÜ           RI-SU-MA      êùã
HT122b           7    A-RA-JU-U-DE-ZA      2
HT29             2            DI-JA-I      2
HT39            10           KU-RE-JU      8
HT123+124a   ‚âà ¬π‚ÅÑ‚ÇÜ              KI-RO    ¬≥‚ÅÑ‚ÇÑ
HT70            30         QA-*118-SA      2
ZA11a          ¬π‚ÅÑ‚ÇÇ            E-KU-RU      2

       word separator     ]word number
PK1                 êÑÅ     NE-TI      1
PH1b                êÑÅ        NA      1
HT122a              êÑÅ        DI      1
HT29                êÑÅ     KI-TA      2
HT66                êÑÅ        DI      2
HT94b               êÑÅ  DE-ME-TE      1
HT108               êÑÅ    RA‚ÇÇ-TI     10
ZA4a                êÑÅ  TU-ME-SE     18
HT87                êÑÅ      A-TU      1

           word number[       ]word
HT39  TA-I-AROM      10    KU-RE-JU
KH92   KU-NI-TE      10       NA-KI
HT70         TE      30  QA-*118-SA
HT29   PA-JA-RE       2     DI-JA-I
HT69         DI       8       MA-DI

           word number[ word separator
HT108  DU-SU-NI       5              êÑÅ
HT29   RU-MA-TA       2              êÑÅ

                     ]word word separator            word
PKZa16               TO-SA              êÑÅ             PU‚ÇÇ
KNZa10         TA-NU-MU-TI              êÑÅ  JA-SA-SA-RA-MA
HT55a                KI-RO              êÑÅ           MA-RE
SYZa1    A-TA-I-*301-WA-JA              êÑÅ         I-DA-MI
IOZa15          I-PI-NA-MA              êÑÅ        SI-RU-TE
PSZa2              êÑå-JA-TI              êÑÅ  JA-SA-SA-RA-ME
KNZf31    SI-SI-ZA-NE-*310              êÑÅ     DA-DU-MI-NE
HT31                 TI-SA              êÑÅ           PU-KO
PKZa18                  TE              êÑÅ            I-DA
ZAZb34           PU‚ÇÇ-RE-JA              êÑÅ           KO-MU
HT122a               RA-RI              êÑÅ         U-DE-ZA
ZAZg35         ME-MI-JA-RU              êÑÅ     SE-WA-AU-DE
HT62+73              SA-RA              êÑÅ              TE
PKZa8                   NU              êÑÅ           PA‚ÇÉ-E
IOZa2           I-PI-NA-MA              êÑÅ        SI-RU-TE

       lacuna ]number         word
HT69        êù´       5           DI
HT31        êù´       5  *815-QA-PA‚ÇÉ
HT111b      êù´      18        SA-DI

       word separator       ]word word separator
PSZa2               êÑÅ     êÑå-JA-TI              êÑÅ
KNZa10              êÑÅ    DU-WA-TO              êÑÅ
HT31                êÑÅ       TI-SA              êÑÅ
IOZa11              êÑÅ     U-TI-NU              êÑÅ
IOZa2               êÑÅ  I-PI-NA-MA              êÑÅ

       number[ ]number              word
HT31        30      10  KI-DE-MA-*323-NA
KH9        êùÉêùâêù´      .3       SI+TA2-*304
HT122a       2       2        DA-SI-*118

     ]number              word  word
HT31      10  KI-DE-MA-*323-NA  *815
PK3       31             DA-RE    72

       logogram[ ]logogram number
KH22       CYP+E        SI      4
HT125a     OLE+U    OLE+MI      1
HT44b         NI       VIN     75
KH91         VIN      *316      1
HT32      OLE+NE        RE    104
HT58      OLE+MI     OLE+E      3
KH8      VIR+[?]        NI    ¬π‚ÅÑ‚ÇÑ

       number   logogram[   ]logogram
HT125a    ¬π‚ÅÑ‚ÇÖ       OLE+U      OLE+MI
HT55a       1          NE          TU
KH9       ¬π‚ÅÑ‚ÇÑ         VIN         CYP
HT32       65      OLE+NE          RE
KH8       ¬π‚ÅÑ‚ÇÑ     VIR+[?]          NI
KH91        1         VIN        *316
HT58       19      OLE+MI       OLE+E
KH22        7       CYP+E          SI
HT60        5  QA2+[?]+RE  QA2+[?]+PU

     logogram         word word separator
HT32     *307       SA-RA‚ÇÇ              êÑÅ
MA1a      *47  QE-DE-MI-NU              êÑÅ

       number[ ]number logogram
HT110b       3       1       MA
HT101        2       3     OLIV
KH9        ¬π‚ÅÑ‚ÇÇ       2      CYP
KH19        13       2   OLE+TA
KN28b       êùäêù´       3    SU+MI
HT33       êùâêùãêù´       3     E+KA
PH28b      102       2     *304

           logogram number[ ]number
HT42+59       OLE+U       2       2
HT101        OLE+KI       2       3
KH81        MI+JA+I    1000       3
ZA6b         GRA+PA      40      20
HT33     QA2+[?]+RE     êùâêùãêù´       3
KH9           CYP+D     ¬π‚ÅÑ‚ÇÇ       2

         logogram       logogram number
PEZg5         OLE           *307      1
HT33    *401+*304  QA2+[?]+RE+PU      1
HT116a      SI+SE            GRA     16
KH103          NI            CYP     23

                        word word separator logogram[
HT40                KI-DA-TA              êÑÅ       GRA
SYZa1                I-DA-MI              êÑÅ        JA
HT51a                     TE              êÑÅ        MA
HT34                  SA-RA‚ÇÇ              êÑÅ  MI+JA+KA
KH9             A-SI-SU-PO-A              êÑÅ  VIR+*307
ARKH6               DA-NA-TU              êÑÅ        KU
HT58             QE-TI-RA-DU              êÑÅ   VIR+[?]
IOZa3      A-TA-I-*301-WA-JA              êÑÅ        AU
KH20              A-SI-KI-RA              êÑÅ     CYP+E
HT44a              I-QA-*118              êÑÅ       GRA
KNZb4                  JA-SI              êÑÅ        SI
KH7a                 SE-*305              êÑÅ        KU
IOZa2    TA-NA-RA-TE-U-TI-NU              êÑÅ         I
PKZa10         I-PI-NA-MI-NA              êÑÅ        SI
HT62+73                   TE              êÑÅ       VIN

      word separator logogram[ lacuna
HT34               êÑÅ  MI+JA+KA      êù´
HT144              êÑÅ         O      êù´
HT84               êÑÅ   VIR+[?]      êù´
KH53               êÑÅ        NE      êù´

      number number lacuna
KH26       2     êùÉêùã      êù´
HT36       7    ¬π‚ÅÑ‚ÇÇ      êù´
HT113      2    ¬π‚ÅÑ‚ÇÇ      êù´
HT96b      2   ¬π‚ÅÑ‚ÇÅ‚ÇÜ      êù´

            ]word logogram number
HT62+73        NA      GRA     15
ZA1b           RO      GRA     47
KH7b     PA-NA-TU    CYP+D    ¬π‚ÅÑ‚ÇÇ
HT39        KU-RO   *414+A    100
TY3a      ZA-*321   OLE+KI     15
HT125a     SA-RA‚ÇÇ      GRA      2

          ]word number logogram[
HT51b     ZU-DU      ‚Öù        SI
HT108    RA‚ÇÇ-TI     10        JU
HT66         DI      2        TA
HT55b        TE      1        QE
HT39   KU-RE-JU      8        KU
KH50         JE      2        QE
HT81   RI-SU-MA      êùã        KI
KH43    *560-RE      2    WI+ZE[

       logogram[     ]word number
HT51a         MA        SE     64
HT55b         QE     RI-JA      1
HT39          KU  SA-MA-TI     10
HT110b       GRA        RO     20

      number logogram[     ]word
HT39       8        KU  SA-MA-TI
KH9       êùÉêùÅ        MI      I-SI
HT55b      1        QE     RI-JA

       number[ logogram[ lacuna
KH14         2       CYP      êù´
KH55         3        NI      êù´
HT39         2    DU+[ ]      êù´
ARKH3b       1       OLE      êù´

     ]logogram number[ logogram[
HT39    KU+[ ]       2    DU+[ ]
MA6c    HIDE+B       4  HIDE+[?]

     logogram[ number       word[
KH2        CYP    ¬π‚ÅÑ‚ÇÑ  *306-CYP+E
HT40       GRA    134       KU-RO

       lacuna  ]word number
ZA27        êù´  DI-KI      2
HT111a      êù´  QE-KA      8
HT49a       êù´     RI      1
KH3         êù´     NU      1
HT41a       êù´  QE-TU     10

       lacuna lacuna  ]word
KN28b       êù´      êù´     TE
KH96        êù´      êù´   êù´êùàêùÄêùÄ
HT67        êù´      êù´  KU-RO
HT111a      êù´      êù´  QE-KA
HT74        êù´      êù´  KU-RO
ZA27        êù´      êù´  DI-KI
HT41a       êù´      êù´  QE-TU

       ]word number logogram
HT41a  QE-TU     10     *305
KN2    RU-NA      2     *118
PH3a    *556      1       TA

        number   logogram ]number
HT42+59      8      OLE+U       7
HT60      ¬π‚ÅÑ‚ÇÅ‚ÇÜ  MI+JA+[ ]    ¬π‚ÅÑ‚ÇÅ‚ÇÜ

        number[ ]number logogram[
HT42+59       2       2        KU
HT111b        4       3        QE

        logogram number         word[
HT101      DI+QE      3        KU-PA‚ÇÉ
HT115b   *306+MI      1         KU-TA
ZA6a        *171     19  *34-JU-TE-MI
GO2r          SI      2            DA
HT42+59   OLE+MI      2         SU-DU
HT128a    GRA+KU      6            DI
HT93a       *343      2     PA‚ÇÉ-NI-NA
KH7a       CYP+D      1           êùïêùâêù´

        lacuna logogram number
KH91         êù´      GRA      1
HT42+59      êù´   OLE+MI      2
HT128b       êù´   GRA+KU      6

        ]number       word logogram
HT42+59       7      SA-RO   OLE+KI
HT131a      353  I-QA-*118      GRA

         word[  ]word logogram
HT42+59  SU-DU  RE-TU   OLE+KI
ZA1b      E-MI     RO      GRA

        logogram[ ]logogram[ lacuna
HT42+59        KU        OLE      êù´
ARKH1a         QA         KI      êù´

      number logogram[ lacuna
KH91    ¬π‚ÅÑ‚ÇÅ‚ÇÜ   *401+RO      êù´
KH34       2        NI      êù´
HT55b      1         I      êù´
HT100     58   *304+PA      êù´
HT108     10        JU      êù´
PH8b       1  *318+[ ]      êù´
KH22       4       CYP      êù´
KH83      15   *401+RU      êù´
HT44a      1       VIN      êù´
HT81       êùã        KI      êù´
HT51b      ‚Öù        SI      êù´
KH43       2    WI+ZE[      êù´

       number[ logogram number
HT106        6       SI      5
ZA12b       40       TI     13
HT44a        5   OLE+RA      5
PE1         50   GRA+PA     26
HT140      ¬π‚ÅÑ‚ÇÇ    OLE+U      6
HT128a     ¬π‚ÅÑ‚ÇÇ   GRA+KU      6
HT99a        4      VIN      1

       ]logogram number logogram[
HT100     VIR+KA     58   *304+PA
KH54       CYP+E      1       GRA
KH91     *401+RU   ¬π‚ÅÑ‚ÇÅ‚ÇÜ   *401+RO
PH8b        *316      1  *318+[ ]
HT44a         NI      1       VIN
KH34       CYP+E      2        NI
ZA6a        OLIV     10         I
HT131b      OLIV      2    VIN+SA
KH84        *301      1      *306
KH22          SI      4       CYP

       logogram number[ logogram
HT116b      GRA     100     *304
HT106       CYP       6       SI
ZA12a        TI      13       RU
HT128a   GRA+PA     ¬π‚ÅÑ‚ÇÇ   GRA+KU
PE1     VIR+[?]      50   GRA+PA
HT44a     OLE+U       5   OLE+RA
ZA11b    GRA+PA       1   I-OLIV

        ]logogram word separator     word[
HT79+83        KA              êÑÅ    DA-PA‚ÇÉ
HT44b          JA              êÑÅ  TE-GRA+F
KNZa18         JA              êÑÅ     JA-WA
KH74           SI              êÑÅ  JA-DA-SU

       word separator     word[ ]number
HT135a              êÑÅ     MI-KA       1
HT44b               êÑÅ  TE-GRA+F       5

      ]logogram number ]number
HT44b       VIN     75      18
HT147        RA  ‚âà ¬π‚ÅÑ‚ÇÜ     ¬π‚ÅÑ‚ÇÇ
KH21        CYP      êùç     ¬π‚ÅÑ‚ÇÖ

      ]number logogram[ ]logogram
HT44b       5        NI       VIN
KH47        6        SI        RA

      number[ ]logogram word separator
HT45a       2      *318              êÑÅ
HT67      402        NI              êÑÅ

       ]number       word[ ]logogram
ZA6a       180        I-SE      OLIV
HT45a       êù´êùâ          PA       *86
HT135a       1  NA-*21F-NE        MI

       lacuna     ]word number[
HT46a       êù´     MU-RU       1
ZA16        êù´        PA       6
HT98a       êù´        DE       1
KN28b       êù´        TE      êùäêù´
HT74        êù´     KU-RO      20
HT67        êù´     KU-RO     402
HT127a      êù´  DU-NE-MI       1
HT135a      êù´  NE-MI-NA      10

             ]word number number
PH9b   *412-VS-VIN      1     êùÜêùÜ
HT46a        KU-RO     43    ¬π‚ÅÑ‚ÇÇ
ZA11a      E-KU-RU      2    ¬π‚ÅÑ‚ÇÑ

       lacuna lacuna ]number
HT154k      êù´      êù´       2
KH35        êù´      êù´       1
HT46b       êù´      êù´      16
KH46        êù´      êù´      êù´êùã

      number dividing line lacuna
HT96a      2             ‚Äî      êù´
HT49a      1             ‚Äî      êù´

       number       word[ lacuna
ZA7a        4  A-RE-TU-MI      êù´
KH2       ¬π‚ÅÑ‚ÇÑ  *306-CYP+E      êù´
TY2       250       *309B      êù´
ZA18b       2         êùïêùâêù´      êù´
ZA14        2       JA-WI      êù´
HT128a      4       MA-RI      êù´
ZA5a        6  SA-MI-DA-E      êù´
HT49a       1       SU-KI      êù´

       lacuna word separator  ]word[
HT135b      êù´              êÑÅ   TA-NE
KN22c       êù´              êÑÅ      NA
HT49a       êù´              êÑÅ  RA‚ÇÇ-DU

         ]word[     ]word word separator
KH79+89   MI-NA     PA-TA              êÑÅ
HT49a    RA‚ÇÇ-DU  TA-NA-TI              êÑÅ

       word separator                ]word[        ]word
PKZa12              êÑÅ                 RA-ME         A-NE
APZa2               êÑÅ  I-KU-PA‚ÇÉ-NA-TU-NA-TE  PI-MI-NA-TE
HT49a               êÑÅ                RA‚ÇÇ-DU     TA-NA-TI

      lacuna  ]logogram[ lacuna
ZA16       êù´          SI      êù´
KH64       êù´          TA      êù´
KH42       êù´  *307+*301[      êù´
KH65       êù´          NI      êù´
ZA32       êù´          JA      êù´
HT49b      êù´          KA      êù´

      number number[ ]logogram
HT50a      1     ¬π‚ÅÑ‚ÇÇ      OLIV
HT70       2     ¬π‚ÅÑ‚ÇÑ         I
HT93a     10     ¬π‚ÅÑ‚Çà        KA

           logogram number number[
HT115a           SU      2     ¬π‚ÅÑ‚ÇÖ
HT50a          *304      1     ¬π‚ÅÑ‚ÇÇ
HT110b           NI      1     ¬π‚ÅÑ‚ÇÇ
HT93a       VIR+[?]     10     ¬π‚ÅÑ‚Çà
HT123+124a     *308      4   ‚âà ¬π‚ÅÑ‚ÇÜ

        lacuna ]logogram number[
KH68+71      êù´  *401+[ ]      êùâêù´
ZA28         êù´    GRA+PA       1
ZA29         êù´        MA     100
KH82         êù´    OLE+RI      êùâêù´
KH63         êù´        SU      10
HT109        êù´        RE       4
HT154e       êù´        NI      14
KH84         êù´       CYP     ¬π‚ÅÑ‚ÇÇ
ZA4b         êù´       VIN     104
ZA31         êù´        DU       2
HT131b       êù´        NI      30
PH30         êù´        TI     ¬π‚ÅÑ‚ÇÑ
HT82         êù´   GRA+QIf    ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT50b        êù´    OLE+DI       1
KH76         êù´        SI       4
KH26         êù´   VIR+[?]      60
HT154a       êù´        KU       6
HT127b       êù´        NE      13

      lacuna lacuna logogram
HT50b      êù´      êù´   OLE+KI
KH38       êù´      êù´    CYP+D
KH55       êù´      êù´   OLE+TA
ZA21b      êù´      êù´       ME

       word separator logogram[        ]word
HT51a               êÑÅ        MA           SE
HT122b              êÑÅ   VIR+[?]  *306-KI-TA‚ÇÇ
ZA11a               êÑÅ    GRA+PA     RA-MA-SI

       word[ ]logogram[ lacuna
KH23    A-DU        CYP      êù´
KH39    A-TA     OLE+TA      êù´
HT51a  TI-NI         RE      êù´

       logogram[ lacuna lacuna
HT154n        SI      êù´      êù´
HT144          O      êù´      êù´
HT54b         KI      êù´      êù´
HT51b         SI      êù´      êù´
KH34          NI      êù´      êù´
ZA24a        GRA      êù´      êù´
HT55b          I      êù´      êù´
HT84     VIR+[?]      êù´      êù´

            word[ lacuna lacuna
HT52a    DI-KA-KI      êù´      êù´
GO2v        SE-SI      êù´      êù´
KE1         KA-SA      êù´      êù´
ZA14        JA-WI      êù´      êù´
ZA5a   SA-MI-DA-E      êù´      êù´
ZA21b       SA-RI      êù´      êù´

      ]number     word[ lacuna
ZA21b       2     SA-RI      êù´
KH94       17      I-ZA      êù´
HT52a       4  DI-KA-KI      êù´

        lacuna ]word[ lacuna
HT53b        êù´  KU-RE      êù´
HT80         êù´  JU-RA      êù´
HT53a        êù´  SA-NE      êù´
ZA19         êù´  RA-TE      êù´
KH52         êù´   TA-U      êù´
HT154ja      êù´  NU-TE      êù´
ZA13         êù´  SU-PA      êù´
KH40         êù´  SI-NA      êù´
KH44         êù´   *335      êù´
KH79         êù´   êù´êòÇêòÄêù´      êù´

       ]number logogram[ lacuna
HT53a      100        RA      êù´
KH80       ¬π‚ÅÑ‚ÇÖ       OLE      êù´
KH46        êù´êùã       VIN      êù´
HT54b        4        KI      êù´
KH35         1       CYP      êù´
KH16       ¬π‚ÅÑ‚ÇÇ        TA      êù´
KH51         4        TU      êù´
HT154n       6        SI      êù´

       lacuna ]number[ lacuna
HT53b       êù´       18      êù´
ZA33        êù´       21      êù´
ZA30        êù´        7      êù´
KH78        êù´       30      êù´
KH67        êù´        1      êù´
HT107       êù´        3      êù´
HT136b      êù´       24      êù´

      lacuna       ]word[      ]word[
PH7a       êù´     DI-PA-JA  U-DI-RI-KI
HT130      êù´          RA‚ÇÇ       KU-RO
HT54a      êù´  KU-MI-NA-QE   KI-MI-RA‚ÇÇ

        lacuna lacuna       ]word[
HT54a        êù´      êù´  KU-MI-NA-QE
KH44         êù´      êù´         *335
KH52         êù´      êù´         TA-U
HT154ja      êù´      êù´        NU-TE

            ]word[     ]word[ lacuna
KH97a      RE-A-JA         NA      êù´
HT54a  KU-MI-NA-QE  KI-MI-RA‚ÇÇ      êù´

      lacuna ]number logogram[
KH2        êù´      20        TU
KH46       êù´      êù´êùã       VIN
KH35       êù´       1       CYP
HT54b      êù´       4        KI

       ]logogram number         word
HT98b        VIN    ¬≥‚ÅÑ‚ÇÑ  DA-RU-NE-TE
HT122a        DU      1    KU-PA‚ÇÉ-NU
ZA11b         RA      2        KU-PA
HT105    VIR+[?]    234       SA-RA‚ÇÇ
MA2b          TI      1        JA-KU
MA10c     *412+E      2         *659
PH3a        *560      êùì        PA-RA
HT55a       *301      1        SI-RU
HT109         TA      4        KU-RO
HT130         SI      3       SA-RA‚ÇÇ
HT98a         TU      1     TA-NA-TI

        ]logogram number[ lacuna
ZA16           SU       4      êù´
ZA28       GRA+PA       1      êù´
ZA31           DU       2      êù´
KH63      *401+RU      êùâêù´      êù´
HT111b         NI       1      êù´
KH12      *401+RU      êùçêù´      êù´
HT109          RE       4      êù´
HT55a          TU       1      êù´
HT112b        CYP       6      êù´
HT70            I       3      êù´
KH100          KE     ¬π‚ÅÑ‚ÇÑ      êù´
PH3b           SI     ¬π‚ÅÑ‚ÇÑ      êù´
KH68+71  *401+[ ]      êùâêù´      êù´
KH25      VIR+[?]      10      êù´
HT106          SI       3      êù´

         word number[ ]logogram
HT110a  KU-RO     100        NI
HT55a   MA-RE       1      *301

      logogram number[ dividing line
TY3b    OLE+MI       6             ‚Äî
HT56b   OLE+KI      20             ‚Äî

        ]logogram number lacuna
HT79+83        ZU      3      êù´
HT66           RE      1      êù´
HT137         OLE      2      êù´
HT57b        *305      8      êù´
HT63           ZU      2      êù´
ZA11a        OLIV      2      êù´
ARKH3b        VIN      1      êù´

      number lacuna lacuna
HT63       2      êù´      êù´
HT57b      8      êù´      êù´
KH26      êùÉêùã      êù´      êù´
KH92       1      êù´      êù´

      lacuna ]logogram number
KH50       êù´        TA      2
KH21       êù´       CYP      êùç
PH8b       êù´      *316      1
HT105      êù´   VIR+[?]    234
PH8a       êù´   *416+L2      7
HT109      êù´        TA      4
HT130      êù´        SI      3
PH3b       êù´        SI      1
HT60       êù´    OLE+RI   ¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT147      êù´        RA  ‚âà ¬π‚ÅÑ‚ÇÜ

        logogram[   ]logogram number[
HT60   QA2+[?]+RE  QA2+[?]+PU      êùâêù´
KH9           VIN         CYP     êùÉêùâêù´
KH100         VIN          KE     ¬π‚ÅÑ‚ÇÑ

           word[ word separator number
HT62+73  *28B-TI              êÑÅ      6
HT93a       O-TI              êÑÅ      3
HT94b    *21F-TU              êÑÅ      1

               word[ ]number number
HT62+73           DI       4    ¬π‚ÅÑ‚ÇÑ
HT103    DA-KU-SE-NE       6    ¬π‚ÅÑ‚ÇÇ

           word[ ]number       word[
HT62+73  PA-I-KI       8    SA-RO-QE
HT135a     MI-KA       1  NA-*21F-NE

        number logogram[ ]logogram[
HT140        3        KA         MA
HT62+73    ¬π‚ÅÑ‚ÇÑ        KA    VIR+[?]

        ]number     word[ ]number
KH29          1     KU-PA       2
KH12        ¬π‚ÅÑ‚ÇÉ      *335     ¬π‚ÅÑ‚ÇÉ
HT62+73       8  SA-RO-QE      28

        logogram[ word separator     ]word
HT62+73       VIN              êÑÅ        NA
PK1            SI              êÑÅ     NE-TI
PYRWc4         TI              êÑÅ      I-SI
HT94b          RA              êÑÅ  DE-ME-TE
KH7a           KU              êÑÅ      KO-E

        ]logogram[ ]number  word[
HT62+73    VIR+[?]       4     KO
ZA21b           KI       2  SA-RI

               word[ ]logogram number
HT135a    NA-*21F-NE        MI      2
HT63          SU-PU‚ÇÇ        ZU      2
ZA6a            I-SE      OLIV     15
ZA11a      PI-*310-A      OLIV      2
KH4          A-DU-RE      *306      4
TY3a    A-KU-TU-*361        KI      5
PH1b              PA        NI      2
HT101         KU-PA‚ÇÉ     OLE+U      2

               ]word[ ]logogram number
HT66            TA-MI        RE      1
KNZb35       JA-DI-WI       OLE    100
HT79+83         KU-NI        ZU      3
ZA11b            I-DE        RA      2
HT125a            RA‚ÇÇ    OLE+KI      1
ARKH1a   A-SU-MI-*118        NE      2

       ]logogram word separator           word
HT67          NI              êÑÅ             TE
PLZf1         TA              êÑÅ    WI-TE-JA-MU
PKZa10        SI              êÑÅ  I-PI-NA-MI-NA
HT115b        RU              êÑÅ       PA-RA-NE
KH14          RA              êÑÅ        A-MA-JA
KNZb4         JU              êÑÅ          JA-SI
HT70          NI              êÑÅ             TE
IOZa16      AROM              êÑÅ    JA-SA-SA-RA

        ]logogram word separator logogram[
KH29           RA              êÑÅ       TA‚ÇÇ
KH47           RA              êÑÅ      *306
HT68           JU              êÑÅ   VIR+[?]
HT79+83         I              êÑÅ      *305

         number[ ]logogram number[
KH12          êùçêù´   *401+RU      êùçêù´
HT106          8        SI       3
HT110a       100        NI      15
KH63          10   *401+RU      êùâêù´
THEtab.4       7       CAP      46
PH3b         ¬≥‚ÅÑ‚ÇÑ        SI     ¬π‚ÅÑ‚ÇÑ
TY3b          11    OLE+NE       2
HT70         ¬π‚ÅÑ‚ÇÑ         I       3
KH25         140   VIR+[?]      10
ZA16           6        SU       4

           word[ word separator lacuna
TY3a        A-DU              êÑÅ      êù´
HT72  SI-VIR+[?]              êÑÅ      êù´

     lacuna dividing line   ]word[
ZA23      êù´             ‚Äî    TE-TE
HT78      êù´             ‚Äî  MU-*312

            ]word number[ ]logogram[
HT79+83  TU-PA-RI       1         TU
KH82         *315       1       *336

            ]word[ lacuna lacuna
HT80         JU-RA      êù´      êù´
KH97b         SE-I      êù´      êù´
KH56          êù´êùïêùâêù´      êù´      êù´
KH90   MA-TA-RI-TA      êù´      êù´

      number[  logogram number[
ZA11b       1    I-OLIV       1
ZA12a      64        TI      13
HT137       3    OLE+MI       6
KH81        5   MI+JA+I    1000
HT99a       4        NI       4
HT82     ¬π‚ÅÑ‚ÇÅ‚ÇÜ  *304+[ ]     ¬π‚ÅÑ‚ÇÑ

            ]word word separator logogram[
ARKH1a      TA-PI              êÑÅ        QA
HT84        NU-TI              êÑÅ   VIR+[?]
KH53    A-ME-AROM              êÑÅ        NE

                   word number       word[
TY2         *309B-KI-PU     50  *309-DA-PU
HT85a             DA-RE      4       KU-RO
ZA14           PA-NU-QE      2       JA-WI
HT123+124b  TU-PA-DI-DA  13/20       KA-NA
HT85b                PA      1       TE-TU
ZA10a          TA-NA-TE      2          PA
HT122a       DA-SI-*118      2          PA

      number word[ word separator
HT93a    ¬π‚ÅÑ‚ÇÇ  O-TI              êÑÅ
HT87       1  A-RA              êÑÅ

                word[ word separator       ]word
HT87             A-RA              êÑÅ        A-TU
KNZa10          DA-WA              êÑÅ    DU-WA-TO
PEZg6            I-NA              êÑÅ          TE
IOZa2   U-NA-KA-NA-SI              êÑÅ  I-PI-NA-MA
HT122a             PA              êÑÅ          DI

                     word          word logogram
HT102               KA-PA        SA-RA‚ÇÇ      GRA
KH10              QA-*118  A-KI-PI-E-TE      GRA
HT90           I-KU-RI-NA        SA-RA‚ÇÇ      GRA
PE1    U-KA-RE-A-SE-SI-NA      KU-PA-RI  VIR+[?]

       number               word              word
HT93a       3           DA-RI-DA           *406-VS
SYZa2       1  U-NA-KA-NA-SI-OLE              A-JA
TY2        10           PA-DA-RU        *309-JU-KI
HT115a      2          *301-U-RA  NA-*21F-NE-MI-NA
ZAZb3      32        DI-DI-KA-SE        A-SA-MU-NE
HT102       5              KU-RO              1060

       number number word[
GO2v        1    ¬π‚ÅÑ‚Çà    DA
ARKH1a      2    ¬π‚ÅÑ‚ÇÇ  A-PA
HT93a       1    ¬π‚ÅÑ‚ÇÇ  O-TI
PE1        26    ¬π‚ÅÑ‚ÇÇ  E-KA

      number ]number       word
HT94a  ‚âà ¬π‚ÅÑ‚ÇÜ       2  *318-*306
PH28b      6       6       *811

       logogram word separator logogram[
HT154.     *516              êÑÅ        TI
ZA11a      *516              êÑÅ    GRA+PA
HT122b     *346              êÑÅ   VIR+[?]
HT94b       *86              êÑÅ        RA

      word separator logogram[ word separator
IOZa2              êÑÅ         I              êÑÅ
HT94b              êÑÅ        RA              êÑÅ

        lacuna word separator lacuna
HT95b        êù´              êÑÅ      êù´
HTW231c      êù´              êÑÅ      êù´
KH91         êù´              êÑÅ      êù´

             word number  place name
HT95b    MI-NU-TE     10    KU-NI-SU
ZA15a  QE-SI-ZU-E     57  I-TI-NI-SA

      ]logogram number dividing line
PH8a    *416+L2      7             ‚Äî
HT96a        NI      2             ‚Äî
HT101     OLE+U      2             ‚Äî

       word separator word separator   word
HT96a               êÑÅ              êÑÅ  TE-NI
IOZa12              êÑÅ              êÑÅ  JA-SA

           ]word word separator word separator
HT96a   KU-MA-RO              êÑÅ              êÑÅ
PKZa17      I-DA              êÑÅ              êÑÅ

      logogram word separator number
PH1a      *316              êÑÅ      êùâ
HT96b      GRA              êÑÅ     40

      lacuna ]logogram[ ]logogram
KH57       êù´         TU        ZO
HT98b      êù´       *188       VIN
KH8        êù´         RE        TA
KH27       êù´         NI    GRA+PA

               word logogram number[
HT131a    I-QA-*118      GRA      58
ZA6b       *312-TA‚ÇÇ   GRA+PA      40
HT116b        KU-RO      GRA     100
HT106      MI-NU-TE      CYP       6
HT102        PA‚ÇÉ-NI   GRA+PA      33
HT128a  WA-TU-MA-RE   GRA+KU      12
TY3b       KI-RI-SI   OLE+MI       6
PE1        KU-PA-RI  VIR+[?]      50
KH7b      U-TA-I-SE    CYP+D     ¬π‚ÅÑ‚ÇÇ
HT99a        SA-RA‚ÇÇ      CYP       4

      dividing line word[ word separator
TY3a              ‚Äî  A-DU              êÑÅ
HT106             ‚Äî    DA              êÑÅ

      number dividing line      word
HT108     70             ‚Äî  DI-NA-RO
PK1        2             ‚Äî   A-DU-ZA
ZA15b      3             ‚Äî     KU-RO

       ]logogram number[ ]number
HT154e        NI      14       3
KH9          CYP     êùÉêùâêù´      .3
HT110a        NI      15      60
KH24          SU      12      êù´êùâ

       number[ ]logogram[ lacuna
HT111a      14         NI      êù´
KH82         1       *336      êù´

        lacuna lacuna lacuna
KH69         êù´      êù´      êù´
KH92         êù´      êù´      êù´
HT112b       êù´      êù´      êù´
HT142        êù´      êù´      êù´
ZA5a         êù´      êù´      êù´
KH72         êù´      êù´      êù´
KH26         êù´      êù´      êù´
PH29a        êù´      êù´      êù´
HT154jb      êù´      êù´      êù´
KH70         êù´      êù´      êù´
ZA17         êù´      êù´      êù´

       number     word[ logogram
PE1       ¬π‚ÅÑ‚ÇÇ      E-KA  VIR+[?]
HT128a      6        DI   GRA+KU
HT115a      1  RI-SU-MA       SU
GO2v      ¬π‚ÅÑ‚Çà        DA       RE

       number number[ lacuna
PH3b        1     ¬π‚ÅÑ‚ÇÑ      êù´
HT115a      2     ¬π‚ÅÑ‚ÇÖ      êù´

           word[ logogram number
HT115a  RI-SU-MA       SU      2
HT128a        DI   GRA+KU      4
PKZb?   A-PA‚ÇÉ-DI       RE    ¬π‚ÅÑ‚ÇÉ

        logogram            word number
ZA15a     SA-VIN      QE-SI-ZU-E     57
HT115a  GRA+BOSm  RI-TA-MA-NU-WI      2

       word separator word also in linear b number
HT115b              êÑÅ              PA-RA-NE    ¬π‚ÅÑ‚ÇÇ
HT118               êÑÅ                 MA-DI     15

           number number[   ]word
HT125a          1     ¬π‚ÅÑ‚ÇÇ  SA-RA‚ÇÇ
HT123+124a      4   ‚âà ¬π‚ÅÑ‚ÇÜ   KI-RO

       ]logogram number number[
HT125a    OLE+MI      1     ¬π‚ÅÑ‚ÇÇ
PH3b          SI      1     ¬π‚ÅÑ‚ÇÑ

       number       number logogram[
ZA18a       2  double mina       GRA
HT125a      1          ¬π‚ÅÑ‚ÇÖ     OLE+U
TY3a        3          ¬π‚ÅÑ‚ÇÇ    OLE+MI
KH91        1        13/20        ZU

       number logogram      word
HT127b    156       KU        72
ZA15a      10   ME-VIN  MI-ZA-SE

       word separator            word            word
KNZa10              êÑÅ  JA-SA-SA-RA-MA              NA
KH10                êÑÅ         QA-*118    A-KI-PI-E-TE
HT128a              êÑÅ           PA-RA  TU-RU-NU-SE-ME
IOZa12              êÑÅ           JA-SA        SA-RA-ME
PH6                 êÑÅ            A-RI   I-ZU-RI-NI-TA

       logogram[ number         word
HT128a       GRA     10  WA-TU-MA-RE
TY2         *309    290  *309B-KI-PU

       ]word also in linear b logogram number[
PH15a                MA-TE-RE     *339      11
HT128a                  MI-TA   GRA+PA     ¬π‚ÅÑ‚ÇÇ

         word logogram[ lacuna
HT130  SA-RA‚ÇÇ       CYP      êù´
ZA24a    I-DA       GRA      êù´

         ]logogram number[ ]logogram
PH3b        ]MI+JA     ¬≥‚ÅÑ‚ÇÑ        SI
HT154a          KU       6        TA
HT131b          NI      30      OLIV
KH84           CYP     ¬π‚ÅÑ‚ÇÇ      *301
KH26       VIR+[?]      60        NI
KH25       VIR+[?]     140   VIR+[?]
THEtab.4       CAP       7       CAP

       word separator          word[ word separator
KNZa10              êÑÅ          DA-WA              êÑÅ
HT140               êÑÅ       U-*34-SI              êÑÅ
IOZa2               êÑÅ  U-NA-KA-NA-SI              êÑÅ
APZa2               êÑÅ     I-PI-NA-MA              êÑÅ
KNZc7               êÑÅ          WI-PI              êÑÅ
KNZa18              êÑÅ          JA-WA              êÑÅ
PH28a               êÑÅ      JA-KI-PA‚ÇÉ              êÑÅ

      word[ ]word[ lacuna
ZA7b   A-MA   êù´êùÑêùâêù´      êù´
HT141  A-RI  RU-DI      êù´

       lacuna ]logogram[ ]number
HT146       êù´         QE      30
HT154n      êù´         SI       6

       word separator logogram[ ]number
KH9                 êÑÅ  VIR+*307    ¬π‚ÅÑ‚ÇÅ‚ÇÜ
KH20                êÑÅ     CYP+E     ¬π‚ÅÑ‚ÇÉ
KH29                êÑÅ       TA‚ÇÇ       1
ZA6a                êÑÅ      OLIV      25
HT154.              êÑÅ        TI     100

       ]logogram[ ]logogram[ lacuna
KH49           RU         KU      êù´
HT154a       OLIV        GRA      êù´

       lacuna ]word[ ]number
HT154c      êù´     NA       2
KH47        êù´  QA-NE       6
KH13        êù´   DA-I       3

       lacuna ]number number[
HT154g      êù´       6     ¬π‚ÅÑ‚ÇÇ
KH13        êù´       2     ¬π‚ÅÑ‚ÇÇ

       lacuna ]number lacuna
HT154k      êù´       2      êù´
KH10        êù´       2      êù´

                     word word separator          word[
IOZa14           SI-RU-TE              êÑÅ           I-DI
TLZa1      JA-SA-SA-RA-ME              êÑÅ     U-NA-KA-NA
IOZa2      JA-SA-SA-RA-ME              êÑÅ  U-NA-KA-NA-SI
SYZa8   A-TA-I-*301-WA-JA              êÑÅ          JA-JA
KNZc7    JA-SA-RA-A-NA-NE              êÑÅ          WI-PI
KNZa10                 NA              êÑÅ          DA-WA
IOZa12           SA-RA-ME              êÑÅ           I-TI
PKZa12  A-TA-I-*301-WA-JA              êÑÅ     A-DI-KI-TE
IOZa7   A-TA-I-*301-WA-JA              êÑÅ     JA-TI-*321
PKZa18               I-DA              êÑÅ          JA-JA
ZAZb34              KO-MU              êÑÅ          RU-DI

                 ]word[ word separator ]word[
IOZa11               NA              êÑÅ  DA-DA
PKZa9   JA-U-PA-MA-I-DA              êÑÅ     DI

                     word               word word separator
KOZa1   A-TA-I-*301-WA-JA           TU-RU-SA              êÑÅ
IOZa12              JA-SA           SA-RA-ME              êÑÅ
ZAZb3                A-SE  A-TA-I-*301-DE-KA              êÑÅ
KNZa10     JA-SA-SA-RA-MA                 NA              êÑÅ

     dividing line       word logogram
KH7b             ‚Äî  U-TA-I-SE    CYP+D
TY3b             ‚Äî   PI-KU-ZU   OLE+KI

               word[ word separator ]logogram
APZa2  I-NA-JA-RE-TA              êÑÅ        QA
KH11            A-DU              êÑÅ        ZA

     ]word[ ]number lacuna
KH13   DA-I       3      êù´
PH3a     PA       1      êù´

      ]number logogram number[
KH19        2   OLE+TA     ¬π‚ÅÑ‚ÇÉ
KH29        2      CYP     ¬π‚ÅÑ‚ÇÇ
KH61      ¬π‚ÅÑ‚ÇÉ   OLE+TA      êùâêù´
KH16       22      CYP     êùáêùâêù´
KH21      ¬π‚ÅÑ‚ÇÖ       NI       2
KN28b       3    SU+MI      êùäêù´

     logogram[ ]number logogram[
ZA6a      OLIV      25      *304
KH16     CYP+D     ¬π‚ÅÑ‚ÇÇ        TA

      logogram number[       word[
GO2v        RE       1       SE-SI
ZA11a   GRA+PA       1   PI-*310-A
KH21        NI       2  *306-QE-DU

     number[ ]number lacuna
KH81    1000       3      êù´
KH24      12      êù´êùâ      êù´

     ]number logogram[ ]number
KH61       1        MA     ¬π‚ÅÑ‚ÇÉ
KH31     ¬π‚ÅÑ‚ÇÇ   *401+RO       1
ZA6a      25      *304      20

     number[ ]word[ lacuna
ZA29     100     TE      êù´
GO2r     ¬π‚ÅÑ‚ÇÑ     SE      êù´
KH36       4     NA      êù´

     number logogram[  logogram
TY3a    ¬π‚ÅÑ‚ÇÇ    OLE+MI     OLE+U
KH37      2        WI  *304+[ ]

     lacuna ]logogram[ ]logogram[
KH49      êù´         RU         KU
ZA4a      êù´          E         PI

     ]logogram number[ ]logogram[
KH57        ZO       1        CYP
KH76        SI       4        CYP

     ]logogram[ number[ lacuna
KH86        CYP     ¬≥‚ÅÑ‚ÇÑ      êù´
KH57        CYP     ¬π‚ÅÑ‚ÇÑ      êù´

     number[ ]logogram[ number[
KH57       1        CYP     ¬π‚ÅÑ‚ÇÑ
MA6c      87   HIDE+[?]     233

      ]word number lacuna
KH92  NA-KI      1      êù´
KH59  DI-NA      5      êù´

     number[ ]logogram[ number
KH76       4        CYP     êùÉêùå
KH61      êùâêù´        CYP      2

            word[       ]word lacuna
KH79+89      A-RA    PA-DA-NI      êù´
KH74     JA-DA-SU  SI-*805-MI      êù´
KN32b          PA       JA-SU      êù´

     ]logogram[ number lacuna
KH77        CYP      êùç      êù´
KH76        CYP     êùÉêùå      êù´

       lacuna word separator    word[
KH83        êù´              êÑÅ  A-DI-NE
ARKH1a      êù´              êÑÅ     A-RA

      lacuna word separator ]logogram[
KH90       êù´              êÑÅ         JA
PLZf1      êù´              êÑÅ          I

     number logogram[ ]number
KH91  13/20        ZU   ‚âà ¬π‚ÅÑ‚ÇÜ
ZA6a     10         I       2

       word separator lacuna word separator
KNZa18              êÑÅ      êù´              êÑÅ
PLZf1               êÑÅ      êù´              êÑÅ
KN22c               êÑÅ      êù´              êÑÅ

     lacuna number number
GO2v      êù´      1    ¬π‚ÅÑ‚Çà
PE2       êù´      3    ¬π‚ÅÑ‚ÇÉ

      dividing line           word dividing line
PH11              ‚Äî  |||||||||||||             ‚Äî
PEZg6             ‚Äî    TA-NA-MA-JE             ‚Äî

              ]word logogram word separator
PKZa14        TU-ME        I              êÑÅ
PH1a    DI-RA-DI-NA     *316              êÑÅ

                  word           word             word
SAMWa1           JA-SA          SA-RA               TE
PRZa1   TA-NA-SU-TE-KE     SE-TO-I-JA  A-SA-SA-*802-ME
PH6               A-RI  I-ZU-RI-NI-TA             A-RI
ZAZb3      DI-DI-KA-SE     A-SA-MU-NE             A-SE

                        word number[ number
ZA8               A-RI-NI-TA       1      ?
PH12a  VIR+[?]-*339-HIDE+[?]      10     êùàêùà

      lacuna           ]word[ word separator
PKZa9      êù´  JA-U-PA-MA-I-DA              êÑÅ
PH28a      êù´            A-PA‚ÇÉ              êÑÅ

       word separator     word                word[
PKZa8               êÑÅ  TU-ME-I  JA-SA-U-NA-KA-NA-SI
PKZa16              êÑÅ      PU‚ÇÇ                RE-JA

             ]word             word word separator
PSZa2      RE-I-KE  TA-NA-I-*301-TI              êÑÅ
VRYZa1  I-PI-NA-MA         SI-RU-TE              êÑÅ

      word[ number[ logogram
ZA12b    PA      40       TI
ZA12a    PA      64       TI

Create a table of sequences in descending order of occurence.

In [82]:
mat_seq_cnt = {k: len(v) for k,v in matched_sequences.items()}

pd.set_option("display.max_rows", None, "display.max_columns", None)
df = pd.DataFrame(mat_seq_cnt.values(), columns = ["Count"])
df.set_axis(mat_seq_cnt.keys(), axis='index', inplace=True)
#df.style.set_caption("Davis 2018 Mapping of Linear A and PD Symbols").set_table_styles(styles)
display(df.sort_values(by=['Count'], ascending=False))

                                                    Count
word,number,word,number                               138
logogram,number,logogram,number                       119
logogram,number,logogram                              115
word,number,word                                      106
word,word separator,word                               78
logogram,number,word                                   73
word,word separator,logogram                           52
word,logogram,number                                   48
logogram,number,number                                 46
word,word separator,word,word separator                43
logogram,number,word,number                            39
word,number,word,number,word,number                    38
logogram,number,logogram,number,logogram,number        35
word,number,word,number,word,number,word,number        33
logogram,number,logogram,number,word                   32
word,word separator,logogram,number                    32
word,number,number                                     32
word,number,word,number,word                           29
word,number,logogram,number                            25
word,word separator,word,word separator,word           25
word,number,word,number,word,number,word,number...     23
logogram,number,logogram,number,logogram               22
word,logogram,number,logogram,number                   21
word,logogram,number,logogram                          21
logogram,number,logogram,number,logogram,number...     19
logogram,number,number,logogram                        19
logogram,number,word,number,word                       18
]number,logogram,number                                18
lacuna,]logogram,number[                               18
word,word separator,word,number                        18
logogram,word separator,word                           18
logogram,number,number,logogram,number                 16
word,word separator,logogram[                          15
]word,word separator,word                              15
]logogram,number[,lacuna                               15
logogram,number,logogram[                              15
word,word separator,word,word separator,logogram       15
word,number,number,word,number                         14
logogram,word separator,logogram                       14
word,word separator,logogram,number,logogram           14
]logogram,number,logogram                              14
word,word separator,logogram,word separator            14
logogram,number,logogram,number,logogram,number...     13
word,word separator,word,word separator,word,wo...     13
word,number,word,number,word,number,word,number...     12
logogram,number,word,number,word,number                12
word,word separator,word,word separator,logogra...     12
logogram,number,word,logogram,number                   12
logogram,number,logogram,number,word,number            12
logogram,number[,]logogram                             12
word,number,word,number,word,number,word,number...     11
]logogram,number,word                                  11
logogram,number,logogram,number,word,logogram,n...     11
word,word separator,word,number,word                   11
logogram,number,word,word separator                    11
word,word separator,word[                              11
word,word separator,logogram,number,logogram,nu...     11
]logogram,number,logogram,number                       11
]word,number,word                                      11
]word,number,word[                                     11
lacuna,lacuna,lacuna                                   11
logogram,number,logogram,number[                       11
logogram,number[,lacuna                                11
word,word,number                                       10
lacuna,]logogram,number                                10
lacuna,]word[,lacuna                                   10
word,logogram,number[                                  10
]logogram,number,logogram[                             10
logogram,number,logogram,number,logogram,number...     10
]word,number,word,number                               10
]logogram,number,number                                10
word,number,logogram                                   10
word,word separator,word,number,word,number            10
]logogram,number,word,number                            9
logogram,number,lacuna                                  9
]word,word separator,word[                              9
word,number,number,word,number,word,number              9
logogram,number[,]logogram,number                       9
word,logogram,number,word                               9
]word,word separator,word,word separator                9
logogram[,lacuna,lacuna                                 8
logogram,number,word[                                   8
word[,]logogram,number                                  8
logogram,word separator,word,word separator             8
]logogram,word separator,logogram                       8
word,number,word,number,logogram                        8
]number,logogram[,lacuna                                8
]logogram,word separator,word                           8
word,number,word,number,number,word,number              8
lacuna,]word,number[                                    8
]word,number[,]word                                     8
word,number,word,number,word[                           8
word,word separator,word,word separator,logogra...      8
]word,number,logogram[                                  8
word,number,logogram,number,word,number                 8
word,word separator,logogram,word separator,log...      8
logogram,number,logogram,number,logogram,number...      8
word,word separator,word,logogram                       8
logogram,number[,logogram                               7
word,word separator,word,logogram,number                7
word,number,logogram,number,word                        7
logogram,number,logogram,number,word,word separ...      7
word,logogram,number,logogram,number,logogram,n...      7
]logogram,number[,]logogram                             7
logogram,number[,logogram,number                        7
logogram[,]logogram,number                              7
logogram,number,]logogram                               7
lacuna,lacuna,]word                                     7
lacuna,]number[,lacuna                                  7
logogram,number,logogram,number,number                  7
word,number,word[                                       7
word,word separator,word,word separator,word,wo...      7
word,word separator,word,number,word,number,wor...      7
logogram,number[,]word                                  7
word,word separator,word,number,word,number,word        7
logogram,number,word,number,logogram                    7
word,number,word also in linear b,number                7
]logogram,number,lacuna                                 7
logogram,number,word,word separator,logogram,nu...      6
]logogram,number,logogram[,lacuna                       6
logogram,number,logogram,number,logogram,number...      6
]number,word,number                                     6
]word,logogram,number                                   6
word,number,logogram[                                   6
logogram,number,logogram,number,logogram,number...      6
word,number,number,word,number,number                   6
word,number,dividing line                               6
]number,logogram,number[                                6
logogram,number,]number                                 6
]word[,]logogram,number                                 6
]number,word,number[                                    6
word,number,word,number[                                6
word,number,logogram,number,logogram,number             6
logogram,number[,]number                                6
]number,logogram,number,logogram,number                 6
logogram,word,number,word,number                        6
word,word separator,logogram,number,word,number         6
word,logogram,number,number                             6
word[,lacuna,lacuna                                     6
word,word separator,word,word separator,logogra...      6
lacuna,]logogram[,lacuna                                6
logogram,word separator,word,number                     6
]logogram[,number,logogram,number                       6
logogram,number,word,logogram                           6
logogram[,logogram,number                               6
logogram,number,logogram,number[,]logogram              5
logogram,number,word,number,word,number,word            5
word,number,word,number,word,number,word,number...      5
word,number[,]number                                    5
logogram[,]number,logogram                              5
lacuna,]word,number                                     5
]word,number,word[,]word                                5
]word,logogram,number[                                  5
lacuna,]logogram,number[,]logogram                      5
word,number,word,number,word also in linear b,n...      5
word[,word separator,]word                              5
]logogram,word separator,logogram,number                5
]word,word separator,logogram                           5
logogram,word separator,logogram,word separator         5
word,word separator,word,word separator,word,lo...      5
word,number[,]word                                      5
word,word separator,logogram,number,logogram,nu...      5
word,word separator,logogram,number,logogram,nu...      5
logogram,number[,lacuna,lacuna                          5
logogram[,word separator,]word                          5
logogram,number,number[                                 5
logogram,number,number,word                             5
word,word separator,word,word separator,word,wo...      5
]word,number,logogram[,lacuna                           5
word,logogram,number,word,number                        5
lacuna,lacuna,]number                                   4
word,word separator,logogram,word                       4
logogram,number,number,logogram,number,logogram...      4
logogram,word separator,logogram[                       4
word,word separator,word,number,word,number,wor...      4
word,word separator,logogram,number,number              4
logogram[,]number,logogram,number                       4
]word,number,word,number,word,number                    4
logogram,number,word,word separator,word                4
logogram,word separator,logogram,number,logogram        4
lacuna,lacuna,logogram                                  4
]logogram,word separator,logogram[                      4
]logogram,word separator,word,word separator            4
logogram,number[,logogram,number,number                 4
logogram[,]word,number                                  4
]word,number,word,number,word,number,word               4
word,word separator,number,word                         4
]word,number,word,number,word,number,word,number        4
]word[,lacuna,lacuna                                    4
word,word separator,number                              4
word,word,logogram                                      4
word,number,word,word separator                         4
word,word,word separator                                4
]number,logogram,number,number                          4
lacuna,]logogram,number[,]logogram,number               4
word,number[,lacuna                                     4
logogram,number,logogram[,]logogram,number              4
word,word separator,logogram,number[                    4
logogram,logogram,number                                4
word,number,word,number,number                          4
logogram,number,logogram[,]logogram                     4
lacuna,logogram,number[                                 4
word,word separator,word,word separator,word,wo...      4
logogram,word,number,word                               4
word,logogram,number,logogram,number,logogram,n...      4
lacuna,]number,logogram[                                4
logogram,number,logogram,number,word,number,word        4
]word,number[,]word,number                              4
logogram,number,logogram,number,logogram,number...      4
word,number,lacuna                                      4
]logogram,number[,]logogram,number[                     4
logogram,number,word,number,logogram,number             4
word,logogram,word                                      4
word,logogram,number,logogram,number,logogram,n...      4
lacuna,]logogram,number[,lacuna                         4
logogram,number,logogram,number,logogram,number...      4
word,word separator,word,word separator,logogra...      4
word,number[,]word,number                               4
]logogram,number[,lacuna,lacuna                         4
]logogram,word separator,word[                          4
word,word,word                                          4
]logogram,number[,]number                               4
logogram,number,]logogram,number                        4
logogram,number,logogram[,number                        4
lacuna,word,number                                      4
lacuna,lacuna,]word[                                    4
lacuna,]logogram[,]logogram                             4
logogram,number,word,number[                            3
]number,word[,lacuna                                    3
lacuna,]word[,]word[                                    3
word,number,word,number,word,number,word,number...      3
]word,word separator,word,word separator,word           3
lacuna,]number,logogram[,lacuna                         3
logogram,number,number,logogram,number,logogram...      3
word,number,word,word                                   3
]word,number,word,number[                               3
word,number,word,number,word,number,word,number...      3
lacuna,lacuna,]number[,lacuna                           3
lacuna,]number,word                                     3
logogram,number,logogram,number,number,logogram...      3
lacuna,]logogram,number,word                            3
]word,number,word,number,word,number,word,numbe...      3
logogram,number,number,logogram,number[                 3
lacuna,word separator,]word[                            3
word,logogram,number,logogram,number[                   3
logogram,word separator,word,word separator,log...      3
word[,logogram,number                                   3
word,logogram,number[,logogram,number                   3
]logogram,number,word,number,word,number                3
]number,word[,]number                                   3
]logogram,number,]number                                3
logogram,number[,]number,logogram,number                3
]logogram,word separator,logogram,number[               3
]number,word[,]logogram                                 3
lacuna,]word,number,word[                               3
logogram,number,logogram,number[,lacuna                 3
lacuna,]word,number[,]word                              3
word,number,]logogram,number                            3
word[,word separator,number                             3
lacuna,lacuna,]word,number[                             3
lacuna,]word,number[,]logogram                          3
lacuna,logogram,number                                  3
lacuna,word separator,lacuna                            3
]word,number,logogram                                   3
lacuna,lacuna,]word,number                              3
word[,]logogram[,lacuna                                 3
logogram,word,logogram,number                           3
logogram[,]logogram,number[                             3
]word,number,number                                     3
logogram,number,logogram,number,]number                 3
logogram,]number,logogram,number                        3
word,word separator,word,word separator,word,lo...      3
logogram[,logogram,number,logogram                      3
]word,word separator,logogram[                          3
logogram,number,logogram,number,word,number,log...      3
]logogram,number,dividing line                          3
lacuna,lacuna,word                                      3
word,logogram,number,logogram,number,number             3
]number,logogram[,]number                               3
word,word separator,word also in linear b               3
word,number,word separator                              3
word,number,number,word                                 3
word[,]word,lacuna                                      3
logogram,word separator,word,word separator,word        3
word,logogram,word separator,word                       3
logogram,number,word,logogram,number,logogram,n...      3
word,word separator,word,word separator,logogra...      3
word,word separator,logogram,number,logogram,nu...      3
logogram,number,logogram,number,logogram,number...      3
lacuna,]number,word[                                    3
]logogram,number[,]logogram,number[,lacuna              3
logogram,number[,word[                                  3
word,word separator,word,word separator,logogra...      3
word,logogram,number,logogram,number,logogram,n...      3
logogram,number,number,logogram,number,number           3
dividing line,logogram,number                           3
logogram,number,logogram,number,logogram,number...      3
logogram,number,logogram,number,logogram,number...      3
logogram,number,word,number,word,number,logogra...      3
word also in linear b,number,word,number,word,n...      3
word also in linear b,number,word,number                3
word,number,word,number,word,number,word,number...      3
word,word separator,word,number,word,number,wor...      3
word,word separator,word,number,word,number,wor...      3
logogram,number[,]word,logogram,number[                 3
]logogram,number,logogram,number[                       3
logogram,number[,]word,logogram                         3
]word,number[,]word,number[                             3
word,number[,]number,word                               3
logogram[,]word,number,word[                            3
word[,]word,number[                                     3
]word,number,word[,]word,number                         3
]word,number[,lacuna                                    3
logogram,number,word,number,logogram,number,wor...      3
word,number,number,word,number,word,number,word...      3
word,number,word,number,word,number,number,word...      3
word,word separator,logogram,word,number,word,n...      3
logogram,word,number,word,number,word,number            3
word,number,word,number,word,number,word,number...      3
word,word separator,logogram,word separator,word        3
word,word separator,word,word separator,logogra...      3
word,number,number,word,number,number,word,number       3
logogram,number,logogram,number,word,number,wor...      3
word,word,logogram,number                               3
word,word separator,logogram,word separator,log...      3
lacuna,]word[,]number                                   3
word,word separator,word,word separator,word,wo...      3
]number,logogram,number,logogram                        3
]word,number,logogram,number                            3
logogram,word separator,logogram,number                 3
word,logogram,number,number,logogram,number             3
word,number,word,number,word,number[                    3
word,word separator,word,logogram,number,logogr...      3
word,logogram,number,logogram,number,word               3
word,number,word,word separator,word                    3
word,word separator,logogram,word separator,log...      3
lacuna,lacuna,]word[,lacuna                             3
logogram,number,logogram,number,logogram,number...      3
word[,]word,word separator                              3
logogram,word,logogram,number,logogram,number,l...      2
word[,]word[,lacuna                                     2
logogram,number,logogram,number,lacuna                  2
lacuna,]logogram,number[,]logogram,number,logog...      2

In [81]:
import re

# Drop sequences that start with a number or a word separator
matched_sequences = {k:v for k,v in matched_sequences.items()
                     if not k.startswith("number") and not k.startswith("word sep")}

# Replace sequences of 'word/logogram,number' with 'word/logogram number sequence'.
regex_matched_sequences = defaultdict(list)
for k,v in matched_sequences.items():
    nk = re.sub('((logogram|word),number(,)?)+', 'word/logogram number sequence,', k)
    regex_matched_sequences[nk[:-1] if nk.endswith(',') else nk] += [k]

# Get and print a count of these.
mat_seq_cnt = {k: sum([len(matched_sequences[seq]) for seq in seqs])
               for k,seqs in regex_matched_sequences.items()}

df = pd.DataFrame(mat_seq_cnt.values(), columns = ["Count"])
df.set_axis(mat_seq_cnt.keys(), axis='index', inplace=True)
display(df.sort_values(by=['Count'], ascending=False))

                                                    Count
word/logogram number sequence                         562
word/logogram number sequence,word                    322
word/logogram number sequence,logogram                164
word,word separator,word/logogram number sequence     108
word,word/logogram number sequence                    101
word/logogram number sequence,number                   95
word,word separator,word                               78
word/logogram number sequence,number,word/logog...     72
word/logogram number sequence,word,word/logogra...     57
word,word separator,logogram                           52
]word/logogram number sequence                         49
word,word separator,word,word separator                43
]number,word/logogram number sequence                  34
word/logogram number sequence,word[                    28
word,word separator,word,word separator,word/lo...     27
]word/logogram number sequence,word                    26
lacuna,]word/logogram number sequence,[                26
word/logogram number sequence,[                        25
word,word separator,word,word separator,word           25
word/logogram number sequence,logogram[                23
word/logogram number sequence,word,word separator      22
word,word/logogram number sequence,logogram            21
]word/logogram number sequence,logogram[               20
word,word separator,word/logogram number sequen...     20
word,word/logogram number sequence,word                20
word,word separator,word/logogram number sequen...     19
word/logogram number sequence,number,logogram          19
word/logogram number sequence,[,]logogram              19
]word/logogram number sequence,logogram                19
]word/logogram number sequence,[,lacuna                18
logogram,word separator,word                           18
word/logogram number sequence,[,lacuna                 18
word/logogram number sequence,lacuna                   18
word/logogram number sequence,number,word/logog...     17
word,word separator,word,word separator,logogram       15
word/logogram number sequence,[,]word/logogram ...     15
logogram,word/logogram number sequence                 15
word,word separator,logogram[                          15
lacuna,]word/logogram number sequence                  15
]word,word separator,word                              15
word,word separator,logogram,word separator            14
]number,word/logogram number sequence,[                14
logogram,word separator,logogram                       14
word,word/logogram number sequence,[                   13
word/logogram number sequence,[,]number                13
word,word separator,word,word separator,word,wo...     13
]word/logogram number sequence,number                  13
word[,]word/logogram number sequence                   12
word/logogram number sequence,number,word              12
word/logogram number sequence,word also in line...     12
word/logogram number sequence,[,]word                  12
logogram,word separator,word/logogram number se...     11
lacuna,lacuna,lacuna                                   11
word,word separator,word,word separator,word/lo...     11
word,word/logogram number sequence,number              11
logogram[,]word/logogram number sequence               11
word,word separator,word[                              11
]word/logogram number sequence,word[                   11
]word/logogram number sequence,logogram[,lacuna        11
lacuna,]word[,lacuna                                   10
word,word separator,word,word/logogram number s...      9
word/logogram number sequence,[,word/logogram n...      9
word/logogram number sequence,]word/logogram nu...      9
word/logogram number sequence,]number                   9
]word,word separator,word[                              9
word/logogram number sequence,word also in line...      9
]word,word separator,word,word separator                9
]word/logogram number sequence,lacuna                   9
lacuna,]word/logogram number sequence,[,]logogram       8
word/logogram number sequence,word,word separat...      8
]logogram,word separator,word                           8
word,word separator,word,word separator,word,wo...      8
logogram[,lacuna,lacuna                                 8
]word/logogram number sequence,[,]word                  8
word,word separator,word,logogram                       8
word,word separator,logogram,word separator,log...      8
logogram,word separator,word,word separator             8
]number,logogram[,lacuna                                8
]logogram,word separator,logogram                       8
word/logogram number sequence,word,logogram             8
logogram[,word/logogram number sequence                 8
lacuna,word/logogram number sequence                    7
word/logogram number sequence,word,word separat...      7
lacuna,lacuna,]word                                     7
word/logogram number sequence,number[                   7
lacuna,]number[,lacuna                                  7
word/logogram number sequence,]logogram                 7
]logogram,word separator,word/logogram number s...      7
word,word/logogram number sequence,word,word/lo...      7
word/logogram number sequence,[,logogram                7
]word/logogram number sequence,[,]word/logogram...      7
word,word separator,logogram,word/logogram numb...      7
word,word separator,word,word separator,word,wo...      7
]word/logogram number sequence,[,]logogram              7
lacuna,]word/logogram number sequence,[,]word/l...      6
word,word separator,word/logogram number sequen...      6
]word[,]word/logogram number sequence                   6
word also in linear b,number,word/logogram numb...      6
word/logogram number sequence,word,word separat...      6
lacuna,]logogram[,lacuna                                6
]word,word/logogram number sequence                     6
word[,lacuna,lacuna                                     6
]word/logogram number sequence,[,]number                6
word,word separator,logogram,word separator,wor...      6
]logogram[,number,word/logogram number sequence         6
]word/logogram number sequence,[                        6
word/logogram number sequence,logogram[,]word/l...      6
word/logogram number sequence,dividing line             6
]word/logogram number sequence,]word/logogram n...      6
word/logogram number sequence,[,]number,word/lo...      5
word/logogram number sequence,[,lacuna,lacuna           5
word/logogram number sequence,number,word/logog...      5
word/logogram number sequence,number,word/logog...      5
word/logogram number sequence,number,word/logog...      5
]word/logogram number sequence,[,]word/logogram...      5
logogram,word separator,logogram,word separator         5
]word/logogram number sequence,word[,]word              5
]word,word separator,logogram                           5
logogram[,word separator,]word                          5
]logogram,word separator,word/logogram number s...      5
lacuna,lacuna,]word/logogram number sequence,[          5
logogram[,]number,logogram                              5
]word,word/logogram number sequence,[                   5
logogram,word,word/logogram number sequence             5
word,word separator,word,word separator,word,wo...      5
]word/logogram number sequence,dividing line            5
word[,word separator,]word                              5
]logogram,word separator,word[                          4
lacuna,]number,logogram[                                4
lacuna,lacuna,]word[                                    4
word,word,word                                          4
word,word,word separator                                4
word,word separator,word,word separator,word,wo...      4
]word/logogram number sequence,[,]word/logogram...      4
lacuna,lacuna,logogram                                  4
lacuna,lacuna,]number                                   4
]logogram,word separator,word,word separator            4
word,word separator,word/logogram number sequen...      4
word,word separator,number,word                         4
word/logogram number sequence,number,word/logog...      4
logogram,word separator,word/logogram number se...      4
logogram,word separator,logogram[                       4
word/logogram number sequence,logogram[,]logogram       4
logogram[,]number,word/logogram number sequence         4
]logogram,word separator,logogram[                      4
]word/logogram number sequence,[,]logogram[             4
lacuna,]word/logogram number sequence,[,lacuna          4
]word[,lacuna,lacuna                                    4
lacuna,word/logogram number sequence,[                  4
lacuna,]logogram[,]logogram                             4
]number,word/logogram number sequence,number            4
word/logogram number sequence,[,word/logogram n...      4
word/logogram number sequence,logogram[,number          4
word,word separator,number                              4
word,logogram,word                                      4
]word,word separator,word/logogram number seque...      4
logogram,word/logogram number sequence,word             4
]word/logogram number sequence,[,lacuna,lacuna          4
word,word separator,logogram,word                       4
word,word,logogram                                      4
lacuna,word separator,lacuna                            3
]word/logogram number sequence,]number                  3
]word,word separator,logogram[                          3
word[,]word,lacuna                                      3
lacuna,]word/logogram number sequence,[,]word           3
lacuna,]word/logogram number sequence,word[             3
lacuna,word separator,]word[                            3
lacuna,]word[,]number                                   3
word,word/logogram number sequence,[,word/logog...      3
word/logogram number sequence,word,word                 3
word/logogram number sequence,[,word[                   3
lacuna,]word[,]word[                                    3
lacuna,lacuna,]number[,lacuna                           3
lacuna,lacuna,]word[,lacuna                             3
word,word separator,word,word separator,word,wo...      3
logogram,]number,word/logogram number sequence          3
word[,word/logogram number sequence                     3
]number,logogram[,]number                               3
word[,]logogram[,lacuna                                 3
logogram[,]word/logogram number sequence,[              3
word[,word separator,number                             3
]number,word[,lacuna                                    3
]number,word[,]number                                   3
lacuna,]number,logogram[,lacuna                         3
lacuna,]word/logogram number sequence,word              3
word,word,word/logogram number sequence                 3
]number,word[,]logogram                                 3
word,word separator,word also in linear b               3
word,word/logogram number sequence,number,word/...      3
word,logogram,word separator,word                       3
word/logogram number sequence,[,]word,logogram          3
word,word separator,word,word separator,logogra...      3
lacuna,]number,word                                     3
word,word separator,logogram,word separator,word        3
dividing line,word/logogram number sequence             3
word/logogram number sequence,[,]number,word            3
]word/logogram number sequence,word[,]word/logo...      3
logogram,word separator,word,word separator,word        3
]number,word/logogram number sequence,logogram          3
word[,]word,word separator                              3
word,word separator,word,word/logogram number s...      3
lacuna,lacuna,word                                      3
logogram[,]word/logogram number sequence,word[          3
word[,]word/logogram number sequence,[                  3
lacuna,]number,word[                                    3
logogram[,word/logogram number sequence,logogram        3
]word,word separator,word,word separator,word           3
word/logogram number sequence,word separator            3
word/logogram number sequence,[,]word,word/logo...      3
logogram,word separator,word,word separator,log...      3
lacuna,lacuna,]word/logogram number sequence            3
word,word/logogram number sequence,[,]word,logo...      2
word,word separator,word[,word separator,]word,...      2
dividing line,word,word separator                       2
lacuna,]number,lacuna                                   2
lacuna,]word[,]word                                     2
word,word separator,logogram[,word separator            2
lacuna,lacuna,]word/logogram number sequence,word[      2
]word/logogram number sequence,[,lacuna,]word/l...      2
word/logogram number sequence,[,word separator,...      2
word,word separator,word also in linear b,numbe...      2
word,word separator,word,word separator,word,wo...      2
]word,word separator,word,word separator,word,w...      2
]number,word/logogram number sequence,[,]number         2
]word[,word separator,]word[                            2
dividing line,word[,word separator                      2
word[,]word/logogram number sequence,logogram           2
lacuna,]number,number[                                  2
word also in linear b,word separator,word               2
lacuna,]word[,]word/logogram number sequence,nu...      2
]logogram[,]logogram[,lacuna                            2
logogram[,number,word                                   2
]word/logogram number sequence,number[                  2
]word also in linear b,word/logogram number seq...      2
]word/logogram number sequence,number,logogram[         2
word,word/logogram number sequence,number,word/...      2
word,logogram[,lacuna                                   2
lacuna,]word/logogram number sequence,[,]word/l...      2
word[,]number,word[,]word/logogram number sequence      2
word/logogram number sequence,word[,]number             2
word,word separator,logogram,word separator,log...      2
word/logogram number sequence,dividing line,word        2
word[,]word[,lacuna                                     2
lacuna,lacuna,lacuna,lacuna                             2
word/logogram number sequence,word,word/logogra...      2
lacuna,]logogram[,]number                               2
lacuna,]word/logogram number sequence,]number           2
logogram,word separator,word[                           2
word,word separator,word,word separator,word,wo...      2
word,word separator,word,word separator,logogra...      2
dividing line,word,logogram                             2
word,word separator,logogram[,]number                   2
word,word separator,word[,word separator                2
]logogram,word separator,word,word separator,lo...      2
word,word separator,word,word separator,word,wo...      2
]word,word separator,word,word separator,word,w...      2
word/logogram number sequence,[,]word/logogram ...      2
word,word separator,word,word separator,word,wo...      2
word,word,word separator,word,word separator,word       2
lacuna,number,number                                    2
dividing line,word,dividing line                        2
]word,logogram,word separator                           2
word,word,word,word                                     2
word/logogram number sequence,[,number                  2
lacuna,]word[,word separator                            2
word/logogram number sequence,]number,word              2
lacuna,]word/logogram number sequence,[,]word[          2
]word,word separator,word,word separator,word[          2
]word,word,word separator                               2
word/logogram number sequence,word[,number,word         2
word/logogram number sequence,word[,lacuna              2
word/logogram number sequence,word[,lacuna,lacuna       2
]word,word/logogram number sequence,[,]word             2
lacuna,word separator,]logogram[                        2
lacuna,word separator,word[                             2
]word[,]word,word separator,word[                       2
]word/logogram number sequence,[,]number,word/l...      2
logogram[,]number,word/logogram number sequence...      2
word,word separator,word,word                           2
word[,word separator,]logogram                          2
]number,word[,]number,logogram                          2
word/logogram number sequence,[,]word/logogram ...      2
word,word/logogram number sequence,[,word/logog...      2
word/logogram number sequence,[,logogram[,lacuna        2
word/logogram number sequence,[,]word,logogram[         2
logogram[,]number,logogram[                             2
]word,word separator,word/logogram number sequence      2
]logogram[,number,lacuna                                2
lacuna,]logogram[,]word[                                2
word/logogram number sequence,logogram[,]word/l...      2
lacuna,]logogram[,]word/logogram number sequence,[      2
]number,word/logogram number sequence,[,lacuna          2
lacuna,lacuna,]number,logogram[,lacuna                  2
lacuna,lacuna,word/logogram number sequence,[           2
lacuna,]logogram[,]logogram[                            2
]logogram[,number[,lacuna                               2
word,word separator,word/logogram number sequen...      2
]word[,]number,lacuna                                   2
word/logogram number sequence,[,word/logogram n...      2
]word/logogram number sequence,word,word separa...      2
word/logogram number sequence,logogram[,word se...      2
]number,word[,lacuna,lacuna                             2
]number,word,word                                       2
]logogram[,]number,logogram[,lacuna                     2
word/logogram number sequence,[,word separator          2
word,word/logogram number sequence,word,logogram        2
word/logogram number sequence,word,word/logogra...      2
]logogram,word separator,word/logogram number s...      2
]word[,]word[,lacuna                                    2
]number,logogram[,lacuna,lacuna                         2
]logogram,word separator,logogram,word separator        2
logogram,word/logogram number sequence,number           2
word/logogram number sequence,]number,word/logo...      2
logogram[,]word/logogram number sequence,[,lacuna       2
word/logogram number sequence,[,dividing line           2
]word/logogram number sequence,lacuna,lacuna            2
]word,word separator,word[,]word                        2
word/logogram number sequence,[,word                    2
lacuna,word/logogram number sequence,word               2
word[,]number,number                                    2
word[,]number,word[                                     2
logogram,word,word separator                            2
]word/logogram number sequence,logogram[,lacuna...      2
word/logogram number sequence,word,word/logogra...      2
word,word separator,word,word separator,word/lo...      2
logogram[,]logogram[,lacuna                             2
word/logogram number sequence,[,word/logogram n...      2
word[,]word,logogram                                    2
logogram,word separator,word,word separator,wor...      2
]number,logogram[,]logogram                             2
]number,word,logogram                                   2
word/logogram number sequence,word[,]word               2
word/logogram number sequence,word,word separat...      2
logogram[,number,word[                                  2
word[,]word,word/logogram number sequence               2
logogram,word separator,word/logogram number se...      2
]word/logogram number sequence,[,logogram[              2
]word/logogram number sequence,logogram[,]word/...      2
lacuna,number,word/logogram number sequence             2
]word[,]word,word separator                             2
]word/logogram number sequence,word[,lacuna             2
word/logogram number sequence,logogram[,logogram        2
]logogram[,]number,word/logogram number sequence        2

In [79]:
string = "jklfds,"
string[:-1]

'jklfds'

In [73]:
import re
l = "term,logogram,number,word,number,word,number,logogram,number,word,number"
re.sub('((logogram|word),number(,)?)+', r'sequence\3',l)

'term,sequence,'

In [229]:
word_structures["HT24a"]

[['word'],
 ['logogram['],
 [']number'],
 ['logogram'],
 ['number'],
 [']number'],
 ['fraction', 'number'],
 ['logogram'],
 ['number'],
 ['adjective for placename', 'word'],
 ['logogram['],
 ['word'],
 ['logogram[']]

In [248]:
{20} & {20, 10}

{20}

In [18]:
# Write out a template file for the selected inscription
name = "HT86a"
output_file = open(name + ".js", "w")
output_file.write(json.dumps([x for x in inscriptions if x["name"] == name], sort_keys=True, indent=4, ensure_ascii=False))
output_file.close()